[2020-01-26 16:57] YashasSamaga commented on #16439
The OpenCV 4 headers are placed inside `opencv4` directory. You need to use `opencv4/opencv2/core.hpp` or pass `-I/usr/local/include/opencv4` to your compiler. For example,

[code]

[2020-01-26 17:08] SaddamBInSyed commented on #16439
Thank you,
I will try to purge the existing cv libs and then install the OpenCV master branch repo with your script and once successful I will run the Yolov3 code and I will update the status.

[2020-01-26 19:12] bosecodes opened #16440 "Make README.md file more interactive to the user"
The current README.md file just has a few links and I think a better documentation with better wording would make the code more welcoming to beginners who wish to contribute.

[2020-01-27 03:29] dkurt commented on #16440
Feel free to propose a PR.

[2020-01-27 07:55] isra60 commented on #16420
I have news about this problem
I have tested again wih CPU Backend and I don't have exception but the model is not working.
It does not recognize any classes (confidence is always 0).

Then using CUDA Backend I have this follow exception. (Forget the previous exception)

**what():  OpenCV(4.2.0)   opencv/modules/dnn/src/cuda/eltwise_ops.cu:168: error: (-215:Assertion failed) x.size() == y.size() i

[2020-01-27 09:26] WolfgangFahl commented on #12780
see also https://stackoverflow.com/questions/59907813/how-to-filter-opencv-error-messages-in-java - a fix would be much appreciated.

[2020-01-27 09:28] WolfgangFahl commented on #16431
I am using OpenCV from Macports and do not want to bother with the make process of it. See also #4588

[2020-01-27 11:25] SaddamBInSyed commented on #16439
Scanning dependencies of target tegra_hal
[ 21%] Linking CXX static library ../../lib/libtegra_hal.a
[ 21%] Built target tegra_hal
Scanning dependencies of target opencv_cudev
make[2]: *** No rule to make target '/usr/lib/aarch64-linux-gnu/libGL.so', needed by 'lib/libopencv_cudev.so.4.2.0'.  Stop.
make[2]: *** Waiting for unfinished jobs....
[ 21%] Building CXX object modules/cudev/CMakeFiles/ope

[2020-01-27 11:25] SaddamBInSyed commented on #16439
@YashasSamaga

When I try to build your code then I am getting the below error.

Scanning dependencies of target tegra_hal
[ 21%] Linking CXX static library ../../lib/libtegra_hal.a
[ 21%] Built target tegra_hal
Scanning dependencies of target opencv_cudev
make[2]: *** No rule to make target '/usr/lib/aarch64-linux-gnu/libGL.so', needed by 'lib/libopencv_cudev.so.4.2.0'.  Stop.
make[2]: *** Waitin

[2020-01-27 11:31] YashasSamaga commented on #16439
I am confused. The only changes I made were adding `-D WITH_CUDNN=ON -D OPENCV_DNN_CUDA=ON`. If the build script had worked before, it should still work.

Can you try the solution given here: https://devtalk.nvidia.com/default/topic/1051752/jetson-tx2/build-opencv-3-4-with-cuda-on-nvidia-jetson-tx2/post/5338614/#5338614

[2020-01-27 11:35] alalek commented on #16439
@SaddamBInSyed You should check configuration flags of your build.
Inspect CMakeVars.txt / CMakeCache.txt files first. Also re-check `WITH_OPENGL` (disabled by default)
To work with reproducible results, you must cleanup CMake's cache before each trial with changing of configuration flags or upgraded/installed dependencies.

---

Build / usage questions should go to Users OpenCV Q/A forum: http://

[2020-01-27 11:54] gituuu commented on #16428
That's exactly what happens, and that is the reason for me filing this bug report.

[2020-01-27 12:02] alalek commented on #16428
So, please attach additional information: https://github.com/opencv/opencv/issues/16428#issuecomment-578256665

---

Also, please apply this patch for mentioned sample and dump here "timeout" values from the console.
[code]

---

Your test func should be corrected in this way:
[code]

[2020-01-27 12:33] vishwas1234567 opened #16443 "machin learning issue"
[code]
[code]

[2020-01-27 12:36] vishwas1234567 opened #16444 "the problem with the input image function"
[code]

[code]

[2020-01-27 14:58] czgdp1807 commented on #16370
Hi @alalek @UnaNancyOwen ,
I parsed the model using python package, `onnx` and observed that this model outputs`string` instead of a probability vector. In fact, the `Constant`, a.k.a. `LabelLoader` in the [attached svg](https://drive.google.com/file/d/1TEjZF_SJY8uzC_C0FFXFBlYxvaNVqJhb/view?usp=sharing), layer in @UnaNancyOwen 's model contains the names of various labels which are extracted using

[2020-01-27 15:29] alalek commented on #16420
Try latest "master" with CUDA eltwise update #16063 .

---

Complete minimal reproducer is required (including input data).

[2020-01-27 19:15] phoenixcool12 commented on #16444
hi i am interested in this issue. Is anybody already working on this.

[2020-01-27 19:18] phoenixcool12 commented on #16440
Is anybody working on this issue? I would like to work on this issue if possible.

[2020-01-27 19:36] alalek commented on #16440
It would be nice to improve OpenCV documentation itself (you may start from "tutorials" section).
Duplication of documentation/wiki pages into README.md doesn't sound as a good idea.

[2020-01-27 20:04] alalek commented on #16444
@phoenixcool12 Ignore this. There are many other interesting issues.

<details>

<summary>Long way</summary>

Try to ask from issue's author for **complete minimal reproducer**.

"Complete" means that issue should have **input data** for reproducer. For this example, including:
- `path` value
- contents of the `path` file

"Minimal" means that 90% of provided code is not needed at all (it crashes

[2020-01-27 23:03] RTbecard commented on #14866
I had the same issue and solution as @SibasishTripathyy.  I felt this error message was a bit misleading, as I was left with the impression that the arguments consisting of single integers (not integer tuples) was the source of the problem.

[2020-01-28 00:04] alalek commented on #8057
Fix has been landed for doxygen 1.8.16.
But we are still using doxygen 1.8.13 (from Ubuntu 18.04) to build documentation for docs.opencv.org.

[2020-01-28 00:36] RMukundan20 opened #16446 "Corrections in code for OTSU thresholding"
##### System information (version)

- OpenCV => OpenCV online documentation
- Operating System / Platform => Not applicable
- Compiler => Python

##### Detailed description
The Python code for Otsu's binarization gven in the online documentation for OpenCV Image Thresholding at
  https://docs.opencv.org/3.4/d7/d4d/tutorial_py_thresholding.html
requires the following corrections:
1.  Histogram norm

[2020-01-28 06:03] davae1an commented on #15465
same here getting this error

[2020-01-28 06:32] #16417 closed

[2020-01-28 07:14] SibasishTripathyy commented on #14866
Yeah. I had tried going through nearly all possible permutations to get this error resolved including declaring them as 'single integers'. Thankfully, explicit typecasting worked!

[2020-01-28 07:21] kwizart opened #16448 "Build failure on ppc64le related to VSX with gcc10"
##### System information (version)
- OpenCV => 4.2
- Operating System / Platform => GNU/Linux (Fedora 32)
- Compiler => gcc10

##### Detailed description
Full build.log from Fedora infra task:
https://koji.fedoraproject.org/koji/taskinfo?taskID=41111238

[code]

##### Steps to reproduce
Build OpenCV 4.2 on ppc64le with VSX as baseline and Dispatched code generation:  VSX3

The build uses -DCV_COMP

[2020-01-28 07:36] alalek commented on #16448
/cc @seiko2plus @ChipKerchner

[2020-01-28 07:49] isra60 commented on #16420
This is my minimal reproducer.

[code]
Here is the result with Darknet library

[https://imgur.com/a/MRwip3n](url)

[2020-01-28 08:04] kaanaykutkabakci commented on #16332
Is not there any solution? @dkurt

[2020-01-28 08:04] ss-github-code opened #16449 "CMake OpenCV error when compiling with CUDA"
Hi,
I guess this is a different variant of a similar issue #16380 that was closed.

Environment: Win 10, CMake GUI, Visual Studio Community Edition 2019.

Could NOT find CUDNN (missing: CUDNN_LIBRARY CUDNN_INCLUDE_DIR) (found suitable version "7.5.0", minimum required is "7.5")

  NVIDIA CUDA:                   YES (ver 10.0, no extra features)
    NVIDIA GPU arch:             30 35 37 50 52 60 61

[2020-01-28 08:40] dkurt commented on #16332
For now OpenCV does not support Matterport's Mask R-CNN so this issue is labeled as "feature" because requires deep investigation.

[2020-01-28 08:41] kaanaykutkabakci commented on #16332
Thank you for your interest @dkurt.

[2020-01-28 08:46] isra60 commented on #16420
With master update the cfg file is working but still no detections...

[2020-01-28 09:04] isra60 commented on #16420
Also with the new enet-coco.cfg

https://raw.githubusercontent.com/AlexeyAB/darknet/master/cfg/enet-coco.cfg

  what():  OpenCV(4.2.0-dev) modules/dnn/src/darknet/darknet_io.cpp:687: error: (-212:Parsing error) Unsupported activation: swish in function 'ReadDarknetFromCfgStream'

[2020-01-28 11:05] OneSecure opened #16451 "iOS binary error."
I download `opencv2.framework" [release](https://github.com/opencv/opencv/releases/tag/4.2.0) binary and use it with my iOS project. But Xcode told me that:
[code]
how to resolve this errors?

PS. To make my project to continue, I have to use the very [old version](https://github.com/OneSecure/opencv-2.4.11).

[2020-01-28 12:28] sharkcz commented on #16448
for the record, https://github.com/opencv/opencv/blob/master/modules/core/include/opencv2/core/vsx_utils.hpp is the problematic source file

[2020-01-28 13:33] sharkcz commented on #16448
preprocessed source [arithm.dispatch.cpp.i.gz](https://github.com/opencv/opencv/files/4122592/arithm.dispatch.cpp.i.gz) is compiled using
`/usr/bin/c++  -DCVAPI_EXPORTS -DVK_NO_PROTOTYPES -D_USE_MATH_DEFINES -D__OPENCV_BUILD=1 -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I/builddir/build/BUILD/opencv-4.2.0/build -I/usr/include/vulkan -I/builddir/build/BUILD/opencv-4.2.0/m

[2020-01-28 15:58] huangqinjin opened #16454 "Android install aar"
I found that building opencv for android produced `opencv-release.aar` under `build/opencv_android/opencv/build/outputs/aar`. It's useful if this file gets installed. For a android project depending on opencv, we can simply declare gradle dependencies like below
[code]
rather than adding a module and then copy scoure files into it and build together with our projects.

[2020-01-28 16:24] #16049 closed

[2020-01-28 17:14] amitjslearn commented on #15398
Why is this issue closed if it's not resolved yet?

[2020-01-28 18:02] seiko2plus opened #16455 "core:ppc64le SIMD testing failure on GCC <= 4.9"
##### System information (version)
- OpenCV => 3.4, master
- Operating System / Platform => ppc64le GNU/Linux
- Compiler => GCC(4.9)

##### Detailed description
##### TEST ERROR
[code]

CI:
https://ocv-power.imavr.com/#/builders/5/builds/96

##### Steps to reproduce

build OpenCV on ppc64le and run intrin tests

[2020-01-28 18:27] seiko2plus commented on #16448
@sharkcz, @kwizart, #16453 should resolves this issue,  @alalek my bad, just misunderstood of how PowerPC constraints work, using constraint `wa` will be good enough not sure yet about the benefits of using other constraints such as `we`(VSX3), `wr` etc, I still need to dive more inside gcc, since I didn't realize any changes on the generated instructions.

[2020-01-28 18:39] czgdp1807 opened #16456 "[DNN]Supporting string in `Constant` layer."
##### System information (version)

- OpenCV => branch `3.4`
- Operating System / Platform => Ubuntu 18.04
- Compiler => g++ 7.4.0

##### Detailed description

This issue aims at discussing and inviting suggestions for supporting `string` data type in `Constant` layer. Currently, `getMatFromTensor` only supports few data types from [this list](https://github.com/onnx/onnx/blob/master/docs/Operator

[2020-01-28 18:53] alalek commented on #16456
Main question is how this should be processed.
Where is it really used?

OpenCV may use `CV_8U` for ASCII and `CV_32S` for Unicode on fixed-size strings.
Docs of ONNX "Constant" operator is [here](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Constant).

[2020-01-28 19:32] phoenixcool12 commented on #16444
@alalek ok so you want me to correct the overall code?

[2020-01-28 19:33] phoenixcool12 commented on #16444
@vishwas1234567 can you provide more details on the objective of your code.

[2020-01-28 19:49] seiko2plus opened #16458 "massive warnings during running the build on GCC-10"
##### System information (version)

- OpenCV => 3.4, master
- Operating System / Platform => all
- Compiler => gcc-10

##### Detailed description
[code]
#### 3rdparty warnings (C sources)
[code]
##### Steps to reproduce
build OpenCV on GCC 10

[2020-01-28 20:30] phoenixcool12 commented on #16440
I wanted to confirm once like should I organise contents of this link
https://docs.opencv.org/master/d9/df8/tutorial_root.html

[2020-01-28 20:58] dkurt commented on #16456
Can you provide a reference to code which produces this .onnx model?

[2020-01-29 00:09] charlie0389 commented on #16411
Even if only confirmation that this is a bug could be provided, this would still be very useful.

[2020-01-29 03:33] dkurt commented on #16440
@phoenixcool12, not exactly this page but documentation itself. Try to follow some of the guides and if you confused about something or found typos or nor working examples - propose a pull request. No need to have our approvals for everything before you started :)

[2020-01-29 03:33] #16440 closed

[2020-01-29 04:46] chee0007 opened #16460 "opencv failed to compile with cuda 10.2"
##### System information (version)
- OpenCV => 3.4.8
- Operating System / Platform => Ubuntu 18.04 / aarch64 (Nvidia Drive AGX Xavier)
- Compiler => cmake
- Cuda => 10.2

##### Detailed description

I have compiled with cmake-3.10.2 and cmake-3.16.3 and it still gave the same errors.
Could it be there is some errors in OpenCVDetectCUDA.cmake and/or FindCUDA.cmake?

cmake command:
[code]

It gave t

[2020-01-29 04:46] saskatchewancatch commented on #4952
I'm trying to understand what's going on here.

OP says loading Tiff failed because Tiff file had no `TIFFTAG_COMPRESSION` tag.

But the attached repro image seems to have its `TIFFTAG_COMPRESSION` tag set to JPEG (integer 7)

Ubuntu libtiff-tools Aptitude package has Tiff command line utilities. Utility `tiffinfo` can be used to inspect tags. When I run `tiffinfo` on that attached image I see `TI

[2020-01-29 04:59] saskatchewancatch commented on #4492
First-come-first-serve @robotjellyzone . Feel free to work on it. Getting a PR going would be a good start I imagine.

I think grepping the test folders for image extensions will lead to a goodly list of image files and string manipulations of file names that can be cross-referenced with the images in the opencv_extra repo, to see which test inputs in opencv_extra.git are unused.

[2020-01-29 06:18] asmorkalov commented on #4492
@saskatchewancatch @robotjellyzone Please remove media with small portions to give opportunity to review usage of files and merge non-controversial changes fast.

[2020-01-29 06:20] asmorkalov commented on #4952
@saskatchewancatch  the repro image was downloaded from image hosting site. It's possible that hosting compress data by itself for optimization. Please attach your repro image as archive, if you have new one.

[2020-01-29 06:21] haquocviet commented on #16380
I got the same issue.
Could you share the solution you have to me and other people?

[2020-01-29 07:30] alalek commented on #16458
Looks like GCC adjusts wording:
[code]

Need to add handling of new variants [here](https://github.com/opencv/opencv/blame/560f85f8e51226340e5da4e0fa0047f0920e663e/cmake/OpenCVUtils.cmake#L405-L406) through regex:

[code]

To check, rerun `cmake -UHAVE* .`

[2020-01-29 08:57] chee0007 commented on #16460
I have provided direct paths to the cuda libraries. It reduces the error in the output console. However some of the libraries (which existed on my computer) was not accepted by the compiler and was set to NOTFOUND

[code]

Output from console:

[code]

[2020-01-29 10:23] kwizart commented on #16448
I confirm that the build has succeeded.
Thx for the quick fix.

[2020-01-29 10:23] #16448 closed

[2020-01-29 10:25] kwizart commented on #16448
Well, technically the PR isn't merged, so you might want to keep open.

[2020-01-29 11:17] terfendail commented on #16455
Could it be related to PR #15235 ?

[2020-01-29 13:45] BadMachine commented on #16380
@haquocviet First of all make sure u are using release version OpenCV. Then make sure that cudnn folders with files merged with cuda folders: copy 3 folders from cudnn to cuda folder.

[2020-01-29 13:50] seiko2plus commented on #16455
@terfendail, yes but its a gcc(4.9) bug, `vbpermq` aka `vec_vbpermq` doesn't respect little-endian.

[2020-01-29 15:08] WisdomPill opened #16462 "GFFTDetector and goodFeaturesToTrack do not return intensity of the corner"
##### System information (version)
- OpenCV => should be all of them, from at least 2.4
- Operating System / Platform => not relevant
- Compiler => not relevant

##### Detailed description

GFFTDetector and goodFeaturesToTrack do not fill the response field in keypoints returned from detect method.
Other detectors such as FastFeatureDetector fill that field.

##### Steps to reproduce

[code]

usin

[2020-01-29 16:46] alalek commented on #10438
This is not correct usage of flags enumeration.
Current documentation of `namedWindow()` call is misleading (relates #5232) and API is not clearly designed.

Misused [`WINDOW_FULLSCREEN`](https://github.com/opencv/opencv/blame/da948c82b4b1a71e067304fc3e97a21cccc8913c/modules/highgui/include/opencv2/highgui.hpp#L180) value is equal to `WINDOW_AUTOSIZE` (which currently can't work in full screen mod

[2020-01-29 16:46] KocsisV opened #16464 "Memory leak caused during initialization"
##### System information (version)
- OpenCV => 4.2.0
- Operating System / Platform => Windows 10 64 Bit
- Compiler => MSVC++ 14.24

##### Detailed description

The static variables named "__initialization_mutex" are never freed, causing (false) memory leak detections.
For example one such variable is in modules/core/src/system.cpp .

IPP also produces a lot of false positives since it leaves a lot

[2020-01-29 16:51] alalek commented on #16464
On Linux we have [valgrind suppression files](https://github.com/opencv/opencv/tree/3.4.9/platforms/scripts).

duplicate of #5452

[2020-01-29 16:51] #16464 closed

[2020-01-29 17:51] czgdp1807 commented on #16456
I have mentioned about use case in [this comment](https://github.com/opencv/opencv/issues/16370#issuecomment-578788207).
Actually there can be cases when `Constant` layer is used to store label names. I have describe the scenario in the comment.

Actually the author of #16370 hasn't provided code but the visualisation of model(obtained using `dot` and `onnx` python package) is available at [this s

[2020-01-29 18:38] planetmarshall opened #16465 "NaN comparison fails on certain image sizes"
##### System information (version)

##### Detailed description

Certain sizes of images fail when comparing for NaNs

##### Steps to reproduce

[code]

#### Wworkaround

Invert the comparison, ie

[code]

[2020-01-29 19:33] czgdp1807 commented on #16456
It looks like this is worth trying. I will see if things work out with these types. Thanks.

[2020-01-29 19:48] BadMachine commented on #16449
@ss-github-code
https://github.com/opencv/opencv/issues/16380#issuecomment-579761722

[2020-01-29 19:55] planetmarshall commented on #16465
Reproduced in current master (e037800e46da0c5ae45664703d29932e898d8871)

[2020-01-29 20:46] StefanBruens commented on #5849
I have started implementing an OpenJPEG based JPEG2000 decoder, see
https://github.com/StefanBruens/opencv/tree/jpeg2000_openjpeg_port

Feedback welcome.

[2020-01-29 20:51] ss-github-code commented on #16449
Hi,
I have copied cudnn inside cuda (as per your comment). I believe it is finding cudnn version 7.5.0 which is correct. I am not sure why it still says could not find CUDNN. Also, I am not able to generate OpenCV.sln file, so I cannot compile anything yet. Thank you in advance!

Could NOT find CUDNN (missing: CUDNN_LIBRARY CUDNN_INCLUDE_DIR) (**found suitable version** "7.5.0", minimum required i

[2020-01-29 21:13] ShuhenaAonty commented on #10516
"AttributeError:'cv2. Face_LBPHFaceRecognizer' object has no attribute 'getMat" How can I solve this error?

[2020-01-30 02:11] chee0007 commented on #16460
Solved by adding the following lines to OpenCVDetectCUDA.cmake
[code]

[2020-01-30 03:01] chee0007 commented on #16460
It looks like opencv could not find the absolute path of the cuda libraries, so i edited the OpenCVDetectCUDA.cmake

Find if(HAVE_CUDA) and added the following lines below it.
[code]
Create symbolic links
[code]
Run cmake. It will run successfully.
[code]
Run make.

This is the error output from the console. It seems that the header file: npp.h does not exist in cuda-10.2
[code]

[2020-01-30 03:38] haquocviet commented on #16380
I am using OpenCV 4.2.0 release.
I checked the path again and found nothing abnormal, result is same as before.
![CDNN-folder](https://user-images.githubusercontent.com/14211332/73417983-49f47b00-435d-11ea-9859-468416d4d296.PNG)

[code]

[2020-01-30 04:15] chee0007 commented on #16460
Downloaded and reinstalled opencv-3.4.9.
compilation issues seemed to be resolved.

[2020-01-30 04:15] #16460 closed

[2020-01-30 06:33] Tesfamichael1074 commented on #10516
Install opencv contribution library using
pip install opencv-contrib

On Thu, Jan 30, 2020, 12:13 AM ShuhenaAonty <notifications@github.com>
wrote:

[2020-01-30 08:22] VadimLevin commented on #4492
TODO list to track progress on this ticket:

 - [ ] Form a list of media files with using grep by file extensions
 - [ ] Trace the code using an items from the list
 - [ ] Remove unused items from the repo
 - [ ] Investigate which items can be safely substitute by others
 - [ ] Perform substitution and remove newly unused items

[2020-01-30 08:35] VadimLevin commented on #4952
Can not reproduce this issue both on `master` and `3.4` branches with the synthetic test:
[code]
`tiffinfo` for generated image:
[code]
Things that can be done to solve this ticket.

- [ ] Trace a git history to find out which changes may lead to fixing this bug.
- [ ] Investigate if the problem

OR

- [ ] Find the TIFF image with `TIFFTAG_COMPRESSION == 1` that can reproduce the issue, or form
on

[2020-01-30 08:54] asmorkalov commented on #13514
@komakai @alalek Could we close the issue?

[2020-01-30 09:21] komakai commented on #13514
@asmorkalov fine by me

[2020-01-30 09:51] #13514 closed

[2020-01-30 10:52] Moldoteck opened #16466 "Memory leak in cvtColor"
##### System information (version)

- OpenCV = 4.2
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description

I think there is a memory leak in cvtColor function(heap is not fully deallocated). Please correct me if i am wrong

##### Steps to reproduce
If i run this code, i get ~+300KB in heap size and this memory is not freed at the end of exec

[2020-01-30 11:05] VadimLevin commented on #15264
Things that can be done to resolve the ticket:
- [ ] Analyse steps that CI bot is doing to build an Andriod version
- [ ] Formalize them into the wiki page.

- [ ] Add a comment to this ticket requesting to review your changes and merge them in. (Include a link to your repo)

[2020-01-30 11:18] RuRo commented on #14866
The error message is completely wrong as always. I think, the cause of this error may be the case, when the image array is a view into the actual data, instead of a plain array and OpenCV apparently needs the image to be `C_CONTIGUOUS`.

[code]

I would however recommend, that you use `np.ascontiguousarray(image)` instead of `cv2.UMat(image).get()` to avoid unneeded copies.

[2020-01-30 11:25] alalek commented on #14866
@RuRo Thank you for investigation! Issue about this problem is here: #15895

[2020-01-30 11:56] BadMachine commented on #16380
@haquocviet I said cudnn folders, not cudnn folder as is. If u don’t understand “merge” meaning:
Copy content from cudnn include dir to cuda include dir, same for lib dir, etc.

[2020-01-30 11:56] alalek commented on #16411
See documentation of [SimpleBlobDetector](https://docs.opencv.org/3.4.9/d0/d7a/classcv_1_1SimpleBlobDetector.html).

Filtering code is [here](https://github.com/opencv/opencv/blame/3.4.9/modules/features2d/src/blobdetector.cpp#L273-L277).

Actually, It is detected, but it is filtered as requested by sample code.

Try `params.blobColor = 255` to see detection center of this object (blob's center is

[2020-01-30 11:56] #16411 closed

[2020-01-30 12:57] iamleot commented on #10998
JFTR, the corresponding CVEs were disputed accordingly:

 https://nvd.nist.gov/vuln/detail/CVE-2018-7712
 https://nvd.nist.gov/vuln/detail/CVE-2018-7713
 https://nvd.nist.gov/vuln/detail/CVE-2018-7714

[2020-01-30 13:16] alalek commented on #9392
Lets do this:

in public headers only:

[2020-01-30 13:58] GentBinaku commented on #15943
I need help with I have stuck with this issue 3 days now, if I can't solve it maybe I loose my job

[2020-01-30 14:01] dkurt commented on #16466
Which tools you have used to measure memory usage? Have you tried to run valgrind to test memory leaks?

[2020-01-30 14:01] haquocviet commented on #16380
Thanks for your explanation.
That way of course will work but it seems not relate to the issue
`Could NOT find CUDNN (missing: CUDNN_LIBRARY CUDNN_INCLUDE_DIR) (Required is at least version "7.5")`
CUDNN_LIBRARY and CUDNN_INCLUDE_DIR should point to folders of cuDNN somewhere separately instead in same place as CUDA's.

[2020-01-30 14:19] dkurt commented on #15943
@GentBinaku, Can you add more technical details instead? Can you share a model& Have you tried to regenerate a `.pbtxt` file as mentioned in https://github.com/opencv/opencv/issues/15943#issuecomment-570544454?

[2020-01-30 14:20] Moldoteck commented on #16466
I used Visual Studio Debugging and Memory Usage Tab. I took snapshots of memory usage at every breakpoint. "end of program" is last '}', right after 'return 0;'

[2020-01-30 14:28] GentBinaku commented on #15943
Ok I will write a complete setup.

I have been given a tensorFiles which should be read.

frozen_inference_graph.pb and pipeline.config( Can't share these files sorry).

First step sort the graph.

import tensorflow as tf
from tensorflow.tools.graph_transforms import TransformGraph

[code]
Which produces
sorted_inference_graph.pb

Then
sorted_inference_graph.pb

python3 tf_text_graph_ssd.py --inpu

[2020-01-30 14:41] dkurt commented on #15943
@GentBinaku, can you use `tf_text_graph_ssd.py` from **the latest** master branch?

that means you source code can be 2 months old:

https://github.com/opencv/opencv/blob/4b0132ed7a7ca2c704b4c9abee8e2f6e180bd791/modules/dnn/include/opencv2/dnn/version.hpp#L9

[2020-01-30 14:53] BadMachine commented on #16380
@haquocviet ok, gimme treamviewer -_-

[2020-01-30 14:54] GentBinaku commented on #15943
Yes I did that didn't work either

[2020-01-30 14:57] mshabunin commented on #16466
Try to use CRT memory leak detection: https://docs.microsoft.com/en-us/visualstudio/debugger/finding-memory-leaks-using-the-crt-library?view=vs-2019

[2020-01-30 14:58] dkurt commented on #15943
@GentBinaku, Maybe you can try to apply this patch https://github.com/opencv/opencv/pull/16270? Or even better to rebuild OpenCV from master or share resulting `.pbtxt`?

[2020-01-30 14:58] ccqu opened #16467 "SSD 512 COCO model buggy detection on CUDA"
##### System information (version)

- OpenCV => 4.2.0-dev https://github.com/opencv/opencv/commit/5265db82c7ed0880117634cc723ed1bc91333b1b
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2015

##### Detailed description

Tried to do inference with the original [SSD512 COCO](https://github.com/weiliu89/caffe/tree/ssd#models) model but got a lot of false detections (mo

[2020-01-30 15:35] alalek commented on #16446
Feel free to prepare PR with fix to 3.4 branch.
Sources of this tutorial are here:
https://github.com/opencv/opencv/tree/3.4/doc/py_tutorials/py_imgproc/py_thresholding

[2020-01-30 15:46] GentBinaku commented on #15943
Still nothing, sorry but I am required but NDA to not share the files.

[2020-01-30 16:00] swiss-knight opened #16468 "Segmentation fault (core dumped) after Relink issue while importing cv2 in python3"
##### System information (version)
- OpenCV => build from master
- Operating System / Platform => Ubuntu 18.04 64 bits `5.3.0-26-generic x86_64 GNU/Linux`
- Compiler => gcc: `gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)`
- Python => `Python 3.6.9 (default, Nov  7 2019, 10:44:02) `
- CMake => `cmake version 3.13.20181205-gf92e9`

##### Detailed description

I have a segmentation fault (core du

[2020-01-30 16:07] dkurt commented on #15943
@GentBinaku, try to create `.pbtxt` using `tf_text_graph_ssd.py` from origin `frozen_inference_graph.pb`. Make sure you use the latest `.py` script and OpenCV installation. Use them as well during import: `readNet("frozen_inference_graph.pb", "graph.pbtxt")`.

There is no change to debug it remotely unless you provide stacktrace or something useful.

[2020-01-30 16:22] alalek commented on #16468
You do not need to call "make install" to try OpenCV (install only "packages" on Linux - google for "make install is bad").

0. Remove previously installed OpenCV outside of source/build directories (no exact recipe for that)
1. Just build OpenCV (`make opencv_python3` should be enough)
2. Try from build directory: `./setup_vars.sh python -c 'import cv2; print(cv2.__file__)'`
3. If crashed, collec

[2020-01-30 21:52] jk89 opened #16469 "PCACompute issues"
##### System information (version)
- OpenCV => '4.1.2' Python3
- Operating System / Platform => Ubuntu 18.04

##### Detailed description
Expected result: it should work.
Actual result:
TypeError: Expected Ptr<cv::UMat> for argument '%s'

##### Steps to reproduce

![mva](https://user-images.githubusercontent.com/5340589/73493688-26582180-43ab-11ea-9521-6df5617750ff.png)

[2020-01-30 22:15] jk89 commented on #16469
https://answers.opencv.org/question/209980/reducing-dimensionality-of-orb-descriptor-with-pca-closed/

[2020-01-30 22:15] #16469 closed

[2020-01-30 22:52] haquocviet commented on #16380
Thanks.
I solved the issue. No need to merge cudnn's files into CUDA folders.
I modified CMakeCache.txt directly to change vars below.
[code]

[2020-01-30 23:43] charlie0389 commented on #16411
Can I please suggest a fix for the [SimpleBlobDetector documention](https://docs.opencv.org/master/d0/d7a/classcv_1_1SimpleBlobDetector.html) - i.e. add the text in bold:

By color. This filter compares the intensity of a binary image at the center of a blob to blobColor. If they differ, the blob is filtered out. Use blobColor = 0 to extract ~~dark~~ blobs **with dark centers** and blobColor = 255

[2020-01-30 23:59] jorickjuh opened #16470 "[ 82%] Built target opencv_java (Error) raspi 3 B+"
##### System information (version)
- OpenCV => 3.3
- Raspberry pi 3 B+ / raspbian
- Compiler => make

#####

I am trying for days to install opencv correctly on version 3.3.0. but I can't get it to work. Mij latest error was:

[ 82%] Linking CXX shared library ../../lib/libopencv_java330.so
[ 82%] Built target opencv_java
make: *** [Makefile:163: all] Fout 2

Could not find much about it online. H

[2020-01-31 03:42] vicdxxx commented on #16308
Hi @Astone
I try to  trace this Hackathon bug, OpenCV 4.2.1.30 cannot install from pip, what is the way you install this version?

[2020-01-31 04:22] dkurt commented on #16470
Please add build flags and logs. This part is almost useless

[2020-01-31 04:24] #16470 closed

[2020-01-31 04:57] thakoreneelabh commented on #12747
@Con-Mi
Hi,
Can you please highlight on how it got fixed?
We are using C++ with open CV 3.1 and planing to move from TinlyYOLO 2 to 3. For 2 the C++ code works fine however it gives below error for 3.
'cv::Exception'
  what():  OpenCV(3.4.3) /home/.../.../.../opencv3.4.3/opencv/modules/dnn/src/dnn.cpp:1151: error: (-2:Unspecified error) Requested layer "detection_out" not found in function 'getLay

[2020-01-31 05:19] asmorkalov commented on #16410
@alalek May I close the ticket?

[2020-01-31 05:43] asmorkalov commented on #16224
The best solution for the tutorial is not to fix code snippets inside of  text, but add Doxygen references to existing sample that is build during CI cycle. As example you can use OpenCV core basic tutorial for `cv::FileStorage`. It's code is in https://github.com/opencv/opencv/blob/master/samples/cpp/tutorial_code/core/file_input_output/file_input_output.cpp and tutorial text is https://raw.githu

[2020-01-31 05:50] asmorkalov commented on #16197
@lincccc could you share reproducer code and image that you use?

[2020-01-31 05:54] asmorkalov commented on #16183
Potentially related to the problem https://github.com/opencv/opencv/issues/16268

[2020-01-31 06:00] asmorkalov commented on #16115
OpenCV is comunity driven project. Feel free to propose PR with alpha channel support for EXR to OpenCV code base.

[2020-01-31 06:40] jorickjuh opened #16471 "[ 82%] Built target opencv_java (Error)"
##### System information (version)
- OpenCV => 3.3
- Raspberry pi 3 B+ / raspbian
- Compiler => make

#####

I am trying for days to install opencv correctly on version 3.3.0. but I can't get it to work. Mij latest error was:

[ 82%] Linking CXX shared library ../../lib/libopencv_java330.so
[ 82%] Built target opencv_java
make: *** [Makefile:163: all] Fout 2

Could not find much about it online. H

[2020-01-31 06:45] #16410 closed

[2020-01-31 07:35] swiss-knight commented on #16468
Actually, I always use `checkinstall` instead of `make install` which gives me the ability to remove the package using `dpkg -r` after if needed.

Here are the results for each command (both for `python2` and `python3`, even If I do not use `python2` anymore now).

[code]

[code]
[code]

Python2:
[code]

Python3:
[code]

Python2:
[code]
Python3:
[code]

That's really nice btw.

[2020-01-31 08:29] GentBinaku commented on #15943
python3 tf_text_graph_ssd.py --input=frozen_inference_graph.pb --output=mygraph.pbtxt --config pipeline.config
Scale: [0.200000-0.950000]
Aspect ratios: [1.0, 2.0, 0.5, 3.0, 0.33329999]
Reduce boxes in the lowest layer: True
Number of classes: 5
Number of layers: 6
box predictor: convolutional
Input image size: 300x300
Traceback (most recent call last):
  File "tf_text_graph_ssd.py", line 399, in

[2020-01-31 08:33] ccqu commented on #16467
Other SSD512 models also show the same problem:
![Clipboard 1](https://user-images.githubusercontent.com/23058357/73524074-9e0a6880-440c-11ea-995a-cab48b1d4bea.png)

[2020-01-31 08:43] Moldoteck commented on #16466
Well, i tried, but it shows several hundreds of entries. I can't understand what/where i should search memory leak(file names are not displayed probably because i use pre-compiled libraries)

[2020-01-31 10:43] asmorkalov commented on #13602
Border mode WRAP does not make sense for GaussianBlur. The only action item: update the function documentation.

[2020-01-31 10:48] asmorkalov commented on #15499
Action items for Hackathon:
- Introduce `CAP_PROP_AUTO_ROTATION` option with `true` by default.
- Implement frames rotation in respect with metadata. The first priority -- FFMpeg.
- Add test for the feature.

[2020-01-31 10:54] #12322 closed

[2020-01-31 11:00] #6673 closed

[2020-01-31 11:34] mshabunin commented on #16468
Try to set `OPENCV_PYTHON_INSTALL_PATH` and/or `OPENCV_PYTHON3_INSTALL_PATH`: https://github.com/opencv/opencv/blob/0d456f9111c8c8adbe1ef990d8e133ce1870243f/modules/python/common.cmake#L157-L175

Using this output you can verify each .so being loaded. Make sure cv2.so and libopencv_*.so are consistent (from the same installation).

[2020-01-31 11:54] alalek commented on #16468
Great :+1:

Please dump `stdout+stderr` into a `.txt` file (with python3) and attach it to issue's comment.
You may use `... >dump.txt 2>&1`

Please run gdb's `bt` command to collect stacktrace after `SIGSEGV` signal.

---

Also there is a big OpenCV community who may try to help - but you still need to provide extra information for investigation of this problem.

[2020-01-31 12:58] alalek commented on #16411
Sure, Feel free to propose Pull Request with update to 3.4 branch

[2020-01-31 14:14] tompollok commented on #16467
I tested it with 2080Ti with ocv 4.1.2 and 4.2.0 5265db8 and i have the same issues

[2020-01-31 15:40] gapry commented on #16336
Dear @bduclaux

I've made a PR #16474 to fix the issue. Please review it.

Thanks.

[2020-01-31 16:10] bduclaux commented on #16336
@gapry Looks great!
Thanks !

[2020-01-31 17:56] naserpiltan commented on #10994
@alalek how didi you solve this problem?
i have same issue
can you help me?

[2020-01-31 18:11] fnhdx opened #16475 "error when load onnx model"
I am trying to load a onnx model which is converted from pytorch.

`import cv2`
`model = cv2.dnn.readNetFromONNX('tmp.onnx')`

cv2.error: OpenCV(4.1.2) /io/opencv/modules/dnn/src/dnn.cpp:525: error: (-2:Unspecified error) Can't create layer "166" of type "Cast" in function 'getLayerInstance'

here is my model
[https://www.dropbox.com/s/sg0n1kdpbbio848/tmp.onnx?dl=0](url)

anyone have idea how to f

[2020-01-31 20:28] dkurt commented on #16475
Are custom layers applicable in that case? See https://docs.opencv.org/master/dc/db1/tutorial_dnn_custom_layers.html

[2020-01-31 20:44] #15992 closed

[2020-02-01 01:42] JunweiLiang commented on #9053
Stumbling into this bug in 2020...
But at least I know why:
https://stackoverflow.com/questions/44488636/opencv-reading-frames-from-videocapture-advances-the-video-to-bizarrely-wrong-l/44551037#44551037

[2020-02-01 04:01] BedirYilmaz commented on #14866
image = np.array(image) before the function call
worked for me

[2020-02-01 11:17] berak commented on #16443
@vishwas1234567 your code  is from outdated opencv 2.4, and the ml API has changed significantly in the meantime.

please use [more modern code as a template](https://github.com/opencv/opencv/blob/3.4/samples/python/digits.py#L92-L98) , and further questions should go to https://answers.opencv.org/questions/

[2020-02-01 13:40] FischerGundlach commented on #16292
I am busy this week but will get back to it next weekend.

[2020-02-01 13:44] stereomatchingkiss opened #16476 "Error when import model of onnx"
- OpenCV => 4.2.0
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description

I am using opencv to load the model exported by python, but it throw exception

`OpenCV(4.2.0) C:\build\master_winpack-build-win64-vc15\opencv\modules\dnn\src\layers\eltwise_layer.cpp:209: error: (-215:Assertion failed) inputs[0][j] == inputs[i][j] in function 'cv::dnn

[2020-02-01 14:21] aman-17 opened #16477 "HOW TO IMPORT CAMERA FROM URL TO OPENCV"
I want to import a 'camera' from a URL to OpenCV. I can't use my mobile camera as WEB-CAMERA in OpenCV although I have established a connection from different applications like DroidCam where we can use mobile cameras as a web camera by going to a web address.

[2020-02-01 15:24] BadMachine commented on #16477
For your questions please use [https://answers.opencv.org](https://answers.opencv.org).
Looks like [here](https://answers.opencv.org/question/24154/how-to-using-opencv-api-get-web-video-stream/) answer to the question.

[2020-02-01 15:48] BadMachine commented on #16476
Looks like the error appears at Mul layer type.
So i`ve got the same problem https://github.com/opencv/opencv/issues/16323

[2020-02-01 16:13] YashasSamaga commented on #16467
CUDA-MEMCHECK reported truckload of illegal writes by the concat kernels in the `mbox_conf` layer. This corrupts the data in the memory and hence the wrong outputs.

@tompollok @ccqu As a temporary solution, you set the `OPENCV_DNN_DISABLE_MEMORY_OPTIMIZATIONS` variable to `1`, the model should give the correct outputs without any significant loss in performance.

---

https://github.com/opencv/op

[2020-02-01 17:15] #16443 closed

[2020-02-01 19:20] jimgeldermann commented on #15645
Thanks - same problem with custom frameworks after I upgraded to Catalina

[2020-02-01 20:11] stereomatchingkiss commented on #16476
Thanks, looks like we meet the same issue

[2020-02-01 20:17] #16455 closed

[2020-02-01 20:18] #16336 closed

[2020-02-02 09:28] frozenparadox99 commented on #15302
Hi, i'd like to work on this issue.

[2020-02-02 09:29] frozenparadox99 commented on #15707
Hi, i'd like to work on this issue!

[2020-02-02 09:32] frozenparadox99 commented on #9760
hi , i'd like to work on this issue

[2020-02-02 15:05] hannesa2 opened #16480 "Android manifests are duplicated in samples"
During prepare a  pull request, I found the `AndroidManifest.xml`'s sample are there **twice**.

<img width="775" alt="image" src="https://user-images.githubusercontent.com/3314607/73610071-f8095a80-45d3-11ea-9d8f-8b180204cbf9.png">

What's the purpose of this, or is one of them just an outdated relict ?
Who knows it ?

If it's a pointless double code, I vote for a deletion to reduce confusion. Bu

[2020-02-02 15:43] Bambocha commented on #9904
Hi , I have quite similar problem like @oishi89. I have an error with "OpenCV(3.4.5) Error: Requested object was not found (Layer with requested id=-1 not found) in cv::dnn::experimental_dnn_34_v11::LayerData& cv::dnn::experimental_dnn_34_v11::Net::Impl::getLayerData(int), file /build/3_4_pack-android/opencv/modules/dnn/src/dnn.cpp, " I"m doing my project on Android Studio for Android with this tu

[2020-02-02 18:11] karlphillip commented on #12342
I would like to investigate this.

[2020-02-02 19:16] RuRo commented on #15892
I am having similar(?) problems on Arch. I think that the problem is due to the `opencv4.pc` config for `pkg-config`.

The `Libs.private` string ends with

[code]

Which looks malformed to me, since `lib64` is not a real library as far as I can tell and the `-L` is duplicated for some reason.

I think, the issue has to be somewhere in `cmake/OpenCVGenPkgconfig.cmake` in the `OPENCV_PC_LIBS_PRIVATE

[2020-02-02 23:37] alalek commented on #16480
relates #13386

Feel free to remove outdated files which supports abandoned "Eclipse ADT":
- SO topic: https://stackoverflow.com/questions/42958186/is-eclipse-adt-officially-abandoned
- old link: http://developer.android.com/tools/sdk/eclipse-adt.html
from "master" branch.

[2020-02-02 23:51] alalek commented on #15892
@RuRo Thank you for investigation!

Auto generation of .pc file is not well supported (simple case works only).
Also it is disabled by default (due zero support of that from maintainers team - our recommendation is using CMake's `find-package()`) - check #13154

[2020-02-03 07:03] saskatchewancatch commented on #16458
I built gcc 10 from source (it's the next major release version under development) and repro'd issue. I opened a PR with earlier suggestion.

Tested building a couple of source files for a module and warnings went away.

@alalek I'll probably do a long build of all modules to see if other warnings show up with gcc 10 that need to be quashed because of gcc changes.

[2020-02-03 08:08] mskang2 opened #16484 "How to call imread() function with raw image array? Not filename."
##### System information (version)

- OpenCV => :3.4.9
- Operating System / Platform => Ubuntu 16.04
- Compiler => :gcc 5.4.0 20160609

##### Detailed description

Is there any way to call imread() without filename but with image array?

##### Steps to reproduce

This is not a bug. But I want to know how to load image without filename.
If I have received an image from somewhere and I want to load

[2020-02-03 08:35] JunWeston opened #16485 "there are too many issues when I am compile c++ code."
/usr/local/include/opencv2/core/cvdef.h:704:4: error: "OpenCV 4.x+ requires enabled C++11 support"
#  error "OpenCV 4.x+ requires enabled C++11 support"
   ^
In file included from curtainSegemntation.cpp:2:
In file included from /usr/local/include/opencv2/opencv.hpp:52:
In file included from /usr/local/include/opencv2/core.hpp:54:
In file included from /usr/local/include/opencv2/core/base.hpp:58:

[2020-02-03 08:57] mskang2 commented on #16484
I'm trying to set data of Mat instance to image binary.
Thank you.

[2020-02-03 08:57] #16484 closed

[2020-02-03 08:58] asmorkalov commented on #16485
OpenCV 4.x requires C++11 support turned on. It's required option for OpenCV build itself and all projects that use OpenCV header files.

[2020-02-03 08:58] #16485 closed

[2020-02-03 09:45] tompollok commented on #16467
OPENCV_DNN_DISABLE_MEMORY_OPTIMIZATIONS needs to be set at compilation time, or can it be set at runtime?

[2020-02-03 09:53] vpisarev commented on #16467
@tompollok, at runtime. "export OPENCV_DNN_DISABLE_MEMORY_OPTIMIZATIONS=1" on Linux.

[2020-02-03 11:20] VadimLevin commented on #4539
@saskatchewancatch and @hannarud thank you for the detailed investigation of the problem. I wrote a small to-do list for Hackathon based on your conversation:

- [ ] Add a test for `convexityDefects` that reproduce the problem with wrong order of input points. Test data can be generated using examples kindly provided by @hannarud. General idea is to have 2 or more equal points in the original cont

[2020-02-03 11:27] alalek commented on #16485
Relates #11428 #13000

[2020-02-03 11:47] YashasG98 commented on #12343
Is someone still working on this? Can I take this up?

[2020-02-03 11:51] vpisarev commented on #12343
you are welcome to!

[2020-02-03 12:59] dkurt commented on #13311
I think that we can lose it as resolved.

[2020-02-03 12:59] #13311 closed

[2020-02-03 13:00] dkurt commented on #15635
@APrigarina,May I ask you to try to run multiple codes detector on the image?

[2020-02-03 13:06] mungaip commented on #15943
Hi!
I have encountered the same issue as @GentBinaku. I also get the assertion error when running the tf_text_graph_ssd.py script so have to sort the graph. I have attached the resulting pbtxt file and the source frozen_graph.pb and config.

I compared the resulting pbtxt file with the [ssd_mobilenet_v2_coco_2018_03_29.pbtxt](https://github.com/opencv/opencv_extra/blob/master/testdata/dnn/ssd_mobi

[2020-02-03 13:33] dkurt commented on #15943
@mungaip, your model consists of quantization nodes, `FakeQuantWithMinMaxVars`. Just for interest, have you quantized it or this is new TensorFlow behavior?

![image](https://user-images.githubusercontent.com/25801568/73657204-d75c0600-46a2-11ea-866e-dbad1587e76e.png)

[2020-02-03 13:34] #16480 closed

[2020-02-03 13:41] mungaip commented on #15943
@dkurt that's true sorry! I performed transfer learning on an already quantised model. I'll try again on the non-quant ssd_mobilenet_v2 and see if it makes a difference.

[2020-02-03 13:45] ganesh-k13 commented on #16183
@asmorkalov, there is a good chance it is related.

This is the issue being addressed in the issue mentioned above.

Can I add stress test for this? I have an on-prem Kubernetes test-setup so willing to spawn multiple threads. Any guidelines for adding them?

[2020-02-03 13:51] dkurt commented on #15943
@mungaip, I think that this example would be also useful, thanks anyway!

[2020-02-03 13:52] asmorkalov commented on #16183
@ganesh-k13 It's good idea to test it, if you have K8s setup in your hands, but it's very hard to reproduce with OpenCV infrastructure and regular developer hosts. I do not think that portable test is possible here.

[2020-02-03 13:52] asmorkalov commented on #16290
@dmatveev please take a look.

[2020-02-03 13:59] asmorkalov commented on #11389
@peters Do you plan to work on the patch in mean time?

[2020-02-03 14:55] fnhdx commented on #16475
Is upsample layer in pytorch supported by opencv onnx?

[2020-02-03 15:15] peters commented on #11389
@asmorkalov Unfortunately, no.

[2020-02-03 15:16] ccqu opened #16489 "Error accessing outputs of `Slice layers in Caffe models"
##### System information (version)

- OpenCV => 4.2.0-dev https://github.com/opencv/opencv/commit/5265db82c7ed0880117634cc723ed1bc91333b1b
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2015

##### Detailed description

I have a Caffe model with [`Slice`](https://caffe.berkeleyvision.org/tutorial/layers/slice.html) layers. However, I'm not able to access the "implic

[2020-02-03 15:25] vpisarev commented on #16308
@vicdxxx, if you are going to work on this issue, you will need to clone opencv in your github account, then git clone it, make a branch etc. I believe, it will be much easier to try to reproduce this problem with C++ code and then debug it. Debugging mixed C++ + Python code is very inconvenient

[2020-02-03 15:27] vpisarev commented on #15155
@heisenbuug, if you still work on this issue, this is a good moment :)

[2020-02-03 16:15] vpisarev commented on #15675
@alalek, I think, it's a good idea! Can you please migrate it to the list of Evolution Proposals?

[2020-02-03 16:20] vpisarev commented on #15302
@frozenparadox99, you are welcome to!

[2020-02-03 16:25] dkurt commented on #16489
As a workaround,
[code]

We use field "name" is used for layers names, not "top".

For first output,
[code]

[2020-02-03 16:28] dkurt commented on #13462
Please try https://github.com/opencv/opencv/pull/16490

[2020-02-03 16:40] dkurt commented on #16489
I think it might make sense to add this:

[code]
to make it similar to
[code]

[2020-02-03 16:44] dkurt commented on #16475
@fnhdx, According to error message, it says that "Cast" layer is not supported. "Upsample" should be parsed:

https://github.com/opencv/opencv/blob/3d14dd4e3953aa7b7e2ab3a388ca7bf08fe99d99/modules/dnn/src/onnx/onnx_importer.cpp#L956-L974

[2020-02-03 17:03] MjdMahasneh opened #16492 "can't find the opencv_traincascade file!"
I am a little confused since as far as I understood from the tutorial, I need to have the training app (opencv_traincascade) on my local machine for me to be able to accelerate the training. However, the file I found in the repo is a c++ file! While I am using Python on my machine, could anyone correct/direct me? what am I missing here?

[2020-02-03 17:47] karlphillip commented on #12342
The result of my investigation is that this issue is **no longer reproducible** with the latest OpenCV on Windows 10:

- I executed the sample code in Python multiple times and then let it run for about 2h and nothing happened.
- Then I ported it to C++ and let this program run for another 2h and nothing happened.

The source codes used for testing are available here:
[test_source_codes.zip](https

[2020-02-03 18:37] vpisarev commented on #9171
@alalek, @StefanBruens, should we close it?

[2020-02-03 18:44] StefanBruens commented on #9171
With the two patches merged it should be fixed.

[2020-02-03 18:44] #9171 closed

[2020-02-03 19:09] alalek commented on #16492
See #14322 and #13231

[2020-02-03 19:30] fnhdx commented on #16475
@dkurt It's strange. There is no layer called "Cast" in the pytorch model. Here is the model I used which is a standard unet model

`
class DoubleConv(nn.Module):

    def __init__(self, in_channels, out_channels):
        super().__init__()
        self.double_conv = nn.Sequential(
            nn.Conv2d(in_channels, out_channels, kernel_size=3, padding=1),
            nn.BatchNorm2d(out_channels)

[2020-02-03 21:18] AmmarHSufyan commented on #5715
2020 and the problem still persists

[2020-02-03 21:56] saskatchewancatch commented on #16343
@vpisarev I see you've taken this issue. I tried something last week, maybe this will help your debug efforts.

When I use OP's repro code, I am able to repro the issue. But when I try my own, the behaviour is as expected. This will produce 3 cascaded windows:

[code]

<img width="706" alt="Screen Shot 2020-02-03 at 1 55 18 PM" src="https://user-images.githubusercontent.com/21051160/73694441-e1730

[2020-02-03 22:03] saskatchewancatch commented on #16343
Update: I am mistaken. In my repro screenshot above, things are not working correctly. As you can see, first window (1) is supposed to be at 100, 100. But it is clearly not at 100, 100. More like 0, 100.

It seems that y coordinates that are less than 100 will produce the bug in the y direction.

[2020-02-03 23:06] keeper121 commented on #15075
Seems problem in resizeNNInvoker class with loop over image.

https://github.com/keeper121/opencv/blob/57c99914133bea42b1fd6e176ebf35e210d7163d/modules/imgproc/src/resize.cpp#L1044-L1050
[code]
The last array's dimension not going through the loop if it has odd size.

Potential fix is replace loop defenition with:
[code]

After that provided code works as expected.

Output:
[code]

But I don't kno

[2020-02-03 23:12] cwreynolds commented on #16343
(Sorry if this is just spectator noise, but I am baffled by how this symptom got _even weirder_ after @saskatchewancatch’s experiment. In his screen shot, the vertical position difference between window 1 and 2 is _less_ than between window 2 and 3. I’d be tempted to guess that the windows are moved to the given position, but with the Y shifted _up_ about 128 pixels, then clipped at the top of the

[2020-02-04 01:41] jwang61 commented on #11962
Ran into the same issue with 3.4.9 on Ubuntu 16.04 as well. Unsure why but commenting out the `memset` in line 550 in `apps/createsamples/utility.cpp` fixed it.

[2020-02-04 02:51] quitmeyer commented on #8784
ahhh dang i was looking for a solution too :(

[2020-02-04 04:21] r734 commented on #11672
In my case, it downloaded to `opencv-4.2.0/build/share/opencv4/testdata/cv/face/`.

[2020-02-04 05:23] hengqujushi commented on #16278
se===

i meet it too,how do you do it?

[2020-02-04 05:45] arunkarthik276 commented on #13848
hey guys found the solution pip install opencv-contrib-python==3.4.7.28 try like this we have to specifically say the version try lesser version mine was 4.x so I did and no error popped up

[2020-02-04 06:38] y8han commented on #16131
I have the same question!

[2020-02-04 08:19] LaurentBerger commented on #13848
opencv_contrib-python is the C++ binding of opencv and opencv_contrib libs
opencv-python is the C++ binding of opencv lib

You must not install opencv-python if you want to use opencv_contrib-python

Read doc https://pypi.org/project/opencv-contrib-python/ :

### Installation and Usage

### If you have previous/other manually installed (= not installed via pip) version of OpenCV installed (e.g. cv

[2020-02-04 08:36] cyyever opened #16500 "should add cuda dll path via os.add_dll_directory on windows"
##### System information (version)

- OpenCV => master
- Operating System / Platform =>win10
- Compiler => vs2019
- CUDA 10.2
- Python 3.8

##### Detailed description

I compiled opencv from source with cuda and python supports and encountered "import cv2 ,dll failed to load " error, after spent a lot of time solving this problem, I found that dll loading policy has changed in python3.8 such that

[2020-02-04 08:56] isra60 commented on #16420
Also this file also does not work as expected.... (works perfect with Darknet repository but not here with openCV)

http://www.inf.ufpr.br/vri/databases/layout-independent-alpr/data/lp-recognition.cfg

and weights..

http://www.inf.ufpr.br/vri/databases/layout-independent-alpr/data/lp-recognition.weights

Does anyone can help me in order to find what is broken??? I suppose there is something bad w

[2020-02-04 09:13] bonlime opened #16501 "Bug in resize for 5 channels images"
##### System information (version)

- OpenCV => 4.2
- Operating System / Platform => Ubuntu 16.04
- Compiler => :grey_question:

##### Detailed description

I'm using python bindings for opencv and found a bug with resizing images with 5 channels. It works fine for any other number of channels.
I've also checked previous versions and it works in 4.1.1. So the bug should be very recent

##### Steps

[2020-02-04 09:17] ganesh-k13 commented on #16183
Yeah, I'll just run in my local, with and without the changes and update here.

[2020-02-04 10:26] alalek commented on #16500
It is Python 3.8 specific (on Windows).
There is no good robust way to resolve broken DLLs loading.
Some hacks are possible - see #16120 (through "loader"). You may try to add something for CUDA too.

[2020-02-04 10:31] asmorkalov commented on #16446
https://github.com/opencv/opencv/pull/16499

[2020-02-04 10:32] cyyever commented on #16500
So could we use cmake commands to add cuda path to BINARIES_PATHS when cuda is enabled?

[2020-02-04 11:11] cyyever commented on #16500
I has committed a PR.

[2020-02-04 11:34] mshabunin commented on #13818
Can not reproduce on Ubuntu 18.04 with Clang 10.0.0 and OpenCV _master_ branch.
@luiscarox , is this problem still actual?

[2020-02-04 11:40] #16290 closed

[2020-02-04 12:01] GautamGottipati commented on #13602
If no one is working on this issue , can I take this issue

[2020-02-04 12:12] alalek commented on #13602
@GautamGottipati Thank you for your interest.
Issue is already "assigned" and fixed (see reference link above your comment).

Issue will be closed then fix becomes available on default "master" branch (it will be done by regular "Merge 3.4" process, so just wait).

[2020-02-04 12:13] #13602 closed

[2020-02-04 12:14] #9392 closed

[2020-02-04 12:22] #16446 closed

[2020-02-04 12:31] mungaip commented on #15943
Hi @dkurt, I trained a normal ssd_mobilenet_v2 and the tf_text_graph_ssd.py script worked fine! The only issue I faced was that the readNetFromTensorflow dnn module couldn't recognise the types "FusedBatchNormV3" and "AddV2" when creating the layers. I worked around it by changing the strings to "FusedBatchNorm" and "Add" respectively in the pbtxt file. I'm using OpenCV 4.1.1. Is this something th

[2020-02-04 12:49] Bixiii commented on #5715
I also have this problem (tried with OpenCV 3.4.2, 3.4.7 and 4.1.0)

[2020-02-04 12:53] #16458 closed

[2020-02-04 13:32] alalek commented on #16501
Reproduced without Python:
[code]

[2020-02-04 13:33] karlphillip commented on #12342
@asmorkalov I believe this issue can be closed. Is there anything else you would like me to do?

[2020-02-04 13:50] mshabunin commented on #16326
I've been able to reproduce the issue with provided docker image except I've updated MKL to 2020 and removed WITH_MKL option in OpenCV, because the problem is actually in IPP ICV. At some point it calls function from MKL:
[code]
although it should've called own function:
[code]

Looks like we cannot workaround this problem on OpenCV side. The simpler workaround for users is to import _cv2_ before

[2020-02-04 14:07] dkurt commented on #15943
@mungaip, yes, support of these layers has been added.

[2020-02-04 15:39] alalek commented on #16326
Workaround for OpenCV build:
[code]

Possible symbols with conflict:

[code]

[2020-02-04 16:08] nmaxwell commented on #16326
Thanks for the replies.

I tried switching the order of imports, that didn't help, because one of the firs things cv2.__init__.py does is import numpy.

I'll give that a try. Does that mean opencv won't use ippic, or it just won't expose the symbols?

[2020-02-04 16:13] blarkj commented on #8784
Same here!

[2020-02-04 16:22] mshabunin commented on #16326
@nmaxwell , try this patch: #16505

[2020-02-04 16:30] quitmeyer commented on #8784
Okay I figured it out, it's just an error that comes up if some of the captures were not good and it's not able to parse enough points from the particular image. I think they closed it because not really an issue with the code but more so how it runs. So just try again and get better shots when you do your capture

[2020-02-04 16:37] #16308 closed

[2020-02-04 17:00] blarkj commented on #8784
I checked the images, they don't seem to be the issue. But I still get the same error.

[2020-02-04 17:13] #13462 closed

[2020-02-04 17:47] llschloesser opened #16507 "Feature Request: Channel Max and Channel Idx Max"
##### System information (version)
- OpenCV => 4.1.1
- Operating System / Platform => Ubuntu 16.04
- Compiler => GCC 5.4

##### Detailed description
For segmentation output (both image channel planes and interleaved) it would be great to have an optimized `void channelMax(cv::InputArray src, cv::OutputArray dst)` that returns the max value across channels and a  `void channelIdxMax(cv::InputArray

[2020-02-04 18:32] dkurt commented on #16507
Thanks! Looks like a duplicate to https://github.com/opencv/opencv/issues/10286

[2020-02-04 19:18] macfly1202 commented on #15398
This day, I encounter the same issue.

`Scanning dependencies of target opencv_cudafilters
[ 25%] Building CXX object modules/cudafilters/CMakeFiles/opencv_cudafilters.dir/src/filtering.cpp.o
[ 25%] Linking CXX shared library ../../lib/libopencv_cudafilters.so
[ 25%] Built target opencv_cudafilters
Makefile:162: recipe for target 'all' failed
make: *** [all] Error 2
`

[2020-02-04 20:12] #6450 closed

[2020-02-04 20:15] #16501 closed

[2020-02-05 01:23] lodmacro commented on #16466
저도 비슷한 증상을 겪고 있습니다.
cvtColor 함수를 사용할 경우 Page Fault가 계속 증가합니다.

OpenCV Version = 4.2.0
Operating System / Platform => Windows 10 64 Bit
Compiler => Visual Studio 2017

[2020-02-05 03:22] dpingk opened #16508 "What's the least version of android ndk to build opencv ?"
Can't open official site at work for some reason, I'm asking at here.

When I build opencv4.1.2, I build with android-ndk r16c, and failed at core/utils/xxconfig, reporting that to_string is not a member of std, because my toolchain is xxx4.9, not fully support c++11.
So, What's the minimum version of ndk is required?

[2020-02-05 06:06] asmorkalov commented on #12342
@karlphillip The best solution for the issue is to find commit that fixes the problem, but I'm not sure if it's possible for this particular case. Also the issue can be caused not by OpenCV itself, but antivirus software and search indexer process. I observed such issues with CI before. I think we can close the ticket till somebody reports the same problems.

[2020-02-05 06:06] #12342 closed

[2020-02-05 06:38] bonlime commented on #16501
Thanks for fixing this so fast!

[2020-02-05 06:44] dpingk commented on #15457
Why don't you deprecate opencv toolchain...

[2020-02-05 08:17] dpingk commented on #15457
thx, solved my same problem

[2020-02-05 09:13] #16508 closed

[2020-02-05 09:14] dpingk commented on #16508
[issue 15457](https://github.com/opencv/opencv/issues/15457) solved my problem

[2020-02-05 10:32] xiaolitongxue666 commented on #15308
I had the same problem, how to solve it ?

[2020-02-05 10:32] tompollok opened #16511 "Cant access google groups dev forum"
As announced on https://opencv.org/opencv-hackathon-is-coming/

There is a link to: https://groups.google.com/forum/#!forum/opencv-dev-forum

But unfortunately i cant access it: Error: # 418 "You Do Not Have Permission"

Does it need an invitation?

[2020-02-05 10:33] Gilf641 commented on #13728
Actually I can't figure out how to load a pre-trained Keras Model(FaceRecognition) with OpenCV. The thing is that I want to use this model on IOT and Android Devices, so I'd to convert the same to tflite version. Can anyone help me out here? And I'm using TF 2.1, so...

[2020-02-05 10:38] alalek commented on #15308
Remove this (perhaps from your toolchain file / build scripts).

`cmake ... -DWITH_JPEG=OFF`

---

Build / usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org
This tracker is for issues and bugs that needs fix in OpenCV.

[2020-02-05 10:38] #15308 closed

[2020-02-05 11:13] Gilf641 commented on #13918
Any updates on how to use TFlite models with OpenCV?

[2020-02-05 11:49] rayonnant14 commented on #13311
@crackwitz Hi, use the latest OpenCV version that contains new functionality for multiple QR-code detection.
For example:
`import cv2 as cv
import numpy as np
im = cv.imread("qrcode.png")
det = cv.QRCodeDetector()
rv, pts = det.detectMulti(np.hstack([im, im]))
print("multiple:", rv) # True`

[2020-02-05 11:54] rayonnant14 commented on #13311
@crackwitz Hi, use the latest OpenCV version that contains new functionality for multiple QR-code detection.
For example:

[code]

[2020-02-05 12:02] APrigarina commented on #15635
@dkurt @llxxhm, I ran multiple detection on this image, but there is a mismatch to the standard template of qr-code(missing white border and given qr-codes are cut)

[2020-02-05 12:13] terfendail commented on #15613
PR was extended with AVX2 and AVX512 so the issue could be considered solved

[2020-02-05 12:13] #15613 closed

[2020-02-05 12:27] dkurt commented on #13918
@Gilf641, The problem is that TF introduces too much formats recently. Serving model, SavedModel, TFList, TFHub, Keras from TF 2.0 which is not compatible with Keras. Most of them are derived from frozen .pb graphs. So what is the source of your TFLite model?

[2020-02-05 14:51] #16489 closed

[2020-02-05 15:17] Hariprasad-UP commented on #13848
Thank You Sir

On Tue, 4 Feb 2020 at 13:49, LaurentBerger <notifications@github.com> wrote:

[2020-02-05 16:37] mihaibujanca commented on #16511
On a similar note, the link to the slack channel (not sure if it's used at all) is expired

[2020-02-05 18:51] crackwitz commented on #13311
quick question: what's the behavior for detect (non-multi) and multiple markers in view? will it pick anything, or nothing?

[2020-02-05 19:20] amaanda opened #16515 "[stereo calibration] intrinsic parameters estimation"
hi!

i am currently using opencv to calibrate a camera. once I have the calibration parameters cx and cy for the 2k resolution, am i able to calculate/estimate the cx and cy for a different resolution?

any help will be appreciated. thanks!

[2020-02-05 22:20] cwreynolds commented on #16343
@vpisarev: One more observation, then I _promise_ I will shut up. I ran @saskatchewancatch’s test case, then overlaid a green diagonal line. It passes very close the the lower-left corner of windows 2 and 3. Window 1 is displaced down to keep it on the screen.

It looks like the x, y arguments to moveWindow() are being applied to the **lower left corner of the window**.

The [doc](https://docs.ope

[2020-02-06 01:26] saskatchewancatch commented on #16343
@cwreynolds Interesting observation. Though it's interesting that the `moveWindow` implementation is calling setFrameTopLeftPoint which supposedly sets the window position using the top left part of the window as the anchor.

I think another part of the problem is that the `moveWindow` function is relying on the resolution of the whole screen to figure out where to set the top-left of the window.

[2020-02-06 05:49] xenux opened #16517 "CMake: VideoIo dll are not copied to custom config folders (e.g. RelWithDebInfo, MinSizeRel, etc.)"
##### System information (version)
- OpenCV => 4.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019 / CMake

##### Detailed description

When building OpenCV solution for Visual Studio IDE using CMake, videoio dll are not copied to custom config folders such as RelWithDebInfo, MinSizeRel.
As a result video reading silently fails when trying to execute for one of tho

[2020-02-06 06:02] Gilf641 commented on #13918
Source of TFLite Model?* I didn't get you...

This is my code

`new_model= tf.keras.models.load_model(filepath="VGGFaceRecognition-Keras.h5")
tflite_converter = tf.lite.TFLiteConverter.from_keras_model(new_model)
tflite_model = tflite_converter.convert()
open("VGGFaceRecognition-Keras.tflite", "wb").write(tflite_model)`

[2020-02-06 06:27] Astone commented on #16308
@vpisarev Thanks for fixing this so soon! It saves me a lot of fumbling around with extra margins in my application.

[2020-02-06 07:21] minhduc0711 commented on #15031
This also fixed the problem for me https://stackoverflow.com/a/48351976/10478661

[2020-02-06 07:47] alalek commented on #16517
Not supported at all.

Use Debug/Release configurations only + `BUILD_WITH_DEBUG_INFO` if necessary.

[2020-02-06 07:47] #16517 closed

[2020-02-06 08:15] asmorkalov commented on #14084
GStreamer backend for `cv::VideoCapture` has 2 major modes: default pipeline for video or camera and custom pipeline execution. In the first case CONVERT_RGB is always on and `cv::VideoCapture` behavior is the same as expected. OpenCV controls all stages and can guarantee frame format. The second option is implemented for advanced scenarios and OpenCV cannot introduce conversion stage to pipeline.

[2020-02-06 09:53] asmorkalov commented on #14084
Documentation improvement: https://github.com/opencv/opencv/pull/16518

[2020-02-06 10:09] asmorkalov commented on #16115
@vpisarev @alalek I need your advice for the task. Current reader for OpenEXR ignores alpha channel and returns `cv::Mat` with type `32FC3` with flag `IMREAD_UNCHANGED`. It happens, even alpha channel is present in input file. I can introduce logic to check alpha channel and return `32FC4` for this case, but it breaks compatibility. What do you think about it?

[2020-02-06 10:21] alalek commented on #16115
Do you have sample image?

I believe it is a bug, so it should be fixed.

[2020-02-06 10:27] fisakhan commented on #13145
Can I set backend to DC1394 [Firewire] v 2.x backend in python-opencv 4.1.2 on Ubuntu 18.04?

[2020-02-06 11:13] boulabiar commented on #16511
I think the google group is not used anymore since around 2015?

[2020-02-06 11:18] tompollok commented on #16511
Then why was it part of the Hackaton anouncement?

[2020-02-06 11:21] yongduek commented on #10643
@csukuangfj
I am having the same idea as you have, but do not have any practical experience, and looking for some reference. Have you had any real happening or experience related to data normalization for 7 point algorithm? Any related web link or paper specific on data normalization for 7p algorithm is welcome if you have any.

[2020-02-06 13:46] #14084 closed

[2020-02-06 14:15] #16492 closed

[2020-02-06 14:40] dkurt commented on #13918
Got it. So why not to convert the `.h5` to a frozen `.pb` model?

[2020-02-06 17:02] antithing commented on #8813
@catree is the code you used for Temporal smoothing available?
Thanks!

[2020-02-06 17:09] fegorsch opened #16521 "matchTemplate returns different scores for same input with IPP"
##### System information (version)

- OpenCV => 4.2.0-dev (also observed on 4.1.2 release)
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2015

##### Detailed description

If IPP is active (`WITH_IPP=ON`), `matchTemplate` scores are non-deterministic. I.e. the function returns different scores for the same input. The problem can be observed for all [TemplateMatchModes]

[2020-02-06 22:08] #15155 closed

[2020-02-06 22:09] ShaneMatthias commented on #15645
Hey, I don't have this options. Know why?

[2020-02-06 22:36] Ayke commented on #16029
I was having the similar issue as well, but I've solved by this gist:  https://gist.github.com/jkjung-avt/86b60a7723b97da19f7bfa3cb7d2690e

And I know it seems scary, but could you try running

[code]

and see if the `cap` works fine? The above script actually solved my issues

[2020-02-06 23:08] collinbrake commented on #15786
@alalek I proposed a PR to improve the documentation for the IMREAD_UNCHANGED flag. Should the documentation for the `imread()` function also be changed?

[2020-02-07 02:31] excellentcx commented on #16382
I have a similar question, can you please help me to see why? @MGarvinNYC
[Building project "opencv_rgbd" FAILED ](https://github.com/opencv/opencv_contrib/issues/2423)

[2020-02-07 02:34] preeti13456 commented on #16252
Since the java hierarchy output matrix contains 1 row and N column so here hierarchy.get(0,k) can give a 4-element double array as here 0 and k are indeces of row and column. So initially matrix contains (0 (row), 0(column))
Then (0(row), 1(column))
Therefore here row index is static variable
And k column variable is dynamic variable.

[2020-02-07 02:48] preeti13456 commented on #16187
By increasing the version we are increasing the complexity hence for the values for which version 3.1.0 is giving accuracy the same for the version 4.1.0 has decreased accuracy.
Pixel per frame for the version 4.1.0 is also get reduced with the increase in complexity.

[2020-02-07 06:24] preeti13456 commented on #15499
Instead of cap_prop_auto_rotation we can use cap_Frame(position parameters) to change the rotation along the rotated parameters .

[2020-02-07 07:43] preeti13456 commented on #15786
I proposed a PR to image_ignore_orientation can we change the params(parameters) . And can we use image_frame(length,width) and change the orientation accordingly.

[2020-02-07 08:13] YashasSamaga commented on #16467
<details>
<summary>Log of creation of blobs and wrappers</summary>
<pre>
wrap(Mat& host): host.data = 0x559e6b331480, host.total() = 786432
CreateWrapper: m.data = 0x559e6b331480, m.total() = 786432
BeforeCreateHost: 0x559e6b331480 786432
AfterCreateHost: 0x559e6b331480 786432
wrap(Mat& host): host.data = 0x559e6b331480, host.total() = 786432
ReuseWrapper: host.data = 0x559e6b331480, host.total()

[2020-02-07 09:50] Gilf641 commented on #13918
@dkurt I've already converted .h5 file to .tflite file. But I'm facing issues while using OpenCV along with Tensorflow Lite model( .tflite file)...
Are you suggesting this way of conversion( .h5  --> .pb --> .tflite )?

[2020-02-07 11:47] HoLue opened #16526 "ImportError: cannot import name 'Sketcher' from 'common'"
##### System information (version)
- OpenCV =>4.1.1.26
- Operating System / Platform =>Windows 10
- Python => 3.7.4 64bit

##### Detailed description

After start I get the message:

`Traceback (most recent call last):
  File "watershed.py", line 30, in <module>
    from common import Sketcher
ImportError: cannot import name 'Sketcher' from 'common' (C:\Programme_Tools\Python\Python3_7_4_64bit\lib

[2020-02-07 11:54] HoLue commented on #16526
Works in the original directory (samples\python), when I copy the fruits.jpg into it.

[2020-02-07 11:54] #16526 closed

[2020-02-07 12:01] shashank-industrail commented on #7592
@fiveh , Thanks it works.
i was using this code, with hikvision camera.
[code]
I believe this camera store the frame and cap.read accessing the consecutive frame with 1sec wait.
That is very strage behaviour.
It is avoidable by using cap.grab() method.

[2020-02-07 12:21] csukuangfj commented on #10643
@yongduek
You can refer to this book:

https://www.amazon.com/Multiple-View-Geometry-Computer-Vision/dp/0521540518/ref=sr_1_1?crid=291J5UZH42CUE&keywords=multiple+view+geometry+in+computer+vision&qid=1581078014&sprefix=computer+vision+ge%2Caps%2C459&sr=8-1
---
you can find a pdf version by Google.

[2020-02-07 13:01] catree commented on #8813
@antithing
I don't think so. Anyway, it was something really simple:

- current estimation gives you two rotation vectors
- chose the estimation whose the rotation part is the closest to the previous one

Maybe to avoid sporadic flipping, you can try to use a buffer of `N` past observations and use a voting scheme / median scheme.

To compute distance between two rotations, have a look at the lite

[2020-02-07 13:02] kkjh0723 opened #16528 "Build fails in nvidia docker; cuda:9.2-cudnn7-devel-ubuntu16.04"
##### Detailed description
got following error when install opencv in nvidia docker; nvidia/cuda:9.2-cudnn7-devel-ubuntu16.04

[code]

##### Steps to reproduce
build image using below Dockerfile

[code]

[2020-02-07 13:06] alalek commented on #16521
Can't reproduce on OpenCV 4.2.0 + MSVS 2017:
[code]

Also can't reproduce on Linux for both master / 3.4 branches on i7-6700k.
Logs with IPP disabled (`OPENCV_IPP=disabled`):
[code]

Which CPU do you have? AVX512?

Please try to run OpenCV tests: `opencv_test_imgproc`.

[2020-02-07 13:11] alalek commented on #16528
There is no message with error reason in your log cut (due concurrent output mess by `-j4` option).

---

Build / usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-02-07 15:07] antithing commented on #8813
@catree Thanks! I have implemented this using quaternions, getting the distance like so:

[code]

This works well, expect when the rotation in Pitch passes the pole and the axis flips, and stays flipped, giving me incorrect values from then on.

Is this expected with this approach? or have I implemented it incorrectly?

thanks again for your time.

[2020-02-07 15:50] fegorsch commented on #16521
Thanks for your quick reply. I got an i7-4760 with no AVX512-support.

The accuracy test for `matchTemplate` shows the same behaviour, i.e. it fails if IPP is enabled (see below). I also observed this for `Imgproc_BilateralFilter.accuracy`.

The [prebuilt binaries](https://opencv.org/releases/) have the same problem on my machine, with both vc14 and vc15.

A colleague with Ubuntu on a Ryzen-CPU co

[2020-02-07 16:00] StefanBruens opened #16532 "cvtest::norm only considers last channel"
https://github.com/opencv/opencv/blob/7d998336d342c58781ddf85d9e76d024ce489a43/modules/ts/src/ts_func.cpp#L1309-L1343

The norm is evaluated for each channel, but the result value is overwritten.

This should be `result += ...` or `result = std::max(result, ...`.

[2020-02-07 16:02] StefanBruens commented on #16532
overlook the "result" in the parameters

[2020-02-07 16:02] #16532 closed

[2020-02-07 16:31] shawn817 commented on #11595
It can not be completely fixed by adding java to wrappers in opencv-3.4.x/modules/stitching/CMakelist.txt, since the script to generate Java wrapper for stitching module is missing in the source code (typically in $opencv-3.4.x/modules/$module_name/misc/java). E.g. feature2d module supports Java wrapper because it has generate script under opencv-3.4.x/modules/features2d/misc/java

[2020-02-07 16:36] emmenlau opened #16533 "IPP library directory not detected on MSVC, is it correct?"
##### System information (version)
- OpenCV => 4.2.0
- IPP 2020.0 for Windows
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017 x64, Visual Studio 2019 x64

##### Detailed description

When building OpenCV with `-DWITH_IPP=ON -DIPPROOT="C:/Tools/ipp"` I get a cmake error:
[code]
I checked and the problem seems to be that https://github.com/opencv/opencv/blob/master/c

[2020-02-07 16:47] GArik commented on #5178
Should be fixed by https://github.com/opencv/opencv_contrib/pull/2424
Please test.

[2020-02-07 20:22] #16437 closed

[2020-02-07 20:22] alalek commented on #16521
Please try with environment variable too: `OPENCV_IPP=sse42`

[2020-02-07 22:19] FROGbots-4634 opened #16534 "Possibility for "use after free" in Java API?"
In the Java API, it appears that there's nothing which prevents a "use after free" case. i.e., no exception is thrown when trying to use a Mat after `release()` has been called on it.

[2020-02-08 04:11] ashishkrshrivastava commented on #16475
@dkurt , seems like its because of

and

Both `cast` and `floor` layer need to be implemented.

[2020-02-08 04:17] ashishkrshrivastava commented on #16323
@dkurt, I found the problem in layer `111` which is somewhere here.
![Screenshot from 2020-02-08 09-42-55](https://user-images.githubusercontent.com/26292819/74079017-7c862e00-4a57-11ea-8af3-5593bff81f1b.png)
I think issue [16475](https://github.com/opencv/opencv/issues/16475) has the similar problem.

[2020-02-08 15:17] omasaht commented on #4952
I have done some testing regarding this issue but I was not able to reproduce the problem. I took three different tiff images for testing:

1) Original provided by the issuer
2) No compression tag
3) Uncompressed tag

I removed compression tag from Uncompressed tag image using exiftool. I was able to read and view all three of the tiff images using cv2.imread() and cv2.imshow(). I used Win64 along

[2020-02-08 18:40] #16507 closed

[2020-02-08 18:45] dkurt commented on #16475
@ashishkrshrivastava, probably, it's about shape values. Usually, they are constant and we just cast them to integers manually,
[code]
So this is a workaround - export model but with `int(*)` casts.

However if it is impossible, it would be good feature to support. I believe this graph fusion for ONNX models can help to make it easier if we can determine which subgraph should be fused: https://git

[2020-02-08 18:58] alalek commented on #16534
Please provide code example and actual / expected behavior.

[2020-02-08 20:01] #11428 closed

[2020-02-08 20:01] #13000 closed

[2020-02-08 20:12] dkurt commented on #13918
@Gilf641,I mean you can just convert .h5 to .pb and load .pb file into OpenCV.

[2020-02-08 20:18] alalek commented on #16515
It depends on camera's sensor / firmware / drivers / SDK.
In general, for real cameras, answer is NO.

---

Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-02-08 20:18] #16515 closed

[2020-02-08 21:04] emmenlau opened #16536 "Can not link against OpenCV due to missing IPP libs"
##### System information (version)
- OpenCV => 4.2.0
- Operating System / Platform => Ubuntu 18.04, macOS 10.14, Windows 64 Bit
- Compiler => gcc-7.2, Apple Clang XCode 11.3, Visual Studio 2017, Visual Studio 2019

##### Detailed description

I've built OpenCV with `-DBUILD_WITH_DYNAMIC_IPP="OFF"`. The build works fine, but I can not link executables against this OpenCV because I get missing libra

[2020-02-08 21:05] emmenlau commented on #16536
To reproduce this issue it was for me required to fix issue #16533 first, so IPP libraries are detected. Please test for yourself because it may be different for your version of IPP...

[2020-02-08 22:32] emmenlau opened #16537 "How to avoid lib/opencv4/3rdparty/ libraries?"
##### System information (version)
- OpenCV => 4.2.0
- Operating System / Platform => Ubuntu 18.04, macOS 10.14, Windows 64 Bit
- Compiler => gcc-7.2, Apple Clang XCode 11.3, Visual Studio 2017, Visual Studio 2019

##### Detailed description

I've found that some of my non-OpenCV thirdparty libraries are copied to the installation directory into `lib/opencv4/3rdparty/`. This is breaking my build b

[2020-02-09 03:16] saskatchewancatch commented on #4952
@omasaht Thank you for your investigation.

I'll add some observations off my own:

1. `TIFFTAG_COMPRESSION` is a baseline tag. The Tiff documentation is loose on what tags are required, but it does say that programs that read/write Tiffs should be able to handle the baseline tags. It's reasonable to expect a modern Tiff deliverable to have at least `TIFFTAG_COMPRESSION`.

2. **libtiff** itself au

[2020-02-09 04:25] eborovenskiy commented on #12491
Hello. I've solved this error error: (-215:Assertion failed) scaleMat.type() == CV_32FC1 in function 'populateNet' by replace
up8 = UpSampling2D(size=(2, 2), interpolation='bilinear')(conv7)
to
up8 = UpSampling2D(size=(2, 2))(conv7)
It looks like my opencv(version 3.4.6) is not supported bilinear interpolatin in UpSampling2D layer.

[2020-02-09 04:34] UnaNancyOwen opened #16538 "Problem for Simple Alpha Blending"
##### System information (version)

- OpenCV => 4.2.0
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description

If running following the code for alpha blending, it output following results.

[code]

The output of alpha blending with green and red is correct result.
These turned greenish color and reddish color.
But, the output of alpha blending

[2020-02-09 05:12] Gilf641 commented on #13918
But that .pb file cannot be used on IOT Devices right? Specifically on Raspberry pi..
So I converted .h5 file to .tflite file.
But Thanks @dkurt, I mean I got your point!

[2020-02-09 08:33] dkurt commented on #16537
Please provide a reproducer - cmake flags and commands which were used to prepare install package.

[2020-02-09 09:08] #16337 closed

[2020-02-09 12:44] ww02082345 commented on #16538
scalar function definition:
typedef struct Scalar
{
    double val[4];
}Scalar;
In 4 variables. When we write 3 variables by using Scalar, the fourth(Alpha) is filled in by default 0.
Thus, we have to write in this way:
   cv::Mat blend_b = alpha * src + beta * cv::Scalar( 255, 0, 0, 255 );
    cv::Mat blend_g = alpha * src + beta * cv::Scalar( 0, 255, 0, 255 );
    cv::Mat blend_r = alpha * src +

[2020-02-09 13:00] UnaNancyOwen commented on #16538
@ww02082345 Thanks! It is work correctly, but that solution looks like the same way to using <code>cv::Scalar(255, 1, 0)</code>. I think it doesn't seem to be a fundamental fix for this bug.
However, It is one of good workaround for this bug.
Still, I wonder it yet. Why doesn't work correctly with only blue case? Why does work correctly with other colors?

[2020-02-09 13:09] ww02082345 commented on #16538
Sorry, I don’t know much about this question. I use opencv for a short time.

[2020-02-09 13:12] ww02082345 commented on #16538
I think it should be the problem of the alpha channel, that is, the scalar alpha will be blurred when it is actually applied.

[2020-02-09 18:37] dkurt commented on #13918
@Gilf641, That's probably about difference between TensorFlow and TensorFlo-Light. OpenCV has own implementations and does not depend on TensorFlow so you can just load a .pb file.

[2020-02-09 19:19] ww02082345 commented on #16538
I figured it out, that depends on the alpha transparency of the image. The alpha value determines the transparency of each pixel in a two-dimensional image. [0,255] Maps the values in the interval [0,1]. The (B, G, R, Alpha) corresponding to scalar is actually displayed in the image as: (R * Alpha, G * Alpha, B * Alpha). Normally, the default value of the scalar function is 0. For images, the disp

[2020-02-09 23:43] UnaNancyOwen commented on #16538
@ww02082345 Thanks, Your explanation seems to make sense.
If so I think the case of other colors (green and red) should also produce incorrect output. But, It is correct. What do you think?

[2020-02-10 04:59] Gilf641 commented on #13918
Okay then, I'll try that...
Thank you @dkurt!

[2020-02-10 06:15] asmorkalov commented on #16537
@emmenlau OpenCV relies on several projects for image and video decoding and acceleration. OpenCV has own instance of libjpeg, libpng, protobuf, etc and uses it in case if it cannot find system instance of the library. In case if you build OpenCV as static library the 3rd party libs are not linked inside of OpenCV and you need them for linkage of your application.
There are 2 ways to resolve your

[2020-02-10 06:16] saskatchewancatch commented on #16401
@czgdp1807  Not in the Python2 lib. In Python3, yes. You will see the key when you import cv2 in Python3 interpreter. For OP, it seems the underlying issue is that accessing the `descriptors` attribute of the struct results in a seg fault.

[2020-02-10 06:17] asmorkalov commented on #16511
@vpisarev Could you handle this?

[2020-02-10 07:21] razzOn2calculus opened #16540 "RuntimeError: unsupported primitive of type: PriorBox name: fc7_mbox_priorbox"
##### System information (version)

- OpenCV => :4.1.2:
- Operating System / Platform => :Windows 7:
- Compiler => :grey_question:(I amusing python)
- Openvino => :2019.3:
##### Detailed description
While loading pretrained model face-detection-adas-0001 , it thrown an error,
I found similar question answer but not working [Failed to initialize Inference Engine backend: Unsupported primitive of ty

[2020-02-10 07:38] mesimolnar opened #16541 "Cannot build opencv 4.1.2. with CUDA on Jetson TX2"
Hello,

I have to use CUDA on my JETSON TX2 devkit, but I cannot build the opencv 4.1.2 with CUDA.
Without -D WITH_CUDA option the cmake command can be run, but if I use this option, in the and it says : Configuring incomplete, errors occured, and in the log files I don't see any reason of it.
Have anyone else this problem, and how can I solve this.

[2020-02-10 08:40] asmorkalov commented on #14977
https://github.com/opencv/opencv/pull/16542

[2020-02-10 08:58] asmorkalov commented on #14977
https://github.com/opencv/opencv/pull/16543

[2020-02-10 09:07] emmenlau commented on #16537
Dear @asmorkalov , thanks, but I'm not talking about libraries that are compiled by OpenCV. The problem arises for binary thirdparty libraries.

To be more specific, before OpenCV is built, I have a number of binary IPP libraries in `TARGETDIR/lib/libipp*.a`. After I build OpenCV, I have copies of several of these libraries additionally in `TARGETDIR/lib/opencv4/3rdparty/`. When I build my own ima

[2020-02-10 09:14] emmenlau commented on #16537
Dear @asmorkalov this is not a "question" about OpenCV, it is a problem in using OpenCV. Please remove the label "question (invalid tracker)".

The current behavior leads to duplicate symbol errors in downstream projects because OpenCV unnecessarily copies binary dependencies and puts them in the linker path. I know no other library that does this. And it leads to issues in compilation.

[2020-02-10 09:15] dkurt commented on #16537
@emmenlau, that's why we ask you for complete reproducer. If static libraries are inside **install** package - it's a bug. By default, it should not be there

[2020-02-10 09:20] emmenlau commented on #16537
Thanks @dkurt and @asmorkalov for your consideration! And sorry, I'm trying to prepare a more minimal example and cut away the unrelated options from cmake, because I specify all options manually. Here it is the full list, I will edit it to remove unrelated options:
[code]

[2020-02-10 09:29] berak commented on #16511
same problem here: https://groups.google.com/forum/#!forum/opencv-gsoc-2020

[2020-02-10 09:30] emmenlau commented on #16537
Note that to reproduce this issue it may be required to work around issues #16536 and #16533 so that IPP libraries are detected.

[2020-02-10 09:32] alalek commented on #16537
This is source of your problems.
Static build requires all used dependencies.

So you have two options:
- use shared build
- exclude dependencies

[2020-02-10 09:35] emmenlau commented on #16537
@alalek Thanks for your reply. Can you elaborate more, please? Every build requires all dependencies, otherwise the executable will not link? But that does not mean to create copies of dependencies?

[2020-02-10 09:45] alalek commented on #16537
See comment above from @asmorkalov :

[2020-02-10 09:55] alalek commented on #16540
Invalid repository, should be filled in "dldt".
Anyway, you should try the latest release of OpenVINO: 2020.1 ("cpu_extension" has been eliminated).

[2020-02-10 09:55] #16540 closed

[2020-02-10 10:00] emmenlau commented on #16537
@alalek I am not sure that this has something to do with my concern. Maybe the problem did not become very clear.

Obviously, when I want to use IPP features, I need to link IPP. But this is rather simple linker logic. It is not related to static or shared build. Furthermore, it is not related to making *copies* of libraries.

Also, what you say is not used anywhere else in practice, not even insi

[2020-02-10 10:11] fegorsch commented on #16521
That resolves the issue. Is this a bug in IPP?

[2020-02-10 11:47] alalek commented on #16537
You can try to remove these non-system libraries and try to build your application.
Be constructive and describe how it should work (from the beginning to the end - with launching of final user application).

`install` target is intended to prepare bundle which can be redistributed.
Currently policy is that its content should not depend/require something which is not classified as "system" librari

[2020-02-10 12:37] emmenlau commented on #16537
Dear @alalek I appreciate your effort, thanks for taking the time. About your comments:

This breaks in another place. In my opinion (and similar to all C++ libraries I have ever used), OpenCV should specify its dependencies in the [cmake package config OpenCVModules.cmake](https://cmake.org/cmake/help/latest/manual/cmake-packages.7.html). If OpenCV copies the binaries, it will most likely also us

[2020-02-10 12:39] alalek commented on #16521
Thank you for checking!

Looks like this problem is related to AVX2 IPP optimization and i7-4760 CPU.
6th+ gen CPUs look good: checked on i5-6600 and i7-6700K

[2020-02-10 13:37] Benzez opened #16545 "VideoWroter using CAP_INTEL_MFX doesn't seem to close the file properly. Can't get info of the file length, etc."
##### System information (version)
- OpenCV => 4.11 (openvino)
- Operating System / Platform => UBUNTU 16.04
- Compiler =>

##### Detailed description
VideoWroter using CAP_INTEL_MFX doesn't seem to close the file properly. Can't get info of the file length, etc.

##### Steps to reproduce
int compress = VideoWriter::fourcc('H', '2', '6', '5');
m_videoWriter VideoWriter(fileName + ".mp4", cv::CAP_I

[2020-02-10 13:43] mshabunin commented on #16545
This backend does not support media containers, e.g. `mp4`. It can write raw video streams only: `h264`, `h265`, `mjpeg`, `mpeg2`; these streams do not contain meta information like format, length, etc.

See also: https://github.com/opencv/opencv/wiki/MediaSDK-encode-decode-backend

[2020-02-10 13:43] #16545 closed

[2020-02-10 13:50] UnaNancyOwen commented on #16538
@asmorkalov No, this is a bug report.

[2020-02-10 14:17] razzOn2calculus commented on #14409
@dkurt  , In openvino 2020.1 , there are no cpu extension available still getting error.

[code]

I have already installed latest version of visual studio, also downloaded build tools bundle. It didnt worked. In 2019.1 I had used and build the **cpu_extension.dll** and as i copied it to the path , even it does get error as i asked  [unsupported primitive type](https://github.com/opencv/opencv/issu

[2020-02-10 14:24] alalek commented on #16536
Please provide complete steps with full list of CMake options.
At least your report didn't mention important option "BUILD_SHARED_LIBS=OFF".

Please check contents of `OpenCVModules.cmake` + `OpenCVModules-release.cmake` files.

In case of Windows these lines are expected:
[code]
and
[code]

But other targets from "standalone" IPP are missing: `ippcv;ippi;ippcc;ipps;ippvm;ippcore`

[2020-02-10 14:30] emmenlau commented on #16536
Sorry, I was not aware that this makes a difference. The options are the same as in https://github.com/opencv/opencv/issues/16537#issuecomment-584027837. Is that sufficient?

I've checked all cmake files.

Yes, correct, this is exactly the issue! To be 150% certain we mean the same thing I will phrase in my own words: The libraries are referenced with their short name from `OpenCVModules.cmake`, b

[2020-02-10 15:15] dkurt commented on #14409
Visual Studio 16 2019
  could not find any instance of Visual Studio.

That means you have no MS Visual Studio of that version.

[2020-02-10 15:29] razzOn2calculus commented on #14409
I have installed it, latest MS visual Studio. I tried to solve problem for 2019 by this
[CMake: Visual Studio 15 2017 could not find any instance of Visual Studio](https://stackoverflow.com/questions/51668676/cmake-visual-studio-15-2017-could-not-find-any-instance-of-visual-studio) .

Also previously i was also getting error like that, even my visual studio is just installed recently "Visual Studi

[2020-02-10 15:49] cortical-iv opened #16547 "multiTracker.update() with pre-existing bounding boxes?"
I am using OpenCV 4.1.1 on Python 3.7 in Windows 10 64 bit.

##### Detailed description
I have a good object detection network that is really accurate, and am working on *tracking* the objects now. Interestingly, in the documentation for `multiTracker.update()` it seems to be overloaded with a version that takes in a bounding box as an input (https://docs.opencv.org/3.4.9/d8/d77/classcv_1_1MultiTr

[2020-02-10 16:03] ww02082345 commented on #16538
Sorry, I have tested the code many times, and although I can't find any reason, Personally I worry about the alpha value and the blue value in the pixel.

[2020-02-10 16:07] alalek commented on #16547
This means that passed parameters are not valid.
Your snippet is not complete, so there is no way to reproduce the problem.

There is no [.update()](https://docs.opencv.org/3.4/d8/d77/classcv_1_1MultiTracker.html#ad4f8791aa78ca01a57c9135d1dc8a7ed) API which requires two inputs. Check headers:

---

Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

And finally, you sho

[2020-02-10 16:07] #16547 closed

[2020-02-10 16:23] alalek commented on #16538
There is bug in `MatExpr` implementation.
Current implementation messes "scalars" and `cv::Scalar(x, 0, 0, 0)` through `.isReal()` call.
Check this code [here](https://github.com/opencv/opencv/blame/3.4.9/modules/core/src/matrix_expressions.cpp#L1317-L1321).
This "optimization" branch is not valid for multi-channel `cv::Mat()` at least.

[2020-02-10 16:28] ww02082345 commented on #16538
Sorry, I tested the code many times and didn't understand what caused the problem.

[2020-02-10 16:42] alalek commented on #16537
The main assumptions of described approach are:
- dependent packages have "config" file for CMake.
- "configuration" file can be properly versioned (to avoid mismatched versions and runtime crashes).

You still need IPP's .a files to build final application.
How to you plan to specify them? Especially on correct version which were used to build OpenCV to ?

---

This issue report contradicts to #1

[2020-02-10 17:22] ww02082345 commented on #16538
Is it possible that the variable is not released from memory because of the wrong use of the function?

[2020-02-10 19:18] emmenlau commented on #16537
Dear @alalek , I'm very thankful for your help and time. But there seems to be a lot of confusion about software deployment. Is there possibly somebody available that has additional experience in this topic, and/or in cmake and/or pkgconfig?

If you want to further dive into this issue I may also be able to schedule a short call so we can go over some of the points?

Basically, what you say is not

[2020-02-10 19:20] #16326 closed

[2020-02-10 19:23] #15786 closed

[2020-02-10 19:25] Ayke commented on #16541
Mine had the same problem. But I finally made it with '-D WITH_CUDA'. You should look into the specific error it pops up, and try to solve that error

[2020-02-10 19:27] vishwas1234567 opened #16550 "libjasper-dev not getting installed in the virtual box installation of the ubuntu 18.04"
sudo apt-get install -y libjasper-dev
(base) vishwas@vishwas-VirtualBox:~$ sudo apt-get install -y libjasper-dev
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package libjasper-dev

[2020-02-10 19:53] fnhdx commented on #16475
@dkurt @ashishkrshrivastava, as your suggestions, I removed all the type conversions and simplified my model (see below). Unfortunately, I still got same error message
cv2.error: OpenCV(4.1.2) /io/opencv/modules/dnn/src/dnn.cpp:525: error: (-2:Unspecified error) Can't create layer "131" of type "Cast" in function 'getLayerInstance'

`class DoubleConv(nn.Module):

    def __init__(self, in_channels

[2020-02-11 00:17] jklontz opened #16551 "imread() triggers an assert on this image"
##### System information (version)
- OpenCV => master branch and 2.4 branch
- Operating System / Platform => Ubuntu 18.04
- Compiler => GCC 7.4.0

##### Detailed description

![This invalid image](https://user-images.githubusercontent.com/682795/74201902-346a3580-4c28-11ea-9843-742bb3545b34.jpg) crashes cv::imread on the validateInputImageSize() call [here](https://github.com/opencv/opencv/blob/ma

[2020-02-11 02:46] alalek commented on #16551
Can't reproduce:
- OpenCV VCS version: 3.4.9-197-g1dd24eeec0
- OpenCV VCS version: 4.2.0-276-gaa2777ed61

With both builtin JPEG code (3rdparty directory through `BUILD_JPEG=ON`) or system library (Fedora 31).

[code]

Output:

[code]

Perhaps you should attach malformed content through `.zip` file to avoid any processing from GitHub.

---

It is a regular C++ exception.

---

2.4 is EOL. No more

[2020-02-11 05:23] williamfzc commented on #15749
@kanehekili hello :)
same issue here so, can I know how you get your code working again ?
thanks

[2020-02-11 06:36] jshiwam commented on #16432
Hello everyone I have a problem in understanding the python bindings. I read the python binding documentation on how  bindings are generated in opencv, I found out that the gen2.py file generates the wrapper functions for all the functions, classes etc. that are pyopencv_generated_*.h. These header files are included in cv2.cpp file where manual wrapper functions are placed. My question is if ther

[2020-02-11 06:37] jshiwam commented on #16432
I was trying to work on this bug. I have a problem in understanding the python bindings. I read the python binding documentation on how  bindings are generated in opencv, I found out that the gen2.py file generates the wrapper functions for all the functions, classes etc. that are pyopencv_generated_*.h. These header files are included in cv2.cpp file where manual wrapper functions are placed. My

[2020-02-11 07:04] williamfzc commented on #15749
what's more,

[code]

Result:

[code]

a little confused. which one is (will be) correct in the future?
and, what is the actual meaning of these timestamps? (start time ? end time ? )

[2020-02-11 07:26] SaddamBInSyed commented on #16439
@YashasSamaga
I have successsfully installed above advised your buildOPenCV4 script on jetson nano and when I run the "yolov3_opencv_dnn_cuda.cpp" file then I am getting the below "undefined reference" error.

please advise

**g++ yolov3_opencv_dnn_cuda.cpp -O3 -I/usr/local/include/opencv4 -lopencv_core -lopencv_dnn -lopencv_imgproc**
/tmp/ccBlrJl0.o: In function `main':
main.cpp:(.text.startup+0x

[2020-02-11 07:35] SaddamBInSyed commented on #16439
after linking lib its working fine.
thank you.

**g++ main.cpp -O3 -I/usr/local/include/opencv4 -lopencv_core -lopencv_dnn -lopencv_imgproc -lopencv_core -lopencv_videoio -lopencv_highgui**

[2020-02-11 07:35] #16439 closed

[2020-02-11 08:21] WisdomPill commented on #16541
Have a look at this https://github.com/jetsonhacks/buildOpenCVTX2

[2020-02-11 08:21] kekekeke4 opened #16553 "Microsoft Windows Server 2012 R2 Datacenter invoke split method crash"
I use split method:
    Mat img = imread("base.jpg");
    vector<Mat> img_channels;
    split(img, img_channels);
on win10 it's ok , but I run the app on  Microsoft Windows Server 2012 R2 Datacenter,it crashed. the attachment is app crashed
![image](https://user-images.githubusercontent.com/8359389/74220418-896e8000-4cea-11ea-884e-fb7fd149251f.png)

[2020-02-11 08:36] dkurt commented on #16550
How this error relates to OpenCV?

Have you tried `apt-get update` before `apt-get install`?

[2020-02-11 08:36] #16550 closed

[2020-02-11 08:37] dkurt commented on #16553
Please use https://answers.opencv.org/questions/ for usage questions.

[2020-02-11 08:37] #16553 closed

[2020-02-11 09:41] mesimolnar commented on #16541
Dear all! I could install it, but in c++ I cannot use it. The CUDA relevant headers are in the opencv4/openc2 dir, but the compiler cannot see this. e.g. cudaarithm.hpp. Have you any idea for the problem solution?

[2020-02-11 09:58] #14630 closed

[2020-02-11 10:00] #14928 closed

[2020-02-11 10:01] #15126 closed

[2020-02-11 10:06] #12822 closed

[2020-02-11 10:47] ankit12321 commented on #15858
@bencha30 : Could you help with the solution?  i am getting the same error and was not able to interpret the above sol "rebuild opencv removed cuda arch bin version < 5.3"

[2020-02-11 12:17] Midhun7495 commented on #15892
I'm also facing this issue. I'm trying to install opencv4 with CUDA 10.1. The make doesn't complete and gives this same error. Is it some bug?

[2020-02-11 15:46] #11061 closed

[2020-02-11 15:48] #15809 closed

[2020-02-11 16:44] razzOn2calculus commented on #14409
Problem not solved . I had successfully installed it, even not working.

[2020-02-11 16:52] jklontz commented on #16551
Ah this is in indeed a regular C++ exception. I'm sorry for wasting your time here, I should have looked at the CV_Assert implementation more carefully.

[2020-02-11 16:52] #16551 closed

[2020-02-11 17:00] razzOn2calculus opened #16557 "RuntimeError: Failed to create plugin MKLDNNPlugin.dll for device CPU"
##### System information (version)

- OpenCV => :4.2.0:
- Operating System / Platform => :Windows 7 4 Bit:
- Compiler =>:Not available:
- Openvino => :2020.1:
-  Running on CPU

##### Detailed description
Importing model face-detection-adas-0001 Throws an error saying

##### Steps to reproduce
My code is
[code]

[2020-02-11 17:03] catree commented on #8813
@antithing

In my opinion, you should try to extract some data to be able to reproduce and analyze the issue. Save some images in lossless format (e.g. `.png`) where the original issue is present. Use a minimal program that detects the markers, extract the corners location and compute the pose, draw the object frame.

Then, you would be able to compare between the different poses.
Probably you sho

[2020-02-11 17:05] bencha30 commented on #15858
If you install your opencv through cmake, remove the arch bin version below 7 on the configuration file.
Note: cuda will not work if you install your opencv using pip /sudo apt install, use cmake instead.

[2020-02-11 17:09] alalek commented on #16557
Invalid like #16540
This can't be fixed from OpenCV side.

---

How is the progress?

[2020-02-11 17:09] #16557 closed

[2020-02-11 17:19] razzOn2calculus commented on #16557
Weeks passed problem has not been solved. Progress is down :( .
Before older version of openvino says **RuntimeError: unsupported primitive of type: PriorBox name: fc7_mbox_priorbox**   , After new installation 2020.1 , where  there is no cpu extension specific,
Giving another error **RuntimeError: Failed to create plugin MKLDNNPlugin.dll for device CPU**   .  Before that , while running demo in w

[2020-02-11 17:23] dkurt commented on #14409
Try to clean build directory, check which other generators are available by CMake. Attach the list here.

[2020-02-11 17:51] ddrmorais opened #16558 "to Renew tracking system every x frames"
<- OpenCV => 4.0 in Python
- Operating System / Platform => Linux Mint 19.3 64 Bit>

<Dear all,

    My application is about image processing and I want to renew to tracking system roughly every 50 or 60 frames in python.
    I am using the KCF tracker and it works well when I just need  one tracking for the whole video. However, if I want to renew the tracking system(bbox) every X frames, I did n

[2020-02-11 18:49] Ayke commented on #16541
I can only guess, my suggestion is to install opencv with '-D WITH_CUDA', '-D OPENCV_GENERATE_PKGCONFIG=YES'

If opencv in python works but doesn't work in C++, it is probably because of pkgconfig, which corresponds to the latter command. Also I have install opencv on tx2 just days ago, you can take a look at my gist as well, feel free to write comments!

[2020-02-11 19:23] FROGbots-4634 commented on #16534
Well for instance:

[code]

In this case, `input` is being copied to `someMat` *after `someMat` has been released*. The actual behavior is that it *seems* to work just fine, but the expected behavior would be that 1) An exception would be thrown since ( I think) freed memory is being used again, and 2) If that is indeed the case, that eventually you might run into undefined behavior.

[2020-02-11 19:33] alalek commented on #16534
This call releases underlying buffer if any (actually decrements buffer's reference counter).
Object becomes similar to `= new Mat()`. This object can be reused after that (like clean fresh-created `Mat`). Object state is consistent and valid.

This behavior is aligned with C++ release() call.
Look on `Mat` as on a "smart" pointer.

BTW, this code
[code]

doesn't copy data. It increments buffer's

[2020-02-11 20:45] antithing commented on #8813
Thanks again @catree, this actually looks like a bug with the tagStandard41h12 dictionary.
Switching to the 36h11 markers has improved my results across the board. They are faster, more robust and less prone to the flipping.

Thanks!

[2020-02-11 21:15] FROGbots-4634 commented on #16534
Interesting... so when does the Mat *actually* get *fully* freed then? **EDIT:** ohh OK so looking at `Mat.java` I see there's a totally different call which gets called by the GC, `n_delete(long nativeObj)`. So, if I were to invoke  `n_delete(long nativeObj)` on a Mat and *then* try to use it, *that* would be a use-after-free then, right?

 - *`"doesn't copy data"`* sure of course, you're just co

[2020-02-11 21:23] alalek commented on #16534
You should not call "native" methods (they are "private" anyway).

`n_delete()` is called from special `finalize()` only.
No way to use Mat object after that.

No. There is dedicated C++ reference counter (which can be shared with other C++ code).
JVM don't know about this counter. Also JVM don't know about size of the native buffers (this leads to memory usage issues).

[2020-02-11 22:17] karlphillip commented on #15525
I'd like to work on this.

[2020-02-11 23:13] razzOn2calculus commented on #14409
In 2020.1 version, After installing and running the demo It thrown same error
**Could not find instance of visual studio**

I've uninstalled 2019 visual studio, and after installing visual studio 2017 , also same error with
**Visual Studio 15 2017.... Could ot find any instance of Visual Studio**

I ran with my own code, now giving another error,
**RuntimeError: Failed to create plugin MKLDNNPlugi

[2020-02-11 23:42] basedrhys opened #16560 "Throw exception when creating VideoWriter with invalid name"
##### System information (version)

- OpenCV => 4.2.0 (Python)
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description

When creating a VideoWriter object, if you supply an invalid filename, it silently fails and doesn't create the video file. This was found when using datetime as a filename:
2020-02-12_12:31:35.avi --- The colons are not allowe

[2020-02-12 00:48] catree commented on #8813
@antithing
If you can, you should consider using multiple tags in 3D, example using a cube shape (an AprilTag on each cube face). Or using multiple planar AprilTags. Using a non-planar shape or increasing the number of points should be a better way to overcome the issue, should reduce the risk to have the issue.

[2020-02-12 01:18] portgasray commented on #16064
![repeat](https://user-images.githubusercontent.com/17681580/74294207-21667b00-4d78-11ea-9632-56c33065b2a9.PNG)
![repeat2](https://user-images.githubusercontent.com/17681580/74294220-29261f80-4d78-11ea-85e4-5ef58b2c60a2.PNG)
![repeat3](https://user-images.githubusercontent.com/17681580/74294230-2c211000-4d78-11ea-890d-cea4a462b3fa.PNG)

remove 'cv2' folder from ```/usr/local/lib/python3.6/dist-pac

[2020-02-12 02:00] lincccc commented on #16197
@asmorkalov I've updated with code and image.

[2020-02-12 03:38] #15525 closed

[2020-02-12 05:41] saskatchewancatch commented on #16538
@ww02082345 @UnaNancyOwen I'm going with @alalek 's theory. The problem isn't related to memory management. Your code is correct and just as we'd expect it to be.

The "optimization" that alalek is talking about is the handling of special scenarios concerning Matrix Expressions. The special handling on line 1317 is entered for the case of blending the blue channel, but not the other ones. That spe

[2020-02-12 06:39] aql315 opened #16562 "cv.dnn.readnetfrom darknet gives error in relu activation!"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:Windows/python and c#
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

[2020-02-12 07:52] alalek commented on #16560
Colons are allowed for URL parameters.
Also complex GStreamer pipelines are allowed too.

There is `.isOpened()` method which you should use.

[2020-02-12 07:52] #16560 closed

[2020-02-12 08:39] kaanaykutkabakci commented on #13284
Hello @LJXLJXLJX , did you find the solution?

[2020-02-12 10:37] mshabunin commented on #14044
Can not reproduce with latest _master_ branch version. Is this issue still valid?

[2020-02-12 10:57] dkurt commented on #16562
please provide a reproducer. Until that let's keep issue closed

[2020-02-12 10:57] #16562 closed

[2020-02-12 11:29] mshabunin commented on #13255
Can not reproduce with latest _master_ branch version, neither DSHOW, not MSMF backends do not show any leaks:

CAP_DSHOW
<img width="409" alt="mem_dshow" src="https://user-images.githubusercontent.com/3304494/74331089-f72ab280-4da3-11ea-9dff-32b1a68e6336.png">

CAP_MSMF
<img width="411" alt="mem_msmf" src="https://user-images.githubusercontent.com/3304494/74331092-f85bdf80-4da3-11ea-8491-9f553fc7

[2020-02-12 12:16] Zrufy opened #16566 "Input layer not found: dense2/bias in function 'cv::dnn::dnn4_v20190902::`anonymous-namespace'::TFImporter::connect"
##### System information (version)

- OpenCV => : 4.1.2:
- Operating System / Platform => :Windows 64 Bit:
- Compiler => :Visual Studio 2015:

##### Detailed description

##### Steps to reproduce

I converted from a keras model to tensorflow. But I get this error. Has anyone already encountered this type of error?

[2020-02-12 13:01] LaurentBerger commented on #14044
today :

[code]

with
[code]

[2020-02-12 13:27] fogelton commented on #13255
I think there it is on your graphs, it is small, the open procedure is causing it, it was msmf in my case. try to run it for a day to see the difference. bugs usually do not disappear on their own...

[2020-02-12 18:05] #16566 closed

[2020-02-12 18:06] dkurt commented on #16566
Please provide a reproducer

[2020-02-13 01:30] ashishkrshrivastava commented on #16475
@fnhdx It would be really helpful if you upload your recent onnx model.

[2020-02-13 02:01] enjoykcc456 opened #16568 "Faster-RCNN Caffe Inference with OpenCV"
Hi,

I have run into an error while trying to make inference with Faster-RCNN caffemodel using OpenCV (4.2.0) following this https://github.com/opencv/opencv/issues/10476.

The following is the code i use:
[code]
The prototxt of the model:
[code]
The error that i ran into:
`detections = net.forward()
cv2.error: OpenCV(4.2.0) /io/opencv/modules/dnn/src/dnn.cpp:562: error: (-2:Unspecified error) Can

[2020-02-13 03:20] razzOn2calculus commented on #14409
I installed ubuntu and problem solved successfully. Thanks @dkurt   and @alalek :)

[2020-02-13 04:51] guapimaomao opened #16570 "How to customize a new layer for caffe in opencv？"
##### System information (version)

- OpenCV => 3.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2015
-->

##### Detailed description

##### Steps to reproduce

[2020-02-13 05:46] ashishkrshrivastava commented on #16323
@BadMachine Can you please export and upload model using Pytorch 1.3 instead of Pytorch 1.2.

[2020-02-13 06:05] dkurt commented on #16570
Please follow https://docs.opencv.org/master/dc/db1/tutorial_dnn_custom_layers.html

[2020-02-13 06:05] #16570 closed

[2020-02-13 06:07] dkurt commented on #16568
Check how Python later replaced here: https://github.com/opencv/opencv_extra/blob/master/testdata/dnn/faster_rcnn_vgg16.prototxt

[2020-02-13 06:11] saskatchewancatch commented on #16538
Correction to what I said, and consider smaller example:
[code]

Input `img` is:
[code]

Bug in MatExpr causes `beta * Scalar(255, 0, 0)` to be pass the test for `isReal()`. As a result, it ends up adding `beta * Scalar(255, 0, 0)` to all channels of `img`. So `blend_b`:
[code]
`blend_g` is correctly handled because it is handled in the correct optimization block in that conditional tree (see alal

[2020-02-13 06:24] guapimaomao opened #16571 "Can't create layer "result" of type "CTCGreedyDecoder" in function 'cv::dnn::dnn4_v20190902::LayerData::getLayerInstance'"
##### System information (version)

- OpenCV => 4.2
- Operating System / Platform => Windows 64 Bit
- Compiler =>Visual Studio 2015

##### Detailed description

##### Steps to reproduce

The following is the code i use:
[code]
The prototxt of the model:
[code]
The error that i ran into:
`cv2.error: OpenCV(4.1.2) C:\projects\opencv-python\opencv\modules\dnn\src\dnn.cpp:525: error: (-2:Unspecified e

[2020-02-13 08:04] dkurt commented on #16571
Please add a reference to origin implementation of CTCGreedyDecoder layer (or just link to Caffe fork with it). Thanks in advance!

[2020-02-13 08:12] Zrufy commented on #15336
@kHarshit i have the same error from my pb after the conversion.
have you figure out the solution for this problem?
Because I have tried many solutions but none has brought me the expected result.

[2020-02-13 08:15] guapimaomao commented on #16571
Please be specific

[2020-02-13 08:18] guapimaomao commented on #16571
Please explain in details

[2020-02-13 08:33] YashasSamaga commented on #16420
@isra60

`csresnext50-panet-spp-original-optimal.cfg` requires components such as grouped convolutions which are not yet supported in the darknet importer. Hence, even though the network is imported successfully, the outputs are not correct.

`enet-coco.cfg` requires [PR16436](https://github.com/opencv/opencv/pull/16436) which I will mostly finish off this weekend.

`lp-recognition.cfg` uses some

[2020-02-13 08:37] YashasSamaga commented on #16541
@mesimolnar https://answers.opencv.org/question/209687/which-gcc-compiler-is-need-to-run-opencv4-code/?answer=209754#post-id-209754

[2020-02-13 08:41] UndeadBlow commented on #13801
@Abu-Abdullah did you find some solution? Maybe some commit back thats work? This issue makes me mad.

[2020-02-13 10:22] enjoykcc456 commented on #16568
Hi @dkurt, thanks for the reply.
May i know what you mean by check the python layer. I am quite new in this field. Greatly appreciate if you could describe more on this.
Does it mean that the model i trained by my own is not compatible with OpenCV dnn?
Is there any way that i can do to make it works?
Thank you

[2020-02-13 11:15] Coderx7 commented on #14866
@RuRo's suggestion seems to be the rightest/best solution here. so I second this :
@RuRo:

[2020-02-13 11:27] isra60 commented on #16420
Hi @YashasSamaga Thank you for your response..

So grouped convolutions will be supported with the next PR.

Also about bias_match and jitter options.
https://github.com/AlexeyAB/darknet/issues/279

Seems to be used only in training..

[2020-02-13 11:34] ww02082345 commented on #16538
@saskatchewancatch .Thanks for the information, I have learned.

[2020-02-13 12:58] dkurt commented on #16568
It's compatible but you need to apply this change:

https://github.com/opencv/opencv_extra/blob/04efd6f5b4160613dfb78b1cc2e4d3bd61c272f2/testdata/dnn/faster_rcnn_vgg16.prototxt#L329-L357

[2020-02-13 13:29] mesimolnar commented on #16541
@YashasSamaga thank you it is worked :)

[2020-02-13 13:29] #16541 closed

[2020-02-13 13:39] roadcode opened #16576 "VideoCapture.read drop the last few frames"
##### System information (version)

- OpenCV => :3.4.4.19:
- Operating System / Platform => :Ubuntu16.04LTS:
- Compiler => :Using pip opencv_ptyhon:

##### Detailed description
Using VideoCapture the read video, and sometimes it will drop the last fewe frame.
the last frame num CAP_PROP_POS_FRAMES is not qual CAP_PROP_FRAME_COUNT value

##### Steps to reproduce
here is the Python code
[code]

the

[2020-02-13 14:49] abhiTronix commented on #16576
@roadcode Nope not producible. Something it wrong with your video, try different source.

[2020-02-13 15:41] roadcode commented on #16576
@abhiTronix i upload the video to [Google Drive](https://drive.google.com/file/d/1bKU7TFWEdQ7-wD8URLtGcd9yN_kX6LaH/view?usp=sharing), this video have 300 frames, but can only read 244 frames,

[2020-02-13 15:43] jshiwam commented on #16432
I tried to give a custom error message from `pyopencv_to(PyObject* obj, Rect& r, const ArgInfo& info)` using PyError_SetString() or failmsg() which is defined in cv2.cpp file but that doesn't seem to work even after making the changes in cv2.cpp same error message is obtained

[2020-02-13 16:06] abhiTronix commented on #16576
@roadcode your video is trimmed from original video that's why this is happening. Try another video and you won't get this behavior.

[2020-02-13 16:31] UndeadBlow commented on #13801
@Abu-Abdullah did you find some solution? I have the same:

[2020-02-13 16:59] roadcode commented on #16576
@abhiTronix thks

[2020-02-13 16:59] #16576 closed

[2020-02-13 17:15] sl1pkn07 commented on #16458
this happen also with gcc 8 and gcc 9

tested in opencv 4.2.0

[2020-02-13 19:57] #11866 closed

[2020-02-13 20:52] codars opened #16579 "OpenCV does not respect exif orientation in PNG file"
##### System information (version)

- OpenCV => 4.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2015

##### Detailed description

PNG format starts to [support EXIF information](http://ftp-osl.osuosl.org/pub/libpng/documents/pngext-1.5.0.html#C.eXIf) since 2017, but somehow using IMREAD_COLOR to read a PNG file does not respect the orientation

Attached Capture.png

[2020-02-13 21:25] dkurt commented on #14566
Sorry for too late fix but here it is: https://github.com/opencv/opencv/pull/16580. Thanks for nice catch!

[2020-02-13 22:42] yieniggu opened #16581 "Opencv video writing decreases fps drastically"
##### System information (version)

- OpenCV => 3.2.0
- Operating System / Platform => Ubuntu 18.04
- Compiler =>  cmake

Hello, I'm working on a project that involves object detection + sort tracking.
I have scripts to work with videos an camera using openv in the Coral dev board.

The main issue is when make usage of the VideoWriter to save the output of the detections.

For camera script it's u

[2020-02-14 00:11] tompollok commented on #14566
You dont have to say sorry. Im very thankful for you investigating it, so thank you for the patch! Its really awesome to see how fast the DNN backends have evolved, especcially in the last 12 months!

[2020-02-14 01:48] catree commented on #15856
Looks like the constraint for `getGaussianKernel()` being odd is for 2d convolution and avoiding issue with bias/shifting?

Related? [what if the filter window size is an even number in Gaussian filtering?](https://stackoverflow.com/a/52349082)

Here (SURF code), it looks like the Gaussian coefficients are requested. In this case, there should be no constraint of odd size?
Anyway, in [An Analysis

[2020-02-14 05:43] enjoykcc456 commented on #16568
Hi @dkurt , thanks a lot for the info, after applying the changes, it can now be forwarded into the net.

When i try the script above with the model VGG16_faster_rcnn_final.caffemodel and faster_rcnn_vgg16.prototxt, the output of the detections is an array of (1, 1, 100, 7) where every detection (100 rows) is a vector (with 7 colums ) [id, classId, confidence, left, top, right, bottom].

However,

[2020-02-14 06:07] saskatchewancatch commented on #16538
Anyone have suggestions on how this could be fixed?

It's a bit tricky to fix that conditional tree, because [this conditional](https://github.com/opencv/opencv/blame/3.4.9/modules/core/src/matrix_expressions.cpp#L1317-L1321) was created for the special case where second matrix in expression is empty and the Scalar has 0 for last 3 elements in vector (among other conditions). The intention here se

[2020-02-14 06:12] dkurt commented on #16568
Try to add postprocessing from the same file: https://github.com/opencv/opencv_extra/blob/04efd6f5b4160613dfb78b1cc2e4d3bd61c272f2/testdata/dnn/faster_rcnn_vgg16.prototxt#L428-L520

[2020-02-14 06:25] dkurt commented on #16581
Please use a forum for usage questions: https://answers.opencv.org/questions/

And complete issue description. There is information about VIDEO_WIDTH and VIDEO_HEIGHT. Also you may try different VideoWriter backends and  fourcc

[2020-02-14 06:48] enjoykcc456 commented on #16568
Hi @dkurt ,

After i append the postprocessing to the prototxt, the following error occurs:
[code]
The prototxt after appending the postprocessing:
[test.prototxt.txt](https://github.com/opencv/opencv/files/4203138/test.prototxt.txt)

**This custom Faster-RCNN model is trained on data set with only one type of object using IBM PowerAI Vision training tool.

[2020-02-14 07:00] dkurt commented on #16568
Check number os classes please at DetectionOutput layer. Probably it is different for your dataset.

[2020-02-14 07:20] enjoykcc456 commented on #16568
Hi @dkurt,

After changing the num_classes, the inference works well now!
Thanksss a lot for your help! Really appreciate it!

[2020-02-14 07:22] dkurt commented on #16568
Great, thanks! I believe our investigation will be also useful for others who have trained Faster R-CNN.

You may also try to run it with IE backend to improve efficiency: https://github.com/opencv/opencv/wiki/Intel%27s-Deep-Learning-Inference-Engine-backend

Can we close issue?

[2020-02-14 07:26] enjoykcc456 commented on #16568
Hi @dkurt ,

Will test the IE backend out.
Yea sure, we can close this issue now.

Once again. Thanks for the help!

[2020-02-14 07:27] #16568 closed

[2020-02-14 07:32] ouening opened #16582 "Import SavedModel from TensorFlow"
##### System information (version)

- OpenCV => 4.1.2（Ubuntu18.04），4.2（Win10 64bit)
- Operating System / Platform => Linux, Win
- Compiler => gcc7.5(linux), Visual Studio 2019(Win10)
- Tensorflow => 2.1

##### Detailed description
I want to convert keras model to `.pb` file and load it using `dnn.readNetFromTensorflow()` , and I got an error like the title shows ( same error in Ubuntu18.04 with op

[2020-02-14 07:52] dkurt commented on #16582
OpenCV do not support loading from SavedModel format for now. You need to create a frozen graph.

That's kind of strange that TensorFlow has a lot of ways to export models in different formats: TFLite, frozen graph, SavedModel, serving model, TFHub representation, Keras's .h5.

[2020-02-14 07:55] Echo-Joker opened #16583 "dyld: warning, LC_RPATH"
dyld: warning, LC_RPATH @executable_path/../Frameworks in /Library/Python/2.7/site-packages/cv2/.dylibs/QtWidgets being ignored in restricted program because of @executable_path (Codesign main executable with Library Validation to allow @ paths)

[2020-02-14 07:56] asmorkalov commented on #15635
@dkurt Could we close the ticket with "not an issue" status than?

[2020-02-14 07:59] asmorkalov commented on #14977
Current status:
- BASE64 decoding is there for all formats.
- BASE64 encoding is not implemented in master at all. The flag is suppressed by implementation and `cv::FileStorage` always write file with list of values.

[2020-02-14 08:00] asmorkalov commented on #15302
@frozenparadox99 Do you have any progress on the bug?

[2020-02-14 08:06] dkurt commented on #15635
I feel confident that left QRCore is not valid but why another one is not detected is not clear for me. Despite it has no enough white border pixels at the top and left, can we check that background is not quantized to white pixels?

[2020-02-14 08:10] asmorkalov commented on #4952
The issue is closed as not reproducible any more.

[2020-02-14 08:10] #4952 closed

[2020-02-14 08:57] asmorkalov commented on #16468
@swiss-knight friendly reminder.

[2020-02-14 08:57] asmorkalov commented on #16511
@vpisarev Friendly reminder.

[2020-02-14 09:03] rcywongaa commented on #8813
It seems that even with non-coplanar points, the problem does not go away.

Specifically, in my experimentation, I found that using non-coplanar points just changes the direction of flipping.

i.e. if with just 1 coplanar marker, my flipping was 10 degrees (correct) and -10 degrees (incorrect), adding 1 non-coplanar marker just made the flipping become 10 degrees (correct) and 190 degrees (incorre

[2020-02-14 10:30] alalek commented on #16583
We don't ship these Python bindings.
We can't fix that because it is not a part of this repository.

[2020-02-14 10:30] #16583 closed

[2020-02-14 10:41] emmenlau commented on #16536
The same error may be true for other libraries like `ADE`. On macOS I get an error that no target exists for `libade`, similarly to the IPP libraries.

[2020-02-14 10:42] emmenlau commented on #16536
I see that this issue is labelled `feature` but it breaks the build of OpenCV consumers. Should it not be labelled `bug` instead?

[2020-02-14 10:57] alalek commented on #16536
Distribution through "install" target of "static builds" are not well supported / tested.

Use `-DBUILD_SHARED_LIBS=ON` or don't call "install".

[2020-02-14 11:44] alalek commented on #16538
Fix may look like this:
[code]

Need to add corresponding simple test and prepare a PR.

---

BTW, Exploring of similar problem shows that there is similar approach [few lines above](https://github.com/opencv/opencv/blame/3.4.9/modules/core/src/matrix_expressions.cpp#L1315).

[2020-02-14 11:54] lapislazinus opened #16584 "CMake fails to configure opencv 4.1.2 WindowsStore (UWP/ WinRT)"
### Detailed description
Error when trying to configure opencv 4.1.2 for VS 16 2019 ARM64 UWP

`include could not find load file: cmake/platforms/OpenCV_WinRT.cmake`

CMakeLists.txt line 104:
`include("cmake/platforms/OpenCV-${CMAKE_SYSTEM_NAME}.cmake" OPTIONAL RESULT_VARIABLE "OPENCV_CMAKE_SYSTEM_FILE")`

which resolves to _cmake/platforms/OpenCV-WindowsStore.cmake_
The only line in this file is:

[2020-02-14 12:13] alalek commented on #16584
Already fixed: #15720
Update to latest version.

[2020-02-14 12:13] #16584 closed

[2020-02-14 12:17] lapislazinus commented on #16584
my apologies, i thought i had the latest version

[2020-02-14 13:37] mshabunin commented on #13255
I've been able to reproduce small leak with MSMF backend, ~3-4 Kb per camera open-read-close operation. I've not found any evidences of leaks in OpenCV, so it could be a problem in MediaFoundation. In order to prove or deny this we need standalone example application based only on MediaFoundation which will perform same operations and check it for leaks.

[2020-02-14 15:48] fnhdx commented on #16475
here is the model
https://www.dropbox.com/s/3yihghgh61vn8nj/tmp2.onnx?dl=0

[2020-02-14 15:54] APrigarina commented on #15635
@dkurt This QR-code doesn't match the standard at the top (the ratio of white and black pixels must be 1:1:3:1:1 from all sides in three position patterns which are used to find QR-code on the picture)

[2020-02-14 16:46] SimpleVlad commented on #15635
![66182795-03418d80-e6a9-11e9-9a02-1978de83bbde](https://user-images.githubusercontent.com/39303687/74550526-95647700-4f62-11ea-918c-5d304acde024.png)

Yes, we can see this

[2020-02-14 17:02] #14566 closed

[2020-02-14 17:11] vpisarev commented on #16511
@tompollok, @berak, @asmorkalov, terribly sorry for the slow reaction. Soon after noticing the problem I adjusted the settings, but did not test it properly, and was sure the problem is fixed. Now it should have been finally fixed. Too late for this hackathon, but for next hackathon it should work :) I've also fixed permissions for the gsoc forum, @berak, thanks for reporting it!

[2020-02-14 17:16] tompollok commented on #16511
works now

[2020-02-14 17:16] #16511 closed

[2020-02-14 19:10] czgdp1807 opened #16587 "Failing tests for Split layer"
This issue aims to fix the tests which are failing for `split` layer in ONNXImporter. The problem was discovered while working on https://github.com/opencv/opencv/pull/16424
Specifically see, https://github.com/opencv/opencv/pull/16424#issuecomment-585985320
Please comment more such failing tests if you come across any.

##### System information (version)

- OpenCV => :grey_question:
- Operating S

[2020-02-14 19:11] czgdp1807 commented on #16587
I want to work on it.

[2020-02-14 20:02] vpisarev commented on #16343
dear @cwreynolds, @saskatchewancatch, thank you for the help! Your advice with "visibleFrame" property worked well. Also, I had to postpone the actual repositioning of newly created windows until the very first imshow.

[2020-02-15 02:08] cwreynolds commented on #16343
Great! Thank you for the fix @vpisarev

[2020-02-15 03:25] fhwzl opened #16589 "NVIDIA FFmpeg wrapper for Windows OpenCV (opencv_ffmpeg_64.dll) - Help"
### System information
- OpenCV => 3.4.9
- Operating System / Platform => Win10 64 Bit
- Compiler => Visual Studio 2015 and mingw64
- FFmpeg => n4.2.1

##### Detailed description
- I compile FFmpeg  with nvidia gpu support based on vs2015 and mingw64
  (Using_FFmpeg_with_NVIDIA_GPU_Hardware_Acceleration.pdf in NVIDIA Video_Codec_SDK doc)
- I do ffmpeg warpper failed based on
  https://github.com/o

[2020-02-15 03:41] alalek commented on #16589
I believe you should try to replace MinGW with MSVC compiler in this case.

[2020-02-15 07:40] fhwzl commented on #16589
Thank you for your reply.  I replace x86_64-w64-mingw32-g++ with cl, but I'm not familiar with cl's command line arguments. Can you give me the detailed command line parameters with cl compile? I have try:
cl  ffopencv.cpp /LD /I ..\..\modules\videoio\src\ /I ..\include\ffmpeg3\ /link ..\lib3\libavcodec.a ..\lib3\libavdevice.a ..\lib3\libavfilter.a  ..\lib3\libavformat.a ..\lib3\libavutil.a ..\lib

[2020-02-15 08:25] fhwzl commented on #16589
Hello, I update the command line parameters, and it can get the ffopencv.lib and ffopencv.dll. I don't know if it works.  Any suggestions ? thank you very much.
D:\CMake\OpenCV349\opencv-3.4.9\3rdparty\ffmpeg>cl  ffopencv.cpp /LD /I ..\..\modules\videoio\src\ /I ..\include\ffmpeg3\ /link ..\lib3\libavcodec.a ..\lib3\libavdevice.a ..\lib3\libavfilter.a  ..\lib3\libavformat.a ..\lib3\libavutil.a ..\

[2020-02-15 10:25] vpisarev commented on #15033
Hello, @AlexeyAB, @berak, @dkurt, looks to me like a good project for GSoC and/or Intel Summer school. Do some of you guys want to be mentors? Or maybe have good students who can implement it? If you like this idea, can you shape it as GSoC idea that can be added herehttps://github.com/opencv/opencv/wiki/GSoC_2020?

[2020-02-15 10:52] YuqingWu79 opened #16590 "qt.qpa.plugin: Could not load the Qt platform plugin "cocoa" in "" even though it was found."
**I just want to run a simple opencv code.
This my code:**

`import cv2
import sys
import imutils

if __name__ == '__main__':

    # Set up tracker.
    # Instead of MIL, you can also use

    # tracker_types = ['BOOSTING', 'MIL', 'KCF', 'TLD', 'MEDIANFLOW', 'GOTURN', 'MOSSE']
    # tracker_type = tracker_types[2]
    #
    # if int(minor_ver) < 3:
    #     tracker = cv2.TrackerCSRT_create()

[2020-02-15 11:05] alalek commented on #16590
We don't ship these Python bindings.
We can't fix that because it is not a part of this repository.

Investigate in this direction.

[2020-02-15 11:05] #16590 closed

[2020-02-15 12:00] czgdp1807 commented on #16456
Closing this as the purpose has been fulfilled.

[2020-02-15 12:00] #16456 closed

[2020-02-15 12:02] czgdp1807 commented on #16370
@UnaNancyOwen The fix for split layer has been made. Please follow the suggestion at https://github.com/opencv/opencv/pull/16424#issuecomment-583773283 to verify. Please let me know if it's working for you.

[2020-02-15 13:27] libaineu2004 opened #16591 "Found a memory leak"
##### System information (version)

- OpenCV => 4.2.0
- Operating System / Platform => Windows 7 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description

##### Steps to reproduce
1.I use VS2017, C ++/MFC/Win32 project。When I quit the program, I found a memory leak。
Detected memory leaks!
Dumping objects ->
{377} normal block at 0x041259A8, 56 bytes long.
 Data: <                > 01 00

[2020-02-15 13:49] ouening commented on #16582
Thanks, the model is simple and everyone who have installed tensorflow can obtain from :
[code]

With reference to [https://leimao.github.io/blog/Save-Load-Inference-From-TF2-Frozen-Graph/](https://leimao.github.io/blog/Save-Load-Inference-From-TF2-Frozen-Graph/) and [https://github.com/leimao/Frozen_Graph_TensorFlow/blob/master/TensorFlow_v2/train.py](https://github.com/leimao/Frozen_Graph_Tensor

[2020-02-15 13:49] #16582 closed

[2020-02-15 15:32] czgdp1807 commented on #16587
@dkurt Can you please tell me the commands for building the failing tests locally? I want to re-produce the errors on my system for fixing. Thanks.

[2020-02-15 15:34] czgdp1807 commented on #16571
Is it possible to share `dense121.caffemodel` file? IMO, it is needed for re-producing the error locally.

[2020-02-15 16:19] saskatchewancatch commented on #16538
I will have a PR ready for this shortly

[2020-02-15 20:30] mnicely opened #16592 "Extra cudaStreamCreate/cudaStreamDestroy"
##### System information (version)

- OpenCV => 4.2.0-dev
- Operating System / Platform => Ubuntu 18.04
- Compiler => GNU G++ 7.4.0
- Python => 3.6.9

##### Detailed description

When I run **self.frame_device.upload(self.frame, stream)** I'm getting an extra _cudaStreamCreate_ and _cudaStreamDestroy_ right before the _cudaMemcpy2DAsync_. (See attached)
![extraStream](https://user-images.githubuse

[2020-02-15 21:55] muhsinkompas opened #16593 "Can't run OpenCV – 4.2.0 Windows build exe."
##### System information (version)

- OpenCV => OpenCV – 4.2.0
- Operating System / Platform => Windows
- Compiler => none

##### Detailed description

Nothing happens when I run the OpenCV-4.2.0 exe file. But it is working smoothly in other versions.

[2020-02-15 22:10] dkurt commented on #16587
@czgdp1807, https://github.com/opencv/opencv/wiki/Intel%27s-Deep-Learning-Inference-Engine-backend

[2020-02-15 22:10] #16593 closed

[2020-02-15 22:11] dkurt commented on #16593
Please follow issues guidelines to create a bug request. Unless that let's keep issue closed.

[2020-02-16 00:47] vpisarev commented on #4539
@kfrance, @hannarud, @sturkmen72, @saskatchewancatch, @VadimLevin, the issue is mostly fixed. Without that 1 pixel-wide "hair" on the contour, which can be made more thick or completely eliminated using morphological operations, everything now works well. With this "hair" an exception is now thrown by convexityDefects.  For now I do not have a good solution to produce a good convex hull for such a

[2020-02-16 00:57] paroj commented on #16394
why not use OpenAL for a chance of cross-platform portability?

Also, even for Linux only, pulseaudio is probably a better choice.

[2020-02-16 02:02] UnaNancyOwen commented on #16370
@czgdp1807 Thanks, I tried it but got the following error.
[code]

[2020-02-16 02:30] Bleach665 commented on #14509
The same problem. Win10, OpenCV rev. af19023e4ab580083873b6871f59e240b41ef52e, OpenVINO 2019.3.379.
Model: mask_rcnn_inception_v2_coco_2018_01_28.
OpenCV backend, CPU target:
![a1](https://user-images.githubusercontent.com/6595124/74598155-ef556180-5074-11ea-9d46-4f8e6f18f6ec.png)
Inference engine backend, CPU target: 0 object detected.

[2020-02-16 03:57] jshiwam commented on #16224
You mean that if I am supposed to make changes in the FileStorage documentation I have to change the code in corresponding file_input_output.cpp file so that next time the build is done the file_input_output_with_xml_yml.markdown file will refer to the changed code in the .cpp file and update the documentation itself?

[2020-02-16 15:09] Bleach665 commented on #14509
@dkurt. A small addition: I use PC's with old CPU which not support AVX instruction set. Maybe that matters.

[2020-02-16 15:51] dkurt commented on #14509
@Bleach665, probably not. I can reproduce the problem on different CPU. The thing is that it can compute masks and boxes separately but the problem appears if we return both of them. Let me try to find a workaround or fix that.

[2020-02-16 16:33] ashishkrshrivastava commented on #16475
Hello @fnhdx ,My exported model with your code is little different from yours. can you please provide the code you used to export the model.
Something like this
`torch.onnx.export(model, inputs, f, export_params=True, opset_version=11)`

[2020-02-16 16:33] czgdp1807 commented on #16370
Yes that will happen as string isn't supported by `Constant` layer. You should make `SoftMax` as output layer.

[2020-02-16 16:41] dkurt commented on #14509
@Bleach665, May I ask you to open a `.pbtxt` file and try to apply this changes?
[code]
and try to run with IE backend?

[2020-02-16 16:56] Bleach665 commented on #14509
@dkurt , works great with these changes. The result is the same as when used CUDA or OpenCV backends.
The result with the changes above and inference engine backend:
![1112](https://user-images.githubusercontent.com/6595124/74608928-f5d3ef80-50ed-11ea-895b-77a7bda25c0d.png)

[2020-02-16 18:17] dkurt commented on #14509
@Bleach665, great. thanks! Based on this experiment we will propose a patch so old version of `.pbtxt` will also work.

[2020-02-16 19:20] dkurt commented on #14509
@stq054188, sorry for late solution, but here it is: https://github.com/opencv/opencv/pull/16595. I was not able to download your model but at least with @Bleach665's image we achieve exact outputs.

BTW, for now OpenCV can work with two APIs of Inference Engine: legacy DNNBuilder and nGraph API. With nGraph API we can achieve monolithic model (all the layers are executed by IE) that means the mod

[2020-02-16 21:46] h6197627 opened #16596 "ARMv7 Android shared build with ENABLE_FAST_MATH=ON failure"
Building OpenCV 4.2.0 shared library for Android ARMv7 with enabled ENABLE_FAST_MATH flag results in linker error:

Log with -v flag for linker
[code]
Without fast math building process finishes successfully. Also ARMv8 version with fast math builds successfully.

##### System information (version)
- OpenCV => 4.2.0
- Operating System / Platform => Android, API level 21
- Compiler => NDK r21

[2020-02-16 23:07] vpisarev commented on #14521
@andreatta-deltamax, thank you! fixed

[2020-02-16 23:52] vpisarev commented on #4539
BTW, it's said in several places that Sklansky algorithm is incorrect. This is true, but only when we are talking about O(N) Sklansky algorithm that computes convex hulls for polygons. OpenCV does not have a function to compute convex hull for polygons. It computes convex hull for unordered 2D point sets. The complexity is O(N*log(N)), not O(N). And the Sklansky algorithm in OpenCV iterates though

[2020-02-17 00:15] saskatchewancatch commented on #16538
You are right about that [(other)](https://github.com/opencv/opencv/blame/3.4.9/modules/core/src/matrix_expressions.cpp#L1315) optimization, it is faulty in the same way (but for weighted addition of two non-empty matrices, plus a scalar).

For that `else` conditional, this modification seems to take care of the issue:
[code]
Core test at least, doesn't fail anything.

Test snippet:
[code]

gives:

[2020-02-17 01:39] UnaNancyOwen commented on #16370
Does that mean changing the model?

[2020-02-17 04:39] ethanseow commented on #9738
I have encountered an issue with cap prop exposure for my specific camera, the logitech c270 webcam

So the problem is that when you set cap prop exposure the first time the camera is placed in, the exposure is not changed

To fix this issue call ret, frame = cap.read() before the cap exposure call

    cap = cv2.VideoCapture(0)
    # we capture the first frame for the camera to adjust itself to t

[2020-02-17 07:07] asmorkalov commented on #16224
yes

[2020-02-17 07:32] enjoykcc456 commented on #16568
Hi @dkurt,

Would like to know why is the time taken to forward the blob to the net and get the detection results for Faster-RCNN is so long (around 5 to 7 seconds per forward) as compared to SSD (only around 0.05s per forward).

Is there any settings that i can tune to make it faster? Because 5 to 7 seconds per forward is quite long.

Thank you

[2020-02-17 07:43] dkurt commented on #16568
@enjoykcc456 , There are several points:
1) Do warmup run - it takes to most time to initialize network. So you need to measure in this way (Python):
[code]
2. Need to check that all the layers are executed with IE backend with no fallbacks to OpenCV implementation. I will check it (we recently [updated Mask R-CNN](https://github.com/opencv/opencv/pull/16595) which set of layers close to Faster R-

[2020-02-17 08:40] AlbertHuyb opened #16598 "Decode with multiple GPUs: How can I specify whichi gpu to use in cv::VideoCapture()?"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

[2020-02-17 08:48] enjoykcc456 commented on #16568
Hi @dkurt ,

I tested with the following code:

[code]
The average time taken is `Forward time taken: 8303.21741104126 ms`

I havent try out the IE backend yet. But with similar settings. SSD forward is taking a shorter time of only ~ 0.05s.

[2020-02-17 09:07] dkurt commented on #16568
@enjoykcc456, The model is VGG16 based - it's a family of the most time consuming models for object detection. If you want to keep high accuracy but achieve better efficiency - take a look to lighter backbones. Or you may try to forward lower input resolution (i.e. 400x300)

Check https://dkurt.github.io/dl_tradeoff/. For Image classification there are both more accurate and faster topologies

![S

[2020-02-17 09:39] enjoykcc456 commented on #16568
Hi @dkurt,

Okay. Understand what you are trying to say.
I have tested again with input size of 400x300.
The average is lowered around `Forward time taken: 6204.8027992248535 ms`.
I will try it out with DNN module with CUDA backend to see if it will be better.

Thanks for your info and have a nice day.

[2020-02-17 09:46] MiXaiLL76 opened #16599 "Strange arm compilation errors."
I am trying to compile a library for rpi using toolchain. Everything turns out well, but an error occurs.

Persistent error with **make**

[code]

[code]

cmake:
[code]

[2020-02-17 10:12] MiXaiLL76 commented on #16599
Когда пытаюсь скомпилировать другую версию (https://github.com/opencv/opencv/archive/4.1.1.zip)
Получаю только ошибку

[code]

[2020-02-17 11:20] alalek commented on #16599
Looks like you have mess with headers from different versions of OpenCV.
Try to investigate using `make VERBOSE=1` and adding "-H" GCC option - check for "/usr/local/include/opencv2" or "/usr/include/opencv2" entries.

[2020-02-17 12:13] mshabunin commented on #16466
`cvtColor` can allocate internal static tables at first run, please try to add a loop into your sample and check if the leak is growing with each iteration.

[2020-02-17 12:15] mshabunin commented on #16591
Please add minimal reproducer application.

BTW, your debug symbols looks broken.

[2020-02-17 12:17] mshabunin commented on #16394
Perhaps this module should be somehow related to _videoio_ module - to have ability to retrieve sound buffers synchronized with video frames.

[2020-02-17 12:28] paroj commented on #16394
this would require a Listener interface in videoio which would provide raw audio chunks if available.

We have something like this at https://github.com/OGRECave/ogre-audiovideo

[2020-02-17 12:51] MiXaiLL76 commented on #16599
Apparently I did not clean up the previous version of OpenCV. But I installed a new empty system on the device.

I began to receive other errors
[code]

[2020-02-17 13:09] kmilos opened #16601 "Unify fisheye and omnidir API"
##### System information (version)

- OpenCV => 4.2.0-dev
- Operating System / Platform => any
- Compiler => any

##### Detailed description

It would be great to have a matching API for fisheye and omnidirectional cameras. There are a couple of features missing from each to complete the set:

fisheye     | omnidir
------------|------------
calibrate | calibrate
distortPoints | n/a
estimateNewCame

[2020-02-17 13:13] alalek commented on #16599
You are cross compiling. You should not use "host" libraries/headers.

Check CMake logs/dumps which part brings that. Try to exclude/disable related external dependency through `WITH_` variable (my guess that `WITH_LAPACK=OFF` should help).

[2020-02-17 13:17] molyswu opened #16602 "OPENCV4.2.0 +cuda10.0+cudnn7.6.5 with VS2017 on win10 ,unhandled exceptions: Microsoft C++ exceptions: cv::dnn::cuda4dnn::csl::CUDAException"
Hi,
VS2017 +OPENCV4.2.0 +cuda10.0+cudnn7.6.5 what run yolov3 model tested bug :

   net.setPreferableBackend(DNN_BACKEND_CUDA);
net.setPreferableTarget(DNN_TARGET_CUDA);
0x00007FFD17B04048(located at test2.exe )There are unhandled exceptions: Microsoft C++ exceptions: cv::dnn::cuda4dnn::csl::CUDAException，In memory location 0x000000FE94BADDD0 。

Thanks

[2020-02-17 13:28] dkurt commented on #16599
Try Docker cross-compilation from https://github.com/opencv/opencv/wiki/Intel%27s-Deep-Learning-Inference-Engine-backend#raspbian-buster (remove IE related flags and steps).

[2020-02-17 13:39] MiXaiLL76 commented on #16599
it's toolchain cross-compilation bugs. got it.

[2020-02-17 13:39] #16599 closed

[2020-02-17 13:40] banderlog opened #16603 "libavresample is deprecated in ffmpeg since 2017"
Source: <https://patchwork.ffmpeg.org/project/ffmpeg/patch/20171230145919.5812-1-atomnuker@gmail.com/>

One have to manually enable `--enable-avresample` flag which will produce following text:

[2020-02-17 13:45] alalek commented on #16603
What is the problem?

OpenCV can use FFmpeg without `avresample`:
[code]

[2020-02-17 14:00] banderlog commented on #16603
Strangely, but I am getting different output:

opencv-4.2.0

[code]

And with awresample:

[code]

Thus, yep, problem lies somewhere else :)

[2020-02-17 14:02] banderlog commented on #16603
[code]

[2020-02-17 14:03] banderlog commented on #16603
https://github.com/opencv/opencv/blob/1d2ef6b2a14fd5f80277d64b14e4a9a2faddc7d8/modules/videoio/cmake/detect_ffmpeg.cmake#L38-L55

[2020-02-17 14:10] alalek commented on #16603
Uncomment this line to get detailed error message.

---

Problem is somewhere here:
[code]

Looks like it is improperly detected.

Investigation steps:
- `pkg-config -modversion libavresample`
- `pkg-config -cflags -libs libavresample`
- `pkg-config -cflags -libs libavcodec`
- search for `libavresample*.so*`
- search for `libavresample.pc`

[2020-02-17 14:23] banderlog commented on #16603
I've removed libavresample flag, recompiled ffmpeg and tried again:

[code]
If i'll look on the file:
[code]

[2020-02-17 14:59] banderlog commented on #16603
I've tried with absolute pathes in `prefix` -- same result

And is full of `cc1plus: warning: unrecognized command line option ‘-Wno-shorten-64-to-32’` and this is a clang flags, as far as I know.

[code]
[code]

[2020-02-17 15:15] alalek commented on #16603
Just checks.

---

This is wrong. Linker can't accept .pc files:

  ...
  /home/ubuntu/opencv-python-inference-engine/build/ffmpeg/binaries/lib/pkgconfig/libavcodec.pc
  /home/ubuntu/opencv-python-inference-engine/build/ffmpeg/binaries/lib/pkgconfig/libavformat.pc
  /home/ubuntu/opencv-python-inference-engine/build/ffmpeg/binaries/lib/pkgconfig/libavutil.pc
  /home/ubuntu/opencv-python-inference-e

[2020-02-17 15:35] banderlog commented on #16603
@alalek thank you for your help, and patience

Now `message(STATUS "${FFMPEG_LIBRARIES}")` shows
`-- /home/ubuntu/opencv-python-inference-engine/build/ffmpeg/binaries/lib/libavcodec.so;/home/ubuntu/opencv-python-inference-engine/build/ffmpeg/binaries/lib/libavformat.so;/home/ubuntu/opencv-python-inference-engine/build/ffmpeg/binaries/lib/libavutil.so;/home/ubuntu/opencv-python-inference-engine/bui

[2020-02-17 15:35] #16603 closed

[2020-02-17 15:36] czgdp1807 commented on #16002
I would like to take up this issue.

[2020-02-17 15:36] czgdp1807 commented on #15822
I am verifying the bug on my system.

[2020-02-17 15:43] TheOnlylight opened #16605 "unable to install"
##### System information (version)

- OpenCV => 4.2.0
- Operating System / Platform => :macOS
- Compiler => cmake inside Clion

##### Detailed description

##### Steps to reproduce

I use a macOS and Xcode along with Clion, I firstly installed using home brew, however that was not a success, something went wrong with a library inside the clang(that time I used Xcode ).
<img width="1217" alt="image

[2020-02-17 15:44] TheOnlylight commented on #16605
/Users/teddychou/CLionProjects/untitled/cmake-build-debug/untitled
dyld: Library not loaded: /usr/local/opt/opencv/lib/libopencv_dnn.4.2.dylib
  Referenced from: /Users/teddychou/CLionProjects/untitled/cmake-build-debug/untitled
  Reason: image not found
Signal: SIGABRT (signal SIGABRT)

[2020-02-17 17:16] czgdp1807 commented on #15822
Confirmed. I got the same error on my system with Tensorflow 1.14 and `3.4` branch of OpenCV.
@alalek Can I work on it?

[2020-02-17 17:37] spacescientist opened #16606 "Eigen::RowMajor cv2eigen assertion failed (+ naive fix)"
- OpenCV => 4.2.0-dev
- Operating System / Platform => Debian 10 x86_64 GNU/Linux (4.19.0-6-amd64)
- Compiler => g++ 8.3.0

##### Detailed description

cv::cv2eigen doesn't work as I expected if the Eigen::Matrix is of type:
`Eigen::Matrix<double, Eigen::Dynamic, Eigen::Dynamic, Eigen::RowMajor>`.

I came up with a naive fix, but as I am relatively new to *both* OpenCV and Eigen (and especially at

[2020-02-17 17:37] czgdp1807 commented on #16433
@alalek @YashasSamaga Is this issue still open for a PR? I would like to work on it.

Though I am very new to this side of OpenCV. However, may be we can use row major order at the time of indexing containers with arbitrary number of dimensions and in the memory we can store these containers as linear arrays. Please let me know if I have misinterpreted something wrong here.

[2020-02-17 17:39] czgdp1807 commented on #16370
IMO, the trick is mentioned at https://github.com/opencv/opencv/pull/16424#issuecomment-583773283

[2020-02-17 17:50] czgdp1807 commented on #16002
@cyberbeat Can you please share the CPP/Python  code which you used to import the `.t7` files. I tried to find `ParallelTable`, `FlattenTable`, `SelectTable` in PyTorch but they didn't appear to be there.
[code]

[2020-02-17 18:00] kintovt opened #16607 "FLANN feature matching in opencv.js"
Hi! FlannBasedMatcher is present in C++ version, is there some way to use it in OpenCV.js? Maybe I need to change some of the build parameters to get this function in the wasm version of OpenCV?

[2020-02-17 20:40] cyberbeat commented on #16002
Torch 7 Manual here lists the layers:

https://nn.readthedocs.io/en/rtd/table/index.html

This was my code for opencv:

int main()
{
	Net net = readNetFromTorch("DeepDeblur_release/experiment/experiment-cpu/release_scale3_adv_gamma/models/model-450.t7");
	Mat im = imread("DeepDeblur_release/images/Istanbul_blur1.png");
	Mat blob = blobFromImage(im);
	net.setInput(blob);
	Mat out;
	net.forward(out)

[2020-02-17 20:42] czgdp1807 commented on #16002
Thank you. I will try to reproduce the bug and if observed I will try to fix it.

[2020-02-17 21:57] vpisarev commented on #12569
it's impossible. Just do not direct comparison of depths.

[2020-02-17 21:57] #12569 closed

[2020-02-17 21:59] sasan-m commented on #15892
Same issue here.

Latest code from repo as of 18 Feb 2020.
Cuda 10.1
Ubuntu 19.10

[2020-02-17 22:41] #16343 closed

[2020-02-18 03:32] sandeshbhusal commented on #11068
Should I be using SSIM or MSE for image error computation?

[2020-02-18 04:53] manasmandal786507 opened #16609 "intermittently get multiple error while reading frame from video capture card using python opencv bindings"
Step to reproduce:

	import cv2
        video = cv2.VideoCapture(/dev/video0)
        if video.isOpen():
		while True:
			check, frame = video.read()

Detailed description:
Intermittently getting below error while reading frame by frame using cv2.VideoCapture.read()

 1. Corrupt JEPG data : 7 extraneous bytes before marker 0xd6
 2. Corrupt JEPG data : premature end of data segment
 3. VIDIOC_QBUF

[2020-02-18 10:49] Coderx7 opened #16611 "Add [minimal] type information to the images created using the Python wrapper of opencv"
##### System information (version)

- OpenCV => 4.1.2
- Operating System / Platform => Windows 10 / Python wrapper
- Compiler => not used, but have available VS2017/ VS2019

##### Detailed description

This issue is actually about the Python wrapper, and I couldnt find the pythons specific repo, so I'm here. the issue is non-existant on languages such as C/C++ and is only relevant in Python.
In Py

[2020-02-18 11:35] sasan-m commented on #15892
In my case this was due to CUDNN_LIBRARY being set to the wrong path. cmake hadn't been able to find cudnn, so I'd manually set the path variables using -D CUDNN_INCLUDE_DIR and -D CUDNN_LIBRARY. The former must point to the folder containing "cudnn.h" (in my case "/usr/lib/cuda/include"). The latter must point to the folder **containing the "lib64" folder** (in my case "/usr/lib/cuda" - don't put

[2020-02-18 12:09] alalek commented on #16611
1. This wrapper can be added on application level at this moment.
2. There is some amount of users code which expects numpy ndarray. We really won't break it.

[2020-02-18 13:11] libaineu2004 commented on #16591
ok. I try again,now info list:
Detected memory leaks!
Dumping objects ->
{375} normal block at 0x007E4B58, 56 bytes long.
 Data: <                > 01 00 CD CD 00 00 00 00 00 00 00 00 00 00 00 00
{309} normal block at 0x007F05D0, 12 bytes long.
 Data: <OpenCVTrace > 4F 70 65 6E 43 56 54 72 61 63 65 00
{308} normal block at 0x007CAD90, 24 bytes long.
 Data: <                > 01 00 00 00 D0 05 7F 0

[2020-02-18 13:15] ProfessorDobby opened #16613 "t.qpa.plugin: Could not find the Qt platform plugin "cocoa" in """
qt.qpa.plugin: Could not find the Qt platform plugin "cocoa" in ""
This application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may
fix this problem.

Abort trap: 6

[2020-02-18 14:30] mshabunin commented on #16591
These are static data structures, they are allocated only once and should not be considered a memory leak. You can suppress these hits, we have suppression file for _valgrind_: https://github.com/opencv/opencv/blob/master/platforms/scripts/valgrind.supp , but I don't know whether the MSVC have similar mechanism.

I'll close the issue, feel free to reopen if you have additional details.

[2020-02-18 14:30] #16591 closed

[2020-02-18 14:59] czgdp1807 commented on #15822
I think I have figured out where the problem is.
The dimensions are re-ordered in OpenCV and don't match with the ones in Tensorflow but the axis being used is same in both, so, IMO, we have to canonicalize the shapes. For example, in OpenCV, the number of filters are placed at index `1` in the above case and in Tensorflow those are placed at the last index i.e, `-1` which is leading to error.
I w

[2020-02-18 15:26] czgdp1807 commented on #16002
Hi, the model is being read perfectly. Can you please comment the error message which you got? I didn't get any related to `readNetFromTorch`.

[2020-02-18 16:16] yieniggu commented on #16581
you never reply questions on forums ...

[2020-02-18 16:17] YashasSamaga commented on #16433
@czgdp1807 and how do you plan to store the shape? The DNN module would require a 4D+ tensor and you need to pass this shape information somehow through `GpuMat`.

[2020-02-18 16:19] YashasSamaga commented on #16602
@molyswu what was the message in the exception?

[2020-02-18 16:29] czgdp1807 commented on #16433
Thanks for the response.
IMO, we can store the shape as another linear array. For example, `GpuMat` can have two data pointers, `data_type* shape`, and another one through `data_type* data_gpu`. We can use static methods to initialise both the `shape` and `dimension` pointers. This approach can generalise the number of dimensions in the data. Please let me know your views on this.
P.S. - I will do

[2020-02-18 16:40] YashasSamaga commented on #16433
I don't have any strong opinions on how GpuMat should be designed or improved (I do not know enough about `GpuMat` to discuss it anyway).

The fundamental problem with `GpuMat` currently is that you cannot pass arbitrary dimension tensors (even if the actual memory layout is linear, 2D or 3D). Once this feature is implemented, it's quite easy to support `GpuMat` as input and output.

[2020-02-18 16:50] czgdp1807 commented on #16433
Thanks for letting me know. I will look into the current code and API and will try to come up with a new API design for the current and the new use case of arbitrary number of dimensions.

[2020-02-18 19:37] alalek commented on #16596
Looks like problem is related to `__fp16` type and its conversion between float/double values.

[2020-02-18 19:41] cyberbeat commented on #16002
Did you also did net.forward(out)? There the errors appear there, if I remember right.

When you look at the opencv code here:
opencv/modules/dnn/src/torch/torch_importer.cpp
you'll see, that many layers are missing.

[2020-02-18 22:53] LeonineKing1199 opened #16615 "Race Conditions in ParallelLoopBodyWrapper"
Using OpenCV 4.1.1. and GTest,
[code]
This will generate warnings under tsan:
[code]

[2020-02-18 23:26] alalek commented on #16615
Are you sure that ThreadSanitizer is configured properly?

[2020-02-19 00:16] gabielchong commented on #15128
@es007 have u solve the problem?

[2020-02-19 00:50] LeonineKing1199 commented on #16615
Hmm, all I've done is compile and link with `-fsanitize=thread`.

[2020-02-19 02:53] Coderx7 commented on #16611
@alalek thanks a lot really appreciate it.
but dont you think that Its true for ones own code, when you are dealing with others sourcecode, you have no control on them and this is where it is crucial to have minimal type information/meda data available.
This is not an issue with other languages such as C/C++ . Python is also strongly typed but here we are not utilizing this feature.
2.We can have

[2020-02-19 06:19] iqorqua commented on #15858
@bencha30 : Hi! I have the save issue...
Can you help?
Here is my build info. Whats wrong with it?
`General configuration for OpenCV 4.2.0-dev =====================================
  Version control:               4.2.0-85-g8b3042da63

  Extra modules:
    Location (extra):            /media/ssd/test/opencv_contrib/modules
    Version control (extra):     4.2.0-12-gc8b405eb

  Platform:
    Timest

[2020-02-19 06:43] molyswu commented on #16602
print as follows error at detection.exe
OpenCV(4.2.0) Error: Parsing error (Failed to parse NetParameter file: yolov3_1_80000.weights) in cv::dnn::dnn4_v20191202::readNetFromDarknet, file E:\tools\opencv-4.2.0\modules\dnn\src\darknet\darknet_importer.cpp, line 214
.\pei010718
[ INFO:0] global E:\tools\opencv-4.2.0\modules\core\src\ocl.cpp (891) cv::ocl::haveOpenCL Initialize OpenCL runtime...
[ IN

[2020-02-19 07:34] es007 commented on #15128
nope

[2020-02-19 07:46] h6197627 commented on #16596
I tried to build static and to check for __aeabi_d2h usage

- ARMv7 ENABLE_FAST_MATH=OFF:

- ARMv7 ENABLE_FAST_MATH=ON:

- ARMv8 ENABLE_FAST_MATH=ON:

So, only ARMv7 with fast math is using this routine.
Also interesting why only libopencv_core has this flag?

[2020-02-19 08:05] alalek commented on #16596
has dump of build information from CMake.
Compilation flags are not stored in binaries by default.

[2020-02-19 08:28] alalek opened #16618 "DNN: network loading should not initialize inputs"
Test code:

[code]

[2020-02-19 09:08] ilikelucifer commented on #16402
thanks for your sincere advice!

[2020-02-19 09:11] fegorsch commented on #16521
Thanks a lot for your help! If anyone ever tackles this issue, I'll be happy to help out with testing (if I still got the same CPU :) ).

[2020-02-19 09:14] dkurt commented on #16618
`cv::dnn::Model` uses input shapes to determine pre-processing resize. If we introduce `setInputShape` that means we need to have something like `getInputShape`?

[2020-02-19 10:01] dkurt commented on #16581
Your problem requires investigation - check VideoWriter backend, try to measure it's efficiency in standalone mode, provide a **minimal** code reproducer which demonstrates the problem but not 200 lines of code.

What if FPS? There are efficiency of camera reader, algorithm, video writer.

Does your scenario requires writing video and is critical to do online? Can you just collect the frames and c

[2020-02-19 13:01] libaineu2004 commented on #16591
1. I found the reason. Only MFC debug mode will prompt a memory leak. The release mode does not.
2. In addition, the windows console program will not leak memory.
3. For the problem of MFC debug, my solution is to delay the loading of the opencv dll file. That is, after the dll file of mfc is loaded, the dll file of opencv is loaded, so no error is reported.
Click on the VC ++ MFC Debug project pr

[2020-02-19 15:51] firebladed opened #16620 "missing V4L2_PIX_FMT_Y12 support"
I am trying to get an AMG88xx infra red camera working see [question](https://answers.opencv.org/question/226432/videoio-error-v4l2-pixel-format-of-incoming-image-is-unsupported-by-opencv/) which only outputs Y12

after exploring the source for video4linux capture i noticed that [cap_v4l.cpp](https://github.com/opencv/opencv/blob/master/modules/videoio/src/cap_v4l.cpp#L572) is missing V4L2_PIX_FMT

[2020-02-19 15:54] fnhdx commented on #16475
@ashishkrshrivastava here is the code to export the model
`import torch.onnx

model_file = 'pathToModel/checkpoint_0.pth'
state_dict = torch.load(model_file, map_location='cpu')
model = state_dict['state_dict']
model = model.module

img = torch.randn(1, 3, 56, 56, requires_grad=True)
img = torch.tensor(img)
out = model(img)[0]
torch.onnx.export(model, img, 'tmp2.onnx', opset_version=11)`

[2020-02-19 16:13] alalek commented on #16620
Feel free to propose PR similar to Y10.
We don't have this camera, so validation for this H/W is on your side.

[2020-02-19 16:24] iqorqua commented on #15858
solved with this guy help
https://www.pyimagesearch.com/2020/02/03/how-to-use-opencvs-dnn-module-with-nvidia-gpus-cuda-and-cudnn/

[2020-02-19 17:29] YashasSamaga commented on #16602
@molyswu Can you share a link to the weights and configuration file?

[2020-02-19 18:16] ifueko commented on #16613
Having the same issue. Occurs when attempting to open videos with cv2.VideoCapture in python.

[2020-02-20 03:08] molyswu commented on #16602
The weights and configuration file as :

[2020-02-20 06:01] kkemillie opened #16621 "event.LBUTTONDOWN mouse click x and y coordinates are consistently incorrect in Linux OS"
##### System information (version)

- OpenCV => :3.4.3.18
- Operating System / Platform => Linux (Raspberry Pi 3 Model B)
- Compiler => Thonny Python IDE

##### Detailed description

Hello,

I wrote a simple image display script in Python
[imageDisplay.txt](https://github.com/opencv/opencv/files/4228943/imageDisplay.txt)
 that cycles through 3 jpg images stored in the same folder. When I click on

[2020-02-20 06:19] loyclay commented on #10324
I have the same issue, was this resolved?

[2020-02-20 07:25] alalek commented on #16621
Coordinates are returned in images system, not screen or window (if image is scaled).

So, this assumption is not correct:

Right condition should work with half of image.cols.

Also you can resize input images yourself on some "screen"-sized canvas.

---

Invalid second parameter.

---

Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

<details>

<summary>Learn how O

[2020-02-20 07:26] #16621 closed

[2020-02-20 08:32] chenxuanhanhao commented on #11372
https://github.com/Homebrew/linuxbrew-core/blob/master/Formula/opencv@3.rb

    args = std_cmake_args + %W[
      -DCMAKE_OSX_DEPLOYMENT_TARGET=
      -DBUILD_JASPER=ON
      -DBUILD_JPEG=ON
      -DBUILD_OPENEXR=ON
      -DBUILD_PERF_TESTS=ON
      -DBUILD_PNG=ON
      -DBUILD_TESTS=ON
      -DBUILD_TIFF=ON
      -DBUILD_ZLIB=ON
      -DBUILD_opencv_hdf=ON
      -DBUILD_opencv_java=ON
      -DBUI

[2020-02-20 08:54] chenxuanhanhao commented on #11372
nevertheless the bug remained the same ...

fatal error:
      'opencv2/viz.hpp' file not found
#include <opencv2/viz.hpp>
         ^~~~~~~~~~~~~~~~~
1 error generated.
The terminal process terminated with exit code: 1

[2020-02-20 10:58] kejriwalnishant1990 opened #16622 "Unable to create pbtxt for custom architecture"
Can anyone suggest how to create pbtxt file for architecture other than ssd, mask -rcnn and faster-rcnn.

##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

[2020-02-20 11:04] nilanbais commented on #13923
I'm also having trouble with the "net.forward()" call.

**Detailed disciption**
I'm playing around with some object detection to get a better understanding of the whole application of DNN. I'm trying to get real-time object detection by using a webcam as video input, as a test signal for now.

i've trained a NN on the MNIST dataset using keras.Sequential() and saved the fozen model as .pd. I'm usi

[2020-02-20 11:08] dkurt commented on #16622
see [cv::dnn::writeTextGraph](https://docs.opencv.org/master/d6/d0f/group__dnn.html#ga0c3f216f5f858efdef44b68636133dff)

[2020-02-20 11:16] kejriwalnishant1990 commented on #16622
We tried it. It is not working.

**Python code used for conversion:**
import cv2
cv2.cnn.writeTextGraph("my_model.pb","my_model_method2.pbtxt")

**Cpp code used for loading the model:**
 string model_file = "my_model.pb";
    string config_file = "my_model_method2.pbtxt";

    // Load a deep learning network
    cv::dnn::Net net = cv::dnn::readNetFromTensorflow(model_file, config_file);
    if (ne

[2020-02-20 11:42] dkurt commented on #16622
@kejriwalnishant1990, can you share mentioned files? Without it it's impossible to reproduce.

[2020-02-20 12:07] kejriwalnishant1990 commented on #16622
Sharing all the files through a google drive link:

https://drive.google.com/file/d/1-RWzi09MqZH0HO5C2iixJGVFM7DxS5fH/view?usp=sharing

[2020-02-20 12:25] isra60 opened #16623 "Darknet importer: unable to import clasification configuration file darknet19.cfg"
Using one of the cfg file from darknet repo. (darknet-19 for classification not detection).

https://github.com/AlexeyAB/darknet/blob/master/cfg/darknet19.cfg

opencv/modules/dnn/src/darknet/darknet_io.cpp:678: error: (-212:Parsing error) Unknown layer type: sse in function 'ReadDarknetFromCfgStream'

Seems to be in cost layer...

[cost]
type=sse

[2020-02-20 13:00] dkurt commented on #16623
@isra60, try to remove this layer - it's training only.

[2020-02-20 13:23] isra60 commented on #16623
I remove it but then when I try

`cv::dnn::Net net = cv::dnn::readNet(modelConfiguration, modelWeights);

    net.setPreferableBackend(GetAnalyticsParameters()->GetDNNBackend());
    net.setPreferableTarget(GetAnalyticsParameters()->GetDNNTarget());

    std::cout << net.dump() << std::endl;`

terminate called after throwing an instance of 'cv::Exception'
  what():  OpenCV(4.2.0-dev) /opencv/modul

[2020-02-20 13:46] dkurt commented on #16623
@isra60, as pointed in the error message, you should set some input before `dump`

We already fixed that for future releases in https://github.com/opencv/opencv/pull/16516

[2020-02-20 14:09] YoniChechik opened #16624 "Possible bug in cornerHarris"
##### System information (version)
- OpenCV => 3.4.8.29
- Operating System / Platform => Windows10 64 Bit
- Compiler => python

##### Detailed description

a posible bug in harris corner detector:
this are inputs and outputs of a constant gradient to cornerHarris:
[code]
![image](https://user-images.githubusercontent.com/16686924/74941093-202df180-53fb-11ea-9963-499c2b97e454.png)

- Boarder is wro

[2020-02-20 15:16] czgdp1807 commented on #16433
Hi,
I was just going through the code and observed that `_InputArray` supports 2D containers only. Is there any container already implemented that supports multidimensional arrays, something like Tensor in tensorflow? If not, then may be we can refactor the code to support arbitrary dimensions in  basic containers(like `_InputArray`, `_OutputArray`) without changing the interface to avoid repeated

[2020-02-20 15:30] alalek commented on #16433
This is not correct. See `.sizend()` method.
Main problem is `GpuMat` - it is 2D only.

`_InputArray` is not a container (in terms of storing buffers). It is "unified" wrapper which stores type/kind and a pointer on real container object. Also it doesn't even hold container (doesn't extend lifetime through reference counters), so it should not be stored anywhere (except local stack).

---

Please

[2020-02-20 15:32] czgdp1807 commented on #16433
Sure, so probably we need changes only in `GpuMat`.

[2020-02-20 15:37] czgdp1807 commented on #16002
I got the following exception. Please let me know if it was something similar in your case. I will try to come up with the APIs of the new layers. It would be great if you can share your code which you wrote for `Copy`, `AddConstant`, and `PixelShuffle` layers.
[code]

[2020-02-20 16:22] isra60 commented on #16623
but.... I'm using master branch (4.2.0.-dev) this still should be happen???

[2020-02-20 17:19] dkurt commented on #16623
Cannot reproduce it with weights from https://pjreddie.com/media/files/darknet19.weights and `.cfg` from issue description (3.4 branch):
[code]

[2020-02-20 17:47] jshiwam commented on #16224
The .markdown file here contains of @code tags where code samples are given as you have said to add references, for that I have to create a new cpp file which has these code snippets and then I have to add references of that cpp file into the markdown file. Should I create a new cpp file for that?

[2020-02-20 18:13] YashasSamaga commented on #16433
@czgdp1807

Excerpt from alalek's comment https://github.com/opencv/opencv/issues/16433#issuecomment-578436958

The CUDA backend of the DNN module operates on fully packed tensors (i.e. 1D memory irrespective of the logical shape of the tensor).

Before you can begin working on the APIs suggested in the OP, `GpuMat` needs to support arbitrary shape with 1D memory layout. The issue currently at han

[2020-02-20 18:13] czgdp1807 commented on #16002
I have though of the following API for `SelectTable` layer,

There will be a class `SelectTable` inheriting `Layer`.
**Data Members**
1. `index` - An integer specifying the index of the element which is to be output.
2. `gradInput` - An array of Matrices representing the table.
3. `output` - The output of the layer.
4. `gradOutput`

**Class methods**
1. `updateOutput(input)` - This will update the

[2020-02-20 18:25] czgdp1807 commented on #16433
Agreed. That's why I asked for feasibility and infact it's now clear to me that the APIs suggested in OP need arbitrary dimension support so first step would be to do that.

This is reminding me of a scenario where `if-else` checks were added in every method of the class to separate handling of two use cases. This suggests that we can create a new class for arbitrary dimension support and use it w

[2020-02-20 19:24] #16500 closed

[2020-02-20 19:25] #16370 closed

[2020-02-20 19:27] #14509 closed

[2020-02-20 19:28] #10643 closed

[2020-02-20 19:52] dkurt commented on #16622
Can you please specify which version of TensorFlow is used? TensorFlow 2.0?

[2020-02-20 20:10] dkurt commented on #16622
Please try this:

1. Generate a `.pbtxt` file:

[code]

2. Open a `.pbtxt` file and replace
[code]

to

[code]

Then you will be able to run a model:
[code]

I'm going to write a wiki page because for now all similar problems we resolve in different tickets. Thanks!

[2020-02-20 20:34] dkurt commented on #16622
Prepared a wiki page: https://github.com/opencv/opencv/wiki/TensorFlow-text-graphs

[2020-02-20 20:53] cyberbeat commented on #16002
I am not sure, if I have done it right, but here is my code:

<pre>
class PixelShuffleLayer : public cv::dnn::Layer
{
public:
	PixelShuffleLayer(const cv::dnn::LayerParams &params){
		setParamsFrom(params);
		upscaleFactor = params.get<int>("upscaleFactor");
	}
	static cv::Ptr<cv::dnn::Layer> create(cv::dnn::LayerParams& params) {
		return cv::Ptr<cv::dnn::Layer>(new PixelShuffleLayer(params));
	}

[2020-02-20 22:27] PrasadNR commented on #6081
I am facing the same issue in my Windows 8.1 on Lenovo Y50-70.

"Python has stopped working A problem caused the program to stop working correctly. Windows will close the program and notify you if a solution is available".

It is happening at this line
`kp1, des1 = orb.detectAndCompute(cv_image, None)`

I am on Anaconda. Setting ocl to false didn't help.

[2020-02-20 22:50] catree commented on #16624
You should look at the [documentation](https://docs.opencv.org/) and test with different boarder types.
Also, try, compare with [`skimage.feature.corner_harris`](https://scikit-image.org/docs/0.16.x/api/skimage.feature.html#skimage.feature.corner_harris).

There are many resources that describe the method, e.g. [Szeliski](http://szeliski.org/Book/drafts/SzeliskiBook_20100903_draft.pdf#page.212) or

[2020-02-20 23:13] catree commented on #16462
I do not see any issue that would prevent adding the feature response, except maybe to check that the response is coherent between the different implementations (OpenCV, OpenCL, IPP, ...) and between the different input image depth types (`CV_8U`, `CV_32F`, `CV_64F`).

Maybe also check that the default "unused" value for the `response` field is not used in some way as a hint to a feature descripto

[2020-02-21 02:52] enjoykcc456 commented on #16568
Hi @dkurt ,

When i try to run the same inference code for the faster-rcnn caffemodel but with the backend set to cuda:
[code]

I got the following error:
[code]

However, I was able to run the inference code for MobileNet SSD caffemodel with backend set to cuda in the same environment without any error.

Would like to know is it because faster-rcnn inference is not supported yet in dnn cuda?

Tha

[2020-02-21 05:22] kejriwalnishant1990 commented on #16622
Opencv - 4.2.0
Tensorflow - 1.15

[2020-02-21 05:43] asmorkalov commented on #16224
yes, please create new C++ file and move code there.

[2020-02-21 06:19] ashishkrshrivastava commented on #16475
Thanks @fnhdx , can you please mention onnx version.
[code]

[2020-02-21 06:31] YashasSamaga opened #16630 "dnn(Scale): errornous handling of batch inputs in untrainable scale mode"
##### System information (version)
- OpenCV => 3.4

##### Detailed description

The untrainable mode in ScaleLayer uses the second input as scale factors for the first input.
[code]

The code which performs the above operation appears to assume that the batch size is one (but there is no assertion to enforce the requirement).

https://github.com/opencv/opencv/blob/3efa78311a837b7a06d81f2f359ca98e6

[2020-02-21 06:52] ckchin97 commented on #15858
@iqorqua may i know how you solve the problem?

[2020-02-21 07:38] dkurt commented on #16622
@kejriwalnishant1990 , ok, thanks! So please try to follow https://github.com/opencv/opencv/issues/16622#issuecomment-589285318 - it worked for me.

[2020-02-21 07:44] isra60 commented on #16623
OK, seems working for me too (My repo was not fully updated sorry).

Is there any tutorial of how to process the detections from the net and also how to prepare the input blob??

[2020-02-21 07:52] YashasSamaga commented on #16630
Duplicate of https://github.com/opencv/opencv/issues/13626

[2020-02-21 09:04] Pfaeff opened #16632 "Adding a cv::Vec2f to a 2-channel cv::Mat doesn't work anymore (Assertion error)."
I use a 2-channel float matrix for storing a grid of points. I am adding a `cv::Vec2f` as an offset to those points. I am testing this on two machines:

- Ubuntu 16.04 with OpenCV 3.4.5. and GCC where this works
- Ubuntu 18.04 with OpenCV 3.4.8. and 3.4.9. and GCC where this will throw an assertion error

The assertion checks for the number of channels to be either 1 or 4. Of course, I am working

[2020-02-21 09:06] dkurt commented on #16623
@isra60, `darknet19` is not detection network - it's classification one.

Please follow tutorials https://docs.opencv.org/master/d2/d58/tutorial_table_of_content_dnn.html or samples https://github.com/opencv/opencv/tree/master/samples/dnn

[2020-02-21 09:23] kejriwalnishant1990 commented on #16622
@dkurt : It worked for me as well. Thanks. Will this script will work for all custom architecture or it will vary ?

[2020-02-21 09:37] dkurt commented on #16622
@kejriwalnishant1990, it depends of the model. It's not universal.

[2020-02-21 10:13] YashasSamaga opened #16633 "dnn: mixed-precision inference and quantization"
##### System information (version)
- OpenCV => 4.2.0

##### Detailed description

The CUDA backend can support mixed-precision inference with various types: FP32, FP16, INT32, (U)INT8 and possibly INT4 and INT1. It's fairly easy to implement as cuDNN already has convolution primitives for many of these types. The existing CUDA backend codebase has fully templated code; hence, it's easy to add supp

[2020-02-21 10:28] Enaxadrel opened #16634 "Errors build cap_ffmpeg_impl.hpp"
#### System information (version)
- OpenCV => 4.2
- Operating System / Platform => Ubuntu 18.04 x86_64

##### Detailed description

Build error with : opencv/modules/videoio/src/cap_ffmpeg_impl.hpp

AVCodecID not declared (Same that issue #5131 but the line numbers are changed)
AV_PIX_FMT_BGRA not declared
AV_PIX_FMT_RGBA not declared

##### Steps to reproduce

Follow the official installation ins

[2020-02-21 10:37] dkurt commented on #16568
@enjoykcc456, Please provide a minimal reproducer which includes `net.setInput`.

/cc @YashasSamaga

[2020-02-21 10:40] dkurt commented on #16633
Why not running all the model in FP16 where it's possible?

We need more investigation here which frameworks support quantized weights.

[2020-02-21 10:58] githuuuuub commented on #8784
I have this problem too. I use a wrong board at first which  is created by "create_board.cpp". Then I use "create_board_charuco.cpp" create another chArucoBoard, it works.

[2020-02-21 11:30] emakryo commented on #16613
this workaround may help
https://github.com/ageitgey/face_recognition/issues/1041#issuecomment-582401795

[2020-02-21 11:35] YashasSamaga commented on #16568
@enjoykcc456 It's a bug.

The assertion ensures that the weights matrix is effectively a 2D matrix. But if the number of outputs is one (as in the case of `attribute_score` layer in your model), the weights matrix effectively becomes a vector (which has a rank of one). The assertion should have been `<= 2` instead of `== 2`.

Change the line in `/opencv_gpu_files/opencv/modules/dnn/src/layers/../c

[2020-02-21 11:49] YashasSamaga commented on #16602
@molyswu I am not able to reproduce the problem on master in Ubuntu with CUDA 10.2. Can you provide code which reproduces the error?

[2020-02-21 12:00] YashasSamaga commented on #16633
Some numerically unstable activations, softmax, etc. might offer better accuracy running in FP32. I am not very sure what works best. There is also https://github.com/opencv/opencv/issues/15996 issue where max_pooling and max_unpooling because of using FP16 to store indices. The ideal fix would be to use integers to store the indices though..

[2020-02-21 12:19] alalek commented on #16634
How is installed? Used version?

[2020-02-21 12:39] jashwanthsoamsila opened #16636 "id"entifier "CV_HAAR_FIND_BIGGEST_OBJECT" is undefined" ,"identifier "Tracker"is undefined","name followed by '::' must be a class or namespace name""
#include <opencv2/opencv.hpp>
#include <opencv2/video/tracking.hpp>

#include <opencv2/core/ocl.hpp>
#include <opencv2/objdetect.hpp>
#include <opencv2/dnn/dnn.hpp>
#include <opencv2/imgproc/imgproc.hpp>
#include <opencv2/highgui/highgui.hpp>
#include <opencv2/core/utils/trace.hpp>
#include <fstream>
#include <iostream>
#include <stdio.h>
#include <cstdlib>
#include <ctime>
#include <sstream>

usi

[2020-02-21 12:42] jashwanthsoamsila opened #16637 "identifier CV_HAAR_FIND_BIGGEST_OBJECT is undentified , identifier "Tracker" is unidentified please solve this"
#include <opencv2/opencv.hpp>
#include <opencv2/video/tracking.hpp>

#include <opencv2/core/ocl.hpp>
#include <opencv2/objdetect.hpp>
#include <opencv2/dnn/dnn.hpp>
#include <opencv2/imgproc/imgproc.hpp>
#include <opencv2/highgui/highgui.hpp>
#include <opencv2/core/utils/trace.hpp>
#include <fstream>
#include <iostream>
#include <stdio.h>
#include <cstdlib>
#include <ctime>
#include <sstream>

usi

[2020-02-21 12:49] #16637 closed

[2020-02-21 12:52] Enaxadrel commented on #16634
I just follow the official installation documentation of OpenCV : https://docs.opencv.org/trunk/d7/d9f/tutorial_linux_install.html and this errors arrive during the command "make -j7"

The used version include and use in the master branch of OpenCV git.

[2020-02-21 13:01] alalek commented on #16634
[Can't reproduce](http://pullrequest.opencv.org/buildbot/builders/master_opt-avx2_noICV-skl-lin64/builds/511) with [Ubuntu 18.04 FFmpeg](https://github.com/opencv-infrastructure/opencv-worker-config/blob/142336245d03e317f91c5dde7335d03a05fda6c5/images/ubuntu--18.04/docker/Dockerfile#L11).

CMake's FFmpeg section:
[code]

[2020-02-21 13:51] Enaxadrel commented on #16634
I found the problem (i think). This is my CMake's FFmepg section :

[code]
On the other side, we have in opencv/modules/videoio/src/cap_ffmpeg_impl.hpp :

[code]

My version is under 54.25, so, we must used CodecID but some part of cap_ffmpeg_impl.hpp use hard code with AVCodecID instead of CV_CODEC_ID that adapt the type according to the version.

[2020-02-21 14:10] alalek commented on #16634
Ubuntu 16.04 FFmpeg versions:
[code]

54.23.100 is something very old. And installed using some custom process (check your `/usr/local` for unwanted custom manual package installations)

BTW, Looks like it is FFmpeg from 2012: https://github.com/FFmpeg/FFmpeg/blob/release/0.11/libavcodec/version.h

[2020-02-21 14:13] alalek commented on #16632
Thank you for the report!

Please provide simple code snippet with reproducer (like [here](https://github.com/opencv/opencv/pull/16597#issuecomment-589283105)).

[2020-02-21 14:44] fnhdx commented on #16475
@ashishkrshrivastava
I didn't actually install onnx in my pytorch environment. I am importing pytorch.onnx. Don't know what version they are using.

[2020-02-21 14:56] alalek commented on #16533
Can't reproduce:
[code]

`${IPP_ROOT_DIR}/lib/intel64` has been created by IPP 2020.0.166 package.

[2020-02-21 15:25] Pfaeff commented on #16632
Sure. Here you go:

[code]

[2020-02-21 15:29] emmenlau commented on #16533
Dear @alalek thanks a lot for investigating this issue.

My installation of IPP does not have the folder `${IPP_ROOT_DIR}/lib/intel64` but instead has folder `${IPP_ROOT_DIR}/lib/intel64_win`. But my installation is done by our local IT department, and was somehow performed in a scripted manner. I will check and see if they may have done extra steps to get the automatic scripting working.

Closing

[2020-02-21 15:29] #16533 closed

[2020-02-21 15:47] #16299 closed

[2020-02-21 15:48] #16272 closed

[2020-02-21 18:10] adamrankin opened #16642 "Help with OpenCV configure - objdetec"
Hello,

I am trying to configure OpenCV 4.2.0 with OpenCV_contrib 4.2.0 specified, and I get the following CMake error:

[code]

Could anyone help me with figure out where the AVX cmake target should come from? Or if they've seen a similar issue elsewhere?

Thanks,
Adam

[2020-02-21 19:02] dkurt commented on #16642
Please add all the details to make it reproducible - commits hashes, CMake command flags

[2020-02-21 19:12] adamrankin commented on #16642
Wrong place for this, was more of a question. Will post in the forums.

[2020-02-21 19:12] #16642 closed

[2020-02-21 19:37] #16204 closed

[2020-02-21 19:56] #4539 closed

[2020-02-21 19:56] #14521 closed

[2020-02-21 20:57] #16618 closed

[2020-02-21 20:59] dkurt commented on #16623
Can we close this issue?

[2020-02-21 21:25] alalek commented on #16623
I believe we can try to improve DarkNet importer to ignore "Cost" training-only layers.
Any thoughts?

[2020-02-22 02:12] molyswu commented on #16602
Hi,YashasSamaga!
The test_code  send to your email( Yashas_2010@yahoo.com) .

Thanks
molyswu

[2020-02-22 05:46] ashishkrshrivastava commented on #16623
@alalek , Maybe either setting `"Identity"` layer for `"Cost"` layer or ignoring while parsing would work.

[2020-02-22 06:57] dkurt commented on #16623
That's good idea

[2020-02-22 12:57] ashishkrshrivastava commented on #16623
@alalek , @dkurt
while parsing
[code]
the parameter `type` is interpreted as layer type. producing error.
`darknet_io.cpp:762: error: (-212:Parsing error) Unknown layer type: sse in function 'ReadDarknetFromCfgStream'`
Because here we are storing layer type with key "type".
https://github.com/opencv/opencv/blob/102ef39a27bfc277d82045e5c5e0d4b1251294df/modules/dnn/src/darknet/darknet_io.cpp#L552-L5

[2020-02-22 13:32] Penggggg opened #16646 "Javascript fillConvexPoly Error"
- OpenCV => 4.2.0
- Operating System / Platform => Mac OS
- Compiler => VSCODE

##### Detailed description

when I Use `cv.fillConvexPoly` in Javascript, it got an Error like this:

`
Uncaught TypeError: Incorrect number of tuple elements for Scalar: expected=4, actual=3
`

##### Steps to reproduce

Here's my code

[code]
PS: I can't find any doc `fillConvexPoly` **for Javascript** in [URL](https:

[2020-02-22 14:38] czgdp1807 commented on #16587
Hi @dkurt
I executed the tests for split layer.
[code]
Why `Split/0` is skipped? Please let me know what I have to do to run `NGRAPH/CPU` tests as they were the ones failing in the other PR. Thank you.

[2020-02-22 14:49] snshn commented on #14868
On Ubuntu 19.10 for me it was `sudo ln -s /usr/local/include/eigen3/Eigen /usr/include/Eigen`

[2020-02-22 18:02] dkurt commented on #16587
@czgdp1807, so it's skipped because it's failed.

Call `./bin/opencv_test_dnn --help` to see available flags. BTW, maybe this PR may fix the test: https://github.com/opencv/opencv/pull/16628

[2020-02-22 18:05] czgdp1807 commented on #16587
Thanks for the update. I will try the above command.

[2020-02-22 19:19] dkurt commented on #16623
There are just three entries of "type" so we probably can replace it to something like "layer_type" to not to mix with "type" as layer attribute.

[2020-02-22 22:03] WisdomPill commented on #16462
Yes I have the patch, in the next week or the one after I will make a PR about that.

As of now, I don't now about the angle, but for sure there's the value in the matrix that `cornerHarris` and `cornerMinEigenVal` gives back that should be returned, as a part of the function goodFeaturesToTrack and GFTTDetector.

If anybody knows where this information should go, just point it out, otherwise I ha

[2020-02-23 06:28] atinfinity opened #16649 "[Proposal] Remove code for old compute capability"
Now, OpenCV has code for old compute capability.

- https://github.com/opencv/opencv/blob/4.2.0/modules/core/include/opencv2/core/cuda/simd_functions.hpp#L95-L103
- https://github.com/opencv/opencv/blob/4.2.0/modules/core/include/opencv2/core/cuda/saturate_cast.hpp#L105-L107
- https://github.com/opencv/opencv/blob/4.2.0/modules/core/include/opencv2/core/cuda/scan.hpp#L196-L207

But, the latest CUD

[2020-02-23 11:42] ashishkrshrivastava commented on #16623
Thanks, got it.

[2020-02-23 15:44] stereomatchingkiss opened #16654 "cv::dnn::readNetFromONNX load model failed(fcn resnet converted by pytorch)"
##### System information (version)

- OpenCV => 4.2.0(aa2777ed61ffb4e56ff2a681708b3bcca76f154c)
- Operating System / Platform => win10 64bits
- Compiler => Visual Studio 2017 64bits

##### Detailed description

Load the fcn network converted by pytorch but fail, error message

`OpenCV(4.2.0-dev) c:\users\yyyy\programs\qt\3rdlibs\opencv\dev\opencv\modules\dnn\src\onnx\onnx_importer.cpp:112: error:

[2020-02-23 16:27] alalek opened #16655 "core(MatExpr): `.type()` implementation bug"
`MatExpr::type()` may ignore channels.

Test code:

[code]

Output (OpenCV 3.4.9-dev):
[code]

---

exploded by #16653 and improper test code (`dnn:imagesFromBlob.Regression`).

[2020-02-23 17:45] heisenbuug commented on #16132
@IRDonch @dkurt I haven't received any response here, also there is no specific project proposal for adding more segmentation models this year. So, I think we can close this issue?

[2020-02-23 19:09] vasanthhr commented on #11588
@Polak149

Hello, I am also facing the same issue. Could you please guide me how to resolve this issue.
In my case, i always resizing to 213x120. Please find the example as below.

(I am passing 1280x720 as the input image and then resize to 213x120)

cv.resize(img, imgScaled,  new cv.Size(0,0),1/6,1/6, cv.INTER_NEAREST );

[2020-02-23 19:29] czgdp1807 commented on #16433
Hi,
I was thinking about this issue. I have the following two API designs in mind for multidimensional support in `GpuMat`.

**Overloading functions**
We can overload functions of `GpuMat` which will support multiple dimensions. For example,
currently one of the constructors of `GpuMat` is,
[code]
Here we have to give, `rows`, `cols` and `type`. We can replace `rows` and `cols` with something like

[2020-02-23 19:34] Aberzelius commented on #16433
Greetings people. I'm looking for a tesseract ocr coding about find duplicate numbers in an image and marking them. For example I have numbers listed from 1 to 99 in an image and i dont want any number to repeat more than once, but in my paperworks there are some repetitions (like two "65" randomly in the paper like 5 23 65 86 65 12 33 21 etc.) and i want to discard those repeated paperworks. In r

[2020-02-23 21:15] alalek commented on #16433
Perhaps separate new class `GpuMatND` ('ND' states for n-dimensional) should work great.

is a more common name (may conflict with other existed containers in OpenCV or should be designed perfectly to unify all of them)

[2020-02-23 23:47] solarflarefx commented on #16449
@ss-github-code Were you able to fix your problem?  I am still getting this error, even though I have downloaded cudnn and placed the files in the proper directories.  The path is also included in my environment variables.

[2020-02-23 23:56] solarflarefx commented on #16380
@haquocviet how did you go about setting this?  I downloaded cudnn and put the files in the proper directories.  I even ensured the paths are in the environment variables.  However, I still get an error saying cudnn was not detected.  I tried following the instructions on here: https://jamesbowley.co.uk/accelerate-opencv-4-2-0-build-with-cuda-and-python-bindings/

[2020-02-24 01:38] saskatchewancatch commented on #16632
I did some looking into, some thoughts:

- assertion is tripped on that assertion foremost because the assertion expects type of data to be CV_64F, whereas example uses CV_32F type. So it seems there is restriction on FP precision as well.

- As per that assertion, addition of Vec+Mat of below types will also fail, which seems like an unnecessary restriction:
  - Vec(2/3/4)(f) with Mat of CV_32FC(

[2020-02-24 04:56] Infinity8sailor commented on #16579
`Python 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

(183, 275)

(275, 183)  #expected to be (183,275)

(275, 183) #expected to be (183,275)
`
looks like it returns converted matrix.....

[2020-02-24 05:23] haquocviet commented on #16380
First, you need to generate CMakeCache.txt file via either cmake cmdline or gui. Then you replace the vars in the file with your real paths of DNN. Finally you do "configure" again to complete the job.
Note that, this is only a temporary way to workaround the issue which the next version of opencv should fix it.

[2020-02-24 05:25] kanitmann commented on #7343
Just make sure your other instances of python are closed. cv2.imshow uses your IDLE window to give output of your camera/video player feed. So, if any other instance/window is open, python(or jupyter notebook  will run into a priority error and crash. Also if you want to close your output window, don't close it using the red cross button, but instead press any key on the keyboard. Hope these littl

[2020-02-24 05:27] kanitmann commented on #7343
But it won't work if you are changing the image presets, like changing it into Grayscale. The image would still show greenish color in output for grescaled images.

[2020-02-24 05:27] kanitmann commented on #7343
Just make sure your other instances of python are closed. cv2.imshow uses your IDLE window to give output of your camera/video player feed. So, if any other instance/window is open, python(or jupyter notebook will run into a priority error and crash. Also if you want to close your output window, don't close it using the red cross button, but instead press any key on the keyboard. Hope these little

[2020-02-24 06:57] kejriwalnishant1990 opened #16659 "Neon does not reduce the compute time on Arm"
Does dnn module support NEON instructions?

Here is the build information:

General configuration for OpenCV 4.2.0 =====================================
  Version control:               unknown

  Platform:
    Timestamp:                   2020-02-12T07:55:13Z
    Host:                        Linux 4.9.56-linaro-lt-qcom aarch64
    CMake:                       3.7.2
    CMake generator:

[2020-02-24 07:34] #16622 closed

[2020-02-24 07:58] enjoykcc456 commented on #16568
Hi @dkurt @YashasSamaga ,

Thanks for info.
After making the changes and rebuild. I am able to get rid of the error.
However, i have got another error:

[code]

Based on the assertion, i assume my model srcTensor is larger than the destMat.
How should i change the line and rebuild? Or should i just remove it?

Thank you.

[2020-02-24 09:17] YashasSamaga commented on #16568
@enjoykcc456 please upload the weights and the config file

[2020-02-24 09:42] enjoykcc456 commented on #16568
Hi @YashasSamaga ,

Please find the weights and config file in the following link:
https://drive.google.com/uc?id=1loXafiOcMboKXOiX7GlQ6Q51IPjGyRGK&export=download

Thanks

[2020-02-24 09:44] berak opened #16660 "dnn: inputs.size() in function 'getMemoryShapes'"
- OpenCV => 4.1.2 / 4.2.0
- Operating System / Platform => google colab
- Compiler => python3

related: #14290 #14713 #16323

trying to export a [pytorch unet model](https://github.com/karoly-hars/DE_resnet_unet_hyb) via onnx.
when importing it into cv2.dnn i met:

[code]

problem seems to come from this line:

https://github.com/karoly-hars/DE_resnet_unet_hyb/blob/8883e2f50322fc6680eca2454f0cb72a

[2020-02-24 13:38] cudawarped commented on #16380
Just to confirm when you type the following into cmd

you get the below path?

[2020-02-24 13:45] kejriwalnishant1990 commented on #13845
@mshabunin : Enable neon is not improving performance of dnn module. I have enabled Neon from cmake.
Target device : aarch64
Opencv : 4.2.0

 CPU/HW features:
   Baseline:                    NEON FP16
    required:                  NEON
     disabled:                  VFPV3

Any suggestions?

[2020-02-24 14:39] dkurt commented on #16659
@kejriwalnishant1990, please provide benchmark data, run performance tests, provide a build configuration of two builds but not only one.

Let's keep this issue closed until it looks like a bug report or feature request.

[2020-02-24 14:39] #16659 closed

[2020-02-24 15:32] ashishkrshrivastava commented on #14713
Hii @Aeroxander , are you still working with this model ?

[2020-02-24 15:48] dkurt commented on #16132
@heisenbuug, as  a part of GSoC program we expect some research from student. Adding a single segmentation model is not a good proposal for 3+ months of real coding.

Please take a look to more generic

https://github.com/opencv/opencv/wiki/GSoC_2020#idea-Write-a-tutorial-about-training-a-network-in-TF-or-PyTorch-and-then-running-it-in-OpenCV

and

https://github.com/opencv/opencv/wiki/GSoC_2020#i