[2020-12-18 11:01] panmengjia commented on #19160
I have spend much time for fixing the issue,but the outcome is sad!!!!!

[2020-12-18 11:37] alalek commented on #19134
Please note that `ocl::Kernel`:
- should not be used multiple times (async mode doesn't support that and becomes broken)
- should not be stored anywhere (like class fields). Correct flow is create, fill args, enqueue, release. Create new `ocl::Kernel` if required.

AFAIK, `images` are filled through `.set()` methods (to keep `cl_image` handles alive).
They can be reused later.
Fix doesn't look not

[2020-12-18 12:01] #15514 closed

[2020-12-18 12:11] arnaud-nt2i commented on #18975
@alalek
 Thank you

[2020-12-18 13:42] diablodale commented on #19134
OK, I follow your thinking. Then is a reverse code change appropriate...to *remove* the `images.clear() in the async `finit()` callback? This would align with the intention in your last sentence.

[2020-12-18 13:43] #19117 closed

[2020-12-18 14:28] fpetrogalli opened #19163 "[cv::transform] Enable CV_SIMD for the 16U case on AArch64."
##### System information (version)

- OpenCV => 4.2 (master branch)
- Operating System / Platform => Linux/ARM64 (aarch64 - NEON)
- Compiler => gcc

##### Detailed description

Enable `CV_SIMD` for `cv::transform` in the `16U` case. My current configuration reports an x-factor of ~2.2 ~2.5 on  the `Mat_Transform::Size_MatType` and `Transform::OCL_TransformFixture` tests, an no degradation in the o

[2020-12-18 17:44] Brainstorm67 commented on #19145
After trying with the current master branch it works fine, thanks a lot ^^
Do you have an idea of when the 4.5.1 will be released yet ?

[2020-12-18 17:44] #19145 closed

[2020-12-18 19:03] notchdesign opened #19165 "Empty JavaCameraView and JavaCamera2View in 4.4.0 and 4.5.0"
##### System information (version)

- OpenCV =>  4.5.0, 4.4.0
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Android Studio Version 4.1

##### Detailed description

I am using OpenCV version 4.5.0 latest currently to get the camera frames and process them. But the issue is after doing everything my JavaCameraView is empty blank with nothing in it. Same with JavaCamera2View.
btw I

[2020-12-18 19:55] llschloesser opened #19166 "Add USAC EstimationMethod::AffinePartial2D"
##### System information (version)
- OpenCV => 4.5
- Operating System / Platform => Ubuntu 20.04
- Compiler => g++ 9.3

##### Detailed description
A recent [GSOC contribution](https://docs.opencv.org/master/d1/df1/md__build_master-contrib_docs-lin64_opencv_doc_tutorials_calib3d_usac.html) added USAC options to many existing geometry functions. However, USAC support was not added to `cv::estimateAf

[2020-12-18 19:59] llschloesser commented on #19149
@Ribitsch you can simply run the algorithm twice and do the check yourself though you may need to do some small neighborhood comparison (4 neighbors of subpixel flow vector end point).

[2020-12-18 20:08] Ribitsch commented on #19149
I’m not quite sure what you mean with „4 neighbors of subpixel flow vector end point“

[2020-12-18 20:17] alalek commented on #19163
relates #9753
Check this comment about related condition: https://github.com/opencv/opencv/pull/9753#discussion_r151461068

/cc @tomoaki0705

[2020-12-18 20:46] llschloesser commented on #19149
The endpoint of the forward flow will be subpixel and so it will have 4 integer pixels it is between.
![image](https://user-images.githubusercontent.com/10792438/102659438-618c4c00-4147-11eb-8812-09f6c4d46cbe.png)
You can compare the forward endpoint to the negative of the backward flow at the nearest pixel or choose to do some comparison or interpolation with the other 3 (or more) neighboring pix

[2020-12-18 21:01] Ribitsch commented on #19149
Thanks a lot for the answer! Will have a look into the paper

[2020-12-18 22:30] #19124 closed

[2020-12-18 22:30] #18835 closed

[2020-12-18 22:30] #18878 closed

[2020-12-18 23:50] KurtPachinger opened #19169 "JavaScript dsize artefacts (cv.resize/cv.INTER_LINEAR)"
##### System information (version)
- OpenCV => 4.5
- Operating System / Platform => Windows 10 Home x64
- Compiler => opencv.org (Emscripten CMake)

##### Detailed description

A canvas has animated particles drawn. I used OpenCV.js for faux depth-of-field.
I used cv.resize (instead of blur) to add a tiny relative blur at any image resolution. I size it down and back up every 1s.
A small change in

[2020-12-19 02:06] tomoaki0705 commented on #19163
@fpetrogalli would you mind showing the actual number of the measurement from `Mat_Transform::Size_MatType::(1920x1080, 16UC3)`, both before and after modifying the `!defined(__aarch64__)` part.
Also, please write down the
 - Chip name (Raspberry Pi 4 ?)
 - GCC version (5.4.0 ? 6.3.0 ?)

I'm the one who disabled this part, and there was a good reason at that time.
These numbers and information are

[2020-12-19 08:18] vision-one opened #19171 "when inferencing via object detection api pb files and pbtxt."
OS : ubuntu 16.04 LTS
Opencv : 4.4.0 (with CUDA)
Tensorflow version : 1.13.2

I've found that the height stride and width stride work very well with 16.

I made a pb file by modifying the stride of resnet 101 config through the tensorflow object detection api. (16 -> 4)

feature_extractor {
  type: "faster_rcnn_resnet101"
  first_stage_features_stride: 16
}
first_stage_anchor_generator {
  grid_an

[2020-12-19 08:29] notchdesign commented on #19165
@alalek I have added more details sorry for noobness I have added the version details in the comment, not at the actual place, I have tried multiple combinations with multiple options but no luck. Please look into it or if you happen to have any working Android project with OpenCV 4.4.0 or above source code or repo which you know about please redirect me to it.

[2020-12-19 08:34] notchdesign commented on #16884
@Ibernato93 did you found any solution yet?

[2020-12-19 08:52] snuq commented on #18131
Also struggling with this issue, really dont understand where to even start looking for a solution or fix... any help would be appreciated

[2020-12-19 09:32] alalek commented on #19169
Do NOT do that until you really know that implementation supports in-place processing (or you will get broken result or receive performance impact).
Use dedicated buffer for results.

---

What is expected result?

Resize table in implementation uses 10-bit fixed point arithmetic (1/1024).
Artifacts come from there.
Won't fix that. `Use resize()` for right tasks instead.

---

Check GaussianBlur()

[2020-12-19 10:13] alalek commented on #18131
OpenCV is not tested and probably doesn't support modern Android SDK/NDK versions. So try tools from 2018-2019 first.

Unfortunately, there are no active Android users in OpenCV development team.

If you are Android expert then feel free to contribute through Pull Requests.
Also investigation with follow-up comment with **the clear reason of the problem** is very useful.

---

BTW, there is an exa

[2020-12-19 10:39] theoniko commented on #6897
I am not sure if it really helps but I also reproduced this error with latest master
System information (version)
    OpenCV =>  OpenCV 4.5.1-pre (Version control: 4.3.0-1425-g743f1810c7)
    Operating System / Platform => Ubuntu 16.04
    Compiler => g++ 9.3.0

Detailed description
I run g++ bug.cpp -o bug -I /usr/local/include/opencv4  -lopencv_core -lopencv_imgproc
and the output was the follow

[2020-12-19 13:02] tomoaki0705 commented on #19163
BTW, I realized that the title of this issue and PR says `16U`, when the actual PR is targeting about `32F` so there are conflicts between the title and the contents.
I removed the both `ifdef` and ran the performance test.

[code]

platform|compiler|chip|test|before|after|x-factor
----|----|----|----|----|----|----
Le Potato|GCC 5.4.0|Cortex A53|`Size_MatType_Mat_Transform.Mat_Transform/16`|146.4

[2020-12-19 14:41] asmorkalov commented on #19123
QUIRC is used for decoding only. The failure happens on detection stage.

[2020-12-19 14:43] asmorkalov opened #19172 "Subset of Perf_Objdetect_QRCode_Multi.detectMulti cases fail sanity check on ARM64"
##### System information (version)
- OpenCV => 4.5.1-pre (git 46e275dfe4616b07cd2492c17698d1a0be0aa6df )
- Operating System / Platform => Ubuntu 20.04, arm64-v8a
- Compiler => GCC 9.3

Hardware:
[code]

##### Detailed description

[code]

opencv_perf_objdetect / decodeMulti/0 | 0.11 sec | Failed
-- | -- | --
opencv_perf_objdetect / decodeMulti/1 | 66 ms | Failed
opencv_perf_objdetect / decodeMulti

[2020-12-19 14:47] asmorkalov opened #19173 "Subset of Perf_Objdetect_QRCode_Multi.decodeMulti test cases fail sanity check on ARM64"
##### System information (version)
- OpenCV => 4.5.1-pre (git 46e275dfe4616b07cd2492c17698d1a0be0aa6df )
- Operating System / Platform => Ubuntu 20.04, arm64-v8a
- Compiler => GCC 9.3

Hardware:
[code]

##### Detailed description

[code]

opencv_perf_objdetect / decodeMulti/0 | 0.13 sec | Failed
-- | -- | --
opencv_perf_objdetect / decodeMulti/1 | 68 ms | Failed
opencv_perf_objdetect / decodeMulti

[2020-12-20 01:47] KurtPachinger commented on #19169
I used GaussianBlur instead and moderated the effect with addWeighted. The right-most vertical quadrant still appeared... until I cleared my cache. Thanks!

[2020-12-20 01:47] #19169 closed

[2020-12-20 01:49] alalek opened #19174 "ABI: re-enable quaternion code for ABI/API check"
Due to active ongoing development it is disabled in OpenCV 4.5.1 release.

We need to re-enable it later.

[2020-12-20 02:56] panmengjia commented on #19160
I have fixed the issue. Setting the type of  kernelMat[6] as Mat

[2020-12-20 05:31] #19090 closed

[2020-12-20 07:06] huntzhan commented on #18120
`np.ascontiguousarray` also help mitigate this issue.

[2020-12-20 11:48] xiedeacc opened #19178 "failed compile opencv undefined reference to `clfftInitSetupData'"
- OpenCV => 4.5.1
- Operating System / Platform =>ubuntu20.04
- Compiler => gcc-8.4
I compiled clfft by myself, and library located in /usr/local/lib64, and I have add this directory to  CMAKE_LIBRARY_PATH in opencv toplevel CMakeLists.txt, I found clfftInitSetupData class in the clfft source code? so what's wrong?
does my compile flag wrong when I compile clfft? or wrong gcc version?

[2020-12-20 14:39] alalek commented on #19178
Not supported.

duplicate of #5444

---

Build / usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-12-20 14:39] #19178 closed

[2020-12-20 17:07] francoamato opened #19179 "[BUG] Can not run any dnn routine"
##### System information (version)
- OpenCV => 4.5.1
- OpenVINO => 2021.2.185
- Operating System / Platform => Windows 10 Pro 64-bit
- Compiler => Visual Studio 2019
- CPU => intel CORE i7 9th Gen
- GPU => NVIDIA GeForce GTX 1660 Ti

##### Detailed description
Hello everyone!
I built OpenCV from source but I can't run any routine belonging to the dnn module. I had no problems with previous version

[2020-12-20 18:10] alalek commented on #19179
[Can't reproduce](http://pullrequest.opencv.org/buildbot/builders/master_openvino-win64).

Try to run under debugger and ensure that DLLs are loaded from correct paths.

---

We don't help with remote investigation of problems which we are not able to reproduce on our side (because it is very time consuming and usually configuration problem without any following fix into OpenCV), but we can take a

[2020-12-20 19:08] francoamato commented on #19179
Hi,
yes all DLLs are correctly loaded ( checked with Dependency Walker ).
I don't know what to try anymore

[2020-12-20 22:55] #19163 closed

[2020-12-20 22:55] #18520 closed

[2020-12-20 22:55] #19131 closed

[2020-12-21 01:26] francoamato commented on #19179
I just did a test. I tried to load different models from openvino ones and it worked.
So seems the problem is related to the OpenVINO backend or with the models itself.

const std::string base = "C:/Users/Franco/Work/GDKiosk/Models/";

// Trying to load non openvino models (success)
const std::string faceProto =  base + "opencv_face_detector.pbtxt";
const std::string faceModel = base + "opencv_fac

[2020-12-21 02:11] zcufo123 commented on #19155
@alalek  Thank you for your reply, but it still doesn't work, the CMakeLists.txt that I have changed is:

`cmake_minimum_required(VERSION 3.6)

set(target detection_based_tracker)
project(${target} CXX)

set(ANDROID_OPENCV_COMPONENTS "opencv_stitching" CACHE STRING "")
message(STATUS "ANDROID_ABI=${ANDROID_ABI}")
find_package(OpenCV REQUIRED COMPONENTS ${ANDROID_OPENCV_COMPONENTS})

file(GLOB srcs

[2020-12-21 03:05] hattafudholi opened #19183 "Input layer not found: FeatureExtractor/MobilenetV3/Conv/weights in function 'connect'"
##### System information (version)
- OpenCV => 4.4.0
- OS => MacOSX Big Sur
- Tensorflow => 1.15
- Python => 3.7.4

##### Detailed description

I tried to do detection inference using openCV dnn with an exported model based on SSD-MobileNetV3-Large (trained using TF1 API). I have successfully generate the graph.pbtxt (as attached) using the tutorial found in [https://github.com/opencv/opencv/wiki/

[2020-12-21 03:37] zhuozhuo commented on #14405
Could you please release new version to Cocoapods @kylefleming ?

[2020-12-21 03:57] alalek commented on #19179
Stack trace is required (use binaries with debug information).

---

OpenCV tests pass loading of IR models.

Check other models which are used (and works!) in OpenCV tests: https://github.com/opencv/opencv/blob/4.5.0/modules/dnn/test/test_ie_models.cpp

[2020-12-21 06:12] dkurt commented on #19171
Related: https://github.com/opencv/opencv/pull/13766.

These parameters should be changed, that's right. I don't know if it's a bug in models' config or in our anchors formula. Feel free to propose changes.

[2020-12-21 08:44] asmorkalov opened #19184 "Test ExposureCompensate.SimilarityThreshold fails on Windows 10 in master branch"
##### System information (version)
- OpenCV => 4.5.1-pre (git 46e275dfe4616b07cd2492c17698d1a0be0aa6df )
- Operating System / Platform => Windows 10 x64
- Compiler => Visual Studio 2019 Community Editon x64, Ninja

##### Detailed description

[code]

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues,

[2020-12-21 09:01] asmorkalov opened #19185 "Test Samples.findFile failes on Windows 10 x64 on some systems"
##### System information (version)
- OpenCV => 4.5.1-pre (git 46e275dfe4616b07cd2492c17698d1a0be0aa6df ), 3.4
- Operating System / Platform => Windows 10 x64
- Compiler => Visual Studio 2019 Community Editon x64, Ninja

##### Detailed description

The issue can be related to local settings somehow.
My test log:

[code]

BuildBot CI log:

[code]

##### Issue submission checklist

 - [ ] I report th

[2020-12-21 14:46] JulienMaille commented on #19140
dear @alalek I suppose you are quite busy, do you still believe my PR doesn't make sense?

[2020-12-21 16:36] zoombinis commented on #7912
@alalek `cv::patchNaNs` removes nans, but inf and -inf are still present. Is there anyway to efficiently patch those as well? Functions like `cv::calcHist` don't work with NaN or Inf present.

[2020-12-21 17:25] erdaglimehmetcan opened #19188 ".XML CODE CANNOT BE FOUND - PATH ERROR"
import cv2

img = cv2.imread("Resources/face.jpg")
gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)

path = "C:\\Users\\lenovo\\PycharmProjects\\opencvwork\\cascades\\data\\haarcascade_frontalface_default.xml"
face_cascade = cv2.CascadeClassifier(path)
faces = face_cascade.detectMultiScale(gray)

for (x, y, w, h) in faces:
    img = cv2.rectangle(img, (x, y), (x + w, y + h), (255, 0, 0), 2)

cv2.imsho

[2020-12-21 17:28] erdaglimehmetcan commented on #19188
![image](https://user-images.githubusercontent.com/26819265/102804423-cd321b80-43ca-11eb-8628-b89c5de5d725.png)
It stacks in a infinite loop even though my path is completyly right. My PyCharm is newly updated and opencv is 4.4.0.46
thanks

[2020-12-21 17:30] erdaglimehmetcan commented on #18995
how can I install this one in pycharm ?

[2020-12-21 17:59] banipreetr commented on #19188
Works fine for me.

Can you try placing the XML file in the same folder as the python file that you are trying to run and adjusting the path accordingly?

[2020-12-21 18:04] erdaglimehmetcan commented on #19188
that doesn't work too. I really can't understand. Normally I am really patient about errors but I have been trying for 2 days about it

[2020-12-21 18:52] anuppari commented on #12499
@mshabunin to reproduce the issue, install in the default location (`CMAKE_INSTALL_PREFIX=/usr/local`), and run
[code]

I think this is still an issue and should remain open

[2020-12-21 19:05] anuppari commented on #12499
Also, the use of TBB needs to be enabled to reproduce the issue

[2020-12-21 19:59] DanSafdie opened #19189 "Python does not respond when running .imshow"
##### System information (version)

- OpenCV => 4.4.0.46 (opencv-python)
- Operating System / Platform => MacOS 11.1
- Compiler => PyCharm Community 2019.1 w/ Python 3.7 Interpreter

##### Detailed description

When I run the following code chunk in PyCharm, Python launches and immediately stops responding. No window is open. When I do the same on windows, the issue does not occur.

##### Steps to

[2020-12-21 20:10] alalek commented on #19189
Packaging issues are not maintained here (including 3rdparty libraries conflicts).

---

Reproducer should be minimal:
- drop PyCharm dependency. Run script from the terminal directly.
- drop `CascadeClassifier`. It is not needed to show `imshow()` problem.
- try to build OpenCV from source code. There are several cases with 3rdparty conflicts in `opencv-python` Pip package.

[2020-12-21 21:29] JulienMaille commented on #15034
I think one solution is to use the knowledge from this SO post: https://stackoverflow.com/a/23496916/1033400
and define:

[code]
@alalek I know this toolchain is not supported, but such a small fix would not hurt. (it will only apply for old 32bit msvc)

[2020-12-21 23:23] Huud commented on #12231
Since this is the first result in google, you can use mixChannels with UMat, but instead of writing it like this:

	cv::mixChannels(&mat1, 1, &mat2, 1, from_to, 3);

do it like this:

	cv::mixChannels(mat1, mat2,  from_to, 3);

[2020-12-22 03:11] erikguo commented on #18975
I just tried to do the modification in my opencv source file, but the detection result is totally wrong without any error information. How can I debug the prolbem ?  thanx.

[2020-12-22 03:40] xiedeacc commented on #19178
fixed by add add_libraries(clFFT) in Cmakefile

[2020-12-22 03:40] xiedeacc commented on #5444
fixed by add add_libraries(clFFT) in Cmakefile

[2020-12-22 09:16] aabramovrepo opened #19192 "Proposal // new image operations // feature distribution and histogram matchings"
Dear All,

   together with my colleagues I have been working over this year on two image processing operations `Feature Distribution Matching` and `Histogram Matching` in multiple color spaces for `unsupervised Domain Adaptation (DA)` for object detection. Both methods solely match image statistics between source and target domains. You can find more details about the methods and motivation in ou

[2020-12-22 13:41] diablodale commented on #19147
Waited the week for others to join our discussion. I've submitted the PR for review as you suggest this native approach is preferred over the existing opencv method.

[2020-12-22 13:58] SvnGms commented on #18653
Which windows version are u running? May u need to install the windows media feature package:
https://github.com/skvark/opencv-python/issues/154

[2020-12-22 14:05] francoamato commented on #19179
@alalek The example code you linked [https://github.com/opencv/opencv/blob/4.5.0/modules/dnn/test/test_ie_models.cpp](url) does not use the `cv::dnn::readNetFromModelOptimizer(xml, bin)` and `cv::dnn::readNet(xml, bin)` dnn functions; if it did you would realize it doesn't work with the versions of opencv and OpenVINO listed above and models from opencv_model_zoo.
Any concrete help please?

[2020-12-22 14:06] diablodale commented on #19140
Hi. answering your question...

This is what I was doing using low level OpenCL (but I'm moving away from nvidia toolkit, trying to leverage on opencv capabilities)

I do not. 😆 I do not yet have a wide view on the entire opencl and kernel subsystem of opencv. My issue and related PR about Image2D on a Kernel I found as I was tracing one of the memory allocation pathways and saw an irregularity/in

[2020-12-22 14:27] xiaohaoxiang opened #19196 "Why is there an extra space character here, which distorts the format."
https://github.com/opencv/opencv/blob/84676fefe3f61da5296b270bf5cb6b35db9b2f1b/samples/cpp/tutorial_code/videoio/video-input-psnr-ssim/video-input-psnr-ssim.cpp#L160

`Scalar getMSSIM( const Mat& i1, const Mat& i2)`

[2020-12-22 15:32] erdaglimehmetcan commented on #18995
How can I import latest version(4.5.1) in Pycharm ?

[2020-12-22 15:41] nglee commented on #16433
I'm also interested in implementing `GpuMatND`.

1. Is this patch for the master branch only? If so, maybe we can use `shared_mat` for reference counting.

2. Does this `GpuMatND` need to support padding on every axis? Or is it sufficient to provide padding only on the first axis? The current implementation for `Mat` seems to support padding only on the first axis, which seems enough to provide me

[2020-12-22 15:57] erdaglimehmetcan opened #19197 "How to install OpenCV 4.5.1 in Pycharm"
Hi! How can I install and import the latest version in Pycharm ?
Thanks.

[2020-12-22 16:20] Ziachnix opened #19198 "opencv.js - docker build throws Unexpected string"
##### System information (version)

- OpenCV =>  4.5.1-pre
- Operating System / Platform => js/asm
- Compiler => emscripten/emsdk:latest and emscripten/emsdk:2.0.10
- Docker => 3.0.0
- http-server => v0.12.3

##### Detailed description
Building opencv.js with the docker image 'emscripten/emsdk:2.0.10' and 'emscripten/emsdk' produces a not correctly encoded opencv.js file.
It seems that the encodin

[2020-12-22 18:17] votecoffee commented on #11313
I ran into the same issue.  The translation from pnp_detection.get_t_matrix() assumes z is forward, but for pnp_detection.get_R_matrix() z is up because of the convention they are using.  It's not wrong, but it is confusing because the xyz reference is not the same between the euler angles and the translation results.

If you do this, it will have the same reference:
[code]

[2020-12-22 19:28] neilyoung commented on #16425
Same with OpenCV 3.4.11

[2020-12-22 20:14] alalek commented on #19198
Attach this as .zip archive to issue's description.

Where is it loaded?
Please provide used tools versions and used command lines with files with minimal complete reproducers.

[2020-12-22 20:21] alalek commented on #19197
Please take a look on [these tutorials](https://docs.opencv.org/master/da/df6/tutorial_py_table_of_contents_setup.html).
There is no PyCharm specific, but they contain basic information how OpenCV Python binding works.

---

Build / usage questions should go to Users OpenCV Q/A forum: https://forum.opencv.org/
This tracker is for issues and bugs that needs fix in OpenCV.

[2020-12-22 20:59] conradorg opened #19201 "Python: Unable to perform optical flow interpolation with SparseMatchInterpolator (OpenCV Contrib)"
##### System information (version)

- OpenCV => 4.5.0 (built from source)
- Operating System / Platform => Debian GNU/Linux 10 (buster)
- Compiler => Python 3.7 Interpreter

##### Detailed description

I tried to perform an interpolation of a sparse optical flow with the subclasses of SparseMatchInterpolator (RICInterpolator, EdgeAwareInterpolator) and got the following error (with respect to the

[2020-12-22 21:19] JulienMaille commented on #19140
Thanks for stopping by!
Did you answer based in how one should work with OpenCL or how one should call openCL through OpenCV?
It seems that reusing a kernel is absolutely normal when writing raw openCL code, see here for instance: https://community.khronos.org/t/calling-the-same-kernel-object-multiple-times/1340/2
I have been doing this for years without issues.

[2020-12-22 21:41] alalek commented on #19140
Right.

What is the problem to pass `cv::ocl::Image2D` multiple times (create `cv::ocl::Image2D` outside of the loop)? Please provide usage example.

---

Right.

Main difference here is that OpenCV's ocl::Kernel does some lifetime management of used OpenCV buffers/images (including buffer pools). By default OpenCL processing in OpenCV is asynchronous.

Lifetime management of asynchronous calls is

[2020-12-22 22:45] nwrkbiz commented on #11952
@jumpy88 I am very sorry if I caused conusion, but saw that I granted my wrapper app root permissions, thats why it worked out for me.

[2020-12-22 23:01] KSU5 commented on #17739
I'd like to give this a shot. Could you assign me?

[2020-12-22 23:30] toplinuxsir commented on #18975
@dkurt Hi, It is fixed by opencv 4.5.1 (just released)?

[2020-12-23 06:02] sayom88 opened #19204 "Can OpenCV be used for Layout Testing?"
Hello,

Can OpenCV be used for Layout Testing? If yes, what is the procedure to do?

[2020-12-23 06:17] sayom88 commented on #19204
hi @alalek are there any documentations which shows OpenCV's support for Layout Testing please?

[2020-12-23 06:29] alalek commented on #19132
This is a correct note. We should not activate OpenCL in these cases.
Empty UMat ctor is widely used in implementation classes as fields (and we can't avoid them). These fields should not trigger OpenCL activation.

So sample above with `UMat dst;` is not correct example.

[2020-12-23 07:42] alalek commented on #18398
Unfortunately, there is no approval for creation of repository for Swift package (`opencv-swift`) in github.com/opencv space.

Decision notes (December, 2020):

[2020-12-23 09:03] jumpy88 commented on #11952
@nwrkbiz no problem, we are investigating, any clue can be useful 🙂

[2020-12-23 09:25] mina-sarofem commented on #18653
Hi,

    Will it work for windows 8.1?

On Tue, Dec 22, 2020 at 4:59 PM SvnGms <notifications@github.com> wrote:

[2020-12-23 11:11] Jargon4072 commented on #16387
Hi,
I am trying to load an onnx model converted from mxnet (insightface's retinaface model: https://github.com/zheshipinyinMc/arcface_retinaface_mxnet2onnx/blob/master/Retinaface/mnet.25/onnx/mnet.25_deconv.onnx) through opencv4.2.0 for visual studio, in c++. I am getting the below error:

OpenCV: terminate handler is called! The last OpenCV error is:

[code]
The same model is working fine if I am

[2020-12-23 11:16] #18693 closed

[2020-12-23 12:09] #19132 closed

[2020-12-23 12:31] JulienMaille commented on #19140
This is not what I'm trying to do, so I don't have a ready made example, but I'm afraid that #19135 cleaning will clear the Image2D after the first kernel call.

What do you recommend to do if we're good with synchronous calls?

How are we supposed to take advantages of operation on Umat already being on the GPU together with OpenCL on those Umat (through Image2D) without constant reallocation/reu

[2020-12-23 12:33] #19083 closed

[2020-12-23 14:38] Ziachnix commented on #19198
I added the build output as zip file and the tools versions to the description of the issue.

opencv.js is loaded in the tests.html file.
Do you need further information to reproduce the issue?

[2020-12-23 14:52] alalek commented on #19198
Thank you for update!

I can confirm that `opencv.js` file from the "bin" archive is broken:

[code]

[2020-12-23 15:06] diablodale commented on #19140
If we all three can agree on what the current code was intended to do, then we can verify that code and see if it does.

* I suspect the existing OpenCV Kernel code does not do what was intended. The cleanup after the Kernel runs sync/async is not consistent. That's what I'm exploring in my issue https://github.com/opencv/opencv/issues/19134
* Alalek tells us the existing implementation of OpenCV

[2020-12-23 15:21] alalek commented on #19140
I believe it is better to provide use case first, preferable in form of test. `test_opencl.cpp` should be the right location for that.
This should help to resolve the issue itself instead of guessing what is the problem here.

[2020-12-23 17:52] #19147 closed

[2020-12-23 19:42] JulienMaille commented on #19140
Well I can, but UMat to Image2D conversion will reallocate data every time and lead to memory saturation.

Reallocation doesn't happen around 3252, but at line 7105

[2020-12-23 21:03] chrisballinger commented on #18398
@alalek Well that's a bummer, but thanks for the update. What about for enabling GitHub Actions for this repository?

[2020-12-23 21:51] crackwitz commented on #15465
OpenCV should get more tolerant of various data types when it expects exactly tuples of integers. it would be great if OpenCV accepted floats in addition to ints, and if it accepted numpy arrays in addition to tuples.

[2020-12-23 22:57] n-gineer commented on #18461
To help others, I found that my .bashrc needed to contain the following:
`export DISPLAY=:0.0`
previously, it said
`export DISPLAY=localhost:0.0`

[2020-12-24 00:24] LupusSanctus commented on #19183
@hattafudholi, could you, please, provide more details about ``ssdlite_mobilenet_v3_large.config``, is it a custom configuration? It would be great if you could attach this file.

[2020-12-24 00:44] hattafudholi commented on #19183
@LupusSanctus, I have added the file in my original post. Cheers.

[2020-12-24 02:45] diablodale commented on #19140
Why would you do such a UMat->Image2D multiple times? Do it once as I wrote above, and reuse that one var.
If you have ever changing data, then I see no alternative. OpenCl doesn't allow reuse of Kernel args data.

I'm somewhat in Alalek's view. We need a clear repo case so we can investigate your needs. Every time we provide you solutions, you don't like them -- even though they should work. It i

[2020-12-24 08:08] erikguo commented on #18975
Today I found the cause of problem. After fixed, my opencv can run the yolov4x-mish.cfg now. But I found the box confidenses is all below 0.6.  I don't know why ?

[2020-12-24 10:10] dkurt commented on #19204
@sayom88, please use a forum for usage questions: https://forum.opencv.org/

[2020-12-24 10:10] #19204 closed

[2020-12-24 14:08] JulienMaille commented on #19140
I'm processing an image stream coming from a camera. If I'm doing it wrong, i'll be happy to fix my mistake.

I will cleanup and share code, just give me some time

Huh? You make me sound like a stubborn kid. The only solution I read was to create/destroy kernels at the same rate my camera is generating images. Did I miss something?

[2020-12-24 14:50] xiedeacc opened #19211 "build with BUILD_opencv_js=ON error"
- OpenCV => 4.5
- Operating System / Platform => ubuntu20.04
- Compiler => gcc8.4 -std=c++14
- emsdk-2.0.10
build with -D BUILD_opencv_js=ON \ -D BUILD_opencv_js_bindings_generator=ON \

wire.h:68:18: error: missing binary operator before token "(" #if __has_feature(cxx_rtti)
 error: ‘aruco’ is not a namespace-name
 using namespace aruco;

fatal error: Eigen/Core: No such file or directory#  inclu

[2020-12-24 16:43] alalek commented on #19211
Eigen is disabled for JS builds:

https://github.com/opencv/opencv/blob/656b20a169c1f2bbcca7e88c5ce86cf237171417/platforms/js/build_js.py#L91

Please use proper build scripts and instructions: https://docs.opencv.org/4.5.1/d4/da1/tutorial_js_setup.html

[2020-12-24 16:59] #12818 closed

[2020-12-24 17:01] alalek commented on #11076
`cvSaveImage()` is fixed here: #19203 (3.4 branch only)

[2020-12-24 19:36] diablodale commented on #19140
It is likely your camera data is written to CPU RAM. True?
And can also be said, your camera data is not directly written by the camera hardware to GPU memory. True?
Cameras typically do not DMA data directly from its sensor to GPU memory. It usually travels through CPU/CPU memory.

If all that is true, then the camera frame data resides in CPU RAM. Every new frame is in CPU RAM. Repeatedly.
That

[2020-12-24 20:11] alalek commented on #18917
The first test with `GPU:1:` was added by PR #18186 with adding support for different GPUs. No need to eliminate that case just because it is not covered by public CI.

1. Public CI can't validate all possible configurations (resources are limited). It covers testing of some generic / default / frequently used configurations.
2. Tests can be skipped if tests don't meet prerequisites.
3. No need to

[2020-12-25 01:28] YijinLiu commented on #19129
It seems it's caused by some change between 3.4.3 and 3.4.4.
I suspect it's https://github.com/opencv/opencv/pull/12877

[2020-12-25 04:05] yartem commented on #15465
sometimes this happen when coordinates are out of image.shape

[2020-12-25 05:58] java311 commented on #18026
I can confirm this issue.
My hotfix to this issue is to create a GpuMat object and fill it with the scalar value.

[2020-12-25 10:47] zouhbwll opened #19214 "OpenCV 3.4.13, can't transform from “std::array<cv::Mat,2>” to “cv::debug_build_guard::_InputArray”"
##### System information (version)

- OpenCV => :3.4.13:
- Operating System / Platform => : Windows 64 Bit
- Compiler =>  Visual Studio 2013

##### Detailed description

When I install `OpecCV 3.4.13` , `the function banner in test_mat.cpp` met the error, it was :

D:\OpenCV\opencv-3.4.13-source\modules\core\test\test_mat.cpp	2027	1	opencv_test_core

Then I check `the class _InputArray ` in  the f

[2020-12-26 02:05] ZurMaD opened #19218 "Transpose the weights (except for convolutional) is not implemented in function 'ReadDarknetFromWeightsStream'"
##### System information (version)

- OpenCV == 4.4.0.46
- Operating System / Platform => Debian 10.7

requirements:

[code]

##### Detailed description

Hello, I trained weights based on [yolo3-tiny.cfg](https://github.com/roboflow-ai/yolov3/blob/master/cfg/yolov3-tiny.cfg) provided by [Roboflow-ai](https://github.com/roboflow-ai/yolov3/tree/master/cfg). However, when I try to do an inference wit

[2020-12-26 02:38] zouhbwll commented on #19214
I modify the defination `CV_CXX_STD_ARRAY` in file `cvdef.h` , and it worked.

Just let CV_CXX_STD_ARRAY   likes it in `master version`:
[code]

[2020-12-26 07:02] #19198 closed

[2020-12-27 12:31] drahoslavzan opened #19224 "[branch next]: seg. fault in imgproc putText method when a certain TTF font is used"
##### System information (version)

OpenCV => next
OS => Linux x64

##### Detailed description

Most of the fonts work as expected, but with some TTFs an app will crash.

##### Steps to reproduce

1. Download TTF font from https://www.fontsquirrel.com/fonts/fff-tusj
2. Set it to FontFace instance and use it with getTextSize method

The app with crash in **stb_truetype.cpp** on line 3512. Due to **

[2020-12-27 13:53] erikguo opened #19225 "opencv dnn cannot predict correct dets for yolo_v3_tiny_pan3.cfg"
##### System information (version)
- OpenCV => 4.4.0
- Operating System / Platform => Ubuntu 16.04

##### Detailed description

I found that opencv dnn cannot predict the correct dets for  [yolo_v3_tiny_pan3.cfg](https://github.com/AlexeyAB/darknet/files/3580764/yolo_v3_tiny_pan3_aa_ae_mixup_scale_giou.cfg.txt) . Do you know the reason?  And give me some suggestions, I can try to fix.  Thanx.

@Al

[2020-12-27 15:39] giorgiomondauto opened #19226 "How to generate correctly the .pbtxt file from .pb for cv2.dnn.readNetFromTensorflow"
##### System information (version)

- OpenCV => 4.4.0
- Operating System / Platform => macOS
- Compiler => Visual Studio Version: 1.52.1

##### Detailed description

I am training yolo model on my set of images as per  [tensorflow-yolov3](https://github.com/YunYang1994/tensorflow-yolov3) and I have generated the .pb model file. Now I am trying to use the following opencv library for detection:
`
c

[2020-12-27 15:50] Frankie-Machine commented on #17739
@alalek I got the solution. Please can i be assigned this issue?

[2020-12-27 17:51] KSU5 commented on #17739
I think i know what the issue may be, could you assign me?

[2020-12-27 18:32] alalek commented on #19226
Please check this Wiki page: https://github.com/opencv/opencv/wiki/TensorFlow-text-graphs

[2020-12-27 22:02] #18917 closed

[2020-12-28 01:12] yixun commented on #18875
Thanks for your help.
It works now. It only works for a specific NDK version.

[2020-12-28 01:25] sskyedg opened #19227 "numpy.core.multiarray failed to import"
##### System information (version)

- OpenCV => :4.4.0.46:
- Operating System / Platform => :windows:
- Compiler => :python 3.9,pip 20.3.3:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues,
       answers.opencv.org, Stack Overflow, etc and have

[2020-12-28 02:20] leimao commented on #15153
I don't understand why `WITH_V4L (=ON)` is not an option (anymore)?

[2020-12-28 02:52] xiaoyifang commented on #19227
downgrade numpy to 1.8

[2020-12-28 04:40] KSU5 commented on #17739
I just fixed and created a pull request for this issue. I believe i submitted it to the correct base branch but let me know if there are any issues.

[2020-12-28 05:24] jdmking2019 commented on #14165
hi! I have a pb model with PSEnet, I want to deplay with opencv, but it have bug.error: (-215:Assertion failed) const_layers.insert(std::make_pair(name, li)).second in function 'cv::dnn::experimental_dnn_v5::`anonymous-namespace'::addConstNodes'

[2020-12-28 10:18] ashuezy commented on #18057
I am also struggling with this issue. Is there an option to use the Cuda library to decode the RTSP stream and reduce CPU usage?
This issue needs to be addressed as this is a long-standing problem.

[2020-12-28 10:30] m-peko opened #19229 "Is it possible to use libjpeg-turbo and OpenCV side by side?"
Hi,

I tried to use libjpeg-turbo and OpenCV side by side but then `cv::imread` fails to read an image (same problem as [here](https://stackoverflow.com/questions/59945307/cvimread-fails-in-c-project-when-we-mix-opencv-and-dlib)).

I tried building libjpeg-turbo as shared library so that there is no libjpeg.a as part of libjpeg-turbo. But then, libjpeg is missing and reading images is not possible

[2020-12-28 10:55] giorgiomondauto commented on #16075
Is there actually a way to convert tensorflow weights or pb files into darknet format in order to use readNetFromDarknet(modelConfiguration, modelWeights)??

[2020-12-28 13:00] TolyaTalamanov commented on #19102
`OpenVINO` vs `dnn` comparison problem. Anyway the different isn't so big, is it ? How it can be avoided ?

[2020-12-28 14:40] ShinnnosukeNakamura commented on #19113
I set the terminal to (launched in Rosetta) and ran this command and it worked
pip install opencv-python

[2020-12-28 18:53] splinterwhatever commented on #11952
Hey there!
@komakai the combination of your 9315e45 commit as well as the python build script is a thing of beauty!  Massive thanks for that.  I recently hit the lack of access to the camera issue and happened across this thread - your solution which works a treat!  Thanks also to @jumpy88 for documenting your journey, it was informative and helpful too.

I can confirm that when backgrounding my t

[2020-12-29 05:19] vision-one opened #19232 "When I used pb and pbtxt the result was different from tensorflow."
OS : ubuntu 16.04 LTS
Opencv : 4.2.0 (with CUDA)
Tensorflow version : 1.13.2

I made a pb file by modifying threshold in "**second_stage_post_processing**" of resnet50 config through the tensorflow object detection api.

    feature_extractor {
      type: 'faster_rcnn_resnet50'
      first_stage_features_stride: 16
    }
    first_stage_anchor_generator {
      grid_anchor_generator {
        sca

[2020-12-29 06:04] shanchenqi commented on #19148
pip install opencv-python will install opencv on python2，pip3 install opencv-python will opencv on python3. Make sure which version is needed. To double-check, you could try to make opencv from source code.

[2020-12-29 11:38] KomalBagai commented on #7578
Can you please paste the command for the same?

[2020-12-29 14:02] LoopGlitch26 commented on #19148
Ok, thanks

[2020-12-29 14:02] #19148 closed

[2020-12-29 19:08] stoneWeb opened #19234 "net.forward() on the openvino raspberry PI caused the wifi connection to fail"
##### System information (version)
- OpenCV => 4.4.0-openvino
- Raspberrypi 4
- Python 3.7.3
- Openvino
##### Detailed description
I tried openvino face detection example on the raspberry PI , when I use `net.forward()` in an infinite loop, the wifi will automatically disconnect. But there is nothing wrong with the program itself and it works.
[code]
When I comment these lines, the wifi can connec

[2020-12-29 19:34] LupusSanctus commented on #19184
The problem was reproduced also on Linux. The PSNR results don't change in accordance with ``similarity_threshold`` value, thus we get unexpected behaviour:
``(psnr_similarity_mask) > (300), actual: 38.0114 vs 300``

It depends on OpenCL implementation. Test failures appear on Nvidia cards when OpenCL is used, in our case:
* GeForce RTX 2070 SUPER, OpenCL 1.2 (Ubuntu)
* GeForce RTX 2080, OpenCL 1.

[2020-12-29 19:58] alalek commented on #19234
Try to run other programs to validate the system under stress.
Check power usage of the system and used power supply. Check input voltage on the power supply / board (not any power cable is able to provide 2-3 A)

If MyriadX is used for inference (probably yes), then try to run the same using the USB Hub with external power supply.

[2020-12-29 21:53] VladimirVLF commented on #15992
I have been dealing with this problem in practice quite a lot recently, with many perfect calibration snapshots and "bad" distortion results after the calibration, especially near the corners - the farthest points from the optical axis. Now I can see I am not the only one.

The requirement of the distortion transformation being bijective sounds reasonable and quite general. As I understand, when t

[2020-12-30 00:03] emontene commented on #18245
i have the same issue. but only when Run or execute python.exe no administrator rights it not work.

[2020-12-30 02:15] komakai commented on #11952
@splinterwhatever thanks for testing and for your feedback. I'll have a go at fixing the stop/restart problem and then put together a PR.
BTW what is your use case? Is there some reason you prefer native camera access over the JavaCamera* classes?

[2020-12-30 02:30] splinterwhatever commented on #11952
Hey @komakai That would be awesome! Is there a way to help make this part of the official openCV repo?

To your question: I'm learning/working on a project relies upon some cross-platform frameworks, including openCV.  As such my language of choice for this project is C++, hence my aversion to Java thus far.

Beyond the stop/restart issue, the other thing I'm challenged with is capture resolution.

[2020-12-30 03:03] vpisarev commented on #18995
@humanzer0, please, put it here

[2020-12-30 08:57] Tanicgit commented on #11792
gcc version > 4.8.3

[2020-12-30 09:25] c-w-94 opened #19236 "OpenCV DIS Flow OpenCL results differ from CPU results"
- OpenCV => 4.5
- Operating System / Platform => Ubuntu 18.04

The flow result differs from the CPU version (just try with some images). Does this behavior result from the parallelization on the gpu or are some ocl kernels erroneous?

[2020-12-30 11:44] stoneWeb commented on #19234
I fixed the problem, Because of the conflict between USB 3.0 and wifi2.4G, my Myriad 2 is connected to the USB extension cord, Interference with USB extension cord.

[2020-12-30 11:44] #19234 closed

[2020-12-30 11:47] dkurt commented on #19232
You may open a `.pbtxt` file and find `nms_threshold` parameter.

[2020-12-30 12:57] Hussain1811 opened #19237 "Build error due to incomplete cv::Ptr<cv::detail::*"
- OpenCV => 4.5.1
- Operating System / Platform => Linux
- Compiler => G++

[code]

Most of the errors were due to "cv::Ptr<cv::detail::* is incomplete"
Please help me resolve this error.

[2020-12-30 13:43] sxj731533730 commented on #16315
/home/pi/opencv/modules/python/src2/cv2.cpp:17:10: fatal error: Python.h: No such file or directory
 #include <Python.h>

[2020-12-30 14:08] Anky209e commented on #19051
Hello,sir can you please explain a bit to me i want to solve this.well i am a student but i can try.

[2020-12-30 14:29] dkurt commented on #16315
@sxj731533730, please do not use closed issues to ask build or usage questions.

You need to install `libpython-dev` to solve the problem

[2020-12-30 16:18] midjji commented on #15992
It's not quite that simple.

1/p(X) where p(X) has roots does not give zero Jacobians near the roots, it
gives inf/undefined Jacobians. In general opencv would need a general no
opt framework that supports boundaries. But such frameworks basically still
don't work for real problems consistently unless you initialized well for
well conditioned data. But if you have that the current solution works t

[2020-12-30 17:09] Rishikesh-Reddy commented on #19196
Hey this is my first time on github. What will I need to do exactly in this request?
And i am very intrested to start contributing so please help me.

[2020-12-30 17:42] hg2051 commented on #14478
It's because of ''opencv-python-headless". Uninstall it!

[2020-12-30 19:37] KumoSiunaus opened #19238 "Different shape of result of the method HOUGH_GRADIENT_ALT in Python"
##### System information (version)

- OpenCV => 4.3 or later
- Operating System / Platform => Windows 10 (64 Bit)
- Compiler => Python 3.8.7

##### Detailed description

In **Houghcircles**, I got different shape of the result in using the method **HOUGH_GRADIENT** and **HOUGH_GRADIENT_ALT**.

In **HOUGH_GRADIENT**, the result is like:

  [ x2    y2    r2 ]
  [ x3    y3    r3 ]]]

`circles.shape =

[2020-12-31 00:33] slerman12 opened #19240 "Instructions for how to install on new Apple silicon?"
I got a new MacBook and I'm using MiniForge as my Conda distribution, but pip and Conda install both don't seem to work.

[2020-12-31 00:48] alalek commented on #19238
Ref: #16561

[2020-12-31 01:08] Ryan-Awad commented on #15465
This is cause because you tuples contain floats. OpenCV takes integers within those tuples.

[2020-12-31 02:46] morestart opened #19241 "put_text function will support other language？"
now i use pillow to draw a text, but it's too slow

[2020-12-31 02:50] alalek commented on #10623
There is merged PR about GStreamer with similar functionality (common parts can be reused): #18535

[2020-12-31 02:54] #19241 closed

[2020-12-31 02:54] morestart commented on #19241
see opencv5

[2020-12-31 04:53] maxschommer commented on #15465
As an update, I ran with `OPENCV_PYTHON_DEBUG=1` environment variable while compiled in debug mode:

[code]

[2020-12-31 05:47] vanc commented on #17687
The same slow open issue happened to me as well. Tried the MFCaptureD3D sample and the camera opened instantly.

So the issue seems to be on the opencv side.

I am using Python 3.8.7 downloaded from the official Python web site. Installed OpenCV via pip. The version is 4.4.0.

[2020-12-31 05:48] leimao commented on #15958
The value of my Logitech C930e is always 666, and I was not able to change this value no matter what.
[code]

[2020-12-31 05:54] vanc commented on #17687
Just as mentioned in the original report, with CAP_DSHOW, the camera opens instantly.

[2020-12-31 11:49] kenmaro3 commented on #17519
@alalek
looks like I have same problem that you had.
I use Opencv-android-sdk (prebuilt binary for android)
then got undefined reference error when native code call the function.

 Could you tell me how you approached at the end ?

Thanks in advance.

[2021-01-01 01:36] diablodale opened #19242 "please delete this issue"
Please delete this issue. It needs more work before posting.

[2021-01-01 03:03] maxschommer commented on #15465
Ok, so I noticed that one difference between `line` and `rectangle`, despite having identical call signatures, is that `rectangle` had one overload:
[code]

I commented out this function, recompiled and got the correct error message:
[code]

So it seems that the issue might have something to do with how functions with overloads are parsed.

[2021-01-01 04:59] #19242 closed

[2021-01-01 05:28] shubhamcodez commented on #18995
Can I work on any new functions that are being added?

[2021-01-01 06:11] shubhamcodez commented on #16579
if the issue is format specific, why not just rotate the image by 90 degrees for PNG.

This may sound trivial but, I went through Exif's documentation and a few more repos on the same problem.
If it's happening for every PNG file, isn't it easier to rotate the image when its format is png.

Alternatively, it can be done after implementing the function too by, checking if output orientation was sam

[2021-01-01 07:06] sayakpaul commented on #18049
Is there a comprehensive guide we could refer to that shows "How to install OpenCV on macOS >= 11 with the M1 chip?"

[2021-01-01 07:55] sayakpaul commented on #18049
Hi folks.

I am on macOS 11 with the M1 chip.

I am trying to build using cmake.

Here's my cmake command -

[code]

I am running into -

[code]

Note that the paths in the cmake command are correct.

Any workaround for this?

[2021-01-01 09:19] laygond commented on #15858
I found the solution to my problem [here](https://github.com/torch/torch7/issues/1190). It was switching to CPU because the CUDA version I had was not corresponding to the architecture of my RTX 2080 Ti.
So, in my case, the device supports compute capability 7.5, but CUDA 9.2 supports only 7.0 or 7.2 (not sure which one).  I ended up upgrading to cuda 10 following [this tutorial](https://www.pyima

[2021-01-01 09:51] sayakpaul commented on #18049
I wrote a comprehensive blog post that shows how to build and install OpenCV on an M1 MacBook - https://sayak.dev/install-opencv-m1/. Hopefully, it turns out to be useful.

[2021-01-01 09:51] sayakpaul commented on #19240
I wrote a comprehensive blog post that shows how to build and install OpenCV on an M1 MacBook - https://sayak.dev/install-opencv-m1/. Hopefully, it turns out to be useful.

[2021-01-01 14:37] theoniko commented on #18897
As far as i understood the purpose of this issue is to remove STD_ARRAY from enum KindFlag in class _InputArray (file mat.hpp) and replaced in all other places by enumarator MATX. Am i right? Could you please give more details why this change is needed?

[2021-01-01 14:53] peteruhnak opened #19243 "built OpenCV.js fails to load wasm in node.js"
##### System information (version)

- OpenCV => 4.5.1 & master
- Operating System / Platform => node 8/10/14 (built on ubuntu 20)
- Compiler => emscripten

##### Detailed description

**Expected behavior**:

1. Running opencv.js via **node** built using the documented instructions correctly loads, passes all tests and runs `test_async.js` (see further).
    * build instructions https://docs.opencv

[2021-01-01 15:26] alalek commented on #19243
Perhaps you want to have something like "test_js" step from [here](http://pullrequest.opencv.org/buildbot/builders/3_4_javascript-emscripten-lin64/builds/962).

I can confirm that **specific versions** of used software are required. Configuration of testing infrastructure is [here](https://github.com/opencv-infrastructure/opencv-worker-config/blob/943f054c29c13fb77a432abee51a4170daed690a/images/ja

[2021-01-01 20:59] peteruhnak commented on #19243
Thanks!

I can confirm that using emscripten `1.39.0-upstream` I managed to build it and successfully run the test_async.js.

---

I can close this issue (as my main problem is solved), however I think these points still stand (so feel free to close the issue or keep it open):

* the docs should also mention `1.39.0-upstream` for node (the recommended 2.0.10 is only ok for browser)
* `node tests.j

[2021-01-01 22:47] alalek commented on #19243
Lets keep this open.
Hopefully some JS / Emscripten experts can suggest solutions / workarounds for mentioned issues.

[2021-01-01 23:20] jaswanthbjk commented on #16879
@dkurt  **I followed the code mentioned by you. Can you help me?

I am using Tensorflow-GPU 2.4.0.

I have the following error**

TypeError: signature_wrapper(*, input_tensor) missing required arguments: input_tensor

**The whole trace is as follows**

File "pbtxt.py", line 9, in <module>
    f = tf.function(infer).get_concrete_function(flatten_input=tf.TensorSpec(shape=[None, 1024, 1024, 1], dtyp

[2021-01-01 23:56] RafaelPiloto10 commented on #19240
@sayakpaul, your blog could not have come at a better time. I am running into a bug though when running `make -j8`:

[code]

I am using the M1 MacBook Pro and followed the installation steps on your blog. I installed cmake using `arch -x86_64 brew install cmake`. When running the Cmake command you provided, I do notice that the recognized processor is x86_64 - not sure if that is helpful. I would

[2021-01-02 01:31] jumpy88 commented on #11952
Hello everyone, I'm trying to accede USB cameras in non-rooted Android devices in C++. I'm trying to use https://github.com/komakai/UVCCamera/tree/komakai-fixes but I can't find ho to set it up without using the Java wrapper in the examples provided with the library. If someone is interested or knows useful information we can discuss about it in a dedicated issue I've created
https://github.com/sa

[2021-01-02 03:17] kloczek opened #19244 "4.5.1: build fails with gcc 11.0.0"
gcc 11.0.0 from Fedora rawhide
[code]
[code]

[2021-01-02 08:51] SkpC9 commented on #19159
I had exactly the same issue as yours. Opencv's `tf_text_graph_efficientdet.py` needs to import `tensorflow.tools.graph_transforms` , which can not be imported in tf2, while google's `model_inspect.py` needs `tf.keras.layers.experimental` , which is not included in tf1.15.

I managed to solve this problem.
I installed tensorflow==1.15.4, if I use tf1.15 to run this code :
`python3 model_inspect.py

[2021-01-02 11:07] alalek commented on #19244
Try to add `#include <thread>` into this file (or `test_precomp.hpp`).

[2021-01-02 11:21] kloczek commented on #19244
Yep seems that what was missing.

Thx.
PS. Feel free to close that ticket.

[2021-01-02 12:40] wzh4464 opened #19245 "installing fails to locate python3 libraries and numpy path"
##### System information (version)

- OpenCV => 4.5.0
- Operating System / Platform => macOS Big Sur 11.1(M1 Apple Sillicon)
- Compiler => gcc clang

##### Detailed description

when installing opencv with cmake, build files are written but no python3 libraries path and numpy path.

[code]

And if I go on to make, it shows
[code]

##### Steps to reproduce

[code]

Attachment is full output.
[outpu

[2021-01-02 15:26] asmorkalov commented on #19244
@kloczek Feel free to submit PR with the fix.

[2021-01-02 15:28] asmorkalov commented on #19245
@vpisarev Could you handle the issue as soon as you have hardware in your hands?

[2021-01-02 15:29] asmorkalov commented on #19245
Related issue: https://github.com/opencv/opencv/issues/19240

[2021-01-02 15:30] asmorkalov commented on #19240
@sayakpaul Feel free to submit PR with additions to existing documentation.

[2021-01-02 16:08] StefanBruens opened #19246 "Allow to skip unit tests which depend on opencv_extra"
##### System information (version)
- OpenCV => 4.5.1

##### Detailed description

The OpenCV test suite has many tests which are self contained, and do not depend on the files from opencv_extra. It would be great to be able to only run these self contained tests.

This would allow to run the tests as part of a distribution build, to catch any regressions/issues early. See e.g. #19020.

Having a de

[2021-01-02 16:16] asmorkalov commented on #19229
Please use OpenCV forum for questions: https://forum.opencv.org

[2021-01-02 16:17] asmorkalov commented on #19224
@vpisarev please take a look.

[2021-01-02 17:40] StefanBruens commented on #19020
The segfault also happens during the build (on OBS) when the test suite is enabled, which uses a similar kvm/qemu setup as openQA.

`ctest -R gapi` is sufficient to trigger it.

[2021-01-02 17:51] kloczek commented on #19244
Done :)
https://github.com/opencv/opencv/pull/19247

Thank you

[2021-01-02 18:13] StefanBruens commented on #19020
After updating to 4.5.1, the output has slightly changed, previously it reported (SEGFAULT), now:
[code]

[2021-01-02 18:41] #19229 closed

[2021-01-02 19:52] StefanBruens commented on #19020
I now have two cases where the test runs fine, and 1 with an illegal exception:

Good (/proc/cpuinfo):
[code]

[code]

Bad:
[code]

[2021-01-02 20:12] StefanBruens commented on #19020
@alalek - I think all required information is now available, so the `Incomplete` tag should be removed.

Looking at the Opteron flags, it has both fma and fma4, but not avx2. Looking at the Dispatch info from `opencv_version -v`, it seems to have fma3 <=> avx2.

Unfortunately, I have no real access to an Opteron or anything else with same features, so I can't provide a backtrace.

[2021-01-02 21:13] StefanBruens commented on #19020
Another run, this time with "FMA3,AVX2,AVX512_ICL" removed from the dispatch, and it no longer crashes on the Opteron.
`opencv_version -hw`:
[code]

[2021-01-02 22:00] StefanBruens commented on #19020
Readded AVX2 to CPU_DISPATCH and on Opteron it crashes again. Seems to be a CPU feature misdetection then, as the Opteron has no AVX2, and adding AVX2 to the dispatch should have no effect.

(Though, it might already crash in the detection code, but I can't generate a Backtrace).

[2021-01-03 09:14] wzh4464 commented on #19245
Yes I am installing the opencv as @sayakpaul 's blog.

[2021-01-03 09:25] sayakpaul commented on #19245
If numpy was installed then the path would have appeared here -
![image](https://user-images.githubusercontent.com/22957388/103475508-83e6b200-4d62-11eb-8909-fe2ba1d9f55c.png)

Seems like numpy hasn't been installed.

[2021-01-03 09:27] wzh4464 commented on #19245
I've install it.
<img width="639" alt="截屏2021-01-03 下午5 26 23" src="https://user-images.githubusercontent.com/32484940/103475542-e1254680-4de8-11eb-81df-bced4dbfbc66.png">

[2021-01-03 09:58] sayakpaul commented on #19245
Did you install it using the following way -

![image](https://user-images.githubusercontent.com/22957388/103476025-1be69a80-4d67-11eb-9b44-26928c358de3.png)

[2021-01-03 10:17] vjeranc commented on #18131
@alalek I tried it with the newest NDK and the only thing I needed to use was the `android.toolchain.cmake` supplied by the NDK. The one inside `platforms` directory does not work.

After that I just ran the apps on my phone and everything looked well.

[2021-01-03 10:21] wzh4464 commented on #19245
Just now I am reproducing it and I found something wired.
<img width="619" alt="截屏2021-01-03 下午6 20 33" src="https://user-images.githubusercontent.com/32484940/103476426-606a4880-4df0-11eb-9183-8a39c19b3566.png">
Is it something wrong with the directory? I notice there is a space before " in the erro message.

[2021-01-03 10:29] sayakpaul commented on #19245
Could you try the following -

[code]

[2021-01-03 10:41] wzh4464 commented on #19245
Thank you it can find my numpy now. But the last sentences are now:
<img width="918" alt="截屏2021-01-03 下午6 40 32" src="https://user-images.githubusercontent.com/32484940/103476718-2b132a00-4df3-11eb-828e-b083a7943f66.png">

[2021-01-03 10:41] wzh4464 commented on #19245
Should I output the log files?

[2021-01-03 10:46] followertryingtobeprogrammer opened #19249 "ImportError: DLL load failed while importing cv2"
when built opencv4.4.0, folder 'cv2' had been create in python's site-packages.
my env:
cuda 10.2
python 3.8
vs2017
cmake3.19

[code]
then I used dependency walker. it shows that many dll files in API-MS-WIN-CORE lost.

[2021-01-03 11:28] sayakpaul commented on #19245
I would suggest a clean install from the beginning. You might wanna double-check the steps.

[2021-01-03 12:18] bml1g12 commented on #9053
@roninpawn  thanks for your suggestion here; but do you know any good libaries for efficiently converting the ffmpeg stream into a python readable (i.e. generally numpy array) format?

[2021-01-03 12:44] LaurentBerger commented on #19249
may be same as #17632

[2021-01-03 12:57] henriquenunez commented on #6639
Is this one still a need?

[2021-01-03 12:59] tolysz opened #19250 "Big Enedian"
##### System information (version)
- OpenCV => :grey_question: any (4.5.1)
- Operating System / Platform => Debian Sid / Sparc 64 Bit BE
- Compiler => :grey_question: any ( but g++ (Debian 10.2.0-15) 10.2.0 )

##### Detailed description

The code is not careful when saving reading values. Most(all) save/load functions assume host and file formats are little endian. This breaks when host is big end

[2021-01-03 13:12] SylvainArd commented on #6639
yes but four years after it is late !

[2021-01-03 13:35] #19244 closed

[2021-01-03 16:58] followertryingtobeprogrammer commented on #19249
i use the following commond in conda env.And no error
`>>>python setup.py install

[2021-01-03 17:49] kinchungwong commented on #19192
New algorithm contributions generally go into https://github.com/opencv/opencv_contrib first. Once they are stable and are found to be useful, there is a possibility that it will be included in OpenCV proper.

For discussions, collaborations, and asking for help in creating/converting your algorithm into an OpenCV Contrib module, you can consider hosting the discussion on https://forum.opencv.org/

[2021-01-03 20:35] smearumi opened #19251 "Poor performance (low FPS) on jetson tx2 with GPU (CUDA) than CPU."
##### System information (version)
- OpenCV => 4.5.0
- Operating System / Platform => Linux

##### Detailed description
I'm getting FPS: 10-12 using DNN with CPU. But when I use DNN with CUDA then I'm getting FPS 1-2.

Using DNN with CUDA by following code:

[code]
Also my cmake conf are as follows:

[code]

There were no errors during build and installation.
I don't know what's the reason for suc

[2021-01-03 20:54] alalek commented on #19251
Please run OpenCV performance tests and provide numbers from the test suite.
Run other CUDA-capable frameworks and collect numbers from there too.

---

No sense to do than for single embedded platform. Use `6.2` for TX2 platform: https://en.wikipedia.org/wiki/CUDA

[2021-01-03 21:04] isuruf commented on #19240
Should be available now on conda `conda install opencv`

[2021-01-03 21:42] alalek commented on #6639
OpenCV doesn't accept LGPL code (not compatible with OpenCV license).
Closing as mentioned implementation has legal blocker.

[2021-01-03 21:42] #6639 closed

[2021-01-04 01:30] MZaf opened #19252 "OpenCV DNN cannot predict correct detections for yolo_v3 Whereas Darknet detector detects correctly."
##### System information (version)

- OpenCV => 4.2.1 and 4.4.x
- Operating System / Platform => Ubuntu 18.04 64Bit
- I tested results with compiled OpenCV from source code and I tried with pre-built opencv-python also but OpenCV DNN detects wrong objects.
- Darknet YOLOv3 network and model weights from @AlexeyAB github
- modelWeights = yolov3.weights
- modelConfiguration = yolov3.cfg
- ClassesFil

[2021-01-04 06:10] YashasSamaga commented on #19251
MobileNetSSD uses depthwise convolutions. cuDNN 7 does not choose the algorithms correctly for depthwise/grouped convolutions. This leads to suboptimal performance.

Please try different variants of MobileNet and targets (`DNN_TARGET_CUDA` and `DNN_TARGET_CUDA_FP16`). There usually is some combination that will perform well.

[2021-01-04 07:00] imxieyi opened #19254 "Darwin collision of Point/Rect/Size types is still happening"
##### System information (version)

- OpenCV => 4.5.1
- Operating System / Platform => macOS 11.1, iOS 14.3
- Compiler => Xcode 12.3, CMake 3.19.2

##### Detailed description

Either the old `.framework` or the new `.xcframework` won't compile with pure Swift project. The collision was supposed to be fixed by #18977. However it is still happening with both 4.5.1 and master branch (005508a0). Examp

[2021-01-04 11:02] sergiomb2 commented on #19020
I have a report here https://bugzilla.redhat.com/show_bug.cgi?id=1910121 which seems a similar problem with an AMD Phenom(tm) II X3 710 Processor .

[2021-01-04 12:18] bushra021897 opened #19255 "OPENCV DNN NOT USING GPU EVEN AFTER SUCCESSFUL COMPILATION WITH GPU"
##### System information (version)

- OpenCV => :grey_question: OpenCV DNN was successfully built with CUDA but it is not working.
- Operating System / Platform => :grey_question: Linux x86_64 Ubuntu 20.04 GeForce RTX 2080 Ti
- Compiler => :grey_question:

##### Detailed description
I have built opencv with cuda successfully,
but when I run the python code with these options set:
net = cv2.dnn.rea

[2021-01-04 12:33] komakai commented on #11952
@splinterwhatever I have pushed a new commit with a fix for the hang when attempting to restart Camera capture.

Setting the resolution won't work yet because I haven't implemented the `AndroidCameraCapture::setProperty` function yet

[2021-01-04 12:45] roninpawn commented on #9053
The specific ffmpeg wrapper I chose at random is 'ffmpeg-python' version 0.2.0 by Karl Kroening. As for getting the video out of ffmpeg and into handy numpy format I wrote my own little '_VideoStream_' class for it in my current project to keep it clean and simple.

**The VideoStream class I wrote here: [https://github.com/roninpawn/splitRP/blob/Video-Moderation-Tool/videostream.py](https://github

[2021-01-04 13:50] alalek commented on #19020
@sergiomb2 Thank you for the information!

Failed instruction from the link:
[code]

and stack trace:

[code]

Looks like some global initialization code is compiled with enabled AVX2(AVX) code generation.

---

**TBD** of investigation updates

[2021-01-04 14:25] bml1g12 commented on #9053
I see, I think this does not work for my video as it has no `nb_frames` metadata:
[code]

[2021-01-04 15:54] alalek commented on #19254
/cc @komakai @chrisballinger

[2021-01-04 15:58] alalek commented on #19252
This version is very old.
Please try latest OpenCV release or build code from the `master` branch.

---

AFAIK, there were some changes related to NMS grouping

[2021-01-04 16:01] MarvinKlemp opened #19256 "DNN unsupported Layer reorg3d"
##### System information (version)

- OpenCV => 4.5.0
- Operating System / Platform => Ubuntu 18.04
- Compiler => g++ (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0

##### Detailed description

I followed a custom network architecture from a paper that is specialized on small objects.

The network loads and works fine using plain darknet (https://github.com/AlexeyAB/darknet)

But if I import the network in O

[2021-01-04 16:24] golden96371 opened #19257 "Load TensorFlow 2 model (SSD, Object Detection API) with OpenCV"
##### System information (version)
- OpenCV => 4.5.1 (python)
- TensorFlow => 2.3.1 (python)
- Operating System / Platform => Windows 10 (64 Bit)
- Compiler => Visual Studio 2019

##### Detailed description

After training a SSD MobileNet v2 using the TensorFlow Object Detection API with TensorFlow2, I converted the SavedModel into a FrozenGraph in order to make it compatible with OpenCV. I am usi

[2021-01-04 16:49] chrisballinger commented on #19254
I have a commit that fixes this in a semi-breaking way, but it was taken out of that PR. Let me see if I can dig it up, hopefully it wasn't lost in a force-push.

[2021-01-04 19:07] humanzer0 commented on #18995
In which release C compatibility is going to be dropped? I have some ideas on improving the API.

[2021-01-04 19:36] Etragas commented on #15502
This worked for me as well, thank you

[2021-01-04 20:55] chrisballinger commented on #19254
These commits should do the trick:

* https://github.com/Rightpoint/opencv/pull/4/commits/00497a798ca29b542ec5ce7923c4a1d9bbfc6998
* https://github.com/Rightpoint/opencv/pull/4/commits/c0b7113cdd542496361aa10436d6b0e9a48c3765
* https://github.com/Rightpoint/opencv/pull/4/commits/ed46c569d903c631547369dadf29fc649442dc95

Want me to cherry pick them into a new PR?

[2021-01-04 21:36] peteruhnak commented on #15306
Hi, I had some some trivial use cases for opencv.js, so I've made an experimental typescript generator of the entire thing instead. https://github.com/peteruhnak/opencv-ts

This is based on the existing opencv code that is used to generated the wasm/emscripten bindings.

It is by no means complete, but seems like the most natural approach if we want to have this as part of opencv eventually (plus

[2021-01-04 21:38] Axel-Erfurt commented on #14478
cv2.imread will then no longer work.

[2021-01-04 23:42] komakai commented on #19254
@chrisballinger 2 questions
 - why does this only happen when using the .xcframework ? (I have not had this problem using just the plain iOS .framework)
 - in the Swift type system we can use the framework name to resolve any ambiguity (i.e. it should always be possible to say `opencv2.Size` to distinguish our `Size` from somebody else's `Size`) - so why isn't Swift able to distinguish `opencv2.Si

[2021-01-05 00:17] #16736 closed

[2021-01-05 00:21] alalek commented on #18995
@humanzer0 See this: #11000

[2021-01-05 02:44] splinterwhatever commented on #11952
@komakai Thats awesome. I was looking forward to checking it out - just got around to it.

Hmmm I must be doing something else wrong as I'm getting the same behaviour. Namely:
1. Open a test app and see the capture going nicely.
2. Return to home screen and then to another camera app (the standard android camera app in this case)
3. Navigate back to the previously running test app.
4. Note that th

[2021-01-05 04:16] alalek commented on #19020
`objdump -dr modules/gapi/CMakeFiles/opencv_gapi.dir/src/executor/gasync.cpp.o` contains valid instructions. But libopencv_gapi.so doesn't.

---

Consider disabling `-flto=auto` and other extra flags which is not supposed to work with modules (.o files) which were compiled with different code generation options.

---

I can confirm that removal of `-flto=auto -ffat-lto-objects` compiler flags help

[2021-01-05 06:53] abhishekju06 commented on #18131
Can you please explain me the steps?
I need to do it  in android 9;API=28

[2021-01-05 07:24] humanzer0 commented on #18995
So, looks like it's not going to be dropped just in one release.
Anyway, I can work on highgui API, because I see how it can be improved.

[2021-01-05 08:02] wzh4464 commented on #19245
Thank you again. And I made a clean install but there are still some errors.
During the cmake phase, "Custom HAL: NO" is a difference from your screen shot. And the make phase, I got:
1. clang: error: linker command failed with exit code 1 (use -v to see invocation)
make[2]: *** [lib/libopencv_hdf.4.5.0.dylib] Error 1
make[1]: *** [modules/hdf/CMakeFiles/opencv_hdf.dir/all] Error 2
make[1]: *** Wa

[2021-01-05 08:04] wzh4464 commented on #19245
I thought there may be some differences between our opencv files. When I unzip the file "opencv.zip", the file name is opencv-4.5.0, which yours is default by opencv.

[2021-01-05 08:05] wzh4464 commented on #19245
And all CPU SSE support checks are failed.

[2021-01-05 08:12] wzh4464 commented on #19245
And I think this may be important too. (Forgive me for splitting comments)

ld: warning: ignoring file /usr/local/opt/szip/lib/libsz.dylib, building for macOS-arm64 but attempting to link with file built for macOS-x86_64

[2021-01-05 08:23] sayakpaul commented on #19245
Yes, you are night. It should have been `cd opencv-4.5.0`.

But at this point, I am honestly not sure why the build is failing. Seems like you have followed the blog post end-to-end.

[2021-01-05 08:29] wzh4464 commented on #19245
And I found this weired.
In the first lines of cmake phase:
-- Detected processor: x86_64
This shouldn't be like this, right?

[2021-01-05 08:30] wzh4464 commented on #19245
I installed a x86_64 homebrew before, maybe there is some problem.

[2021-01-05 08:30] sayakpaul commented on #19245
Exactly.

[2021-01-05 08:32] wzh4464 commented on #19245
Thank you bro.

[2021-01-05 09:38] thewittystranger commented on #18836
Hi, I am new to open source and i want to contribute to it. I want to contribute to OpenCV. Please do guide me on how to start

[2021-01-05 10:43] sergiomb2 commented on #19020
ah it make sense, we started building all packages with lto on Fedora 33 , I will try disable lto ...
Thank you.

[2021-01-05 10:47] komakai commented on #11952
@jumpy88

Looking at the top answer here: https://stackoverflow.com/questions/22197425/low-level-usb-api-on-android-at-ndk-level-to-use-on-qt-android it looks like what you're trying to do isn't possible without using some Java, specifically you need to use the `UsbManager` to discover your devices

[2021-01-05 11:43] jumpy88 commented on #11952
@komakai thanks for your reply! It's not what I was hoping but it's useful to know. I've also found some additional information https://forum.qt.io/topic/85176/crazy-frameworks-integration-and-i-m-stuck
I'll make you know if I find a way to use `UsbManager` inside C++ source code (through NDK maybe).

[2021-01-05 14:33] vjeranc commented on #18131
@abhishekju06 I left a comment on the official forums [here](https://forum.opencv.org/t/run-samples-of-open-cv-in-android-studio/453/7?u=vjeranc).

[2021-01-05 15:12] SkpC9 commented on #16380
I am using windows with cuda10.1 and cudnn7.6.5.
For anyone who gets the same error, I added `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\include` `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\lib\Win32` `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\lib\x64` to System PATH, then Cmake can find CUDNN.

[2021-01-05 15:41] roninpawn commented on #9053
Curious. My app is being used by multiple members of our speedrunning community to automate run review and timing analysis, and I'm guessing we've processed over a hundred videos using this code... That said, the videos are exclusively encoded for, processed by, and retrieved from YouTube.

I looked a bit at your discussions in the CamGear related threads, and I think we've fallen down similar rab

[2021-01-05 17:04] luiscarox opened #19260 "opencv2/tracking/tracking_legacy.hpp requires private headers"
##### System information (version)

- OpenCV => 4.5.1
- Operating System / Platform => Ubuntu 18.04
- Compiler => gcc 8.4

##### Detailed description

In order to use `cv::legacy::Tracker` (https://docs.opencv.org/master/db/dfe/classcv_1_1legacy_1_1Tracker.html), I get a compiler error when including `opencv2/tracking/tracking_legacy.hpp`

[code]

##### Steps to reproduce
* Build OpenCV with openc

[2021-01-05 17:12] HotDenim opened #19261 "[Feature Request] - Transparency For Drawing Functions"
Would like to request that all the drawing functions (Rectangle, Line, Circle, Text, etc.), have a _transparency_ parameter/setting that specified the amount of their opacity, therefore enabling them to blend with the pixels they are drawn over.

[2021-01-05 17:16] HotDenim opened #19262 "[Feature Request] - Blend Modes For Drawing Functions"
Would like to request that all the drawing functions (Rectangle, Line, Circle, Text, etc.), have a _blend mode_  parameter/setting that specified the _type_ of their opacity, therefore enabling them to blend with the pixels they are drawn over in various _ways/styles_

Blend Modes (description) : [http://en.wikipedia.org/wiki/Blend_modes](http://en.wikipedia.org/wiki/Blend_modes)

[2021-01-05 17:19] HotDenim opened #19263 "[Feature Request] - Rectangle(); Rounded Corners"
Would like to request that all the drawing function _Rectangle_ have a rounded corners options with that specifies the _amount_ of roundness, and which _corners_ to round.

[2021-01-05 17:27] HotDenim opened #19264 "[Feature Request] - Line Styles; More"
Would like more line styles for Drawing functions (e..g Line).  As many more as possible, e.g. Dot, Square,  Striped, etc... ..

Each line style with additional parameters. e.g. width, ,spacing, etc.

Maybe also specifying some image data/image file (bitmap and vector) for use as the line style

[2021-01-05 17:52] HotDenim opened #19265 "[Feature Request] - Image Format Support: High Efficiency Image File Format (HEIF)"
Would like to request support for the following image format (loading, saving). Support for image _data, metadata (Exif/XMP)_, and all other features.

High Efficiency Image File Format (HEIF)  - [Based on H.265 video codec]

[2021-01-05 18:01] HotDenim opened #19266 "[Feature Request] - Image Format Support: JPEG XT"
Would like to request support for the following image format (loading, saving). Support for image data, metadata (Exif/XMP), and all other features.

JPEG XT

[2021-01-05 18:15] fpetrogalli opened #19267 "[ts][summary.py] Extend script to support TAB separated colums"
##### System information (version)

- OpenCV => 3.4 and onward
- Operating System / Platform => all supported
- Compiler => N/A

##### Detailed description

I have extended `summary.py` to support tab separated columns, a feature I find very useful for loading the data of the summary into spreadsheets.

The commit is at https://github.com/fpetrogalli/opencv/commit/1e7ea9504c2119c8deeb7b065ea2394c9

[2021-01-05 18:29] MarvinKlemp commented on #19256
Is there a way of helping to implement the layer?

[2021-01-06 02:57] insung3511 commented on #19245
@wzh4464 did you install opencv on virtualenv or just did it. I'm using Big sur (but intel mac) I can't install opencv on virutalenv.

[2021-01-06 06:56] LiuPeiqi-CNHN opened #19269 "QTest module causes window program compiler error"
##### System information (version)

- OpenCV =>4.5.1 static library
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description

In opencv highgui module, window_QT.cpp / line 2168 use QTest mudule because **_QTest::keyToAscii(qtkey)_**.
So I must add QTest mudule to my project, but QTest only can use in console application, if I add QTest to window

[2021-01-06 07:38] developer0hye commented on #9053
re-encode your video file with ffmpeg

When I re-encode my video file(".mkv") to  ".mp4" file with ffmpeg, "nb_frames" information is generated.

[2021-01-06 08:51] sakurashinken opened #19270 "Issue compiling opencv 4.4.0"
##### System information (version)

- OpenCV => 4.4.0
- Operating System / Platform => MacOS Catalina 10.15.6
- Compiler => GCC

##### Detailed description
I am trying to install opencv 4.4.0 using the following brew tap

[code]

I am installing using this command:

[code]

It is failing with the following error when trying to install VTK

[code]

##### Issue submission checklist

 - [ ] I report

[2021-01-06 13:08] Glandos commented on #19265
It seems to be a duplicate of #14534

[2021-01-06 13:14] #19265 closed

[2021-01-06 13:18] Glandos opened #19271 "Support AVIF for image reading and writing"
##### System information (version)
- OpenCV => 4.5
- Operating System / Platform => all
- Compiler => all

##### Detailed description

[AVIF](https://aomediacodec.github.io/av1-avif/) is based on AV1 intraframe compression algorithm with [HEIF](https://nokiatech.github.io/heif/) container.

AVIF decoding is supported by both [Chrome and Firefox](https://caniuse.com/avif) (behind a flag for now).

[2021-01-06 13:47] SharmaHimanshu1991 opened #19272 "Running mask detection using opencv-python==4.4.0.46 on Django==3.1.2"
##### System information (version)
 gcc --version
-->

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

I have to implement live mask detection using more than one IP camera on Django framework. You can find mask detection code from (https://github.com/Shaligram1234/Python) from GitHub repo.

Implementing this m

[2021-01-06 14:03] HotDenim opened #19273 "[Feature Request] - Drawing Shaped; Filled, with Border"
Currently it is possible to draw shapes either as filled, or as an outline. E.g. Rectangle.

Would like to request that all the drawing functions allow Filled together with an outline/border (with specified width).

It is possible to achieve Filled with Outline using multiple calls to the drawing functions, but it would be better if the functions supported it. (The current workaround involved draw

[2021-01-06 14:16] KamelAbdelouahab commented on #16783
Hi all,
Any update on this ? I integrated hhttps://github.com/opencv/opencv/pull/18296 addons but I still can't import my Pytorch generated ONNX in OpenCV DNN module.
I also tested on the new 4.5.0 release and facing the same issues.

[2021-01-06 14:30] HotDenim opened #19274 "[Feature Request] - CPU, GPU; Selection (RunTime)"
Like to request a _mechanism_ to allow deciding at _runtime_ weather the default _CPU_ code is executed or the _GPU_ optimised version.

E.g.  deciding at runtime which of the two to execute

[code]

Also for the GPU code, allowing which GPU _type_ to use, e.g. _CUDA_ or _OPENCL_.

So allowing the following to take place in program logic. Pseudocode:

[code]

[2021-01-06 14:34] HotDenim opened #19275 "[Feature Request] - GPU To CPU Fallback (RunTime)"
Like to request a mechanism to allow using the GPU optimised version of functions as a _default_, and if _not_ possible, only then falling back to CPU version (_automatically_). (Could also cater for _TPU's (Tensor Processing Units)_ and _VPU (_computer_ Vision Processing Units_) in the future)

E.g. A new _module / namespace_

`cv::hardware_optimised`

So as an example:

`cv::hardware_optimised::

[2021-01-06 15:00] HotDenim opened #19276 "[Feature Request] - Hardware Performance Profiling"
Like to request a mechanism that allows the measurement of processing speed/capability / benchmark. This measurement can then be later used to decide which if any processing to perform, e.g. decide to apply a filter, or e.g. decide which quality level to specify for a quality parameter of a filter (higher quality slower).

This would allow for writing code that can be programmed to be scalable, to

[2021-01-06 15:07] HotDenim opened #19277 "[Feature Request] - Drawing Shapes; Filled, with Gradients"
Currently it is possible to draw shapes either as filled, or as an outline. E.g. Rectangle. All colour is a solid single colour.

Would like to request that all the drawing functions allow colours to be a gradient of colours.

This is for Fills, and also for outlines.

Multiple gradient types should be supported; e.g. Linear, Radial, Box, Diamond, etc.

Also there should be a Transparency value fo

[2021-01-06 15:55] alalek commented on #19274
It is a legacy approach.

Modern OpenCV way is [Transparent API](https://github.com/opencv/opencv/wiki/Opencv3) (T-API). However it serves OpenCL optimizations only at this moment. You need to use `UMat` to activate this behavior.

[2021-01-06 15:58] alalek commented on #19275
Also you can take a look on [Graph API](https://docs.opencv.org/master/d0/d1e/gapi.html) (`gapi` module).
It introduces concept of kernel packages to handle that.

[2021-01-06 17:55] peteruhnak commented on #15306
@alalek considering you plan to drop support for Python 2 in OpenCV 5, would there be any issues if I started using Python3' typing everywhere if I base it of the `next` branch instead of `master`? (Assuming the typescript supports is something you would like to see integrated into the repo once it is more stable)

[2021-01-06 18:32] za13 commented on #19151
I thought I already did with this?

    unet.save('saved_model')

[2021-01-06 20:07] Hitansh159 commented on #17739
hey @alalek,

I found the problem. Its pretty simple just a typo and a missing function call
can you assign it to me ?

Thank you for anticipation!! :smile:

[2021-01-07 02:58] HannibalAPE opened #19278 "[Recurrent layers of dnn module] fully support to LSTM and GRU is needed"
##### System information (version)

- OpenCV => 4.5
- Operating System / Platform => Ubuntu 20.04
- Compiler => :grey_question:

##### Detailed description
1. Currently, the LSTM of ONNX importer can not support the non-zero inputs of hidden state and cell state.
https://github.com/opencv/opencv/blob/941a9792f7c7d60640c82926091d710e6ecbfb55/modules/dnn/src/onnx/onnx_importer.cpp#L904
https://githu

[2021-01-07 07:14] insung3511 opened #19279 "OpenCV install on virtuelanev (python3)"
##### System information (version)
- OpenCV => 4.5.1
- Operating System / Platform => macOS Big Sur 11.0.1
- Compiler => cmake 3.19.2

##### Detailed description
Hi, I was try to install opencv 4.5.1 on virtualenv (python3.8). And I command like this
[code]

After successfully build is done but result (I mean summary) looks wrong something.
[code]
I doesn't look python3 any path. Is it okay compil

[2021-01-07 07:19] kaangultekin opened #19280 "[REACT NATİVE PROJECT] Android studio LOGCAT -> OpenCV error: Cannot load info library for OpenCV"
LOG CAT:

2021-01-07 10:16:27.620 32582-32582/com.myfirstrntutorial E/OpenCV/StaticHelper: OpenCV error: Cannot load info library for OpenCV
2021-01-07 10:16:27.639 32582-32582/com.myfirstrntutorial E/OpenCV/StaticHelper: OpenCV error: Cannot load info library for OpenCV
2021-01-07 10:16:27.778 32582-32718/com.myfirstrntutorial E/DRM/DcfDecoder: decodeDrmImageIfNeeded stream caught ClassCastExcept

[2021-01-07 09:49] pushpam2482000 commented on #19279
try pythonw instead of python 3 ,python 3 is referred as python w in macos

[2021-01-07 12:02] wzh4464 commented on #19245
I have done it successfully.

[2021-01-07 12:02] #19245 closed

[2021-01-07 14:03] raulsf6 commented on #9177
UWP support for Hololens 2 would be amazing

[2021-01-07 14:09] insung3511 commented on #19279
I was install python3 (removed python) I mean, when I made virtualenv I set python version 3.8
command like this
[code]

[2021-01-07 14:24] misgeatgit commented on #10324
Is this resolved?

[2021-01-07 19:02] diablodale opened #19282 "OpenCVModules.cmake has wrong libraries on static windows, static standalone IPP"
opencv built on windows, building *static opencv* libraries, with *standalone* IPP, with IPP *static* libraries creates wrong downstream CMake package files -- those files that are later included in applications that build with opencv as a library. These downstream package files fail to have the needed `mt` at the end of the library name.

These package files are created when OpenCV is built/insta

[2021-01-07 23:08] alalek commented on #19282
CMake's target name is not the same as the library name. They can be different.

For static distribution it is "user" responsibility to track and properly define used external dependencies (their targets) before using `find_package(OpenCV)` with the static builds.
(OpenCV build scripts can't behave like the package manager).

---

Unfortunately there is no `find_package(IPP)`, at least its referen

[2021-01-08 01:20] diablodale commented on #19282
Hi. This has nothing to do with `find_package(IPP)`.

The file `OpenCVModules.cmake` is generated by the build of OpenCV itself. Then later, when an app uses `find_package(opencv)`, several files including this `OpenCVModules.cmake` are loaded into the app's cmake setup. It is here that that the error occurrs. The libraries listed in that generated file are injected and not controlled by the app's

[2021-01-08 01:21] alalek commented on #17739
No need to be assigned in case of small fixes.
Feel free to prepare Pull Request with adding reference on this issue (so other can see that).

BTW, Avoid mistakes like this one: #19228

[2021-01-08 01:25] diablodale opened #19285 "add feature: cuda::Stream(cudaStream_t&&) constructor"
I propose adding a `cuda::Stream` constructor that takes ownership of a `cudaStream_t`. Therefore, when that Stream is destructed, it also `cudaStreamDestroy(cudaStream_t)`. This proposal is driven from the needs of a multi-threaded application that decodes frames of images using Nvidia's decoding SDKs like nvJpeg.

##### System information (version)

- OpenCV => 4.5.1
- Operating System / Platfor

[2021-01-08 01:49] alalek commented on #19282
Agreed.
Like OpenCV can't control dependencies of static dependencies directly (for example, static FFmpeg build). This is why I mentioned the "package manager" role.
CMake 3.0+ way is using of [`find_dependency()`](https://cmake.org/cmake/help/latest/module/CMakeFindDependencyMacro.html), like `find_dependency(IPP)` (but there are no instructions how users should get this IPP's CMake config). In

[2021-01-08 06:18] pwnorbitals commented on #17319
This sounds great @jsxyhelu, are you having any success ? :)

[2021-01-08 07:56] wumeng2 opened #19287 "opencv4.4 decode video with gpu /opencv-4.4.0/modules/core/src/cuda/gpu_mat.cu:121: error: (-217:Gpu API call) all CUDA-capable devices are busy or unavailable in function 'allocate'"
System information (version)
OpenCV = 4.4.0
Operating System / Platform = ubuntu 18.04
Compiler = gcc/g++ 7.5
cuda = 10.0
Video_Codec_SDK_9.1.23

I have build my opencv 4.4.0 using Cmak with CUDA 10.0 to speedup decoding videos. I tested code1.cpp , code2.cpp and
 code3.cpp.   Results are below.

1. **code1.cpp             sucess
2. code2.cpp                failure
3. code3.cpp                suce

[2021-01-08 08:23] bulingda opened #19288 "I found an error code in opencv/samples/python/video.py"
![image](https://user-images.githubusercontent.com/55130106/103991545-c7f80d80-51cd-11eb-97e5-79763c3cdd5b.png)

[2021-01-08 08:59] arnaud-nt2i commented on #18975
@erikguo Hi !
How things are going regarding your fix ?
Is the confidence pb solved ?
thanks

[2021-01-08 09:27] KomalBagai opened #19289 "Error in building OpenCV 2.4xx with Cuda 10.2"
##### System information (version)

- OpenCV => 2.4.13
- Operating System / Platform => Ubuntu 18.04 on Jetson AGX Xavier(aarch64)
- Compiler => gcc/g++(ver-8 as it is supported by Cuda-10.2)

I am trying to build OpenCV 2.4 with Cuda-10.2 which is installed on Jetson AGX Xavier. I have followed [this](https://davidstutz.de/compiling-opencv-2-4-x-with-cuda-9/) blog post in order to change the file

[2021-01-08 09:37] gpiffault commented on #15913
In case someone end up here, this worked for me:

[code]

[2021-01-08 10:07] aidamanzano commented on #17148
Hi, just to clarify, if I have Opencv 3.4.4 and I trained my model using YOLOv4, what do I need to if I am also getting this error:
`cv2.error: OpenCV(3.4.4) /home/aida/opencv/modules/dnn/src/darknet/darknet_io.cpp:552: error: (-212:Parsing error) Unsupported activation: mish in function 'ReadDarknetFromCfgStream'`?
Should I uninstall opencv 3.4 and install opencv 4 and recompile darknet?

[2021-01-08 10:34] wooseokyourself commented on #17148
Hey! It seems I gave the confusing answer above.
Not sure, but yolov4 seems to support from 3.4.9 and from 4.4.0. I checked that the mish layer was supported from 3.4.9 (https://docs.opencv.org/3.4.9/d4/da1/classcv_1_1dnn_1_1MishLayer.html) and 4.4.0.
However, it seems that 3.4.12 has the same scope of support as 4.4.0, (https://github.com/opencv/opencv/wiki/ChangeLog#version3412) so if your syste

[2021-01-08 10:42] thmo opened #19290 "[Q] license of files in 3rdparty repo"
In order to be able to [include](https://gitlab.gnome.org/GNOME/shotwell/-/issues/318) the model in Shotwell, we'd like to know the license of the files here: https://github.com/opencv/opencv_3rdparty/tree/dnn_samples_face_detector_20180205_fp16.

I wasn't able to locate some license information nearby in that repo, and a quick chat on #opencv suggested to open a ticket here to ask for clarificati

[2021-01-08 12:46] copterspace opened #19292 "How to build OpenCV 4 debian .deb packages properly?"
I use ROS Noetic built from source on Raspberry PI 4 armhf debian buster platform.
When I install ROS dependencies - it installs OpenCV debian packages libopencv-* , available on http://archive.raspberrypi.org/debian/ ,
which are compiled OpenCV version 3.2.0
(for example - https://packages.debian.org/buster/libopencv-calib3d3.2 , etc)
But I need to run newer OpenCV version, 4.1, or latest 4.5
I'd

[2021-01-08 14:05] deepak-eng opened #19293 "Just use `os.kill (os.getpid (), signal.SIGTERM)`"
os.kill (os.getpid (), signal.SIGTERM)

solves the defaultMultiscale issue of not exiting console
but not the perfect way

[2021-01-08 14:08] #19293 closed

[2021-01-08 15:41] dgalland opened #19294 "Mertens merge (Photo module)"
For the merge Mertens the documentation indicates:

"The resulting image doesn't require tonemapping and can be converted to 8-bit image by multiplying by 255, but it's recommended to apply gamma correction and/or linear tonemapping."

This is not true because the algorithm does not guarantee that the resulting values are in the interval 0-1.
There can be negative values or values greater than 1
S

[2021-01-08 16:26] diablodale commented on #19282
I believe we can fix the broken build. As it is today, it is broken...apps will *not compile* that use the static scenario I describe in my OP. In my experience a "broken build" is one of the most important bugs to fix. We both agree there is a small set of people that are affected. Then I suggest we fix this because few are affected, therefore if there is some bug in the fix, then again few are a

[2021-01-08 17:59] aidamanzano commented on #17148
Thanks, so if I have darknet already compiled with OpenCV 3.4.4 does that mean I have to compile OpenCV 3.4.12 or above and then build darknet all over again? Is there any way to avoid this? I would like to still be able to use the darknet version I have already

[2021-01-08 18:20] no-way02 commented on #18836
Hi, I tried to work on this issue. But still confused about the right path I should follow as I am new to this. @alalek, could you please guide me on the right way to proceed in this and from I should start?

[2021-01-09 03:23] alalek commented on #19282
Please read the first sense of the first my comment.
OpenCV build scripts uses target names.
Scripts are moved away from library names with/without paths to using library names.
Just forget about the names of binaries - they are not reliable in the list of dependencies. Use targets.

For static builds is it responsibility of the user to properly configure external targets (because they are not re-

[2021-01-09 03:35] alalek commented on #19290
Check info from here: #9516

---

Don't rely on any answers from Internet about legal topics. Contact with your lawyer instead.

[2021-01-09 03:37] alalek commented on #19289
2.4 is EOL. Closing.

[2021-01-09 03:37] #19289 closed

[2021-01-09 03:41] alalek commented on #19262
see also #17319

[2021-01-09 07:14] bml1g12 commented on #9053
Indeed I expect drawing would be a bottleneck. I am trying to benchmark a range of cases (IO limited, CPU limited etc.), to collate a resource on the optimal strategy for integrating video reading with numpy video analysis. Although still a work in progress, my benchmarks so far suggest the best tool for the job depends heavily on whether the application is CPU limited or IO limited, and the size

[2021-01-09 07:29] xiedeacc opened #19298 "opencv/modules/core/src/parallel.cpp: expected type-specifier before ‘split’ include tbb_stddef.h"
- OpenCV => 4.5
- Operating System / Platform => ubuntu20.04
- Compiler => gcc9.3.0

[  7%] Building CXX object modules/core/CMakeFiles/opencv_core.dir/src/stat_c.cpp.o
cd /data/software/opencv/build/modules/core && /usr/bin/ccache /usr/bin/c++  -DBOOST_DISABLE_ASSERTS -DCVAPI_EXPORTS -DCV_COLLECT_IMPL_DATA -DHPX_DISABLE_ASSERTS -DHPX_LIBRARY_EXPORTS -DOPENCV_ALLOCATOR_STATS_COUNTER_TYPE="long lon

[2021-01-09 07:51] xiedeacc commented on #19298
it seems tbb implement type convert function rightly, so what's wrong?

[2021-01-09 09:41] alkasm opened #19299 "Background subtractor python tutorial does not call isOpened() method"
##### Detailed description

The [Python background subtractor tutorial](https://github.com/opencv/opencv/blob/master/samples/python/tutorial_code/video/background_subtraction/bg_sub.py#L21) attempts to check that the capture device is opened with:

[code]

Instead the method needs to be called:

[code]

Currently, it will always be true since the value is a function which is always truthy.

#####

[2021-01-09 11:15] xiedeacc commented on #19298
it seems caused another tbb under intel oneapi

[2021-01-09 12:30] SunlifeV commented on #14778
我在用c++版本的opencv4.1.0的时候也遇到了这个，我用的是网上的例程，里面有下面一段函数
vector<cv::String> darknet_opencv::getOutputsNames(const Net& net)
{
    //static vector<cv::String> names;  把static 去掉可以运行成功
    vector<cv::String> names;
    if (names.empty())
    {
        //Get the indices of the output layers, i.e. the layers with unconnected outputs
        vector<int> outLayers = net.getUnconnectedOutLayers();

        //ge

[2021-01-09 19:00] techscapades commented on #14205
LMAO THIS WORKED

[2021-01-09 20:41] StefanBruens commented on #19020
I can reproduce the problematic code generation with a much smaller code fragment, and the outcome depends on the linking order.

The "requirement" for this to happen seems to be some `inline` functions which appear in several translation units. Obvious candidates are default constructors, assignment operators and the like, plenty of these are used here, e.g. from `std::mutex<T>`, `std::atomic<T>`

[2021-01-09 22:23] sergiomb2 commented on #19020
The reporter reports that disable LTO fix the problem .

[2021-01-10 03:15] qinxianglinya commented on #4728
do you solve the problem?

[2021-01-10 03:20] StefanBruens commented on #19020
No, he reports disabling LTO hides the problem. Thats something different, just because the problem no longer manifests you can't say it it is fixed.

[2021-01-10 11:21] a1pha commented on #19263
Hi, I am new to open source and have been reading through the documentation and codebase. Can I take a crack at implementing this?

[2021-01-10 16:42] diablodale commented on #19282
Thanks for more clarity. Give me a few days to digest this and think over all we have discussed. I will definitely close/reply before Wednesday.

[2021-01-11 02:59] JoshuaJakowlew commented on #11220
This patch would enable h264_nvenc encoding in cv::VideoWriter, not cv::cudacodec::VideoWriter, am I right?

[2021-01-11 03:15] jepangLee opened #19303 "Build Issue with VS 2017 CUDA 10.2"
##### System information (version)

- OpenCV => 3.1.0
- Operating System / Platform => Windows 10 (20H2) 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description

CMake config output:

[code]

VS2017 build output log:

[log](https://raw.githubusercontent.com/jepangLee/opencv-issue/master/vs2017_build_log.txt)

##### Steps to reproduce

when i can't configure cmake i follow this post :
h

[2021-01-11 04:39] dapicard commented on #11220
@JoshuaJakowlew, Yes it does, you're right.

[2021-01-11 08:20] RocskyLu opened #19304 "c++ dnn multi-inputs and multi-outputs"
##### System information (version)

- OpenCV => 3.4.13:
- Operating System / Platform => :ubuntu16.04:
- Compiler => :gcc/g++:

##### Detailed description

How to call net.setInput() when the number of inputs is larger than 1.

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [x] I checked the problem with documentation, FAQ, open issue

[2021-01-11 08:33] dkurt commented on #19151
@za13, it creates a SavedModel but you need a frozen graph:
[code]
examples: https://github.com/opencv/opencv/issues/16879#issuecomment-603416876 and https://github.com/opencv/opencv/issues/16582#issuecomment-603819498

[2021-01-11 08:54] LupusSanctus commented on #19183
I've explored the list of models already tested in OpenCV: https://github.com/opencv/opencv/wiki/TensorFlow-Object-Detection-API#use-existing-config-file-for-your-model. The comparison of MobileNet-SSD V3 [``.pbtxt``](https://gist.githubusercontent.com/dkurt/54a8e8b51beb3bd3f770b79e56927bd7/raw/2a20064a9d33b893dd95d2567da126d0ecd03e85/ssd_mobilenet_v3_large_coco_2020_01_14.pbtxt) helped to reveal

[2021-01-11 10:28] dkurt commented on #19304
Please read the documentation: https://docs.opencv.org/master/db/d30/classcv_1_1dnn_1_1Net.html#a5e74adacffd6aa53d56046581de7fcbd

[2021-01-11 10:28] #19304 closed

[2021-01-11 10:35] sergiomb2 commented on #19020
Hi,
BTW we can't build opencv with LTO enabled on ppc64le https://koji.fedoraproject.org/koji/taskinfo?taskID=59359393
lto1: error: '__builtin_altivec_vadub' requires the '-mcpu=power9' option

[2021-01-11 11:15] asmorkalov commented on #19298
@xiedeacc Could you bring more details about your setup and CMake cache content related to TBB?

[2021-01-11 11:18] asmorkalov commented on #19288
@bulingda Thanks for the finding. OpenCV is Open Source library. Feel free to submit PR with the issue fix.

[2021-01-11 11:22] asmorkalov commented on #19271
Related issue: https://github.com/opencv/opencv/issues/11389

[2021-01-11 11:53] #19183 closed

[2021-01-11 12:37] HotDenim commented on #19263
Are you asking _me?_ .  I guess anyone can take a attempt with it.

But I am not someone who has control over what changed will be merged into the main source code, so your attempt's usage is not in my control.

If you decide to take an attempt; First study all the parameters that can be possible when implementing rounded rectangles, do this by say looking at the rounded rectangle feature in a wel

[2021-01-11 13:27] a1pha commented on #19263
Thanks @HotDenim, this is a great suggestion; I will get started right away.

[2021-01-11 13:27] RocskyLu commented on #19304
I have read the doc, and use vector<Mat> as the input. However, there are still errors

src:
#include <iostream>
#include <opencv2/opencv.hpp>
#include <opencv2/dnn.hpp>

using namespace std;
using namespace cv;
using namespace dnn;

int main(int argc, char **argv) {
    Net net = readNet("../models/demo.onnx");
    int sizex[] = {1, 3, 400};
    int sizey[] = {1, 4, 600};
    Mat blobx(3, sizex,

[2021-01-11 13:49] a1pha commented on #19273
I'll be working on this in parallel with #19263. Thanks!

[2021-01-11 14:14] HotDenim commented on #19263
Also see my recent messages (within the last week) that suggest Transparency, Fill with/without Outline, blend mode. etc...  - Try to implement these, or at least structure in a way that when these are implemented (from someone else), you can integrate with them.

[2021-01-11 14:19] HotDenim commented on #19273
For an _aim/direction_; refer to and try to emulate these features as they exist in _Photoshop, and Illustrator_ (see the _options_ for these tools in _these_ software)

[2021-01-11 14:21] dkurt commented on #19304
[code]
Wrong usage. For multiple inputs, please try
[code]

[2021-01-11 14:34] HotDenim opened #19306 "[Feature Request] - Animated Overlay"
Would like to request a feature that allows the over overlay of a _'animated'_ file _(e.g. Video File, Animated GIF, Multi-Image TIFF, Windows .ANI (animated Icon), Windows .ICO (Icon)_) over an image (current frame). An Example use

- Producing video output with an _animated_ logo in the corner.
- Producing an _animated_ annotation that can be placed in the video output, wherever required.

Shoul

[2021-01-11 14:51] HotDenim opened #19307 "[Feature Request] - Drawing Shapes; Filled, with Texture"
Currently it is possible to draw shapes either as filled, or as an outline. E.g. Rectangle.

Would like to request that all the drawing functions allow Filled together with an texture/pattern, i.e image data or image file.

Should support options such as:

- Offset
- Offset anchor location; e.g. corner, center, top-left, top-right etc...
- Scale, Rotation, Mirror
- Transparency
- Blend Modes
- Rep

[2021-01-11 14:56] HotDenim commented on #19273
Also see my other topic : [Line Styles; More](https://github.com/opencv/opencv/issues/19264). (to consider when you implement the border)

[2021-01-11 15:30] VadimLevin commented on #15465
The root cause of the issue is current implementation of the overload resolution in the generated Python bindings. First of all it tries to parse arguments for
[code]
but it fails (because floats are not convertible to integers as was already stated above) - it sets error message, but in C++ interface there is an overload, that clears previously set error message:
[code]
that accepts tuple with 4

[2021-01-11 15:49] crackwitz commented on #18481
while I appreciate the existence of this module and collection of trackers, I find the API/interface useless so far.

I think trackers need a `Tracker.predict(image) -> Prediction` method and a `Tracker.update(prediction)` method. `predict` should do what the name says, on a given whole image or subregion, and not change the tracker's state. `update` should take a possibly adjusted prediction obje

[2021-01-11 16:05] crackwitz opened #19308 "window_w32.cpp: remove "gutter""
I would like to remove the 1-pixel "gutter" that sits between the displayed image and the window's border in win32 `imshow`. the function `icvCalcWindowRect` could either get its gutter constant set to 0 or the entire calculation could be simplified (my preference).

https://github.com/opencv/opencv/blob/941a9792f7c7d60640c82926091d710e6ecbfb55/modules/highgui/src/window_w32.cpp#L1119-L1142

reaso

[2021-01-11 16:29] crackwitz commented on #11019
(not sure if I should post here or make a new issue...)
I'd like to shift the meaning of the delay argument of `waitKey()`.

first, I'd like to establish `-1` as the canonical "infinity" value to pass in, while maintaining `<= 0` as infinity.

second, after every use of `waitKey(0)` (as infinite wait) on the whole internet has disappeared, I would like `0` delay to actually mean zero delay, i.e. p

[2021-01-11 17:48] peteruhnak commented on #15315
Considering there hasn't been any change in the linked projects in ~15 months, I feel like it would be better to simplify the scope and just use what is already available, instead of trying to make everything perfect from the start.

Considering people do use the pre-built opencv.js directly, we could start with that, so the contents would be

* pre-built opencv.js (wasm variant presumably)
* pack

[2021-01-11 17:56] alalek commented on #19306
OpenCV is a computer vision library.
It is not a GUI framework.

[2021-01-11 17:56] #19306 closed

[2021-01-11 17:57] frastlin commented on #15315
I think you're right @peteruhnak if we could get something, that's better than nothing. What you have sounds good. I would say let's just put the JS files in a release, all the other files are just extra and not really needed. In the next releases, we can focus on [Tree-Shaking](https://webpack.js.org/guides/tree-shaking/) and the other optimizations above.

[2021-01-11 18:00] za13 commented on #19111
can anyone help?

[2021-01-11 18:09] alalek commented on #19303
You should use latest releases.
Obviously, there is no any guarantee to properly use modern dependencies in the release from 2015.

[2021-01-11 18:09] #19303 closed

[2021-01-11 18:36] alalek commented on #19020
I agree that this code doesn't follow C++ standard in this area (just because standard suggests nothing to handle dispatching of C++ code in a single binary).

In summary, there are several options to handle this issue:
- disable LTO
- disable dispatching in OpenCV (`cmake ... -DCPU_DISPATCH=`), but with SSE2 baseline performance results are not really good
- try to rework OpenCV code (long way)

[2021-01-11 18:50] za13 commented on #19151
I now get

    TypeError: signature wrapper(*, input_1) missing required arguments: input_1

when I try

    from __future__ import print_function

    import warnings

    import matplotlib.pyplot as plt
    import numpy as np
    import pandas as pd
    from imutils.paths import list_images
    from keras import backend as K
    from keras.callbacks import CSVLogger
    from keras.layers import

[2021-01-11 19:20] asmorkalov commented on #19308
@vpisarev could you comment the solution?

[2021-01-11 19:48] crackwitz commented on #19308
here's a little something you can run that demonstrates the issue:
https://gist.github.com/crackwitz/413bbb458b88772f5912d8af978b0b53
use args `--size 2560x1440 --gutter 1` to see a clean pattern with the current situation (size is reduced appropriately for given gutter),
or `--size 2560x1440 --gutter 0` to see what happens when you want to display a picture that's actually that size.

[2021-01-11 20:26] berak commented on #19306
@HotDemin, can you explain, how this would improve a *computer-vision* library ?

[2021-01-11 20:29] HotDenim commented on #19306
Well I am suggesting it from, for example, the exising drawing functions Circle(), Rectangle(), Line() etc...

Imagine detecting something, and placing an animated marker by it, for example a _glowing arrow_ pointing to something. (Glowing arrow being say an Animated GIF file)

[2021-01-11 21:31] JoshuaJakowlew commented on #11220
I tried your patch and it doesnt work.
Runtime says `"Run-Time Check Failure #3 - The variable 'codec' is being used without being initialized."`
So I inserted `codec` varible nullptr initialisation and it's working fine, I see GPU load in "Video Encode" tab in Task Manager.

I'm unfamiliar fith github interface, could you please apply the [patch](https://gist.github.com/JoshuaJakowlew/7a64ce4b407

[2021-01-11 22:34] #19077 closed

[2021-01-12 01:02] zcufo123 commented on #19155
@alalek Never mind, after "Refresh Linked C++ Projects", it works.

[2021-01-12 01:02] #19155 closed

[2021-01-12 01:36] RocskyLu commented on #19304
thank you very much.

[2021-01-12 07:25] Wwupup commented on #18461
I solved the problem through this method. There is no GUI on the server side, so I need to comment out imshow.

[2021-01-12 08:32] dkurt commented on #19151
[code]
is a name from example. An error says that you need to use different name.

[2021-01-12 14:06] h-b commented on #10324
I did not test, but in the current master branch [gst_element_query_position](https://gstreamer.freedesktop.org/documentation/gstreamer/gstelement.html#gst_element_query_position) is [still used in ::open](https://github.com/opencv/opencv/blob/941a9792f7c7d60640c82926091d710e6ecbfb55/modules/videoio/src/cap_gstreamer.cpp#L958), which caused the issue when I tested it back in 2017. Maybe I have tim

[2021-01-12 15:48] Chris-Bee opened #19313 "Incorrect ARUCO detection with bigger markers"
##### System information (version)
- OpenCV 4.2.* and 4.5.1
- Operating System: Linux Ubuntu 64 Bit

##### Detailed description

This issue concerns the implementation of the ARUCO marker detection. I observed, that the corner-detection / detection of squares in the image shows incorrect results. This issue is especially visible with bigger tag sizes (e.g. 0.3-0.5 meters). It appears that the corn

[2021-01-12 19:30] copaah opened #19315 "No Python bindings for cv::stereo::QuasiDenseStereo"
##### System information (version)
- OpenCV => 4.4.0
- Operating System / Platform => Linux
- Compiler => Python PIP install (opencv-python==4.4.0.42)

##### Detailed description

There are no Python bindings for the QuasiDenseStereo module: https://docs.opencv.org/4.4.0/dc/df4/classcv_1_1stereo_1_1QuasiDenseStereo.html#details

##### Issue submission checklist
Also asked [OpenCV forum](https://fo

[2021-01-12 21:07] #17739 closed

[2021-01-12 21:08] #18836 closed

[2021-01-12 21:08] #19299 closed

[2021-01-12 21:09] #18490 closed

[2021-01-12 21:23] za13 commented on #19151
I'm now able to convert it to frozen graph

However, when I open it with C++ using `readNetFromTensorflow`, I get the same errors as in my original comment

[2021-01-12 21:51] diablodale commented on #19282
I now follow the intention of OpenCV. It is technically a valid approach. However, it is harder for apps that static link since there is no "finder" written by OpenCV that matches OpenCV's specific symbolic target names. I think this is a disservice to a subset of your users. It makes them have to either: easy fix like my PR --or-- hard fix to write an entire "finder" that will match what OpenCV i

[2021-01-13 07:00] cpraschl opened #19316 "ONNXImporter ERROR while import YOLO 4 with asymetric padding (TensorFlow 2.x & Keras)"
##### System information (version)

- OpenCV => 4.5.1.48
- Operating System / Platform => Windows 64 bit / Python

##### Detailed description

I have created a YoloV4 Keras Model using [TensorFlow-2.x-YOLOv4](https://github.com/pythonlessons/TensorFlow-2.x-YOLOv3), that I am converting to ONNX using [keras2onnx](https://pypi.org/project/keras2onnx/), which works fine. For this I am using the follo

[2021-01-13 08:25] sl-sergei commented on #18920
@wwzh2015 Can you please upload your ONNX network to some other hosting, accessible outside of China? I want to investigate your problem and fix it, but I stuck with Baidu...

[2021-01-13 08:58] ox-prog opened #19317 "*/highgui/src/window.cpp:597: error: (-213:The function/feature is not implemented) The library is compiled without QT support in function 'createButton'. Any OpenCV version. Need feature implemented"
##### System information (version)
- OpenCV => `3.4.12_3` (`4.5.0_5`) (`2.4.13.7_11`)
- Operating System / Platform => `macOS BigSur 64 Bit`
- Compiler / IDE => `CLion 2020.3 (Clang++  (ver 12.0.0.12000032)) / Qt 6/ Qt 5`

##### Detailed description
* It's not the question because the problem is the **library** is compiled without QT support in function 'createButton'.

I would like to use `highgu

[2021-01-13 09:11] alalek commented on #19317
`createButton` requires enabled Qt during the build of OpenCV itself. Check CMake output / `getBuildInformation()`.

---

Usage questions should go to Users OpenCV Q/A forum: https://forum.opencv.org/

[2021-01-13 09:11] #19317 closed

[2021-01-13 12:26] yuvalg1987 commented on #10324
As far I see, this error is caused by having the variable `duration = -1`, this is coming from the following part of the code:
[code]

Unfortunately, I see that the pipeline is pre-rolled correctly (set to paused) as indicated by the following lines:
[code]
Any ideas why gst_element_query_duration return false?

[2021-01-13 12:36] JacobKong commented on #16821
I meet the same problem using opencv-python 4.2.0.32.
Some videos get different valid frame count on different hardware. Have anybody solved this problem?

[2021-01-13 13:26] yuvalg1987 commented on #10324
A possible bug is the format type for teh function `gst_element_query_duration` which should be GST_FORMAT_TIME but is actually set to GST_FORMAT_DEFAULT. In a small simulation I run it seems to solve the case. This repeats it self in more palces throughout the code so I guessing it should be replaced in multiple places.

[2021-01-13 14:48] asmorkalov commented on #19294
@vpisarev Could you comment?

[2021-01-13 15:31] dgalland commented on #19294
It was just to indicate that the MertensMerge documentation is inaccurate.
The resulting float image is not normalized between 0 and 1
The simple multiplication by 255 as recommended in the doc and many examples in the tutorials does not give the right result.
The difference on the result image is noticeable

The simplest way would be to modify the documentation:

Actual:
"The resulting image does

[2021-01-13 17:20] diablodale commented on #19275
@HotDenim hi. I think this issue and its sibling https://github.com/opencv/opencv/issues/19274 are both met with OpenCV `UMat` and OpenCL infrastructure.

You can at runtime, enable or disable the use of OpenCL compute devices. Major vendors like Intel, AMD, and Nvidia all support OpenCL with their graphic driver/runtimes. Therefore, you can write a single codebase in C++ with OpenCV and at runtim

[2021-01-13 18:16] LupusSanctus commented on #19184
Running the test on Nvidia (1) OpenCL backend, the second test case with [``similarity_threshold=0.1``](https://github.com/opencv/opencv/blob/master/modules/stitching/test/test_exposure_compensate.cpp#L64) returns the [same result](https://github.com/opencv/opencv/blob/master/modules/stitching/test/test_exposure_compensate.cpp#L63) as [the first one](https://github.com/opencv/opencv/blob/master/mo

[2021-01-13 19:03] sergregory commented on #19316
Here are my findings and thoughts about this issue:

1. The exact error I get with `opencv-python==4.5.1.48` is the following:
[code]
What does it say to us? It says that Conv operation with the output named `convolution_output19` has asymmetric padding, which is not supported

Let's take a look at the ONNX file: here I show only the related part of the graph
![ONNX graph](https://user-images.gith

[2021-01-14 06:51] cpraschl commented on #19316
Thank you very much for the detailed comment!
I will try it give you response :)

One question that I have: What is the exact reason for not supporting asymmetric padding? I am really curious about this. Is it just a feature that will be added in future? Or are there any big disadvantages against it?

[2021-01-14 10:45] #18928 closed

[2021-01-14 10:46] aarongreig commented on #9821
Hello @alalek we're running into this again in these tests, and also in a number of the dnn tests (I've confirmed that the latter is due to the `native_powr` calls in [ocl4dnn_lrn.cl](https://github.com/opencv/opencv/blob/master/modules/dnn/src/opencl/ocl4dnn_lrn.cl#L86)). I have a patch I could open as a PR that increases the threshold on the precision checks in those tests, are you still thinkin

[2021-01-14 14:40] cpraschl commented on #19316
Unfortunately, the suggested change leads to another exception:

[code]

Adapted Onnx Model:
[model.zip](https://github.com/opencv/opencv/files/5815071/model.zip)

[2021-01-14 14:58] QBarbeAusy opened #19323 "cv2.dnn performance comparison between 2060 and 3070"
System information (version):

    OpenCV => 4.4.0
    Operating System / Platform => Windows 64 Bit
    Compiler => Visual Studio 2019
    Cuda => 11.1
    Cudnn => 8.0.5
    Python => 3.8.2

Detailed description:

Hi there,

I think I maybe have a problem that I'm not sure to understand. I'm trying to use Cuda Dnn to perform objects detection using yolov4 using this [script ](https://gist.github

[2021-01-14 17:44] YashasSamaga commented on #19323
I am not sure but I think this has something to do with old cuDNN API being used in OpenCV. cuDNN 8 introduced a new API but provided the v7 API for backwards compatibility (which OpenCV is currently using). The v7 API in cuDNN 8 has performance regressions on many devices. YOLOv4 appears to be slower (even 2x slower sometimes) on many devices.

There have been some discussion on NVIDIA developer

[2021-01-14 18:10] QBarbeAusy commented on #19323
Thanks for you answer @YashasSamaga . So you mean that, for the moment and due to the 8.X.X version of Cudnn it's normal to have this 'low' performances?
To conclude ,for Opencv's Dnn use it's better to use a 2080 TI than a 3090 ?

[2021-01-14 23:40] marcown opened #19324 "Symbol not found in static build opencv"
- OpenCV => 4.5.1
- Operating System / Platform => alpine:3.12
- Compiler => cmake

I want to statically build opencv and then link it in my program, to build opencv I use the following docker:

[code]

I look up the LDFLAGS from pkg_config and build my app using cmake  and importing the static libs like this:

[code]

(same order as in pkg-config)

However, doing a ldd on the resulting file (I bu

[2021-01-15 02:40] YashasSamaga commented on #19323
I think so. This performance regression affects Darknet too.

Yes, YOLOv4 with 608 x 608 gives 110+ FPS on FP16 on RTX 2080 Ti with cuDNN 7.6.5. You can find more stats in Darknet's ReadMe.

[2021-01-15 03:39] alalek commented on #19324
Use `find_package(OpenCV)` from "build" directory ("install" distribution of static builds may not work due to dependencies)

This doesn't look like OpenCV's layout.

Use `nm` tool to check symbols in `libopencv_dnn.a` file: `nm libopencv_dnn.a | grep NMS`.

Run linker in verbose mode. Force symbols lookup.

---

Build / usage questions should go to Users OpenCV Q/A forum: https://forum.opencv.org

[2021-01-15 03:56] alalek commented on #9821
You can adjust test thresholds for your configuration under condition in the tests.
Existed test cases on other configurations should keep own thresholds. Add link on detailed information.

OpenCL case should look like this:
[code]

---

Also it is possible to skip some tests cases through

[code]

but this is "exceptional" behavior with very strong configuration check.

[2021-01-15 07:52] Asher-Ch opened #19327 "Can't create "Softplus" in function 'getLayerInstance'"
I trained a model on pytorch, its activation function is Mish, and then I converted it to onnx, hoping to execute it on c++ through opencv (I'm using 4.5.0).

Then I encountered some errors like:

[ERROR:0] global /home/opencv-4.5.0/modules/dnn/src/onnx/onnx_importer.cpp (1788) handleNode DNN/ONNX: ERROR during processing node with 1 inputs and 1 outputs: [Softplus]:(34)
terminate called after thr

[2021-01-15 09:00] shatalinra opened #19328 "[Feature Request] - GPU implementation of HDR algorithms"
Currently photo module have plenty of tonemapping and HDR algorithms but there is no GPU implementation. These algorithms are highly parallelizable and CUDA implementation can be much more faster than CPU implementation. The demand for this feature is demonstrated by these questions:

- https://stackoverflow.com/questions/61752270/how-to-generate-hdr-images-using-the-graphics-card-in-python
- http

[2021-01-15 11:04] l-bat commented on #19327
@Asher-Ch Could you please check changes from #19330?

[2021-01-15 12:14] marcown commented on #19324
i posted my question there:

https://forum.opencv.org/t/undefined-symbol-with-static-build-opencv/876

the nm and verbose linker mode did not bring any insights

[2021-01-15 12:27] SamFC10 commented on #19316
Based on the exception, it looks like OpenCV doesn't support negative indices for axis in Slice layer.
Changing the [axis](https://github.com/pythonlessons/TensorFlow-2.x-YOLOv3/blob/770b3d4fef81550a9389a8fe701e89b854833d0a/yolov3/yolov4.py#L77) to 3(assuming your input dimensions is 4) should solve it.

For asymmetric padding in convolution, usually there is a zero-padding layer followed by a con

[2021-01-15 15:38] sergregory commented on #19316
@SamFC10,

I agree, this is what I typically do when the model should be convertible to the inference framework.
But the code [here](https://github.com/pythonlessons/TensorFlow-2.x-YOLOv3/blob/770b3d4fef81550a9389a8fe701e89b854833d0a/yolov3/yolov4.py#L46) uses Conv2D with the "same" plaid if stride==1. Probably, it should be changed correspondingly, but from the TF world perspective it is an endle

[2021-01-16 02:34] VisionaryMind opened #19333 "OpenCV 4.5.1 build fails on Python2 / 3"
##### System information (version)
- OpenCV => 4.5.1
- Operating System / Platform => Linux 4.9.140-tegra aarch64
- Compiler => c++  (ver 7.5.0)

##### Detailed description

I have been able to build 4.5.1 successfully in the past on a Tegra machine. This one is a Xavier AGX with Jetpack 4.4.1, so right out of the gate, there are all the inconsistencies and oversights common to NVIDIA-built system

[2021-01-16 02:46] alalek commented on #19333
Perhaps numpy version in your environment doesn't support Python 2.7 anymore.
You should disable generation of opencv_python2 binding in that case: `cmake -DBUILD_opencv_python2=OFF ...`

[2021-01-16 02:51] VisionaryMind commented on #19333
Yes, this fixes the problem, but some libraries require Python 2. ROS Melodic, for example, which is the default on these Tegra machines.

[2021-01-16 03:36] alalek commented on #19333
This doesn't looks like a right way.
Python2.7 directory should not be used to compile with Python3+.

You should check passed build parameters and CMake variables first.

---

Build / usage questions should go to Users OpenCV Q/A forum: https://forum.opencv.org/

[2021-01-16 05:22] ProtoSD opened #19335 "Problem building Python3 Install/Package OpenCV 4.5.1 on Windows"
CMake 3.19.2
Visual Studio Community 2019
Anaconda 3.8.5 64-bit
Windows 7 Pro 64-bit

Similar Issues:
https://github.com/opencv/opencv/issues/17860
https://github.com/opencv/opencv/issues/16384
https://github.com/opencv/opencv/issues/17632

My problem seems related to the above issues, but I'm not clear about how to fix it.

My problem occurs  after building Install or trying to build Package. Als

[2021-01-16 05:59] komakai commented on #19254
Hello - I have done some investigation into the issue:
I built the xcframework with this command line
`./opencv/platforms/apple/build_xcframework.py --out xcframetest --iphoneos_archs arm64,armv7 --iphonesimulator_archs x86_64,arm64 --build_only_specified_archs`
then I tried importing just the plain iOS framework - that worked fine
then I tried importing just the plain iOS Simulator framework -  t

[2021-01-16 07:38] goodmight commented on #15964
Process:               main [24943]
Path:                  /Users/USER/Documents/*/main
Identifier:            main
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        bash [5361]
Responsible:           Terminal [743]
User ID:               503

Date/Time:             2021-01-16 15:03:38.324 +0800
OS Version:            Mac OS X 10.15.7 (19H114)
Report Version:

[2021-01-16 08:02] MoscowskyAnton commented on #18082
@maky-hnou hello, I tried your solution, but my configure ends with errors, did you apply this changes after or before configuring opencv with cmake?

[2021-01-16 09:37] maky-hnou commented on #18082
Hello @MoscowskyAnton, I applied them before running `cmake`.
Maybe you have cuda and cudnn in different paths? Or maybe the cuad_architecture_bin is different than mine.
For the record, I followed this tutorial: https://www.pyimagesearch.com/2020/02/03/how-to-use-opencvs-dnn-module-with-nvidia-gpus-cuda-and-cudnn/  But I made some changes to make it work for me.

[2021-01-16 09:38] MoscowskyAnton commented on #18082
I've tested.
That @maky-hnou's solution works for OpenCV 4.4.0, CUDA 11.0 and cuDNN 8.0.5 and nVidia GeForce GTX 1050 ti. Tested with [dnn adapted tensorflow nets](https://github.com/opencv/opencv/wiki/TensorFlow-Object-Detection-API).

First you need to configure OpenCV
Than fix FindCUDNN.cmake
And after that make it

[2021-01-16 12:51] maky-hnou commented on #18082
I am glad it worked for you.

[2021-01-16 16:43] chrisballinger commented on #19254
@komakai Thanks for confirming the issue. Want me to re-submit a PR with my original fix?

[2021-01-16 20:52] #19267 closed

[2021-01-16 20:52] #19327 closed

[2021-01-17 02:27] kurikabocya commented on #13918
Please tflite on OpenCV!
GPU vs CPU is 8:1 on speed.
If OpenCV can read tflite, then we can use Edge for note pc

[2021-01-17 06:23] ZurMaD commented on #19316
Hello there, I ran yolov4 in Opencv DNN without problems with this code https://github.com/DZPeru/fishv4 However, based on pytorch, may be useful.
The changes that you may need to do:
- Train with yolov4 pytorch version
- Change weigths.cfg

Some features of onnx are not yet implemented in OpenCV current version as I read in other post.

[2021-01-17 07:22] tomoaki0705 commented on #19184
I'm surprised I started debugging this issue few days ago, and some one already created an issue for this topic.

I faced this issues on following platforms
 - Failed
   - firefly-rk3399
   - odroid-c4
   - odroid-n2-plus
   - odroid-xu4
   - tinkerboard
   - rock-pi-4c
 - Passes
   - jetson-nano
   - jetson-tx1
   - jetson-tx2
   - jetson-xavier
   - jetson-xavier-nx
   - le-potato
   -  raspberr

[2021-01-17 07:40] tomoaki0705 commented on #19184
If OpenCL version implementation is kicked, I could trace down the call arrives [here](https://github.com/opencv/opencv/blob/63bb2abadab875fc648a572faccafee134f06fc8/modules/core/src/arithm.cpp#L265)

https://github.com/opencv/opencv/blob/63bb2abadab875fc648a572faccafee134f06fc8/modules/core/src/arithm.cpp#L264-L265

 - The `opts` passed to the OpenCL kernel [here](https://github.com/opencv/opencv

[2021-01-17 08:19] #19149 closed

[2021-01-17 08:20] Ribitsch commented on #19236
Why is this issue incomplete?

[2021-01-17 11:01] komakai commented on #19254
Hello @chrisballinger
If you check the comments below - you will see that the only time a breaking change is really acceptable is an OpenCV major version change.
https://github.com/opencv/opencv/pull/17165#issuecomment-635910748
https://github.com/opencv/opencv/pull/17165#issuecomment-636014196
But even on a major version change I do not think it is a good idea to make a breaking change to OpenCV

[2021-01-17 13:10] tomoaki0705 commented on #19184
Also, this temporally fix [putting in here](https://github.com/opencv/opencv/blob/63bb2abadab875fc648a572faccafee134f06fc8/modules/stitching/src/exposure_compensate.cpp#L157) worked.

[code]

The combination is still not determined yet, but in this case, this binary operation takes `Mat`, `UMat` and written back to `Mat`.
The `Mat` are processed **in-place** and that seems one of the cause.
Now, m

[2021-01-17 15:24] keivanmoazami commented on #11220
I download nvidia video sdk from https://developer.nvidia.com/nvidia-video-codec-sdk/download and copy libs & headers into cuda path. then set WITH_NVCUVID=ON and make project. it seems be ok.

![Untitled](https://user-images.githubusercontent.com/6730752/104847457-5880cd00-58f5-11eb-9cd0-7e016faaff79.jpg)

[2021-01-17 15:54] alalek commented on #19184
@tomoaki0705 Thank you for investigation!

OpenCL kernels for operations with "in-place" src/dst buffers should be implemented with another kernels code. This is a bug to be fixed in `core` module.

---

Workaround without `.clone()` (reduced performance impact):
[code]

[2021-01-17 17:04] chrisballinger commented on #19254
@komakai My PR isn't technically a fully breaking change, it has typealias shims for backwards compatibility. For instance, the test suite is unmodified and uses the OpenCV versions of `Point`, `Rect`, and `Size`, see https://github.com/Rightpoint/opencv/commit/ed46c569d903c631547369dadf29fc649442dc95.

Not using XCFrameworks will not be an option for many developers somewhat soon, it's required i

[2021-01-17 20:35] Alloooshe commented on #18448
any update on this issue, I am facing the same problem

[2021-01-17 21:25] tomoaki0705 commented on #19184
Thanks for the updated fix propose.
I hired the `swap` approach and created a PR.
The PR is for master, since this test doesn't exists in 3.4 branch

[2021-01-17 22:12] bjtho08 commented on #9643
Why has this patch not yet made it into the latest python package? It's been more than three years and it's a single line of code. Will it work if I compile it from source without any special parameters?

[2021-01-17 23:32] LupusSanctus commented on #19257
I reproduced the steps you've described. However, one more step was added - optimization of the obtained frozen graph:
[code]

After this step and `.pbtxt` assertation error WA, I've tried to read it with OpenCV:
`cvNet = cv.dnn.readNetFromTensorflow('<PATH_TO_SAVE_OPT_MODEL>/optimized_frozen_graph.pb', 'graph.pbtxt')`

and the below error has occurred:
`tf_importer.cpp:596: error: (-2:Unspecified

[2021-01-18 01:16] komakai commented on #19254
@chrisballinger thanks for the clarification about your change - I hadn't spotted the type aliases. If you have that working and there are no client code changes required then I'm good with it.

[2021-01-18 05:37] txdat commented on #14477
@kafan1986 I have the same issue like you, I can use `cvtColorTwoPlane` with 640x480 images but not for others (e.g 1024x768). How did you solve it? Thank you!

[2021-01-18 05:41] VisionaryMind commented on #19333
Everything is in order The problem is that OpenCV is no longer compatible with Python 2.7. I presume most of the developers have switched to Python3, but those of us that use NVIDIA edge devices (e.g. Xavier AGX), we are stuck with Ubuntu 18.04 and the old Jetpack libraries. ROS Melodic depends on Python2 and though it may be compiled from source to support Python3, that will break many of the pro

[2021-01-18 06:09] alalek commented on #19333
Got it. `#if` is not really necessary here.

Looks like this problem is that used numpy is not compatible with Python 2.7.

Python 2.7 support was "broken" by this numpy [commit](https://github.com/numpy/numpy/commit/e1aecb08f99321b72959cc50eb7b47454b613f52#diff-5884bb7c90e5a93ce8f0f32b884410d3adabad9df1bf89b049be522a7f34d574L129) (1.19+).
So, numpy 1.19+ should not be used with Python 2.7 (and sh

[2021-01-18 06:16] kafan1986 commented on #14477
@txdat You have to look at the frame data. I believe in my case, culprit was the camera hardware, as at certain resolution, it was giving incomplete data, so I had to ignore the last two pixel rows. The below code worked fine for my case.

[code]

[2021-01-18 07:08] dkurt commented on #13918
@kurikabocya, have you tried a command from https://github.com/opencv/opencv/issues/13918#issuecomment-652399369?

[2021-01-18 07:22] cpraschl commented on #19316
@SamFC10 See the keras model attached below:
[kerasmodel.zip](https://github.com/opencv/opencv/files/5828419/kerasmodel.zip)

@sergregory According to your changes to get the onnx model. Don't forget to set to channel first (Not sure if you have configured in the keras config file, but it is missing in code :) ) Any reason to use target_opset to 11?

@ZurMaD Unfortunately I need a Tiny-YoloV4, so

[2021-01-18 07:52] QBarbeAusy commented on #19323
Perfect, Thanks @YashasSamaga !
Good luck with it, I'm already satisfied that the 3070 is a bit better than a 2060! Time to be patient now.

[2021-01-18 07:52] #19323 closed

[2021-01-18 11:31] asmorkalov commented on #18920
@wwzh2015 Friendly reminder.

[2021-01-18 12:20] asmorkalov commented on #18785
@2er0 It looks like we can close the ticket as the issue has been resolved. Please add commends and re-open, if it's not true.

[2021-01-18 12:20] #18785 closed

[2021-01-18 12:21] #18655 closed

[2021-01-18 13:21] mshabunin commented on #19236
Please provide a minimal reproducing example application with input data. How different are the results? How do you measure it? Why is it a problem? In general one should not expect bit-exact results for different implementations and hardware.

[2021-01-18 15:10] ZurMaD commented on #19272
for django use
[code]

instead of those:
[code]

[2021-01-18 15:16] ZurMaD commented on #19225
I think it's same issue in #19218

[2021-01-18 16:17] mikr opened #19346 "Python binding for subclasses of TextDetectionModel crashes the program"
Running the following lines with a proper model and frame crashes:

[code]

Changing the export type of `TextDetectionModel` from
https://github.com/opencv/opencv/blob/49127b6a261ddb12a97c0d3febe0280fc0b59d7d/modules/dnn/include/opencv2/dnn/dnn.hpp#L1409
to
[code]

and recompiling and reinstalling the Python bindings fixes the crash for me
and `detector.detectTextRectangles(frame)` returns the cor

[2021-01-18 17:22] crackwitz commented on #19308
if desired, I could extend that code to center the displayed image in the window, and also implement WINDOW_KEEPRATIO for this backend.

[2021-01-18 17:22] JChatillon commented on #18580
I have the same issue using OpenCV 4.4, with Cuda 10.0.
First time I use those functions, so I don't know if this is also present in previous versions of OpenCV, but this seems to be a too big issue to be missed.

[2021-01-18 17:57] SunlifeV opened #19347 "Opencv loads models of dynamic input types"
- OpenCV => 4.5.1
- Operating System / Platform => Windows 64 Bit
- Compiler => MinGW 7.3

Can opencv load dynamic input models?

An error is reported when using opencv to load the onnx model of dynamic input type.

##### Detailed description

The following is the compressed package of the input type and model file.

![image](https://user-images.githubusercontent.com/40584518/104946382-eb546100-59

[2021-01-18 18:19] akshitagupta15june opened #19348 "Haarcascade classifier for mouth and nose detection not working"

[2021-01-18 18:43] #19348 closed

[2021-01-18 18:50] alalek commented on #19347
@SunlifeV Thank you for the report!

Confirmed.
`net.setInput(blob, "input0");` raises mentioned exception.

[2021-01-18 18:55] Ribitsch commented on #19236
Hi
I visualized it with the standard OpenCV tutorial, where the flow vectors are colored by amplitude and angle in an RGB Image.
When you compute the flow on cpu and additionally in Inge igpu (with opencl), you can optically see for many image pairs, that the results are different.

[2021-01-18 20:36] #19184 closed

[2021-01-19 07:17] Coilm opened #19349 ".__module__ return None instead of the package name"
##### System information (version)

- OpenCV => 4.5.1
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Pycharm 2020.2.3

##### Detailed description

When calling .\_\_module\_\_ with any functions from the cv2 package it returns None. It seems that opencv functions are considered as built-in function.

##### Steps to reproduce

[code]

##### Issue submission checklist

 - [X] I rep

[2021-01-19 12:00] #15465 closed

[2021-01-19 12:23] CodeCat00 opened #19350 "How do I compile a parallel version of the opencv library"
##### System information (version)

- OpenCV => 4.2
- Operating System / Platform => CentOS Linux release 7.6.1810
- Compiler => g++

##### Detailed description
I used the fusion function `seamlessClone` in my program to run 20 times slower on Linux than on windows, which I suspect is because the Linux version of the opencv library is not compiled into a parallel version. But I tried to add TBB co

[2021-01-19 12:59] LaurentBerger commented on #19350
@alalek may be this should be changed :
I checked the problem with documentation, FAQ, open **and close** issues,
answers.opencv.org, **forum.opencv.org**,  Stack Overflow, etc and have not found solution

[2021-01-19 19:34] LupusSanctus opened #19354 "tf_text_graph_ssd inappropriately removing preprocessing nodes in text graph"
##### System information (version)

- OpenCV => 4.5.1-dev
- Operating System / Platform => Ubuntu 18.04.5 64 Bit

##### Detailed description
OpenCV [`tf_text_graph_ssd.py`](https://github.com/opencv/opencv/blob/master/samples/dnn/tf_text_graph_ssd.py) generates incorrect text graph, inappropriately removing preprocessing nodes ([``del graph_def.node[i]``](https://github.com/opencv/opencv/blob/mast

[2021-01-19 19:38] alalek commented on #19328
Try to utilize GPU through OpenCL (using `UMat`) - check tests code for details.

[2021-01-19 19:41] #19255 closed

[2021-01-19 19:47] alalek commented on #6719
Modern OpenCV (3.4.3+) has these runtime flags to dump details:
- `OPENCV_LOG_LEVEL=DEBUG`
- `OPENCV_VIDEOIO_DEBUG=1` ( [more info](https://docs.opencv.org/3.4/de/db1/group__videoio__registry.html) )

[2021-01-19 19:47] #6719 closed

[2021-01-19 19:57] orgoro commented on #17034
resize the image or crop it, number of pixels is too high

[2021-01-19 20:13] sturkmen72 commented on #19350
are you test it in release mode?

[2021-01-19 23:49] kurikabocya commented on #13918
Sorry, not yet.
your mentioned "bazel run.."  ?

[2021-01-20 02:24] CodeCat00 commented on #19350
Yes, I use the default compilation mode of cmake, and the default compilation mode of cmake is release

[2021-01-20 05:30] dkurt commented on #13918
@kurikabocya, yes. It's used to convert TFLite to a frozen TensorFlow graph.

[2021-01-20 05:36] kurikabocya commented on #13918
Excuse me, I have already have a frozen Tensorflow graph.
I want TFLite.
Can the bazel run.. convert a frozen Tensorflow graph to TFLIte ?

[2021-01-20 06:02] dkurt commented on #13918
@kurikabocya, this is not OpenCV issue. OpenCV works with frozen graphs only.

[2021-01-20 07:13] ChangzhenZhang commented on #18267
@vpisarev, @alalek, @savuor,   Our group intends to implement a plane detection function in point cloud space.
We plan to implement it using down-sample and the RANSAC algorithm. The general idea of this function is shown in the figure.
![General Idea](https://user-images.githubusercontent.com/57706350/104986302-bb857780-5a4d-11eb-9d2e-1f832fde4506.png)

Our current progress is as follows.

- Impl

[2021-01-20 07:24] richierh opened #19356 "can't open camera by index"
I use zbarcam which has dependencies on opencv
why I got this error ?

[code]

[2021-01-20 10:21] LupusSanctus commented on #19252
@MZaf, thank you for the detailed description. I've slightly modified your reproducer to be able to run it:
[code]

For the experiments self-built OpenCV 4.5.1-dev was used. I could not reproduce your results (the images you've attached).  ``cv2.dnn.readNetFromDarknet(modelConfiguration, modelWeights)`` produces correct results, so after NMS was applied we get the appropriate bounding boxes with c

[2021-01-20 11:56] mbelgrat commented on #14972
@cemanughian Did you find the solution?

[2021-01-20 12:35] SarthakJShetty commented on #8079
Apologies for bringing this up again, but I ran into the same issue while running ```make``` on my work PC. I solved it by updating the [Eigen](https://gitlab.com/libeigen/eigen) library. Previously had 3.2.92. Clone the Eigen library, ```cd``` into it and create a ```build```  folder. ```cmake ../eigen``` followed by ```sudo make install```.
Thanks to the folks here for the pointers.

[2021-01-20 13:38] h6197627 opened #19358 "Intel OneApi TBB does not have tbb_stddef.h anymore"
##### System information (version)
- OpenCV => 4.5.1
- Operating System / Platform => Linux
- Compiler => gcc

##### Detailed description

Intel OneAPI TBB (2021.1.1.119) does not provide tbb_stddef.h anymore that is included in modules/core/src/parallel.cpp (and CMake cmake/OpenCVDetectTBB.cmake, but this is configurable). Compilation process fails if OpenCV configured **WITH_TBB=ON**
[code]

Rep

[2021-01-20 14:56] AjitPant opened #19359 "ONNX: layerId != layer_id.end() in function 'handleNode'"
##### System information (version)

- OpenCV => 4.5.1
- Operating System / Platform => Ubuntu 20.04
- Compiler => Python 3.8 and C++
- PyTorch => 1.6 and 1.7

##### Detailed description

I am trying to convert a PyTorch model  to ONNX for usage with OpenCV. The ONNX file is working with onnxruntime but not with OpenCV. Tested on both C++ and Python version of OpenCV. The error is

[code]

The erro

[2021-01-20 15:37] cansik commented on #13918
Thank you @dkurt for guiding us, I am just documenting my findings:

For me the command to convert to model looks like this (bazel 3.7.2) (https://github.com/tensorflow/tensorflow/issues/23613):

[code]

Be aware that `--input_file` may require an absolute path to work!
But as other already found out, it won't just work with the mediapipe models:

[code]

[2021-01-20 17:33] csldali commented on #11220
@keivanmoazami , can you tell me what libs & headers into cuda path and where is  cuda path, is it only copy libs & headers? thanks!

[2021-01-20 17:37] sl-sergei commented on #18390
@heiheiya Can you please provide inference code for your original model (Keras) or ONNX? I started investigating this issue and made a fix for loading of the network, but inference results re different from ONNX Runtime results.

[2021-01-20 17:40] sl-sergei commented on #18390
The problem with this model (lstm.pb) is that the graph fragmented into multiple atomic operations instead of single LSTM layer:
![image](https://user-images.githubusercontent.com/62052793/105213405-b7497f00-5b5f-11eb-8340-cf8bd5683458.png)

[2021-01-20 21:57] keivanmoazami commented on #11220
copy nvcuvid.lib and nvencodeapi.lib from Video Codec SDK to lib folder of installed cuda path (default: C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.0\lib\x64). also copy header files from video codec sdk (cuviddec.h, nvcuvid.h, nvEncodeAPI.h) into cuda headers path (default: C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.0\include).

because cmake file search for libs only in c

[2021-01-20 22:53] baskpann opened #19361 "Could not load the QT platform "xcb" even though it was found."
##### System information (version)

- OpenCV => 4.5.1.48
- Operating System / Platform => Ubuntu 20.10
- Compiler => Visual Studio 2020

##### Detailed description

I'm trying to run a face recognition algorithm in python3.8.5(in anaconda4.9 under a env base).
Once `cv2.imshow()` is encountered, I'm getting the following error.

[code]
Also I tried executing the code with `QT_DEBUG_PLUGINS=1 pytho

[2021-01-20 23:52] wureka opened #19362 "how to link openvino libraries when running Java with opencv?"
- OpenCV => 4.5.1
- OpenVINO => 2021.2
- OS => Windows 10 Pro

First, I built opencv and tested with my java program:

`java -Djava.library.path="D:\OpenSource\opencv-4.5.1-cuda\java;D:\OpenSource\opencv-4.5.1-cuda\x64\vc16\bin" -jar myjar.jar`

It works. So it means my `java.library.path` is configed correct and my java program could found `opencv_java451.dll` and other relevant opencv dll files.

[2021-01-21 00:38] alalek commented on #19361
Ensure what you don't have mess with Qt binaries from different locations in the process: https://github.com/opencv/opencv/issues/17827#issuecomment-659751432

---

This message usually means wrong/missing configuration (usually missing `DISPLAY` due to terminal connection).

- Check other simple GUI applications (without OpenCV).
- Check other Qt based GUI applications (without OpenCV).

[2021-01-21 01:01] slitcch commented on #10947
I have this issue too

[2021-01-21 07:37] #6295 closed

[2021-01-21 07:37] baskpann commented on #19361
Could you please brief about what should I do now?

[2021-01-21 07:46] alalek commented on #19362
[Can't reproduce](http://pullrequest.opencv.org/buildbot/builders/master_openvino-win64/builds/583) (`test_java` step works).

---

We don't help with remote investigation of problems which we are not able to reproduce on our side (because it is very time consuming and usually configuration problem without any following fix into OpenCV), but we can take a look on **the clear reason of the problem*

[2021-01-21 08:03] alalek commented on #19361
These packages are unofficial.
There are several compatibility issues, so you should check such issues here first: https://github.com/skvark/opencv-python/issues

---

If you want report issue about OpenCV source code, then you need to build OpenCV from sources and confirm the problem.

---

Usage questions should go to Users OpenCV Q/A forum: https://forum.opencv.org/
This tracker is for issues a

[2021-01-21 08:30] alalek opened #19363 "QRCodeDetector::decodeMulti() invalid usage of `.fixedType()`"
`.fixedType()` should be used with external arguments only.

[Code](https://github.com/opencv/opencv/blame/7a790d0d353bcbe48f1d62fb917c787ab4185846/modules/objdetect/src/qrcode.cpp#L3596-L3605):
[code]

relates #15338

[2021-01-21 09:07] farecomhalima commented on #13720
Hello @advanpix , I can't understand the solution "After #13743 the error has been fixed." , did you fix the file "tf_text_graph_faster_rcnn " Thanks

[2021-01-21 10:19] #19361 closed

[2021-01-21 14:36] JJonahJson opened #19366 "ONNX model converted from a TensorFlow model (with saved_model format) isn't read by readNetFromONNX"
##### System information (version)

- OpenCV => 4.5.1.48
- Operating System / Platform => Google Colab

##### Detailed description

I've got the following error:
 OpenCV(4.5.1) /tmp/pip-req-build-1syr35c1/opencv/modules/dnn/src/onnx/onnx_graph_simplifier.cpp:592: error: (-210:Unsupported format or combination of formats) Unsupported data type: BOOL in function 'getMatFromTensor'

because in onnx_g

[2021-01-21 17:15] #16432 closed

[2021-01-21 18:42] OlivierLDff opened #19367 "videoio : DSHOW CAP_PROP_FOURCC/CAP_PROP_CONVERT_RGB set order doesn't work the same."
##### System information (version)

- OpenCV => 4.x
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description

I'm using Boson camera from FLIR. I'm interested in Y16 format video. I'm using DSHOW backend on windows.
I noticed that setting `CAP_PROP_CONVERT_RGB` then something like `CAP_PROP_FOURCC` will revert `CAP_PROP_CONVERT_RGB` to the defaul

[2021-01-21 22:26] alalek commented on #19367
Please check results of these calls.

If both are true, then feel free to open a Pull Request

[2021-01-21 22:33] potemkin413 commented on #19160
hello, i have the same problem, but i have another code
there i have testing opencv cuda

import cv2
from cv2 import cuda

img = cv2.imread("image.jpg", cv2.IMREAD_GRAYSCALE)
src = cv2.cuda_GpuMat()
src.upload(img)

clahe = cv2.cuda.createCLAHE(clipLimit=5.0, tileGridSize=(8, 8))
dst = clahe.apply(src, cv2.cuda_Stream.Null())
result = dst.download()
cv2.imshow("result", result)
cv2.waitKey(0)

[2021-01-21 22:47] wureka commented on #19362
Eventually, I solved this issue.
The problem is that I use cygwin in Windows 10 Pro. And this is the key.
In cygwin console, for the system environmant variable `PATH`, it is in the format of U*ix, and if I need to access some folder, I should use this format `/cygdrive/d/OpenSource/opencv-4.5.1-cuda/x64/vc16/bin`. But in Java's defined VM varialbe, which should be used in Windows format like 'D:/

[2021-01-21 22:47] #19362 closed

[2021-01-21 23:44] komakai commented on #19254
I have created a bug report for the Swift import error: https://bugs.swift.org/browse/SR-14079

[2021-01-21 23:52] zacholade opened #19368 "VideoCapture nullptr exception due to read access violation."
##### System information (version)
- OpenCV => 4.5.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description
Hello! :) This only appears to happen when using a camera index of 2 and when in combination with CAP_DSHOW.
It won't crash otherwise.

May be worth noting that afaik I only have two capture devices on my computer, which can be accessed u

[2021-01-22 00:02] alalek commented on #19160
@potemkin413 you have another problem (check the message).

Original issue is "resolved" (incorrect usage). Closing

[2021-01-22 00:02] #19160 closed

[2021-01-22 07:12] rakeshfiroda opened #19369 "Kernel Restarting (Jupyter Notebook)"
##### System information (version)

- OpenCV => 4.5.1
- Operating System / Platform => Ubuntu (version: 20.04)
- Compiler => Jupyter Notebook

##### Detailed description
I'm trying to train a face recognization model using `face_LBPHFaceRecognizer()` but everytime I try to train my model using `face_recognizer.train(faces,labels)` my kernel gets automatically restarted **(The kernel appears to hav

[2021-01-22 08:39] OlivierLDff commented on #19367
Yes they both are true. `videoInput::setConvertRGB` check that `videoInput::isDeviceSetup` is true.
`videoInput::isDeviceSetup` is true as soon as `cap.open` is called.

Pull request:
https://github.com/opencv/opencv/pull/19370

The PR fixed it the case to set FOURCC & CONVERT_RGB in any order. I believe that there are still bugs.
Every time `stopDevice` is called, `setConvertRgb` should be called

[2021-01-22 09:05] Feyily opened #19371 "SeamlessClone cannot run in parallel on Ubuntu 18.04"
##### System information (version)

- OpenCV => 4.2.0
- Operating System / Platform => ubuntu 18.04
- Compiler => cc

##### Detailed description

I have a project that needs to call `SeamlessClone` for seamless image fusion. I enabled parallel library support when I compiled the OpenCV library, but this function still takes a lot of time to execute. I looked at the computer resource usage via `hto

[2021-01-22 09:13] vpisarev commented on #19308
have no objections to accept the patch

[2021-01-22 09:45] LupusSanctus commented on #19218
The below error:
`(-213:The function/feature is not implemented) Transpose the weights (except for convolutional) is not implemented in function 'ReadDarknetFromWeightsStream'
`
occures because of provided ``fish.weights`` format:
[code]
it returns zip-archive. [Darknet *.weights](https://pjreddie.com/darknet/yolo/) are binary files. Thus, OpenCV expects darknet format of weights. Reading weights

[2021-01-22 10:42] EMichaelC commented on #18088
I have the same problem when using readnetfromonnx(yolov4-csp.onnx).

Can't create layer Softplus.

How would i register the layer in my case?

Thanks for the help.

[2021-01-22 12:55] asmorkalov commented on #19308
The gutter exists even in opencv_attic repository and looks like some hack for old Windows versions support. The core team discussed the issue and decided that we do not need it any more. Feel free to propose patch that removes extra border.

[2021-01-22 14:14] hsm1997 opened #19374 "cudaGpuMat.convertTo() get rtype error in python"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

I compiled opencv 4.4.0 with python interface and:

[code]

here the _rtype=0_ is exactly int, don't know how to solve the problem
have tried rtype=1/2/3/4..., didn't work

anyone have some idea about this? trying to make pytorc

[2021-01-22 14:29] SunAriesCN commented on #13918
Hi all, there is a work, called [bazel-crosstools-compiler](https://github.com/Duan-JM/bazel-crosstools-compiler), here we done recently on raspberry pi for reference. The other choice on desktop is my [image-classifier](https://github.com/SunAriesCN/image-classifier).

[2021-01-22 14:51] hsm1997 commented on #19374
just to mark, u have to write:
`dst = src.convertTo(dst = g, rtype=0(or other int options), alpha = 1.0, beta = 0.0, stream = cv2.cuda_Stream())  `
to get the right result.

[2021-01-22 14:51] hsm1997 commented on #19374
just to mark, u have to write:
`dst = src.convertTo(dst = g, rtype=0(or other int options), alpha = 1.0, beta = 0.0, stream = cv2.cuda_Stream())  `
to get the right result.

[2021-01-22 14:51] #19374 closed

[2021-01-22 16:08] fdutoit opened #19375 "ver"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues,
       forum.opencv.org, Stack Overflow, etc and have

[2021-01-22 16:45] LupusSanctus commented on #18778
Text graph for the SSD Mobilenet V2 model obtained with:
[code]
causes this error. I've regenerated the text graph using [``tf_text_graph_ssd.py``](https://github.com/opencv/opencv/blob/master/samples/dnn/tf_text_graph_ssd.py) OpenCV tool:
[code]
then the pipeline from the attached [``colab notebook``](https://colab.research.google.com/drive/1ciNEO_WbG6W72U1GOa6-jCOeAxBoz5VC?usp=sharing) passed ([

[2021-01-22 16:47] cianhwang commented on #14468
Try cv2.createTonemap(2.2) instead, reference: https://docs.opencv.org/3.4/d3/db7/tutorial_hdr_imaging.html

[2021-01-22 17:22] melhashash commented on #10325
@cdcseacave  I know it has been a while, but I am facing a similar slow performance issue. Any solution to this issue?

[2021-01-22 19:14] #19375 closed

[2021-01-22 19:39] alalek commented on #18479
Please take a look on this patch: #19373

[2021-01-22 20:18] kolibril13 opened #19377 "Idea: converting GREY images to GREYALPHA images"
Hello everyone,
currently, I am working with grey-scale images, and I thought it would be a nice idea to have an opportunity to convert Grayscale images into Grayscale+Alpha images.
I had a look here: [OpenCV: Color Space Conversions](https://docs.opencv.org/3.4/d8/d01/group__imgproc__color__conversions.html)
but I could only find GRAY2RGB , GRAY2BGRA and RGB2RGBA. So I think a conversion GRAY2GRA

[2021-01-22 20:39] alalek commented on #19377
There is no alpha channel from camera streams.
So computer vision algorithms don't work with that.

For images processing consider using other Media SDKs. OpenCV is about the "computer vision" first.

[2021-01-22 21:31] crackwitz commented on #19308
I'll get it done tonight. would you prefer pull request against master or other branch?

[2021-01-22 21:34] alalek commented on #19308
Please target PR to 3.4 branch

[2021-01-22 22:22] #19134 closed

[2021-01-23 01:40] MK-3PP opened #19379 "Wrong destination size deduction in cv::gapi::resize."
##### System information (version)

- OpenCV => 4.5.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description

When using `cv::gapi::resize` with empty size parameter, the destination size is sometimes miscalculated, resulting in unexpected reallocations during `cv::GCalculation::apply`.

Usually it happens, if a scale factor times an image dime

[2021-01-23 02:07] xingyun86 opened #19381 "Where is LIBAVCODEC_VERSION_MICRO in codes"
Where is LIBAVCODEC_VERSION_MICRO in codes?
How I can set it please?
My project is cmake project.

[2021-01-23 02:11] alalek commented on #19381
Try to use search first: https://github.com/FFmpeg/FFmpeg/search?q=LIBAVCODEC_VERSION_MICRO

Closing.

[2021-01-23 02:11] #19381 closed

[2021-01-23 02:37] xingyun86 commented on #19381
But I only compile opencv . Where I set the macro value?

[2021-01-23 04:22] furas commented on #19356
What system do you use?
It seems you use some Linux but what distribution and version.

Error shows `open VIDEOIO(V4L2:/dev/video0): can't open camera by index`.
Do you have `/dev/video0` in your system?
[code]

Did you test your camera directly with `opencv`?

[code]

If you have `/dev/video0` and this code doesn't work then you can try with `sudo` because you may not have privileges.
[code]

If

[2021-01-23 13:40] tildekarthik commented on #15731
I also request if this can be added for the VideoCapture function

I have used str(PathLib_Object) and passed it as a workaround

[2021-01-23 15:14] crackwitz commented on #19308
I am considering looking into making WINDOW_KEEPRATIO work for win32 and accompanying OpenGL mode. that will likely involve changes in several functions. I'll work on that and make a separate pull request for that.

I have told cmake to BUILD_TESTS but the generated VS solution's `opencv_tests` project looks empty and the `RUN_TESTS` target doesn't do anything either. just says `1>No tests were fo

[2021-01-23 22:01] chrisg123 commented on #9953
This was helpful. but i had to pass the following instead:
[code]
 While cross compiling for:
[code]

I tried getting it to work with openblas but could not get it working.

[code]

[2021-01-23 22:10] pwnorbitals commented on #6434
@iandecks45 Can you still reproduce this issue ?

[2021-01-24 00:11] baqwas commented on #9953
Again another FWIW from my own multiple installations. No issues in building OpenCV 4.5.1 with refresh (on all legacy RPi hardware with corresponding OS) and, of course, aarch64 64-bit attempts were confined to the two Ubuntu server & desktop flavors while awaiting RPi OS 64-bit. Thx again for all the suggestions.

Kind regards.

[2021-01-24 04:01] HalfWhitt commented on #15731
One more reason in favor is that if you're working with Path objects, it's not always simply a matter of converting with `str(path)`, because it might be a path that's relative to somewhere other than the current working directory. In this case you have to supply `str(path.resolve())`, when ideally one could simply use `path` alone.

[2021-01-24 08:34] jingyuan129931 opened #19386 "OpenCV 4.5.1 cannot properly initialize VTK 9.0.1 during build with opencv_world"
Sir，
I compiled opencv4.5.1 with a line surface error

[code]
But I've compiled vtk9.0.1.

[2021-01-24 11:10] milad-ahmadi opened #19387 "cv::VideoCapture set(CAP_PROP_POS_FRAMES, target) does not work in android cpp"
I am trying to use OpenCV VideoCapture in android to read some frames for training. After training, I would like to return to the beginning of the video and do processing. The problem is that OpenCV VideoCapture set cannot return to the beginning of the video. Also, the VideoCapture  get command always returns a value of 0.

- OpenCV => 4.1.1
- Operating System / Platform => Android
- Compiler =>

[2021-01-24 15:08] #19387 closed

[2021-01-24 21:16] tomoaki0705 opened #19389 "cudalegacy: test CUDA_Calib3D/SolvePnPRansac is peaky"
##### System information (version)

- OpenCV => recent 3.4 ( 235e648bf5aa613b36f98bd84b7ee10a52aab40b ) /master/next
- Operating System / Platform => Jetson Xavier (Ubuntu 18.04)
- Compiler => GCC 7.5.0

##### Detailed description

[code]

This test sometimes pass, sometimes fail.

[code]

Looking in the [test](https://github.com/opencv/opencv/blob/bbad38b2c51c78e71d3364814e58b1e6e887705a/modules/

[2021-01-25 06:48] ljburtz commented on #18778
@LupusSanctus I'm having the same error. Thanks to the .pbtxt file that you provided in your comment, that error disappears. Thank you.
However the detected objects all have a score of 0, and therefore no bounding boxes are displayed on the baseball image.
I attach the [Colab](https://colab.research.google.com/drive/1OSng0TGjW8si3pOFWUVLhZa7EJ6ky6hO?usp=sharing) where I just download and unzip you

[2021-01-25 08:11] mikr opened #19391 "moveWindow does not support negative x or y coordinates on macOS/Cocoa"
On macOS the top-left corner of the main display is (0, 0).
When additional displays are arranged in the System Preferences to be
either to the left or above the main display the window positions on
these displays are addressed in negative x and negative y coordinates.

At the moment negative coordinates are clamped at (0, 0) when
moveWindow is called:
https://github.com/opencv/opencv/blob/13a1105

[2021-01-25 08:31] milad-ahmadi commented on #19387
There is no solution to this problem in issues #15547 and #11952. Also, my question is different from question #11952.

[2021-01-25 09:55] cpraschl opened #19393 "Darknet Import TanH Activation Function"
##### System information (version)

- OpenCV => 4.5.1.48
- Operating System / Platform => Windows 64 bit / Python

##### Detailed description

I wanted to try a U-NET model implemented in Darknet from [here](https://github.com/nithi89/unet_darknet). With this I realized that [TanH activation function](https://docs.opencv.org/master/df/d66/classcv_1_1dnn_1_1TanHLayer.html) does not work when import

[2021-01-25 11:34] asmorkalov commented on #18920
@wwzh2015 Friendly reminder.

[2021-01-25 11:42] sergregory commented on #17484
may be similar to https://github.com/opencv/opencv/issues/17364

[2021-01-25 11:44] #19252 closed

[2021-01-25 11:46] #19218 closed

[2021-01-25 12:05] wwzh2015 commented on #18920
That is wrong, but I have a solution. thanks!

[2021-01-25 12:06] wwzh2015 commented on #18920
https://github.com/opencv/opencv/issues/18920#issuecomment-740062005

That is wrong, but I have a soultion.

[2021-01-25 12:59] TheFlashBandicoot commented on #4539
Using Python 3 and opencv 4.5.1, I encountered this same issue where the indices from convexHull() were 'not monotonic'.
I found that for some reason the indices were returned from this function out of order.

To resolve the issue, I simply sorted the numpy array in descending order before passing the indices to convexityDefects().

`hull = cv2.convexHull(contours, returnPoints=False)
hull[::-1].s

[2021-01-25 13:59] luvwinnie commented on #18049
@sayakpaul Hi I'm facing this problem, do you know how to solve this?

[code]

[2021-01-25 14:08] tomoaki0705 commented on #19389
This "automatic link and close" of issue and PR works for master branch, but not for 3.4 branch.
I guess this is an bug from Github.  Also, I with I could lik an issue and PR by myself.

Anyway, it's done

[2021-01-25 14:08] #19389 closed

[2021-01-25 14:47] tomoaki0705 commented on #19030
Can we close this issue ?
If you have any issue @mertturanli , please answer my question.

[2021-01-25 14:51] asmorkalov commented on #19030
I think, yes. Closed.

[2021-01-25 14:51] #19030 closed

[2021-01-25 14:52] asmorkalov commented on #19386
Could you provide mode details about OS, compiler, environemnt, cmake options, etc.

[2021-01-25 15:35] Michael-Liao commented on #17933
This also affects me.
**System Information**
* OpenCV => 4.4.0
* Operating System => Ubuntu 20.04
* Compiler => `gcc 9.3.0` along with `python3.7.7`, `numpy 1.19.5`

[2021-01-25 16:45] asmorkalov commented on #19371
@Feyily Thanks for the report. Could you add `cv::getBuildInformation()` (https://docs.opencv.org/master/db/de0/group__core__utils.html#ga0ae377100bc03ce22322926bba7fdbb5) to your code and publish it's output here. Also it'll be great to check `getNumThreads()` (https://docs.opencv.org/master/db/de0/group__core__utils.html#ga2db334ec41d98da3129ef4a2342fc4d4) output to understand if threading is en

[2021-01-25 17:26] zoombinis commented on #4362
lazy solution: load your *.mp4 file with VLC media player. Then chose "Covert/Save" from Media menu and at the bottom of that dialog choose "Convert" from drop down. In the Convert dialog export it to MPEG4 format selected from the "Profile" drop down.

Works with zero code and VLC is the video playback king so who doesn't already have it installed? ;)

[2021-01-25 17:30] asmorkalov commented on #19350
`seamlessClone` is pure serial function and does not contain parallel calls in implementation, besides may be some generic primitives. So the issue is not related to TBB, OpenMP or other threading framework. Please attach `cv::getBuildInformation()` call output for your code to check CMake options.

[2021-01-25 17:31] asmorkalov commented on #19371
I checked the code and `seamlessClone` is pure serial function and does not contain parallel calls in implementation, besides may be some generic primitives. So the issue is not related to TBB, OpenMP or other threading framework. Could you provide more details on images resolution and other algorithm parameters? Read-to-use performance test is very appreciated too.

[2021-01-25 18:16] LupusSanctus commented on #18778
@ljburtz, the problem is `def detect_objects(net, im):` function. Change it in the following way:
[code]

Then we will get the expected result:
![baseball_res1](https://user-images.githubusercontent.com/7347318/105747738-38cf5180-5f52-11eb-9f61-9a8e98b6a975.png)

[2021-01-26 01:22] zachary-zheng commented on #7830
@chacha21 @alalek Hello, I have encountered the same phenomenon that GPU gave more circles result, and it seems the parameter ''minDist Minimum distance'' is valid. The centers of the detected circles are obvious larger than minDist.
why?

[2021-01-26 02:44] naah69 opened #19397 "opencv.js memory access out of bounds"
##### System information (version)

- OpenCV.js-webassembly == 4.5.1
- Operating System / Platform => Windows 64 Bit or MacOS 10.14.6
- Chrome => 87.0.4280.141

##### Detailed description

i use grabcut in js by opencv.js-webassembly == 4.5.1,when the canvas and mask bounds is big,it errors.

i use the bellow code and the canvas and mask bounds is 1000x3500（part of pic ）,it error

[beer3.jpg.zip](

[2021-01-26 02:46] ljburtz commented on #18778
Thanks @LupusSanctus updating the arguments of blobFromImage() as you show works perfectly.
I wonder where is the best place to warn about this opencv version gotcha. How about in  the [list of tested TF detection models ](https://github.com/opencv/opencv/wiki/TensorFlow-Object-Detection-API#use-existing-config-file-for-your-model) that you mention?

[2021-01-26 04:53] Byronnar commented on #19366
Hi, Have you solved this problem?

My error are below:
[code]

[2021-01-26 05:12] alalek commented on #19397
Complete minimal reproducer is required (current code snippet contains non-defined variables).

---

Does it work with smaller image?

---

This is unofficial package.
Please provide build flags of used binaries. Dump `cv.getBuildInformation()`.

---

Please provide reproducer without external dependencies, so we are able to reproduce that on our side.
For example, use interactive [OpenCV.js tutor

[2021-01-26 06:09] naah69 commented on #19397
i build the package .the core javascript is download by https://docs.opencv.org/4.5.1/opencv.js.
![image](https://user-images.githubusercontent.com/25682169/105806862-b8efc880-5fdf-11eb-8de1-953982477621.png)

[2021-01-26 06:12] naah69 commented on #19397
$this.initMask
[code]

[2021-01-26 06:58] #19359 closed

[2021-01-26 06:59] #18479 closed

[2021-01-26 07:03] xingyun86 commented on #19381
My problem had solved. I rebuild ffmpeg plugin with opencv. It works well now.Thanks for project.

[2021-01-26 07:07] alalek commented on #11019
It make sense for new API. Unfortunately it is too late to change that.

Changing `waitKey()` itself is API breaking change without a known path of smooth migration for OpenCV Users.

---

What is about new API for that? `spinOnce()`, `handleEvents()`, etc

[2021-01-26 07:11] #19308 closed

[2021-01-26 07:15] naah69 commented on #19397
[code]

[2021-01-26 09:50] JJonahJson commented on #19366
No, in the meantime I'm trying to train a TF1 model since it's well supported by OpenCV  unlike TF2. Sadly I cannot obtain the same result both speaking of mAP and inference speed.

[2021-01-26 10:42] LupusSanctus commented on #17484
@roccopietrini, if you have `frozen_inference_graph.pb` file for fine-tuned  `ssd_mobilenet_v3_small_coco_2020_01_14`  and/or obtained text graphs, please, attach them to the issue.
I there is no possibility to attach these files, could you, please, provide some more details about `ssd_mobilenet_v3_small_coco_2020_01_14` fine-tuning? Which steps exactly were passed to obtain 'frozen_inference_grap

[2021-01-26 10:58] asmorkalov opened #19399 "Test Test_ONNX_layers.Convolution_variable_weight_bias/0 fails on ARM64 with TEngine"
##### System information (version)
- OpenCV => 4.5.2-dev (git e85b41f9be29e9529fbb1bd9e218756274aa0ed1 )
- Operating System / Platform => Ubuntu 20.04, arm64-v8a
- Compiler => GCC 9.3

Hardware:
[code]

TEngine related details:
[code]

##### Detailed description

[code]

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentatio

[2021-01-26 10:58] asmorkalov commented on #19399
cc @liqi-c , @vpisarev

[2021-01-26 11:00] asmorkalov commented on #17951
@Yikun OpenCV team starts testing aarch64 builds on Huawei ARM server with Ubuntu: https://build.opencv.org.cn/job/precommit/job/ubuntu-20.04-arm64/. I think we can close the ticket.

[2021-01-26 11:04] roccopietrini commented on #17484
Hi, it's been long time and I don't have that frozen_inference_graph.pb anymore, but the pipeline.config used for that training is the one attached above. The problem was that with the same dataset, only changing some minor training parameters (like adding data augmentations) the script produced an invalid text-graph representation. I used TF 1.5 like you said with TFOD API. I'll try next days aga

[2021-01-26 11:09] #17951 closed

[2021-01-26 11:20] Yikun commented on #17951
@asmorkalov Cool, great to heard that, and now we have 3 type checks:
1. Perodic arm64 dayly check [0]
2. the cross-compiled check [1]
3. PR triggerd native arm64 check [2]

[0] https://pullrequest.opencv.org/buildbot/builders/master-contrib_ARMv8-lin
[1] https://github.com/opencv/opencv/pull/17989
[2] https://build.opencv.org.cn/job/precommit/job/ubuntu-20.04-arm64/

[2021-01-26 11:51] Feyily commented on #19371
@asmorkalov The resolution of the test image I used is 1440 x 1080. Other algorithm parameters do not affect the running efficiency of seamlessClone. It is worth noting that if you only call the seamlessClone, program without doing any other processing in the algorithm, it will execute for about 20 seconds. However, this is only a performance on Ubuntu 18.04, and seamlessClone is doing very well o

[2021-01-26 12:18] Feyily commented on #19371
#### OpenCV Build Informations on Windows
[code]
In addition, by calling `getNumThreads`, the number of running threads on the Windows platform is 9, while the number of running threads on Ubuntu is 8

[2021-01-26 13:07] LupusSanctus commented on #17484
@roccopietrini, thank you a lot!

[2021-01-26 13:32] radisc opened #19400 "Compiling Opencv 4.5.1 on Jetson Xavier NX with VFPV3 enabled"
##### System information (version)
- OpenCV => 4.5.1
- Operating System / Platform => Ubuntu 18.04 Jetson Xavier NX Jetpack 4.4.1 L4T 32.4.4
- Compiler => Opencv Source Install

##### Detailed description

I'm trying to compile opencv from source for Jetson NX, i'm using this cmake configuration:
`cmake 	-D WITH_CUDA=ON \
	-D ENABLE_PRECOMPILED_HEADERS=OFF \
	-D CUDA_ARCH_BIN="7.2" \
	-D CUDA_ARCH

[2021-01-26 13:37] JosonChan1998 opened #19401 "Using gpu opencv dnn on GTX1080,speed slower than cpu"
##### System information (version)

- OpenCV =>  4.5.1
- Operating System / Platform => Linux Ubuntu18.04
- Compiler => g++ 7.4.0
- CUDA => 10.0
- cudnn => 7.6.3
- GPU=> GTX1080

##### Detailed description

I use opencv dnn(gpu) to load onnx face detection model (centerface) for inference, The time used for single reasoning  on GTX1080  is 100ms ,  cpu time About 40 ms， （image size 480*640）

My cm

[2021-01-26 14:52] asmorkalov commented on #16262
@bouwerp Do you have any progress here?

[2021-01-26 14:54] asmorkalov commented on #17203
@liqi-c Is the issue still relevant?

[2021-01-26 14:56] #12399 closed

[2021-01-26 16:07] diablodale opened #19402 "OPENCV_PYTEST_FILTER fails to filter as expected; runs too many python tests"
OPENCV_PYTEST_FILTER fails to filter as expected due to a logic bug. It runs too many tests due to an errant wildcard.
For example, `OPENCV_PYTEST_FILTER=test_cudaa` runs 4 tests. I expect it to run 0 tests.

### System information (version)

- OpenCV => 4.5.1
- Operating System / Platform => Microsoft Windows [Version 10.0.19042.746]
- Compiler => VS2019 v16.8.4 Community

### Detailed descriptio

[2021-01-26 16:22] alalek commented on #19402
relates #10142

What is proposed solution?

[2021-01-26 16:43] crackwitz commented on #11019
I see the point in requiring a new API for this. I'd suggest `pollKey()` to carry the meaning in the name parallel to waitKey, i.e. same purpose/function but with different temporal behavior.

I think I can come up with a patch for `window_w32` but the other backends might need some digging. in the worst case they'd be equivalent to `waitKey(1)` until someone with platform-specific knowledge comes

[2021-01-26 17:30] diablodale commented on #19402
[code]

The results in what I consider expected behavior

* `OPENCV_PYTEST_FILTER=test_cudaa` no tests are run
* `OPENCV_PYTEST_FILTER=test_cudaa*` 4 tests are run
* undefined `OPENCV_PYTEST_FILTER` all tests are run

[2021-01-26 18:14] amirtu commented on #16763
Updated Delaunay & Voronoi diagrams:
![untitled1](https://user-images.githubusercontent.com/22388528/105886436-9d62dd00-6034-11eb-8f57-eeeba32e2181.gif)

[2021-01-26 19:18] alalek commented on #19397
I'm able to run provided code.
- web page consumes ~1GB memory
- it prints "run done" on console (after a ~minute)
- no exception is shown (Google Chrome: `Version 87.0.4280.66 (Official Build) (64-bit)`)
- memory is not released after run() exit (on "Task Manager" window)
- second and third run also pass

P.S. 1GB is all memory available to WASM code (build-time option). Perhaps code hits this li

[2021-01-26 22:02] za13 commented on #19151
can anyone help?

[2021-01-27 01:55] naah69 commented on #19397
how to view the memory that WASM consumes，i try to find memory leak

[2021-01-27 06:12] suitmyself opened #19405 "opencv 4.5.1 ndk android.mk error: cannot find -lade"
![图片](https://user-images.githubusercontent.com/5646651/105950496-71357380-60a9-11eb-9d7f-a8d953ae7245.png)

please move `ade` from `OPENCV_EXTRA_COMPONENTS` to `OPENCV_3RDPARTY_COMPONENTS`,
otherwise `ade` library can not be linked.

[2021-01-27 06:23] YashasSamaga commented on #19401
duplicate of https://github.com/opencv/opencv/issues/19251

[2021-01-27 06:37] alalek commented on #19405
[Confirmed](http://pullrequest.opencv.org/buildbot/builders/master_pack-android/builds/11392).
CMake output:

[code]

[2021-01-27 07:12] alalek commented on #19371
You may want to collect profiling trace: https://github.com/opencv/opencv/wiki/Profiling-OpenCV-Applications
(perhaps there are no `parallel_for()` blocks in this algorithm)

[2021-01-27 13:35] Bleach665 commented on #16879
@dkurt Same error as above.

`ssd_resnet50_v1_fpn_640x640_coco17_tpu-8` model trained using Tensorflow object detection API using
https://github.com/tensorflow/models/blob/master/research/object_detection/model_main_tf2.py

After exported to `Save model`:
 `.\exporter_main_v2.py --input_type image_tensor --pipeline_config_path .\models\my_ssd_resnet50_v1_fpn\pipeline.config --trained_checkpoint_di

[2021-01-27 14:54] michalszczepanski91 opened #19406 "Error in documentation for RGB->HSV convertion"
I think that there is missing **if** for "the [H parameter computation](https://docs.opencv.org/4.5.1/de/d25/imgproc_color_conversions.html#color_convert_rgb_hsv). If R = G = B the H should be 0.
Regards

[2021-01-27 19:30] crackwitz opened #19410 "pollKey, non-blocking variant of waitKey"
this is a feature proposal for the `highgui` module.

I'd like to introduce a variant of waitKey, let's call it `pollKey`, that performs the same tasks, i.e. processing the GUI message loop until empty or actionable event, but does _not_ wait for messages.

`pollKey` is the equivalent of what `waitKey(0)` might have been, if infinite wait had been defined as -1.

goal: get some speed out of OpenCV

[2021-01-27 19:44] alalek commented on #19410
Alternatives:
- `updateUI()` / `spinOnce()` (no key handling here)
- `getKey()` / `hasKey()`
- `peekKey()` (name from [win32](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-peekmessagea))
- re-interpret `delay=1` as "nowait" mode.
- hack with `float`: `waitKey(float delay)` with 1e-6 or similar (or with "nowait" threshold for `delay < 1`)

[2021-01-27 20:10] crackwitz commented on #19410
here's some code I hope will be received well. most code in there is common to both procedures. they only differ in how they fetch a message and when they give up.

I'm not in a position to discuss naming and nuances of purpose. my inclination is towards representing both similarity and contrast in the name towards `waitKey`, since that already exists and everyone expects it. one might think bigge

[2021-01-28 02:29] pauljurczak opened #19412 "Problem initializing Mat_"
This OpenCV 4.5.1-dev snippet compiles with clang 10.0.0 and 11.0.1 and runs as expected on Ubuntu 18.04.5:
[code]
but it fails to compile with gcc 9.3.0 and 10.1.0 (`CXX_STANDARD` 17 and 20) with this template instantiation error:
[code]

Note that this similar code doesn't exhibit that problem:
[code]

[2021-01-28 04:34] alalek commented on #19412
This works with GCC 10 (C++14):
[code]

[2021-01-28 05:27] pauljurczak commented on #19412
Indeed, it does. It solves my problem.

[2021-01-28 05:27] #19412 closed

[2021-01-28 06:14] pedro-patlan commented on #17962
Hi @bronstein87, did you have any luck? I'm facing the same issue and I was wondering if you find any solution.

Thanks.

[2021-01-28 07:53] asmorkalov commented on #19406
Thanks for the report. OpenCV is open source library, feel free to submit PR with the fix. Please use branch 3.4 as base and target for the PR. The changes will be promoted to master and next by OpenCV maintainers.

[2021-01-28 08:11] liqi-c commented on #17203
@tkircher  the problems is still there ? if yes ,can you attach some more details  ？ if not , may we can close it .

[2021-01-28 09:01] Abdurrasith opened #19414 "[Error]Building CXX object modules/sfm/src/libmv/libmv/multiview/CMakeFiles/multiview.dir/fundamental.cc.o"
I got this error when i command "sudo make install" on my build folder OpenCV 4.4:

**In file included from /usr/local/include/ceres/internal/parameter_dims.h:37,
                 from /usr/local/include/ceres/internal/autodiff.h:151,
                 from /usr/local/include/ceres/autodiff_cost_function.h:130,
                 from /usr/local/include/ceres/ceres.h:37,
                 from /home/b

[2021-01-28 13:30] SunlifeV opened #19416 "dnn error: (-201:Incorrect size of input array) Inconsistent shape for ConcatLayer in function 'getMemoryShapes'"
- OpenCV => 4.5.1
- Operating System / Platform => Windows 64 Bit
- Compiler => MinGW 7.3  & Python 3.6

##### Detailed description

In Python and C++ , using the readNet (path) function of opencv (4.5.1) to load the model, the following errors occurred respectively

[code]

[code]

This is the onnx model I use.
[demo.zip](https://github.com/opencv/opencv/files/5887379/demo.zip)

##### Steps to re

[2021-01-28 14:52] alalek commented on #19416
Problem is worse in "Debug" mode:
[code]

[2021-01-28 22:18] GerHobbelt opened #19418 "test_io fails on master -> very basic coding error in persistence.cpp found via debugging and code review: no error checking fopen(). WTF?"
##### System information (version)
- OpenCV => master branch, currently at commit SHA-1: 8c221981bf7e2c8eb87302d70000aa246641487c (but that's not really important as the bug is already there since 2018 😨 )
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description

`fopen()` cannot open, nor create, the test output file(s) in the indicated path, wh

[2021-01-29 01:23] gegegi commented on #18870
OpenCV => 4.5.1 (mater branch)
Operating System / Platform => macOS Big Sur (11.1) with M1 chip
Compiler => XCode 12.4

I don't know if it will help

At first I got the same error.
However, it was resolved after modifying the path of opencv.
Access to the Download folder in Big Sur requires permission, so try moving to another folder and test it.

[2021-01-29 05:21] alalek commented on #19418
relates #13011

Did you specify testdata path through `OPENCV_TEST_DATA_PATH`? It should point to `<opencv_extra>/testdata`.

[2021-01-29 05:28] #17781 closed

[2021-01-29 05:34] alalek commented on #13469
You should take a look in direction of `CAP_PROP_CONVERT_RGB=0` to disable automatic conversion into BGR24.

Note: almost all properties are optional, and their implementations are backend-specific.

[2021-01-29 05:34] #13469 closed

[2021-01-29 05:39] alalek commented on #19367
relates #14592

[2021-01-29 05:40] alalek commented on #11398
Property is added for DirectShow backend here: #14592

This property may work with DirectShow on some devices: #19370 (perhaps with proper FOURCC value)

[2021-01-29 05:40] #11398 closed

[2021-01-29 06:07] #17334 closed

[2021-01-29 06:37] castleguarders commented on #11220
Can you provide information about the configuration it works in? I have not had much success with being able to use h264_nvenc as the encoder. I forward ported the patch to 4.5.1, as well as used dapicards fork as is (4.2).

In both cases the encoder is found, but  the ncoder open call fails. I have no problems with the decoder. (Another behavior is that if the env for encoder  is not set, then th

[2021-01-29 06:45] #19358 closed

[2021-01-29 08:10] l-bat commented on #19416
The model contains a MaxPool with a 3D kernel for 4D input
![image](https://user-images.githubusercontent.com/22346860/106248739-74a03a80-6222-11eb-842f-031bfba1794f.png)

[2021-01-29 08:16] ardaboluk commented on #14868
@pablocano's solution worked for me while trying to compile OpenCV 4.4.1. Thanks :+1:

[2021-01-29 08:21] l-bat commented on #19416
@SunlifeV  Could you please provide model code in PyTorch?
It seems the model is incorrect.  An error occurs when importing the model to onnxruntime:
[code]

[2021-01-29 08:38] SunlifeV commented on #19416
OK, I upload the python file here.
[LPRNet.zip](https://github.com/opencv/opencv/files/5892666/LPRNet.zip)

[2021-01-29 08:41] SunlifeV commented on #19416
[LPRNet.zip](https://github.com/opencv/opencv/files/5892679/LPRNet.zip)

[2021-01-29 08:41] SunlifeV commented on #19416
[LPRNet.zip](https://github.com/opencv/opencv/files/5892682/LPRNet.zip)

[2021-01-29 09:17] dkurt commented on #16879
@jaswanthbjk, please read error message carefully. You need to specify `input_tensor` instead of `flatten_input`

[2021-01-29 09:45] pb9803 opened #19421 "quality loss with cv.imread() of .PNG"
Hi,

I tried myself on stereovision the last time and came across a little problem.

During my test runs I saved all the images of the experiments with **cv.imwrite()**. (image of the right, left camera as well as the rectified images of them)
Now I'm on the point that I finshed all of my test and want to check how the disparity maps differ.

So I wrote a little code that plot me a histogram of th

[2021-01-29 10:18] #19367 closed

[2021-01-29 10:26] kolibril13 commented on #19377
Okay, thanks for your feedback!

[2021-01-29 10:27] #19377 closed

[2021-01-29 11:06] drcandacemakedamoore commented on #18821
![image](https://user-images.githubusercontent.com/31033601/106267545-7d990800-6232-11eb-82a0-3cacc8367b9b.png)
I tried to use cv2 version 4.5.0 to imwrite, on Windows installed through the condaforge channel and I got back "SystemError: <built-in function imwrite> returned NULL without setting an error ".

[2021-01-29 11:23] alalek commented on #18821
@drcandacemakedamoore

"Filename" is the first parameter.

[2021-01-29 14:04] dkurt commented on #19151
@za13, I have no issues with OpenCV 4.5.0. Can you please try this version?
[code]

[code]

[2021-01-29 16:44] golden96371 commented on #19257
Thank you for examining the issue. It works for me with the old `model_main.py`.

But do I understand correctly that you could not load a model trained with TF 2 via OpenCV either, due to the issue with the missing nodes?

[2021-01-29 19:13] psenwar commented on #8762
Can anyone please tell why cant we simply use inbuilt findhomography() to find the homography matrix? I have used this function to calculate homography matrix and with that matrix i am getting ver much accurate 3d coordinates? Please clarify!!

[2021-01-30 09:28] xiedeacc opened #19426 "error: ‘TLSDataAccumulator’ does not name a type"
gcc 9.3 with c++11
opencv 4.5 with latest git commit
[ 82%] Building CXX object modules/python2/CMakeFiles/opencv_python2.dir/__/src2/cv2.cpp.o
cd /data/software/opencv/build/modules/python2 && /usr/bin/ccache /usr/bin/c++  -DCERES_FOUND -DCV_COLLECT_IMPL_DATA -DVK_NO_PROTOTYPES -D_USE_MATH_DEFINES -D__OPENCV_BUILD=1 -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -Dopencv_py

[2021-01-30 10:55] alalek commented on #19426
It is already under "namespace cv {" block.

---

You don't need to build with `cmake -DENABLE_IMPL_COLLECTION=ON -DENABLE_INSTRUMENTATION=ON ...`

Use profiling instead: https://github.com/opencv/opencv/wiki/Profiling-OpenCV-Applications
(enabled by default, with better tools support)

[2021-01-30 12:32] xiedeacc commented on #19426
thanks a lot

[2021-01-30 13:06] #19279 closed

[2021-01-31 00:58] fei4xu commented on #19386
I have a similar issue yesterday, and I switched back to VTK v8.x, and it worked.

The issue is at this line:
https://github.com/opencv/opencv_contrib/blob/master/modules/viz/CMakeLists.txt#L43
So this is more a `opencv_contrib` issue.

[2021-01-31 04:05] YijinLiu commented on #19129
The latest release 4.5.1 has the same problem:
bt from gdb shows following
<pre>
#0  0x00007f8258beaef7 in ?? () from /lib/x86_64-linux-gnu/libgcc_s.so.1
#1  0x00007f8258beb65d in _Unwind_Backtrace () from /lib/x86_64-linux-gnu/libgcc_s.so.1
#2  0x0000000001614ee3 in backtrace_simple (state=<optimized out>, skip=skip@entry=3,
    callback=callback@entry=0x1504a10 <backtrace_simple_cb>, error_callb

[2021-01-31 05:51] erikguo commented on #18975
@arnaud-nt2i
The confidence problem is solved. I can run my prediction very well.

[2021-01-31 06:25] Opmdsq commented on #15567
console print : E/OpenCV/StaticHelper: OpenCV error: Cannot load info library for OpenCV
but it can work

[2021-01-31 13:55] ledjorge commented on #5256
@Cylix Did you find an efficient way to do what you intended?
I am in the same situation and was looking for an alternative to efficiently draw filled intersecting polygons.

Unfortunately, other functions like _cv::fillPoly(..)_ have exactly the same behaviour as _cv::drawContours(..)_, which is quite frustrating.

Desired vs Obtained:
<img width="958" alt="Screenshot 2021-01-31 at 14 54 50" src=

[2021-01-31 19:46] #19402 closed

[2021-01-31 19:47] #19354 closed

[2021-01-31 19:47] #19426 closed

[2021-02-01 00:33] saskatchewancatch commented on #19421
PNG is lossless and there should be no loss when you use `imread` to read back PNG's that were written by `imwrite`.
The `Mat`'s given to `imwrite` and the one produced by `imread` should be identical if you work things correctly.

I suspect there's a problem upstream of `imwrite`.

It would be most helpful if you provided a code sample to "repro" the issue. Code sample should include 1) the use o

[2021-02-01 02:35] gititgo opened #19432 "opencv_test_core FAILED --> MSA implementation of v_reduce_sum did not consider overflow"
##### System information (version)

- OpenCV => :grey_question: 4.5.0
- Operating System / Platform => :grey_question: loongnix
- Compiler => :grey_question: g++

##### Detailed description
we compiled opencv on LOONGSON 3A4000 with -mmsa option. Opencv's own test set opencv_test_core run failed. The specific error information is as follows:

   355 [ RUN      ] hal_intrin128.int8x16_BASELINE
   3

[2021-02-01 03:31] KrisKunal27 commented on #19406
@asmorkalov  Hey I'm new to Open Source Contribution, Can I fix this issue?

[2021-02-01 07:46] asmorkalov commented on #19386
Related issues:

[2021-02-01 07:50] dzywater opened #19433 "cv::fisheye::projectPoints ignores 180 degree FOV"
![1](https://user-images.githubusercontent.com/22073470/106428783-78db8a80-64a4-11eb-9e78-f586c2ec9a56.png)

The above formla leads z coordinate sign ignorance, so lens with more than 180 degree FOV cannot be de fitted.

In other papers, the atan2 is used for theta.

I think the code "theta=theta + PI if z < 0" should be added.

[2021-02-01 07:51] asmorkalov commented on #19386
@fei4xu , @jingyuan129931 Could you provide steps to reproduce the issue and details about your environment, OS, CMake version, VTK installation source, compiler, etc.

[2021-02-01 07:55] asmorkalov commented on #19406
@KrisKunal27 Sure, Go ahead! Please start from these wiki pages:
- https://github.com/opencv/opencv/wiki/How_to_contribute
- https://github.com/opencv/opencv/wiki/Coding_Style_Guide

[2021-02-01 09:04] alalek commented on #19406
Please note, there is already opened fresh PR about this issue (check automatic links above)

[2021-02-01 09:12] alalek commented on #19432
Thank you for the report!

MSA support is community contributed.
Feel free to propose PR with the patch.

[2021-02-01 09:27] asmorkalov opened #19434 "Test Fluid.MemoryConsumptionDoesNotGrowOnReshape is unstable on Linux"
OpenCV version: 4.5.2-dev, Last reproduced: 2b787eb4b8b7f3efef5439d8052976e01d0b0019

The test fails time to time on several Linux based platforms, including PR test that are not relevant to the code:
- Ubuntu 18.04 x64: https://build.opencv.org.cn/job/precommit/job/ubuntu-18.04/555/ (The PR just tunes documentation). Test output:
[code]
- Cross build for RISC-V + QEMU: https://build.opencv.org.cn

[2021-02-01 11:10] LupusSanctus commented on #19257
The core of TF2 model problem is its graph, which we get after export with ``exporter_main_v2``, it`s not about OpenCV node processing in ``tf_text_graph_ssd.py``.  When we freeze an obtained with ``exporter_main_v2`` model, we get a ``.pb`` file, which contains lots of nodes in the following format:
[code]

For example:
[code]

However, [OpenCV doesn't import models with StatefulPartitionedCall](

[2021-02-01 11:41] asmorkalov commented on #18778
The issue resolved. Close the ticket.

[2021-02-01 11:41] #18778 closed

[2021-02-01 11:45] andrey-golubev commented on #19434
IIRC, the test was checking the memory growth of the fluid reshape (which used to have some memory issues). Thus,
1) Something changed in Fluid or related code (in which case @rgarnov should probably remember something)
2) This is a new platform (or a new configuration) on which the API used in the test behaves differently

@asmorkalov by any chance do you have any statistics about how unstable th

[2021-02-01 11:57] l-bat commented on #15133
@paulbauriegel with the latest master branch the results of OpenCV and Caffe are close:
[code]

[2021-02-01 12:40] asmorkalov commented on #19434
@andrey-golubev Thanks for the prompt response. I'm working on OpenCV CI for non-x86 platforms for last 2 month, so I can give you feedback on code around 4.5.1 release only. RISC-V test with simulator fails in ~50% cases. Ubuntu 18.04 x64 fails for the first time today, that's why I decided to file the bug. I disabled G-API on aarch64 for now, because there are too many Fluid test failures there.

[2021-02-01 13:50] prashanthkcll opened #19436 "OpeCV 4.3.0 build for Arm64 with Tengine fails"
Hi all,

I am  building OpenCV 4.3.0 libraries with Tengine support for ARM64 Arch. to test the application in Android Platform.

But its getting unexpected crash for **Tengine Tesnsor buffer** while running the Application on Android.

The application is working fine when building OpenCV without Tengine support.

The crash as below,

**OpenCV/4.3.0: [ WARN:0] global /media/cll/923d5f0a-ea2c-4595-

[2021-02-01 14:49] panikgit commented on #12343
The problem is caused by implementation of naive double arithmetic. In the considered test case almost all elements of A are zeroes. But after number of pivots some of them turn out to be around 1e-14 or lower. I found several _different_ workarounds:
1. Replace 0 with some epsilon greater or equal to 1e-15
https://github.com/opencv/opencv/blob/2b787eb4b8b7f3efef5439d8052976e01d0b0019/modules/core

[2021-02-01 16:20] finnhuebner commented on #19386
Could reproduce this issue while configuring with CMake and BUILD_opencv_world option on. With opencv_world off it builds fine.
Build Environment:
Win 7 x64 with CMake 3.16.0 and VTK 9.0.1 built from source.
Steps to reproduce:
1. Build/Install VTK from source
2. Configure OpenCV project with CMake with options:
- OPENCV_EXTRA_MODULES_PATH set accordingly
- BUILD_opencv_world ON
- WITH_VTK ON

It

[2021-02-01 18:03] llschloesser opened #19437 "cv::drawMatches matchesMask type change"
##### System information (version)
- OpenCV => 4.5.1
- Operating System / Platform => Ubuntu 20.04
- Compiler => gcc 9.3.0

##### Detailed description
The function `cv::drawMatches()` takes an optional argument `matchesMask` of type `std::vector<char>`. This is a poor choice in conflict with the inlier masks amenable to functions such as `cv::findHomography()`. A better choice is `cv::OutputArray

[2021-02-01 18:58] alalek commented on #19436
outdated release.

Try the latest code from the master branch.

[2021-02-01 19:11] jonnio commented on #19116
I have found this to be true when cmake can't find ant or other required dependencies for building java. Maybe someone could write up a nice document describing how it works.

[2021-02-01 19:15] jonnio commented on #11661
Well, if you are running 128 threads and loading lots of images, I could see that your memory will spike by 128x.

[2021-02-01 20:48] raaldrid commented on #16579
Hi @alalek, I have a PR for this issue https://github.com/opencv/opencv/pull/19439.  FYI The new test cases are dependent on image files added to opencv_extra in PR https://github.com/opencv/opencv_extra/pull/843.  I am not sure how to appropriately make pull requests reflecting that dependency.  Thank you.

[2021-02-01 21:00] sensbo commented on #15567
Could we ignore this error? Unfortunately, I couldn't load any example project without an immediately crash of the app by calling  `OpenCVLoader.initDebug() `. I hoped the error has a connection to this error....

[2021-02-02 02:17] CloudPan1993 opened #19441 "Error: Assertion failed (start <= (int)shape.size() && end <= (int)shape.size() && start <= end) in cv::dnn::dnn4_v20201117::total, file C:\build\master_winpack-build-win64-vc15\opencv\modules\dnn\include\opencv2/dnn/shape_utils.hpp, line 171"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues,
       forum.opencv.org, Stack Overflow, etc and have

[2021-02-02 02:22] CloudPan1993 commented on #19441
System information (version)
OpenCV => 4.5.1
Operating System / Platform => Windows
Detailed description
When I do mobilenetSSD.forward(), i meet the problem. It seems appear at scale layer.

Error: Assertion failed (start <= (int)shape.size() && end <= (int)shape.size() && start <= end) in cv::dnn::dnn4_v20201117::total, file C:\build\master_winpack-build-win64-vc15\opencv\modules\dnn\include\ope

[2021-02-02 03:08] #18908 closed

[2021-02-02 04:47] prashanthkcll commented on #19436
Dear Alalek,

Thank you.

The latest version of OpenCV releases from below link is v4.5.1.

https://opencv.org/releases/

Can you please suggest which version of Tengine I need to use with 4.5.1 OpenCV.
Also send the compilation procedure for Arm architecture.

Regards,
Prashanth Kumar K

[2021-02-02 07:56] asmorkalov commented on #19386
Reproduced with Ubuntu 18.04 and VTK 9.0.1. CMake command line:
[code]
CMake output:
[code]

[2021-02-02 08:13] alalek commented on #19386
Workaround:
- disable opencv_world
- disable viz

through CMake flags.

[2021-02-02 08:14] alalek commented on #18908
Resolved here: #19098

[2021-02-02 09:17] andrey-golubev commented on #19434
Alright, so if everything stays normal on Ubuntu 18.04 x64 (considering the lonely failure as the only one), then let's leave things as is for now. When you get back to looking at G-API and if this test will still be unstable (while others would be fine), let's just add a more refined `#ifdef` there (it already has one for `#ifdef __linux__` but maybe it's not good enough).

[2021-02-02 09:46] gunagg opened #19442 "VideoCapture from a remote server using local webcam"
Is there a way to run the code to capture video from remote server, which in turn uses my local webcam?

[2021-02-02 11:14] #19441 closed

[2021-02-02 11:15] dkurt commented on #19441
Please complete issus description following the template. Make it reproducible. Closing for now.

[2021-02-02 11:46] asmorkalov commented on #19436
OpenCV downloads TEngine code automatically during CMake configuration, if `-DWITH_TENGINE=ON` option is provided. Please try the latest release and provide update.

[2021-02-02 11:57] asmorkalov commented on #19442
Please use https://forum.opencv.org/ for questions.

[2021-02-02 12:14] alter-sachin commented on #19442
Use an ipcamera protocol such as RTMP to create a stream
There also a great repo to do this using ZMQ's
https://github.com/jeffbass/imagezmq

[2021-02-02 12:27] trobr opened #19444 "VideoCapture read frame false after seek with m3u8"
##### System information (version)

- OpenCV => :4.5:
- Operating System / Platform => :Darwin 17.7.0 x86_64:
- Compiler => :clang++  (ver 9.1.0.9020039):
-

##### Detailed description

The problem repeats only for **m3u8** format video.

VideoCapture read frame return `True, frame` when I call `cap.read()` directly.But when i want seek video with `cv2.CAP_PROP_POS_MSEC` or `cv2.CAP_PROP_POS_FRAME