[2020-07-02 10:35] saketsneha commented on #17718
Or do I need to upgrade the javacv version?

[2020-07-02 10:57] alalek commented on #17718
This package is not supported here, so we can't help a lot.
Parameters must contain **pairs** of values in meaning of key/value.

[2020-07-02 11:04] saketsneha commented on #17718
I have added it that way only.In the key value format only.

[2020-07-02 11:05] saketsneha commented on #17718
If you look at the discussion I had here https://answers.opencv.org/question/231829/compression-algo-not-helpful-in-png-cases/ .The person is using opencv and it does not seem to be working for him too

[2020-07-02 11:07] saketsneha commented on #17718
and when I resize the image to one third of the original dimesions ,it does seem to behave correctly and the final size is smaller than original

[2020-07-02 11:38] alalek commented on #17718
PNG is lossless compression, so its compression ratio is content dependent. Try to save black image (should compress very well).

Code is invalid.
2 values are required for each parameter.

[2020-07-02 11:42] dkurt commented on #17726
Please compare OpenCV and TensorFlow using a single Python script first - put the same input tensor (NCHW for OpenCV and NHWC for TensorFlow) and check max absdiff.

[2020-07-02 11:46] dkurt commented on #17591
Please clarify once again. What is Mesa and the Matrix? Is that a library or what? What should OpenCV community do with that? Integrate as a compute backend for dnn? This way it would be nice to see some research with comparison against existing backends.

[2020-07-02 11:48] dkurt commented on #17582
Please do not use issues for questions. Can we close it?

[2020-07-02 11:49] saketsneha commented on #17718
PNG is a lossless compression ,I agree. But a compression should not increase the image file size ,even if its not able to compress it .Isnt that right?
and the IMWRITE_PNG_STRATEGY_HUFFMAN_ONLY is working fine for other dimensions and images.

[2020-07-02 11:50] dkurt commented on #17560
Closing due no response from author

[2020-07-02 11:50] #17560 closed

[2020-07-02 11:54] dkurt commented on #17472
Yeah, agree with that. Thanks!

[2020-07-02 11:54] #17472 closed

[2020-07-02 11:54] #17435 closed

[2020-07-02 11:55] dkurt commented on #17429
Has been issue solved?

[2020-07-02 12:13] dkurt commented on #17718
The key thing here is image. You can always find exception for compression algorithms.

tried this:
[code]

[code]

Can confirm that size is more but is that a bug or image is not good for compression? If you look at the content, structure seems synthetic

[2020-07-02 12:14] tompollok commented on #17591
See wikipedia: https://en.wikipedia.org/wiki/Mesa_%28computer_graphics%29
Mesa, also called Mesa3D and The Mesa 3D Graphics Library, is an open source software implementation of OpenGL, Vulkan, and other graphics API specifications. Mesa translates these specifications to vendor-specific graphics hardware drivers.

Mesamatrix just displays that API has been implemented for which graphics vendor. I

[2020-07-02 12:20] dkurt commented on #17591
I just not sure that it's really helpful. Nothing but empirical experiment can show better picture. For specific topolgy user may call [dumpToFile](https://docs.opencv.org/master/db/d30/classcv_1_1dnn_1_1Net.html#a4f7d0d1e650571e11d988d07f7ed5a7d) method to see which layers are executed on which devices.

[2020-07-02 12:29] tompollok commented on #17591
This matrix doesnt show the topology, just whether a layer has been implemented or whether a specific network runs on a backend. Of course it doesnt show if it runs completely for example on CUDA backend.
Even if empiricly tested networks are displayed here, for example with a direct download link in the network name, it just shows what currently works. Even if it is just the CPU backend. Anyways,

[2020-07-02 12:31] d-v-s commented on #17429
I'm not sure. I hoped somebody could tell me more than just using `-march=armv8-a+crc -mcpu=cortex-a72 -mtune=cortex-a72`

[2020-07-02 12:39] dkurt commented on #17591
The problem is that there is no list of just layers which are supported or not on specific target - there are multiple configurations in very layer and device features so the same layer may work or not on it.

[2020-07-02 12:46] mshabunin commented on #17718
So is it a feature request for palette support in `imwrite`? Otherwise it is not an issue.

[2020-07-02 13:02] abdou31 commented on #17582
Yes , you can close it.

[2020-07-02 13:02] #17582 closed

[2020-07-02 13:06] mshabunin commented on #17429
- AArch64 includes NEON
- NEON includes VFPv3

So, you don't need anything to enable NEON and VFPv3 when compiling for AArch64.

ARM cmake toolchain file located in OpenCV repository has some generic parameters and is meant to work with cross-compilers provided by Ubuntu (host system). You can create your own cmake toolchain files for your specific architecture/compiler/environment and use them in

[2020-07-02 13:21] kaanaykutkabakci commented on #17637
@dkurt hello again. I have build new version of OpenCV(4.3.0).
I have used https://github.com/opencv/opencv/blob/4.2.0/samples/dnn/tf_text_graph_ssd.py file to generate .pbtxt file. And, I couldn't find any similar issue pointing to "inputs.size ()> = 2" error. I have tried "ssd_mobilenet_v1_fpn_coco" and "ssd_resnet_50_fpn_coco" models. These models give me best accuracy rather than others. But,

[2020-07-02 13:28] saketsneha commented on #17718
Yes ,it would be great if we can have this palette .
Thank you @dkurt Also do we expect this kind of behavior in case of JPEG as well?
I tried to use an image and resize it , and that to got increased .The default QUALITY is 95 so I am not use any param in imwrite()

[2020-07-02 13:30] saketsneha commented on #17718
And do you currently support only RGB 24bit for compression.Just trying to make defined expectation for my project and its images

[2020-07-02 14:08] YashasSamaga commented on #17716
@sugger23 The model executes without errors on my device.

What exactly was the error message you got?

[2020-07-02 14:22] YashasSamaga commented on #17716
I have got out-of-memory on RTX 2080 Ti with 11GB RAM with FP32 target. Can you please confirm if you are facing out-of-memory error?

[2020-07-02 15:45] KyloEntro opened #17734 "Can not read camera rtsp"
##### System information (version)

- OpenCV => 4.3
- Operating System / Platform => Windows 10 64 bits
- Compiler => Visual Studio 2019

##### Detailed description

##### Steps to reproduce

Hi,

I have a problem to read a rtsp camera. The camera is an Dynacolor cameras with link : rtsp://<IP>/h264.
I haven't any problem to read rtsp with VLC and Onvif manager.

My program is very simple:
[code]

[2020-07-02 15:54] d-v-s commented on #17429
In my first message I've mentioned that I'm compiling on RPi4 itself (without cross-compiling).
I just wonder if I can boost performance using all available special flags exactly for RPi4.

It is written [here](https://gist.github.com/fm4dd/c663217935dc17f0fc73c9c81b0aa845) that RPi4 has **VFPv4**.
Is this feature enabled by default when I compile for aarch64? Because for non-aarch64 it should be

[2020-07-02 19:37] rAum commented on #17726
@dkurt thanks for the hint, it seems I have a bug in my C++ as code as python reference implementation (however on 4.2.0 ...) prints numbers that are in more expected range, but to be honest I don't see what my problem in C++ code is :(

However I can see different results in python, I ran argmax to get mask from the result in both tf and ocv and got drastically different mask, the min and max ran

[2020-07-02 20:14] cassianokc opened #17736 "FR: Implement "smart" reference on js similar to tensorflow.tidy()"
Developers are required to manually manage memory on OpenCV.js and keeping some of the references may led to cumbersome code, I suggest providing an mechanism similar to the Tensorflow.js tf.tidy, that is used to cleanup GPU textures after processing TF code: https://js.tensorflow.org/api/0.11.7/#tidy
Here is an example usage:

[code]

[2020-07-03 00:46] sugger23 commented on #17716
@YashasSamaga I watch the GPU-Z when the program runs, the max memory used is 2.5GB,   my gpu is 1080TI,
I got the opencv4.3 two month ago ,maybe it have been soloved on the current github, I will try the  Newest github code soon

[2020-07-03 03:48] JeffTheMess opened #17738 "OpenCV reverts back to a higher resolution than what I set."
##### System information (version)

- OpenCV => 4.4.0-Pre
- Operating System / Platform => Raspberry Pi OS
- Compiler => g++

##### Detailed description
I am having an issue with saving images. I want to start with, I do not want to resize the image after I receive it, I want the webcam to start with a native lower resolution which my camera supports. I am on Raspberry Pi OS. The supported resolut

[2020-07-03 05:43] YashasSamaga commented on #17661
@who1129 have you fixed this? It feels very suspicious that you had set `BUILD_opencv_dnn` to OFF and yet managed to do inference on CPU. Do you have multiple installations of OpenCV?

[2020-07-03 06:07] Keks244 opened #17739 ""Template Matching" tutorial page -> Can't choose another image"
I can't upload another image to your template matching tutorial page.
[https://docs.opencv.org/master/d8/dd1/tutorial_js_template_matching.html](https://docs.opencv.org/master/d8/dd1/tutorial_js_template_matching.html)

Other tutorial pages are working fine for me.

Please Fix :)

[2020-07-03 06:20] CaichaoGitHub opened #17740 "undefined reference cv::error(int, std::string const&, char const*, char const*, int) in opencv 4.1.2"
##### System information (version)
- OpenCV => 4.1.2
- Operating System / Platform => centos7.5
- Compiler => gcc5.5

##### Detailed description

i build opencv4.1.2 in my centos7.5 with gcc5.5
i tried to create a Mat  using the API :  **cv::Mat(1,1,CV_8UC1, nullptr)**
but i met the undefined reference error : cv::error(int, std::string const&, char const*, char const*, int)
however i found the sy

[2020-07-03 07:29] mshabunin commented on #17429
OpenCV on its own does not add any flags for AARCH64, NEON and other optimizations are implied:
https://github.com/opencv/opencv/blob/a5fdcf9881176ce756b601ee4b926586a88a42fe/cmake/OpenCVCompilerOptimizations.cmake#L326-L345

The thing called VFPV3 here is for older ARMv7 processors without NEON, it enables single optimization in cvRound which will be enabled when NEON is available:
https://github

[2020-07-03 07:29] #17429 closed

[2020-07-03 07:36] chad-green commented on #17653
@dkurt Any thoughts on the above? I used the following script to convert the [rfcn_resnet101_coco](http://download.tensorflow.org/models/object_detection/rfcn_resnet101_coco_2018_01_28.tar.gz) model from tensorflow model zoo:
[code]
I've zipped up the .xml file generated by the script and attached for your reference.
[frozen_inference_graph.zip](https://github.com/opencv/opencv/files/4868357/froze

[2020-07-03 07:49] l-bat commented on #17427
@andreilica  Could you provide a link to `frozen_graph.pb`?

[2020-07-03 07:52] dkurt commented on #17736
What if it's required to clean the memory inside the "tidy" block?

[2020-07-03 07:53] dkurt commented on #17726
Please add a code sample to see that both TensorFlow and OpenCV process the same input.

[2020-07-03 08:09] dkurt commented on #17726
Cannot reproduce the difference. The following script shows `6.198883e-06` absdiff:

[code]

[2020-07-03 08:33] sugger23 commented on #17716
@YashasSamaga tody
    Because my gpu is 1080TI，it don't support fp16，so I do the inference by f32,  I watch the GPU-Z when the program runs, the max memory used is 2.5GB.
    From your idea, I set FP16, then the program can run correctly, but it's too slow, even slower than CPU.(CPU time-9S ,  1080TI-FP16 time-11S),and it used the gpu memory about 1.8G.

   Then I get a 2060super GPU, it was fast

[2020-07-03 09:17] mshabunin commented on #17630
You can change installation layout using cmake variables:
https://github.com/opencv/opencv/blob/73f7d091f86e186246d980a535a9fac79b4d9b89/cmake/OpenCVInstallLayout.cmake#L59-L79

Also you can install only selected components, instead of `make install` use the following command:
[code]
Where `<component>` is one of `licenses`, `dev`, `lib`, ... (see cmake_install.cmake file for all available compone

[2020-07-03 09:54] mshabunin commented on #17179
@joehoeller , as was mentioned we don't have an active page collecting related community-maintained resources. I suggest following alternatives:
* we can add your link to the old ["Links"](https://opencv.org/links/) page, it can be a bit outdated though and there is no convenient way of changing it at the moment (issue tracker is [here](https://github.com/opencv-infrastructure/opencv.org/issues))

[2020-07-03 10:04] mshabunin commented on #8408
It is normal, `ts` is not meant to be installed. You can port mentioned commit to the latest _master_ branch, there should not be problems as the changes are quite small.

[2020-07-03 10:04] #8408 closed

[2020-07-03 10:38] alalek commented on #17738
Invalid call which resets camera on each frame.

---

In future take a look on existed [tests](https://github.com/opencv/opencv/blob/4.3.0/modules/videoio/test/test_camera.cpp#L74-L107) first. They are expected to work properly.

---

Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-07-03 10:38] #17738 closed

[2020-07-03 10:44] YashasSamaga commented on #17716
@sugger23 Can you share an exact copy of the error message? I think there should be some more message after Unknown Exception. The exception will have the line number and file name along with it. It will help isolate the problem.

[2020-07-03 10:46] alalek commented on #17740
Compiler is not default for [CentOS 7](https://centos.pkgs.org/7/centos-x86_64/gcc-4.8.5-39.el7.x86_64.rpm.html), so you may have a mess with compiler settings/flags/incompatibility.

Try to inspect your complete command lines for compiler / linker invocations.

Also you may want to learn this topic: https://stackoverflow.com/questions/45417707/glibcxx-use-cxx11-abi-gcc-4-8-and-abi-compatibility

[2020-07-03 11:09] thangict210 commented on #17704
I just comment out the following block of code and it works perfectly.

![image](https://user-images.githubusercontent.com/58073628/86463157-2f349100-bd57-11ea-806e-60edc2b7f8d3.png)

[2020-07-03 11:36] #17521 closed

[2020-07-03 12:11] mshabunin commented on #17397
Perhaps your system CPU does not support some of instructions. Try to set lower `CPU_BASELINE`, e.g. to `SSE4_2`.

Feel free to reopen if you have more information.

[2020-07-03 12:11] #17397 closed

[2020-07-03 12:19] janusheide commented on #16432
I bumped into a wrong error message that could be related to this, when using keyword arguments;

[code]
Here the first argument img is wrong, not the thickness.

When using a positional argument I get the correct error message:
[code]

Also the following does not give an error, which I guess it should
[code]

And the following silly input yields a similarly silly result, instead of an error
[code

[2020-07-03 12:37] who1129 commented on #17661
I use this option. And really sorry about my mistake...
I did not use the command "make install ". I use just "make -j16"....
All build is sucesss! gpu works well!

cmake \
 -D CMAKE_BUILD_TYPE=RELEASE \
 -D WITH_CUDA=ON \
 -D CUDA_ARCH_BIN=7.5 \
 -D WITH_CUDNN=ON \
 -D WITH_CUBLAS=ON \
 -D OPENCV_DNN_CUDA=ON \
 -D BUILD_opencv_world=OFF\
 -D CMAKE_INSTALL_PREFIX=/usr/local .. \
 -D OPENCV_EXTRA_M

[2020-07-03 13:47] rAum commented on #17726
I cannot reproduce your results ;) For me the absdiff printed by above code is `2.1126885`.

[2020-07-03 14:06] dkurt commented on #17726
@rAum,
1. Make sure you use the latest master branch
2. Is the model from issue description correct? Share sha1sum this way

[2020-07-03 14:11] rAum commented on #17726
1. okay, will try with latest master
2. `8cfea88006057d4661a43f483f9b817c81d7b503  dl256.pb`

[2020-07-03 15:48] YashasSamaga commented on #17661
@who1129 can we close this issue?

[2020-07-03 15:52] YashasSamaga commented on #17660
Does `haarcascade_frontalface_default.xml` exist? Is the path correct? Try passing the absolute path.

[2020-07-03 16:09] akionsight commented on #17660
Try this
[code]

[2020-07-03 17:04] iwilliamson commented on #17704
@thangict210 - I can confirn that commenting out the CMAKE code you pointed out worked for me as well.

[2020-07-03 18:48] #17666 closed

[2020-07-03 20:30] #17661 closed

[2020-07-03 23:10] pemmanuelviel commented on #11022
@vpisarev I plan to port in OpenCV repo my assembly SSEx and intrinsic AVX-2 implementations of some distances for FLANN.
Are the wide universal instrinsics fully functional, in particular the ones for CV_SIMD256? Is there another doc than the one for "not wide" universal intrinsics? Thanks

[2020-07-03 23:16] alalek commented on #11022
@pemmanuelviel There is page about [universal intrinsics](https://docs.opencv.org/3.4/df/d91/group__core__hal__intrin.html#details) in OpenCV Documentation.

[2020-07-03 23:24] alalek commented on #17677
@sky-fly97 Disable CUDA option or wait for fix of #17704 or specify `CUDA_ARCH_BIN` explicitly.

[2020-07-03 23:39] #17315 closed

[2020-07-04 00:07] cqray1990 opened #17746 "/bin/sh: 1: /usr/bin/python3.6: Permission denied"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues,
       answers.opencv.org, Stack Overflow, etc and ha

[2020-07-04 00:08] #17746 closed

[2020-07-04 03:22] zxfzqf commented on #17711
@YashasSamaga I tried bulid your opencv project branch cuda4dnn-eltwise-fusion2 / master （https://github.com/YashasSamaga/opencv/tree/cuda4dnn-eltwise-fusion2）， C++ fine, but build python library is error. since I am busy with other work these days, I have not tried the C++ version code
sorry， too busy， I will have time to try C++ code later

[2020-07-04 05:06] koonyook commented on #13567
It will work if you replace "point" with "np.copy(point)".
This confirms @LaurentBerger 's answer.

[2020-07-04 07:07] informing opened #17747 "opencv_dnn compilation error caused by using deprecated cuDNN functions"
##### System information (version)

- OpenCV => master
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- NVIDIA CUDA => ver 11.0 *(latest)*, CUFFT CUBLAS FAST_MATH enabled
- cuDNN  => ver 8.0.1.13 *(latest)*

##### Detailed description

According to [cuDNN Developer Guide](https://docs.nvidia.com/deeplearning/sdk/cudnn-api/index.html#api-changes),  functions invoke

[2020-07-04 07:26] alalek commented on #17747
@informing You can check this PR: #17685

[2020-07-04 08:50] pemmanuelviel commented on #11022
@alalek Thank you for the link. This is the doc for the "not-wide" universal intrinsics I was mentioning.
But as I didn't see details on the 256 avx registers I would like to know if there is any doc on "wide" universal intrinsics, as well as if they are fully functional.
I would prefer porting directly on 256 bits wide universal intrinsics equivalent of AVX-2, than the equivalents of SSEx intrins

[2020-07-04 10:01] HGuillemet commented on #7862
`CV_32S` and `CV_8S` are supported by opencv and geometric transformations are quite basic features everyone uses.
Of course there are use cases where we want to rescale 32S or 8S images.
Would it really clutter the library too much to add support for these types ?
Please consider adding this support.

[2020-07-04 10:37] brianng0305 opened #17749 "Opencv dnn - support on Yolov4-tiny"
Yolov4-tiny was issued last week. I used yolov4-tiny to train my dataset for 10 hours with 0.7 average loss. I am very satisfied with the darknet test very accurate but using opencv yolo dnn to detect show nothing.

My project need yolov4-tiny running with opencv. Please help.

issued to darknet:
https://github.com/AlexeyAB/darknet/issues/6131

[2020-07-04 10:45] YashasSamaga commented on #17749
YOLOv4 tiny has some new fields in the configuration file which isn't supported yet (on master). It loads without errors but is not correct. You need the latest 3.4 to run yolov4 tiny.

[2020-07-04 10:46] brianng0305 commented on #17749
Thank you YashasSamaga.

[2020-07-04 13:29] ChukwuemezieChristopherAneke opened #17750 "Opencv dlls"
My installation of the OpenCv wrapper OpenCvSharp fails with the error:
[code]

I believe the opencv wrapper is missing an opencv dll which is a dependency. May be the missing dll has a name like opencv.dll. Can someone point to where I can find the opencv dll (or opencv dlls) that an opencv wrapper would need to use opencv? Thanks.

[2020-07-04 13:42] walkthetalk opened #17751 "config without (jpeg and png) will result in compiling fail!"
##### System information (version)

- OpenCV => 4.3.0
- Operating System / Platform => poky
- Compiler => gcc 10.1

##### Detailed description

without (jpeg and png), following array in 'modules/imgcodecs/test/test_read_write.cpp' will have zero length:
const tuple<string, Size> images[]

it will result in compiling fail when executing:
testing::ValuesIn(images)

can't deduce template parameters.

[2020-07-04 21:14] jiapei100 commented on #8897
I believe it has **NOTHING** to do with OpenCV, but **checkinstall**'s own problem...

[2020-07-05 09:24] Omar-AE commented on #17727
I tried to look for the directory 'modules' in the opencv library and couldn't find it, though the error above mentions the path `../opencv/modules/dnn/src/ie_ngraph.cpp`

I am not sure where can I find it or if opencv-4.3-openvino is open source in first place. I tried the following:
[code]
 what exactly is the .so file?

[2020-07-05 11:43] kamalojasv181 commented on #15723
Hi, I need to import cv2 as well in a project and if i uninstall opencv-python, I can no longer import cv2. Keeping both opencv-python and opencv-contrib-python still shows the same error

versions
opencv-python-4.2.0.34
opencv-contrib-python 1.18.1

[2020-07-05 13:12] rAum commented on #17726
@dkurt
I confirmed issue persist on recent master.
It seems it `DNN_TARGET_OPENCL` returns correct results, the `DNN_TARGET_CPU` does not return valid results and my guess is you probably could reproduce issue if you switch target.

[2020-07-05 13:19] orangesomethingorange commented on #17519
Hey @alalek

Regarding packaged SDKs:
Packaged **_SDK 4.2_** build is OK, error only at **_SDK 4.3_**.

### Steps to recreate:

1. download [4.3 SDK](https://sourceforge.net/projects/opencvlibrary/files/4.3.0/opencv-4.3.0-android-sdk.zip/download)
2. download [4.2 SDK](https://sourceforge.net/projects/opencvlibrary/files/4.2.0/opencv-4.2.0-android-sdk.zip/download)
3. create 2 identical Android St

[2020-07-05 13:51] YanaShpot commented on #15336
I have the same error with another DeepLab model (saved like a frozen inference graph as well). I use the last version of OpenCV and Windows.  @dkurt could you suggest something, please?

[2020-07-05 14:58] mshabunin commented on #17727
You have to build OpenCV from sources to try this. You can use the same version as in OpenVINO: https://github.com/opencv/opencv/releases/tag/4.3.0-openvino or the latest _master_ branch version. Default options should be fine but you'll need to enable InferenceEngine integration, check this article for details: https://github.com/opencv/opencv/wiki/Intel%27s-Deep-Learning-Inference-Engine-backend

[2020-07-05 17:06] Lumi1717 opened #17755 "cv2.dnn.readNet(args["east"])"
##### System information (version)

cv2.dnn.readNet(args["east"])
cv2.error: OpenCV(4.2.0) /Users/travis/build/skvark/opencv-python/opencv/modules/dnn/src/dnn.cpp:4723: error: (-2:Unspecified error) Cannot determine an origin framework of files:  in function 'readNet'

[2020-07-05 17:08] PythonImageDeveloper commented on #15948
@HEBOS
Did you test for decoding h264 rtsp stream with jetson nano, It doesn't work for me with opencv-3.4.6 cuda and gstreamer compiled. and this work with omxh264dec but nvv2l2decoder doesn't with in opencv, but work for filesrc in terminal execution, How to solve this problem to work nvv4l2decoder in opencv?

[2020-07-05 18:33] HEBOS commented on #15948
I used opencv 4.1.1, and it worked with above with pipe, I specified above.

If you decide to install 4.1.1 use the following script:

mkdir $HOME/GitHub
cd $HOME/GitHub
sudo apt update; \
sudo apt install -y build-essential cmake git libgtk2.0-dev pkg-config  libswscale-dev libtbb2 libtbb-dev; \
sudo apt install -y python-dev python3-dev python-numpy python3-numpy; \
sudo apt install -y curl; \
s

[2020-07-06 03:11] dkurt commented on #15336
@YanaShpot, please don't use closed issues. Try to find existing solution using search by issues , try the latest master branch or check the guides (https://github.com/opencv/opencv/wiki/TensorFlow-text-graphs)

[2020-07-06 03:12] #17755 closed

[2020-07-06 03:12] dkurt commented on #17755
`args["east"]` is empty

[2020-07-06 03:14] dkurt commented on #17749
solved by https://github.com/opencv/opencv/pull/17733

[2020-07-06 03:14] #17749 closed

[2020-07-06 03:22] dkurt commented on #17726
@rAum, Can you please run the script from https://github.com/opencv/opencv/issues/17726#issuecomment-653414633 with master branch (please specify commit hash)?

[2020-07-06 03:30] CaichaoGitHub commented on #17740
thanks very much , i got it ; let me fix it

[2020-07-06 08:24] tomoaki0705 opened #17757 "GAPI: Test error on OpenCL Arm SBC"
##### System information (version)

- OpenCV => recent master ( 657c8d1c65b88173521b7955ed2f2ac725a5a5b2 )
- Operating System / Platform => Firefly RK3399 (Aarch64)
- Compiler => GCC 5.4.0
- OpenCL => 1.2

##### Detailed description

- Test `GPU.Symm7x7_test` in `opencv_test_gapi` fails, but the message looks error rather than normal test failure

[code]

- It's quite long so I posted on [gist](ht

[2020-07-06 09:00] PythonImageDeveloper commented on #15948
@HEBOS
you used that command in terminal or passed that command into opencv?
and you tested with jetson nano? if so which version of jetpack?

[2020-07-06 09:13] #17740 closed

[2020-07-06 09:26] sturkmen72 commented on #9109
kindly reminder
this issue is fixed by #12479

[2020-07-06 09:31] Omar-AE commented on #17727
I replaced the opencv directory /opt/intel/openvino_2020.2.120/opencv with the source code that I downloaded from the link https://github.com/opencv/opencv/releases/tag/4.3.0-openvino
After that, I followed the second link that you referenced above. Here is what happened:

[code]
Am I missing something? It seems it is still trying to load the library from the shared object (.so) file.

[2020-07-06 09:38] #9109 closed

[2020-07-06 09:41] mshabunin commented on #17727
No, you have to build OpenCV from these sources.

[2020-07-06 10:02] Omar-AE commented on #17727
That's what I did. After replacing the opencv directory with the source I downloaded, I did run cmake with the options mentioned in the link. Now what's next?

[2020-07-06 11:00] xiaose26 commented on #17734
you need ffmpeg with x264/openh264 or 265

[2020-07-06 11:08] xiaose26 commented on #17704
cuda accelerate image/video decode/encode ,gpuMat need nvidia Video_Codec_SDK and nv-codec-headers

[2020-07-06 11:19] xiaose26 opened #17760 "opencv4.3 Ptr<SIFT> detector = SIFT::create(); error: reference to ‘SIFT’ is ambiguous"
##### System information (version)
- OpenCV4.3
-  ubuntu20.04

##### cmake commands:
[code]
#####errors
[code]

[2020-07-06 11:31] alalek commented on #17760
You should keep source code bases of opencv/opencv_contrib synchronized (the same git tag or head of the same branch).
Different versions are not tested for compatibility and may not work.

[2020-07-06 11:31] #17760 closed

[2020-07-06 12:35] alalek opened #17762 "DNN: YOLOv4-tiny no detections for OpenCV/OpenCL target"
see #17743

[code]

[2020-07-06 12:41] AndyBoat opened #17763 "still get "FFMPEG: tag 0x00000021/'!???' is not found" error after built from source in pyhon3.7 Ubuntu16.04."
##### System information (version)

- OpenCV => 4.4.0-pre
- Operating System / Platform => ubuntu 16.04:
- Compiler => gcc?(not sure)

##### Detailed description

Guys.  I still  get "FFMPEG: tag 0x00000021/'!???' is not found" error after built from source in pyhon3.7 Ubuntu16.04.

	$ python3.7
	Python 3.7.8 (default, Jun 29 2020, 05:46:05)
	[GCC 5.4.0 20160609] on linux
	Type "help", "copyright"

[2020-07-06 12:43] alalek commented on #17762
Issue is caused by broken OpenCL implementation for layer 'split'. Fallback on CPU code for this layer fixes the accuracy.

[2020-07-06 15:09] chluck2008 opened #17765 "cmake error"
cmake \
        -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_INSTALL_PREFIX=/usr/local \
        -DENABLE_CXX11=ON \
        -DBUILD_DOCS=OFF \
        -DBUILD_EXAMPLES=OFF \
        -DBUILD_JASPER=OFF \
        -DBUILD_OPENEXR=OFF \
        -DBUILD_PERF_TESTS=OFF \
        -DBUILD_TESTS=OFF \
        -DWITH_EIGEN=ON \
        -DWITH_FFMPEG=ON \
        -DWITH_OPENMP=ON \
        ..

In file inclu

[2020-07-06 15:44] Omar-AE commented on #17727
Ok now `import cv2` works. I tried your suggestion to add "HDDL" and it's giving the same error. I also replaced all "MYRIAD" (the string ones only) with "HDDL". Still having the same error:
[code]

[2020-07-06 15:47] HEBOS commented on #15948
@PythonImageDeveloper Used in python script with VideoCapture class.
It was JetPack 4.3.
You can easily remove user-id, and user-pw.
But it won't work with your version of opencv.
It needs to be 4.1.1 +

[2020-07-06 15:47] areche commented on #4777
The porblem is present also in OpenCV 4.2, however the error seems to be different:

[code]

[2020-07-06 16:07] alalek commented on #17765
You have mess on your system.
This can't be fixed by OpenCV. Closing.

[2020-07-06 16:07] #17765 closed

[2020-07-06 19:09] marcusbrito commented on #17749
Will the yolov4-tiny update be available on the release of OpenCV 4.4?

It would be great, as the full size YoloV4 will be available.

[2020-07-06 19:58] #17757 closed

[2020-07-06 22:19] anqixu opened #17767 "setMouseCallback() causes "error: (-27:Null pointer) NULL window handler" in Python / on PyPi version 4.3.0.36"
##### System information (version)

- OpenCV => 4.3.0.36
- Operating System / Platform => Ubuntu 18.04 64 Bit
- Compiler => Unknown (installed from PyPi on Python 3.6.8)

##### Detailed description

This is a bug triggered on `cv2.setMouseCallback` and seemingly the QT backend, which reports the following error when running the code below:

`cv2.error: OpenCV(4.3.0) /io/opencv/modules/highgui/src/

[2020-07-06 22:33] trigal opened #17768 "projectpoints distortion handling (and possibly ignore some points in the projection)"
##### System information (version)
Example
- OpenCV => 4.3
- Operating System / Platform => Ubuntu
- Compiler => gcc version 4.8.5

##### Detailed description

I'm opening this issue after the question I put a couple of days ago in the answers website.
I'll copy here only the relevant part of the question related to my answer, since after a couple of days thinking about it I do not really believe

[2020-07-06 22:42] alalek commented on #17767
These packages are not official.
Try to reproduce problem with build from sources or at least provide dump of `cv.getBuildInformation()` for mentioned versions (use `<details>...</details>` in comment to wrap huge text blocks).

[2020-07-06 22:48] #17747 closed

[2020-07-06 23:04] PythonImageDeveloper commented on #15948
@HEBOS
I tested your code in jetpack 4.4 + opencv 4.1.1 and jetpack 4.2.2 + opencv 3.4.8.  I stuck in this situation, but work with omxh264dec. In your opinion, your code will work with nvv4l2decoder?

**This is with jetpack 4.2.2 :**

[code]

**This is with jetpack 4.4 DP:**

[code]

[2020-07-07 01:15] anqixu commented on #17767
I'll try to test from build when I get some spare time over the next few weekends. In the mean while:

Build info for BROKEN version - `4.3.0.36`:

<details>
General configuration for OpenCV 4.3.0 =====================================
  Version control:               4.3.0

  Platform:
    Timestamp:                   2020-07-06T00:08:47Z
    Host:                        Linux 4.15.0-1028-gcp x86_

[2020-07-07 06:56] #17127 closed

[2020-07-07 06:58] dkurt commented on #15462
Summarizing, OpenVINO let users to bind a single VPU by `InferenceEngine::Core` instance - no other way to share between processes/libraries.

[2020-07-07 06:58] #15462 closed

[2020-07-07 07:03] smartnet-club opened #17771 "Failed to match UMat descriptors"
[patch.txt](https://github.com/opencv/opencv/files/4883132/patch.txt)
##### System information (version)

- OpenCV => master
- Operating System / Platform => Ubuntu 16.04
- Compiler => gcc 6.5

##### Detailed description

Failed to match UMat descriptors

Error in modules/features2d/src/matchers.cpp#L632

in call !trainDescCollection[i].empty()

trainDescCollection is empty

[2020-07-07 07:04] dkurt commented on #17771
Please provide a reproducer.

[2020-07-07 07:16] chad-green commented on #17653
I spent a little more time on this trying to verify if it is possible to run an IR with DNN_BACKEND_CUDA using cv2.dnn.readNet(). I converted a standard tensorflow model zoo ssd_inception_v2_coco_2018_01_28 using the [example](https://docs.openvinotoolkit.org/latest/_docs_MO_DG_prepare_model_convert_model_tf_specific_Convert_Object_Detection_API_Models.html):
```<INSTALL_DIR>/deployment_tools/mode

[2020-07-07 07:18] smartnet-club commented on #17771
Reproducer:
Use [this](https://docs.opencv.org/master/d5/d6f/tutorial_feature_flann_matcher.html) tutorial.
Replace `Mat descriptors1, descriptors2;` by `UMat descriptors1, descriptors2;`

[2020-07-07 07:21] #17667 closed

[2020-07-07 07:23] #17657 closed

[2020-07-07 07:24] #17751 closed

[2020-07-07 11:27] ShrutheeshIR commented on #17690
Any updates?

[2020-07-07 13:59] XZG-0457 opened #17774 "Opencv compiled with CUDA in Python uses videocapture to leak memory"
![image](https://user-images.githubusercontent.com/43441239/86792418-0d137980-c09d-11ea-934c-dc741641f567.png)

[2020-07-07 14:23] XZG-0457 commented on #17774
According to the Valgrind report, 60k bytes leak during one prediction. => 2G？ Mb leak within 30 minutes. This is perfectly matched with the graph attached to the issue.It's terrible！ I think that when I call cv2.so in Python, there will be a memory leak. But how can I free the memory? After all, they are already in the so file

[2020-07-07 14:31] XZG-0457 commented on #17774
According to the Valgrind report, 60k bytes leak during one prediction. => 2G? leak within 30 minutes. It's terrible！ I think that when I call cv2.so in Python, there will be a memory leak. But how can I free the memory? After all, they are already in the so file

[2020-07-07 14:34] mshabunin commented on #17774
@XZG-0457 , please provide more details about your configuration as well as small test application reproducing the issue. Did you measure the leak for cases with more than one prediction?

[2020-07-07 14:42] XZG-0457 commented on #17774
ok，Part of the code：

width = 0
height = 0
resize = False
detect_width = 0
detect_height = 0
fp = -1
count = 0
fp_skip = 1
set_num = 0

lumGPU = cv2.cuda_GpuMat()
while (store_status['status'] != 2): # stop
    try:
        lasttime = time.time()
        # image = vidcap.read()
        success = vidcap.grab()
        if not success:
            print("frame read end or read error")
            bre

[2020-07-07 14:43] XZG-0457 commented on #17774
ok，Part of the code：

width = 0
height = 0
resize = False
detect_width = 0
detect_height = 0
fp = -1
count = 0
fp_skip = 1
set_num = 0

lumGPU = cv2.cuda_GpuMat()
while (store_status['status'] != 2): # stop
    try:
        lasttime = time.time()
        # image = vidcap.read()
        success = vidcap.grab()
        if not success:
            print("frame read end or read error")
            bre

[2020-07-07 14:44] XZG-0457 commented on #17774
`width = 0
height = 0
resize = False
detect_width = 0
detect_height = 0
fp = -1
count = 0
fp_skip = 1
set_num = 0

lumGPU = cv2.cuda_GpuMat()
while (store_status['status'] != 2): # stop
    try:
        lasttime = time.time()
        # image = vidcap.read()
        success = vidcap.grab()
        if not success:
            print("frame read end or read error")
            break
        fp += 1

[2020-07-07 14:45] XZG-0457 commented on #17774
`width = 0
height = 0
resize = False
detect_width = 0
detect_height = 0
fp = -1
count = 0
fp_skip = 1
set_num = 0

lumGPU = cv2.cuda_GpuMat()
while (store_status['status'] != 2): # stop
    try:
        lasttime = time.time()
        # image = vidcap.read()
        success = vidcap.grab()
        if not success:
            print("frame read end or read error")
            break
        fp += 1

[2020-07-07 14:52] XZG-0457 commented on #17774
[code]

[2020-07-07 14:54] XZG-0457 commented on #17774
Yes, I tested 50 RTMP video sources and found that the memory leakage was very serious. It was not so obvious in the past few times, because it did not exceed 1 hour

[2020-07-07 14:57] XZG-0457 commented on #17774
I have also tried to push the stream with OpenCV of CPU version, because the decoding of OpenCV cannot be stopped, but it is not as exaggerated as the memory leakage of GPU version

[2020-07-07 14:59] XZG-0457 commented on #17774
It's part of my code

[2020-07-07 15:14] XZG-0457 commented on #17774
I think it is caused by a lot of memory leaks when the CPU and GPU are switched, because I see cv2.so in the valgrind log, there are many functions of cuda initialization and creation, but python seems to be unable to prevent this behavior

[2020-07-07 15:58] SkuzzyxD opened #17775 "How to completely uninstall OpenCV?"
Hey,
How can I completely uninstall OpenCV installed using CMake and Visual Studio?
also removing it from python and other install locations as well.

[2020-07-07 16:21] SkuzzyxD opened #17776 "AttributeError: module 'cv2' has no attribute 'dnn_DetectionModel"
##### System information (version)

- OpenCV => 3.4.11-pre
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description
Error:
[code]

[2020-07-07 17:27] berak commented on #17776
unfortunately, the "dnn High Level Api" is only available on the 4.x / master branch (ABI compliance)

[2020-07-07 17:43] PythonImageDeveloper commented on #15948
@HEBOS
I tested your codes in jetpack 4.3 and opencv 4.1.1, again I also have same problem, My opinion this is related to streaming with live555 that don't adaptive with nvv4l2decoder.

[2020-07-07 18:59] SkuzzyxD commented on #17776
But here it's shown as working:
https://github.com/opencv/opencv/pull/17185

[2020-07-07 19:01] #17776 closed

[2020-07-08 06:01] berak commented on #17776
@SkuzzyxD  yes, you can  use yolov4 (e.g. [from here](https://github.com/opencv/opencv/blob/3.4/samples/dnn/object_detection.py)), just  not the `cv.dnn_DetectionModel` class

[2020-07-08 09:18] berak opened #17778 "dnn: darknet importer has no "relu" activation"
##### System information (version)
- OpenCV => 4.3.0-dev
- Operating System / Platform => Windows7 32 Bit
- Compiler => mingw64(8.1)
##### Detailed description

while checking out a ultra small(500k !) yolov3 model [from here](https://github.com/dog-qiuqiu/MobileNetv2-YOLOV3/blob/master/yoloface-500k) i got a :

[code]

it has a couple of `activation=relu` lines, [e.g. here](https://github.com/dog

[2020-07-08 09:32] mirhanu opened #17779 "DNN with CUDA not working on python"
OpenCV => 4.2
Operating System / Platform => ubuntu

I am using opencv to run yolo. Below is the code to set Backend.

net.setPreferableBackend(cv2.dnn.DNN_BACKEND_CUDA)
net.setPreferableTarget(cv2.dnn.DNN_TARGET_CUDA)

In the above command, there is no error with CUDA , but when the code is actually executed, the GPU is not used. I don't see any difference in inference time compared to CPU. Howev

[2020-07-08 09:56] YashasSamaga commented on #17779
Please check your CMake output if cuDNN was found.

[2020-07-08 10:23] #17779 closed

[2020-07-08 10:43] mirhanu commented on #17779
It is found

[2020-07-08 11:27] alalek opened #17780 "OpenCL: G-API test `GPU.Symm7x7_test` failed"
On `windows-2` buildworker (windows-1 is not affected).

relates #17758

Error message:
[code]

[2020-07-08 11:29] DuongNo commented on #13897
@kuntelin
i was set -D WITH_NVCUVID=ON  and put nvcuvid.h to /usr/local/cuda-10.1
but when i run cmake still get
`NVIDIA CUDA:  YES (ver 10.1, CUFFT CUBLAS FAST_MATH)`
no have NVCUVID
can you give me config cmake

[2020-07-08 13:49] YashasSamaga commented on #16433
It's best if we could come up with a plan before anyone begins to write the code. There would be changes in the public API. It will have to be approved by the maintainers. This is my proposal.

A new header `#include <opencv2/dnn/cuda.hpp>` will be added which won't be included by default by `dnn.hpp`. All the CUDA specific API will be added to its own namespace in `cv::dnn::cuda`.

### proxy obje

[2020-07-08 13:54] YashasSamaga commented on #16433
There is still a problem with the above proposal. In the `imagesFromBlob` step, we are still limited to `GpuMat`'s capabilities. If we compact detection outputs to a 1D block, you would still have trouble storing the shape.

One solution would be to have member functions that return the shape in `GpuBlob` but all this will probably make the end-user's code look nasty. We could add some of `cv::Mat

[2020-07-08 13:57] libingsy opened #17781 "opencv4.1.0+cuda10.0，modules/core/CMakeFiles/opencv_perf_core.dir/all"
[ 18%] Linking CXX executable ../../bin/opencv_perf_core
cd /home/libing/mmaction/third_party/opencv-4.1.0/build/modules/core && /usr/bin/cmake -E cmake_link_script CMakeFiles/opencv_perf_core.dir/link.txt --verbose=1
/usr/bin/c++      -fsigned-char -W -Wall -Werror=return-type -Werror=non-virtual-dtor -Werror=address -Werror=sequence-point -Wformat -Werror=format-security -Wmissing-declarations -

[2020-07-08 15:37] cesarecaputi opened #17782 "fitEllipse() - error: (-215:Assertion failed)"
Hi,
I'm using OpenCV on ROS and, whenever I run the code in which I want to use the fitEllipse() function, I got this error:
cv2.error: OpenCV(4.2.0) /io/opencv/modules/imgproc/src/shapedescr.cpp:348: error: (-215:Assertion failed) n >= 0 && (depth == CV_32F || depth == CV_32S) in function 'fitEllipse'

Ubuntu version: 18.04
ROS distro: Melodic
OpenCV version 4.2.0.32

Any hint to fix this error?

[2020-07-08 16:04] ebinzacharias commented on #8139
# similar issue.

I had a file named numbers.py in the same folder. Removing this file solved my issue.

Very strange, but worked !

[2020-07-08 18:26] #17782 closed

[2020-07-08 18:26] cesarecaputi commented on #17782
I checked the length of the numpy.ndarray. It was 2 but the required one is 3.
Fixed it!!

[2020-07-08 18:31] nglee commented on #13092
I cannot reproduce this error on the latest 3.4 branch. (win10, vs2019, cuda10.2)
Although we are allowed to call `GpuMat::convertTo()` with one `GpuMat` for both input and output, it is not strictly an in-place conversion.
Inside `GpuMat::convertTo()`, it allocates device memory for result data.

[2020-07-08 18:54] chacha21 commented on #13092
As long as it does not crash, it is not a problem that it is not a real "in-place". I will check with my 4.3.0 build tomorrow

[2020-07-08 20:00] #17704 closed

[2020-07-08 20:26] scottsuhy opened #17784 "in opencv.js findTransformECC, argument inputMask is required (vs. documented optional) and does not seem to accept any input"
##### System information (version)
- OpenCV => 4.3.0 (opencv.js)
- Operating System / Platform => Windows 64 Bit
- Compiler => using Javascript

##### Detailed description

Using opencv.js (4.3.0 and tested todays build as well) findTransformECC  has 2 optional parameter (inputMask and gaussFiltSize) but if you don't include them you get an error that they are required.

I have not found a way to

[2020-07-08 21:22] rodolfobetanzos commented on #15858
I have tried to solve this and I  have not had sucess :/
I am working with a Jetson Nano with a version 5.3 for CUDA ... I have followed the next tutorial and I have obtained the same fail results.
https://www.pyimagesearch.com/2020/03/25/how-to-configure-your-nvidia-jetson-nano-for-computer-vision-and-deep-learning/

[2020-07-08 23:02] #16214 closed

[2020-07-09 00:45] jimmy7799 opened #17786 "std::vector<std::vector<Mat>> deallocator crash"
- OpenCV => 4.3
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

I have a function using dnn as following.

void func() {
  ...
  std::vector<cv::String> outputLayer;
  outputLayer.push_back("float_segments/conv");
  outputLayer.push_back("float_heatmaps/conv");
  std::vector<std::vector<cv::Mat>> outputBlobs;
  net.forward(outputBlobs, outputLayer);
  ...
}

It wi

[2020-07-09 05:38] #17774 closed

[2020-07-09 07:51] chacha21 commented on #13092
The bug (as mentionned in initial post) is still present in 4.3.0

[2020-07-09 09:42] SztakiMPLAB-CsT commented on #5836
Are there still no way to use higher YAML specification?
I don't know how exactly YAML 1.0 and 1.1 differs, but the YAML 1.0 directive doesn't works well with [out of the box YAML parsers](https://yaml.org) (except syck).

[2020-07-09 09:42] lahavy opened #17787 "Can't limit CPU threads when running DNN with inference engine and ngraph"
##### System information (version)
- OpenCV => 4.3
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

I use cv::setNumThreads(0) to run on only one logical processor.

running DNN with OCV dnn backhand works correctly.
running DNN with Inference engine works correctly.
running DNN with Inference engine and ngraph uses more than one logical processors

[2020-07-09 09:58] dkurt commented on #17787
Have you tried ` cv::setNumThreads(1) ` ?

[2020-07-09 10:28] #17775 closed

[2020-07-09 11:10] lahavy commented on #17787
Yes, it doesn't work.

Had to add a direct call to IE:
    ie.SetConfig({ { CONFIG_KEY(CPU_THREADS_NUM), std::to_string(1) } }, device_name);

[2020-07-09 11:10] #17787 closed

[2020-07-09 11:45] mnsuccess commented on #15465
getting the same error

[2020-07-09 11:56] alexanderfrey commented on #15465
This could be a integer overrun.

[2020-07-09 12:09] bencha30 commented on #15858
Jetson nano with opencv cuda will not work,  been there  done that, it won't work. Better use tensorrt if you want to speed up your inference.

[2020-07-09 12:51] angelo-peronio opened #17789 "GPU memory still allocated when fastNlMeansDenoising() returns"
##### System information (version)

- OpenCV => ~~4.1.1~~ 4.3 (installed using `vcpkg`)
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2019 version 16.6.5
- GPU => NVIDIA GeForce GTX 1050 with 4 GiB dedicated video memory
- NVIDIA driver version => 446.14

##### Detailed description

I am running `cv::fastNlMeansDenoising()` on the GPU via T-API / `UMat`s / OpenCL.

[2020-07-09 13:34] nedo99 opened #17790 "MFX: Unsupported extension"
Hi,

Running opencv installed via OpenVINO on Windows and it cannot read video. Tried several formats (MP4, AVI, etc), but still getting:
`
MFX: Unsupported extension
[ WARN:0] global opencv\modules\videoio\src\cap_msmf.cpp (680) CvCapture_MSMF::initStream Failed to set mediaType (stream 0, (352x288 @ 25) MFVideoFormat_RGB32(unsupported media type)
`
I tried installing various codecs but I still h

[2020-07-09 15:09] alalek commented on #17780
Caused by corrupted [cl_cache](https://github.com/intel/compute-runtime/blob/master/opencl/doc/FAQ.md#feature-cl_cache) on this build machine.
Resolved by resetting OpenCL cache (both OpenCL runtime + OpenCV-OpenCL cache).

[2020-07-09 15:09] #17780 closed

[2020-07-09 16:08] terfendail commented on #11022
Wide universal intrinsics are implemented for AVX2 and AVX512 architectures and are already used in core and impgproc modules.

Unfortunately there is no special documentation for wide universal intrinsics. However they were implemented in accordance with [OE-27](https://github.com/opencv/opencv/wiki/OE-27.-Wide-Universal-Intrinsics)

Actually there are just a few changes to universal intrinsics i

[2020-07-09 18:23] nglee commented on #13092
This is getting confusing. Even with Ubuntu 18.04(Jetson TX2) and the latest master branch build(4.4.0-pre), I wasn't able to reproduce the error. I've added the following googletest code to cudaarithm test codes and it seems to be working.
[code]
[code]
I'll try again with x64 machine tomorrow.

[2020-07-09 19:14] chacha21 commented on #13092
I forgot to mention that I now use CUDA 10.2 but  it is of less importance, this is still W7 64b

[2020-07-09 22:27] vrabaud opened #17792 "Initialization order fiasco in GlobalLoggingInitCall and TraceManager"
##### System information (version)
- OpenCV => 4.3 and master

##### Detailed description

This triggers address sanitizers.

In modules/core/src/logger.cpp, there is the following [static](https://github.com/opencv/opencv/blob/d0e6d2438c30edd244a62015aa5dde72be4d3aa4/modules/core/src/logger.cpp#L115):
`static GlobalLoggingInitCall globalLoggingInitCall;`

Its constructor calls [getGlobalLoggingIn

[2020-07-10 00:04] deepkak opened #17793 "opencv will not build properly in cmake, cmake/OpenCVGenSetupVars.cmake ERROR"
- OpenCV = 4.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
python 3.7

##### Detailed description

I am now building from source the opencv4.1.0 with cmake3.13. The cmake configuration gives a warning message saying:

CMake Error at cmake/OpenCVGenSetupVars.cmake:1:
  Parse error.  Expected a command name, got quoted argument with text
  "cmake.cmakePath".
Call

[2020-07-10 00:14] alalek commented on #17793
[Can't reproduce](http://pullrequest.opencv.org/buildbot/builders/master-win64-vc16).

Try latest release or code from master branch first.

There is no such text in OpenCV. It comes from CMake.
Try to upgrade CMake too.

[2020-07-10 00:24] alalek opened #17794 "Nightly(sporadic crashes): opencv_test_dnn - Test_Caffe_layers.Concat OCL_FP16"
Observed with:
- MSVS: 2019
- 64-bit
- OpenCL: 26.20.100.7262

Builds examples: [1](http://pullrequest.opencv.org/buildbot/builders/master-win64-vc16/builds/317) [2](http://pullrequest.opencv.org/buildbot/builders/master-win64-vc16/builds/413)

[code]

[2020-07-10 00:43] kuntelin commented on #13897
cmake \
    -D CMAKE_BUILD_TYPE=RELEASE \
    -D CMAKE_INSTALL_PREFIX=/usr/local \
    -D BUILD_EXAMPLES=OFF \
    -D BUILD_PERF_TESTS=OFF \
    -D BUILD_PYTHON_SUPPORT=ON \
    -D BUILD_TESTS=OFF \
    -D BUILD_opencv_python2=ON \
    -D BUILD_opencv_python3=ON \
    -D ENABLE_FAST_MATH=ON \
    -D ENABLE_NEON=ON \
    -D OPENCV_ENABLE_NONFREE=ON \
    -D OPENCV_EXTRA_MODULES_PATH=../../opencv_co

[2020-07-10 02:05] DuongNo commented on #13897
@kuntelin
thank for your reply
i follow your config cmake
and result when run cmake was have
but when i run command make -j20
i get error
`/usr/bin/ld: warning: libnvcuvid.so.1, needed by ../../lib/libopencv_cudacodec.so.4.2.0, not found (try using -rpath or -rpath-link)`

i dont understand because i was copy file libnvcuvid.so to  /usr/lib/, /usr/local/cuda-10.1/lib64,  /usr/local/lib
still not f

[2020-07-10 02:30] kuntelin commented on #13897
Run ldconfig and try again

DuongNo <notifications@github.com> 於 2020年7月10日 週五 上午10:06寫道：

[2020-07-10 03:57] toplinuxsir opened #17795 "yolov4 dnn lower performance"
##### System information (version)

- OpenCV => 4.4-pre
- Operating System / Platform => Ubuntu 20.04
- Compiler => gcc8.4
If I use opencv dnn(cuda backend) to detect with yolov4 model is 10.0 fps
If I use darknet to detect with yolov4 model is 30fps

All above tests use the same GPU

[2020-07-10 05:04] dkurt commented on #17795
Please provide all the necessary information - CUDA driver version, device. Which performance you have on CPU?

[2020-07-10 05:33] dkurt commented on #17487
Have you tried the latest master branch? Maybe build folder clean may help

[2020-07-10 05:34] dkurt commented on #17426
Closing due no response from author

[2020-07-10 05:34] #17426 closed

[2020-07-10 05:38] dkurt commented on #17407
Please try the newest releases.

Your application is a mix of native and Java code. Have you observed similar issue with other modules? Have you linked `libopencv_dnn.so`?

[2020-07-10 05:51] xjsxujingsong commented on #17487
Yes. I did try the latest version yesterday. it worked. pls close this issue.

[2020-07-10 07:31] angelo-peronio commented on #17789
It seems that declaring and copying to a small `UMat` in the loop is a viable workaround:

[code]

No more OpenCL allocation failures:
[code]

🤔

[2020-07-10 07:39] DuongNo commented on #13897
@kuntelin
thank for your help
i was build success opencv with cuda_codec but when i run code to capture image by  GPU following link:
[https://github.com/opencv/opencv/blob/master/samples/gpu/video_reader.cpp](url)

`cv::Ptr<cv::cudacodec::VideoReader> d_reader = cv::cudacodec::createVideoReader(fname);`

 i get error

`terminate called after throwing an instance of 'cv::Exception'
  what():  Open

[2020-07-10 08:01] rafale77 opened #17796 "dnn/src/op_cuda.hpp:448: error: (-11:Unknown error code -11) shape and offset provided can potentially leads to OOB access in function 'update'"
##### System information (version)

- OpenCV => 4.4pre
- Operating System / Platform => ubuntu 18.04 LTS
- Compiler => gcc 7.5
- Platform x64

##### Detailed description

running opencv dnn facial recognition model on GPU leads to this error when running the "forward" method from cv2.dnn.readNetFromCaffe:

dnn/src/op_cuda.hpp:448: error: (-11:Unknown error code -11) shape and offset provided can p

[2020-07-10 08:06] toplinuxsir commented on #17795
@dkurt  CUDA version 10.2 , The CPU performance is aobut 1 fps

[2020-07-10 08:17] chacha21 opened #17797 "Question : Shared mat and isSubmatrix()"
For performances reasons, I often need to know if a matrix is referencing another one or is self-contained. If it is a reference, I must release() it before using it as a temporary matrix to store results.

So far, I query the ->u->refcount field, but I am unhappy with such a hack.
I though that using isSubmatrix() would be the solution, but it is not.
[code]
Is there any reason why ref_org is not

[2020-07-10 08:25] YashasSamaga commented on #17795
@toplinuxsir can you show the code that measures the FPS? What device are you using?

YOLOv4 FPS on RTX 2080 Ti with 608x608 image

Darknet FP16 | OpenCV CUDA FP32 | OpenCV CUDA FP16 | tkDNN + TensorRT FP32 | tkDNN + TensorRT FP16
------------------ | ----------------------------- | ----------------------------- | --------------------------------- | ---------------------------------
57

[2020-07-10 08:45] #17487 closed

[2020-07-10 08:48] toplinuxsir commented on #17795
How to use FP16 with dnn ?

[2020-07-10 08:50] dkurt commented on #17795
`net.setPreferableTarget(DNN_TARGET_CUDA_FP16)`

see https://docs.opencv.org/master/db/d30/classcv_1_1dnn_1_1Net.html#a9dddbefbc7f3defbe3eeb5dc3d3483f4

[2020-07-10 08:53] toplinuxsir commented on #17795
@dkurt  I use python code , If I change to FP16 ,the fps up to 88 ., Maybe the python code lower the performance
Thanks !

[2020-07-10 08:54] YashasSamaga commented on #17796
Sorry for the trouble. Please try #17791

[2020-07-10 08:55] dkurt commented on #17795
@toplinuxsir, you must measured with postprocessing, right? Please take a look at https://github.com/opencv/opencv/issues/17204

[2020-07-10 08:57] DuongNo opened #17798 "Error when use cv::cudacodec::VideoReader by opencv_cudacodec with cuda 10.1, ubuntu18.04"
**System information (version)**

- OpenCV => 4.2.0
- Operating System / Platform => Ubuntu 18.04.4 LTS
- Compiler => gcc-6

**Detailed description**
- I got a Nvidia GeForce 2080.
- I installed the driver which version is 440.33.01, cuda 10.1, cudnn 7.5
- I'm was build success OpenCV with option :  BUILD_opencv_cudacodec=ON
- But there's an error while I running program use :

`cv::Ptr<cv::cudaco

[2020-07-10 08:58] toplinuxsir commented on #17795
@dkurt  Thanks , I got it.

[2020-07-10 09:09] fnoop commented on #17292
I asked this question on the forum as well:
https://answers.opencv.org/question/230199/correct-method-to-specify-mfpu-compile-flag/

It's a valid question, either it's confusing/undocumented or it's a fault in the opencv build system.  No-one can advise?

[2020-07-10 09:19] dkurt commented on #17795
Can we close it?

[2020-07-10 10:02] mshabunin commented on #17790
Duplicate of #17400

Please build the latest _master_ branch version or wait for OpenVINO 2020.4 (OpenCV 4.4.0)

[2020-07-10 10:02] #17790 closed

[2020-07-10 10:48] rmsalinas opened #17799 "SolvePnPRansac Fails because calls to solvePnP with less than 6 points"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

solvePnPRansac calls solvePnP wihch calls cvFIndExtrinsicCameraParams2 using less than 6 points.
Then, the following error is raised:
terminate called after throwing an instance of 'cv::Exception'
  what():  OpenCV(4.3.0) /home/

[2020-07-10 10:53] alalek commented on #17789
OpenCL / T-API is asynchronous API by design.
Most part of calls are usually just allocate / schedule kernels. No real processing done at this point (performed in background).

So, your first example schedules multiple tasks at once (expecting processing in parallel) which high pressure on available resources.

OpenCL synchronization points are:
- fetching data on CPU through `UMat::getMat()`. Thi

[2020-07-10 10:55] #17796 closed

[2020-07-10 11:31] toplinuxsir commented on #17795
@dkurt  Yes

[2020-07-10 11:46] angelo-peronio commented on #17789
Thank you! Everything makes much more sense now.

Sorry for asking in the wrong place, I was not understanding the symptoms I saw, and suspected a bug.

My use case: process a big `UMat` by tiling it in pieces small enough to be processed with the available GPU memory.

[2020-07-10 11:52] #17795 closed

[2020-07-10 13:37] Rudikaizan opened #17802 "Help Me ! ValueError: not enough values to unpack (expected 3, got 2)"
I experienced an error like this
anyone can help me?
  _ , contours, hierarchy = cv2.findContours(peaks8u, cv2.RETR_TREE, cv2.CHAIN_APPROX_SIMPLE)
ValueError: not enough values to unpack (expected 3, got 2)

[2020-07-10 14:17] chacha21 opened #17803 "Stitcher generates panorama smaller than input"
OpenCV 4.3.0

I am currently trying the OpenCV Stitcher on very degraded images just to check for the limits of mosaicing.
For the algorithm not to hang, I have to set the bundleAdjuster to NoBundleAdjuster,

I also set WaveCorrection to false because it is not a linear travelling

Is it expected behaviour that the pano of two images can be smaller than input ?
For two 640x480 images, the resultin

[2020-07-10 14:34] tomoaki0705 opened #17804 "CUDA: still automatic detection fails"
##### System information (version)

- OpenCV => recent master ( ff992183b2846116eebbc52a2ece5237421c75af )
- Operating System / Platform => Ubuntu 18.04 (Aarch64) Jetson Xavier
- Compiler => GCC 7.5.0
- CUDA => 1.0
- CMake => 3.10.2

##### Detailed description

#17745 always adds `/usr/bin/cc` when detecting CC automatically, which fails

[code]

I can trace back the cause to [here](https://github

[2020-07-10 14:59] alalek commented on #17804
@tomoaki0705 Could you try to run this command standalone? (to exact reason of the error, you can use `cmake --debug-trycompile` option).

`CUDA_HOST_COMPILER` variable get cached and will be used for next CMake runs.

Could you check `nvcc` invocations with enabled `-DCUDA_VERBOSE_BUILD=ON` for `ccbin` entries ?

[2020-07-10 15:18] tomoaki0705 commented on #17804
please give me some times.  I'll have a look

[2020-07-10 15:26] chacha21 commented on #17803
I have made another attempt with two other images of size 640x480. They are almost identical, but the pano is 743x27.
Is it a bug ?

![image2](https://user-images.githubusercontent.com/7251617/87170894-3ff28300-c2d2-11ea-93c4-9969808aabb4.png)

![image1](https://user-images.githubusercontent.com/7251617/87170885-3d902900-c2d2-11ea-98c8-19891291ff3c.png)

[code]

[2020-07-10 15:32] deepkak opened #17807 "opencv build error, could NOT find python2. Is this something I should be worried about?"
- OpenCV = latest version
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
--
Compiled opencv with cmake, is this error something to worry about, or can I ignore it?
Help Required
I downloaded opencv today from the master brand and I am using python 3.7.7. I have cmake 3.18.0 and I am on windows 10. I got this error after building opencv:

CMake Warning at cmake/Ope

[2020-07-10 15:39] alalek commented on #17807
Just ignore if you don't need Python 2 and Python 3 is detected properly.

[2020-07-10 18:05] mattengl2 opened #17808 "When building ALL_BUILD in VS, It infinitely loops around 25>C:"
- OpenCV = latest, downloaded from master branch here
- Operating System / Platform => Windows 64 Bit, Windows 10
- Compiler => Visual Studio 2019
- cuda 10.2.89 (could not get it to work with 11)
- cudnn 7.6.5

##### Detailed description

I downloaded opencv from source, and built it with no errors using the latest version of cmake. I opened up the ALL_BUILD.vcx.proj file in VS, hit release, and

[2020-07-10 18:56] alalek commented on #17808
CUDA compilation takes several hours with MSVS generator.

Process has progress.
25 is just a number of active MSBuild "tasks". It is not a progress.

BTW, CUDA files are compiled with MSVS in "one thread", one by one.

It is bad idea to use `BUILD_opencv_world` which increases build time significantly.

[2020-07-10 19:43] mattengl2 commented on #17808
I'll compile without opencv world. So the warnings are not a concern?

[2020-07-10 22:09] mattengl2 commented on #8039
what would be the windows solution for this? I installed opencv fine and built in in VS but having this problem as well

[2020-07-10 23:24] mnschmidt commented on #14205
You can see the actual diff here: https://github.com/opencv/opencv/pull/14206/files

[2020-07-11 02:23] rafale77 commented on #17796
Just wanted to say Thank You. It did fix it.

[2020-07-11 04:20] anon747 opened #17810 "cv2.findContours() | TypeError: Expected Ptr<cv::UMat> for argument '%s'"
cv2 version: 4.1.2
Python 3
'out' is a (512,512) binary numpy.ndarray

code:-
(contours,_) = cv2.findContours(out,cv2.RETR_TREE,cv2.CHAIN_APPROX_SIMPLE)

ERROR:-
TypeError: Expected Ptr<cv::UMat> for argument '%s'

[2020-07-11 09:10] tomoaki0705 commented on #17804
@alalek is this what you expected ?
1. output is too long so I pasted at [gist](https://gist.github.com/tomoaki0705/c4368b8808c265e270b726ce01b2ce1c)
2. Important part is extracted below
3. Trust me, I did a clean build.
4. I didn't put `CUDA_HOST_COMPILER` but FindCUDA set that variable to `/usr/bin/cc`

[code]

[code]

BTW, this output is exactly same as https://github.com/opencv/opencv/issues/1

[2020-07-11 09:28] sturkmen72 commented on #17802
contours, hierarchy = cv2.findContours(peaks8u, cv2.RETR_TREE, cv2.CHAIN_APPROX_SIMPLE)
ValueError: not enough values to unpack (expected 3, got 2)

[2020-07-11 09:30] alalek commented on #17804
Could you please dump output of these commands:
- `/usr/local/cuda/bin/nvcc -ccbin /usr/bin/cc /mnt/sd/opencv-fork/cmake/checks/OpenCVDetectCudaArch.cu --compile`
- `/usr/local/cuda/bin/nvcc -ccbin /usr/bin/g++ /mnt/sd/opencv-fork/cmake/checks/OpenCVDetectCudaArch.cu --run`

[2020-07-11 09:38] tomoaki0705 commented on #17804
Here you go @alalek
[code]
Technically, output of `7.2` doesn't have new line so lines were mixed, but that's all.  Both went well.

[2020-07-11 10:10] alalek commented on #17804
Problem comes from here: https://github.com/opencv/opencv/blob/ff992183b2846116eebbc52a2ece5237421c75af/cmake/FindCUDA.cmake#L79

and C++ code in `OpenCVDetectCudaArch.cu`.

[2020-07-11 12:48] D1vyansh opened #17814 "Is there a way to provide 1-D array of dlib points as a input to trained Tensorflow/Keras model loaded in C++ using dnn::Net net = readNetFromTensorflow(modelFile);"
##### System information (version)

- OpenCV => 4.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019
- Dlib => 19.19

##### Detailed description

I trained a tensorflow/Keras MLP model in python which takes an input of 2278 dlib facial feature points and predicts the yaw, pitch and roll of the face(Output = 3 values). I am trying to evaluate the model in C++ by load

[2020-07-11 13:48] vpisarev commented on #11007
@garybradski, Ceres should definitely be considered, but not as alternative, but rather an addition to Lapack. It's solver, as you said, not a library of matrix algorithms.

[2020-07-11 19:28] alalek opened #17815 "3.4: broken PowerPC build"
[Build](http://pullrequest.opencv.org/buildbot/builders/3_4_powerpc-64le-lin64/builds/800)
[code]

relates #17707

/cc @terfendail Should we have `v_fma()` for integer types?

[2020-07-12 02:44] komakai opened #17817 "Fix iOS documentation build"
##### System information (version)
- OpenCV => master
- Operating System / Platform => iOS
- Compiler => XCode

##### Detailed description

Build fails with:
Fatal error: Unsupported CXCursorKind: UnionDecl: file /Users/johnf/project/jazzy/SourceKitten/Source/SourceKittenFramework/ObjCDeclarationKind.swift

##### Steps to reproduce

Install jazzy (`gem install jazzy`)
Run iOS build (`./opencv/plat

[2020-07-12 03:50] Rudikaizan commented on #17802
thank you

[2020-07-12 08:56] Bleach665 opened #17819 "Memory allocation in Win/MacOS"
Win 10, OpenCV e3d502310f6ae0cad79f3474b9ea2b25705985f9.
MacOS 10.14.6.

This
[code]
code throw exception
[code]
in Windows, but works fine on the same PC in MacOS VBox.

At the time of running this code in Windows about 30 Gb RAM was free, and Windows was rebooted before run (so I think RAM was not fragmented).
10 GB RAM was provided for the MacOS virtual machine.
Processed image size is 32000 x

[2020-07-12 09:03] ZHANGWEILIN1 opened #17820 "cv2.writeOpticalFlow can not save the image into .flo format, it always return false, I don't know why, is there any special requirement on using this function?"
![image](https://user-images.githubusercontent.com/49618016/87242676-78749700-c461-11ea-9472-060b19e5746d.png)

[2020-07-12 09:05] ZHANGWEILIN1 commented on #17820
I have already make sure the array shape to be (height, width, 2) shape, but it can not save

[2020-07-12 10:41] alalek commented on #17820
Do NOT use screenshots with text information. It is ridiculous and blocks searching for similar issues.

`writeOpticalFlow` is not a part of main OpenCV API (3.x+). It is moved to opencv_contrib.
Refer to [documentation](https://docs.opencv.org/3.4.10/d2/d84/group__optflow.html#ga3675efe7822ba872243f22d7a033ddc7) for actual usage.

---

Usage questions should go to Users OpenCV Q/A forum: http://a

[2020-07-12 10:41] #17820 closed

[2020-07-12 10:42] #17802 closed

[2020-07-12 10:46] alalek commented on #17819
Please try provide reproducer using `Mat::zeros(...)` as input.
Just `SIFT::create()` doesn't throw such exceptions and doesn't know about image size.

AFAIK, Pyramid builder code trying to allocate memory for all layers as a single block.

[2020-07-12 10:53] Omar-AE commented on #17727
Kindly refer to this for details about what happened [1239](https://github.com/openvinotoolkit/openvino/issues/1239)

[2020-07-12 11:02] Omar-AE commented on #17727
I managed to have the mpcie work on another motherboard, as the first one had hardware problem. Kindly refer to 1239 for details about what happened.

Now after replacing all the string "MYRIAD" with "HDDL" in the opencv-4.3.0-openvino source code, everything worked and I was able to run my opencv dnn model on the dual Movidius mpcie. One day later, I tried to run the same thing and I had the foll

[2020-07-12 11:14] Bleach665 commented on #17819
Sorry, I carelessly copied the code. Of course it should be with DetectAndCompute:
[code]

`cv::Mat m = cv::Mat::zeros(32000, 26500, CV_8UC3);` dont raises any exception in Windows.

[2020-07-12 11:18] Bleach665 commented on #17819
Sorry, I carelessly copied the code. It should be with DetectAndCompute:
[code]

`cv::Mat m = cv::Mat::zeros(32000, 26500, CV_8UC3);` dont raises any exception in Windows.

[2020-07-12 11:32] Omar-AE opened #17821 "running my cv2 dnn model with cv2.dnn.DNN_TARGET_MYRIAD on MYRIAD cores"
##### System information (version)

- OpenCV => 4.3.0-openvino
- Operating System / Platform => ubuntu 18.04
- Compiler => python 3.6.9

##### Detailed description

I'm having the following error:
[code]
I'm using cv2.dnn.DNN_TARGET_MYRIAD. The code works using cv2.dnn.DNN_TARGET_CPU but not MYRIAD
Any idea what could be the issue?

[2020-07-12 11:43] alalek commented on #17821
Why are you [using](https://github.com/opencv/opencv/blob/4.3.0-openvino-2020.3.0/modules/dnn/src/dnn.cpp#L1080-L1090) `DNN_BACKEND_OPENCV` for MYRIAD?
Refer to [documentation](https://docs.opencv.org/4.3.0/db/d30/classcv_1_1dnn_1_1Net.html#a9dddbefbc7f3defbe3eeb5dc3d3483f4).

---

Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-07-12 11:43] #17821 closed

[2020-07-12 11:52] Omar-AE commented on #17821
I'm not using DNN_BACKEND_OPENCV.

Also, I had the previous error as a result of commenting out the following lines:
https://github.com/opencv/opencv/blob/3d50bde46e4756609606a9f76b0ab4246a3f45f1/modules/dnn/src/dnn.cpp#L1404-L1407

I know it is not right to comment them out but I did so because the first time I ran my code, it worked. After that, I suddenly had this error:
[code]
That's why I com

[2020-07-12 12:03] alalek commented on #17821
Main question is where is `setPreferableBackend(DNN_BACKEND_INFERENCE_ENGINE)` in your code.

Wrong way.

---

Please don't clone comments / issues. Keep your discussion in a single place: #17727

[2020-07-12 12:10] Omar-AE commented on #17727
@alalek
When I add setPreferableBackend(DNN_BACKEND_INFERENCE_ENGINE) to my code, it gives the following error:
[code]

[2020-07-12 13:28] nickossaf opened #17823 "HDR VideoCapture"
Is there any way to read HDR video data using VideoCapture?

[2020-07-12 18:10] dkurt commented on #17814
There is no 1D input in Keras - it's always has implicit batch dimension. So you need to pass input as 2D Mat.

[2020-07-12 18:10] #17814 closed

[2020-07-12 21:21] tripolskypetr commented on #15306
OpenCV.js@4.0.1

[code]

[2020-07-13 02:07] Forestyuting commented on #17560
I have the same problem these days,but now  need 4S for each frame when i use cuda,and the 6s when i use the cpu!the 2s is not the big progress in the inference times!so what do i do to solve this issue?

[2020-07-13 05:12] YashasSamaga commented on #17560
@Forestyuting

1. `export OPENCV_LOG_LEVEL=INFO` and run your program.
2. Does your model have depthwise convolutions?

[2020-07-13 06:08] dkurt commented on #17823
[CAP_PROP_EXPOSURE ](https://docs.opencv.org/master/d4/d15/group__videoio__flags__base.html#ggaeb8dd9c89c10a5c63c139bf7c4f5704dafb6cd2b43344f0458c13863354989623) I guess

[2020-07-13 06:24] Forestyuting commented on #17560
yep，My model is YoloV3！this reminder appeared after I closed the program

![image](https://user-images.githubusercontent.com/43668912/87276501-0b213e80-c513-11ea-9578-da179320501f.png)

[2020-07-13 06:50] mshabunin commented on #17727
@Omar-AE , since quick hack didn't help I recommend using InferenceEngine API for now, check [IE Python API reference](https://docs.openvinotoolkit.org/latest/ie_python_api/annotated.html). You will need to convert your model to IE format using [Model Optimizer](https://docs.openvinotoolkit.org/latest/_docs_MO_DG_Deep_Learning_Model_Optimizer_DevGuide.html).

We will keep this issue opened as a fe

[2020-07-13 08:20] Omar-AE commented on #17727
@mshabunin
It actually worked at some point (4 days ago). The error I'm getting above does not have anything to do with the "HDDL" or "MYRIAD". I tried replacing "HDDL" back with "MYRIAD" and the same error shows up.

[2020-07-13 08:23] StefanoD opened #17824 "Instabilities in cv::solve() on small numbers"
[signal_586_20x-full_sensor_0.17_fineFocus_.zip](https://github.com/opencv/opencv/files/4921238/signal_586_20x-full_sensor_0.17_fineFocus_.zip)

##### System information (version)
- OpenCV => 3.2.0  and 4.4 (master branch from yesterday)
- Operating System / Platform => Ubuntu 18.04
- Compiler => gcc
##### Detailed description

I'm trying to fit a signal to a parabola function and it works fine in

[2020-07-13 08:53] makolele12 commented on #7344
Same problem here with OpenCV 4.3.0 and CUDA 10.2
Does someone knows a current alternative to this? Using the CPU alternative is not feasible for me as it takes too long to compute.

[2020-07-13 09:13] enjoykcc456 opened #17825 "Issue trying to build opencv using cmake in a docker"
Hi, I have been trying to build opencv with dnn cuda in a docker but failed because of this issue.
[code]

It seems like cmake is trying to locate the cudnn.h, but it is not there. There is only libcudnn.so instead.

[code]
[code]
[code]
cmake command:
[code]

The docker image used is ibmcom/tensorflow-ppc64le:latest-gpu-py3-jupyter. I am able to use the image properly to do training with tensorfl

[2020-07-13 09:36] mshabunin commented on #17825
Header files are usually provided by `-dev` packages, e.g. _libcudnn7-dev_. Please consult with with CUDA documentation.

I'm closing the issue since there is no evidence the problem is in OpenCV.

[2020-07-13 09:36] #17825 closed

[2020-07-13 10:01] mshabunin commented on #17798
Perhaps your video format is not supported by the hardware video decoder (https://github.com/opencv/opencv_contrib/blob/6d801fca93013d96d1e3851080084120f3b8b65f/modules/cudacodec/src/video_decoder.cpp#L93-L101). Please consult with CUDA documentation.

[2020-07-13 10:01] #17798 closed

[2020-07-13 10:09] YashasSamaga commented on #17560
@Forestyuting YOLOv3 gives  120FPS on RTX 2080 TI, 11 FPS on GTX 1050 and so on. 4s is a lot. Can you share the code where you measure the time?

[2020-07-13 10:32] terfendail commented on #17815
`v_fma` is mapped to native intrinsic at least for NEON(for int32). Anyway this call could be quite convenient in several cases even if it's mapped internally to * and +

[2020-07-13 12:02] Forestyuting commented on #17560
I use Qt to run my program, and then I put a timer at the beginning and end of my program

{
    QString weightFile = "F:/QT/Deeplearn/Camera3.19/1/yolov3.weights";
    QString cfgFile = "F:/QT/Deeplearn/Camera3.19/1/yolov3.cfg";
    QString labelFile = "F:/QT/Deeplearn/Camera3.19/1/yolo_anchors.txt";

    Net yoloV3Net = readNetFromDarknet(cfgFile.toStdString(),weightFile.toStdString());

    vec

[2020-07-13 12:11] YashasSamaga commented on #17560
@Forestyuting Can you try running this standalone program for YOLOv3: https://gist.github.com/YashasSamaga/e2b19a6807a13046e399f4bc3cca3a49

What FPS do you get?

Or can you measure the time it takes for the inference? Measure the time it takes for `net.forward` to complete.

I think most of the 4s is coming from non-DNN related work.

Also, note that the first forward pass is slow. The CUDA backe

[2020-07-13 12:19] Forestyuting commented on #17560
I calculated the processing time for each time I checked the program, and then my picture was stuck, which did not achieve my purpose of using cuda, I used CUDA FPS of 20 when running
![image](https://user-images.githubusercontent.com/43668912/87303544-f316e280-c545-11ea-965e-85b8d9097b45.png)
Is there any way to increase this damn rush？Thx

[2020-07-13 12:27] YashasSamaga commented on #17560
[code]

`getPerfProfile` isn't supported by the CUDA backend yet.

I didn't understand.

This sounds more like a usage question and unlikely to be a bug or an issue with OpenCV. Please ask a question at [OpenCV Answers](https://answers.opencv.org/questions/).

[2020-07-13 12:38] Forestyuting commented on #17560
ok，thx for your kind!

[2020-07-13 14:03] poirotZhu opened #17826 "A possible bug in stereobm.cpp"
##### System information (version)
- OpenCV => 4.2
- Operating System / Platform => Linux 64 Bit
- Compiler => gcc

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

I found the parabola interpolation used in the stereobm is quite weird.
` if( 0 < mind && mind < ndisp - 1 )
{
                int p = sad[mind+1],

[2020-07-13 14:28] decadenza opened #17827 "cv2.imshow opens multiple windows with "opencv-python" package from Pypi"
##### System information
- OpenCV => 4.3
- Operating System / Platform => Debian 11 64 Bit
- Python package from Pypi (**not maintained by OpenCV team, unofficial package**)

##### Detailed description
`cv2.imshow` opens multiple windows with the same name when used with `cv2.videoCapture` and multithreading.
This it is not happening with version 4.2.

`opencv-python` issue: https://github.com/skv

[2020-07-13 15:44] decadenza opened #17828 "Inconsistent "cameraMatrix" in documentation"
##### System information (version)
- OpenCV => master

##### Detailed description
The "camera matrix" is commonly intended as a 3x4 matrix that maps a 3D point to a 2D point (image), e.g. on [Wikipedia](https://en.wikipedia.org/wiki/Camera_matrix).
Someone else, indeed, uses the term to refer to the 3x3 intrinsics camera matrix, e.g. [Stanford University slides](https://web.stanford.edu/class/cs23

[2020-07-13 17:04] ghost opened #17829 "import cv2 import error on windows despite successful build and installation"
- OpenCV = from master branch 7/10/20
- Operating System / Platform => Windows 64 Bit Win10
- Compiler => Visual Studio 2019

##### Detailed description

I successfully built opencv in the latest cmake, and then built in VS. My PC recognizes python but  does not recognize cv2. I am also adding my paths below. I installed both opencv and python in the c:\ drive.

[code]

My paths:
PYHTONPATH:
C:\Py

[2020-07-13 17:07] deepmm commented on #17829
questions never get answered there but I'll try.

[2020-07-13 17:11] alalek commented on #17829
1. You do not need to install OpenCV to try it (because there is no straightforward way to uninstall it).
2. Try to run `.\setup_vars.cmd python -c 'import cv2 as cv; print(cv.getBuildInformation())'` from build directory.

[2020-07-13 17:53] alalek commented on #17827
- How did you get OpenCV?
- How many processes do you see for your app?

[2020-07-13 17:58] catree commented on #17824
`cv::solve(X, y, b, cv::DECOMP_SVD);`

Possibly the issue comes from OpenCV using its own function for SVD decomposition? [Link to the source code](https://github.com/opencv/opencv/blob/01b2c5a77ca6dbef3baef24ebc0a5984579231d9/modules/core/src/lapack.cpp#L1078) for `cv::solve()` function.

Maybe related: #10084

You can try to:

- check with `cv::getBuildInformation()` if OpenCV is built with Lapa

[2020-07-13 18:33] catree commented on #17828
I think most of the initial terminology of this doc comes from this paper: [A Flexible New Technique for Camera Calibration, Zhengyou Zhang](https://www.microsoft.com/en-us/research/wp-content/uploads/2016/02/tr98-71.pdf). For instance by using `A` for the camera intrinsic parameters while I am seeing `K` nowadays.

I would suggest to use `camera intrinsic matrix` as in the paper instead of just `

[2020-07-13 18:54] catree commented on #17828
In my opinion, a better approach would be to define once `A`, distortion coefficients, etc. at the top of the documentation in the details section, and for the documentation of individual function to refer to them (if it is possible with doxygen with a direct link).

This would avoid copy/paste error and the need to define each time what is the camera matrix, distortion coefficients, ...

[2020-07-13 20:04] deepmm commented on #17829
is that command for windows? I'm confused, sorry.

[2020-07-13 22:07] vrabaud commented on #17792
Thx for fixing it! I confirm it works for me. Feel free to close.

[2020-07-13 22:51] #17771 closed

[2020-07-13 22:52] #17804 closed

[2020-07-13 22:52] #17792 closed

[2020-07-13 22:53] #17815 closed

[2020-07-13 23:08] bhack commented on #17545
I think instead it is useful to contribute to Opencv itself and also for IDE/github codespace integration. I.e. see https://github.com/microsoft/vscode-dev-containers/tree/master/repository-containers/github.com/tensorflow/

[2020-07-14 01:01] inyong37 opened #17833 "Import error with YOLO DNNs sample code 'object_detection.py'"
##### System information (version)

- OpenCV => 4.1.0 (my environment) but same code with master branch
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2017 (and using python with PyCharm 2018.1)

##### Detailed description

I'm studying OpenCV and computer vision deep learning with [tutorial pages](https://docs.opencv.org/master/da/d9d/tutorial_dnn_yolo.html).

So I

[2020-07-14 02:09] inyong37 commented on #17833
`os` module was imported by common.py with all, so I was mistaken and close this issue.

[2020-07-14 02:09] #17833 closed

[2020-07-14 03:46] enjoykcc456 commented on #17825
Hi, i am able to solve the cudnn issue after installing the `-dev` packages as mentioned, but i got the following issue:

[code]
The cmake command:
[code]
Does anyone knows what i did wrong and what should i do to fix this? Thank you.

[2020-07-14 04:34] enjoykcc456 opened #17835 "Issue Building OpenCV 4.3.0 in Docker (CUDA_nppc_LIBRARY (ADVANCED))"
Hi, i have the following error while trying to build opencv in a docker (ibmcom/tensorflow-ppc64le:latest-gpu-py3-jupyter).
[code]

cuda and cudnn version:
[code]

Cmake command:
[code]
Does anyone knows what i did wrong and what should i do to fix this? Thank you.

[2020-07-14 06:01] StefanoD commented on #17824
@catree

cv::getBuildInformation() delivers:

[code]

Does this bug get fixed?

BTW: The GNU Scientific Library can handle this signal without scaling. But I can't use that, because of the GPL License

[2020-07-14 06:37] WisdomPill commented on #16462
Sorry for the huge delay, I started working with `goodFeaturesToTrack` to begin with, the unit test pass, I changed one test because `test_cornerEigenValsVecs` was incomplete and resulting in bad accuracy. I still have some problems with perf tests, while I have already adapted the OCL version.

I still need to have a look at the GFTT detector.

[2020-07-14 07:39] Omar-AE commented on #17727
I downloaded an older version (commit) of the library linked in your comment, and I tried to build opencv from it. It seems to have an older version than the one that comes with openvino (I found libopencv_ml.so.3.4 in the ./build/lib directory while it is libopencv_ml.so.4.3 in the lib directory in the openvino version).

Anyway, after building opencv from the the downloaded source, I'm getting t

[2020-07-14 07:50] #17835 closed

[2020-07-14 08:43] decadenza commented on #17827
I got OpenCV via pip3 in a virtual environment, the exact version I'm using is 4.3.0.36. Should I try to build from source code?

I see only one process.

I was able to reproduce the problem also without multithreading, in a basic code like this:
[code]
It happens every time I show two or more images.
![screen](https://user-images.githubusercontent.com/30215028/87404699-63f5e300-c5b6-11ea-8bdb-6cd

[2020-07-14 08:47] decadenza commented on #17828
Yes @catree , I agree that specify camera _intrinsic_ matrix every time should be a sufficient heads up for who's starting to use OpenCV.

[2020-07-14 09:14] decadenza commented on #17734
Apart from installing codecs as suggested by @xiaose26 , I would also try to use retrieve (maybe in a separate thread loop)  + grab.
Only to test, try to put `time.sleep(10)` after `cv2.VideoCapture`, because if `ret` is False that means that the video source could be not ready (even if is opened).

[2020-07-14 11:05] imohamadhoseins opened #17837 "opencv refrencing error"
<class 'cv2.dnn_DetectionModel'> returned a result with an error set

when loading yolov4 with opencv.

[2020-07-14 12:14] dkurt commented on #17837
Please fill you issue according to the template

[2020-07-14 13:12] alalek commented on #17827
Last example works as expected (two different names - two windows)

First example is invalid:
- `video_capture` is shared between threads. It is not allowed.

---

Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-07-14 13:51] decadenza commented on #17827
Not on my configuration apparently. Still trying to understand why.

I didn't know that. I will find some alternative approach.

[2020-07-14 14:31] KacperPaszkowski opened #17838 "Batch size > 1 using dnn_DetectionModel"

[2020-07-14 19:08] Disfractal commented on #17496
Thank you for this guys! I've been trying to build with Cuda 11 CuDNN 8 for a couple days and thought it was something on my end.

[2020-07-14 19:26] jacobideum opened #17840 "In-place flip of GpuMat produces image artifacs"
##### System information (version)

- OpenCV => 4.3.0
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019/NVCC

##### Detailed description

When uploading an `Mat` to a `GpuMat` called `x`, using `cv::cuda::resize` to downscale `x` into a new `GpuMat` called `y`, and finally flipping that image along the vertical axis by passing `y` as both the `src` and `dst` argument

[2020-07-14 19:51] StefanoD commented on #17824
Update:
This signal is for several libs a challenge.
On
- OpenCV 3.2.0 with Eigen usage
- Intel MKL
- Eigen 3.3.4
I had to use the scale factor 10'000 or 10'000 on the x values and correct the scaling on the parameter again.
Only the GNU Scientific Library could handle x values with magnitude of 10^(-8).

BUT: The latest OpenCV version 4.4 pre-release from master until this [commit](https://github

[2020-07-14 20:34] catree commented on #17824
What I mentioned before is that since OpenCV uses internally its own function for SVD, there may be some issues compared to other libraries that use Lapack.

Now you said that, you should validate the results of the SVD of `X` with the different libraries. What I would do:

- dump the values of `X` in full precision into text files
- compare the SVD results with Numpy, Matlab, Eigen (or whatever r

[2020-07-14 20:37] StefanoD commented on #17824
@catree
I just updated the CSV, because I stumbled into this error. At work we have german computer and 14,78 is interpreted as 14.78. Here, at my computer, this has been interpreted wrongly. So I updated the CSV and replaced all commas with dots.

Sorry, for this inconvenience!

[2020-07-14 20:50] catree commented on #17824
This can be checked with a global search of `#ifdef HAVE_EIGEN`

Only this function in the main OpenCV repository uses Eigen functions when OpenCV is built with Eigen support:

https://github.com/opencv/opencv/blob/f0c411d8b5457ea72ee24595c759e385563ef72b/modules/core/src/lapack.cpp#L1377

---

My advice is to build OpenCV with Lapack and Eigen support:

- with MKL:
  - OpenCV should now use Lapac

[2020-07-14 21:04] StefanoD commented on #17824
That is exactly the error you could reproduce. The latter params are the correct one. If you would plot `data.positionsNm` and `fittetYValues2` in one CSV file and `data.positionsNm` and `data.signalData` into another CSV file, you would plot the graph I have shown above.
The armadillo lib could also solve this without scaling.

[code]

[2020-07-14 21:07] StefanoD commented on #17824
Numpy.polyfit() delivers the correct result without scaling.

[2020-07-14 21:16] StefanoD commented on #17824
New update:
Eigen or not Eigen, I get always this result:

[code]

[2020-07-14 21:22] catree commented on #17824
**I don't think your issue is related to OpenCV.**

You should look into the OpenCV source code. Eigen is not used in OpenCV apart for the function I mentioned above.

---

You are using only two OpenCV functions:
- `cv::norm()`
- `cv::solve(X, y, b, cv::DECOMP_SVD);`

For the latter, a quick check showed same results between MKL and internal SVD function.

Again, I would dump `X` values in full p

[2020-07-14 21:34] StefanoD commented on #17824
Btw: Just to mention: Actually OpenBLAS was installed, but not recognized on Ubuntu 20.04.

[code]
`installiert` means "installed".

Compiling OpenCV printed following:
[code]

Anyway: Thx for your help! I think this ticket can be closed.

[2020-07-15 02:20] leemaru opened #17843 "Can this cmake warning when compiling openCV be ignored? OpenCVGenSetupVars"
##### System information
- OpenCV = latest from master branch (yesterday)
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description

I looked into it and apparently this bug was fixed but it is still occurring for me. When building opencv in cmake I get this **error:**
[code]

then, when I build it WITH_CUDA (I need this) on, that error dissapears

[2020-07-15 02:44] leemaru commented on #17843
found solution: https://github.com/opencv/opencv_contrib/issues/2057#issuecomment-497488908

[2020-07-15 02:44] #17843 closed

[2020-07-15 05:51] janakg opened #17846 "openCV DNN:: cv::ocl::Queue segfault 'scalar deleting destructor' [OpenCL]"
##### System information (version) #################
- OpenCV => 4.3
- Operating System / Platform => Windows 10, 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description #################

When running a SSD-MobileNet v2 converted from Tensorflow model (pb) using the DNN module. It gives out a result and throws a segfault in the destructor.

` objectDetectionNet.setInput(blob);
  cv::M

[2020-07-15 06:08] alalek commented on #17846
Due to Microsoft specific this call destroys other threads unconditionally.
Many multi-threaded libraries (including OpenCL runtime) doesn't expect that.

OpenCV has workaround for that [here](https://github.com/opencv/opencv/blame/f0c411d8b5457ea72ee24595c759e385563ef72b/modules/core/src/ocl.cpp#L2651).
Please try to compile with debug information and check why this condition doesn't work (trigge

[2020-07-15 06:10] alalek commented on #17846
Also you can disable OpenCL subsystem through environment if you don't need it (as a workaround): https://github.com/opencv/opencv/wiki/OpenCL-optimizations

[2020-07-15 06:45] janakg commented on #17846
thanks! @alalek for the quick response.

**Two scenarios**
1. As an executable linking the opencv as a static library, the same program works fine.
2. A dynamic library by linking the opencv as a static lib, then this problem is reproducible. Our use case is node native addon.

My guess:: Windows [DLLMain documentation ](https://docs.microsoft.com/en-us/windows/win32/dlls/dllmain) is `lpvReserved`

[2020-07-15 06:56] ihg1992 commented on #14187
on ubuntu16.04 I meet this problem too,how make it works ,help

[2020-07-15 08:23] sr1jan commented on #15624
Nah, doesn't help. I am using [this](https://github.com/TadasBaltrusaitis/OpenFace) for feature extraction. Using the docker image through docker-compose. I've tried adding the ffmpeg support but it doesn't help.

[2020-07-15 09:09] Quantizs opened #17848 "Failed to load custom ONNX model"
##### System information (version)

- OpenCV => 4.4.0 pre
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description

We have a custom ONNX model wich can be load and inference with opencv 4.1.1 but currently can not do it with opencv 4.4.0 pre. We received the error below:

`OpenCV(4.4.0-pre) D:\opencv-master\modules\dnn\src\graph_simplifier.cpp:7

[2020-07-15 09:20] bixiaopeng0 commented on #14187
现在opencv4.2 dnn模块支持cuda了，速度很快。

[2020-07-15 09:43] dkurt commented on #17848
Why not to use TensorFlow representation?

[2020-07-15 10:17] Quantizs commented on #17848
We tried to freeze it earlier, but couldn't really manage to create the proper pbtxt, so we decided to choose ONNX, as it is pretty portable. It operated normally for months, now we are planning to update to OpenCV 4.4.0 and wanted make sure nothing crashes. Unfortunately we ran into this issue.

[2020-07-15 11:41] dkurt commented on #17848
Thanks for details! Please try https://github.com/opencv/opencv/pull/17849

[2020-07-15 12:38] Quantizs commented on #17848
Thank you for the fast reply! It worked! :)

[2020-07-15 12:49] toplinuxsir opened #17850 "How to use cuda to accelerate such as cvtColor resize ops ?"
How to use cuda to accelerate   such as  cvtColor resize ops ? with python language how to ?
Thanks!

[2020-07-15 14:19] zccyman opened #17852 "How to set cuda device in dnn module?"
##### System information (version)

- OpenCV => 4.3.0
- Operating System / Platform => CentOS7
- Compiler => GCC6.2

##### Detailed description

[code]

when I set gpu_id is 2, but Memory appear in GPU:0 and GPU:2. I don't know what's wrong with the code.

[2020-07-15 14:22] samjohn24 commented on #4516
I found this issue in other projects. The solution that worked for me is to force the file to be parsed to C syntax (not C++) with --language-force=C.

Hope this helps.

[2020-07-15 14:29] Omar-AE commented on #17727
Copying files and subdirectories in the build directory to the previous directory (opencv directory) solved the issue. Now I can run my model on the mpcie through opencv-4.3-openvino after building opencv from the source: https://github.com/opencv/opencv/releases/tag/4.3.0-openvino

[2020-07-15 14:45] YashasSamaga commented on #17852
I am not able to reproduce. I took [this benchmark code](https://gist.github.com/YashasSamaga/48bdb167303e10f4d07b754888ddbdcf) and added `cv::cuda::setDevice()` at the begining of `main()`. I set the device and compile. I did this four times with four different ids (1, 2, 3, 4) and the program did use four different devices.

Your code looks correct. Can you check again?

The memory allocations a

[2020-07-15 15:39] bhack commented on #15119
Check GSOC WIP at https://github.com/opencv/opencv/pull/17647

[2020-07-15 16:01] mshabunin commented on #17727
@Omar-AE , feel free to propose a PR with your changes.

[2020-07-15 18:42] #17817 closed

[2020-07-15 20:05] #17848 closed

[2020-07-15 20:36] JulienMaille opened #17854 "OpenVino 2020 - crash in ngraph.dll but only in debug"
I've been working with 2019.R3 until recently, I gave 2020.1 & 2020.2 a quick try and had issues in debug mode.
I'm now seriously trying to update to 2020.4, I was able to compile OpenCV and call inference code without problem in Release.
However in Debug I get an exception in ngraph.dll (not ngraph**d**.dll) when running the `forward()` call, here is the call stack
[code]

The misunderstanding ma

[2020-07-15 20:46] Ulysses1337 opened #17855 "Moves for basic types have copy semantics"
PR 11899 manually implemented moves for types like Point and Rect. std::move() leaves source POD values unchanged, so all this extra code has no apparent effect.

A better idiom would be e.g. `width(std::exchange(r.width, 0))`.

[2020-07-15 20:54] leemaru opened #17857 "opencv_videoio440.dll, ptthreadVC2.dll, opencv_highgui440.dll, opencv_imgcodescs440.dll was not found"
##### System information (version)
- OpenCV = latest
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description

I am using opencv for darknet. I had no problem building opencv in cmake/VS. When I built darknet and run it in the cmd prompt I got the errors **opencv_videoio440.dll, ptthreadVC2.dll, opencv_highgui440.dll, opencv_imgcodescs440.dll was

[2020-07-15 20:56] alalek commented on #17854
ngraph.dll should not be used in Debug builds. Debug/Release MSVS runtimes are not compatible.

Please check CMakeVars.txt / CMakeCache.txt for `ngraph.lib` entries.
Or grep for add ngraph-related vars and dump it here: `grep -in ngraph CMakeVars.txt` from Git Bash.

[2020-07-15 21:02] JulienMaille commented on #17854
Thank you for your reply. I was about to paste the grep result, but lost access to my remote computer. I'll finish tomorrow.
Care to tell me what I should look for?
[code]

[2020-07-15 21:13] alalek commented on #17854
Thank you for update.

Do you have `ngraphTargets-debug.cmake` file?
`ngraphd.lib` file?

---

Looks like there is no `ngraphd` usage through these variables.

Could you please dump "Inference Engine" section of CMake output? Example:
[code]

[2020-07-15 21:14] JulienMaille commented on #17854
I posted my cmake output 1sec before your message :)
BTW can I remove the legacy engine from the libs?

[2020-07-15 21:17] JulienMaille commented on #17854
No such file next to the release one in `C:\Program Files (x86)\IntelSWTools\openvino_2020.4.287\deployment_tools\ngraph\cmake`

No such file on my disk

[2020-07-15 21:36] alalek commented on #17854
Mentioned issue was closed by author if that issue.

OpenVINO related bugs should go here (including ngraph in OpenVINO): https://github.com/openvinotoolkit/openvino

---

I can confirm that it is a packaging issue of nGraph build artifacts (since OpenVINO 2020.1 at least).

As a workaround you can [build](https://github.com/openvinotoolkit/openvino/blob/2020.4/build-instruction.md) OpenVINO runti

[2020-07-16 01:19] zccyman commented on #17852
@YashasSamaga I test again. I found the problem in use 'cv::Mat blob_output = net.forward()', memory appear in GPU0 and GPU2.

[code]

[2020-07-16 01:35] zccyman commented on #17852
@YashasSamaga Maybe something is wrong with the process of tensorflow2onnx. my onnx model file is [here](https://github.com/zccyman/models/dnn).
[code]

[2020-07-16 01:44] tingfengshr opened #17859 "opencv4.3+openvino2020.1or 2020.3 crash at init_IE_plugins()"
##### System information (version)

- OpenCV => 4.3
- Operating System / Platform =>Windows 64 Bit
- Compiler => Visual Studio 2015

##### Detailed description
when i use openvino's model, it would crash at this code:

Net net = readNetFromModelOptimizer(configPath, modelPath);

and detial place to crash :

static bool init_IE_plugins()
{
    // load and hold IE plugins
    static InferenceEngine:

[2020-07-16 02:53] #17857 closed

[2020-07-16 03:00] deepkak opened #17860 "Import cv2 raises error, file in boostrap and DLL load failed"
- OpenCV = latest
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017
- Python 3.7.7

**Detailed description**

Please help, I had no luck on the opencv forum. I was able to succesfully install opencv with CUDA 10.2, but for the framework I am running it with, I needed CUDA 10.0. I am experiencing errors when importing cv2.

**Steps to reproduce**

I built opencv with

[2020-07-16 04:24] alalek commented on #17859
Stacktrace is required.
Provide details about configuration and complete reproducer steps.

[2020-07-16 04:33] alalek commented on #17860
OpenCV files don't look properly installed into Python.
Uninstall them from here.

---

Perform investigation steps from this comment: https://github.com/opencv/opencv/issues/17632#issuecomment-648098711

---

Usually this means missing `PATH` entries. Use `depends` tool to investigate the problem: https://en.wikipedia.org/wiki/Dependency_Walker

[2020-07-16 04:34] saketsneha opened #17861 "AdobeRGB to RGB without change in color"
This is more like a query.I am processing some images using opencv and the images are in AdobeRBG space , opencv is able to convert it to RGB .But thats deteriorating the image color.the later one look dull. Is there a way I can handle this case.

[2020-07-16 05:40] saketsneha opened #17862 "Handling corrupt images"
I am using  `val sourceImageMat = imread(sourceImage.toString())` to read a file in java. But for corrputed images it just prints `Premature end of JPEG file` . I can see its not an exception and that is why its not ignoring the image but processing it further. Is there a way to avoid this processing?
Have had a look at the community channel but ws not of much help.Hope you can throw some ideas ar

[2020-07-16 06:17] YashasSamaga commented on #17852
@zccyman I don't think think the model matters. Can you share your code that reproduces the problem?

And just to confirm, `GPU:1` doesn't show significant amounts of memory, right? CUDA allocates a small amount of memory on all devices.

[2020-07-16 07:36] JulienMaille commented on #17854
@alalek ok I will open an issus on openvino repository, it's quite surprising that I'm the first one to encounter this issue if the files are missing since the first 2020 release!
May I ask if there's documentation somewhere on the compilation flags related to the inference engine and if there's a way to remove support for the legacy mode?
Thank you

[2020-07-16 08:42] zccyman commented on #17852
@YashasSamaga nvidia-smi output:

| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|    0     57844      C   /tmp/236/cmake-build-release/main            105MiB |
|    2     57844      C   /tmp/236/cmake-build

[2020-07-16 09:59] KyloEntro commented on #17734
Hi,

Thanks for your reply.
How to install codecs ? I downloaded 'openh264-2.1.1-win64.dll' from cisco github and put the file near my python script.
Same issues after this step.

I tried to wait after the camera connection and same issue.

I tried to change camera settings and if the stream is set up to RTP over UDP, I have no issue to get frame. But in Multicast mode, I have this issue.
VLC can

[2020-07-16 13:49] deepkak commented on #17860
thank you

[2020-07-16 17:58] akrsrivastava commented on #7343
How come cv2.imshow() does not freeze on PyCharm, but freezes on VS Code? On Pycharm, cv2.imshow() opens in a new window without freezing Pycharm console

[2020-07-16 18:09] rockbass2560 commented on #17827
I got the same problem and I use single thread
Configuration:

- Ubuntu 20.04 LTS
- OpenCV 4.3.0
- Python 3.7.7

This is the code
[code]

And I got the next result
<img src="https://i.stack.imgur.com/G60dV.png" />

[2020-07-16 18:17] iuri opened #17864 "Error Installing OpenCV in Raspberry PI 4 Centos7 ARMV7"
##### System information (version)
Example
- OpenCV => 4.2 (the latest available on OpenCV official repos)
git clone https://github.com/opencv/opencv.git
git clone https://github.com/opencv/opencv_contrib.git

- Operating System / Platform => Centos 7 64bit
- Compiler => CMAKE3

##### Detailed description

As per tutorial https://linuxize.com/post/how-to-install-opencv-on-centos-7/
After installed

[2020-07-16 18:30] alalek commented on #17827
There is missing required check for empty/None returned frame in provided code.
Other windows shows some garbage.

Try to capture parameters details through `cv.utils.dumpInputArray()`:
[code]

[2020-07-16 19:02] StefanoD commented on #17824
@catree
Shall I close this ticket?

[2020-07-16 22:07] rockbass2560 commented on #17827
I added a validation for empty frames and I still got same error, I don't' see those methods available on opencv libraries for python. The code works perfectly fine on windows os

[2020-07-17 00:04] alalek commented on #17827
Minimal code with problem reproducer on `opencv-python==4.3.0.36`:

[code]

Sporadic shows 1-3 windows on mentioned version with bundled Qt backend:
[code]

Also see many warnings like these:
[code]

---

Can't reproduce with local build with **System Qt** (Fedora 31, `cmake -DWITH_QT=ON ...`):
[code]

Extra windows or warnings are not observed.

---

Package `opencv-python==4.3.0.36` is maintaine

[2020-07-17 00:16] zccyman commented on #17852
@YashasSamaga cudaSetDevice is success when using ‘cv::dnn::readNetFromTensorflow("../test_python_dnn/models/colorE.pb")’. all memory appeared in GPU:2.
[code]

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |

[2020-07-17 00:22] alalek commented on #17827
Package `opencv-python==4.2.0.34` doesn't have such regression.

[code]

`LD_DEBUG=files` differences:

<details>

<summary>opencv-python==4.2.0.34</summary>

[code]

</details>

<details>

<summary>opencv-python==4.3.0.36</summary>

[code]

</details>

Second variant loads (after own bundled Qt binaries):
- Qt plugins from system like `/usr/lib64/qt4/plugins/imageformats/libqgif.so`
- Qt binaries

[2020-07-17 00:27] #17762 closed

[2020-07-17 01:53] alalek opened #17869 "G-API: broken compilation of samples (winpack, MSVS 2017)"
[Nightly MSVS2017 build is broken](http://pullrequest.opencv.org/buildbot/builders/master-win64-vc15/builds/419).

[Winpack configuration](http://pullrequest.opencv.org/buildbot/builders/master_winpack-test-win64-vc15/builds/872) (samples against prebuilt binaries)

- MSVS 2017 has problem: 19.16.27035.0 (15.9.20), 19.16.27042.0 (15.9.25 - **latest**)
- MSVS 2015 is clean
- MSVS 2019 is clean (man

[2020-07-17 02:28] #17412 closed

[2020-07-17 02:30] #17664 closed

[2020-07-17 04:28] nglee commented on #13092
After increasing the GpuMat size, I see the same issue. The GPU model is RTX 2080 Ti.

[2020-07-17 05:06] saketsneha commented on #17861
@asmorkalov if you can help me with this?

[2020-07-17 06:52] asmorkalov commented on #17840
@jacobideum Thanks for the issue report. I reproduced the problem on Ubuntu 18.04 with CUDA 10.2 and GeForce 1080ti card.

[2020-07-17 06:56] asmorkalov commented on #17840
BTW, the issue is reproducible for in-place flip only. I replaced `cuda::flip(flipped, flipped, 1);` with cuda::flip(flipped, flipped2, 1); and the issue disappear. Probably flip operation is not designed for in-place processing or has some data raise in this case.

[2020-07-17 07:17] dkurt commented on #17864
CMake Error: The source directory "/usr/local/src/opencv_build/opencv/build/opencv" does not exist.

[2020-07-17 07:45] saketsneha commented on #6468
@mshabunin https://user-images.githubusercontent.com/13913807/87640179-f7204b80-c763-11ea-801d-ec484a9de65e.jpg I am facing the same issue with the image

[2020-07-17 07:47] lihaoxiang1989 commented on #16404
We come with this issue as well, did you find a way out?

[2020-07-17 08:07] alalek commented on #17840
Acceptable fix is raising an exception on such calls (there are several issues similar to this).

[2020-07-17 08:29] catree commented on #17824
@StefanoD
It is up to you.

There is an issue in OpenCV if `cv::solve(X, y, b, cv::DECOMP_SVD);` gives incorrect results while replacing the call by Eigen or GSL it gives correct results.

[2020-07-17 08:41] #17245 closed

[2020-07-17 09:23] cudawarped opened #17870 "MKL RuntimeLibrary mismatch with Intel MKL release greater than 2019 Update 5"
##### System information (version)

- OpenCV => 4.4.0-pre
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description

For all releases since Intel MKL 2019 update 5 I can no longer build OpenCV with MKL.  If I try I get the following

<details>
  <summary>build errors</summary>

[code]
</details>

I assume that Intel have changed the configuration

[2020-07-17 09:49] ihg1992 commented on #14187
thanks very much ,I will try it. 给力!

[2020-07-17 10:22] JulienMaille commented on #17854
@alalek after copying `ngraphTargets-debug.cmake` and the missing dll/lib files and running cmake I get this:
[code]

[2020-07-17 10:33] bixiaopeng0 commented on #14187
奥利给！

| |
毕晓鹏
|
|
邮箱：bixiaopeng1996@163.com
|

签名由 网易邮箱大师 定制

On 07/17/2020 17:49, ihg1992 wrote:

on ubuntu16.04 I meet this problem too,how make it works ,help
现在opencv4.2 dnn模块支持cuda了，速度很快。

thanks very much ,I will try it. 给力!

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-07-17 11:09] alalek commented on #17869
@dmatveev This is blocker for 4.4.0 release.
If there is no fix or upgrading compiler don't help then I will revert mentioned PR (deadline 15:00 UTC - 4 hours from now).

[2020-07-17 11:20] alalek commented on #17869
Compiler upgrade doesn't help.
MSVS 2017 15.9.25 (19.16.27042.0) has similar problem. Workaround is required.

[2020-07-17 12:37] agarwal-ayushi commented on #7573
@Dinesh13197 : Did you find a solution to this problem? I am integrating OpenCV with SystemC and I am facing the same issue. The def/undef solution is really ugly .

[2020-07-17 13:17] StefanoD commented on #17824
GSL and armadillo are delivering the correct result by default.
I will close this issue, because even Intel MKL and Eigen can't deliver the correct result without scaling and this is a kind of default pre-processing step which many libraries are expecting.

[2020-07-17 13:17] #17824 closed

[2020-07-17 14:32] dmatveev commented on #17869
Please contact me directly for latency < day, I do rarely check the GH notifications

[2020-07-17 14:51] dmatveev commented on #17869
@alalek tryin to fix now, gimme 10min

[2020-07-17 15:06] nglee commented on #17840
@alalek
Hi, I understand the acceptable fix. If it's okay, I would like to work on it.

[2020-07-17 16:47] mcprakash opened #17874 "Haar Cascade Issue with v4.2.0"
##### System information (version)

- OpenCV => 4.2.0
- Operating System / Platform => Ubuntu 18.04
- Compiler => Python2

##### Detailed description
##### Steps to reproduce
[code]

##### Issue submission checklist

 - [x] I report the issue, it's not a question

 - [x] I checked the problem with documentation, FAQ, open issues,
       answers.opencv.org, Stack Overflow, etc and have not found so

[2020-07-17 17:01] #17869 closed

[2020-07-17 17:20] catree commented on #17824
@StefanoD
Can you add which functions you are using to replace `cv::solve()` for GSL and armadillo?

[2020-07-17 18:00] yiwenwan2008 commented on #17795
@toplinuxsir may i ask which GPU did you test on?

[2020-07-17 19:11] alalek opened #17876 "opencv_test_core crash (Win32): Core_InputOutput.FileStorage_copy_constructor_17412"
relates #17841

Test `Core_InputOutput.FileStorage_copy_constructor_17412` [crashes](http://pullrequest.opencv.org/buildbot/builders/master-win32-vc14/builds/11232) on Win32 configuration:
[code]

Stacktrace (release):
[code]

No crash in debug builds.

Stacktrace (release+debug info):

[code]

[2020-07-17 19:44] alalek commented on #17876
`FileNode` contains pointer onto original `FileStorage` instance which is destroyed.
`FileStorageImpl` contains pointers on `FileNode` instances through the "roots" field.

This is design bug - `FileStorage*` in `FileNode` must be replaced by its pimpl `FileStorageImpl` instance (through `cv::Ptr`).

[2020-07-17 19:50] StefanoD commented on #17824
@catree
For armadillo, see this [comment](https://github.com/opencv/opencv/issues/17824#issuecomment-658412674) with two different ways.
For GSL I used `gsl_fit_linear()`. Maybe I post the GSL example on monday.

[2020-07-17 19:51] alalek commented on #17876
Valgrind can't detect issue with tests because FileStorage variables are on the stack.

This updated test code triggers "use after free" errors through valgrind.
[code]

<details>

<summary>Valgrind report</summary>

[code]

</details>

[2020-07-17 22:42] #17876 closed

[2020-07-17 22:56] twobob commented on #6550
./test
Error: OpenCV(4.2.0) /home/me/opencv-4.2.0/modules/core/src/cuda/gpu_mat.cu:116: error: (-217:Gpu API call) unknown error in function 'allocate'
0.039346

Linux, Focal Fossa, used "sudo apt install nvidia-cuda-toolkit", Gtx 980 FTW, nvidia-driver-440

Any clues?

[2020-07-17 23:01] Omar-AE commented on #17727
Sure 👍

[2020-07-17 23:37] rockbass2560 commented on #17827
I tested the code with version 3.4.10.35 and the error is the same

[2020-07-17 23:47] alalek commented on #17827
see https://github.com/skvark/opencv-python/issues/362

[2020-07-18 00:44] rgov opened #17879 "Assertion failure when accessing a video file in icvExtractPattern"
##### System information (version)

- OpenCV => 4.4.0 (from git)
- Operating System / Platform => Linux
- Compiler => Clang

##### Detailed description

When I open a video file, I get this error:

[code]

It doesn't *seem* harmful, as the program does continue running even though it claims to be an assertion failure.

##### Steps to reproduce

It's hard to tell precisely which line of code genera

[2020-07-18 00:56] alalek commented on #17879
What is video file name passed to VideoCapture?

[2020-07-18 02:59] rgov commented on #17879
It is `20170922070229477.avi`.

[2020-07-18 12:15] skvark commented on #17827
@alalek Thanks for those debug outputs. This issue cannot be fixed in OpenCV, the issue is related to Qt conflicts between the bundled Qt4 in the Python wheels and system Qt4/5 installations.

[2020-07-18 12:35] YashasSamaga commented on #17715
@zhugeliang1 Can you please try with OpenCV 4.4.0? It has a lot of new diagnostics to help identify these kinds of problems.

[2020-07-18 12:36] YashasSamaga commented on #17631
@zerovirus123 Have you solved this? If not, can you try with OpenCV 4.4.0? It has lots of new diagnostics to catch problems that lead to the kind of errors you're facing.

[2020-07-18 12:39] YashasSamaga commented on #17372
cuDNN 8 works with OpenCV now. Can we close this issue?

[2020-07-18 12:55] YashasSamaga commented on #16449
Did any of you fix this? Can you please share the locations of cudnn64.dll and cudnn.h?

[2020-07-18 12:59] YashasSamaga commented on #16074
Have any of you fixed the problem? If not, please try with OpenC 4.4.0 or above. OpenCV 4.4.0+ has better diagnostics to catch version mismatches which can often lead to these errors.

[2020-07-18 15:35] davidOua commented on #16074
Thanks for the information.

No, but in my case it was normal, because my GPU had an incompatible architecture (3.0). In reality what was abnormal is that I did not have an error in MSVS.

[2020-07-18 18:11] Rylangrayston opened #17880 "Cannot Set Call Back to Named Window - using opencv.org example code"
- OpenCV version 4.3.0
- Operating System / Platform => Ubuntu 20.04 64 Bit freshly installed and updated.
- python3

this code copied directly from the cv website (https://opencv-python-tutroals.readthedocs.io/en/latest/py_tutorials/py_gui/py_mouse_handling/py_mouse_handling.html#mouse-handling):

[code]

Fails with this error:
[code]

[2020-07-18 18:20] alalek commented on #17880
You using Pypi opencv-python* package (unofficial) with conflicted Qt binaries.
There is nothing to fix in OpenCV sources.

See #17827 and https://github.com/skvark/opencv-python/issues/356

Workaround: build from sources directly.

[2020-07-18 18:26] tadam98 commented on #17372
It works with cuDNN 8. **But**, cuDNN 8 does not support BACKEND.
So the problem is with cuDNN 8 not with OpenCV.
Until NVIDIA corrects cuDNN - best avoid it with OpenCV (Any version).
At this point the issue can be closed.

[2020-07-18 18:33] Rylangrayston commented on #17880
Thankyou alalek!

[2020-07-18 18:34] #17880 closed

[2020-07-18 21:31] edmund3333 commented on #8425
**Win10 OpenCV 4.4 with cmake-gui for WinPython 3.7 venv** (Solution for missing python3 binding)

I followed the instructions at https://jamesbowley.co.uk/accelerate-opencv-4-3-0-build-with-cuda-and-python-bindings/ and found out that python3 was unavailable for opencv

![image](https://user-images.githubusercontent.com/34584311/87861997-c6026f80-c94b-11ea-8990-67bb0409daa4.png)

beside it was av

[2020-07-19 03:16] #13938 closed

[2020-07-19 03:25] komakai opened #17881 "Add Objective-C/Swift wrappers for opencv_contrib modules"
##### System information (version)
- OpenCV => latest
- Operating System / Platform => iOS
- Compiler => Xcode

##### Detailed description

Add Objective-C/Swift wrappers for the same opencv_contrib modules as Android
(The modules are: aruco, bgsegm, bioinspired, face, img_hash, phase_unwrapping, plot, structured_light, text, tracking, xfeatures2d, ximgproc, xphoto)

This issue is for changes requ

[2020-07-19 03:30] zerovirus123 commented on #17631
Hi @YashasSamaga. I have solved the problem. I reproduced the error for you with a code snippet in issue #17672.

[2020-07-20 01:04] toplinuxsir opened #17883 "CUDA ARCH ERROR"
##### System information (version)

- OpenCV => 4.4
- Operating System / Platform => ubuntu 20.04
- Compiler => 8.4

When I use python opencv , dnn to detect , the error:
[code]
GPU : Titan RTX
Cmake options
[code]
But I compiled opencv with Cmake option -D CUDA_ARCH_BIN=7.5 successfully

[2020-07-20 01:42] tomoaki0705 commented on #17883
I'm really curious about the output of CMake.
You should have something similar to

[code]

And, CUDA/CUDNN version ?

[2020-07-20 01:50] toplinuxsir commented on #17883
@tomoaki0705

--   NVIDIA CUDA:                   YES (ver 10.2, CUFFT CUBLAS)
--     NVIDIA GPU arch:             75
--     NVIDIA PTX archs:
--
--   cuDNN:                         YES (ver 7.6.5)

[2020-07-20 01:52] tomoaki0705 commented on #17883
Does `deviceQuery` sample app from CUDA sample works on your platform ?
Sorry, can't really help.

[2020-07-20 02:02] nglee commented on #17840
The underlying npp seems to have in-place and non-in-place API. The current implementation uses non-in-place ones only. How about using the in-place API in such cases?

Example of an in-place API: `nppiMirror_8u_C1IR`
Example of a non-in-place API: `nppiMirror_8u_C1R`

[2020-07-20 03:22] alalek commented on #17840
Looks good.

[2020-07-20 03:58] Sagar1234-bhagtani opened #17886 "Open cv"

[2020-07-20 05:49] #17886 closed

[2020-07-20 05:55] asmorkalov commented on #17874
@mcprakash Could you provide reproducer code with test image, but not only cascade files?

[2020-07-20 06:35] mcprakash commented on #17874
@asmorkalov
PFA the source code along with requirements.txt
It works with opencv-python==3.3.0 but not with opencv-python=4.2.0

The cascade files are downloaded from here -> https://github.com/AlexeyAB/OpenCV-detection-models/tree/master/haarcascades
[imgTest.zip](https://github.com/opencv/opencv/files/4945890/imgTest.zip)

[2020-07-20 06:52] drriguz commented on #15567
same problem, which causes `OpenCVLoader.initDebug()` fail.

[2020-07-20 07:58] asmorkalov commented on #17874
@mcprakash I tried the attached archive with latest OpenCV and it works without crash. I added `cv2.getBuildInformation()` call to the code to ensure that proper OpenCV is used and fixed minor issues not relevant to the bug. Please try the attached code and ensure that you use proper OpenCV instance.

My system: Ubuntu 18.04
Script output:
[code]

[imgTest_updated.zip](https://github.com/opencv/op

[2020-07-20 08:00] asmorkalov commented on #17874
BTW, OpenCV team does not build and maintain packages for Pypi. It's unofficial distribution handled by people from Python community.

[2020-07-20 08:10] xiaose26 commented on #17734
first,test you can reach the rtsp url,this step need `ffmpeg`,run
[code]
if sucess,you can see this video's detail and which decoder is needed,then you can play this video with ffmpeg as follow command
[code]
if you can play video by this method,maybe you VLC missing some depend package,if not run `ffmpeg -decoders | grep 264` to see whether you have install decoders or not.

[2020-07-20 09:04] toplinuxsir commented on #17850
I compiled for windows 10 , the opencv python , cuda module has resize function,
But I compiled for ubuntu linux cuda module has no resize function ,
Which cmake option control it?
Any suggestion ? Thanks !

[2020-07-20 09:26] mshabunin commented on #17879
@rgov , this is not really an issue. OpenCV tries all VideoCapture backends in specific order, `images` backend has higher priority than `mjpeg` backend, `images` backend tries to find a number in provided filename because it assumes there is a sequence of frames in multiple files, the number is there but is too big and can not be parsed, `images` backend is skipped and next one is tried.

In most

[2020-07-20 10:09] YashasSamaga commented on #17883
This new error message was added in https://github.com/opencv/opencv/pull/17788.

7.5 should be there in `CUDA_ARCH_BIN` by default.

Is this what you got in the attempt which gives that error or the one that worked?

[2020-07-20 11:15] orangesomethingorange commented on #17519
Hi,

I wans't able to build OpenCV for the purposes I wanted to.
I eventually managed to create what I wanted, but with different tools (which are irrelevant here, so I'll spare the details).

[2020-07-20 11:15] #17519 closed

[2020-07-20 11:17] JimXu1989 opened #17891 "I got "CONFIGURATION IS NOT SUPPORTED: validate setupvars script in install directory" when I cmake opencv4.4,win10"
##### System information (version)

- OpenCV => :4.4:
- Operating System / Platform => :Windows 10:
- Compiler => :vs 2017:

##### Detailed description
When I install OpenCV 4.4 on Windows 10 by VS2017, I got this error when I use Cmake:
Registering hook 'INIT_MODULE_SOURCES_opencv_dnn': G:/opencv4.4/opencv-4.4.0/modules/dnn/cmake/hooks/INIT_MODULE_SOURCES_opencv_dnn.cmake
CMake Warning at cmake/O

[2020-07-20 12:11] 97joseph opened #17892 "Add API to enumerate camera"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues,
       answers.opencv.org, Stack Overflow, etc and ha

[2020-07-20 12:14] 97joseph opened #17893 "Proper documentation of code samples to support readability of the whole through the modules"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues,
       answers.opencv.org, Stack Overflow, etc and ha

[2020-07-20 12:34] mshabunin commented on #17892
Duplicate of #4269

[2020-07-20 12:34] #17892 closed

[2020-07-20 12:39] dkurt commented on #17893
Please check is issue is valid

[2020-07-20 12:43] mshabunin commented on #17893
@97joseph , please elaborate. Which samples do you mean?

Term ["readability"](https://en.wikipedia.org/wiki/Readability) implies there is a reader, it can not be calculated and used to objectively measure quality of code.

[2020-07-20 12:50] mshabunin commented on #17891
It's not an error it's a warning.

[2020-07-20 15:11] marcusx2 opened #17895 "There is no code sample for ground plane detection"
##### System information (version)
- OpenCV => 4.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description

I am requesting a code sample for [ground plane detection and object placement](https://www.youtube.com/watch?v=oTgc9ozukyY)

##### Issue submission checklist

 - [x] I report the issue, it's not a question
 - [x] I checked the problem wit

[2020-07-20 23:45] stereomatchingkiss opened #17897 "opencv4.4.0 dnn module cannot compile"
##### System information (version)

- OpenCV  4.4.0
- Operating System / Platform => arm64-v8a
- Compiler => ndkr18b
- Build on ubuntu18.04

##### Detailed description

Want to build opencv4.4.0 with tengine support, following is my cmake comand

[code]

than run make, every modules work except of dnn, with error messages

[code]
ps : can build with armeabi-v7a

[2020-07-21 00:07] tompollok commented on #17895
@marcusx2 Are you starting from zero or Have you researched methods (papers or git repositories) that can achieve this given monocular camera image streams?

[2020-07-21 00:53] marcusx2 commented on #17895
I am just a user of the technology. I've seen opencv be used for image tracking and facetracking, but never ground detection. Ground detection for object placement is used a lot in AR, so I decided to open an issue to request it. If it's at all possible.

[2020-07-21 03:21] JimXu1989 opened #17898 "Build error when I check "BUILD_opencv_world""
##### System information (version)

- OpenCV =:4.4:
- Operating System / Platform => :win10 64:
- Compiler => :vs 2017:

##### Detailed description

I check "BUILD_opencv_world" with cmake, cause I think it may easier to config the c++ project with that, while I meet an fatal error when I build INSTALL:

严重性	代码	说明	项目	文件	行	禁止显示状态
错误	MSB3073	命令“setlocal
"C:\Program Files\CMake\bin\cmake.exe" -DBUILD

[2020-07-21 06:25] wqysq opened #17899 "Build error when I check "cuda_compile_1_generated_gpu_mat.cu""
I have VS2015 and cuda 10.1 to build OpenCV4.3, in OpenCV.sln,the error is"严重性	代码	说明	项目	文件	行	禁止显示状态
错误	LNK2038	检测到“RuntimeLibrary”的不匹配项: 值“MT_StaticRelease”不匹配值“MD_DynamicRelease”(algorithm.obj 中)	opencv_core	G:\opencv new\cmake opencv\modules\core\cuda_compile_1_generated_gpu_mat.cu.obj	1
",but I can't find the solution，someone who can help me？ thank you！

[2020-07-21 06:55] dkurt commented on #17897
Seems to me that this is not OpenCV issue

[2020-07-21 07:53] rgov opened #17900 "Crash when loading neural network on CPU"
##### System information (version)

- OpenCV => 4.4.0-dev
- Operating System / Platform => macOS 10.15.6
- Compiler => gcc 6.5.0

##### Detailed description

I am using OpenCV's `dnn` module to process frames of a video with YOLOv4.

My host has 4 GPUs and several CPU cores. I use Python's `multiprocessing` to start many workers, and the first four workers are supposed to use the GPUs, and the res

[2020-07-21 08:00] rgov commented on #17900
If I start with fewer workers, say 15, I do not see the crash. I'd like to understand more about what resource limit this is hitting.

[2020-07-21 08:10] xuweitj opened #17901 "how to run opencv4.4 of yolov4? Have a demo?"

[2020-07-21 08:21] dkurt commented on #17901
C++: [object_detection.cpp](https://github.com/opencv/opencv/blob/master/samples/dnn/object_detection.cpp)
Python: [object_detection.py](https://github.com/opencv/opencv/blob/master/samples/dnn/object_detection.py)

[2020-07-21 08:21] #17901 closed

[2020-07-21 08:22] #17786 closed

[2020-07-21 08:22] dkurt commented on #17786
Closing due incomplete issue. Please follow the templete

[2020-07-21 08:23] #17427 closed

[2020-07-21 08:28] asmorkalov commented on #17897
I tried Android build from master with NDK 18b and everything is ok. My CMake options:
[code]

[2020-07-21 08:55] asmorkalov commented on #17900
@rgov Could you post `cv.getBuildInformation()` call output?

[2020-07-21 08:57] cissoidx opened #17902 "bug in connectedComponents."
##### System information (version)
- OpenCV => 4.2
- Operating System / Platform => Ubuntu 16.04
- Compiler => gcc

##### Detailed description
I'm using opencv-python. number of components is wrong when the targeted image is all of the same values. expected number is 1, but the output is 2. Wierdly, if the value is 0 all over the image, the output is correct.

##### Steps to reproduce
see the imag

[2020-07-21 10:03] asmorkalov commented on #17902
Repro code 1:

[2020-07-21 10:05] asmorkalov commented on #17902
Repro code 2:
[code]
Output:
[code]

[2020-07-21 10:07] asmorkalov commented on #17902
It looks like background component always exists even if there are no zero pixels in input. It leads to the issue. Not sure, if it's expected behaviour. Need to check original papers and the function usage. @vpisarev Could you comment on this?

[2020-07-21 10:24] bhack commented on #15119
@l-bat Can you ask internally if we could maintain the ONNX exporting code in a not runnable (textfile?) on the repository?
I think It could enable:
 - the standard commit/revision flow also for the exporting component
- It could be useful for developers, after merge, to easly find the reference exporting instead to search for description on the PR that introduced the new model.

[2020-07-21 10:42] mshabunin commented on #17900
It can be a problem, please check #5150

[2020-07-21 10:43] YashasSamaga commented on #17900
CUDA objects cannot be shared across contexts. Each process has its own CUDA context. Can you check if you are sharing objects across processes?

This sounds like a bug if true. No handles or streams should have been created in CPU backend.

[2020-07-21 11:44] rytisss opened #17903 "Is it possible to get 'cv::dnn::Net' input dimensions?"
- OpenCV => 4.3.0:
- Operating System / Platform => Windows/Linux
- Compiler => VS2019/gcc

Is it possible to get a neural network input size (dimension)? When I load a neural network from *.pb or *pbtxt file (Tensorflow), I can't locate the information where the input dimension is defined. However when freeze and save my model in Tensorflow (as text). I can see that it saves parameters in what di

[2020-07-21 12:31] pardeep-kesnani1234 opened #17904 "AssertionError: Failed to Export frozen_inference graph with tensorflow saved model"
##### System information (version)
- OpenCV => 4.3
- Operating System / Platform => colab linux
- Compiler => Colab compiler

##### Detailed description
hello, i am trying to export frozen inference graph with my saved model which i get while training my custom tensorflow object detection api can u please have a look towards my and error and code that where the actual problem  is

##### Issue subm

[2020-07-21 12:52] mshabunin commented on #17904
We do not support TensorFlow here.

[2020-07-21 12:52] #17904 closed

[2020-07-21 13:12] dkurt commented on #17903
Users must know the dimensions for inputs :)

Please take a look at https://docs.opencv.org/master/d3/df0/classcv_1_1dnn_1_1Model.html - it may determine input dimensions for some of the formats.

[2020-07-21 13:24] rytisss commented on #17903
Thank you for a quick response! This actually might be a useful feature to have in some development (especially models development) cases :) maybe I will check the implementation of PROTO text parse for it :)

[2020-07-21 13:24] #17903 closed

[2020-07-21 13:29] banderlog opened #17905 "OpenCV4.4.0 dnn module cannot compile: no matching function for call to 'ngraph::Node::get_output_as_single_output_node'"
##### System information (version)
- OpenCV => 4.4.0
- Operating System / Platform => Ubuntu 18.04.4 LTS x86_64
- Compiler => gcc-7.5.0, cmake-3.18.0
- Inference Engine 2020.4

##### Detailed description

Failie to compile dnn module:
[code]

##### Steps to reproduce

<details>
  <summary>Make flags</summary>

[code]

</details>

<details>
  <summary>Configuration output</summary>

[code]
</detail

[2020-07-21 14:09] dan-dan97 opened #17906 "Generating opencv packages (deb) with components naming the same as opencv modules"
##### System information (version)

- OpenCV => 3.2/3.4
- Operating System / Platform => Ubuntu 18 64 Bit
- Compiler => gcc-7

##### Detailed description

I need to use opencv compiled with cuda. But I also have many packages that depends on opencv, so it's not good idea to remove all opencv packages, packages depending on cv and compile all of this by myself.
I decided to compile opencv and to ge

[2020-07-21 14:48] ganesh-k13 commented on #17535
@alalek / @dkurt , the change would be to add `imgcodecs = {'': ['imdecode', 'imencode']}` in `platforms/js/opencv_js.config.py` and update `white_list` below? Or do we do something like `imread` in `modules/js/src/helpers.js`?

[2020-07-21 15:16] hadikoub opened #17908 "Opencv Yolo detection output inconsistent with Darknet"
##### System information (version)

- OpenCV => 4.4.0
- Operating System / Platform => Ubuntu/docker

##### Detailed description

I was trying to inference on Yolo trained model using OpenCV 4.4.0 with a python code.
The issue I had is that some image I was inferring on was giving me wrong bounding box that extends to the end of the image. that issue doesn't happen when I use the same model on dar

[2020-07-21 15:38] banderlog commented on #17905
**UPD:** I tried to use OpenCV 4.3.0, while keeping the rest of setup the same

[code]

[2020-07-21 15:46] gezabohus commented on #13000
PKG_CONFIG_PATH should contain the path the opencv pkg_config dir or some such. In my case

PKG_CONFIG_PATH=/usr/lib/x86_64-linux-gnu/pkgconfig:"$PKG_CONFIG_PATH"

helped. You might need a variation of this.

locate opencv

should help.

[2020-07-21 15:57] mshabunin commented on #17906
I guess no. For development purposes we recommend building OpenCV and installing it to local folder (e.g. `-DCMAKE_INSTALL_PREFIX=/home/<user>/opencv`), then using it by setting up the environment (`PATH`, `LD_LIBRARY_PATH`, `PYTHONPATH`, `OpenCV_DIR`). Even better way is to use Docker, nvidia-docker in your case.

[2020-07-21 15:57] #17906 closed

[2020-07-21 16:04] mshabunin commented on #17905
Which version of InferenceEngine did you use? What is your OpenCV version? Commit `e0a34f2` is not in _master_ branch.

4.3.0 does not support 2020.4, you have to use 2020.3.

[2020-07-21 16:10] dubvulture opened #17909 "CPack ignores CMAKE_INSTALL_PREFIX"
##### System information (version)
- OpenCV => 3.4.x
- Operating System / Platform => Ubuntu 16.04 arm64 (Jetson TX2)
- Compiler => GCC 5.4.0
- CMake 3.15.4

##### Detailed description

I successfully built OpenCV 3.4.x on Ubuntu 16.04 arm64 (Jetson TX2), but when I try to create the deb packages with **CPack**, the supplied `${CMAKE_INSTALL_PREFIX}` is ignored and the default `/usr` folder is use

[2020-07-21 16:12] mshabunin commented on #17535
Correct me if I'm wrong, but I thought that OpenCV for JS is built without libpng/libjpeg/... support. Why not use built-in API for this? E.g. [Canvas API for encoding](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL).

[2020-07-21 16:17] mshabunin commented on #17909
I believe you should use different variables for CPack: https://cmake.org/cmake/help/v3.0/variable/CPACK_PACKAGING_INSTALL_PREFIX.html

[2020-07-21 16:17] #17909 closed

[2020-07-21 16:35] mshabunin commented on #17908
I don't see differences between two images, did you posted same image twice? Please, add original image as well.

[2020-07-21 17:19] rgov commented on #17900
The only operation that OpenCV does before the workers are spawned is load a video to determine the number of frames, then it closes and destroys the instance. I do not touch the CUDA API. But if any global variables are initialized inside OpenCV at that point then it is possible it causes an issue.

I will keep this in mind and refactor to load OpenCV separately in each worker, and see if it does

[2020-07-21 17:22] hadikoub commented on #17908
@mshabunin  I'm sorry I've uploaded the  wrong image twice.
I've edited the issue and uploaded the darkness detector image

[2020-07-21 18:05] banderlog commented on #17905
My build attempts:

| OpenCV | IE     | Build | Error                                                               |
| ---    | ---    | ---   | ---                                                                 |
| 4.4.0  | 2020.4 | -     | `ngraph::Node::get_output_as_single_output_node`                    |
| 4.4.0  | 2020.3 | +     | -

[2020-07-21 18:29] rgov opened #17910 "cv2.cuda.merge returns host memory, not device memory"
##### System information (version)

- OpenCV => 4.4.0-dev
- Operating System / Platform => macOS 10.15.6
- Compiler => gcc 6.5.0

##### Detailed description

`cv::cuda::split` and `cv::cuda::merge` seem to be complementary functions. The documentation for the analogous `cv::merge` says "The function `cv::split does` the reverse operation."

However I am getting back host memory rather than a `GpuM

[2020-07-21 19:50] rgov opened #17911 "Disparity between CUDA and core morphology APIs"
##### System information (version)

- OpenCV => 4.4.0-dev
- Operating System / Platform => macOS 10.15.6
- Compiler => gcc 6.5.0

##### Detailed description

The core API provides `cv::getStructuringElement()` and `cv::morphologyEx()`. However the CUDA module provides` `cv::cuda::createMorphologyFilter()` which seems to be an API that was removed from core.

Could this disparity be resolved so tha

[2020-07-21 20:05] pfeatherstone commented on #17535
You can indeed use canvas but that seems silly when encoding/decoding are simple vec2vec functions. It seems overkill to create a Dom element to do that. There are libraries like jpegasm which compile C libraries to asm using emscripten. So there is a motivation to do the same in opencv.js.

[2020-07-21 20:14] chacha21 opened #17912 "Why is there no cv::mulAdd() ?"
Considering the performance of fma instructions, why is there no cv::mulAdd() function in OpenCV ?
convertTo() is an option thanks to alpha and beta parameters, but does not support cv::Scalar(), while functions of the family of cv::add() do

[2020-07-21 21:12] rgov commented on #17910
If a destination is provided it will use it, but this seems inconsistent with other APIs.

[2020-07-21 21:50] mshabunin commented on #17912
[addWeighted](https://docs.opencv.org/3.4/d2/de8/group__core__array.html#gafafb2513349db3bcff51f54ee5592a19), [scaleAdd](https://docs.opencv.org/3.4/d2/de8/group__core__array.html#ga9e0845db4135f55dcf20227402f00d98), [gemm](https://docs.opencv.org/3.4/d2/de8/group__core__array.html#gacb6e64071dffe36434e1e7ee79e7cb35)?

[2020-07-21 22:04] mshabunin commented on #17910
I believe this is designed behavior:

https://github.com/opencv/opencv_contrib/blob/5fae4082cc493efa5cb7a7486f9e009618a5198b/modules/cudaarithm/src/cuda/split_merge.cu#L136

Resulting image will be downloaded to host memory unless `GpuMat` was provided for output.

https://github.com/opencv/opencv/blob/dca657a2fde42a1c70c55881bfd128b6567a5946/modules/core/src/cuda_gpu_mat.cpp#L392-L408

`split` ha

[2020-07-21 22:15] NatGr commented on #16449
As found out by
https://github.com/opencv/opencv/issues/16380#issuecomment-638099242

downgrading to python 3.6 solved the issue for me (don't ask me why).

[2020-07-21 22:24] mshabunin commented on #17905
I've been able to build OpenCV@[4.4.0](https://github.com/opencv/opencv/commit/c3bb57afeaf030f10939204d48d7c2a3842f4293) with DLDT@[21e092](https://github.com/openvinotoolkit/openvino/commit/21e092122f4312439a8436eeebb566a31b4fa818) ([releases/2020/4 branch](https://github.com/openvinotoolkit/openvino/commits/releases/2020/4), 1 commit behind [2020.4 release](https://github.com/openvinotoolkit/ope

[2020-07-22 04:20] ganesh-k13 commented on #17535
@mshabunin / @pfeatherstone wont it be better if we use the native code and use a wrapper to call it like [this](https://github.com/opencv/opencv/blob/e2a5a6a05c7ce64911e1e898e986abe8dd26cab6/modules/js/src/core_bindings.cpp#L674)

[2020-07-22 06:37] mcprakash commented on #17874
@asmorkalov Thanks. Yes, I can confirm that the latest build using src code works w/o errors.
Closing the issue.

[2020-07-22 06:37] #17874 closed

[2020-07-22 06:37] chacha21 commented on #17912
But none of them has the same operand versatility about "input array or a scalar", and that do not care about the number of channels
I miss a mulAdd(src1, src2, src3, dst) such that dst := src1*src2+src3 with
src1 first input array or a scalar.
src2 second input array or a scalar.
src3 second input array or a scalar.

[2020-07-22 06:38] asmorkalov commented on #17908
@hadikoub What about original image?

[2020-07-22 07:08] asmorkalov commented on #17902
Related patch: https://github.com/opencv/opencv/pull/17913

[2020-07-22 07:09] pfeatherstone commented on #17535
I guess to do this, you would have to build libpng and libjpeg using emscripten, or whatever opencv.js is built with. There are loads of libraries that do this. Some of the PNG and JPEG libraries for javascript/node use asm instead of pure typescript. We can knock this idea on the head and say it's too faffy in which case we can close the issue.

[2020-07-22 07:21] ganesh-k13 commented on #17535
Oh I see. Or we could do a version of @mshabunin and yours but use some other library for libpng and maintain a version of imdecode and encode in core_bindings.cpp

[2020-07-22 07:42] hadikoub commented on #17908
this is the original image
this is happening especially when the object is to the right of the image, the output of the bounding box will always stretch to the end of the image

![Cappuccino-6659sak](https://user-images.githubusercontent.com/31547256/88148849-82379080-cbff-11ea-827e-6df391540453.jpg)

[2020-07-22 07:51] HuguesdeF commented on #16833
Hello,
I am facing the same issue. But I don't get how you solved the problem, meaning how the issue you found is related to using IPP or not with Pytorch.
Thank you !

[2020-07-22 08:00] dkurt commented on #17908
Have you tried to run an origin sample [object_detection.py](https://github.com/opencv/opencv/blob/master/samples/dnn/object_detection.py)? Please post command line and results.

[2020-07-22 08:02] dkurt commented on #17905
You need to specify Inference Engine version manually: `-DINF_ENGINE_RELEASE=2020030000` (for OpenVINO 2020.3 and similar for others).

[2020-07-22 08:23] MrModez opened #17914 "Error in function computeShapeByReshapeMask, when loading official ONNX model (mask-rcnn)"
##### System information (version)
- OpenCV => 3.4.11
- Operating System / Platform =>Windows 7 64 Bit
- Compiler => clang-cl

##### Detailed description

When I load ONNX model with OpenCV DNN module I get this error:
OpenCV(4.3.0) D:\Git\opencv\modules\dnn\src\layers\reshape_layer.cpp:133: error: (-5:Bad argument) Copy dim[3] (which has zero size) is out of the source shape bounds in function 'c

[2020-07-22 08:45] sturkmen72 commented on #16833
@HuguesdeF could you provide reproducer code and image

[2020-07-22 08:47] hadikoub commented on #17908
I've tried to run the object_detection.py but I got no result at all
I was using yolov3.weights from the original repo trained on coco dataset and also the cfg file from the same repo
https://github.com/pjreddie/darknet/blob/master/cfg/yolov3.cfg
https://pjreddie.com/media/files/yolov3.weights

the command I ran is :
[code]

the image I got is:

![Screenshot from 2020-07-22 10-42-46](https://user-

[2020-07-22 08:57] MrModez commented on #17243
Having the same issue, currently running 3.4.11 version

[2020-07-22 09:00] dkurt commented on #17908
This is incorrect usage. Model input has different resolution (416x416) and you need to specify scale factor (0.00392). Alternative way is to use an alias:

[code]
This is the resulting image I got:

![res](https://user-images.githubusercontent.com/25801568/88157012-e283fd80-cc12-11ea-9aa1-e7c5859385ee.png)

[2020-07-22 09:05] hadikoub commented on #17908
this worked for me. but my question is how did you choose the scale factor?
also are you using the cfg config with `width=416` and `height=416`

[2020-07-22 09:30] #17908 closed

[2020-07-22 09:31] dkurt commented on #17908
Scale factor is defined in Darkner framework to train YOLO (inputs has [0, 1] data range). Yes, I've tried 416x416 config file.

[2020-07-22 09:33] dkurt commented on #17914
Please try the latest release

[2020-07-22 10:46] niuwenju opened #17915 "error when Compiling opencv4.4"
##### System information (version)
- OpenCV => 4.4
- OpenCV-contrib => 4.4
- Operating System / Platform => Ubuntu18.04 64 Bit
- Compiler => make

i have successfully get the makefile by
`cmake -D CMAKE_BUILD_TYPE=Release     -D CMAKE_INSTALL_PREFIX=/usr/local     -D OPENCV_EXTRA_MODULES_PATH=../../opencv_contrib/modules     -D OPENCV_GENERATE_PKGCONFIG=YES     -D WITH_1394=OFF ..`

but when compi

[2020-07-22 11:14] MrModez commented on #17914
Same error:
OpenCV(4.4.0) D:\git\opencv\modules\dnn\src\layers\reshape_layer.cpp:133: error: (-5:Bad argument) Copy dim[3] (which has zero size) is out of the source shape bounds in function 'computeShapeByReshapeMask'

[2020-07-22 11:18] mshabunin commented on #17915
`make: *** [all] Error 2` is not a real error message, check your log for actual error message returned by compiler.

[2020-07-22 11:40] MrModez commented on #17243
Getting a new error on 4.4.0 version:
`OpenCV(4.4.0) D:\git\opencv\modules\core\src\matrix_wrap.cpp:772: error: (-215:Assertion failed) (flags & FIXED_TYPE) != 0 in function 'type'`

[2020-07-22 12:01] mshabunin commented on #17914
Reproduced with latest _master_ branch version. Marking it as a feature request because support for this network was tested only for TensorFlow format.

[2020-07-22 12:50] banderlog commented on #17905
I think that I found an error. I somehow messed up with `-D INF_ENGINE_RELEASE` value.

OpenCV was successfully merged with `-D INF_ENGINE_RELEASE=2020040000` in clean environment and threw above described error when `-DINF_ENGINE_RELEASE=2020030000 `.

Is there a way or place where one could look for appropriate value in dldt code? It would help to avoid errors like this.

[2020-07-22 13:16] dkurt commented on #17905
We wish it can be possible :) We need to ask IE team to add version flags which can be exported from `InferenceEngineConfig.cmake`

[2020-07-22 13:18] #17905 closed

[2020-07-22 13:58] bekor opened #17917 "Unspecified error (Number of input channels should be multiple of 3 but got 50) in cv::dnn::ConvolutionLayerImpl::getMemoryShapes"
##### System information (version)
- OpenCV => 4.4.0-pre
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description

We trained a keras model with tensorflow 2.0.0 for colored image classification and we converted it with tf2onnx.convert into an onnx.
Our test using onnxruntime and with that the onnx model is loading and working.
But we want to use

[2020-07-22 14:06] dkurt commented on #17917
Can you print network input shape?
[code]

[2020-07-22 14:34] bekor commented on #17917
The shape is: `1 x 3 x 50 x 50`

We can't freeze our model, to create a pbtxt file next to our pb files.
Also onnx is interoperable and portable.

[2020-07-22 14:39] dkurt commented on #17917
Ok, I see. Actually, it's OK to just freeze the model - `pbtxt` is optional (see https://github.com/opencv/opencv/wiki/TensorFlow-text-graphs). So, let's try to fix ONNX model anyway.

[2020-07-22 14:43] Rm1n90 opened #17918 "cv2.cuda_GpuMat"

[2020-07-22 18:05] #17918 closed

[2020-07-22 20:18] BrainFeverMedia commented on #17291
macOS 10.15.5  -  Xcode 11.5. -  OpenCV 4.4.0
Trying to run this. Everything works until the last step:
xcodebuild -create-xcframework...
error: binaries with multiple platforms are not supported 'build/xcframework/libopencv-x86_64-maccatalyst.a'

[2020-07-22 20:32] chrisballinger commented on #17291
@asmorkalov This issue should be reopened, because although the previous PR #17304 mentions this issue, it doesn't fully solve the problem.

[2020-07-22 20:39] chrisballinger commented on #17291
@BrainFeverMedia Make sure you're not accidentally compiling for x86_64 macOS instead of x86_64 iOS simulator. I believe the above error is referencing that you can't have a single xcframework that contains macOS and iOS platform support.

[2020-07-22 20:52] BrainFeverMedia commented on #17291
@chrisballinger Thanks for following up. This shouldn't be the case. I followed the steps above, including setting BaseSDK to iOS in the build-x86_64-iphonesimulator/OpenCV.xcodeproj project.

[2020-07-22 21:13] beew opened #17920 "Opencv compiled but many test errors"
Opencv 3.4.11
Operating system Ubuntu16.04
compiler gcc 5.4.0
cuda 10.0 Nvidia-418
graphic card Nvidia GTX1070
cmake 3.17

I compiled opencv from source, it built without error but many tests failed. First attempt with cuda enabled. $PREFIX and $PYPREFIX are environmental variables that specified where opencv is to be installed and where python3 libraries are
[code]
35/114 tests failed

[code]

Th

[2020-07-23 03:22] ouening opened #17921 "Failed to load onnx files exported from torchvison model(inception, googlenet, shufflenet, squeezenet)"
##### System information (version)

- OpenCV => 4.4
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description

##### Steps to reproduce

I tried to use cv2.dnn module to load pretrained model using pytorch. But some errors happened. My code is :
[code]

The result is
[code]
In my experiments, **shufflenet, squeezenet, googlenet and inception** can

[2020-07-23 05:56] Linranran commented on #15465
got the same error!
python3.8
opencv3.4

[2020-07-23 06:04] ganesh-k13 commented on #17535
Ok so people are asking for this: [Answers](https://answers.opencv.org/question/227163/imencode-in-opencvjs/), [SO](https://stackoverflow.com/questions/61751810/opencv-js-mat-imencode) and even a [workaround](https://stackoverflow.com/questions/61477860/cvimdecode-an-image-from-js-to-c-opencv-emscripten).

Couple of things I found out there:
- [CamanJS](http://camanjs.com/) or [JIMP](https://githu

[2020-07-23 06:11] dkurt commented on #17917
@bekor, It seems to me that this is a problem inside `tf2onnx.convert`. According to [Netron](https://github.com/lutzroeder/netron) visualization there is redundant transposition which require NHWC input:

![image](https://user-images.githubusercontent.com/25801568/88256614-7366e180-ccc4-11ea-92c7-c3fdc2944ea1.png)

[code]

So you may try to eliminate this Transpose or pass NHWC

[2020-07-23 07:16] pfeatherstone commented on #17535
I would do something like this: https://github.com/gchudnov/jpeg-asm. It requires a small C, C++ wrapper then a JS binding.

[2020-07-23 07:18] ganesh-k13 commented on #17535
Yeah both CamanJS and JIMP are using jpeg-asm.

[2020-07-23 07:29] pfeatherstone commented on #17535
Oh sorry. I should have looked closer.

[2020-07-23 08:38] #15499 closed

[2020-07-23 09:18] mshabunin commented on #17535
As I understand there are two problems to be solved: 3rdparty image codec libraries are not compiled for JS (libjpeg, libpng) and `vector<>` type is not supported by current wrapper mechanism.

[2020-07-23 09:21] dongliya opened #17923 "opencv 4.4.0 compile error"
OpenCV => 4.4.0
 Operating System / Platform => Ubuntu 18.04
 Compiler => cuda 10.2

 error: identifier "createTextureObjectPitch2D" is undefined
1 error detected in the compilation of "/tmp/tmpxft_0000486a_00000000-6_canny.cpp1.ii".
CMake Error at cuda_compile_1_generated_canny.cu.o.RELEASE.cmake:281 (message):
  Error generating file
  /home/boon/Source/opencv/opencv-4.4.0-openvino/build/modules

[2020-07-23 09:24] #17923 closed

[2020-07-23 09:25] pfeatherstone commented on #17535
With regards to compiling for JS, the way to do it is to write two small wrapper functions in C (```encode```, ```decode```), then write a small JS wrapper with the emscripten boiler plate code, as is done in jpeg-asm. So this is already done for jpeg and with a bit of googling i'm sure someone has done it for png, otherwise it shouldn't be hard.
If vector<> is not allowed, then we have to be grow

[2020-07-23 09:25] asmorkalov commented on #17840
Contrib: https://github.com/opencv/opencv_contrib/pull/2612

[2020-07-23 09:25] asmorkalov commented on #17840
3.4: https://github.com/opencv/opencv/pull/17863

[2020-07-23 09:26] #17840 closed

[2020-07-23 09:27] pfeatherstone commented on #17535
We might find it's easier to just use JIMP and not bother putting it in opencv.js. Essentially it becomes syntactic sugar using cv.imencode and cv.imdecode.

[2020-07-23 09:28] mshabunin commented on #17291
@BrainFeverMedia , please create a new issue with all the required information: platform, SW versions, command lines, log/stdout excerpts.

[2020-07-23 09:29] ganesh-k13 commented on #17535
I agree, can we use JIMP? From a user perspective they'll have a somewhat native feel by doing `cv.imdecode`.

[2020-07-23 09:32] pfeatherstone commented on #17535
Need to check that JIMP actually has easy functions like ```encode``` and ```decode``` for multiple codecs, preferably with a synchronous API like opencv.js. If not, then this issue is still relevant.

[2020-07-23 10:03] mshabunin commented on #17920
Not all tests will pass on all possible platforms. There is supported subset of tests and platforms which are checked for each new change: https://pullrequest.opencv.org/#/summary/opencv

[2020-07-23 10:03] #17920 closed

[2020-07-23 10:15] ayicherry opened #17924 "errors occurred when cmake opencv4.4 with gpu"
- OpenCV = 4.4
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2017

Use cmake3.15，opencv4.4 with CUDA，VS 2017.
when Configure,
CMake Error at cmake/OpenCVModule.cmake:354 (message):
  Duplicated modules LOCATIONS has been found
Call Stack (most recent call first):
  cmake/OpenCVModule.cmake:371 (_assert_uniqueness)
  modules/CMakeLists.txt:7 (ocv_glob_modules)
I hav

[2020-07-23 10:16] mshabunin commented on #17912
Perhaps it can be implemented as an inline/header-only function which would redirect calls to the corresponding lower-level routine depending on input types.

[2020-07-23 10:18] mshabunin commented on #17924
Please provide detailed information about your opencv and opencv_contrib version, command lines and output.

[2020-07-23 11:12] mshabunin commented on #13092
Perhaps this issue is similar to #17840 which have been resolved by using CUDA function designed for in-place processing.

[2020-07-23 12:24] AlexHAHA opened #17926 "opencv make error in jetson tx2 ubuntu16.04"
[  7%] Building CXX object 3rdparty/carotene/hal/carotene/CMakeFiles/carotene_objs.dir/src/common.cpp.o
In file included from /usr/local/include/ceres/jet.h:167:0,
                 from /usr/local/include/ceres/internal/autodiff.h:145,
                 from /usr/local/include/ceres/autodiff_cost_function.h:132,
                 from /usr/local/include/ceres/ceres.h:37,
                 from /home/

[2020-07-23 12:34] ffolch opened #17927 "infinite loop in kdtree::medianPartition"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues,
       answers.opencv.org, Stack Overflow, etc and ha

[2020-07-23 12:37] ffolch commented on #17927
When I choose kdtree algorithm for knearest Machine Learning algorithm, and I train, I have problems.
Sometimes I get an exception launched by CV_Assert(std::abs(more - less) <= 1);
SOmetimes I enter an infinite loop

![image](https://user-images.githubusercontent.com/67410872/88286959-e470be00-ccf1-11ea-8876-f19f63147c31.png)

Version of opencv is 4.4
Platform is Windows 10
I use the already comp

[2020-07-23 12:41] mshabunin commented on #17927
Please add a minimal code and data for reproducing the problem.

[2020-07-23 12:46] mshabunin commented on #17926
Please add more information: command line, cmake output

[2020-07-23 13:56] Zrufy commented on #17562
How you solve this problem?

[2020-07-23 14:24] bekor commented on #17917
Hi, I tried to eliminate the Transpose during model conversion, but I can't.
I tried specifying the order of the input for the tf2onnx converter but, they are not supporting NCHW.

I also tried to use the keras2onnx, but the model init (`cv::dnn::readNetFromONNX('model.onnx')`) fails with this error :
[code]

I used this for creating the onnx:
[code]

Also went a few round with loading the saved_m

[2020-07-23 20:08] BrainFeverMedia opened #17929 "Mac Catalyst - xcframework support"
##### System information
OpenCV => 4.4.0
Operating System / Platform => macOS Catalina 10.15.5
Compiler => Xcode 11.5 and Xcode 12 beta3

##### Detailed description
I'm trying to build a Mac Catalyst app using OpenCV. Xcode builds a Mac Catalyst app using the iOS SDK for architecture x86. A Catalyst app looks like an iPad app running on a Mac.
Catalyst requires frameworks to be an xcframework. App

[2020-07-23 20:50] sl-sergei commented on #17516
@HannibalAPE Could you please provide your pytorch/onnx version? I can reproduce your issue, but I have more problems with loading the same example

[2020-07-23 21:55] chrisballinger commented on #17929
My guess is that the recent changes in the Swift/Obj-C wrapper PR https://github.com/opencv/opencv/pull/17165 may have made the prior steps no longer functional.

If you do `lipo -i libopencv-x86_64-maccatalyst.a` do you see an arm64 slice instead of x86_64?

[2020-07-24 00:06] BrainFeverMedia commented on #17929
@chrisballinger Non-fat file: libopencv-x86_64-maccatalyst.a is architecture: x86_64

I'm not sure if building for catalyst is going to produce Mac arm64 binaries. That's going to be a different target "My Mac (Designed for iPad)". Build once for arm64 for iOS and arm Macs.
This could change of course. A lot of moving targets.

[2020-07-24 01:00] ivder commented on #16404
@lihaoxiang1989 Nope, still waiting for the OpenCV developers' response

[2020-07-24 02:33] huang443765159 opened #17930 "Linux 下3.4.3应该下载哪个压缩包？？"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues,
       answers.opencv.org, Stack Overflow, etc and ha

[2020-07-24 02:55] HannibalAPE commented on #17516
@sl-sergei
PyTorch == 1.5.0
ONNX == 1.7.0

You may need to install **onnx-simplifier** by pip,
and run
[code]
after creating the ONNX file. Then, load it in OpenCV.

By the way, do you want to load ASTER in OpenCV?

[2020-07-24 03:30] akineeic opened #17931 "[DNN] Error when read ResNet101_DUC_HDC model for semantic segmentation"
##### System information (version)

- OpenCV => 4.3.0
- Operating System / Platform => ubuntu 18.04 64bit
- Compiler => python

##### Detailed description
I'm trying to write an semantic segmentation with dnn module in opencv. I tried the models mentioned in the [wiki](https://github.com/opencv/opencv/wiki/Deep-Learning-in-OpenCV), but the ResNet101_DUC_HDC can't be read correctly by dnn module.

[2020-07-24 06:38] ffolch commented on #17927
The code is this one:

trainingData = cv::ml::TrainData::loadFromCSV(filenameStr, 0, 4, 5);  //the csv file is the attached one

trainData->setTrainTestSplitRatio(0.75);

…
   cv::Ptr< cv::ml::KNearest> model = cv::ml:: KNearest::create();
   model->setAlgorithmType(2);
   model->setDefaultK(3);
   model->setIsClassifier(1);
   model->setEmax(1);

   model->train(trainData);

And in this case I go

[2020-07-24 06:42] lzcchl opened #17932 "It support yolov4-tiny now in opencv4.4.0 (test successed in 2020-07-24)?"
I saw the previous comment that ‘yolov4-tiny’ was not supported for the time being, but that comment was 20 days ago. Has ‘yolov4-tiny’ been successfully supported now? Because I ran it successfully...

[2020-07-24 06:49] ffolch commented on #17927
You don’t have to change anything to enter an infinite loop, just try several times ( perhaps because of the randomness of the Shuffle)
Now I entered it: one cpu kernel is at 100%
[cid:image001.png@01D66197.45D325F0]

If I put a breakpoint in MedianPartition,(in kdtree.c file)  it stops there:

[cid:image002.png@01D66197.45D325F0]

Thanks in advance

Francesc Folch

=========================

The

[2020-07-24 07:23] #17930 closed

[2020-07-24 07:32] mshabunin commented on #17929
There is `--legacy_build` option in `build_framework.py` script, please try it.

[2020-07-24 07:34] berak commented on #17927
related: #11877 #8917

[2020-07-24 07:37] mshabunin commented on #17932
Yes it is supported since 4.4.0 and 3.4.11

[2020-07-24 07:37] #17932 closed

[2020-07-24 07:41] mshabunin commented on #17927
Yes, it's a duplicate of #11877 and #8917

[2020-07-24 07:41] #17927 closed

[2020-07-24 08:15] eakey opened #17933 "qr position can be detected, but not decoded"
##### System information (version)

- OpenCV => 4.4
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

[
![1](https://user-images.githubusercontent.com/4612971/88372792-2e78a300-cdc9-11ea-9aff-7f5028678a7f.jpg)
](url)

	cv::Mat matQr = cv::imread("d://1.jpg");
	cv::Mat matQrBox, matQrRectifiedImage;
	cv::QRCodeDetector qrcDecoder = cv::QRCodeDetector::QRCodeDetector(

[2020-07-24 08:18] eakey commented on #17933
![1](https://user-images.githubusercontent.com/4612971/88372871-5536d980-cdc9-11ea-9abb-c4dfcd1462ea.jpg)

[2020-07-24 08:46] jacobowitz opened #17934 "DNN model crashes on detect for Yolo with CUDA backend"
##### System information (version)
- OpenCV => 4.4
- Operating System / Platform => Ubuntu 18.04 64 Bit and Ubuntu 18.04 Arm64
- Compiler => gcc
- Nvidia driver = 440.82
- Cuda = 10.2

##### Detailed description

I get a segmentation fault when using the [**DNN detection model**](https://docs.opencv.org/master/d3/df1/classcv_1_1dnn_1_1DetectionModel.html) detect function from **Python** 3.6. This

[2020-07-24 09:00] dkurt commented on #17917
@bekor, please try something like
[code]
so just perform input preprocessing manually (or just take a look at blobFromImage import implementations and copy without transposition process).

[2020-07-24 09:46] rafcy opened #17935 "tiny Yolov3 slower than before"
System : Nvidia Jetson Nano
OPENCV : 4.4 build from source

I test my code for object detection using tiny yolov3 and tiny yolov4 (trained on my own custom dataset). Currently, using cuda, Tiny yolov3 has an fps of ~6.5 and tiny yolov4 has an fps of ~15. The problem is that when i was using opencv build 4.2 version using the exact same code and cfg/weights on the exact same device the tiny yolov3

[2020-07-24 09:47] Rm1n90 opened #17936 "Convert PyObject gpumat to C++ GpuMat"
##### System information (version)

- OpenCV => 4.2
- Operating System / Platform => Linux
- Compiler => GNU

##### Detailed description

I'm trying to create a binding using pybind11 in order to transfer directly one cv2.cuda_gpumat to c++ code. Actually I can't find one methodology to convert the PyObject * to cv::cuda::GpuMat.

[code]

I found that inside the OpenCV there is a method to convert

[2020-07-24 09:50] dkurt commented on #17931
Please try the latest version

[2020-07-24 09:57] ns15417 opened #17937 "Error when using cv::fisheye::stereoCalibrate()"
- OpenCV => 3.3
- Operating System / Platform => UBUNTU
- Compiler => gdb
Did anyone successfully used this function to calibrate stereo fishseye?
i am confused by the data type of object point and image point.
First, I set it as vector<vector<cv::Point3f>> but what i got is only an error:
`Assertion failed (!objectPoints.empty() && objectPoints.type() == (((6) & ((1 << 3) - 1)) + (((3)-1) << 3)))

[2020-07-24 10:00] ns15417 commented on #17937
ps: I successfully calibrate these two single fisheye cameras using function  fisheye::calibrate() with the same parameters object_points and image_points in type vector<vector<cv::Point3f>> and vector<vector<cv::Point2f>>, but only stuck in the stereo calibration part

[2020-07-24 10:11] Deep-learning-practitioner opened #17938 "Can't Convert tensorflow saved_model to frozen inference graph for use in OpenCV"
##### System information (version)
Using Google colab
TF version = 2.2

I have fine tuned an SSD MobileNet V2 model in tensorflow Objecet Detection API 2. Now I'm trying to convert the saved_model to frozen inference graph so I can use it in OpenCV DNN module but I'm really confused as how to proceed.

I Have been following [this tutorial](https://leimao.github.io/blog/Save-Load-Inference-From-TF2

[2020-07-24 10:26] bekor commented on #17917
@dkurt Thanks for your help, this solved it.
You can close the issue.

[2020-07-24 10:28] mshabunin commented on #17934
If possible, please try to bisect changes to find problematic commit, it will be much easier to fix localized problem if it is localized.

[2020-07-24 10:33] mshabunin commented on #17937
Please try the latest version 3.4.11 or 4.4.0 and provide a minimal application reproducing the issue.

[2020-07-24 10:35] mshabunin commented on #17938
This is OpenCV issue tracker, we don't fix problems with TensorFlow here.

[2020-07-24 10:35] #17938 closed

[2020-07-24 10:36] mshabunin commented on #17933
What is the application output? Did you build OpenCV by yourself? Please post output of `cv::getBuildInformation()`.

[2020-07-24 10:38] YashasSamaga commented on #17935
Are you using cuDNN 8 that comes with Jetpack 4.4? There is a performance regression with cuDNN 8.

[2020-07-24 10:50] #17917 closed

[2020-07-24 10:51] asmorkalov commented on #17933
The issue is reproducible with master and `qrcode.cpp` example:
[code]
Output image with bounding box is attached. The detector output is not correct.
![result](https://user-images.githubusercontent.com/2536374/88384273-c750f380-cdb4-11ea-87af-daf9330b6e5c.jpg)

[2020-07-24 10:52] sl-sergei commented on #17516
I am fixing the issues with your example, if it helps to load your text recognition networks, it will be great.
Can you provide the full code of the network and pytorch/onnx checkpoint, so I can help you, if new problems appear?

[2020-07-24 11:06] Heermosi commented on #8945
I'm sorry but I also experienced this when trying to cross build the opencv 4.0.0 to arm platform under linux.
So how to resolve this?

[2020-07-24 11:14] HannibalAPE commented on #17516
@sl-sergei
For the attention-based text recognition method, there are more problems with the text embedding and RNN layers.
I am still working on them, and I am trying to implement more complete RNN layers in the DNN module.

[2020-07-24 11:14] YashasSamaga commented on #17934
YOu can call `net.enableFusion(False);` after `readNetFromDarknet` as a temporary workaround.

`OPENCV_DNN_CUDA` isn't set. I don't think it's set by default.

Can you set `OPENCV_LOG_LEVEL` environment variable to `INFO` and run your program?

[code]

[2020-07-24 11:37] YashasSamaga commented on #17883
@toplinuxsir Have you solved the problem?

[2020-07-24 11:43] jacobowitz commented on #17934
With your temporary workaround it is working and also seems to be using Cuda.

I will recompile with that option and check what happens in that case

Without your workaround I only get the following output:
`[ INFO:0] global /OpenCV/modules/core/src/ocl.cpp (891) haveOpenCL Initialize OpenCL runtime...`

With our workaround enabled I get:
[code]

I will also try to compile with different versions

[2020-07-24 12:02] YashasSamaga commented on #17934
You probably don't need to because the INFO messages indicate that CUDA backend is enabled. But do check if `OPENCV_DNN_CUDA` was set in `CMakeCache.txt`. If it's not set, then your program is probably using some other build of OpenCV.

The crash seems to be happening in fuseLayers. I haven't verified this issue (will do in 5-6 hours from now). If the crash is new and wasn't happening in previous

[2020-07-24 15:06] akineeic commented on #17931
@dkurt Thanks for your quick reply. The same error occured when I test with opencv 4.4.0.

[2020-07-24 15:41] dkurt commented on #17716
Closing due no respond from author

[2020-07-24 15:41] #17716 closed

[2020-07-24 15:43] #9502 closed

[2020-07-24 15:43] #14580 closed

[2020-07-24 15:46] bigntallmike commented on #16380
This is what I did to solve it as well.  In my case:
[code]

[2020-07-24 16:22] YashasSamaga commented on #17934
Sorry, I had made a mistake in #17363. #17939 fixes this issue. Sorry for the inconvenience caused.

[2020-07-24 17:06] BrainFeverMedia commented on #17929
@mshabunin I tried --legacy_build and got the same error on the last -create-xcframework step:
[code]

[2020-07-24 19:49] algonao opened #17940 "cv2.rectangle TypeError: function takes exactly 4 arguments (2 given)"
- OpenCV => 4.3.0
- Operating System / Platform => Windows 64 Bit
- Compiler => PyCharm

##### Detailed description

Traceback (most recent call last):
  File "PycharmProjects/OpenCV/retangulo_moving.py", line 27, in <module>
    frame = cv2.rectangle(frame, (x1, y1), (x1+bw, y1+bh), (0,0,0), -1)
TypeError: function takes exactly 4 arguments (2 given)
[ WARN:0] global C:\projects\opencv-python\ope

[2020-07-24 20:22] tomoaki0705 commented on #8945
Please read.  I mean it. READ.

[code]
The only option for `CPU_BASELINE` is NEON or FP16 on Arm 32bit.

[2020-07-25 02:35] Deep-learning-practitioner commented on #17938
Hi, there is no use for frozen graphs in TF2 , infact it's depreciated. The only reason I'm converting it is for use in OpenCV DNN. so can you please help

Also will opencv be replacing the frozen graphs with saved_model format in the next release since TF2 really made it difficult to use pre trained models in OpenCV?

[2020-07-25 06:13] Bahramudin opened #17941 "Building OpenCV from source, giving library link error"
##### System information (version)

- OpenCV => :grey_question:  4.4
- Operating System / Platform => :grey_question: Windows 64 Bit
- Compiler => :grey_question: Visual Studio 2019

##### Detailed description

##### Steps to reproduce

I am trying to build OpenCV from source, after generating the solution and start building via Visual Studio 2019, it gives me the below 8 errors:
**`========== Bui

[2020-07-25 06:28] YashasSamaga commented on #17900
I think you are using the wrong opencv build.

This can happen before #17788. Please try master or OpenCV 4.4.0

[2020-07-25 07:23] YashasSamaga commented on #17852
I am not able to reproduce the problem in OpenCV 4.4.0 with your ONNX model code. It's consuming memory in just one GPU.

<details>
<summary>Code importing ONNX mdoel</summary>

[code]
</details>

[code]

There is also 11MB of memory allocated on all devices but this is done by CUDA runtime/driver.

I am not able to reproduce in OpenCV 4.3 as well.

[code]

[2020-07-25 08:28] berak commented on #17940
related: #16432

@algonao, the point coords need to be integer, make it:

    bw=int(.15*dispW)
    bh=int(.15*dispH)

[2020-07-25 13:50] rafcy commented on #17935
First of all thank you for answering, i will try to install an earlier version of cuDNN to check out if this is the problem. My fps calculation includes pre/post processing and NMS and yes it is similar to yours. I have also tried the python code you've send me to enhance performance. It is indeed a bit faster but the accuracy  is really bad, it outputs wrong labels sometimes and loses a lot of de

[2020-07-25 13:57] YashasSamaga commented on #17935
That shouldn't be happening. Did you try updating the nms and confidence threshold?

[2020-07-25 14:35] rafcy commented on #17935
Yes i did and it's really weird since i am using the same weights /  network size / video resolution.

[2020-07-25 14:38] tomoaki0705 opened #17942 "CUDA: CUDA_Arithm/PolarToCart test sometime fails with slight eps over"
##### System information (version)

- OpenCV => recent 3.4 ( 5bfa43f7d5e14e40166777f67840af189811cac9 ) / master ( b698d0a6ee12342a87b8ad739d908fd8d7ff1fca ) + contrib master ( bdc01011b02525961417aec2bc3c0fc2c2da5f3a )
- Operating System / Platform => Ubuntu 16.04/18.04 Jetson TX1, TX2, Xavier, Nano
- Compiler => GCC5.4.0. 7.5.0

##### Detailed description

Here's the log of test failure

[code]

[2020-07-25 14:42] YashasSamaga opened #17944 "dnn: fusion does not respect output blob requirements"
##### System information (version)

- OpenCV => 4.4.0

##### Detailed description

Consider the following network:

[code]

ReLU should not be fused with Convolution (after BatchNorm) if the output blob of BatchNorm layer is required. But it's being fused!

I think there should also be a `pinsToKeep.count(lpNext) == 0` check in the if below:

https://github.com/opencv/opencv/blob/b698d0a6ee12342a8

[2020-07-25 14:59] YashasSamaga opened #17945 "dnn(opencl): incompatible eltwise layers wrongly fused with convolution"
##### System information (version)

- OpenCV => 4.4.0, 3.4.11
- Operating System / Platform => Ubuntu 18.04
- Compiler => gcc 7.5.0

##### Detailed description

OpenCL backend is fusing unsupported eltwise configurations with convolution.

##### Steps to reproduce

Disabled tests from #17976 can reproduce this bug. Relevant tests have `// bug: https://github.com/opencv/opencv/issues/17945` comment

[2020-07-25 15:30] YashasSamaga opened #17946 "dnn(opencl, cuda): missed eltwise fusion opportunity"
##### System information (version)
- OpenCV => 3.4.11, 4.4.0

##### Detailed description

[code]

Eltwise is not fused with convolution if `ReLU` is the last layer of the network because of this check in 3.4:

https://github.com/opencv/opencv/blob/5bfa43f7d5e14e40166777f67840af189811cac9/modules/dnn/src/dnn.cpp#L2461

I think the `pinsToKeep` check shouldn't be there at all. The `lpNext` is the pi

[2020-07-25 18:29] chacha21 opened #17947 "G-API : any plans for human readable serialization ?"
Are there any plans to, or on the contrary evidences for not to plan to, make a human readable serialization of G-API graphs descriptions ?
In my opinion, it could be useful for scripting by allowing live modification of text files polled by a pre-compiled binary.

[2020-07-25 19:10] algonao commented on #17940
Yeah!!! That was it! Thank you berak.

[2020-07-25 19:10] #17940 closed

[2020-07-26 07:23] qaisbayabani opened #17948 "example for decoding h264 stream from android using opencv"
https://github.com/qaisbayabani/SCRCPY-C-Sharp-Client

working example prepared in response of post issue at https://github.com/Genymobile/scrcpy/issues/1073

and people searching for a decoder for h264 stream from network.

[2020-07-26 11:45] jacobowitz commented on #17934
Thank you for your prompt response and fix! I've built your branch and can confirm that it solves the problem in my case.

[2020-07-26 19:10] rafale77 opened #17949 "/opencv/modules/dnn/src/cuda4dnn/csl/stream.hpp:49: error: (-217:Gpu API call)"
##### System information (version)

- OpenCV => 4.4+
- Operating System / Platform => Ubuntu 64 Bit x64
- Compiler => GCC
- Cuda 11.0.194
- nvidia driver 450.51.05
- cudnn 8.0
##### Detailed description

Using the python library I am getting this error after a few seconds running a second instance of cudnn inference.

/opencv/modules/dnn/src/cuda4dnn/csl/stream.hpp:49: error: (-217:Gpu API call) a

[2020-07-26 19:41] rafale77 commented on #17949
Additional info: I seem to have no problem when using the GPU for stream decoding on opencv and inferring with the CPU.

[2020-07-26 19:55] KyloEntro commented on #17734
I can open the rtsp link with VLC. Maybe the ffmpeg lib used by opencv on windows missed some decoders ?

[2020-07-26 21:12] stefantalpalaru commented on #14868
Packagers might want to pass something like this to CMake:
`-DEIGEN_INCLUDE_PATH="$(pkg-config --cflags-only-I eigen3 | sed 's/^-I//')"`

[2020-07-27 00:36] zccyman commented on #17852
@YashasSamaga
test code:
[code]

consuming memory:
+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|    0     91513      C   ...

[2020-07-27 04:53] YashasSamaga commented on #17949
The exception was thrown when a stream was being created (implying the `Net` object was being created). The illegal memory access presumably happened even before you created the second `Net` object.

Running multiple inference models within the same python instance should work. Can you provide a reproducer?

[2020-07-27 05:11] rafale77 commented on #17949
I just updated to the latest cudnn8.0.1 from the previous 8.0.0 and it seems to be a tiny bit better: I am now able to run 2 inferences for quit some time before seeing an error but once I load it up with 4, it crashes almost immediately with a similar error but not quite the same so I think you are right in the fact that the problem likely happen before the error pointer:
opencv/modules/dnn/src/c

[2020-07-27 05:17] YashasSamaga commented on #17949
A code snippet that can reproduce the problem you're facing so that I can try it on my side. Can you share the model?

[2020-07-27 05:23] rafale77 commented on #17949
https://github.com/rafale77/home-assistant/blob/dev/homeassistant/components/opencv/image_processing.py

I posted my component here. The video stream is from another homeassistant which is also running opencv:

https://github.com/rafale77/home-assistant/blob/dev/homeassistant/components/ffmpeg/camera.py

and I have been running this inference on a single instance for some time now:

https://github

[2020-07-27 05:30] HoLue opened #17950 "Build with Embarcadero Builder C++: Problem with " target feature 'mmx'""
##### System information (version)
- OpenCV => 4.4.0
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Embarcadero/Idera C++ RAD Studio 10.4, clang compiler bcc32c

##### Detailed description
During compiling I got the following (first) error:

[code]

##### Steps to reproduce

1. cmake, disable almost everything, just build core
2. exchange the following files (2 problems already s

[2020-07-27 05:34] YashasSamaga commented on #17949
do you have a link to these models?

[2020-07-27 05:40] rafale77 commented on #17949
this is the caffe res10 model for face detection
https://github.com/rafale77/face_recognition_models/tree/master/face_recognition_models/models
and this is the mobilenetv3 model:
https://github.com/opencv/opencv/pull/16760

[2020-07-27 05:45] alalek commented on #17950
We don't have such configuration, so priority is low. If you have clear reason of the problem rather small fix feel free to propose PR.

Try to change CXXFLAGS (or `OPENCV_EXTRA_CXX_FLAGS`) to enable 'mmx' option.

Try use `make VERBOSE=1` or alternative for used toolchain to see complete compiler parameters.

[2020-07-27 06:42] HoLue commented on #17950
Thanks.

I set `OPENCV_EXTRA_CXX_FLAGS -mmx` and used `make VERBOSE=1`. The behavior is exactly the same: identical error, identical output. :-(

[2020-07-27 06:51] ns15417 commented on #17937
@mshabunin Hi, thanks for your answer, i change my opencv version to 4.0 and solved this problem.

[2020-07-27 06:51] #17937 closed

[2020-07-27 06:59] #17897 closed

[2020-07-27 07:53] angelo-peronio commented on #17789
`cv::ocl::finish()` does indeed wait for the GPU to finish, but it seems that it does not wait for memory deallocation.

More details on [Stackoverflow](https://stackoverflow.com/q/63110817).

[2020-07-27 08:29] asmorkalov commented on #17947
@dmatveev could you comment the issue?

[2020-07-27 08:37] asmorkalov commented on #17942
Merged to 3.4.

[2020-07-27 08:39] asmorkalov commented on #17941
@Bahramudin The provided log is not complete, please check previous lines for the error.

[2020-07-27 08:52] Yikun opened #17951 "Question about OpenCV ARMv8 build validation"
##### System information (version)
- OpenCV => ALL
- Operating System / Platform => Linux aarch64
- Compiler => ALL

##### Detailed description

Looks like we can only use `force_builders` to enable the armv8 build validation, that means not all PRs would be validated in ARMv8/aarch64.

Is there any reason to stop us to move the ARMv8 build in to default build list? Could we move the linux-ARMv8 i

[2020-07-27 09:31] cloudhan commented on #16339
Can you rename files from cv2 to cv, python binding use `cv2` as its namespace simply due to historical reason: there was a `cv` binding for OpenCV prior to `cv2` binding.

[2020-07-27 09:36] mshabunin commented on #17951
Currently we don't have enough resources for thorough support of this platform, so we manually run tests for "suspicious" PRs and have regular nightly tests (e.g. https://pullrequest.opencv.org/buildbot/builders/master-contrib_ARMv8-lin). Test scope is also reduced.

We mostly rely on community here, I believe @tomoaki0705 regularly run testing on a wide variety of ARM/CUDA platforms.

[2020-07-27 10:01] dkurt commented on #17951
Can we consider GitHub Actions to create ARMv8 build only checks?

[2020-07-27 10:32] ankit3699 commented on #17778
Sir, I would like to work on this issue.

[2020-07-27 11:50] dmatveev commented on #17947
@chacha21 we have plans on a Python API which should fill the gap. Meanwhile, could you briefly explain the way use see this feature to be used?

[2020-07-27 11:59] chacha21 commented on #17947
My use case would be :

I build a image processing pipeline framework.
One of the pipeline item could be a generic G-API  processor : once loaded with a G-API serialized in a file, it could process images.

My framework would not have to know the details of the G-API computation, and the user just have to provide a file to load into the framework.

[2020-07-27 12:21] AngryPenguinPL opened #17952 "OpenCV 4.4 - error: call to implicitly-deleted default constructor of 'cv::gimpl::Op'"
##### System information (version)
- OpenCV => 4.4
- Operating System / Platform => Linux OpenMandriva Cooker
- Compiler => LLVM/Clang 10.0.1

##### Detailed description

Trying build new OpenCV 4.4 for OpenMabdriva Cooker and at build time see error:
`/usr/bin/../lib64/gcc/x86_64-openmandriva-linux-gnu/10.1.1/../../../../include/c++/10.1.1/bits/stl_construct.h:109:38: error: call to implicitly-de

[2020-07-27 12:22] YashasSamaga opened #17953 "dnn(opencl): segfault when ChannelsPReLU fused with convolution (without bias)"
##### System information (version)

- OpenCV => 4.4.0 (probably in 3.4 too)
- Operating System / Platform => Ubuntu 18.04
- Compiler => gcc 7.5

##### Detailed description

Convolution without bias followed by ChannelsPReLU activation with fusion enabled leads to:

[code]

Segfault also happens with convolution without bias + eltwise + ChannelsPReLU. It works without problems if convolution layer

[2020-07-27 13:18] ark- opened #17954 "Crash in net.forward() using inference engine on Raspberry Pi 4 and Intel NCS2"
## System Information

 - OpenCV: [4.4.0-openvino](https://github.com/opencv/opencv/releases/tag/4.4.0-openvino)
 - Openvino: [2020.4](https://github.com/openvinotoolkit/openvino/releases/tag/2020.4)
 - Operating System: Raspberry Pi OS May 2020
 - GCC: gcc (Raspbian 8.3.0-6+rpi1) 8.3.0

## Background

I am getting issues running a Darknet Yolov3-Tiny model with the OpenCV inference engine enhance

[2020-07-27 13:18] RohitDhankar opened #17955 "CMake Error at cmake/FindCUDNN.cmake:71 - file failed to open for reading (No such file or directory): /usr/local/cuda/include/cudnn.h"
##### System information (version)

- OpenCV => 4.4-dev ( GitHub Master Branch )
- Operating System / Platform => Ubuntu 18
- Compiler => cmake

- Compiler => file failed to open for reading (No such file or directory):      /usr/local/cuda/include/cudnn.h

##### Detailed description

file failed to open for reading (No such file or directory):      /usr/local/cuda/include/cudnn.h

##### Steps to

[2020-07-27 13:21] asmorkalov commented on #17955
CuDNN is not a part of CUDA distribution and should be installed separately.

[2020-07-27 13:22] asmorkalov commented on #17954
@dkurt Could you look at it?

[2020-07-27 13:42] susnux opened #17956 "Feature request: StitcherAPI: Add python binding for composePanorama"
##### System information (version)
- OpenCV => 4.3
- Operating System / Platform => Linux
- Compiler => Python3.6.10

##### Detailed description

Please add the `Stitcher::composePanorama(InputArrayOfArrays images, OutputArray pano)` function to the python bindings.
This would allow reusing the estimated transforms multiple times (same, fixed, camera setup).
Currently you can only call `composePan

[2020-07-27 13:53] dkurt commented on #17954
Hi!

Have you observed similar issue with precompiled OpenVINO for RPI from https://software.seek.intel.com/openvino-toolkit?

[2020-07-27 13:58] mshabunin commented on #17956
Try to add `CV_WRAP` prefix to function declaration here: https://github.com/opencv/opencv/blob/b698d0a6ee12342a87b8ad739d908fd8d7ff1fca/modules/stitching/include/opencv2/stitching.hpp#L275

Like this:
https://github.com/opencv/opencv/blob/b698d0a6ee12342a87b8ad739d908fd8d7ff1fca/modules/stitching/include/opencv2/stitching.hpp#L263

Tests for both functions would be great too: https://github.com/o

[2020-07-27 14:01] RohitDhankar commented on #17955
@asmorkalov - Yes , i have installed CUDNN separately . You can see below the CUDNN Mnist Test results for the CUDNN install . The ```cudnnGetVersion() : 8001 , CUDNN_VERSION from cudnn.h : 8001 (8.0.1)``` has been installed directly from NVIDIA as instructed here -

[code]
Have installed the Ubuntu amd64 DEB packages using the ```dpkg``` fro the three files downloaded from NVIDIA - ```libcudnn8``

[2020-07-27 14:04] ark- commented on #17954
I was getting segmentation faults on the 2020.3 version which is why I have been compiling it from source.

Let me try precompiled 2020.4.

[2020-07-27 14:10] asmorkalov commented on #17955
Sorry, I missed that you tries CuDNN 8. It's new and is not fully supported by OpenCV now. Related issue and discussion: https://github.com/opencv/opencv/issues/17496

[2020-07-27 14:13] YashasSamaga commented on #17955
Remove these and run CMake from a clean build directory

[code]

CMake will automatically find the locations.

[2020-07-27 14:47] dkurt commented on #17954
So can you please clarify a bit this statement?

OpenCV 4.3.0-Openvino-2020.3.0
Openvino 2020.3

Can we consider OpenVINO 2020.3 as working or not? From source or binary version?

[2020-07-27 14:52] ark- commented on #17954
Yes, I confirm OpenCV 4.3.0-Openvino-2020.3.0 and Openvino 2020.3 are working **compiled from source**.

[2020-07-27 14:54] mshabunin commented on #17952
**cc** @dmatveev

[2020-07-27 15:13] mshabunin commented on #17789
I may be wrong, but buffers will not be removed automatically, because they are kept in a buffer pool. Try to [get OCL allocator](https://docs.opencv.org/master/dc/d83/group__core__opencl.html#ga2de08873daa452bb88f17d5054aa3aae), then [BufferPoolController](https://docs.opencv.org/master/df/d4c/classcv_1_1MatAllocator.html#a22e35b7a843280c15308133f6787fdb6), then either reduce its size, either fre

[2020-07-27 15:23] RohitDhankar commented on #17955
@YashasSamaga - Yes thanks , CMAKE did find the CUDNN location but now it doesnt identify the latest updated CUDA - 11 , but falls back to CUDA - 9.1 . Kindly see the relevant snippets from the terminal as below -

[code]
Also kindly advise what if anything needs to be done for this - warning
[code]
As mentioned earlier - probably related issue of  not getting the complete list of the ```-- CUDA N

[2020-07-27 15:39] ark- commented on #17954
There is no Raspberry Pi build there that I can see, only generic Linux.

The [2020.4 docs](https://docs.openvinotoolkit.org/2020.4/openvino_docs_install_guides_installing_openvino_raspbian.html) say to download from [here](https://download.01.org/opencv/2020/openvinotoolkit/2020.4/) but there isn't a build available there either.

[2020-07-27 15:47] YashasSamaga commented on #17955
In my opinion, it's best to remove unused CUDA installations. If that is not possible, pass `-D CUDA_TOOLKIT_ROOT_DIR=/usr/local/cuda` to cmake.

[2020-07-27 15:53] archit120 commented on #16339
@cloudhan I wasn't aware of that. Phase 3 is almost a complete re-write and I think I can do it then.

[2020-07-27 16:16] rafale77 commented on #17949
I can now confirm that running two different models within the same python instance is not a problem (I had a problem on the previous pre-released version of cudnn8). Somehow I am getting a memory error if I run the same model twice on cudnn8.0.1.

[2020-07-27 16:20] chacha21 opened #17959 "could cv::cvtColor support CV_64F ?"
I am currently working with CV_32S images (accumulation of CV_16U astronomical images, overflowing the [0;65535] range)
When using cv::cvtColor on such images, I have to convert to CV_32F first, but naturally, some accuracy is lost by the CV32S->CV_32F conversion.
Is it reasonable that I work on a PR to support CV_64F in cv::cvtColor, or would it be rejected for not worthing the additional code ?

[2020-07-27 17:12] vik748 opened #17960 "getDefaultName() isn't overloaded in SparseOpticalFlow or"
Similar to #6387

##### System information (version)
- OpenCV => 3.3.1, 3.4.2 and 4.4.0
- Operating System / Platform => Ubuntu 16.04 (under conda)

##### Detailed description

##### Steps to reproduce
This is in the python wrapper, but I assume this can be reproduced in C++ easily.
[code]

The correct out put should be something like `SparseOpticalFlow.SparsePyrLKOpticalFlow`

##### Issue submiss

[2020-07-27 17:17] Bahramudin commented on #17941
@asmorkalov When run build again (but not rebuild)

[code]

[2020-07-27 17:40] rawat123 opened #17961 "c++ dnn text detection cpp sample with https://github.com/MaybeShewill-CV/CRNN_Tensorflow"
hi i am trying to run dnn/text_detection.cpp,

while detector is working fine, but crnn model is not much accurate i tried to train this recognition model  https://github.com/meijieru/crnn.pytorch  with my custom image set but there is some warpctc installation error, so i checked  one more crnn model [https://github.com/MaybeShewill-CV/CRNN_Tensorflow](https://github.com/MaybeShewill-CV/CRNN_Tens

[2020-07-27 18:05] dmatveev commented on #17947
Thanks, I've got your point.

G-API is itself a pipelining framework since OpenCV 4.2: https://opencv.org/hybrid-cv-dl-pipelines-with-opencv-4-4-g-api/

Making it a node in some other pipelining framework may also make sense, given that this abstract GComputation could handle a non-trivial logic inside - and then you want to e.g. redistribute it across the net (speaking of the distributed processi

[2020-07-27 18:08] dmatveev commented on #17952
Thanks, will look into it

[2020-07-27 18:57] bronstein87 opened #17962 "Can't parse simpe TensorFlow model. Error:Error parsing text-format opencv_tensorflow.GraphDef: 714:5: Unknown enumeration value of "DT_RESOURCE" for field "type""
- OpenCV => 4.3
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description

Hi, i'm trying to run some simple model, but it gives me an error during parse:
`Error parsing text-format opencv_tensorflow.GraphDef: 714:5: Unknown enumeration value of "DT_RESOURCE" for field "type".`
Is there any way to fix this issue?
It is cnn from deep sort alghoritm

[2020-07-28 00:30] fzzn-2020 opened #17963 "Can not find link to 'SIFT::create '"
- OpenCV => 4.4
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description

error LNK2019: 无法解析的外部符号 "public: static struct cv::Ptr<class cv::xfeatures2d::SIFT> __cdecl cv::xfeatures2d::SIFT::create(int,int,double,double,double)" (?create@SIFT@xfeatures2d@cv@@SA?AU?$Ptr@VSIFT@xfeatures2d@cv@@@3@HHNNN@Z)，

[2020-07-28 02:10] rafale77 commented on #17949
@YashasSamaga, I switched my code to run your YoloV4 model and I am seeing the same problem. I can't run more than 2 concurrent instances of one same model without getting some weird memory issues. I started to think that I have a bad GPU but I am able to run 4 simultaneous streams within a single instance on a tensorrt framework so... I am not so sure anymore.

[2020-07-28 02:19] #17963 closed

[2020-07-28 03:28] Yikun commented on #17951
@mshabunin OK, it's good to know about it.

Agree with @dkurt , I think build only checks it's a good idea, as I know about Github Actions, the arm64 is only supported by [self hosted runner](https://github.blog/changelog/2019-12-03-github-actions-self-hosted-runners-on-arm-architectures/) or some 3rd action (like [run-on-arch-action](https://github.com/uraimo/run-on-arch-action), use qemu to crea

[2020-07-28 05:59] YashasSamaga opened #17964 "dnn(opencl, cuda): wrong weights are used after power fusion, eltwise power fusion is mathematically wrong"
##### System information (version)

- OpenCV => 4.4.0, 3.4

##### Detailed description

https://github.com/opencv/opencv/blob/b698d0a6ee12342a87b8ad739d908fd8d7ff1fca/modules/dnn/src/layers/convolution_layer.cpp#L409-L420

`fusedWeights` and `fusedBias` are not updated after fusion. Same with CUDA. Here is `tryFuse` for reference on how it should have been:

https://github.com/opencv/opencv/blob/b

[2020-07-28 06:40] RohitDhankar commented on #17955
I confirm that worked - ``` --   NVIDIA CUDA:                   YES (ver 11.0, CUFFT CUBLAS)``` , thanks @YashasSamaga and @asmorkalov . Best Regards !!

[2020-07-28 06:41] #17955 closed

[2020-07-28 07:13] dkurt commented on #15635
Left QR code does not match specifications (at lest 4 white modules around QR).

[2020-07-28 07:13] #15635 closed

[2020-07-28 07:15] dkurt commented on #17962
Have you tried without `.pbtxt`? It's optional

[2020-07-28 07:22] chacha21 commented on #17947
Ok, I perfectly understand that cautious approach. I will take time to really become familiar with G-API before working more on that subject.

[2020-07-28 07:22] #17947 closed

[2020-07-28 07:40] YashasSamaga commented on #17944
Another affected configuration:

[code]

Eltwise is fused even if ReLU output blobs are required.

[2020-07-28 07:43] chacha21 opened #17965 "G-API : how is serialize/deserialize supposed to be used properly ?"
OpenCV 4.4.0, Visual Studio 2019, Windows 7 64b
I have no problems running the [G-API tutorial](https://docs.opencv.org/4.3.0/d3/d7a/tutorial_gapi_anisotropic_segmentation.html), but I can't save and reload the GComputation.

[code]

I guess that it is related to unsaved MetaArgs information, but I can't see how to inject them in the deserialized GComputation

[2020-07-28 07:57] rafale77 commented on #17949
I had an epiphany this evening and found out that the problem is resolved by creating and loading one model per camera stream as opposed to have them all share the same instance of the same model. Can close this now.

[2020-07-28 07:57] #17949 closed

[2020-07-28 08:02] YashasSamaga commented on #17949
I should have told earlier but you could use `cuda-memcheck your_program` to find the source of illegal memory access.

As I told earlier, the illegal memory access probably happened before the `cv::dnn::Net` object was created but the error was reported during its construction as CUDA errors are asynchronous. The CUDA memory check tool can find errors at the correct site.

[2020-07-28 08:10] YashasSamaga commented on #17944
Same problem with this check as well:

https://github.com/opencv/opencv/blob/b698d0a6ee12342a87b8ad739d908fd8d7ff1fca/modules/dnn/src/dnn.cpp#L2635

[2020-07-28 08:21] dkurt commented on #17961
https://github.com/MaybeShewill-CV/CRNN_Tensorflow has not been validated for this sample.

[2020-07-28 08:56] llxxhm commented on #13311
There is no problem with ZBar

[2020-07-28 09:02] bronstein87 commented on #17962
Unfoturnatenly, I get another error in this case
cv2.error: OpenCV(4.3.0) D:\soft\opencv\opencv-4.3.0\modules\dnn\src\tensorflow\tf_importer.cpp:545: error: (-2:Unspecified error) Input layer not found: Const in function 'cv::dnn::dnn4_v20200310::`anonymous-namespace'::TFImporter::connect'

[2020-07-28 09:11] wdx04 opened #17966 "ONNX Importer does not process the "ceil_mode" attribute of pooling layers"
##### System information (version)
- OpenCV => 4.3.0
- Operating System / Platform => Windows 64bit
- Compiler => Visual Studio 2019

##### Detailed description

In onnx_importer.cpp, it processes the ceil_mode attribute of Pooling layers by looking for the non-standard attribute name "pad_mode". Conforming ONNX models with "ceil_mode=1" attribute are not processed correctly and generate wrong out

[2020-07-28 09:14] Yikun commented on #17951
@dkurt Here[1] is the demo to enable the travis arm64 check build in OpenCV. All arm64 build checks costs about ~30mins.
![image](https://user-images.githubusercontent.com/1736354/88644614-c3dfa400-d0f5-11ea-9c4d-44edbdeb5be8.png)

If you guys think this build check is okay to accepted, I'd like to propose a PR. : )

[1] https://github.com/Yikun/opencv/pull/1

[2020-07-28 09:18] dkurt commented on #17966
Please attach an `.onnx` model to reproduce or add PyTorch code.

[2020-07-28 09:26] dkurt commented on #17951
@Yikun, To build OpenCV for ARMv8 there is no need to have ARMv8 - it might be cross-compiled. So for build only pipeline we can use GitHub Actions as well (advantage against Travis CI is that there is already https://github.com/opencv/opencv/tree/master/.github folder and to setup Actions no new files will be created).

[2020-07-28 09:28] dkurt commented on #17962
Can you try the latest release?

[2020-07-28 10:57] asmorkalov commented on #17965
@dmatveev could you look at it too.

[2020-07-28 11:01] angelo-peronio commented on #17789
Thank you for the idea! I think I am missing something obvious here. I implemented your suggestions, adapting my Stackoverflow [question](https://stackoverflow.com/q/63110817):

[code]

I get the following — notice that I have updated to OpenCV 4.3:

[code]

* If the GPU memory is kept in a buffer pool after the destruction of `bigImage` during loop 0, why is it not available to allocate `bigImage

[2020-07-28 11:27] rawat123 commented on #17961
ok , thanks for you reply, is there any chances to include this

[2020-07-28 13:53] Entir3 opened #17968 "Some Questions about EfficientDet"
Really appreciate for your work about adding the EfficientDet to Opencv4.4
I'm trying to use that for detecting some objects on my own dataset but I have some questions.
First,I used the official EfficientD3 model to familiar with the process, I follow the steps which you provided
It is successful to detect objects in coco datasets such as dog and person
Next,I trained a EfficientD3 on my own data

[2020-07-28 13:55] Entir3 commented on #17968
Sorry for my poor English and some grammar mistakes.

[2020-07-28 14:33] otivedani commented on #17895
do you mean this? [Detection of Planar Objects](https://docs.opencv.org/2.4/doc/tutorials/features2d/detection_of_planar_objects/detection_of_planar_objects.html)

[2020-07-28 14:38] marcusx2 commented on #17895
No, it's not detection of planar objects. It's detection of planes for object placement.

[2020-07-28 15:11] dipampatel18 commented on #15858
@rodolfobetanzos @bencha30 I also had the same issue. But I think the problem is with the cuDNN version (not detected) in the latest Jetpack 4.4 for Nano. Downgrade your Jetpack to 4.3 and have CUDA_ARCH_BIN=5.3,6.0,6.1,6.2,7.0,7.2,7.5 and CUDA_ARCH_PTX=7.5. It will work for sure.
Make sure to verify them both in the build info as well as the cuDNN version before you make it. Also, the make will t

[2020-07-28 15:16] dkurt commented on #17968
Can you please share a model? And some test image.

[2020-07-28 15:37] Entir3 commented on #17968
thanks for your reply!
if you want to have a test, you can just use the model and image provided by google. For example official efficient-d3.ckpt and a image of 2 dogs and one person called img.png in official code automl/efficientdet/testdata file folder. And you can see the confidence and detect result have a bit different between opencv and official code.