[2020-09-01 07:34] asmorkalov commented on #18219
@tonifds please ensure that you camera is calibrated correctly.

[2020-09-01 07:36] alalek commented on #18221
`ENABLE_NOISY_WARNINGS` is a special option for such massive warnings (they are usually false positive or low priority).
If you have real problem please provide details.

[2020-09-01 07:38] tonifds commented on #18219
@asmorkalov  stereocalibration RMS=0.76 < 1 .  it's correct or should do anythings else

[2020-09-01 07:40] alalek commented on #18238
Looks like there is problem with Debug binaries.
Please try Release mode first.

[2020-09-01 07:43] alalek commented on #18232
Expected possible benefit is low (against computation time of whole DNN network).

[2020-09-01 07:47] Bahramudin commented on #18238
@alalek I am directly run the release version. Before it was working well I am already familiar with OpenCV library and OpenVINO toolkit. But in the latest version there many errors with building from source or using the prebuilt library. It is very annoying wasting me days.

Hope to find the solution.

[2020-09-01 07:55] alalek commented on #17941
cmake-gui?

---

As mentioned **setupvars** scripts from OpenVINO is required to work properly.
`cmake-gui` is not fully compatible with environment scripts, so you should use terminal-based `cmake` instead.

[2020-09-01 07:56] skaldesh commented on #18232
My use case is a high fps application (~160fps) analyzed with a small network (Laptop CPU inference time ~55ms per frame, on GPU ~4ms). For such cases, I think, it makes sense to reuse the output buffers.

[2020-09-01 09:44] yancccc commented on #18229
The problem has been solved

[2020-09-01 10:33] hedgehog91 commented on #17852
@YashasSamaga
I tried compiling with the WITH_OPENСL = OFF flag. You're right. This is a workaround for me.

[2020-09-01 11:53] ebachard commented on #18170
Hello, I recently compiled 3.4.11 (completely broken on Linux BTW, thanks to the sorcerer), and reading the CMakefile.txt file, there are some other flags to add in the cmake command line:

-   -DWITH_OPENGL=ON -DHAVE_OPENGL=ON
-  and if you want glx version (means not the legacy OpenGL, don'tforget to add : -DOpenGL_GL_PREFERENCE=GLVND

It worked for me ;-)

[2020-09-01 11:54] streamer-AP commented on #18231
I cleaned the build dir, but it still reported the error. I have no idea about it.
Here is the command I use:
`cmake -D CMAKE_BUILD_TYPE=RELEASE \
-D OPENCV_EXTRA_MODULES_PATH=~/opencv_contrib/modules \
-D OPENCV_ENABLE_NONFREE=ON \
-D WITH_OPENMP=ON \
-D WITH_TBB=ON \
-D OPENCV_EXTRA_EXE_LINKER_FLAGS=-latomic \
-D ENABLE_PRECOMPILED_HEADERS=OFF \
-D WITH_CUDA=ON \
-D ENABLE_FAST_MATH=1 \
-D CUDA_

[2020-09-01 12:24] ebachard commented on #16425
I confirm : someone broke 3.4.x version with gstreamer on Linux, probably since a long while.

I"m restarting from 3.4.0 to understand what has been "improved"  (say accidentaly ...) between 3.4.0 [building and working well]  and 3.4.11 [chaotic build, and nicely broken]  (3.4.10 now ... teached me this issue).

gstreamer seems to be -completely- broken on Linux too : can no longer connect a simpl

[2020-09-01 13:56] Mnassouh commented on #17563
@alalek can you explain more ?

[2020-09-01 15:11] alalek commented on #18238
This is not true, because

means that debug version of OpenCV binaries is used. Look on "d" suffix.

[2020-09-01 17:47] YashasSamaga commented on #17969
This is applicable to the current mechanism used by OpenCV to choose convolution algorithms. Please check if cuDNN 8.0.3 has fixed this problem.

[2020-09-01 17:48] YashasSamaga commented on #18187
This fix is relevant for FP32 target. Please try with cuDNN 8.0.3.

[2020-09-01 18:27] Bahramudin commented on #18238
@alalek Yes, you are right, now it is working, thanks for the providing solution!

Now I am getting a new problem, which it cannot open IP camera (RTSP Video Stream), I am able to open USB camera and Video file, but just cannot open the RTSP Stream. Before it was working well. It is the error it throws:

`MFX: Unsupported extension: rtsp://username:password@192.168.1.101:554/Streaming/Channels/102

[2020-09-01 18:33] catree commented on #18219
You should post the disparity image and upload the `.xyz` file (see the command line arguments of `stereo_match.cpp` to save the pointcloud to a file).

[2020-09-01 19:04] dkurt commented on #18232
@skaldesh, can you please describe feature request a little bit more? Have you tried to use different [forward](https://docs.opencv.org/master/db/d30/classcv_1_1dnn_1_1Net.html#a8d248f50efec70dffa785de18a4b2170) methods which accept outputs?

[2020-09-01 20:15] alalek commented on #18238
FFmpeg plugin can do that.
OV package has a downloader for OpenCV community plugin.

See logged lines for details.

---

Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-09-02 00:33] #18229 closed

[2020-09-02 03:25] rgov opened #18244 "CMake fails to detect NEON, etc. support on ARM processor"
##### System information (version)

- OpenCV => 4.4.0
- Operating System / Platform => Ubuntu 18.04 / armv7l
- Compiler => gcc 7.5.0

##### Detailed description

CMake does not detect that my ARM CPU supports NEON instructions or other features. If I compile the example source code from `cmake/checks/cpu_neon.cpp` with `-mfpu=neon`, it builds and runs successfully.

[code]

* [CMakeCache.txt](http

[2020-09-02 03:29] rgov commented on #18244
[code]

It doesn't pass *any* argument here to test whether the compiler supports NEON. It needs to pass `-mcpu=neon` to get `__ARM_NEON__` defined.

I am not sure why `HAVE_CXX_MFPU_NEON_FP16_MFP16_FORMAT_IEEE` succeeded when the others failed.

[2020-09-02 03:47] rgov commented on #18244
There are a number of bugs expressing similar confusion, but it seems to me like a bug in the detection code. The CMake script for detecting optimizations is programmed to know that `-mfpu=neon` is the option it needs to pass to test it, but it somehow fails to.

I tried passing `-march=native -mtune=native -mcpu=native` as `CMAKE_C{XX}_FLAGS` but this did not change the results of the tests. Then

[2020-09-02 04:35] Bahramudin commented on #18238
@alek should you give me a link to show self build the latest version of the OpenCV with OpenVINO toolkit, the previous method doesn’t work for the latest version. Gives many errors which I am not able to build a clean library with my own confirmation (OpenVINO + Extra module + GStreamer, etc). I did not find any documentation online to show this.

Thanks in advance!

[2020-09-02 05:03] alalek commented on #18244
Always perform clean CMake run due to CMake cached variables (from clean build directory)

---

Please attach:
- CMakeVars.txt (`grep -E 'HAVE|CPU' CMakeVars.txt`)

---

In CMakeCache.txt:
[code]

Use `--trace-expand` to detect where and how it is disabled (you may want to comment `ocv_cmake_dump_vars` statement in the end of root `CMakeLists.txt` to avoid 100+Mb dump).

[2020-09-02 05:18] priyamnagar commented on #17422
Hi, Thanks for your reply.
Here I am using the same code for release and debug both. GPU usage is always 20% for release and 5% for debug.
Is this some kind of feature or I am doing something wrong?

[2020-09-02 05:28] Bahramudin commented on #17941
@mshabunin CMake log of the first run:

[code]

[2020-09-02 05:29] Bahramudin commented on #17941
@mshabunin CMake log of the first run:

[code]

[2020-09-02 05:32] alalek commented on #17422
What is expected?
Why is it expected?

[2020-09-02 05:34] i-akshat-jain opened #18245 "Resize Issue"
### These are some issues i am facing while working with opencv, i do not know why !!! Can anyone please help me out why is this happening?

[ WARN:0] global C:\Users\appveyor\AppData\Local\Temp\1\pip-req-build-2b5g8ysb\opencv\modules\videoio\src\cap_msmf.cpp (435) `anonymous-namespace'::SourceReaderCB::~SourceReaderCB terminating async callback
Traceback (most recent call last):
  File ".\FACE_RE

[2020-09-02 05:57] priyamnagar commented on #17422
I want to use OpenCV with Cuda support for inferencing an object detection model (YOLOv3). But I am seeing a lot of variations in speed and GPU usage when I switch between Release and Debug modes.

When I build OpenCV in release mode everything works fine, without any messages, the GPU utilization is 20% and the speed i am getting is 50 - 60 ms per frame.

When I build OpenCV in Debug mode I get s

[2020-09-02 06:14] eLtronicsVilla commented on #17422
Hi,
I'm also getting same error in debug mode ( CUDA backend will fallback to the CPU implementation )
and in Release mode GPU utilisation is 5% only.

System information (version) below for my opencv with cuda build .

OpenCV = 4.2.0
Operating System / Platform = Windows10 64 Bit
Compiler => Visual Studio 2019
cuda 10.1
GPU NVIDIA GeForce GTX 1050Ti

Even I'm running multiple inference to keep on

[2020-09-02 06:17] YashasSamaga commented on #17422
@eLtronicsVilla

You can get the same information if you set `OPENCV_LOG_LEVEL` to `INFO` in release build.

[code]

What layers are using fallbacks?

[2020-09-02 06:26] skaldesh commented on #18232
Sure. In my application, I wanted to **reuse** the output matrices across multiple calls to `forward()` as to avoid the memory allocations.

I have tried using the `void Net::forward(OutputArrayOfArrays, const std::vector<String>&)` variant. At first I thought that the output matrices would be reused, if provided in the correct format for the corresponding output layer. However, checking the sourc

[2020-09-02 07:06] priyamnagar commented on #17422
@YashasSamaga i am using Cudnn = 7.6.5 cuda = 10.2 input_shape  =640X480.
I am using the same code for both. net.forward() is taking 35 - 40ms for release and debug both.

Can you please help me in understanding why overall speed variation is there. I have shared with you the code via email(yashas_2010@yahoo.com).

[2020-09-02 07:16] YashasSamaga commented on #17422
Use OpenCV 4.4.0 for much higher performance. You can get even higher performance with FP16 target (< 10ms per frame) with negligible accuracy loss.

Your code has to read frames from a video source, preprocess, postprocess and then display it. These tasks execute on CPU. The GPU stays idle during this time and therefore, reduces the average GPU utilization.

[2020-09-02 07:30] priyamnagar commented on #17422
Thank you so much for your help. Understood a lot about it.
But I still don't understand how the speed and utilization are different for release and debug modes. I am using the same code for both.

[2020-09-02 07:38] YashasSamaga commented on #17422
Debug builds are slower. The CPU part of your code takes more time to execute. This means that your GPU is idle for a longer time.

CPU code is optimized in release build. CPU code executes faster. Therefore, the GPU spent less time idling as the CPU is able to dump work to the GPU more often.

[2020-09-02 07:42] YashasSamaga commented on #17422
@wangzhongju I see that you edited the question after my first comment. You can get the same set of messages if you set `OPENCV_LOG_LEVEL` to `INFO`.

[code]

This doesn't matter. The input layer is skipped most of the times. If that's the only message you got, it implies that your model is mostly fully running on the GPU.

[2020-09-02 08:15] eLtronicsVilla commented on #17422
Hi,
For me debug log for the same.

[ INFO:0] global E:\workspace\workspace\opencv_build\opencv-4.2.0\opencv-4.2.0\modules\videoio\src\videoio_registry.cpp (187) cv::`anonymous-namespace'::VideoBackendRegistry::VideoBackendRegistry VIDEOIO: Enabled backends(7, sorted by priority): FFMPEG(1000); GSTREAMER(990); INTEL_MFX(980); MSMF(970); DSHOW(960); CV_IMAGES(950); CV_MJPEG(940)
[ INFO:0] global E:

[2020-09-02 08:27] rytisss opened #18247 "LeakyReLU support in Tensorflow importer in OpenCV DNN module"
- OpenCV => 4.4.0
- Operating System / Platform => Windows 64 Bit or Ubuntu 18.04
- Compiler => Visual Studio 2019 or GCC

##### Detailed description

LeakyReLU is not supported in the OpenCV DNN modules Tensorflow models importer. I am exploring the source code of tf_importer.cpp and I found something similar to the possible LeakyReLU activation read implementation (mentioned from the line 1575):

[2020-09-02 08:36] YashasSamaga commented on #17422
@eLtronicsVilla

You can ignore this.

CUDA version of this layer is available on master.

[2020-09-02 08:43] eLtronicsVilla commented on #17422
Okay, Thanks for this information.

[2020-09-02 09:01] skaldesh opened #18248 "dnn::Net::forward: output matrix is not continuous"
##### System information (version)
- OpenCV => 4.4.0-dev
- Operating System / Platform => Arch Linux 64Bit
- Compiler => gcc9

##### Detailed description

After calling `forward()`, I wanted to reshape my output matrix (1,17,17,3) to a 3-channel matrix (17,17). However, the `reshape()` call failed, since the matrix is not continuous and reshape is not implemented for this case.

##### Steps to rep

[2020-09-02 09:18] skaldesh commented on #18248
Sorry, it was my own mistake. The output matrix is continuous. my bad

[2020-09-02 09:18] #18248 closed

[2020-09-02 09:47] dkurt commented on #18247
Can you please provide a reference TensorFlow code? According to our tests and the comments there is a support for one of the configurations:

https://github.com/opencv/opencv/blob/b45273eccb01323f5615b8900fd35407b1148939/modules/dnn/src/tensorflow/tf_importer.cpp#L1575-L1587

[2020-09-02 10:26] #18215 closed

[2020-09-02 10:48] rytisss commented on #18247
Tensorflow models are written here: https://github.com/rytisss/RoadPavementSegmentation
The model with a LeakyReLU activation can be defined as follows:
[code]

Although, to reproduce, I think it is easier to do with the converted model in C++ using OpenCV DNN engine. When  I try to predict, I am getting following error:
**OpenCV(4.4.0) Error: Unspecified error (Can't create layer "model/leaky_re_

[2020-09-02 11:14] rytisss commented on #18247
I forgot to mention, the model works well in Tensorflow. I tried to make it without a negative part in activation (changed LeakyReLU to ReLU), but apparently negative slope plays its part along with the particular data :)

[2020-09-02 12:13] Bahramudin commented on #17941
The problem I solve by enabling ngraph and locating its CMake files location. So closing the issue!
Big thanks @alalek !!!!

[2020-09-02 12:13] #17941 closed

[2020-09-02 12:15] Bahramudin commented on #18238
Closing this issue, the solution was self build the OpenCV with OpenVINO supports.

[2020-09-02 12:15] #18238 closed

[2020-09-02 12:37] Bahramudin opened #18249 "OpenCV error while decoding MB x xx, bytestream -x"
##### System information (version)

- OpenCV => 4.4.0
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description
The problem comes when reading frame from RTSP stream and at the same doing object detection by DNN module and IE (Reference Engine), If do reading frame and showing frame, there is no problem, but when doin object detection then the pro

[2020-09-02 13:21] oleg420 opened #18250 "oise"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues,
       answers.opencv.org, Stack Overflow, etc and ha

[2020-09-02 13:21] #18250 closed

[2020-09-02 13:46] skaldesh opened #18251 "dnn::Net: Get shape of multiple input layers (`getUnconnectedInputLayers()`)"
##### System information (version)
- OpenCV => 4.4.0-dev

##### Detailed description
I was wondering if dnn::Net offers a similar method to `getUnconnectedOutputLayers()` for input layers. Use case would be a model that has multiple input layers, and I want to perform a dummy forward to preload the model and warm up caches etc.

I would need the shape of the input layers of the model, in order to

[2020-09-02 13:48] Shane555 opened #18252 "Makefile:162: recipe for target 'all' failed"
##### System information (version)

- OpenCV => 4.4.0 with contrib lib
- Operating System / Platform => Ubuntu 18.04 LTS
-Cmake 3.10.2

##### Detailed description
[ 35%] Linking CXX executable ../../bin/opencv_perf_core
CMakeFiles/opencv_perf_core.dir/perf/cuda/perf_gpumat.cpp.o: In function `cv::cuda::GpuMat::GpuMat(cv::debug_build_guard::_InputArray const&, cv::cuda::GpuMat::Allocator*)':
/home/

[2020-09-02 14:15] rgov commented on #18244
I took the `ENABLE_NEON` option to be obsolete:

https://github.com/opencv/opencv/blob/422f802ec96feecbc9db2f60879e8fe364cf8a92/cmake/OpenCVCompilerOptimizations.cmake#L101-L102

If you set it to `TRUE`, the macro here would print a message not to use it anymore and to use `CPU_BASELINE` instead. Is that accurate?

[CMakeVars.txt](https://github.com/opencv/opencv/files/5162819/CMakeVars.txt)

[2020-09-02 14:59] eLtronicsVilla opened #18253 "Why onnx model reading is failing?"
##### System information (version)
- OpenCV =>  4.4.0
- Operating System / Platform =>  windows 10 ,
- System => NVIDIA GTX 1050 Ti,
- Compiler =>  Visual Studio 2017

##### Detailed description

I'm working on model inference using opencv cuda dnn module. While reading my onnx file using cv::dnn:: readNetFromONNX, I'm getting below message.

Opencv(4.4.0-dev) Error: Unspecified error (> (expected

[2020-09-02 15:39] rilpires opened #18254 "Proper extrapolation with findHomography"
- OpenCV => 4.4.0.42
- Operating System / Platform => Ubuntu 18.04

There is this simple case I plotted, where the source points of the homography is a simple square side==100 and the destination points is a square with side==10
(0,0) are the same in both planes
Inferring the homography matrix with 'findHomography' works fine here
So this is the plot with some other points inferred from 'perspecti

[2020-09-02 16:24] catree commented on #18254
Number of [dof of Homography](http://szeliski.org/Book/drafts/SzeliskiBook_20100903_draft.pdf#subsection.2.1.2) (projective transformation) is 8, so you need at least 4 points.

Probably a check should be added in `findHomography()`.

[2020-09-02 17:15] faddey-w commented on #4777
As far as I understood from OpenCV source code, it uses some kind of generator script to make the python wrappers - and these pre-calculated pyramids are an argument of quite specific structure, and the wrapper generator cannot correctly process this special case.

I created a Cython wrapper - a class, that stores the pyramid into a field, so it's like calcOpticalFlowPyrLK with state that caches t

[2020-09-02 19:23] alalek commented on #18252
You should dig in this direction.

---

Build / usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-09-02 19:26] alalek commented on #18244
You should not touch obsolete variables (by definition).
Correct state of these variables is `undefined`.

[2020-09-02 19:28] rgov commented on #18244
I have not touched them, I've run the `cmake` command above with a clean environment.

[2020-09-02 19:43] alalek commented on #18244
Finally, nothing is enabled.

---

Compiler by default doesn't enable NEON.
To perform detection of "my ARM CPU" capabilities compiler should receive `-march=native` flag.

Try to add `-DCPU_BASELINE=NATIVE` into CMake options.

---

Probably these flags are disabled through lines here:
https://github.com/opencv/opencv/blob/7a796b20ea90ca46018b6bc439ab6d49fc0abf53/CMakeLists.txt#L483-L486

If opti

[2020-09-02 20:57] rgov commented on #18244
Argh, I think I figured it out.

https://github.com/opencv/opencv/blob/225566da7bab2147d7109f42a0ec9d6039963edb/cmake/OpenCVCompilerOptimizations.cmake#L100-L101

This is called `ocv_optimization_process_obsolete_option` which looks like it means that these options are *obsolete*, right? The function even prints out a warning message not to use this option, and tells you to use `CPU_BASELINE` inst

[2020-09-02 22:56] nagisa opened #18256 "cv::rotate does not work with src=dst if src/dst are not square"
##### System information (version)

- OpenCV => 4.3, 4.4
- Operating System / Platform =>Irrelevant
- Compiler => Irrelevant

##### Detailed description

`cv::rotate` is documented as follows:

[code]

However when given the matrices for an in-place operation this function behaves in an undocumented manner and the following assert is triggered: https://github.com/opencv/opencv/blob/5ae9892170463cf

[2020-09-03 02:39] Shane555 commented on #18252
@alalek Alright. On a side note do you know what the flags BUILD_WITH_DEBUG_INFO and ENABLE_GNU_STL_DEBUG do? I suspect they are the problem that is causing this build error

[2020-09-03 02:39] #18252 closed

[2020-09-03 05:46] tonifds commented on #18219
1- image used from opencv example with stereo_calib.cpp (https://github.com/opencv/opencv/tree/master/samples/cpp , to get extrinsics.yml & intrinsics.yml

2- stereo_match.cpp (https://github.com/opencv/opencv/tree/master/samples/cpp) to generate point cloud and disparity map.

3-Stereobm argument:
    bm->setBlockSize(5);
    bm->setMinDisparity(0);
    bm->setNumDisparities(64);
    bm->setDisp1

[2020-09-03 07:11] odaken commented on #17929
I confirmed the same issue.

[2020-09-03 07:38] alalek commented on #18219
Stereo matching algorithms require textured objects (with unique patterns).

---

Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-09-03 08:06] #18209 closed

[2020-09-03 08:09] #18245 closed

[2020-09-03 08:10] #18222 closed

[2020-09-03 08:22] alalek commented on #18251
DNN supports inference of models with variable input size.
This request doesn't make sense for them (new input shape requires new warm up).

[2020-09-03 08:30] skaldesh commented on #18251
We are basically building a generic execution API for any kind of model. When loading a model (and it could be any) I just want to know what its input shapes are.
To me it seems incomplete that we can query the output shapes, but not the input shapes. And ONNXRuntime allows you to do just that.

[2020-09-03 09:33] dkurt commented on #18251
@skaldesh, Please take a look at `cv::dnn::Model`. It can determine input shapes.

The only problem is that for some of the networks input shapes might be undetermined (almost all TensorFlow models)

[2020-09-03 09:45] skaldesh commented on #18251
@dkurt Excuse my ignorance, but which additional functions does `cv::dnn::Model` offer that would help me get the input shapes? I can only see `setInput*()` methods on it.

I checked a lot the source code of `dnn.cpp`. Is my assumption right, that `cv::dnn::Net` creates a pseudo-layer "__NetInputLayer__" at index 0 that has all other input layers connected as its outputs? I tried calling `net.getL

[2020-09-03 09:58] dkurt commented on #18251
@skaldesh, for now it supports not all the frameworks. Please try on Caffe model first.

https://github.com/opencv/opencv/blob/c3e8a82c9c0b18432627fe100db332b42d64b8d3/modules/dnn/src/model.cpp#L52

Yes, this is a method to extract input shapes and there are no plans for now to create a public API for that.

[2020-09-03 10:14] r0l1 commented on #18209
Thanks for merging :+1:

[2020-09-03 10:20] skaldesh commented on #18251
You mean `getLayerShapes()`? I dont understand what you mean with *there are no plans for now to create a public API for that*. The method is public in the `cv::dnn::Net` class.

Anyway, I tried printing the input shapes like in your example:
[code]
It prints:
[code]
So the input shape seems to contain one empty `MatShape`.

If it helps, this is my [test model](https://github.com/opencv/opencv/fil

[2020-09-03 10:30] dkurt commented on #18251
As I already mentioned - OpenCV does not read input shapes for some frameworks. Supported only Caffe model, probably TensorFlow. Feel free to propose input shapes setup for other frameworks as well. See https://github.com/opencv/opencv/pull/16616/ as reference (we need to propagate `setInputShapes` in other importers, then `getLayerShapes` will work).

[2020-09-03 10:39] skaldesh commented on #18251
Thanks, now I understand.

I am considering to try it myself (not in the next days, but some time). Maybe I would start with ONNX, since its what we use right now most of the time.

[2020-09-03 11:06] dkurt commented on #18209
@r0l1, thank you for a bug report.

[2020-09-03 16:14] cashiwamochi opened #18259 "A typo error in GrabCut page of OpenCV.js Tutorials"
##### System information (version)
- OpenCV => 4.4.0-dev, 3.4.11-dev

##### Detailed description
In the explanation of parameters for cv.grabCut, we can see this following sentence.
[code]
I think that cv.rabCutClasses is wrong, cv.grabCutClasses is correct.

##### Steps to reproduce
There is no step to reproduce.

##### Issue submission checklist

 - [x] I report the issue, it's not a question
 -

[2020-09-03 17:22] alalek commented on #18256
`rotate()` operation is not going to work with in-placed source and destination buffers.
Only simple pixel-to-pixel operations may handle in-placed buffers.

Exception is correct behavior for that.

[2020-09-03 23:43] nagisa commented on #18256
In that case this is a bug report against OpenCV's documentation.

[2020-09-04 06:00] johnny-wang16 commented on #17860
The above solution doesn't work for me. I read  a lot of posts but still wasnt able to resolve the "DLL load failed"

[2020-09-04 06:10] issaiass commented on #17860
Did you build opencv python bindings again?

[2020-09-04 07:17] johnny-wang16 commented on #17860
when is this step happening? after pip uninstall??

[2020-09-04 09:46] Jiangggg1995 opened #18262 "imread fail in android's JNI sometimes."
##### System information (version)
- OpenCV => :4.4.0, 4.2.0, 4.1.0, 4.0.1
- Operating System / Platform => :android api 29, ndk 21
##### Detailed description

I'm trying to read images by opencv on android's JNI. Here is my code.
[code]

_imread_ is used in a loop, and the code will sleep 30 ms if _imread_ get data. Result is here.

_D/lightnet: ----------------------------------lightnet info----

[2020-09-04 11:36] HanwenCao commented on #18120
Hi, thank you for your excellent answer. It worked but I don't know why. Could you explain the reason for expliciting `img = np.array(img) `? Thank you!

[2020-09-04 11:45] benlcb opened #18263 "Bug in imwrite w/ 16bit JPEG2000"
### General Info
This is a bug that was fixed in C++ OpenCV (after version 2.4.6.1) about 5 years ago:
https://github.com/opencv/opencv/pull/6417/files
https://answers.opencv.org/question/92899/writing-jpeg-2000-images-with-16-bit/

Since opencv-python 4.4.0.42 is build on a much newer version of OpenCV, I don't understand why it still exists now in the python wrapper.

### Expected behaviour

`cv

[2020-09-04 11:50] alalek commented on #18263
As there is no corresponding 16U test, marking this as a feature.

BTW, OpenCV is migrating on OpenJPEG decoder/encoder (instead of Jasper).

[2020-09-04 13:05] issaiass commented on #17860
You need to build the bindings first as it says

[2020-09-04 14:42] SantiHM23 opened #18264 "Different weights for dnn's face detector"
Hi all,

I am playing with the face detector code, but I have some bad results when it comes to faces that have a small size in the image because they are far from the source. In [this article](https://towardsdatascience.com/face-detection-models-which-to-use-and-why-d263e82c302c) i read that this issue can be improved by passing as input to the "blobFromImage" function the original size of the im

[2020-09-04 16:05] eyanson opened #18266 "Eye detection with facemask (COVID)"
I´m using "haarcascade_eye.xml" to detect eyes but when I put the facemask for COVID, detection not work properly.
Can you send me a pattern for this ????

Thanks !

[2020-09-04 16:15] paroj opened #18267 "OE-33 "3D module" discussion"
https://github.com/opencv/opencv/wiki/OE-33.-3D-Module

[2020-09-04 16:20] paroj commented on #18267
some notes from my side

# cnn_3dobj
dont bother with this - it only provides the 3D rotation and not the full 6D pose and the training code is missing. Rather pick some state of the art pose method and improve dnn support as needed.

# Visualization
depending on what level of fidelity you want to achieve, providing an GPU (OpenCL) implementation of `cv::polylines` might be sufficient. [See my blo

[2020-09-04 16:23] rafale77 commented on #18264
I have experimented with a pretty large number of pretrained face detectors, including this one.
Between the ones included in dlib, this one, mtcnn and retinaface, I ended concluding that the resnet10 opencv caffe model is by far the fastest one but also the least reliable one. I tested a "training set" for recognition (which is another model) using the detector as the first stage and found out th

[2020-09-04 17:43] johnny-wang16 commented on #17860
oh yeah of course. you are talking up step 1 which is just building it normally

[2020-09-04 19:22] issaiass commented on #17860
yes

Saludos,

RA

________________________________
De: johnny-wang16 <notifications@github.com>
Enviado: viernes, 4 de septiembre de 2020 12:43 p. m.
Para: opencv/opencv <opencv@noreply.github.com>
Cc: Rangel Isaías Alvarado Walles <issaiass@hotmail.com>; Comment <comment@noreply.github.com>
Asunto: Re: [opencv/opencv] Import cv2 raises error, file in boostrap and DLL load failed (#17860)

oh yea

[2020-09-04 20:26] Shreerama9 commented on #18266
While putting facemask , detection not working properly ... Can u elaborate please like its not detecting anything or just eye's, etc.
And if can share .xml file that will make things easy.

[2020-09-04 23:03] TahaDz opened #18268 "importing cv2 prevents matplotlib from working"
##### System information (version)

- OpenCV => 4.4.0.
- Operating System / Platform => ubuntu 20.04 lts
- Python => 3.8
- PyQt : 5.15.0
- Matplotlib version: 3.3.1

##### Detailed description
Hello,
i used to work with matplotlib and opencv normally until i installed PyQt, whenever i import cv2 in the same file as matplotlib, matplotlib fuctions don't work (i tried in terminal and pycharm)
here i

[2020-09-04 23:34] TahaDz commented on #18268
another thing is that i am using cv2 for a small animation, when i execute the code it works normally but it prints this message :
`Qt: Session management error: None of the authentication protocols specified are supported`

[2020-09-05 04:01] komakai opened #18269 "Better support for Swift native array types"
##### System information (version)
- OpenCV => latest
- Operating System / Platform => macOS/iOS
- Compiler => Xcode

##### Detailed description

Currently when passing in/out array parameters to functions in Swift we have to use legacy type `NSMutableArray`. The array type gets erased in the Swift/Objective-C bridge so we end up with code like:
[code]

To fix this we need to add Swift extensions

[2020-09-05 05:19] alalek commented on #18268
Issues with dependencies of `opencv-python` package are not handled in this repository.
Try to ask for help here: https://github.com/skvark/opencv-python
Probably you want to use "headless" variant.

[2020-09-05 07:29] dayfixer opened #18271 "is `createVideoWriter` not working on nvcuvid?"
##### System information (version)

- OpenCV => :4.4.0 & 4.2.0
- Operating System / Platform => Windows10  64 Bit (1909)
- Compiler => Visual Studio 2019

##### Detailed description

I have build my opencv 4.4.0 using Cmake-gui 3.17.3 with CUDA 10.1 to speedup encoding videos.
I set `CUDA_nvcuvid_LIBRARY` pointing to *C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.1/lib/x64/nvcuvid.lib*, `

[2020-09-05 08:11] #18266 closed

[2020-09-05 08:13] dkurt commented on #18264
you may run the model on higher input resolution. Take a look at https://answers.opencv.org/question/202995/dnn-module-face-detection-poor-results-open-cv-343/#202999

[2020-09-05 08:13] #18264 closed

[2020-09-05 09:36] TahaDz commented on #18268
Thank you

[2020-09-05 12:47] hongyi-zhao opened #18272 "Raster-to-vector conversion with opencv."
Hi,

Can I convert images in raster formats, say, JPG, PNG, GIF to PDF, SVG, EPS formats with opencv?

Best regards,
HY

[2020-09-05 12:59] eyanson commented on #18266
I try to explain better (my english is not good)

I'm use two XMLs in my project:
This for detect eyes: https://github.com/opencv/opencv/blob/master/data/haarcascades/haarcascade_eye.xml
And this for detect face: https://github.com/opencv/opencv/blob/master/data/haarcascades/haarcascade_frontalface_default.xml

All works fine, but when I put the mask on my face, the detection of face not work and

[2020-09-05 17:49] alalek commented on #18271
See https://github.com/opencv/opencv_contrib/pull/2180

AFAIR, it worked on Linux with CUDA 9.x well.

---

Build / usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-09-05 17:58] extrowerk opened #18273 "OpenCV 4.4: build fails"
##### System information (version)
- OpenCV => 4.4
- Operating System / Platform => Haiku 64 Bit
- Compiler => GCC 8.3.0

##### Detailed description

Building OpenCV 4.4.0 release fails on Haiku:
[code]

##### Steps to reproduce

Build ocv on Haiku

##### Issue submission checklist

 - [x ] I report the issue, it's not a question

 - [ x] I checked the problem with documentation, FAQ, open issues,

[2020-09-05 17:59] extrowerk commented on #18273
Wow, my bad.

[2020-09-05 17:59] #18273 closed

[2020-09-05 20:50] #11877 closed

[2020-09-05 20:51] #8917 closed

[2020-09-05 20:51] #11142 closed

[2020-09-05 20:52] #17852 closed

[2020-09-06 06:12] zhongsy-zsy opened #18275 "how to link opencv,which is installed by myself"
my Cmakelists.txt'
[code]
but when i run make
[code]
it always links to ros-opencv

My file structure is

![image](https://user-images.githubusercontent.com/57831955/92319449-d16c4000-f04a-11ea-88df-49f88bb68e8b.png)

i want to know the reason and how to link opencv4.4.0

[2020-09-06 08:08] zhongsy-zsy commented on #18275
what,s the cmake find_package config modern Search path

[2020-09-06 08:34] dayfixer commented on #18271
Thank you for your reply!
 I have read all the content of your link, but still can't find a solution. Can you remind me what to do?

#### solutions I searched  this time
1. https://answers.opencv.org/question/125890/using-cvcudacodeccreatevideoreader/
which says:

2. https://answers.opencv.org/question/125890/using-cvcudacodeccreatevideoreader/
no answers...
3. https://answers.opencv.org/question/

[2020-09-06 10:24] alalek commented on #18275
Nothing to fix in OpenCV.
Read CMake documentation and inspect your build environment: https://cmake.org/cmake/help/latest/command/find_package.html#search-procedure

---

Build / usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-09-06 10:24] #18275 closed

[2020-09-06 10:40] miziha-zp opened #18276 "opencv cuda in win10 LNK2019"
##### System information (version)

- OpenCV => :grey_question:4.1
- Operating System / Platform => :grey_question:Win10 64 Bit
- Compiler => :grey_question:  Visual Studio 2017

##### Detailed description

##### Steps to reproduce
1. when I use the prebuild opencv library downloaded from opencv.org the followed code can run well,but when I build opencv with My machine(win10,VS2017),  the code don

[2020-09-06 17:11] alalek opened #18278 "OE-5 "OpenCV 5.0" discussion"
Discussion for Evolution proposal: **TBD**

[2020-09-07 03:08] dayfixer commented on #18276
opencv的预编译模型都是基础指令集，这是用来给你学学数字图像处理用的，如果你要用dnn，自己编译吧。。
ps.无法解析的外部符号，就是链接器没找到函数入口。
----------------------
You should recompile opencv instead of using precompiled, the function linker you are using is not found.

[2020-09-07 03:32] miziha-zp commented on #18276
为了使用cuda加速opencv的dnn模块，我尝试了在我的机器编译了opencv（I build opencv with My machine(win10,cmake,VS2017)），编译过程没有出现问题，然后测试了简单的图片读写程序也没有问题，但是当尝试编译带有dnn模块的时候出现了上述问题，我现在不太清楚如何定位问题，请指教

[2020-09-07 04:52] #18272 closed

[2020-09-07 05:23] dayfixer commented on #18276
dnn是有版本的，你的报错的版本`dnn4_v20200609`, 这个版本的dnn对应的是opencv4.4.0, 但是你编译的是opencv4.1，你重新编译一下opencv4.4用吧。
--------------
dnn has different versions, your error version is `dnn4_v20200609`, this version of dnn corresponds to **opencv4.4.0**, but you compiled opencv4.1, you can recompile opencv4.4 and use it.

[2020-09-07 06:01] l-bat commented on #18149
@pfeatherstone friendly reminder

[2020-09-07 06:56] SantiHM23 commented on #18264
Hi! Yes, that is what I was doing, but when making the detections, this is, when running the
`cv::Mat detection = net.forward("detection_out");`
line in the code above, in some cases the detections retrieved have values over 1, including top-left corner of the detection. Therefore, the bounding box that would correspond to the detection is completely out of the image, and it throws an error.
Is th

[2020-09-07 07:33] dkurt commented on #18264
@SantiHM23, just do `max(0, min(x, 1))` or open `.prototxt` and specify `clip: 1`:

https://github.com/opencv/opencv_extra/blob/80ae3bbb7223dd6617cce19e14d3058ae7f9ae1c/testdata/dnn/opencv_face_detector.prototxt#L1788

[2020-09-07 08:04] saleo commented on #9493
me 2, with similiar error prompt

`Regex: 'argument .* is not valid'
    Output line: 'cc1: warning: ‘-Werror=’ argument ‘-Werror=non-virtual-dtor’ is not valid for C'`

[2020-09-07 08:33] pfeatherstone commented on #18149
Sorry for the delay. It was this model: https://github.com/shepnerd/inpainting_gmcnn/blob/master/tensorflow/net/network.py

[2020-09-07 08:58] SantiHM23 commented on #18264
@dkurt thank you very much, it worked. I guess I was looking for a too complicated solution :D may I ask why the net makes some detections "outside" the image? is there any reason for that happening? For example, I found that mostly my problem with this came when at least one of the images dimensions was over 1000 pixels, but I am not able to tell if that may be a real problem, or it was just chan

[2020-09-07 09:17] yurkovak commented on #18120
@HanwenCao In my case the issue was in what was discussed in #15895. The bug appeared after flipping RGB to BGR with `img = img[:, :, ::-1]`. After replacing this line with the corresponding opencv operation like this `img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)` I was able to get rid of `img = np.array(img)`.
Please refer to [this comment](https://github.com/opencv/opencv/issues/15895#issuecomment

[2020-09-07 10:48] dkurt commented on #18264
SSD networks generate set of base bounding boxes (prior boxes or anchors). Then, one of the branches predicts scales for this boxes. See DetectionOutput layer:

https://github.com/opencv/opencv/blob/e421233a1d763c1e9f12271f0de2208ba26329a6/modules/dnn/src/layers/detection_output_layer.cpp#L697-L719

[2020-09-07 12:29] Ectrics commented on #14866
I had the same problems. Make sure you also check how you load the image. If you didn't use CV2 but for example skimage.io.imread, the above described problems will likely happen ;)

[2020-09-07 13:10] LNoving commented on #14866
I also noticed that input type may cause some differences, but I didn't figure it out since it is so weird. In my case I just used regular cv2 and numpy. These problems wasted my precious time which should be spent with beautiful girls.

[2020-09-07 15:03] drabaioli opened #18283 "DNN_TARGET_OPENCL_FP16 support for RK3399's Mali-T860"
DNN_TARGET_OPENCL_FP16 inference is currently available only with InferenceEngine (Intel hardware). However T8xx Mali GPUs (and many other GPUs), present in the quite popular ARM64 RK3399, are able to perform fp16 operations. This would result in a x4 inference speed up compared to fp32 inference.

I hope this could trigger a discussion on the changes involved. (Unfortunately I cannot help if Open

[2020-09-07 16:18] alalek commented on #9493
Outdated versions of OpenCV may not work with modern compilers.
You should upgrade or backport fixes.

[2020-09-07 16:37] drabaioli commented on #18283
I tried commenting in `dnn.cpp` the lines:
[code]

but it fails with:
[code]

so I guess it goes deeper into OpenCL kernels.

[2020-09-08 07:35] younggeun0 opened #18289 "OpenCV.js cv.threshold method don't support 'cv.THRESH_BINARY_INV' thresholding type"
##### System information (version)
- OpenCV => 4.4.0-dev
- Operating System / Platform => Windows 64 Bit
- Compiler => CDN on website

##### Detailed description

I tried to use cv.threshold(...) method. I realised that cv.THRESH_BINARY_INV thresholding type not working.
I tested it locally and also check the example on the web site. (https://docs.opencv.org/master/d7/dd0/tutorial_js_thresholding.

[2020-09-08 12:34] ee-lynn opened #18291 "issues when building for iOS"
when i installed **opencv ios**, i followed the tutorials as `python build_framework.py ios`, but it failed.
In the ios/build/build-armv7-iphoneos/CMakeFiles/CMakeError.log  I found many errors, i.e. "Code Signing Error: Bundle identifier is missing. cmTC_bc20b doesn't have a bundle identifier. Add a value for PRODUCT_BUNDLE_IDENTIFIER in the build settings editor."
how can i add Bundle identifier

[2020-09-08 16:48] gabriellatsv opened #18293 "I cannot find the source code for Aruco functions like estimatePoseSingleMarkers after using grep -r in linux terminal."
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [x] I report the issue, it's not a question

 - [x] I checked the problem with documentation, FAQ, open issues,
       answers.opencv.org, Stack Overflow, etc and ha

[2020-09-08 18:08] eyanson opened #18295 "Eye detection with face mask"
I try to explain better

I'm use two XMLs in my project:
This for detect eyes: https://github.com/opencv/opencv/blob/master/data/haarcascades/haarcascade_eye.xml
And this for detect face: https://github.com/opencv/opencv/blob/master/data/haarcascades/haarcascade_frontalface_default.xml

All works fine, but when I put the mask on my face, the detection of face not work and the detection of ayes is

[2020-09-08 22:33] VeryG00dName opened #18297 "YOUR WEBSITE HAS BEEN HACKED SOMEONE SHOULD REALLY GET ON THAT!!!!!"
YOUR WEBSITE HAS BEEN HACKED SOMEONE SHOULD REALLY GET ON THAT!!!!!

[2020-09-08 23:52] FakeZombieCraft opened #18298 "UR WEBSITE IS LEGIT HACKED, MY ANTIVIRUS IS BLOCKING ACCESS TO IT SINCE SOME VIRUS NAMED MOUTHTROUBLEASK IS TRYING TO DOWNLOAD SOMETHING!!!!!!!!!!!!!!!PLEASE FIX!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [x] I report the issue, it's not a question

 - [x] I checked the problem with documentation, FAQ, open issues,
       answers.opencv.org, Stack Overflow, etc and ha

[2020-09-09 05:59] qq2225936589 commented on #13328
If you have already installed protobuf, first rename the include\google\protobuf in the protobuf directory to other name, and then try

[2020-09-09 07:51] SantiHM23 commented on #18264
Hi again, and sorry for the insistence. I have come across another problem when using the full size image. Independently if I run the code on a series of random images or the input from a webcam, there is something weird happening. The detection for the first image/frame is good and normal, but for the following ones it starts to become crazy and output like 100 detections even if there is only on

[2020-09-09 08:09] sl-sergei opened #18300 "Problem with loading ONNX networks with Resize layer"
##### System information (version)

- OpenCV => 4.4.0-dev or 3.4.11-pre
- Operating System / Platform => Ubuntu 18.04
- Compiler => gcc 7.5.0

##### Detailed description

OpenCV has the following problem with loading networks with **Resize** layer:

cv2.error: OpenCV(3.4.11-pre) /home/ssl/Documents/projects/OpenCV/opencv/modules/dnn/src/onnx/onnx_importer.cpp:1424: error: (-2:Unspecified error) in

[2020-09-09 08:18] sl-sergei commented on #18253
@eLtronicsVilla  please, check https://github.com/opencv/opencv/issues/18300 if you have the same issue

[2020-09-09 08:46] zzeitt commented on #17353
I met the same problem, does anyone know how to solve this?

[2020-09-09 08:57] Whitehouse112 commented on #17353
Until now the only way I found to avoid this error is to check the widht and height of the image you want to retrieve. It seems that if one of the dimension is 1, then detectAndCompute funtion will return this error

[2020-09-09 09:13] dkurt commented on #18264
@SantiHM23, please do not use GitHub issues for usage questions - most probably there is a bug in your code.

[2020-09-09 09:14] dkurt commented on #18295
a) Can anybody create an XML for this situation?
b) Can anybody help me with generate an XML for this situation?

GitHub issues is not a place for usage questions. We use it for bug reports or featurerequests.

[2020-09-09 09:14] #18295 closed

[2020-09-09 09:16] #18297 closed

[2020-09-09 09:17] #18298 closed

[2020-09-09 09:24] lpea commented on #18293
The Aruco module is in OpenCV contrib: https://github.com/opencv/opencv_contrib.

Search results for estimatePoseSingleMarkers in this repository: https://github.com/opencv/opencv_contrib/search?q=estimatePoseSingleMarkers&unscoped_q=estimatePoseSingleMarkers

Also, such questions should be asked here I think: http://answers.opencv.org/.

[2020-09-09 09:26] zzeitt commented on #17353
Thanks for your reply. For me, it's the 'dsize' argmuent being (0,2) that caused the crash of my codes. So I checked the destination size before feeding it into resize() function, and the problem is solved now!

[2020-09-09 09:40] MegatronKing commented on #15346
+. The same.

[2020-09-09 09:43] xnxy commented on #15346
install_name_tool -id @rpath/opencv2.framework/opencv2 opencv2

[2020-09-09 09:47] mmx110 opened #18301 "how can i get "libopencv_world.so" by cmake in linux?"
how can i get "libopencv_world.so" by cmake in linux?

[2020-09-09 09:52] xnxy commented on #15346
https://xnxy.github.io/xnxy.github.io/2020/05/11/如何编译iOS版OpenCV动态库/

[2020-09-09 09:59] asbilgi opened #18302 "Memory leak Raspbian video encoder"
##### System information (version)

- OpenCV => 4.1, 4.2, 4.3
- Operating System / Platform => Raspbian  (Debian Jessie)
- Compiler => gcc 4.9.2

##### Detailed description

When I add FFMpeg (libavcodec, libavformat etc. codecs), a memory leak occurs on program. Is there any known issue on raspbian hardware encoder?

[2020-09-09 10:03] #18301 closed

[2020-09-09 10:23] mshabunin commented on #18297
@VeryG00dName , please file an issue here https://github.com/opencv-infrastructure/opencv.org/issues
Provide some details: what country are you accessing the website from and what is your browser and device (PC/mobile).

[2020-09-09 11:42] eyanson opened #18303 "> The question are:"
Mr DKURT.
1) My feature request is detection of face with mask.
2) If github is not the place to this situation, please don´t block my way, explain me where I can request this feature.
Sorry, I'm new in github and those communities.
Thanks !!

a) Can anybody create an XML for this situation?
b) Can anybody help me with generate an XML for this situation?

GitHub issues is not a place for usage que

[2020-09-09 12:44] dkurt commented on #18303
@eyanson, please do not reopen issues but just continue the original threads. You may use http://answers.opencv.org/ or https://stackoverflow.com/ with `opencv` tags.

[2020-09-09 12:44] #18303 closed

[2020-09-09 12:45] dkurt commented on #18302
Please provide a reproducer

[2020-09-09 12:45] #18293 closed

[2020-09-09 12:47] dkurt commented on #18291
Please use the latest state of OpenCV source code.

related https://github.com/opencv/opencv/issues/14873

[2020-09-09 12:47] #18291 closed

[2020-09-09 16:48] AlexandreBourrieau opened #18304 "opencv-4.4.0\modules\videoio\src\cap_msmf.cpp (682) CvCapture_MSMF::initStream Failed to set mediaType (stream 0, (640x480 @ 30) MFVideoFormat_RGB24(unsupported media type)"
##### System information (version)

[OpenCV1.zip](https://github.com/opencv/opencv/files/5196784/OpenCV1.zip)

Hello,

I make an example program with opencv on my main computer (windows 10 x64) with opencv4.4.0, visual c++ 2019 and it work fine on the main computer. I have compiled sources files as explain on the opencv site.

When i try to run it on a windows 7 x64 computer after importing all th

[2020-09-09 17:34] dinossht commented on #15031
Getting the latest cmake (from https://cmake.org/install/) solved this issue for me

[2020-09-09 19:53] liuxingbaoyu opened #18305 "imread supports Non-ASCII filename in opencv-python+Windows"
##### System information (version)

- OpenCV => 4.4
- Operating System / Platform => Windows
- Compiler => opencv-python

##### Detailed description

https://github.com/opencv/opencv/pull/13368#issuecomment-601691268
Although in this issue the opencv team decided not to change the c++ api
But the processing method in opencv-python may be better
`imread` was called with the wrong encoding here
shou

[2020-09-10 05:16] Odianosen25 opened #18307 "Cannot build OpenCV with Intel VA, asking for "CL/va_ext.h" file"
##### System information (version)

- OpenCV => 4.4.0
- Operating System / Platform => Alpine 3.12
- Compiler => clang++

##### Detailed description

I am trying to compile opencv with VA_INTEL. I have compiled and installed Intel MSDK and OpenCL. But while compiling, the following error shows up

[code]

This has something to do  with the fact its looking for a file `va_ext.h` in the `include/CL`

[2020-09-10 07:05] adishavit opened #18308 "ML Model Files FileStorage Memory Consumption"
I have a very large ML model file (xml/yaml/json approx 300MB and with .gz ~30MB).
When I load the file with FileStorage (before loading into the ML model, the app consumes over 1GB of memory.
Once the ML model is initialized and the file is released, the memory consumption drops to about 200MB (more difficult to measure).
My app needs to run on 32-bit machines and this memory consumption spike is

[2020-09-10 10:22] mshabunin commented on #18307
@Odianosen25 , you have to install Intel OpenCL SDK, it should contain required header.

[2020-09-10 10:53] Odianosen25 commented on #18307
Hello @mshabunin,

Thanks for the response. I did install opencl sdk using https://pkgs.alpinelinux.org/package/v3.12/community/x86_64/opencl-headers and also https://pkgs.alpinelinux.org/package/edge/testing/x86_64/intel-compute-runtime and all the files that go with it.

In addition when I run the compile, in the logs it does say it has seen opencl sdk and echos the directory. Same thing I do wh

[2020-09-10 11:02] asmorkalov commented on #18308
@adishavit Thanks for the report. Could you provide the model (it could be filled with zeros or dummy values) and code to reproduce the issue? In case if you use Python you can try Numpy methods to do it.

[2020-09-10 11:07] Odianosen25 commented on #18307
I don’t know if this helps, but it seems this same file was removed from compiling media studio at some point https://github.com/Intel-Media-SDK/MediaSDK/issues/28

[2020-09-10 11:25] asmorkalov commented on #18262
Could you try to use OpenCV `cv::glob` to search files.  See https://docs.opencv.org/master/d0/df8/samples_2cpp_2train_HOG_8cpp-example.html#a15 for example. The issue looks like stack corruption and `usleep` just fixes or hide the problem.

[2020-09-10 11:27] asmorkalov commented on #18259
@cashiwamochi thanks for the report. OpenCV is open source library and you are welcome to contribute a fix.

[2020-09-10 11:39] mshabunin commented on #18307
@Odianosen25 , looks like Alpine repository does not contain headers with Intel-specific extensions. You have to download OpenCL SDK from the [official Intel website](https://software.intel.com/content/www/us/en/develop/tools/opencl-sdk.html).

MediaSDK issue seem to be about compilation of open-source MediaSDK with non-Intel OpenCL headers.

[2020-09-10 11:53] Odianosen25 commented on #18307
@mshabunin ok thanks. Just that I had thought the installation of the intel runtime was to fix all that. Now to figure how to compile the sdk for Alpine 😬.

Please any extra help on that will be greatly appreciated.

Kind regards

[2020-09-10 12:00] mshabunin commented on #18307
You don't need to compile anything, just get OpenCL headers with Intel extensions from installed "OpenCL SDK".

Are you mixing "MediaSDK" and "OpenCL SDK"? These are two different products.

[2020-09-10 12:46] adishavit commented on #18308
Here's my code:
[code]
Here's a sample [`xml.gz` file](https://drive.google.com/file/d/1oAsMe7bIJ-j727nuJmIr4NlKAw9nwgIb/view?usp=sharing).

[2020-09-10 13:17] mshabunin commented on #18307
It should not matter as you only need OpenCL headers from that package. Set `OPENCL_INCLUDE_DIR` cmake parameter to the correct location.

[2020-09-10 15:14] cashiwamochi commented on #18259
@asmorkalov
Thanks for you reply and I noticed that PR was submitted by other people before I did it. Thus can you review this PR (https://github.com/opencv/opencv/pull/18310) ?

Thanks

[2020-09-10 20:11] VadimLevin commented on #18305
Good day, thank you for your valuable suggestion.
I checked current status of the unicode problem under Windows using the following test:
[code]
and test is passing on the following environment:
* OS: Windows 10 x64 (ACP (active code page) 1251, OEMCP 866)
* OpenCV: 3.4.12 (compiled both with MBCS and without MBCS support)
* Python 3.7.9 (from the official page)

And according to the offical [Micr

[2020-09-10 20:41] liuxingbaoyu commented on #18305
Thank you very much for your test!
After I ran it, I found that imwrite and imread created a new file with garbled names, not a file created with `tempfile.mkstemp` :)
should='C:\Users\Public\Documents\Wondershare\CreatorTemp\测试文件_tést_mynameeeewdlmvqre.png'
real in my system(ACP 936)='C:\Users\Public\Documents\Wondershare\CreatorTemp\娴嬭瘯鏂囦欢_t茅st_mynameeeewdlmvqre.png'
You can use the following co

[2020-09-10 20:49] liuxingbaoyu commented on #18305
You can find the pyd file `cv2.cp37-win_amd64.pyd`.
Use any editor (such as `010 Editor`) to search for `PyUnicode_AsUTF8String` and replace it with `PyUnicode_AsMBCSString`.
Then run this test and it will pass normally.

[2020-09-11 03:21] Darker commented on #14490
For anyone wondering, alalek's comment solved the issue. This means set your `CMAKE_TOOLCHAIN_FILE` to `NDK_HOME\build\cmake\android.toolchain.cmake`

[2020-09-11 04:28] dipanshug124 commented on #18259
@cashiwamochi Can you assign this issue to me?

[2020-09-11 04:31] techmaticsnz opened #18311 "opencv-ios cannot create image from mat because 0x0 size."
System information (version)
OpenCV => 4.4
Operating System / Platform => iOS
Compiler => Xcode

Detailed description
I'm using OpenCV native C++ code.
Reading from mjpeg stream and then passing it through to a function that converts Mat to UIImage gives an error:

2020-09-11 15:43:40.542268+1200 OpenCVSpikeSolution[366:31900] [Unknown process name] CGImageCreate: invalid image size: 0 x 0.

code

[2020-09-11 05:16] Darker commented on #8108
"documentation improvement" I've been googling for 2 hours now, and the only information I found was in stackoverflow questions. Where is the "documentation" that is being improved?

[2020-09-11 05:27] Odianosen25 commented on #18307
Hello @mshabunin,

I have downloaded the SDK from the website and installed it in my Ubuntu server (at least to test first, in case I get into an Alpine issue), and I can confirm that file is still no where to be found. Do kindly see my file below

[code]

Do you still think I am missing something? That file is a mystery, and no matter how hard I try, I seen to find it.

If you have access to it,

[2020-09-11 06:06] homandiy commented on #14490
Use WSL is much easier to compile the source file in Windows.

[2020-09-11 06:59] Mole-09 opened #18313 "stereoRectify() get very small dst Image（the valid region is very small）"
##### System information (version)
- OpenCV => 3.2.0
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description
I want to use stereoRectify() to get undistorted Image，but these Images is incorrect 。
like this：
leftsrc image：
![leftsrcimage](https://github.com/Mole-09/TempImage/blob/master/0.bmp)
rightsrc image：
![rightsrcimage](https://github.com/M

[2020-09-11 08:09] mshabunin commented on #18307
Maybe it has been renamed to `cl_va_api_media_sharing_intel.h`? Or `cl_ext_intel.h`? Could you please try to patch the sample and try different headers?

[2020-09-11 08:30] Odianosen25 commented on #18307
@mshabunin,

Yeah I was really thinking same. If I could at least get the content of the `va_ext.h` file, I could go via my contents and see which one matches. I couldn't even figure it out, as couldn't find the file on line.

My money though is on `cl_ext.h`

Regards

[2020-09-11 08:35] Odianosen25 commented on #18307
Ah seems you u right, just found this https://patchwork.ffmpeg.org/project/ffmpeg/patch/1548141337-32109-1-git-send-email-ruiling.song@intel.com/

Though I don't have these files in my Alpine packages, but will figure it out later

[2020-09-11 09:53] Odianosen25 commented on #18307
@mshabunin,

As a quick update, on the OpenCL headers, just noticed that the Alpine packages are seriously out of data, so will work on getting that rebuilt, so I use the latest which contains the right header files. Will  do a `git clone` for now and move it to the right directory, but have submitted an issue so its fixed.

Will let you know how the others go.

Regards

[2020-09-11 12:19] asmorkalov commented on #18205
@azuredsky could you provide the model with dummy weights to reproduce the issue?

[2020-09-11 12:56] Odianosen25 commented on #18307
@mshabunin,

I can confirm patching the file with the new line, I was able to pass that section of the build. I will make a PR to opencv, so this can be fixed. Just that I wonder if only few ppl actually build opencv, wanting to make use of Intel's VA.

Anyways though I ran into another issue, which might be unrelated. if unrelated, I will close this issue; but please I will really appreciate if y

[2020-09-11 13:03] berak commented on #18205
@asmorkalov

it can be reprocuced with:

[code]

same error (self built on colab)
[code]

[conv1d.onnx.txt](https://github.com/opencv/opencv/files/5209132/conv1d.onnx.txt) (remove .txt extension)

[2020-09-11 14:09] choffmann commented on #17952
I had the same issue. Removing the const in `GKernel` "fixed" issue. May I ask what MR stands for?

[2020-09-11 14:29] OrestChura commented on #17952
@choffmann, dmatveev meant to open a Pull Request / Merge Request in this repo to "fix" this issue if you've figured out the proper changes already.

[2020-09-11 14:33] mshabunin commented on #18307
This feature (WITH_VA_INTEL) is not about using VA, but about enabling 3 functions for VA-OpenCL interoperability: https://docs.opencv.org/master/d1/daa/group__core__va__intel.html
OpenCV does not have integration directly with libva, though it is used by MediaSDK (MFX) backend in _videoio_ module.

It would be better to leave this issue open, because the header `CL/va_ext.hpp` is wrong and should

[2020-09-11 14:41] crackwitz commented on #8108
the code uses `clGetSupportedImageFormats`
https://github.com/opencv/opencv/blob/c3bb57afeaf030f10939204d48d7c2a3842f4293/modules/core/src/ocl.cpp#L6461

this lists possible channel orders, `CL_RGB` exists for OpenCL in general:
https://www.khronos.org/registry/OpenCL/sdk/2.2/docs/man/html/cl_image_format.html

the OpenCV code explicitly supports only 1/2/4-channel data.

https://github.com/opencv

[2020-09-11 15:08] asmorkalov commented on #18205
Thanks a lot!

[2020-09-11 15:10] Odianosen25 commented on #18307
@mshabunin,

Ah as the only reason I am going via all these stress, is to enable the use of the Transparent API in opencv (ocl I believe it is), which I had thought I could only do with VA_INTEL enabled.

As for the compiler, will attempt to downgrade it and see if it fixes it. Thought not sure how to do that yet 🤔, but always up for a challenge. Gotten this far, not willing to give up now.

Thank

[2020-09-11 16:46] dmatveev commented on #17952
@OrestChura  can you please do it?

[2020-09-11 16:47] dmatveev commented on #17952
@mshabunin @alalek can we finally add that faulty config to our CI? Seems people are using a broader / newer range of compilers/etc than we validate

[2020-09-11 21:34] egorpugin commented on #18166
Possible solution is to make a function (see the pic), but this approach also has drawbacks. (See my comments in gdal thread.)
I've quick fixed the issue locally to be able to run opencv+gdal binaries for my needs.

![image](https://user-images.githubusercontent.com/4325333/92974802-ae4cf080-f48f-11ea-9d60-1abb1013cf0b.png)

[2020-09-11 23:54] denzfarid commented on #8139
thank you

[2020-09-12 07:11] nicheng0019 commented on #16852
It seems the same problem as #6065

[2020-09-12 07:11] #16852 closed

[2020-09-12 10:47] QBarbeAusy commented on #16348
Hello, everyone,

I'm sorry to open that issue again but I have exactly the same setup and also the same problem: my RTX 2060 doesn't use all VRAM with cudnn. I compiled opencv with CUDA 10.1  and Cudnn 8.0.2 and I also use yolov3 model with darknet and I hit around 13 fps with a 400x400 image. on windows 10. I also have a i7 9700K and 16GB DDR4.

I tried to use

[code]
which gave me some better r

[2020-09-12 11:48] YashasSamaga commented on #16348
@QBarbeAusy what version of OpenCV are you using?

There is no reason why all the GPU memory needs to be consumed. More memory consumption does not imply it's faster.

Can you check if the comments in https://github.com/opencv/opencv/issues/17422 answer your question?

[2020-09-12 12:09] QBarbeAusy commented on #16348
Thanks a lot for your quick (and precise) answer @YashasSamaga !
So, you mean that I have to downgrade to Cudnn 7.6.5 for make it works faster? is it compatible with opencv 4.4.0 ?

Anyway, I'll try to build opencv using this old cuDNN version and I'll be back to say if it's better in that case, in order to solve this issue.

[2020-09-12 12:41] parthpatadiya opened #18319 "The Main Page of your Website"
opencv.org
your website's home page is looks like hacked. please check it and fix your home page

[2020-09-12 12:45] #18319 closed

[2020-09-12 20:34] choffmann commented on #17952
Ok, I created a PR #18320.

[2020-09-12 22:20] #18259 closed

[2020-09-13 03:43] 123liluky opened #18321 "Error while loading pytorch model in opencv"
I used a lstm layer and a fc layer in pytorch model.
After training, I changed ***.pth model into onnx model, like below,
torch.onnx.export(model,[img_tensor,(h,c)],'***1.onnx',verbose=True,opset_version=9,input_names=["input","h","c"],output_names=["output"]).
***1.onnx looks like this,
![image](https://user-images.githubusercontent.com/20832778/93009664-43e2a000-f5b6-11ea-831d-04fba90c7ee8.png)

[2020-09-13 07:28] YannickLecroart opened #18322 "Cannot read Keras H5 converted model to pb/pbtxt in C++"
Hi,

I successfully converted my Keras H5 model that I use in Python into a pb and pbtxt files in order to use the same model in C++ via OpenCV.

You can find below the sample code I used simply to make sure that I can load the model correctly:

    #include <opencv2/dnn.hpp>
    #include <opencv2/imgproc.hpp>
    #include <opencv2/highgui.hpp>

    #include <fstream>
    #include <sstream>
    #i

[2020-09-13 08:50] zglinghunan opened #18324 "What is the difference between using getTickCount and using getPerfProfile to compute running time?"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description
I have used the dnn model to runing Yolov4 code to detect object, and used two methods to comput the running time,

But I have found that my code has  the great different running time between by getTickCount () and by getPerfProf

[2020-09-13 12:02] alalek commented on #18166
@egorpugin Thank you for the report and workaround! Please take a look on the patch here: #18325

[2020-09-13 13:23] Odianosen25 commented on #18307
@mshabunin,

Hope you good?

Looking at this error, as I have submitted it to the llvm bug report, but there is some other bug I get before this one initially, and hope you could point me in the right direction why it happens:

[code]

Kind regards

[2020-09-13 13:31] #17952 closed

[2020-09-13 14:50] YashasSamaga commented on #18324
Are you using the CUDA backend? `getPerfProfile` is not supported by the CUDA backend.

[2020-09-13 14:53] dkurt commented on #18321
Please provide a link to ONNX file or at least irigin PyTorch code. Issue should be reproducible.

[2020-09-13 18:25] kabasakalis opened #18326 "v c"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues,
       answers.opencv.org, Stack Overflow, etc and ha

[2020-09-13 18:25] kabasakalis opened #18327 "v c vc"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues,
       answers.opencv.org, Stack Overflow, etc and ha

[2020-09-13 20:51] souradeepmajumdar05 commented on #16579
is this issue is still open? i would like to work on it.

[2020-09-13 20:53] souradeepmajumdar05 commented on #13413
anybody working on this issue?

[2020-09-13 21:02] souradeepmajumdar05 commented on #9099
Can i take up this bug?

[2020-09-13 21:09] souradeepmajumdar05 commented on #13911
Is this still a open issue?

[2020-09-13 21:54] #18326 closed

[2020-09-13 21:54] #18327 closed

[2020-09-14 00:21] 123liluky commented on #18321
Thanks for your reply. Here are two ***.onnx models.
[onnx model.zip](https://github.com/opencv/opencv/files/5215448/onnx.model.zip)

[2020-09-14 00:45] zglinghunan commented on #18324
Yes, the config file of my net is given as follows:
        net = cv::dnn::readNetFromDarknet(modelConfiguration, modelBinary);
	net.setPreferableTarget(cv::dnn::DNN_TARGET_CUDA_FP16);
	net.setPreferableBackend(cv::dnn::DNN_BACKEND_CUDA);

do you mean that the getPerfProfile() doesn't work for running time computation  if  I use DNN_BACKEND_CUDA for Backend?

[2020-09-14 01:19] 123liluky commented on #18321
More info:
1、model definition is:
import torch.nn as nn
class lstmFc(nn.Module):
    def __init__(self):
        super(lstmFC, self).__init__()
        self.lstm = nn.LSTM(input_size=1350,hidden_size=50,num_layers=1,batch_first=True)
        self.fc = nn.Linear(50,2)
    def forward(self, x):
        out_lstm, (hn,cn) = self.lstm(x)
        out = self.fc(out_lstm[0,0,:])
        return out
2、expor

[2020-09-14 01:45] FakeZombieCraft opened #18328 "ANOTHER PART OF UR WEBSITE IS HACKED HERE IS THE LINK FOR THAT PART: https://opencv.org/introducing-oak-spatial-ai-powered-by-opencv/ PLEASE CHECK YOUR WEBSITE LINKS SINCE I THINK THAT A LOT OF HACKERS WANT TO TAKE IT DOWN!!!!!!!!!!!!!!!!!!!!!!!PLEASE FIX!!!!!!!!!!!!!!!!!!!"

[2020-09-14 02:19] BUgxCreator opened #18329 "opencv4.4, issue about opening the stereo camera"
----------------------------
- OpenCV => 4.4
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

----------------------------
The type of the stereo camera that we currently use is that two cameras are seperated, which means you need two VideoCapture to read both cameras.

In the version of 4.4, we can't read both cameras at the same time!  We can only read one camera

[2020-09-14 04:42] YashasSamaga commented on #18324
Yes.

[2020-09-14 06:19] kabasakalis commented on #18327
I am sorry, I don't know how this happened. I was browsing your repo for sure, but have no clue whatsoever  how this  issue opened! Very weird!

[2020-09-14 06:30] l-bat commented on #18321
@123liluky  OpenCV only supports constant zero tensors for` initial_h and initial_c`, as in https://github.com/opencv/opencv_extra/blob/master/testdata/dnn/onnx/generate_onnx_models.py#L676

[2020-09-14 07:54] atinfinity commented on #18329
@BUgxCreator Could you please give us the following information?

- OpenCV package
  - self-extracting archive?
  - You build from source code?
- Used videoio backend <https://docs.opencv.org/4.4.0/d0/da7/videoio_overview.html>
  - FFMPEG?
  - DSHOW?
  - MSMF?
- Product name of your camara
- Sample code to reproduce

[2020-09-14 08:58] BUgxCreator commented on #18329
sorry! i hava updated the question description. thank you!

[2020-09-14 09:27] mshabunin commented on #18307
OpenCL support is enabled by default (`WITH_OPENCL` option`) and does not require any third-party dependencies because standard OpenCL headers are shipped with OpenCV. You need to prepare an environment for runtime though, can be verified by running `clinfo`.

It looks like you are using musl library which is not supported by your OpenBLAS version, try to disable it: `WITH_LAPACK=OFF`.

[2020-09-14 10:14] #18328 closed

[2020-09-14 10:15] dkurt commented on #18322
cv::dnn::dnn4_v20200609::`anonymous-namespace'::addConstNodes, file C:\build\master_winpack-build-win64-
vc15\opencv\modules\dnn\src\tensorflow\tf_importer.cpp, line 672

Have you tried to run without `.pbtxt`? This assertion means there are duplications of Const layers

[2020-09-14 10:28] YannickLecroart commented on #18322
Yes as I said it works without the pbtxt file but I want to understand why I cannot use the pbtxt file while loading the model just for curiosity.

[2020-09-14 11:57] Jiangggg1995 commented on #18262
@asmorkalov Thank you for your reply. And I tried the cv::glob as you menthioned, it fails too. My code here:
[code]
and the result:
_D/lightnet: success to load /storage/emulated/0/Download/test_images/00000785.jpg
D/lightnet: success to load /storage/emulated/0/Download/test_images/0083aaf965ba309a150ea1fe0534ac68.jpg
D/lightnet: success to load /storage/emulated/0/Download/test_images/1631901.j

[2020-09-14 12:13] doruksonmez opened #18334 "About "CMake Error: The following variables are used in this project, but they are set to NOTFOUND" Error"
##### System information (version)

- OpenCV => 4.3
- Operating System / Platform => Ubuntu 18.04
- Compiler => cmake 3.10.2 / GNU Make 4.1

##### Detailed description

Hi, I wanted to build OpenCV from source with CUDA 11.0 and cuDNN 8.0. However I am getting an error when I try to generate cmake file to start the build process. It states that "CMake Error: The following variables are used in thi

[2020-09-14 12:55] mshabunin commented on #18329
What does it mean? What do you observe? Error message, exception? Try to run your application with environment variables `OPENCV_VIDEOIO_DEBUG=1` and `OPENCV_LOG_LEVEL=debug`.

[2020-09-14 13:01] BUgxCreator commented on #18329
sorry for my bad expression. I mean when i use the code above, the ideal scenario is supposed to be that i got two workable cap(cap and cap1) and i can use "cap>>frameL; cap1>>frameR" to get frame of these two cameras(the two cameras consist of a stereo camera). However, in the version of 4.4, if frameL got the frame of left camera, frameR will be empty and if you change the sequence of code, fram

[2020-09-14 18:12] #18334 closed

[2020-09-14 18:45] dkurt commented on #18322
Please read https://github.com/opencv/opencv/wiki/TensorFlow-text-graphs for details. `.pbtxt` is optional argument.

Can we close an issue this way?

[2020-09-14 18:54] sasanasadiabadi opened #18336 "DNN module in OpenCV built for OpenVINO and CUDA does not support CUDA"
##### System information (version)

- OpenCV => 4.5.0-pre
- Operating System / Platform => Ubuntu 18.04.4 LTS x86_64
- Compiler => gcc-7.5.0, cmake-3.18.0

##### Detailed description

I build opencv dnn with cuda (-D WITH_CUDA=ON -D WITH_CUDNN=ON -D OPENCV_DNN_CUDA=ON) and with openvino IE (-D WITH_INF_ENGINE=ON  -D ENABLE_CXX11=ON) separately and the DNN_BACKEND_CUDA and DNN_BACKEND_INFERENCE_ENG

[2020-09-14 18:59] #18322 closed

[2020-09-15 01:14] carrycooldude commented on #13413
**I want to work on this issue** @dkurt

[2020-09-15 01:30] 123liluky commented on #18321
OK. Thank you. Now, I use initial_h and initial_c with default zero tensors. And I use a input series with time_steps=6, batch_size=1. But another error happens:
![image](https://user-images.githubusercontent.com/20832778/93154046-3bfd3a00-f735-11ea-8d60-232d6426d01b.png)
1、model definition is
[code]
2、export onnx model using codes below:
[code]
lstm.onnx is provided
[lstm.onnx.zip](https://github

[2020-09-15 04:03] sgriset opened #18340 "DNN_TARGET_CUDA_FP16 Slower on JetPack 4.4 then JetPack 4.2"
##### Jetson Nano (JetPack 4.2 and JetPack 4.4)
OpenCV => 4.4
When running DNN_TARGET_CUDA_FP16 backend inferencing is much slower on JetPack 4.4 then JetPack 4.2 (see attached pdf file for performance numbers in milliseconds).  When I was monitoring the system using jtop I noticed under 4.2 the system tends to spread processing across CPU/GPU, while under 4.4 the GPU handles the majority of the w

[2020-09-15 05:22] bharathreddy3468 commented on #18304
same problem here on the win 7 64bit

[2020-09-15 05:44] zglinghunan commented on #18324
Thanks
But I still have a question,  I do object detection for video using net.forward(), The first frame costs more than 1000ms, and the other frames only cost about 10ms, why?

[2020-09-15 05:57] YashasSamaga commented on #18324
The `Net` object initializes in the first forward pass.

[2020-09-15 05:59] YashasSamaga commented on #18336
Did you do `make install`?

Do you have multiple versions of OpenCV?

[2020-09-15 06:03] YashasSamaga commented on #18340
This is a cuDNN 8 regression.

More on it here: https://forums.developer.nvidia.com/t/cudnn8-regression-in-algorithm-selection-heuristics/153667

[2020-09-15 06:20] sasanasadiabadi commented on #18336
yes make install completed successfuly.
I made a clean install for only one version of OpenCV.

[2020-09-15 08:24] sasanasadiabadi commented on #18336
Basically first I install OpenVino. Then
[code]

Then build OpenCV

[code]

Is this supposed to be enough to build opencv for cuda+openvino?

[2020-09-15 09:09] dkurt commented on #13413
Feel free to propose solution by opening a pull request

[2020-09-15 09:42] mshabunin commented on #18307
Actually I don't think we need to do this right now because OpenCV does not use this new API.

---

You can try prebuilt OpenVINO containers:
* https://hub.docker.com/r/openvino/ubuntu18_runtime
* https://hub.docker.com/r/openvino/ubuntu18_dev

They should contain OpenCL runtime and prebuilt OpenCV. Instruction on how to run it with GPU support can be found on mentioned pages.

It can be verified

[2020-09-15 10:08] Odianosen25 commented on #18307
Yep that big size been the main focal point why I have been trying so hard to build this on Alpine, outside security though.

But I understand if not wanting to add it just yet, as Alpine packages still on 1.2 anyway. Just that as the Intel runtime for Alpine is new, it’s using all the newer stuffs.

Added to this compiling the VA_INTEL as I had mentioned above, doesn’t work since the headers don’

[2020-09-15 10:11] mshabunin commented on #18304
Try `apiID = CAP_DSHOW`.

Duplicate of #18044
See https://github.com/opencv/opencv/issues/18044#issuecomment-669821025

[2020-09-15 10:11] #18304 closed

[2020-09-15 10:40] YannickLecroart opened #18342 "How to preprocess input for a keras H5 converted model into a pb file"
Hi,

I successfully converted a Keras H5 model into a Tensorflow pb file but I get totally different result when making a prediction.

In Python I use 2 Keras modules to preprocess the data before feeding the network:

    from tensorflow.keras.applications.mobilenet_v2 import preprocess_input
    from tensorflow.keras.preprocessing.image import img_to_array

Here is how I preprocess the data in m

[2020-09-15 11:07] YannickLecroart commented on #18342
Looking at the Keras documentation the python preprocess_input() method scale the data between 1 and -1.

    The inputs pixel values are scaled between -1 and 1, sample-wise.

How would I do that in C++ is there a convenient method to do so?

[2020-09-15 11:17] dkurt commented on #18342
@YannickLecroart, please read documentation for [blobFromImage](https://docs.opencv.org/master/d6/d0f/group__dnn.html#ga29f34df9376379a603acd8df581ac8d7).

Please do not use GitHub issues for usage questions. We need it to track bug reports or feature requests

[2020-09-15 11:44] utsembedded commented on #16348
Hello everyone,

I am having the same issue as stated above by @QBarbeAusy.
Getting FPS around 18 with OpenCV DNN and with darkent3 28fps .

I am using the below system configuration
i7, 9th gen 32GB RAM and RTX 2060 GPU card.
Opencv 4.4.0 , CUDA 11.0 , Cudnn 7.6.4 .

let me know any suggestions on this to improve the fps.

Thank you .

[2020-09-15 11:52] YashasSamaga commented on #16348
Yes and yes.

How are you measuring the FPS? YOLOv3 hits ~140 FPS for 608 x 608 input on RTX 2080 Ti if you measure the time taken for `net.forward()` to complete.

Set target to `DNN_TARGET_CUDA_FP16` if you haven't already.

I suspect you are measuring Darknet and OpenCV DNN times differently. How did you measure darknet FPS and OpenCV FPS?

[2020-09-15 12:54] QBarbeAusy commented on #16348
@YashasSamaga

Using your scirpt, DNN_TARGET_CUDA_FP16 and yolov4 I hit ~60 fps with inputParams = (416,416).

I mesured the compilation time using time.time()

[2020-09-15 13:32] YashasSamaga commented on #16348
60 FPS includes preprocessing, inference and postprocessing if you used the python script. The C++ version measures the inference time only.

That's your maximum FPS if you use a single `Net` object. You can make a pipeline to achieve the peak performance (details can be found in the comments here https://github.com/opencv/opencv/issues/17422). You can then group images into a batch or use multipl

[2020-09-15 13:34] sgriset commented on #18340
Thank you I will close the issue

[2020-09-15 13:34] #18340 closed

[2020-09-15 14:01] QBarbeAusy commented on #16348
Thanks @YashasSamaga . My problem is the following : you said that I could achieve 140 FPS with a 608x608 input image with my GPU. As you can see here I only have 60 fps with yolov4 (using python).

In order to be clear and to understand my performances, when you mean 140 FPS with 608x608 inpute image, is it with C++? is it achievable on windows 10? with Python? With only one ```Net``` object?

[2020-09-15 14:42] YashasSamaga commented on #16348
That was for RTX 2080 Ti from actual measurements (using [this code](https://gist.github.com/YashasSamaga/48bdb167303e10f4d07b754888ddbdcf)).

[2020-09-15 15:01] YannickLecroart commented on #18342
Thanks for the help I did manage to solve my problem by reading the blobFromImage documentation.

Regards,

[2020-09-15 15:01] #18342 closed

[2020-09-15 15:03] aaron-michaux commented on #13132
I've got the same issue. The symbol `cv::String::deallocate()` isn't in any of the compiled opencv libraries, but is referenced by code compiled with nvcc.

[2020-09-15 15:35] QBarbeAusy commented on #16348
Ok, sorry! I switched the 8 into a 6 ! at least we can see that a 2060 is ~1.75 times worst than a 2080 in the same conditions, I'm quite impressed by this huge difference.

If someone get something similar, I think that I understood why cvlib (for example) take much much more time. It looks that for each frame it'll create a new ```Net``` object:

[code]
That's maybe the point where we loose a lo

[2020-09-15 15:37] dkurt commented on #16348
@QBarbeAusy, try to avoid array operations in Python - it's quite ineffective. Take a look at [cv::dnn::DetectionModel](https://docs.opencv.org/master/d3/df1/classcv_1_1dnn_1_1DetectionModel.html).

[2020-09-15 19:41] onkarshendge commented on #17860
Any luck finding solution on the above? I am stuck on this too.

[2020-09-15 20:00] gpspelle commented on #17210
Hello @ACFaul, I belive that what I did may not be exactly what you need. But in a few words, I'm using the watershed algorithm to segmentate my image and then I count the number of pixels present to each segment (area).

Best,
Gabriel

[2020-09-15 20:04] johnny-wang16 commented on #17860
I ended up not worrying about python binding with opencv. All i need is the c++ version of opencv. I checked the build information from visual studio with c++ and its working correctly .

[2020-09-15 21:53] techmaticsnz commented on #18311
Hello i've done a weebit more research and found out the issue is not directly tied to this image creation functions, but the camera is not opening.

adding in this code:
`if (!cap.isOpened())
syslog(LOG_WARNING, "error loading url")`

reports
error opening url.

Back to drawing board.

[2020-09-15 22:15] techmaticsnz commented on #18311
Installing ffmpeg and then will compile and see if it works.

[2020-09-16 00:28] batchsize commented on #17588
@sl-sergei
Which OpenCV version are you using?

[2020-09-16 01:22] techmaticsnz opened #18345 "opencv-ios no ffmpeg support, general query regarding video streaming to ios device."
System information (version)
OpenCV => 4.4
Operating System / Platform => iOS
Compiler => Xcode

Detailed description
I'm using OpenCV native C++ code.
I'm reading from an mjpeg stream which cannot open. This is my first time using the library on ios so don't know what's going on here. Any guidance would be appreciated!

I've attempted to install ffmpeg and then rebuild but after updating getBuild

[2020-09-16 02:12] #18321 closed

[2020-09-16 03:16] #18311 closed

[2020-09-16 03:16] techmaticsnz commented on #18311
Filed new question with new information.

[2020-09-16 06:32] Smorodov opened #18346 "Images after reading it as gray is not the same as the image after cvtColor with BGR2GRAY conversion."
##### System information (version)
- OpenCV => 4.2
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description

Gray image after reading it in gray mode and the same image after conversion are different.
The correct version of image produced by cvtConvert function (checked with MATLAB).

It may be not very critical, error is small, but it may cau

[2020-09-16 06:43] tomoaki0705 opened #18347 "cudaarithm: inplace version of NPP flip fails with odd number ROI"
##### System information (version)

- OpenCV => recent 3.4 (8cb7eae5c9) / master (3b00ee2afb4176a5a45def7939b816d3a8914c00)
- Operating System / Platform => Jetson Nano/TX1/TX2/XavierNX
- Compiler => GCC 5.4.0, GCC 7.5.0
- CUDA => 10.0 (Nano) 10.2 (XavierNX) 8.0 (TX1,TX2)

##### Detailed description

This issue was originally found by @nglee
The in-place version of mirror was enabled in #17863
Unf

[2020-09-16 07:34] sl-sergei commented on #17588
I used current master and 3.4 branches. If you still face the issue, please, provide your system information and target/backend settings in OpenCV

[2020-09-16 07:41] chacha21 opened #18349 "Guard against const matrix, misleading assert"
Consider the following (wrong) code :

[code]

Since m3 is const, it is not allowed to be allocated by cv::multiply() and an assert will be raised.

`OpenCV(4.4.0) Error: Unspecified error (>  (expected: 'm.type() == CV_MAT_TYPE(mtype)'), where 'm.type()' is 0 (CV_8UC1) must be equal to 'CV_MAT_TYPE(mtype)' is 5 (CV_32FC1)`

If m3 is pre-allocated, the const flag won't be a problem and it will run

[2020-09-16 08:54] pablogps commented on #10823
I'm still a bit confused, but I agree with the bug report.

From the [documentation](https://docs.opencv.org/2.4/modules/imgproc/doc/feature_detection.html#houghlinesp), it seems like there is another parameter, `lines`, so that in the first case `maxLineGap` is actually working as `minLineLength`, and `minLineLength` is doing nothing at all.

See the method definition in Python:

`def HoughLinesP

[2020-09-16 09:03] shubhamcodez commented on #18336
Is there a known case of both of them working together?
just a guess but both of them may be incompatible

[2020-09-16 09:12] sasanasadiabadi commented on #18336
apparently it can be done as mentioned in [https://github.com/hybridgroup/gocv/issues/611](https://github.com/hybridgroup/gocv/issues/611)

However I didn't get any success on that as well.

[2020-09-16 09:16] berak opened #18350 "dnn: Inconsistent shape for ConcatLayer in function 'getMemoryShapes' from onnx"
##### System information (version)
- OpenCV => 4.4.0-dev
- Operating System / Platform => colab
- Compiler => python 3.8

##### Detailed description
similar  issues have been reported (and have been resolved) for tensorflow (#10739 , #15822) and yolo(#11310, #16831)

##### Steps to reproduce
[code]
    error: OpenCV(4.4.0-dev) /content/opencv/modules/dnn/src/layers/concat_layer.cpp:102: error: (-2

[2020-09-16 09:50] eLtronicsVilla commented on #18253
@alalek sorry, due to some restrictions I'm unable to provide the onnx file. That's why I did some experiment. Actually this onnx file converted from SegNet architecture model. I found that 'upsampling layer' of the SegNet architecture is creating the problem. When I checked,  without upsampling layer onnx file successfully loaded. Is 'upsampling layer' is supported in Opencv dnn?

[2020-09-16 10:14] YashasSamaga commented on #18336
Yes, I have it installed. They work. I am confused why what @sasanasadiabadi isn't working. It's supposed to work.

Can you upload your CMakeCache.txt?

Please check CMake output for a message like "filtering out cuda4dnn" (maybe search for the word "cuda4dnn"). If you don't find any such message, then the CUDA backend was enabled.

[2020-09-16 10:37] sasanasadiabadi commented on #18336
Have you installed in the same way which I mentioned here?
I didnt see any "filtering out cuda4dnn" in Cmake output.
here is the CMakeCache.txt

[CMakeCache.txt](https://github.com/opencv/opencv/files/5231557/CMakeCache.txt)

[2020-09-16 11:16] YashasSamaga commented on #18336
@sasanasadiabadi

Not exactly. I do it in multiple passes using cmake-gui and disable a whole lot of modules. But I think your cmake command is correct.

https://github.com/opencv/opencv/blob/3b00ee2afb4176a5a45def7939b816d3a8914c00/modules/dnn/src/dnn.cpp#L1426-L1430

implies that `HAVE_CUDA` was not defined during compilation.

`HAVE_CUDA` must be defined when `WITH_CUDA` is enabled.

https://gi

[2020-09-16 11:47] l-bat commented on #18350
Please provide a shareable link to ONNX model

[2020-09-16 12:39] sasanasadiabadi commented on #18336
yes I can see the ```HAVE_CUDA=1``` in CMakeVars.txt
[CMakeVars.txt](https://github.com/opencv/opencv/files/5232183/CMakeVars.txt)

[2020-09-16 13:06] marvision-ai commented on #16348
@YashasSamaga I have run tests with adding `nms_threshold=0` in the latest built openCV 4.4.

I am running this on the yolov4-tiny models on the `Jetson AGX Xavier`. I have confirmed that there is no performance increase when adding in `nms_threshold=0` to the `.cfg` file.

If you want to me to run any other tests please let me know.

**FPS without `nms_threshold=0`**
[code]

**FPS with `nms_thres

[2020-09-16 13:14] berak commented on #18350
apologies, it wasn't shareable. new  link here:

https://drive.google.com/file/d/1LKfTm11MLjaIpJl6He3APSImit-mum2v/view?usp=sharing

[2020-09-16 13:55] YashasSamaga commented on #16348
This was fixed in OpenCV 4.4.0. It's required for OpenCV 4.3 and below.

[2020-09-16 14:11] YashasSamaga commented on #18336
Now this is a contradiction. `HAVE_CUDA` is set implies a `#cmakedefien HAVE_CUDA` will be set. It's not possible to get `"DNN module was not built with CUDA backend; switching to CPU"` message.

Can you try building again from a clean build directory?

[2020-09-16 14:37] marvision-ai commented on #16348
@YashasSamaga great news. Thanks!

[2020-09-16 16:14] cudawarped commented on #17870
This bug is still present with the latest versions of MKL(2020.3.279)/TBB(2020.1.216).  That is the following cmake command results in the same build error mentioned above.

[code]

[2020-09-16 18:55] bryangreener commented on #15465
I had the same error which ended up being caused by my color tuple being a tuple of numpy.int32 values which I thought were allowed in cv2. I had to manually convert the items to the stock python int() type.

This error message definitely needs to be fixed since it leads you down the wrong rabbit hole for a long time before you realize what the actual problem is.

[2020-09-16 19:13] sasanasadiabadi commented on #18336
OK let me try it again from scratch.
Installing OpenVINO from installer is ok, right? or does it have to be built from source with some extra flags?

[2020-09-16 19:50] catree commented on #18346
Related issues: #10824 #12705

[2020-09-16 22:41] onkarshendge commented on #17860
I was able to solve this by renaming the cv2.cp38-win_amd64.pyd file to cv2.pyd in ..\venv\Lib\site-packages\cv2 folder.

[2020-09-16 23:26] johnny-wang16 commented on #17860
interesting. I think ive tried that before but didnt work.

[2020-09-17 00:23] jsemeda opened #18351 "compilation error when using OpenCV 4.4 or 4.5"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

D:\Libraries\opencv\modules\flann\include\opencv2\flann\matrix.h(71,24): warning C4003: not enough arguments for function-like macro invocation 'free'
1>D:\Libraries\opencv\modules\flann\include\opencv2\flann\matrix.h(71,1): err

[2020-09-17 02:48] batchsize commented on #17588
@sl-sergei
The  system information is on the top of this issue and you can rum my code above. This  bug is on the version of 4.3.

[2020-09-17 03:05] nglee commented on #18347
Thank you for writing this issue post and also for the PR!

[2020-09-17 04:34] YashasSamaga commented on #18336
Installing from installer should work.

[2020-09-17 05:47] coopawhite opened #18352 "error: ‘CUDNN_CONVOLUTION_FWD_PREFER_FASTEST’ was not declared in this scope CUDNN_CONVOLUTION_FWD_PREFER_FASTEST,"
##### System information (version)

- OpenCV => 4.2
- Operating System / Platform =>  Ubuntu 18.04 - Kernel 5.4.0-47
- Compiler => CMake 3.18.2

##### Detailed description

 I am trying to compile OpenCV 4.2 with CUDA 10.2 (to run my Geoforce 1060) and CUDNN 8.0.3. I am currently receiving an error while making that seems to be a part of my CUDNN install.

I have tried to find similar issues but a

[2020-09-17 06:33] YashasSamaga commented on #18352
OpenCV 4.4 or above support cuDNN 8. You have to either downgrade cuDNN version or upgrade OpenCV version to 4.4.

[2020-09-17 08:34] zchrissirhcz commented on #12265
I'm with same error and finally figured out that I added `-m32` in my CMakeLists.txt ... Remove that flag resolves my problem.

[2020-09-17 09:03] shubhamcodez commented on #14405
Can you explain the task?

[2020-09-17 09:56] jeroen commented on #16355
@jiapei100 did you get this to work? I'm also trying to backport opencv 4.2.0 to Ubuntu 18.04 and running into the same problem.

[2020-09-17 10:59] #18352 closed

[2020-09-17 12:21] alalek commented on #18336
Dump `cv::getBuildinformation()` and compare content with CMake output to avoid case with loading of misused binaries.

[2020-09-17 12:25] alalek commented on #17588
Old releases are outdated by definition.
You should upgrade or wait for the next release (or build from sources).

Issues should be reported against the latest releases and/or the latest state of supported branches (master/3.4)

[2020-09-17 12:34] Scharfsinnig commented on #9949
It works! Thanks a lot.

[2020-09-17 12:52] alalek commented on #18351
Can't fix that (problem is in the caller code).
You can workaround that on your side with `#undef free`.

Closing as **invalid**.

[2020-09-17 12:52] #18351 closed

[2020-09-17 13:11] tomoaki0705 commented on #18347
Thank you @nglee for reporting.  I wanted to respect your authorship of this issue.

[2020-09-17 13:29] sl-sergei commented on #18253
@eLtronicsVilla Yes, OpenCV supports this type of operations. Can you try the latest master/3.4 branch with your network to see, if the fix helps with your problem?

[2020-09-17 13:29] #18300 closed

[2020-09-17 15:30] NLRosalia opened #18355 "Problems with NCS2 and OpenVino2020.2"
Hello,

I am currently using in production a NCS2 with openCV provided in the OpenVino 2020.2 package.

The current solution uses the NCS2 with an SSD Mobilenetv2 network. If I run only my software in the PC, the performance is great (90ms per inference), however, when my software is running in parallel with other programs that consume high amount of the CPU (80-90%) the inference times of the net

[2020-09-17 15:41] alalek commented on #18355
OpenCV introduction: https://docs.opencv.org/3.4/d1/dfb/intro.html

Also OpenCV doesn't have automatic detection of data-races.

It is unlikely that two dnn::Net objects can be initialized for NCS device (due to device limitations).
You should use async API to handle multiple requests in parallel.

---

Work with priorities for processes.

---

Usage questions should go to Users OpenCV Q/A forum:

[2020-09-17 16:06] NLRosalia commented on #18355
Thanks alalek, so no initialization of multiple networks can be run on the same NCS device.

Still wondering why NC_ERROR happens when just running one application, I will post the question in http://answers.opencv.org as advised.

Thanks!

[2020-09-17 16:52] SanjayMarreddi commented on #16579
@codars Is this Issue still Open ? I would like to work on it. Could you please assign this to me !

Thanks and regards,
Sanjay Marreddi

[2020-09-17 17:22] yuriy-kozlov commented on #8413
I am running into this problem with OpenCV 4.3 with 64F arrays. Looks like the official documented behavior changed in OpenCV 4.0 to follow standard IEEE-754. I was relying on the documented behavior in 3.x to get 0s for division by 0. Here is my workaround to do this explicitly:
[code]
Posting in case others run into this when switching to OpenCV 4, because the comments above led me to believe th

[2020-09-17 17:34] sturkmen72 commented on #16579
there is my crude PR https://github.com/opencv/opencv/pull/17753 about image loading. i believe anyone want to work on EXIF should see it.

[2020-09-17 17:46] kylefleming commented on #14405
There's a podspec that needs to be updated and submitted for each new version that opencv releases. This includes computing the sha256 hash of the zip'd release and ensuring that any opencv ios integration requirement changes (such as a change in minimum deployment version, required system frameworks, etc) get reflected in the podspec. The maintainer will also need to test the pod before release a

[2020-09-17 17:53] XiangZhu0718 opened #18357 "KAZE feature is different with version 3.4.2 and 3.4.9"
what is the difference ?
thks

[2020-09-17 17:56] dkurt commented on #18355
please take a look at https://github.com/openvinotoolkit/openvino/pull/2030

[2020-09-18 01:46] cike0cop commented on #16439
Hi，
I have a question about opencv dnn use cuda for forward.
![image](https://user-images.githubusercontent.com/18591399/93545766-d8247c80-f993-11ea-90d5-3f5fd06124e8.png)
![image](https://user-images.githubusercontent.com/18591399/93545413-e58d3700-f992-11ea-9d1a-a86b22c5439d.png)
![image](https://user-images.githubusercontent.com/18591399/93545596-62b8ac00-f993-11ea-86e7-b86e14b5cf74.png)

[2020-09-18 02:18] shersoni610 opened #18358 "Imshow slow: 5-10 FPS."
Hello,

I am running openCV on a MAC-Mini machine. It seems that when I run a video file using Quicktime, I
get 30FPS, but when I run it using OpenCV Videocapture, the FPS drops to 5FPS. I am running
Capturing Video frame in a separate thread and running "imshow" in the main thread.

How can I get 30FPS using openCV? Do I heed to write another customized imshow with OpenGL?

Thanks.

[2020-09-18 03:20] siddharthcb opened #18359 "ERROR: Failed building wheel for opencv-python"
hi i am running on python3.7 and pip 20.2.3 on ubuntu 18.04, arm64.
when i am trying to install opencv using `pip3 install opencv-python`
i am getting following error.
`ERROR: Command errored out with exit status 1:
   command: /usr/bin/python3 /home/smartagri/.local/lib/python3.7/site-packages/pip/_vendor/pep517/_in_process.py build_wheel /tmp/tmpfga9p4k1
       cwd: /tmp/pip-install-fmfauafs/ope

[2020-09-18 05:48] smarthumanism commented on #17941
I have the same problem, Bahramudin. I'd like to know how you enabled ngraph and located its CMake files location.

[2020-09-18 06:10] shersoni610 commented on #16757
I am also facing the similar issue on Mac-Mini. Windows are not destroyed, VideoCapture not released.
Please let me know if there is a solution.

[2020-09-18 08:11] philippwerner commented on #18214
I was able to successfully use MobileNetV3 for classification with the CUDA backend, but get a (probably related) error with the OpenCV backend. It seems like the forward() of the OpenCV scale_layer does not support the operation needed by MobilenetV3/expanded_conv_3/squeeze_excite/mul with inpShape=[ 4 72 28 28 ], weightsShape=[ 1 288 ].

[2020-09-18 09:56] dkurt commented on #18214
@philippwerner, make sure that input shapes are specified in the `.pbtxt`

[2020-09-18 10:04] philippwerner commented on #18214
I do not use pbtxt, but directly load a pb file exported from tesnroflow. Maybe I should open a new issue? I also have implemented a workaround that fixes the problem for MobileNetV3, but I do not feel qualified to create bugfix that will work with all the other DNNs out there.

[2020-09-18 10:24] philippwerner commented on #18214
Some more clarification: I use the original MobileNetV3 without modification. I have inspected the backtrace of the exception I got (Assert in [this line](https://github.com/opencv/opencv/blob/a07f064e5086876103ddaa8c456a4f1fc1e1a289/modules/dnn/src/layers/scale_layer.cpp#L105)), stepped through the relevant code, found that my problem was in the MobilenetV3/expanded_conv_3/squeeze_excite/mul and

[2020-09-18 11:44] eudoxos commented on #16465
This behavior might have optimization intention behind it, but is definitely a bug. The standard mandates that floats conform to IEEE-754 which includes special values; and I'd expect matrix operators reflect that.

There is already a better way to enable possibly unsafe math optimizations: compiler flags such as `-ffast-math`, or preprocessor macros for agressive (and incorrect) optimizations. Th

[2020-09-18 12:53] alalek opened #18361 "DNN/OpenCL: IDLF kernel verification failed"
On Intel iGPU (i7-6700K).

[Windows](http://pullrequest.opencv.org/buildbot/builders/3_4-win64-vc14/builds/806):

[code]

[Linux](http://pullrequest.opencv.org/buildbot/builders/3_4-lin64/builds/812):

[code]

[2020-09-18 16:57] eLtronicsVilla commented on #18253
@sl-sergei Actually I was getting this issue with opencv 4.4 with cuda version. Now this issue is fixed by replacing conv2DTranspose in the place of  Upsampling2D api in my SegNet network layer architecture.

[2020-09-18 16:57] #18253 closed

[2020-09-18 22:34] cwule commented on #9177
Are there news on this? It would be great to have UWP support, to use the dnn package on the Hololens 2.

[2020-09-19 07:25] robyfirnandoyusuf opened #18364 "OpenCV on java that installed via apt showing error on NetBeans"
##### System information (version)

- OpenCV => 4.2
- Operating System / Platform => Ubuntu 20.04

##### Detailed description

I was installed OpenCV 4 on my machine via apt
But when I tried on netbeans and import the OpenCV it's showing error

the error on this line syntax :

```import org.opencv.core.Core;```

I've take a look some tutorials should use jar file or import lib directory that was b

[2020-09-19 08:33] dervon opened #18366 "A typo error in camera_calibration.markdown Tutorials"
##### System information (version)

- OpenCV => master

##### Detailed description

In camera_calibration.markdown, a typo error
[code]
`winSzie` should be changed to `winSize`
##### Steps to reproduce

There is no step to reproduce.

##### Issue submission checklist

 - [x] I report the issue, it's not a question

 - [x] I checked the problem with documentation, FAQ, open issues,
       answers.o

[2020-09-19 08:36] CycloneBoy commented on #9949
it worked for me  when i build  the opencv-4.4.0.

[2020-09-19 08:37] dervon commented on #18366
fixed in #18365

[2020-09-19 08:37] dervon commented on #18366
fixed in #18365

[2020-09-19 08:37] #18366 closed

[2020-09-19 09:16] shubhamcodez commented on #14405
can you guide me through the process once

[2020-09-19 16:16] marcoszuniga opened #18367 "Solved issues compiling OpenCV 4.4.0 in Ubuntu 20.04 with CUDA 10.1"
##### System information (version)
- OpenCV => 4.4.0
- Operating System / Platform => Ubuntu 20.04 - 64 Bit
- Compiler => gcc 8.4.0 (Ubuntu 8.4.0-3ubuntu2)
                       nvcc (Cuda compilation tools, release 10.1, V10.1.243)

##### Detailed description

I was installing opencv 4.4.0 (last version from repo), with contrib packages, and found and repaired some errors in the process.
The pro

[2020-09-19 18:57] Bahramudin commented on #17941
@smarthumanism Just enable the ngraph in CMake GUI, and then while the configuration is done, then now you can locate its CMake file location, something like this: `C:\openvino\deployment_tools\ngraph\cmake`.

Hope it helps you!

[2020-09-19 22:42] #17187 closed

[2020-09-19 22:46] #18166 closed

[2020-09-19 22:47] #18347 closed

[2020-09-19 22:48] #18349 closed

[2020-09-20 03:36] xwr96 opened #18369 "some question to consult"
Hi, I want to ask a question. Is in opencv2 version, lib is conclude libopencv_core.so.2.x, and Lib in opencv4 version is libopencv_ core.so .4.x. because when i run opencv4, it has the error:
`OSError: libopencv_core.so.2.4: cannot open shared object file: No such file or directory
`

[2020-09-20 22:40] luna-1999 opened #18372 "QRCodeDetector fails randomly (+samples)"
##### System information (version)

- OpenCV => 4.4.0
- Operating System / Platform => MacOS 10.13.6
- Compiler => Python 3.6.12, Conda / Jupyter notebook

##### Detailed description

I am trying to detect QR codes within several hundred images (each one contains a code). About a third of them fail to read the code. Those codes are readable by a low end phone. Sometimes a bounding box is found, bu

[2020-09-21 03:45] fengyuentau commented on #15245
Some here. cmake detected version 9.1 in my case, but this version of CUDA is actually not installed. Found a solution from https://stackoverflow.com/a/19981506/6769366:
[code]

[2020-09-21 04:15] SCZeiDan commented on #18120
change this " img = cv2.imread('t1.jpg') " to " ret, img = cv2.imread('t1.jpg') " may slove your problem.

[2020-09-21 06:39] dkurt commented on #18369
This is not OpenCV related question - study how to link Linux shared libraries.

If you want somebody to help - provide a reproducer.

[2020-09-21 06:39] #18369 closed

[2020-09-21 09:01] l-bat commented on #18350
please try #18353

[2020-09-21 09:01] #18350 closed

[2020-09-21 10:34] lorepieri8 commented on #14205
@Totemi1324
Make sure to have downloaded and unzipped the opencv_contrib.zip in the right path, as indicated by the cmake flag (-D OPENCV_EXTRA_MODULES_PATH=~/opencv_contrib-4.X.X/modules).

[2020-09-21 12:48] berak commented on #18350
works like magic, thank you ! ;)

[2020-09-21 16:57] luna-1999 commented on #18372
I cropped the second image and improved levels but still no result. I also tested this image in repl.it, with the same result: no bounding box, no data.

![sector55d](https://user-images.githubusercontent.com/33327340/93796917-d2e95b00-fc3b-11ea-8ec7-b114db1688da.png)

[2020-09-21 17:05] alalek opened #18373 "G-API: sporadic failures in MathOpTest.MatricesAccuracyTest"
Bad commit: 95fd61c9b4c2cbe099f84740c35587e53d55b6bb (Sep 18)
Good commit?: a07f064e5086876103ddaa8c456a4f1fc1e1a289 (Sep 17)

Builds:
- http://pullrequest.opencv.org/buildbot/builders/master_noOCL_noICV-mac/builds/11288

[code]

- http://pullrequest.opencv.org/buildbot/builders/master-mac-static/builds/11289

[code]

- http://pullrequest.opencv.org/buildbot/builders/master_noICV-mac/builds/11291

[2020-09-21 17:08] alalek commented on #18373
@dmatveev @rgarnov @mpashchenkov @TolyaTalamanov @OrestChura Please take a look ASAP.
These failures break our precommit builds and block merging: http://pullrequest.opencv.org/buildbot/builders/precommit_macosx

[2020-09-21 19:01] a1198375223 opened #18375 "How to configure the native environment of opencv in Android Studio？"
Please help!!!!  How to use CMakeLists.txt to configure environment of  opencv in AS.

[2020-09-21 20:39] alalek commented on #18373
Also get rid std::rand() and similar calls from code/tests. Tests must be reproducible.

[2020-09-21 22:21] siyucosmo opened #18376 "cv::cuda::meanStdDev() is using default stream instead of the stream passed to it"
##### System information (version)
- OpenCv => 3.2
- Operating System => Ubuntu 16.04

##### Detailed description
Hi, I am new to cuda programming. I encountered a problem when using `cv::cuda::meanStdDev`.

I am calling `cv::cuda::meanStdDev` but I found it is using the default stream although I have passed a stream to it. Does anyone know why this is happening? Is there a way to correctly pass t

[2020-09-22 03:04] dmatveev commented on #18373
@alalek go roll-back that PR

[2020-09-22 03:36] KKDDD opened #18379 "some question about target tracking?"
##### System information (version)
- OpenCV = 4.3
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

I use cmake compile "opencv_contrib",and i want to use the target tracking module, but when I use the opencv static library, the code will not compile and the error is as follows:
This is my dependency lib
![image](https://user-images.githubusercontent.com/21326738/93

[2020-09-22 05:34] dmatveev commented on #18373
...alternatively, we can disable these tests for now. @AsyaPronina can you please help with that while Orest is out? Thanks, D

[2020-09-22 06:12] e-inan opened #18380 "File "tf_text_graph_ssd.py", assert(graph_def.node[0].op == 'Placeholder') AssertionError"
##### System information (version)

- OpenCV => 4.0
- Operating System / Platform => Windows 64 Bit
- Compiler => Conda
- tf_gpu=1.15

All file here:
[pb_config_graph-ssd_graph-common.zip](https://github.com/opencv/opencv/files/5259416/pb_config_graph-ssd_graph-common.zip)

#### My output error

(rovproject) C:\Users\Eftal\projectoftf\rov\research\object_detection\Rov Opencv>python tf_text_graph_s

[2020-09-22 07:08] sjang42 opened #18381 "Can't build ios without some modules"
##### System information (version)
- OpenCV => 4.4.x (master)
- Operating System / Platform => MAC Catalina
- Compiler => Cmake 3.8
- Python => 2.7
- Xcode => 11.5

##### Detailed description

I'm using [platforms/ios/build_framework.py](https://github.com/opencv/opencv/blob/master/platforms/ios/build_framework.py) to build opencv for ios swift project.
When I run the script(build_framework.py) wi

[2020-09-22 07:12] yancccc opened #18382 "Please check CUDA_ARCH_PTX or CUDA_ARCH_BIN"
classes, confidences, boxes = net.detect(image, confThreshold, nmsThreshold)
cv2.error: OpenCV(4.4.0) /home/ycc/opencv-4.4.0/modules/dnn/src/dnn.cpp:2353: error: (-216:No CUDA support) OpenCV was not built to work with the selected device. Please check CUDA_ARCH_PTX or CUDA_ARCH_BIN in your build configuration. in function 'initCUDABackend'

cmake -DCMAKE_BUILD_TYPE=RELEASE \
    -DCMAKE_INSTALL_P

[2020-09-22 07:23] Lorisyy commented on #14205
tks a lot

[2020-09-22 07:49] alalek commented on #18381
/cc @komakai

[2020-09-22 07:51] yancccc commented on #18382
NVIDIA CUDA:              YES
   NVIDIA GPU arch:     60 61
   NVIDIA PTX arch:

[2020-09-22 07:56] alalek commented on #18382
https://en.wikipedia.org/wiki/CUDA

"2060" CC is 7.5.

You need to add 75 (7.5) here.

---

Build / usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org
This tracker is for issues and bugs that needs fix in OpenCV.

[2020-09-22 07:56] #18382 closed

[2020-09-22 08:00] yancccc commented on #18382
Where to change it? I set it　-DCUDA_ARCH_BIN=7.5
@alalek

[2020-09-22 08:03] alalek commented on #18376
Try latest code from 3.4 branch first.
We don't fix outdated releases

[2020-09-22 08:05] alalek commented on #18382
This overrides other low level flags. You need need to choose one.

Try `cmake -UCUDA_GENERATION ...`

[2020-09-22 08:07] yancccc commented on #18382
OK, I'll try

[2020-09-22 08:40] yancccc commented on #18382
Yes, thank you

[2020-09-22 08:42] komakai commented on #18381
Will take a look

[2020-09-22 08:52] akionsight commented on #17660
@YashasSamaga yes it does

[2020-09-22 10:13] AsyaPronina commented on #18373
Hi @dmatveev , @alalek , will disable these tests now.

[2020-09-22 11:39] Patricnan opened #18383 "make[2]: *** [modules/core/CMakeFiles/opencv_core.dir/src/opencl/runtime/opencl_core.cpp.o] Error 1"
##### System information (version)

- OpenCV => :3.4
- Operating System / Platform => :ubuntu 16.04
- Compiler => :make

##### Detailed description
I'm trying to install opencv from this installation sequence. However when building the files with the make command, i experience the following error:

[  0%] Generate opencv.pc
[  0%] Building CXX object modules/cudev/CMakeFiles/opencv_cudev.dir/src/s

[2020-09-22 12:57] JulienMaille opened #18385 "Exception related to cuda when enumerating openvino compatible backends"
Starting with commit https://github.com/opencv/opencv/commit/194905642384ade117591237ca2c497419550390
i've been getting the following exception when calling `cv::dnn::getAvailableTargets(cv::dnn::DNN_BACKEND_INFERENCE_ENGINE)`

I reverted the aforementioned commit and it works again
This happens with OpenCV built with cudnn support but run on a computer without Nvidia graphic card.
The reason why

[2020-09-22 19:56] m-venkata opened #18388 "Is there any user data that is either being collected or Tracked by the openCV"
##### System information (version)

- OpenCV
- Operating System / Platform => iOS/ APple
- Compiler => XCode

##### Detailed description
As part of the iOS 14 /AppTracking Transparency framework, would like to know if any kind of the user data is collected or Tracked by the OpenCV.

As mentioned in the Apple (Ref: https://developer.apple.com/support/app-privacy-on-the-app-store/),
below were some

[2020-09-22 20:24] shersoni610 opened #18389 "H265 Writer parameters"
Hello,

I am using OpenCV 4.4 on a Mac and attempting to write a video in H265 format. It seems
that OpenCV writer is very slow compared to FFMPEG conversion.

1.   How can I ensure that the writer is using Lossless compression.
2.  What flags I should to maximize the performance of writing the video in H265. How can I use
      flags similar to FFMPEG?
3.  Can I use CUDA for H265?

Thanks

[2020-09-23 00:11] alalek commented on #18388
OpenCV is a library.
Such behavior is defined and controlled by end-user's applications.

Applications must be certified instead of the library. Closing as invalid.

[2020-09-23 00:11] #18388 closed

[2020-09-23 06:15] heiheiya opened #18390 "Support different activations for LSTM layer at ONNX importer"
##### System information (version)
- OpenCV => :4.4:
- Operating System / Platform => :Linux:
- Compiler => :None:

##### Detailed description
I have trained a simple lstm model use keras, ans then I use keras2onnx to convert keras h5 model to onnx model. Finally, I use opencv 4.4 readNetFromONNX to load the model, but I got the error:
/opencv/modules/dnn/src/onnx/onnx_importer.cpp: error: (-213:

[2020-09-23 07:58] StaryVena opened #18392 "Error when calling net.forward() in C++"
##### System information (version)
- OpenCV => 4.4.0
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description

The code below properly load model, but when calling forward method Assertion error is thrown. Python version of the code works, the CPP doesn't.

Tensorflow model: https://drive.google.com/file/d/1aE0smAw-CyPLch6UY8blK3RreT5RrZfN/vie

[2020-09-23 08:50] dkurt commented on #18380
Please use the latest script

[2020-09-23 09:15] #18385 closed

[2020-09-23 11:21] alalek commented on #18390
Could you please attach minimal `.onnx` file? (with random weights)
We need a reproducer to ensure and check that this problem got fixed.

[2020-09-23 11:27] komakai commented on #18381
@sjang42  please try out the fix here: https://github.com/komakai/opencv/tree/fix-build-without and let me know if that works for you

[2020-09-23 13:42] sniafas opened #18396 "Cannot Build opencv - CUDA_npp*_LIBRARY not found"
##### System information (version)

- OpenCV => 4.5.0
- Operating System / Platform =>  GNU/Linux Debian 10
- Compiler =>cmake 3.13.4
- Cuda => 10.1
- GPU => GTX 1650

##### Detailed description

It's a problem that persists in any opencv 4+ version. While Cuda and  Cudnn can be successfully detected, extra depended cuda NPP library cannot be linked which leads to incomplete configuration.
The res

[2020-09-23 13:58] nidegen opened #18398 "Swift Package Manager Support"
With Swift 5.3, the package manager can also deal with precompiled binaries.

Is there any plan to support openCV with a Package.swift?

[2020-09-23 19:20] orgicus commented on #18289
@younggeun0 I'm not sure `THRESH_BINARY_INV` works on colour images.
I remember the docs mentioning:

For example:
[code]

or a slightly more complex version:

[code]

![2020-09-23 20_17_54- CVPR 2020  Novel View Synthesis Tutorial - YouTube](https://user-images.githubusercontent.com/189031/94059310-242f5100-fdda-11ea-9955-0f7119f79992.png)

[2020-09-23 19:25] fawazahmed0 opened #18402 "Add Syntax highlighting for opentype.js tutorials"
Hi,

I see that [Python and C++ tutorials](https://docs.opencv.org/master/db/deb/tutorial_display_image.html) seems to have syntax highlighting, but [JavaScript tutorials](https://docs.opencv.org/master/d0/d84/tutorial_js_usage.html) doesn't seem to have syntax highlighting

You could use [highlight.js](https://highlightjs.org/) or whatever syntax highlighter was used for Python and C++ tutorials.

[2020-09-24 00:24] aLLLiyyy opened #18404 "stitcher,how to output the sequence of the panorama image"
when i am using stitcher to stitch a sort of image, then i get an output panorama, i realized the input image array can be disorderd but will get the same output,
yet,i need to get the output sequence of the image ,what should i do for this ?
example input1.jpg 2.jpg 3.jpg
output  3.jpg 1.jpg 2.jpg panorama.jpg

[2020-09-24 02:07] sjang42 commented on #18381
@komakai It works well. Thank you for your help!

[2020-09-24 02:22] heiheiya commented on #18390
@alalek here is my onnx file convert from keras h5 file.

[test.zip](https://github.com/opencv/opencv/files/5273049/test.zip)

[2020-09-24 02:51] sjang42 opened #18405 "ios dynamic framework refer to local path"
##### System information (version)
OpenCV => fixed version of 4.4.x (https://github.com/komakai/opencv/tree/fix-build-without)
Operating System / Platform => MAC Catalina
Compiler => Cmake 3.8
Python => 2.7
Xcode => 12.0
I'm using the fixed version of opencv about [without arguement issue](https://github.com/opencv/opencv/issues/18381). The code is [here]( https://github.com/komakai/opencv/tree/fi

[2020-09-24 03:01] sjang42 commented on #18405
@komakai Can you take a look please? After your fix of [the issue](https://github.com/opencv/opencv/issues/18381), a new issue arose..

[2020-09-24 03:12] Lewis-luo opened #18406 "How to set open timeout"
How to set open timeout
Hi，Dear friend：
  The default timeout is too long. I want to customize the timeout. How can I set it

                                                                                                             thank you

[2020-09-24 05:30] komakai commented on #18405
@sjang42 are you testing on a device or on a simulator? It should work fine on a device.
To get this to work on a simulator then I think you can use **install_name_tool** to update the path to the new location.
I have tried out an older release tag (4.3.0) and the same problem exists so it looks like this may never have worked

[2020-09-24 05:58] sjang42 commented on #18405
@komakai I tested on deviced and it worked and not on simulator.
The issue was only about simulator.
I thought this is important issue. Because without simulator support, ios developers can't run unit test on xcode and test.
Hmm.. Do you think this issue doesn't need to be handled? If so, I will close this issue.

[2020-09-24 06:13] e-inan commented on #18380
I installed opencv=4.4.0
btw i did tf_text_graph_ssd for pbtxt.

I have still same error.
error: OpenCV(4.4.0) C:\Users\appveyor\AppData\Local\Temp\1\pip-req-build-52oirelq\opencv\modules\dnn\src\tensorflow\tf_importer.cpp:553: error: (-2:Unspecified error) Input layer not found: FeatureExtractor/MobilenetV2/Conv/weights in function 'cv::dnn::dnn4_v20200609::`anonymous-namespace'::TFImporter::conn

[2020-09-24 06:14] e-inan commented on #18380
python tf_text_graph_ssd.py --input=frozen_inference_graph.pb --output=graph.pbtxt --config=ssd_mobilenet_v2_coco.config

Scale: [0.200000-0.950000]
Aspect ratios: [1.0, 2.0, 0.5, 3.0, 0.3333]
Reduce boxes in the lowest layer: True
Number of classes: 1
Number of layers: 6
box predictor: convolutional
Input image size: 300x300

[2020-09-24 06:32] dkurt commented on #18380
Read https://github.com/opencv/opencv/wiki/TensorFlow-Object-Detection-API for details.

Please feel bug report properly.

[2020-09-24 09:48] NikkiPriya commented on #17535
Hi, I would like to work on this issue, can you help me ways to get started?

[2020-09-24 09:49] NikkiPriya commented on #10645
Hi, I would like to work on this issue, can you help me ways to get started?

[2020-09-24 13:21] alalek commented on #10645
2.4 branch is EOL. Closing

Feel free to review installation tutorials updates here: #18195

[2020-09-24 13:21] #10645 closed

[2020-09-24 13:38] andrejlevkovitch opened #18407 "Bug in cv::remap function"
##### System information (version)

- OpenCV => 4.1.0
- Operating System / Platform => debian10
- Compiler => g++-8.3.0

##### Detailed description

Transformation by cv::remap function don't work properly with map with short signed values. But in documentation about the function said: The first map of either (x,y) points or just x values having the type CV_16SC2 , CV_32FC1, or CV_32FC2.

##### St

[2020-09-24 15:37] chacha21 opened #18409 "applyColorMap, BGR and RGB"
OpenCV 4.4.0
By default, cv::applyColorMap() will transform gray to BGR. Could there be an additional flag to generate RGB instead ?

To keep the current prototype, it could be an option of the enum, like
[code]

[2020-09-24 16:33] dniku opened #18411 "TypeError: Expected Ptr<cv::UMat> for argument 'img' when drawing on images that had been transposed"
##### System information (version)

- OpenCV => 4.4.0
- Operating System / Platform => Manjaro Linux
- Compiler => whatever was used to compile the [Arch package](https://www.archlinux.org/packages/extra/x86_64/opencv/)

##### Detailed description

Drawing on images that had been transposed results in a user-unfriendly error. The (non-obvious) workaround is to use `np.ascontiguousarray()`.

#####

[2020-09-24 16:43] lkoll opened #18412 "SystemError: <built-in function NMSBoxes> returned NULL without setting an error"
##### System information (version)

- OpenCV => :4.4.0:
- Operating System / Platform => :Windows 64 Bit:
- Compiler => :Spyder:

##### Detailed description

When trying to use cv2.dnn.NMSBoxes I am getting an error,  "SystemError: <built-in function NMSBoxes> returned NULL without setting an error". I have referenced multiple threads (https://github.com/opencv/opencv/issues/12789 and https://gith

[2020-09-24 17:05] vpisarev opened #18413 "numpy_array.reshape(1,-1,2) is often needed in Python"
##### System information (version)

- OpenCV => 4.x
- Operating System / Platform => any
- Compiler => Python 2.x/3.x

##### Detailed description

When OpenCV functions that processes point a sequence/point cloud is called from Python, it fails to process it because of unsupported shape of array. And so it needs reshape to pass through. If the output of point cloud processing functions is also a p

[2020-09-24 20:29] sturkmen72 commented on #18409
i believe simply applying BGR to RGB color conversion after `applyColorMap` is enough.

[2020-09-24 20:32] chacha21 commented on #18409
Of course, but the question is also about "does it worth it" ? It depends on the implementation of applyColorMap().

[2020-09-24 21:25] Pasadenasman opened #18414 "detections = net.forward() issue"
Hi,
This is my first attempt to post an issue so please excuse if not posted correctly. I have read every related issue that looks like mine but cant figure it out. Hope you guys can help me with this one.
_I thank you in advance for the help and keep in mind I'm really new to raspbian so dont be afraid to give extra hint for better understanding._

-Raspberry pi 4B
-Rasbian (everything up to date

[2020-09-24 22:43] alalek commented on #18414
You using outdated version.
Try the latest code from master branch first.

[2020-09-24 23:36] komakai commented on #18405
@sjang42 Can you try the change at https://github.com/komakai/opencv/tree/fix-install-name ?
(Set "Runtime Search Paths" to **@executable_path/Frameworks** in your Xcode project)

[2020-09-25 00:09] sjang42 commented on #18405
@komakai Runtime Search Paths is aleardy set to @executable_path/Frameworks in My iOS project. Should I build with https://github.com/komakai/opencv/tree/fix-install-name again? I built it with https://github.com/komakai/opencv/commit/94fb30834442450869315525b6c9cc14c8e31efd and it looks same source with https://github.com/komakai/opencv/tree/fix-install-name.
<img width="795" alt="스크린샷 2020

[2020-09-25 01:34] komakai commented on #18405
@sjang42 sorry - looks like I didn't push the commit I wanted you to test :-/
I have pushed it now

[2020-09-25 04:23] JapinderSandhu opened #18416 "OpenCV 4.4.0.44 macOS Catalina - Hang/Frozen"
##### System information (version)
- OpenCV => 4.4.0.44
- numpy => 1.19.2
- Operating System / Platform => macOS Catalina Version 10.15.6
- Code Editor => Visual Studio Code 2020
- Compiler => Anaconda 4.7.12 & 4.7.10

##### Detailed description

I am trying to convert a video frame to gray using cvtColor. This code works perfectly fine in macOS Mojave, MacOS High Sierra but Breaks in macOS Catali

[2020-09-25 05:06] sjang42 commented on #18405
[code]

[2020-09-25 06:28] chacha21 opened #18417 "pessimistic cv::RotatedRect::boundingRect()"
OpenCV 4.4.0

Even with integer center/even size, the boundingRect() estimation of a cv::RotatedRect() with a 0 angle may be one-pixel wider than expected.
This is not wrong per se (this is still a bounding rect), but it is a little pessimistic :

[code]

This may be normal since a RotatedRect is center-wise, so the size may have to be odd to match integer-pixel boundaries.
However, this is still

[2020-09-25 06:34] chacha21 commented on #18417
This may be normal since this a RotatedRect being center-wise, the size must be odd to match integer-pixel boundaries

[2020-09-25 07:05] komakai commented on #18405
Hmm - in the Frameworks, Libraries and Embedded Content settings what value do you have in the **Embed** column for the opencv2 framework? If it is "Do Not Embed" can you try changing to "Embed & Sign"?

[2020-09-25 07:11] alalek commented on #18416
Provide complete minimal reproducer. Exclude unnecessary parts if they works (like VideoCapture, use `np.zeros()` instead).

Please attach stack trace.

[2020-09-25 07:45] Kevin819 opened #18418 "libprotobuf FATAL, CHECK failed: (index) < (current_size_)"
##### System information (version)

OpenCV : 4.4.0
Operating System / Platform : Windows 10
Compiler : Visual C++ building Tools v142
Tensorflow 1.15.0

##### Detailed description

When loading model failed, C++ code on Visual Studio 2019 , error info:
[libprotobuf FATAL C:\build\master_winpack-build-win64-vc15\opencv\3rdparty\protobuf\src\google/protobuf/repeated_field.h:1522] CHECK failed: (inde

[2020-09-25 08:13] catree commented on #18409
I also think that it does not worth it.

OpenCV already assumes BGR format due to some historical reason. Patching one of the multiple functions in OpenCV to support natively RGB format does not seem reasonable or consistent for me.

`applyColorMap()` uses LUT. BGR to RGB conversion should be mostly memory bounded. Moreover `applyColorMap()` is not a critical function that should have required hig

[2020-09-25 08:19] sjang42 commented on #18405
@komakai It works well! Thank you for your help again!

[2020-09-25 08:34] chacha21 commented on #18409
Ok for me.

[2020-09-25 08:34] #18409 closed

[2020-09-25 08:39] alalek opened #18420 "Python: PyTuple_SET_ITEM() undefined with PYTHON_LIMITED_API=ON"
broken since #18343 (G-API bindings)

[code]

[2020-09-25 08:39] ttancn opened #18421 "compiling OpenCV 4.4.0 with CUDA 10 for anaconda python environment"
##### System information (version)

- OpenCV = 4.4.0
- Operating System / Platform = Windows 10 64 Bit
- Compiler = Visual Studio 2019
- Python = 3.7.3

##### Detailed description

When I finished building opencv4.4.0 using Visual Studio 2019 successfully, I didn't found  the cv2 folder on "F:\Anaconda3\Lib\site-packages".
I have set the python path in cmake before I generated the "OpenCV.sln" and

[2020-09-25 08:45] alalek commented on #18421
Please check according to this comment: https://github.com/opencv/opencv/issues/17632#issuecomment-648098711

[2020-09-25 13:43] #18420 closed

[2020-09-25 14:09] amrosado opened #18425 "Procedure entry point get_initial_auto_partitioner_divisor@internal@tbb@YA_KXZ could not be located in the dynamic link library opencv_core450d.dll"
##### System information (version)

- OpenCV => 4.5
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description

At runtime with my latest compiled version of opencv I receive an error:

`The procedure entry point ?get_initial_auto_partitioner_divisor@internal@tbb@YA_KXZ could not be located in the dynamic link library opencv_core450d.dll`

My first

[2020-09-25 14:20] alalek commented on #18425
Please dump TBB variables from `CMakeVars.txt`/`CMakeCache.txt`, so we can try to reproduce the problem.

This usually means that loaded tbb.dll has wrong version (misused).

[2020-09-25 15:03] foohyfooh opened #18428 "cv::Mat::u becomes nullptr when using *= operator"
##### System information (version)

- OpenCV => 4.2.0
- Operating System / Platform => Ubuntu 18.04 64bit
- Compiler => gcc 7.5.0

##### Detailed description
When accessing a cv::Mat after using *= operator in a function, the cv::Mat::u property is a nulltpr, and thus cannot access the refcount

##### Code to reproduce
[code]

##### Code Output
[code]

##### Issue submission checklist

 - [x] I re

[2020-09-25 15:24] alalek commented on #18428
Outdated version is used.
Please check the latest code from master branch.

[2020-09-25 15:29] #18307 closed

[2020-09-25 16:05] amrosado commented on #18425
Related to TBB from CMakeVars.txt:

[code]
[CMakeCache.txt](https://github.com/opencv/opencv/files/5283932/CMakeCache.txt)
[CMakeVars.txt](https://github.com/opencv/opencv/files/5283933/CMakeVars.txt)

[2020-09-25 17:48] foohyfooh commented on #18428
Sorry about that. I had accidentally left that since it was the version I had originally used before noticing the latest version in the checklist. I have ran the example code on the 4.4.0 release and encountered the same issue.

[2020-09-25 19:38] alalek commented on #18428
Add this to see that really happens:

[code]

Code works as expected.

---

Wraps exited data.
No any extra data containers created.

---

`operator*(const Mat&, double)` allocates new Mat.
`*=` works "inplace".

---

Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-09-25 19:38] #18428 closed

[2020-09-25 20:26] foohyfooh commented on #18428
Thanks for pointing this out. I couldn't find the definition of the *= operator and assumed that it just the * operator followed by the * operator.

[2020-09-25 21:50] kanehekili commented on #15749
I second  alalek. After the end of the stream you don't have a valid timestamp. I've caught that in my code, so from my perspective the code it working correctly. BTW: Setting CAP_PROP_POS_AVI_RATIO is about the worst thing you can do. I*ve tried that, but this is basically unusable - not the fault of opencv but of the ffmpeg API.

[2020-09-26 11:25] Pasadenasman commented on #18414
ok i have update/upgraded opencv.

now i get the following and the files are located in the same folder as the reckonpi.py file.
i doesnt make any sense to me cause on the tutorial it says that it just needs to copy the path to the mobileSSD protobuf file and the cafe model...

# Ouvrir un terminal et executer la commande ci dessous
# python3 reckonpi.py --prototxt MobileNetSSD_deploy.prototxt.txt

[2020-09-26 11:26] Pasadenasman commented on #18414
sorry, forgot to add the error message :
Python 3.7.3 (/usr/bin/python3)

usage: reckonpi.py [-h] -p PROTOTXT -m MODEL [-c CONFIDENCE]
reckonpi.py: error: the following arguments are required: -p/--prototxt, -m/--model

[2020-09-26 13:51] sturkmen72 opened #18432 "OpenCV's 20 celebration"
i think an online meeting activity inviting contributors will be fine in concept of celebrating OpenCV's 20. year

[2020-09-26 14:03] tomoaki0705 opened #18433 "OpenCL: kernel build failure"
##### System information (version)

- OpenCV => recent 3.4 ( 220b37144bbc32dad06e08d4a0b45dba852f3135 ) / master ( f584c6d )
- Operating System / Platform => Firefly RK3399 Ubuntu 16.04 (Aarch64)
- Compiler => GCC 5.4.0
- OpenCL => 1.2

##### Detailed description

Some FP16 inference is disabled on purpose on non-intel platform
Setting `OPENCV_DNN_OPENCL_ALLOW_ALL_DEVICES` to `true` will avoid thi

[2020-09-26 14:09] tomoaki0705 commented on #18283
@drabaioli I now fixed 2 kernel build failures, and as https://github.com/opencv/opencv/pull/18360#issuecomment-694938040 describes, you can bypass this `isIntel` using environment variable `OPENCV_DNN_OPENCL_ALLOW_ALL_DEVICES`
It's really a slight chance that the inference works twice faster as you expect, but basically, the FP16 mode is only supported on Intel platforms.
It depends on what kind

[2020-09-26 17:05] YashasSamaga commented on #18433
duplicate of https://github.com/opencv/opencv/issues/17953?

[2020-09-26 21:29] MattJWhyte opened #18435 "Compiling OpenCV with C++14 standard"
Hi

I am trying to get OpenCV 4.4 to work with CUDA 11.1 in an implementation of darknet_ros. When compiling darknet_ros, it fails with the error that OpenCV requires C++11 support. Could this have to do with OpenCV being compiled using the C++11 standard? and if so, is there a way to compile OpenCV with a higher standard such as C++14?

Thanks for any help!

[2020-09-27 02:59] younggeun0 commented on #18289
Thank you.
I understand why it's not work.

[2020-09-27 02:59] #18289 closed

[2020-09-27 03:34] komakai commented on #18405
@sjang42 thanks for kicking the tyres on the iOS build - I am looking forward to seeing OpenCV integrated in KakaoPay

[2020-09-27 04:05] alalek commented on #18373
Not all affected tests are disabled. Valgrind still reports errors from G-API tests: http://pullrequest.opencv.org/buildbot/builders/master_valgrind-lin64-debug/builds/10260

[2020-09-27 06:03] JapinderSandhu commented on #18416
SOLVED: added line in server for multiprocessing

this code snippet was in a larger multiprocessing function with a server so thats why I was unable to include it all for minimal reproducer. But I found the solution here.

Turns out I needed to add the line

    **multiprocessing.set_start_method('spawn')**

https://github.com/opencv/opencv/issues/5150

[2020-09-27 06:03] #18416 closed

[2020-09-27 06:05] alalek commented on #18390
@heiheiya Thank you!

LSTM is not fully supported yet in ONNX importer.

Current importer implementation fails to handle `activations` attribute: `HardSigmoid, Tanh, Tanh`.

[2020-09-27 06:06] komakai opened #18437 "Add OpenCL support for Android"
##### System information (version)

- OpenCV => latest
- Operating System / Platform => Android
- Compiler => Android NDK

##### Detailed description

OpenCL is widely supported on Android but the support is not standardized.
Add OpenCL support to OpenCV for Android by adding code to check common locations for the OpenCL library

##### Steps to reproduce

Try to use OpenCL on Android
[code]
Check

[2020-09-27 06:14] noverby commented on #17461
@alalek
Is an upstream fix not an option? Have there been any internal discussion about this in the OpenCV project?

[2020-09-27 07:23] alalek commented on #18417
Pixels on the right/bottom border of `Rect` are excluded.
`RotatedRect` has different semantics.

---

Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-09-27 08:40] lwyj123 commented on #14590
any updates?

[2020-09-27 08:58] aitikgupta commented on #18396
Can you check your CUDA installation?
The \<libray\>.so.xx library files are generally accompanied by \<library\>.so files, which are apparently missing in your screenshot of the folder.

PS: Do mind that I might not be a suitable source of information here, I just have the same configurations of my workstation and this is the only difference I could find. :sweat_smile:

[2020-09-27 09:03] AnnieXuY opened #18443 "opencv 4.2.0 gets different results for the same picture with different size."
##### System information (version)
- OpenCV = 4.2.0
- Operating System / Platform => CentOS Linux release 7.7.1908
- Compiler => gcc version 4.8.2

##### Detailed description

I used the opencv dnn module for object_detection, using ssd_mobilenet_v1_0.75_depth_coco from the TensorFlow 1 Detection Model Zoo, and now running into a strange problem.

When the input image size is 2160x1080, the recogn

[2020-09-27 09:29] Pasadenasman commented on #18414
so...
when i try to compile opencv i get the following "error" a c/c++ flags. @alalek i ve read that you said that isn't really an error but at the end the of the configurating process i get "  Configuring incomplete, errors occurred!"
i ve installed gcc as compiler on the Pi in the hope to have all the needed packages to get the configuration completed but it failed. So now im running out of idea

[2020-09-27 10:38] marxenegls commented on #18414
which tutorial/guide did you follow to compile tensorflow on raspbian /pi ?

error: the following arguments are required: -p/--prototxt, -m/--model

from stackoverflow ;

"cv2.dnn.readNetFromTensorflow takes your Protobuf file .pb and configuaration file of your model .pbtxt to load your saved model.

net.forward() - Runs a forward pass to compute the net output.

your detection i.e net.forward()

[2020-09-27 11:24] sniafas commented on #18396
@aitikgupta I really appreciate your response. If I can comprehend from your answer I think that the symlinks do exist.
But the library path (for some reason) seems that it can not get identified from .cmake configurations. Since CUDA_TOOLKIT is already overridden I thought it could work, but it doesn't :/
![Screenshot from 2020-09-27 14-18-27](https://user-images.githubusercontent.com/4542013/943

[2020-09-27 11:44] berak commented on #18414
@Pasadenasman ,

this is due to:

    CMake Error at cmake/OpenCVModule.cmake:288 (message):
    No modules has been found: /home/pi/opencv_contrib-4.4.0/modules

it did not find the contrib modules, and built opencv without.

you tried to hack the args in the argparser, but it won't work as long as it has `required=True`, and it would need to be `default=`, not `help=`

so, read that blogpost aga

[2020-09-27 12:53] cyyuan82 commented on #17400
use cv::CAP_DSHOW instead

[2020-09-27 13:51] sjang42 commented on #18443
It could be a memory issue

[2020-09-27 14:34] Pasadenasman commented on #18414
thanks for responding. yeah that was pretty messed up. i ve started from a fresh build. sorry for posting in wrong section.

[2020-09-27 14:34] #18414 closed

[2020-09-27 21:16] pwnorbitals commented on #15281
could this get solved by templating `Mat` with the typeof the `nelems` member ? With `int` as a default template type, it should break no code

[2020-09-27 22:05] alalek opened #18446 "iOS build: ObjC bindings compilation failed"
Error message:
[code]

Generated code becomes differ.

dnn.txt diff:
[code]

Dnn.mm before:
[code]

Dnn.mm after:
[code]

/cc @komakai

Appears after changing of build environment on `macosx-1` builder.
Perhaps related to default Python version and its modules.

Under investigation...

---

**Update**: gen_obj.py doesn't work with python3, so it is Python 2 changes (system or from homebrew)
<detai

[2020-09-27 23:01] alalek commented on #18446
**Invalid**, related to this PR only: #18220 ([build](http://pullrequest.opencv.org/buildbot/builders/precommit_ios/builds/24861))

[2020-09-27 23:01] #18446 closed

[2020-09-28 00:08] FilipeChagasDev opened #18448 "Error compiling OpenCV from source"
##### System information (version)

- OpenCV => Source code on the master branch on 27-September-2020
- Operating System / Platform => Ubuntu 20.04.1 LTS
- Compiler => g++  9.3.0

##### Detailed description

I'm trying to compile OpenCV for use in C ++, but this error occurs (Note: some messages were translated from Portuguese):

[code]

##### Steps to reproduce

I followed this tutorial:

[https:

[2020-09-28 00:32] #8119 closed

[2020-09-28 00:36] alalek commented on #18448
Message is similar to #11114

Can't reproduce.
There is some problem in build environment on your side.
3rdparty dependencies from /usr/local or Anaconda stuff may broke builds.

We don't help with remote investigation of problems which we are not able to reproduce on our side (because it is very time consuming and usually configuration problem without any following fix into OpenCV), but we can ta

[2020-09-28 01:09] #18381 closed

[2020-09-28 01:09] #18405 closed

[2020-09-28 01:20] heiheiya commented on #18390
@alalek Thank you!
But I want to know which importer in opencv can fully support LSTM? I have tried to convert keras model(unrolling LSTM) to tensorflow pb model, the tensorflow importer have failed too.
Is there any way to deploy LSTM model use opencv?

[2020-09-28 03:01] AnnieXuY commented on #18443
I just encountered another situation, when the input file is 3840x2160, it can recognize person correctly, but when the 480p image is input, it recognizes nothing.

Please see annex for input images.
[bigface.zip](https://github.com/opencv/opencv/files/5289718/bigface.zip)

[2020-09-28 05:05] zhaoworking commented on #17659
bro, have you solved the problem, I have struck with this problem for a long time .

[2020-09-28 05:43] timotheecour opened #18450 "`make install DESTDIR=dir` fails: file failed to open for writing (Permission denied): opencv/build/install_manifest.txt"
##### System information (version)
- OpenCV => 4.4 or HEAD
- Operating System / Platform => ubuntu 20.04
- Compiler => gcc version 9.3.0 (Ubuntu 9.3.0-10ubuntu2)

##### Detailed description

* follow https://linuxize.com/post/how-to-install-opencv-on-ubuntu-20-04/
* after
[code]
If I override with:
[code]
it fails with
[code]
forcing sudo even though `DESTDIR` should not require sudo

##### Steps

[2020-09-28 08:08] pwnorbitals commented on #16158
Does this still reproduce with the latest versions ? @maximefp

[2020-09-28 08:12] pwnorbitals commented on #16785
kind reminder @wangwenchao-job
If your problem is solved, please let us know :)

[2020-09-28 08:30] AhmedHumais commented on #17264
I am facing the same issue. Anyone knows how to solve it?

[2020-09-28 09:37] alalek commented on #18450
This can't be fixed by OpenCV.
You should check/fix ACL in your `/home/ubuntu/usr/local/usr/local` directory.

---

Build / usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-09-28 09:44] alalek commented on #17264
We don't support configuration with multiple different OpenCV versions in one application address space.
You should align these versions including dependencies on your side.

[2020-09-28 11:05] dmatveev commented on #18373
This is another test suite, but the problem seem to be known - cc: @rgarnov

[2020-09-28 11:45] dyanikoglu commented on #16466
Why this was closed? without any explanation? On debug builds, the code piece below causes huge amount of memory leak:

[code]

[2020-09-28 13:29] smbz commented on #18390
OpenCV currently only supports sigmoid activation for LSTM gates, not hard sigmoid.  Additionally, there seems to be a bug in the ONNX importer where it fails to handle the `activations` attribute even if the value is supported.

@heiheiya tanh and sigmoid is the default for ONNX, so it might be worth retraining with sigmoid instead of hard sigmoid and seeing if that works.

[2020-09-28 22:06] timotheecour commented on #18450
but this file is created by opencv; it happens with any directory you specify, eg:
[code]

[2020-09-28 23:11] #17953 closed

[2020-09-28 23:11] #18433 closed

[2020-09-29 06:02] alalek opened #18454 "test_calib3d: usac_Homography.accuracy crash (Debug+Windows)"
http://pullrequest.opencv.org/buildbot/builders/master_noOCL_noICV_noSSE-win64-vc14-debug/builds/11259 (since Aug 15)

[code]

3.4 branch looks like not affected.

[2020-09-29 06:17] heiheiya commented on #18390
@smbz Thank you for your reply! I took your advice, changed LSTM activation tanh and hard sigmoid to sigmoid and retrained the network. Unfortunately, I've got the same error just like before(ONNX importer and tensorflow importer, both got the same error like before, but each got different error). There may be other factors contributing to the error.
I attached the new model file.
[testLSTM-sigmoi

[2020-09-29 07:32] stone89son commented on #18437
**44454444****44454444****44454444****44454444**444****44454444****44454444****44454444**]
**44454444****44454444****44454444****44454444**444****44454444****44454444****4
**44454444****44454444****44454444****44454444**444****44454444****44454444****4

[2020-09-29 07:32] stone89son commented on #18437
**44454444****44454444****44454444****44454444**444****44454444****44454444****4

[2020-09-29 07:32] stone89son commented on #18437
**44454444****44454444****44454444****44454444**444****44454444****44454444****4

[2020-09-29 08:01] ghimireadarsh opened #18455 "Installation is taking so much time"
##### System information (version)

- OpenCV => 4.4
- Operating System / Platform => Mac OSX 64 bit, OSX version 10.12.6
- Environment => virtualenv
- Python => 3.7.6

##### Detailed description
It takes more than 30 minutes to install, and is stuck at installation for more than 30 minutes.
[code]

##### Steps to reproduce
[code]
##### Issue submission checklist

 - [x] I report the issue, it's no

[2020-09-29 08:13] smbz commented on #18390
@heiheiya I meant sigmoid just for the gates - keep using tanh for the other activations.  In other words, sigmoid replaces the hard sigmoid in your original network, but everything else remains the same.

[2020-09-29 08:22] dkurt commented on #18455
origin framework: https://github.com/skvark/opencv-python

[2020-09-29 08:22] #18455 closed

[2020-09-29 13:25] vijay180396 opened #18456 "Problem with opencv_cuda_surf in nvidia jetson raspberry pi"
##### System information (version)

- OpenCV => :3.4.3
- Operating System / Platform => :Ubuntu 18.04 64 bit(nvidia Jetson raspberry)
- Compiler => :grey_question:Unix makefiles

##### Detailed description

   i had problem with **opencv_cuda surf** when trying to get keypoints from images in nvidia jetson(raspberry) .
   when trying to get keypoints from image with resolution of (W)1600*1192(H) a

[2020-09-29 13:49] vijay180396 commented on #18456
- [ ]
test image in nvidia jetson raspberry pi Ubuntu(OS)
- [ ]
[test.tar.gz](https://github.com/opencv/opencv/files/5299392/test.tar.gz)

[2020-09-29 14:38] pwnorbitals commented on #4694
Is this still valid today ? there have been no activity for 5 years, I suspect this issue is stale

[2020-09-29 14:43] tomoaki0705 opened #18457 "OpenCL: UMat deallocation error when using FP16"
##### System information (version)

- OpenCV => recent master ( 0dc28d3 ), message is different but run time exception has been capture on 3.4 branch.
- Operating System / Platform => Firefly RK3399, ODROID-N2, ODROID-N2+ (All Aarch64)
- Compiler => 5.4.0, 7.5.0, 9.3.0

##### Detailed description

When running `opencv_perf_dnn` , deallocation error happens

[code]

This only happens when enabling

[2020-09-29 15:10] alalek commented on #18457
Could you please dump OpenCL information from tests header or from `opencv_version --opencl`?

[2020-09-29 15:17] tomoaki0705 commented on #18457
Sure. OpenCL 1.2 and 2.0

1. Firefly RK3399
[code]
2. ODROID-N2
[code]
3 ODROID-N2+
[code]

[2020-09-29 15:21] alalek commented on #18457
[code]

Looks like OpenCL runtime failed to map buffer which was created two steps above.

-14 means `CL_EXEC_STATUS_ERROR_FOR_EVENTS_IN_WAIT_LIST`.

---

It is fiine. Original code of libdnn has `float` and `double` specializations (but `double` is not used in OpenCV).
`use_half_` controls FP16 mode.

[2020-09-29 20:33] jayshildave1983 commented on #18388
Why would this be invalid @alalek?

This isn't certifying Application instead the users of the library are assured that OpenCV is not collecting any information without the knowledge of the application which can be termed as private information from a user perspective.
Hope this clears the ask.

[2020-09-29 21:07] syntax42 opened #18459 "Feature Request: get and set cameras_ on stitcher"
##### System information (version)
- OpenCV => 4.4
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description

It would be very helpful, if it would be possible to get and set the cameras_ array on Stitcher. That way you could call estimateTransform, get the cameras, and save for later or repeated use.

##### Issue submission checklist

 - [x] I re

[2020-09-29 22:12] Namburger opened #18461 "error: (-2:Unspecified error) Can't initialize GTK backend in function 'cvInitSystem'"
##### System information (version)
- OpenCV => 3.4
- Operating System / Platform => aarch64 (debian based OS)
- Compiler => g++ 8.3.0

##### Detailed description
I have opencv as an external dependency that I compile from source like this:
[code]
Everything compiles just fine until I run the program, an error like this appears:
[code]
libgtk2 is definitely installed:
[code]

##### Steps to reprodu

[2020-09-30 01:32] heiheiya commented on #18390
@smbz I have tried, also the same error, I don't know why?

[2020-09-30 03:25] duongvvuet commented on #18209
Can you step-by-step instructions? I'm a newbie, I want to load onnx model, but I have the same problem

[2020-09-30 04:56] worldhe opened #18463 "Android platform armeabi-v7a runtime error cv::error(): OpenCV(4.4.0)"
##### System information (version)

- OpenCV => 4.4.0
- Operating System / Platform => Android 7.1.1 armeabi-v7a
- Compiler => Android Studio 4.0.1    NDK 21.3.6528147    Gradel 6.1.1

##### Detailed description
Compilation is complete and an error is reported when running on the device, the error message is as follows:
`2020-09-30 11:30:38.461 6794-6810/com.example.demo E/cv::error(): OpenCV(4.4.

[2020-09-30 07:19] berak commented on #18390
@heiheiya the activations in the LSTM layer are currently hardcoded. it's probably, because [the pytorch implementation](https://pytorch.org/docs/master/generated/torch.nn.LSTM.html#lstm) has it so, while it's configurable [in keras](https://keras.io/api/layers/recurrent_layers/lstm/)

opencv's onnx importer looks at *all* given attributes, and errors out if it finds something unknown (a list of "

[2020-09-30 07:19] x12901 opened #18464 "Opencv dnn is inconsistent with tensorflow detection results."
##### System information (version)
- OpenCV => 4.4
- Operating System / Platform => Windows10 64 Bit
- Opencv-contrib-python=>4.4.0.44
- Opencv-python =>4.4.0.44
- Tensorflow=>1.15
- Tensorflow_models=>r1.12.0
##### Detailed description
I trained my model with TensorFlow Object Detection API.The model is based on the pre-trained model mask_rcnn_inception_v2_coco_2018_01_28.
https://github.com/tens

[2020-09-30 07:47] heiheiya commented on #18390
@berak After so many failures, I found a way. Train the LSTM network use tf.keras not keras, (keep unroll=False), then convert h5 file to pb file use the solution proposed by [https://github.com/intel-analytics/analytics-zoo/blob/master/pyzoo/zoo/util/tf_graph_util.py](url), then use cv2.dnn.readNetFromTensorflow can load the model successfully.
But now I've got a new error when use the net to for

[2020-09-30 08:37] shubhamcodez commented on #18051
@asmorkalov will this be Implemented to openCV repo and may I create a PR for it?

[2020-09-30 08:39] shubhamcodez commented on #18051
it's resolved now?

[2020-09-30 08:48] tomoaki0705 commented on #18457
Thanks. I've updated the original issue description.

Also, I realized that on 3.4 branch, the situation is not exactly same but very similar to what we see in master.

[code]
I think the direct cause is exactly same
[code]
I'll keep digging this issue.

Thanks for the information.
Then I think my PR #18465 is justified by this comment ?

[2020-09-30 09:58] drabaioli commented on #18283
Thank you @tomoaki0705 .
I tried your patch on 4.4.0 and it solved the OpenCL error, on a Mobilenet-v2 SSD network.

I'm currently getting
[code]
even though I cannot find any documentation on that, inference runs ok.

Indeed it's 20x slower that CPU inference for this network. As far as I can understand this is due to the fact that the OpenCL kernels have been implemented with other targets in mi

[2020-09-30 10:08] Barath19 opened #18467 "Detecting multiple chessboards in single scene?!"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [x] I checked the problem with documentation, FAQ, open issues,
       answers.opencv.org, Stack Overflow, etc and ha

[2020-09-30 10:32] pdycp3 opened #18468 "Load RTree model file"
Ptr<RTrees> model;
    model->load("D:\\data\\colmatest\\filename_to_save.xml");
    if (!model)
    {
        cout << "Load File Failed" << endl;
    }

why model is empty?
![image](https://user-images.githubusercontent.com/45677507/94674758-416c9e00-034b-11eb-85e1-cc7d8f05049d.png)

[2020-09-30 11:33] duongvvuet opened #18469 "libopencv_imgcodecs.so.4.4.0: undefined reference to ..."
![Screenshot from 2020-09-30 20-14-40](https://user-images.githubusercontent.com/51939859/94693734-425afb00-035e-11eb-8028-523adc1865eb.png)

Somebody help me ..!!

[2020-09-30 11:52] tomoaki0705 commented on #18283
`-cl-no-subgroup-ifp` appears everywhere.
Usually, OpenCV tries to use this option, and if it fails, it just gives up.
The message you're seeing is that 'test run' to check if OpenCL accepts option `-cl-no-subgroup-ifp`

For the performance, well, not much to say...

[2020-09-30 12:12] l-bat commented on #18209
@duongvvuet Please upload ONNX model to reproduce error

[2020-09-30 12:24] achaperon opened #18470 "VideoIO build failed UWP ARM platform"
##### System information (version)
- OpenCV => 3.4.11
- Operating System / Platform => Target UWP_ARM and UWP_ARM64
- Compiler => Visual Studio 2019

##### Detailed description

I got some errors when I try to build opencv_videoio.dll on UWP_ARM (or UWP_ARM64) on visual studio 2019.
reproduce with the branch 3.4 (commit  969b5503)

Before the version 3.4.9 i am able to build on UWP_ARM but not UWP

[2020-09-30 12:39] mshabunin commented on #18470
Looks like MSMF is not supported on UWP, try to disable it: `-DWITH_MSMF=OFF`.

[2020-09-30 13:48] achaperon commented on #18470
Ok, i have been looking for that for about 3 days, you solve it in few minutes !!!
Thanks

[2020-09-30 13:48] #18470 closed

[2020-09-30 13:54] duongvvuet opened #18471 "Build opencv Error ! Libopencv_imgcodecs.so.4.4.0: undefined reference to ..."
##### System information (version)

- OpenCV => :grey_question:4.4.0
- Operating System / Platform => :grey_question:Linux
- Compiler => :grey_question:Cmake

##### Detailed description

![Screenshot from 2020-09-30 20-14-40](https://user-images.githubusercontent.com/51939859/94694116-aed5fa00-035e-11eb-83ed-ac38afe98122.png)

[code]

I build opencv vs opencv_contrib. This is my problem, somebody

[2020-09-30 14:38] AlvarHHM opened #18472 "Including the unsupported/Eigen/CXX11/Tensor with eigen creates problem for iOS build"
https://github.com/opencv/opencv/blob/fc1a15626226609babd128e043cf7c4e32f567ca/modules/core/include/opencv2/core/eigen.hpp#L63

https://github.com/opencv/opencv/commit/456e88a8a424d66e839158babcda2b8380d1cc79

I was trying to migrate from OpenCV 4.1 to 4.4 on my iOS app build, but it wouldn't compile with the following error

 Once I removed these lines of code from this commit, the problem was re

[2020-09-30 16:10] duongvvuet commented on #18209
Thanks for your respone !
My ONNX model and code ...

[model.onnx.zip](https://github.com/opencv/opencv/files/5306767/model.onnx.zip)

[code]

[2020-09-30 17:28] tim-hilt opened #18474 "Multithreading acts differently in Python and C++"
##### System information (version)

- OpenCV => 4.5.0
- Operating System / Platform => Linux 64 Bit
- Compiler => GCC/G++

#### Steps to reproduce

##### Python

1. Extract local features from images using `ORB_create()`
2. Match one Feature-Matrix against all others using `BFMatcher(NORM_HAMMING)`-class
3. Look at active processor-threads

##### C++

- Repeat the same steps for C++ with equivalen

[2020-09-30 17:47] NoVarlok opened #18475 "Unable to reproduce warpAffine results"
##### System information (version)
- OpenCV => 4.1.1
- Operating System / Platform => Ubuntu lts 20.04
- Compiler => g++ (Ubuntu 9.3.0-10ubuntu2) 9.3.0

##### Detailed description

I tried to reproduce the warpAffine result for bilinear interpolation with a constant borderMode in my own function, using formulas from the wiki. However, my result is slightly different. Is it possible that opencv use

[2020-10-01 01:59] nog642 commented on #9953
I'm trying to build on an aarch64 machine on Ubuntu.

The problem seems to be that `liblapacke-dev` puts `lapacke.h` at `/usr/include/lapacke.h`, but cmake is searching in `/usr/include/aarch64-linux-gnu`.

I tried passing `-DLAPACKE_INCLUDE_DIR=/usr/include`, but that didn't help because [on line 98](https://github.com/opencv/opencv/blob/4.4.0/cmake/OpenCVFindLAPACK.cmake#L98) that gets overwritt

[2020-10-01 05:26] l-bat commented on #18209
@duongvvuet  To load onnx model correctly, you need to specify `img_w` in input shape when exporting model to onnx.

![image](https://user-images.githubusercontent.com/22346860/94771123-2b98c080-03bf-11eb-9cce-8254bff27274.png)

[2020-10-01 06:15] pwnorbitals commented on #18324
The original issue is a question that has been answered. I suggest closing this issue.

@zglinghunan  if you have further questions, feel free to ask them on answers.opencv.org or Stack Overflow :)

[2020-10-01 06:18] pwnorbitals commented on #11914
This is an old issue. @cluze, is thus still reproducible with recent releases ?
If so, please follow @alalek ’s instructions to help the developpers find the bug :)

[2020-10-01 06:31] pwnorbitals commented on #16110
@TieSKey Is this issue still reproducible today with the latest release ? (I don’t have the non-free modules yet so can’t test it on my machine)

[2020-10-01 06:43] themightyoarfish opened #18478 "4.1.1 (and master) does not compile on macOS with WITH_OPENMP"
##### System information (version)

- macos 10.15.7
- OpenMP installed with `brew install libomp` and headers and libraries present in `/usr/local/`
- Compiler Apple clang 12.0.0

##### Detailed description

Using this build configuration:
[code]

Fails to compile since `cmake/OpenCVFindFrameworks.cmake` uses such code:
[code]

which does not bring `-I/usr/local/include`, `-L/usr/local/lib` and `-

[2020-10-01 06:48] #18469 closed

[2020-10-01 07:02] berak commented on #18468
because load() is a static method, that returns a new object, use it like:

    Ptr<RTrees> mdl = RTrees::load("some/path")

(currently you're just "throwing it away")

[2020-10-01 07:24] pdycp3 commented on #18468
thank you , i have seen it before ,but ignored it
![image](https://user-images.githubusercontent.com/45677507/94779927-40df1080-03fa-11eb-8c76-b6518901f9b7.png)

[2020-10-01 07:35] duongvvuet commented on #18209
@l-bat How to specify img_w in the input shape from onnx above? I don't have model before exporting model to onnx. :((

[2020-10-01 07:42] BobSmun opened #18479 "Siamese network, with shared MatMul kernel weights, triggers !field.empty() assertion"
##### System information (version)
- OpenCV => 3.4.11
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2010

##### Detailed description
When trying to load a Siamese network trained with Tensorflow/Keras, cv::dnn:readNetFromTensorflow("model.pb") asserts with "!field.empty()" in getTensorContent.

Tracing this further, it appears the issue is with retrieving the share

[2020-10-01 07:53] themightyoarfish commented on #18478
I am curious why it's even necessary to include `/usr/local/include` considering it's a standard search path at least  for Apple clang.

[2020-10-01 07:59] l-bat commented on #18209
@duongvvuet  Do you plan to use a model with different input shapes?

[2020-10-01 08:04] aitikgupta commented on #18454
3.4 branch does not have this test.

[2020-10-01 08:12] duongvvuet commented on #18209
@l-bat No, I will preprocess the input image with specified input shape.

[2020-10-01 08:27] l-bat commented on #18209
Try using this script to set input shapes.

[code]

[2020-10-01 08:41] duongvvuet commented on #18209
@l-bat Thank you, but ...

![Screenshot from 2020-10-01 15-39-42](https://user-images.githubusercontent.com/51939859/94787452-856bab80-03fc-11eb-8703-b2cab351caf6.png)

[2020-10-01 09:40] duongvvuet commented on #18209
@l-bat Sorry, I'm bad. Thank you so much .. !!

[2020-10-01 10:41] sayom88 opened #18480 "How to show the offset difference value between base image and reference image in OpenCV?"
How can we show the offset difference value between base image and reference image when there is a position change.

suppose there is a position change between a base and a reference image.....now via OpenCV,I would want to show how much is the difference value in terms of the position change? If you share the code snippet of how to do that, then that will be much helpful.

[2020-10-01 11:22] tim-hilt commented on #18474
@alalek can you suggest what i should add to the question above to complete it?

[2020-10-01 11:37] dkurt commented on #18480
Please do not GitHub issues for usage questions.

There are https://stackoverflow.com/questions/tagged/opencv, https://answers.opencv.org/questions/

[2020-10-01 11:37] #18480 closed

[2020-10-01 12:16] alalek commented on #18474
Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org
This tracker is for issues and bugs that needs fix in OpenCV.

OpenCV initializes ThreadPool on-demand only. Probably used algorithms don't use parallel optimization.
Complete minimal reproducer should be added to make the problem reproducible.

OpenCV supports many tools beyond of the "Look at active processor-threads"

[2020-10-01 13:43] sayom88 commented on #18480
Hi @dkurt  I have already raised this question in https://answers.opencv.org/questions/, but nobody has answered it....hence I gave it a try here.....would you mind helping me here please

[2020-10-01 13:50] utsembedded commented on #17795
@YashasSamaga

I'm using opencv_dnn based yolov4 algorithm.
downloaded from: https://gist.github.com/YashasSamaga/e2b19a6807a13046e399f4bc3cca3a49

[2020-10-01 14:28] dkurt commented on #17795
@utsembedded, you need to perform NMS anyway but not for `[yolo]` layers. Take a look at https://github.com/opencv/opencv/blob/master/samples/dnn/object_detection.cpp or [cv::dnn::DetectionModel](https://docs.opencv.org/master/d3/df1/classcv_1_1dnn_1_1DetectionModel.html)

[2020-10-01 15:04] alalek commented on #18454
bug introduced by #17683
/cc @ivashmak @vpisarev

[2020-10-01 15:11] tim-hilt commented on #18474
Thanks! These were some helpful hints. Closing...

[2020-10-01 15:11] #18474 closed

[2020-10-01 15:12] ieliz opened #18481 "OE-XX Tracking API"
## Tracking API

* Author: Ilya Elizarov
* Link: TBD
* Status: **Draft**
* Platforms: **All**
* Complexity: N/A

## Introduction and Rationale

The main goal of this proposal is the renewal of the tracking module which has existed in stagnation in opencv-contrib for a few years and moving it to the OpenCV main repository.
For now, we have 8 trackers in the "opencv_contrib" repository (7 classical

[2020-10-01 21:39] TieSKey commented on #16110
@pwnorbitals
Haven't checked in a while. I'll try to do some testing this weekend and report back.

[2020-10-02 00:34] aitikgupta commented on #18390
@alalek Since e59793cc75ed5476c7d85a61c539c5cf8944a54c, the error is more logged, but still isn't handled. Here's the updated error log [for the onnx file @heiheiya provided](https://github.com/opencv/opencv/files/5273049/test.zip):

[code]

**I can confirm the error even for `Sigmoid, Tanh, Tanh`**
I think there needs to be an additional condition for `attribute_name == "activations"` around arou

[2020-10-02 04:04] WeijieH commented on #17860
I had the same problem and the reason I found is that I installed the debug version of cv2 (when i do build in vs 2019, i selected batch build for debug/release INSTALL and somehow the debug INSTALL runs last). I missing dll I find by running dependency walker is python38_d.dll. I have solved this by run or build the release INSTALL again.

[2020-10-02 04:29] aitikgupta commented on #16763
I believe this is a length of an edge issue, look at the two snippets below:

[code]

[code]

Both snippets just have a single coordinate changed, in fact, If we keep shifting the first coordinate x-axis **up until 394** - `triangles: 2`
As soon as it goes `>=395`, output changes `triangles: 1`

This threshold is just for this particular example, it keeps changing for different points, different s

[2020-10-02 06:38] AlvarHHM opened #18489 "The binary release for iOS is not built for distribution, which causes the new Swift compile (5.3) from XCode 12 unable to import the released binary (which was compiled with Swift 5.1.2)"
To fix it please refer to the following StackOverflow question.

https://stackoverflow.com/questions/58654714/module-compiled-with-swift-5-1-cannot-be-imported-by-the-swift-5-1-2-compiler/58656323#58656323

[2020-10-02 06:54] alalek commented on #18489
/cc @komakai Could you please take a look on this? (preferable with a way to keep support for Xcode 10+ too)

[2020-10-02 07:05] Mizux opened #18490 "CMake: Potential bug (code review)"
Disclaimer: not tested, just reviewing the code...

Since CMake now provide a [multi configuration ninja generator](https://cmake.org/cmake/help/latest/generator/Ninja%20Multi-Config.html), I guess this check is wrong:
https://github.com/opencv/opencv/blob/a3e7c2d8e3ebb32a5ee58c8f3265dacead318572/CMakeLists.txt#L1032-L1034

Fix: please add `Ninja Multi-Config` (or simply `Multi-Config` :thinking:)

[2020-10-02 09:39] feng716 opened #18492 "Error compiling OpenCV from source"
# version
   System ==> windows x86_64.
   opencv:==>download from OpenCV website.
   First use cmake to download, and then use GCC to compile in CMD.

# Error reporting:
gcc: error: long: No such file or directory
D:\MinGW_x86_64\bin\windres.exe: preprocessing failed.
mingw32-make[2]: *** [modules\world\CMakeFiles\opencv_world.dir\build.make:6680: modules/world/CMakeFiles/opencv_world.dir/vs_vers

[2020-10-02 10:25] berak commented on #18492
duplicate of  (#16990,  #17065, #10572)

@feng716 , it's a problem with the windres.exe, that comes with the mingw toolchain.

it fails to parse something like `OPENCV_ALLOCATOR_STATS_TYPE=long long` and thinks the 2nd long is a filename

as a workaround, you could disable the allocator stats by adding

    -DOPENCV_ENABLE_ALLOCATOR_STATS=OFF

to your cmake cmdline

[2020-10-02 11:21] johncaling40 commented on #17440
I added all 5 of those paths to the path variable and still error.

[2020-10-02 11:24] feng716 commented on #18492
@berak I don't seem to understand what you mean. Do you want to add entry in cmake or enter the command line?

[2020-10-02 11:28] gemfield commented on #8425
[code]
opencv_python3 also has other dependencies.

[2020-10-02 12:50] ieliz commented on #18481
This is a list of actual issues for GOTURN, MIL, KCF trackers.
<details>
<summary>KCF:</summary>

1. https://github.com/opencv/opencv_contrib/issues/2471
2. https://github.com/opencv/opencv_contrib/issues/2264
3. https://github.com/opencv/opencv_contrib/issues/1991
4. https://github.com/opencv/opencv_contrib/issues/1625
5. https://github.com/opencv/opencv_contrib/issues/491
6. https://github.com/o

[2020-10-02 13:10] berak commented on #18492
add it to your cmake cmdline arguments, or, if using cmake-gui, edit or add a new entry there

[2020-10-02 14:04] NoahVersace commented on #15707
Thank you for sharing that fix!

[2020-10-02 15:03] #18454 closed

[2020-10-02 15:08] firebladed opened #18495 "Missing V4L2_PIX_FMT_Y16be support and pixel format mis identification"
##### System information (version)
- OpenCV => '4.5.0-pre'
- Operating System / Platform => Ubuntu 20.04
- locally compiled
- RaspberryPi 4b

##### Detailed description

I am trying to get an mlx80640 infra red camera working see [question ](https://answers.opencv.org/question/235934/mlx90640-no-video-stream/ )which only outputs V4L2_PIX_FMT_Y16_BE

i can workaround using ffmpeg to convert from V4

[2020-10-02 18:27] #18254 closed

[2020-10-03 02:51] komakai commented on #18489
@alalek setting BUILD_LIBRARY_FOR_DISTRIBUTION=YES gives this error:
The legacy build system does not support building projects with Swift when SWIFT_ENABLE_LIBRARY_EVOLUTION is enabled.

So we will also need to switch to the new build system. I will try and work out how to do that

[2020-10-03 02:56] mike07026 commented on #18214
Will you please share your workaround solution? @philippwerner

[2020-10-03 03:29] stephanecharette opened #18500 "cv::VideoCapture::open() cannot open any video files"
64-bit Ubuntu 20.04.  Installed OpenCV like this:

    `./vcpkg install --triplet x64-linux opencv[core,dnn,ffmpeg,jpeg,opengl,openmp,png,tiff,webp]`

This gives me OpenCV4 4.3.0#1 (4.3.0-0c6047baf6).

Most of OpenCV is working fine.  I'm using it to read/write images, cv::Mat, etc.  But when I attempt to use `cv::VideoCapture`, it fails to open any video file and throws an exception.

I recompile

[2020-10-03 04:07] alalek commented on #18500
Please use right location for reporting the packaging issues.

---

What is moved OpenCV binaries there?

---

Video I/O plugins are optional.
Ensure that you built them (check vcpkg logs).

---

Build / usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org
Provide complete logs if you really want to get help.

[2020-10-03 05:09] komakai commented on #18489
Looks like cmake has just added support for the Xcode new build system:
https://gitlab.kitware.com/cmake/cmake/-/issues/18088
Once version 3.19 is released I'll try it out

[2020-10-03 05:19] stephanecharette commented on #18500
I'm trying to get information on what are the plugins that should be built.  If I at least knew the names, then I could look for them and either figure out how to build them, or start looking into why they're not found.

[2020-10-03 06:08] feng716 commented on #18492
##### @berak thank you! I solved the problem

[2020-10-03 06:45] berak commented on #18492
@feng716  -- nice ! you might close this issue now ...

[2020-10-03 08:56] philippwerner commented on #18214
@mike07026
I have uploaded my workaround as a patch file: https://gist.github.com/philippwerner/f4df9fda0be3d4d12aa5f6c0a22e094d

[2020-10-03 11:40] pwnorbitals commented on #6296
Does this issue still arise today ? If not, we can probably close it

[2020-10-03 11:42] pwnorbitals commented on #12343
Interesting. @YashasG98 @jnmugerwa @MinaSGorgi any one still working on this issue ?

[2020-10-03 16:08] paymog commented on #5150
I found that installing `opencv-python-headless` fixed the problem for me with python 3.8

[code]

[2020-10-03 19:49] alalek commented on #18500
Log dump above contains these names:

[2020-10-04 07:16] kamarshi opened #18502 "OpenCV 4.4 on Windows 10 - multiprocessing does not work"
##### System information (version)
OpenCV - 4.4
Platform - Windows 10 64 bit
Python - 3.8.5

##### Detailed description
[example.zip](https://github.com/opencv/opencv/files/5322783/example.zip)

Hello,

OpenCV 4.4 on Windows 10 does not appear to support multi-processing (multi-threading works). It fails with the message: "ImportError: DLL load failed while importing cv2: The specified module coul

[2020-10-04 07:31] alalek commented on #18502
How did you get OpenCV?

[2020-10-04 08:17] dominota opened #18503 "OpenCv 4.4's performance is worse than OpenCv 3.4"
##### System information (version)
- OpenCV => 4.4 vs 3.4
- Operating System / Platform => Windows 10 x64
- Compiler => Visual Studio 2017

##### Detailed description
I built OpenCv 4.4 and OpenCv 3.4 from source codes with the same settings (Nvidia CUDA SDK 10, Intel TBB 2017) then i ran a sample tracking from this source https://github.com/laeklee/fDSST_cpp/tree/master/src , captured an mp4 file

[2020-10-04 08:55] alalek commented on #18503
Please run OpenCV performance tests first

[2020-10-04 10:41] feng716 commented on #18492
@berak But I had a new problem. My VSCode has been written“ lunch.json " tasks.json ""c_ cpp_ properties.json "Etc., but GCC still reports an error when compiling.

[2020-10-04 10:47] feng716 commented on #18492
@berak
![image](https://user-images.githubusercontent.com/65810132/95013295-07183f00-0672-11eb-8f96-a6c47e733a6c.png)

[2020-10-04 11:21] berak commented on #18492
we cannot help you configuring your ide, but if you use opencv4.4.1, you need to link libs like -lopencv_core441

also, please ask further questions on https://answers.opencv.org, (this is the library bug tracker)e

[2020-10-04 12:26] code-wangshuyi opened #18504 "Any tips for quantizing res10_300x300_ssd_iter_140000.caffemodel to opencv_face_detector_uint8.pb ？"
I have known about how to train and shrink  quantizing res10_300x300_ssd_iter_140000.caffemodel to  res10_300x300_ssd_iter_140000_fp16.caffemodel. But I have no idea how to quantize caffemodel to tensorflow model in 8-bit. Could you give a method to solve this problem? Thanks a lot!
[https://github.com/opencv/opencv/blob/master/samples/dnn/face_detector/how_to_train_face_detector.txt](https://gith

[2020-10-04 13:02] feng716 commented on #18492
# @berak OK, I'll try

[2020-10-04 15:21] alalek commented on #18472
relates #17320

[2020-10-04 16:08] kamarshi commented on #18502
Hello,

Thanks for your quick response.  I downloaded the OpenCV repo (github.com/opencv) and used the 4.4.0 tag to build

Vijay

[2020-10-04 16:15] kamarshi commented on #18502
Attached file
[opencv_build_information.txt](https://github.com/opencv/opencv/files/5323581/opencv_build_information.txt)
 is a dump of cv2.getBuildInformation()

[2020-10-04 16:16] alalek commented on #18392
Can't reproduce with current 3.4:

[code]

Please provide complete reproducer including missing input.
Also capture stacktrace of this failure.

[2020-10-05 00:10] code-wangshuyi commented on #18504
Any suggestion？

[2020-10-05 00:10] #18504 closed

[2020-10-05 00:16] code-wangshuyi opened #18508 "Any tips for quantizing res10_300x300_ssd_iter_140000.caffemodel to opencv_face_detector_uint8.pb ？"
When I Use OpenCV samples In DNN module, I met Some Problems In face detection example！
I have known about how to train and shrink quantizing res10_300x300_ssd_iter_140000.caffemodel to res10_300x300_ssd_iter_140000_fp16.caffemodel. But I have no idea how to quantize caffemodel to tensorflow model in 8-bit. Could you give a method to solve this problem? Thanks a lot!

Here IS the training introduc

[2020-10-05 01:46] dominota commented on #18503
I dont build tests because my PC is limited the resources. I just compare the sample project build for both OpenCv 3.4.0 and OpenCv 4.4.0

[2020-10-05 05:13] feng716 commented on #18492
@berak I used the windows command prompt to compile the file, but I still reported an error.
![image](https://user-images.githubusercontent.com/65810132/95042429-67f45580-070c-11eb-966f-90a56191c20a.png)

[2020-10-05 05:17] feng716 commented on #18492
@berak I changed the G + + compiler, but still reported an error.
![image](https://user-images.githubusercontent.com/65810132/95042618-11d3e200-070d-11eb-9728-7d89736df1d8.png)

[2020-10-05 05:54] StaryVena commented on #18392
Hi alalek, thank you for response. I have to admit that I didn't try the posted the minimal code. It was part of a little bigger code.  The minimal code works also on my machine. Knowing that I found out that I was calling the forward method on uninitialized network which caused the error. I initialized local net variable in init method in a class instead of a class attribute.
Thank you for your t

[2020-10-05 06:14] alalek commented on #18392
Thank you for update!

However there is still an STL error which comes from the `.forward()` call on empty `Net`.

Problem is on this line:
[code]

Extra checks should be added with proper error messages.

[2020-10-05 06:39] berak commented on #18492
now you're not linking *any* opencv libs ....

please:

* don't post screenshots of code or errors *anywhere* (paste as text)
* close this issue, there is no opencv bug to report
* ask further questions on https://answers.opencv.org/questions/

[2020-10-05 07:02] #18492 closed

[2020-10-05 08:26] netilovefm1 opened #18511 "cv2.imread in python and c# got a different output why this is happened?"
##### System information (version)

- OpenCV => :.NET OPENCVSHARP4.WINDOWS
- Operating System / Platform => Windows8 64 Bit
- Compiler => :grey_question:

##### Detailed description

in Python cv2.imread() got a output :
[[42. 49. 58.]
[40. 47. 56.]
[36. 43. 52.]
but in c# I got a output :

63.00,82.00,95.00
61.00,83.00,95.00
77.00,97.00,114.00
first 3 row output
(and other output also different)

[2020-10-05 08:47] dkurt commented on #18392
Maybe path to model at `readNetFromTensorflow` is incorrect?

[2020-10-05 09:47] StaryVena commented on #18392
When the path is incorrect the method cv::dnn::readNetFromTensorflow(path) throws an exception.

[2020-10-05 10:30] AlvarHHM commented on #18489
For the time being, would it be possible to release a binary compiled with swift 5.3? I am sure many would eager to try out the new Swift binding on Xcode 12.

[2020-10-05 14:09] jaxonzku opened #18513 "libopencv_intensity_transform.so.4.4"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

##### Issue submission checklist

 - [ ] I report the issue, it's not a question

 - [ ] I checked the problem with documentation, FAQ, open issues,
       answers.opencv.org, Stack Overflow, etc and ha

[2020-10-05 14:10] AlexBONY opened #18514 "cv::DNN - Cuda 10.2 - MultiThread Error"
##### System information (version)

- OpenCV => 4.4.0 with Cuda 10.2 and cuDNN 7.6.5 on Quadro RTX 4000
- Operating System / Platform => Windows 10 - 64 Bit
- Compiler => Visual Studio 2019 C++

##### Detailed description

Hello,
we have problem with moduleDNN and multithreading. I use Yolov4 original weights and config [https://github.com/AlexeyAB/darknet](url). Each thread has its own instance o

[2020-10-05 17:22] amrosado commented on #18425
@alalek Has anyone been successful compiling a working version of opencv with the more recent versions of the Intel performance libraries (specifically TBB) on a Windows?  I've had to revert back to the last version from 2019 in order to get things working again.

[2020-10-05 18:12] YashasSamaga commented on #18514
Can you share the exception message?

[2020-10-05 19:33] alalek commented on #18503
In case of performance issues this topic may help with investigation:
- https://github.com/opencv/opencv/wiki/Profiling-OpenCV-Applications

[2020-10-05 22:01] AndrewDid commented on #16785
Hi! Have someone solved this problem? I have the similar one. I will be grateful if you share your solution here!

[2020-10-06 04:40] imrahul361 commented on #17535
is this issue available? Can i work on this? @pfeatherstone

[2020-10-06 04:48] ganesh-k13 commented on #17535
@alalek / @dkurt , I think it's safe to remove the `good first issue` tag, as I feel porting libpng, etc to here(or calling wrappers) won't be simple.

[2020-10-06 04:55] pwnorbitals commented on #17021
Error comes from core/src/persistence_xml.cpp:165, called by core/src/persistence.cpp:1049. This seems to be by design, where we copy the strings to c-type strings with a fixed maximum length. of CV_FS_MAX_LEN*6+16. The CV_FS_MAX_LEN value may hold a wrong value, but I’d say the code design of this part may need a review and get rid of the constant

[2020-10-06 05:25] mmoerdijk opened #18520 "rotatedRectangleIntersection does not work when one rectangle has zero size"
##### System information (version)
- OpenCV => 4.4.0
- Operating System / Platform => Ubuntu 18.04

##### Detailed description
I encountered this bug after trying to do collision checking on rectangles generated by `minAreaRect`. Some rectangles that were clearly not touching where marked as being in collision. I found out that some of mine rotated rectangles are actually more points but still i w

[2020-10-06 06:58] pfeatherstone commented on #17535
You can do whatever you want mate. I'm not a maintainer. There's no reason why you can submit a PR.

[2020-10-06 07:07] AlexBONY commented on #18514
Thank you for your interest in this issue.

OUT-Message :
OpenCV(4.4.0) D:\SDK\OpenCV\4.4.0\opencv-4.4.0\modules\dnn\src\cuda4dnn/csl/stream.hpp:89: error: (-217:Gpu API call) unspecified launch failure in function 'cv::dnn::cuda4dnn::csl::UniqueStream::synchronize'

![Screenshot-Execption](https://user-images.githubusercontent.com/72395098/95168140-249ff280-07b1-11eb-99e1-22abe93c912f.PNG)

![Scr

[2020-10-06 07:19] YashasSamaga commented on #18514
Are you using a debug build?

Can you check if you are having a [WDDM TDR timeout](http://developer.download.nvidia.com/NsightVisualStudio/2.2/Documentation/UserGuide/HTML/Content/Timeout_Detection_Recovery.htm)?

[2020-10-06 07:43] AlexBONY commented on #18514
I am using the visual studio 2019 C ++ debugger (not Nsight), but the problem is the same when the application is directly executed without Visual context.

I I tested with set WDDM TDR enabled to True and False, and the problem is still present.

[2020-10-06 09:07] emmenlau opened #18521 "OpenCV does not find_dependency(Eigen3) for transitive link dependency"
##### System information (version)
- OpenCV => 4.2
- Operating System / Platform => All
- Compiler => All
- cmake => 3.18.3

##### Detailed description

OpenCV can be used very easily with cmake. The typical workflow is:
[code]
However this currently fails if OpenCV was configured with Eigen3 enabled. The reason is that `OpenCVConfig.cmake` does not have a call to `find_dependency(Eigen3)`, but `E

[2020-10-06 12:30] imrahul361 commented on #17535
I am new. Just anyone brief me how to reproduce the issue and other things?

[2020-10-06 12:51] vijay180396 commented on #15748
@wangzhankun , you are build with opencv 2.4 development not for opencv 3.4

[2020-10-06 13:28] NickJackolson commented on #4777
On Opencv 4.4 the error is different but still can't use generated pyramids generated by `buildOpticalFlowPyramid()`
[code]

Is there anyone working on a fix?

[2020-10-06 13:31] subhamvs opened #18523 "GAPI: How to invoke the same set of operation for group of images using Gcomputation"
##### System information (version)

- OpenCV => 4.4.0
- Operating System / Platform => Ubuntu 18.04 64 bit
- Compiler => g++

##### Detailed description

I want to detect edges for the set of images using the Canny Edge detector. I thought of using GAPI to improve the performance of the operations been mentioned.  How to initialize and use the Graph computation with a vector of input Mat objects?

[2020-10-06 13:34] AjiGopal opened #18524 "Error While Reading the RTSP video stream"
System information (version)
- OpenCV = 4.4.0
- Operating System / Platform = Ubuntu
- Compiler = Python 3.6.9

Getting Encoding error while Reading a video stream using RTSP as shown below. Initially the reading process starts and while running it shows this errors

[hevc @ 0x83b9940] Could not find ref with POC 0
[rtsp @ 0x8325a00] RTP: PT=60: bad cseq ced0 expected=c18a
[rtsp @ 0x8325a00] RTP:

[2020-10-06 13:59] baqwas commented on #9953
Hello @nog642,

I'll work along the lines you have suggested/illustrated. Thanks.

Kind regards.

[2020-10-06 15:55] paroj opened #18525 "imwrite: multi-image tiff from python"
##### System information (version)

- OpenCV => 4.4
- Operating System / Platform => Linux
- Compiler => GCC

##### Detailed description

`imwrite` supports writing multi-page tiffs by checking whether `InputArray` is a `MatVector`
https://github.com/opencv/opencv/blob/793b2b9ad9afcb97f3b30d236077812703506b2d/modules/imgcodecs/src/loadsave.cpp#L755-L757

However, on python it can never be done as

[2020-10-06 16:52] paroj commented on #17986
fixed in #17977

[2020-10-06 16:52] #17986 closed

[2020-10-06 18:20] alalek commented on #18525
It should not.
There is `InputArrayOfArrays` for handling that.

Dedicated wrapper should be added with `InputArrayOfArrays` type (probably under a new name).

[2020-10-06 20:18] alalek commented on #18521
Shared builds don't require that.

**Static** builds doesn't support packaging for now.
Try to use build directory instead of `install` location.

[2020-10-06 20:22] alalek commented on #18523
AFAIK, Primary G-API goal is improving performance of whole complex pipelines instead of single operations.

So you can use `cv::parallel_for_()` + `cv::Canny()` for this task.

---

Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-10-06 20:27] alalek commented on #18520
1. `Rect` != `RotatedRect`. They have different design principles (`Rect` doesn't include right/bottom pixels)
2. `RotatedRect` initializer format is `(center, size, angle)`.
3. `[3, 3]` belongs to both rectangles. `INTERSECT_PARTIAL` (=1) is valid too.

[2020-10-06 20:33] #18152 closed

[2020-10-06 21:20] kamarshi commented on #18502
Is there an update?  Please let me know if I can provide any additional info.

Vijay

[2020-10-06 21:59] alalek commented on #18502
Python 3.8 breaks DLLs searching process (google for `os.add_dll_directory`).
Did you tried Python 3.7?

BTW, don't expect good performance results from OpenCV in such configurations (CPU resources may be oversubscribed)

As a workaround you may try to disable loading of `cv2` from the main task. Import 'cv2' by workers only.

[2020-10-06 22:12] Manouchehri commented on #17496
There's more failures on 8.0.4 it seems:

[code]

[2020-10-07 01:22] #18324 closed

[2020-10-07 02:34] JimXu1989 opened #18528 "Cmake cannot find CUDA when I build my opencv from source"
##### System information (version)

- OpenCV => :4.4:
- Operating System / Platform => :ubuntu:
- Compiler => :ubuntu default:

##### Detailed description

<I want to build opencv 4.4 with cuda on ubuntu 18.04, while, when I cmake, it shows that:
"CMake Warning at cmake/OpenCVFindLibsPerf.cmake:45 (message):
  OpenCV is not able to find/configure CUDA SDK (required by WITH_CUDA).

  CUDA support w

[2020-10-07 02:42] JimXu1989 commented on #18528
Is ubuntu default compiler 64 bits?
When I choose 32 bits compiler in windows, it shows the same error

[2020-10-07 04:38] mmoerdijk commented on #18520
Sorry you are completely right, if messed up with making the python code to demonstrate.

I updated the code and if the rectangle is of zero size the the problem does still occur.

[2020-10-07 05:05] YashasSamaga commented on #17496
@Manouchehri What device are you using?

[2020-10-07 07:24] pwnorbitals commented on #7958
If this issue cannot reproduce with recent builds, I suggest we can close this issue

[2020-10-07 08:14] elfsonix opened #18529 "Can't install OpenCV for Python3.8 on RaspberryPi"
- OpenCV => 4.4
- Operating System / Platform =>  Raspberry Pi OS (32-bit) Lite (August 2020 version)

I'm trying to install OpenCV for Python3.8 following this tutorial https://docs.opencv.org/master/d2/de6/tutorial_py_setup_in_ubuntu.html but it doesn't seem to find Python3.8 even though I have it installed at /usr/local.

How can I fix this?

[2020-10-07 08:21] Zumbalamambo opened #18530 "Unable to install from the latest source"
##### System information (version)

- OpenCV => latest
- Operating System / Platform => Mint Tara (Ubuntu)

##### Detailed description
It throws the following error

[code]

How can I fix this?

##### Steps to reproduce

`make`

[2020-10-07 08:49] dmatveev commented on #18373
@TolyaTalamanov can you please have a look on this RMat issue?

[2020-10-07 09:04] kamarshi commented on #18502
Hello,

Thank you for pointing me at the issue.  I tried adding the directory path for opencv dlls like this:

with os.add_dll_directory(<absolute_path_of_opencv_dlls>):
    import cv2

This way of invoking cv2 module again works in main code, fails in spawned worker process.

I also ran dlldiag executable on  C:\Program Files\Python38\Lib\site-packages\cv2\python-3.8\cv2.cp38-win_amd64.pyd

It wa

[2020-10-07 12:07] TolyaTalamanov commented on #18523
@subhamvs Hi, you should call `apply` for every input image (`cv::Mat` )separately.
FYI in case you want to process video you can use `streaming`: https://github.com/opencv/opencv/blob/master/modules/gapi/test/streaming/gapi_streaming_tests.cpp#L166

[2020-10-07 13:56] #18472 closed

[2020-10-07 13:57] #18392 closed

[2020-10-07 14:16] aspsto commented on #18120
Thank you very much for your answer. It also solved my problem.

[2020-10-07 14:50] mpheng666 commented on #15533
I have the same issue while running opencv code on d435i as well, normal logitech camera works fine for me

[2020-10-07 15:08] alalek commented on #15533
RGBD cameras are usually handled using own APIs.
Some details are here: https://docs.opencv.org/master/db/d08/tutorial_intelperc.html
(special build of OpenCV may be required)

Please add dump of `v4l2-ctl --list-formats-ext` command.

[2020-10-07 21:54] kamarshi commented on #18502
Hello,

I now have a better understanding of the issue.  Basically:
1.  Global import of cv2 will not work
2.  Worker task needs to import cv2 "inline" before using the code
3.  Main launcher function can also import cv2 inline, but it will only work if this is done after spawning worker tasks.

Please see attached updated example code.  This works.  But this is severely limiting the scope of my s

[2020-10-07 23:45] Darshan-20310597 commented on #7343
Try the same on Jupyter Notebook? It hangs

[2020-10-08 05:06] dkurt commented on #18529
Do you build OpenCV from source? If so, please take a look at https://github.com/opencv/opencv/blob/master/.github/workflows/arm64-build-checks.yml (example for aarch64 but for armhf it's the same).

[2020-10-08 06:26] alalek opened #18537 "Documentation: eliminate doxygen warnings"
Doxygen emits warnings for configurations without opencv_contrib.

[Nightly build](http://pullrequest.opencv.org/buildbot/builders/master_docs-lin64/builds/11314)

relates #18195
similar fix #12656

[2020-10-08 08:44] alalek opened #18538 "build: CPU runtime dispatching may not work properly with xcodebuild"
Incorrect implementations of symbols may be exported in binary files (e.g, AVX instead of baseline SSE). Application may crash on SSE-only machines.
Caused by reordering of object files for linker by `xcodebuild` tool.

Workarounds:
- don't use `-GXcode` generator ("Unix Makefiles" or "Ninja" should work)
- disable runtime dispatching for your build with xcodebuild. For better performance, use `-D

[2020-10-08 09:08] elfsonix commented on #18529
@dkurt

Thanks for answearing.
Yes, I'm building from source. I'm a little bit of a noob, could you explain how to use the link that you provided?

I realized that maybe console output may by helpful (At the bottom, under Python 3 python3.7 is listed, and python3.8 isnt even though it is installed at usr/local/bin/python3.8)

`$ cmake ../
-- The CXX compiler identification is GNU 8.3.0
-- The C co

[2020-10-08 09:08] mmontazerian opened #18540 "cv2.error: OpenCV(4.2.0) /Users/travis/build/skvark/opencv-python/opencv/modules/highgui/src/window_QT.cpp:714: error: (-27:Null pointer) NULL window handler in function 'cvSetMouseCallback'"
Hello Guys,

I hope you are doing well,

Project; https://github.com/ankesh007/Body-Measurement-using-Computer-Vision

After running the following command
python code2.py -i1 <path to Image1> -i2 <path to Image2> -i3 <path to Image3> -a <Correction_mode>

I will get this error;
**cv2.error: OpenCV(4.2.0) /Users/travis/build/skvark/opencv-python/opencv/modules/highgui/src/window_QT.cpp:714: error:

[2020-10-08 09:57] dkurt commented on #18529
@elfsonix, check default python version: `python3 -c "import sys; print(sys.version)"`

Seems like it's not a bug - try to configure build properly.

[2020-10-08 11:18] neilyoung opened #18541 "Undefined symbols for architecture x86_64: "_jpeg_default_qtables""
##### System information (version)

- OpenCV => 3.4.11
- Operating System / Platform => macOS Catalina 10.15.7
- Compiler =>

##### Detailed description

I recently have updated my mac to 10.15.7. I also made a `brew update`.

I'm able to compile and run OpenCV 3.4.1 from source. At runtime it crashes in a function related to JPEG compression

[code]

I was downloading 3.4.11 sources and tried the

[2020-10-08 11:55] neilyoung commented on #18541
Found

set(JPEG_LIB_VERSION 62)

in libjpeg-turbo/CMakeList.txt

Set it to

set(JPEG_LIB_VERSION 70)

experimentally.

Now I'm over the link problem, since jpeg_default_qtables is compiled now. To be investigated..

[code]

[2020-10-08 14:41] sindkarhm opened #18543 "openCV build fails at opencv_cudafilters"
##### System information (version)

##### Detailed description
I am trying to install opencv 4.3.0 on Ubuntu 20.04 LTS with CUDA 11.0 and cuDNN 8.0.3 support but it fails when I build using make -j12. Getting below error:
[ 61%] Building CXX object modules/cudafilters/CMakeFiles/opencv_cudafilters.dir/src/filtering.cpp.o
[ 61%] Linking CXX static library …/…/lib/libopencv_cudafilters.a
**[ 61%] Bu

[2020-10-08 15:23] #18537 closed

[2020-10-08 15:46] TieSKey commented on #16110
Ok, retested the same test code as above with the master branch (4.5.x), results are as follows:

During the process GPU activity remains near 0% while CPU activity stays at an stable 97-99%.
(Even running 100 iterations of each item adding another for loop in "runMatcher".

[2020-10-08 15:49] #18540 closed

[2020-10-08 16:53] neilyoung commented on #18541
No, doesn't compile on macOS 10.15.7.

This time it had problems with some test cases...

[code]

Well, my make is pretty straight forward:

[code]

What could go wrong?

[2020-10-08 16:54] neilyoung commented on #18541
Well, as long as it is `incomplete question (invalid tracker) labels 6 hours ago` then rest in peace together...

[2020-10-08 18:44] alalek commented on #16632
`Mat + Scalar` should be used instead of `Mat + Vec` to modify matrix values.

[2020-10-08 18:44] #16632 closed

[2020-10-08 18:55] alalek commented on #18373
Ping, red valgrind build is release showstopper.

[2020-10-08 19:46] alalek opened #18544 "G-API: unable to run tests with OpenVINO 2021.1"
Configuration: Ubuntu 20.04 + OV 2021.1

Unable to launch `opencv_test_gapi`:

[code]

Demangled name is `cv::gapi::s11n::operator>>(cv::gapi::s11n::IIStream&, cv::RMat&)`

---

There is mess with OpenCV libraries from OpenVINO:

[code]

[2020-10-08 22:11] #18544 closed

[2020-10-09 03:26] mtfrctl opened #18546 "Mat conversions for macOS(AppKit)"
##### System information (version)

- OpenCV => latest
- Operating System / Platform => iOS/macOS
- Compiler => Xcode

##### Detailed description

A conversion method between Mat and UIImage is provided for iOS (UIKit), but it does not exist for macOS (AppKit).
I create a PR to solve this.

[2020-10-09 04:48] diliprc96 commented on #15943
Hi @mungaip @dkurt

I am facing the same issue. I trained a SSD MobileNet v2 from a pretrained model. and generated the pbtxt file from tf_text_graph_ssd.py script. I have performed this many times in my system and was able to run inference.

I used a different machine now. and stuck with this. please get me through.

Also let me know how to check if pre-trained model is already quantized. I am un

[2020-10-09 06:24] wstarrysky opened #18548 "关于OpenCV4.4中的createimage无法使用的问题"
#......................................#
import cv2

OPCV_PATH = r"C:\Users\starry_sky\AppData\Roaming\Python\Python37\site-packages\opencv_python-4.4.0.44.dist-info"

def findface(image):
    # 人脸识别，获取脸在图像中的坐标
    grayscale = cv2.CreateImage((image.width, image.height), 8, 1)
    cv2.cvtColor(image, grayscale, cv2.CV_BGR2GRAY)
    cascade = cv2.LOAD(OPVC_PATH + "/data/haarcascades/haarcascade/haa

[2020-10-09 07:02] BlueHeart0621 commented on #18528
I also encounter this error :( .  I solve all other dependencies but it still cannot work, and `nvcc -V` is also show that i have install CUDA. This strange error really make me exhausted.

[2020-10-09 07:46] Alpang54 opened #18549 "cv2.imencode and cv2.imdecode not working as expected"
Python version: Python 3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)] on win32
opencv version: opencv-python          4.4.0.42

cv2 imencode and cv2 imdecode does not give back the same string. Images do not have any noticeable difference, but discrepancies arise when using the images for training/testing

import cv2
import numpy as np

#Read any image
img=cv2.imread(

[2020-10-09 08:07] heiheiya commented on #18390
@berak @smbz @alalek @aitikgupta Now, I got a error at net.forward() use LSTM pb model
cv2.error: OpenCV(4.4.0) C:\Users\appveyor\AppData\Local\Temp\1\pip-req-build-hfoi92lm\opencv\modules\dnn\src\dnn.cpp:604: error: (-2:Unspecified error) Can't create layer "lstm/Shape_1" of type "Shape" in function 'cv::dnn::dnn4_v20200609::LayerData::getLayerInstance'
[lstm.zip](https://github.com/opencv/opencv

[2020-10-09 08:24] alalek commented on #18481
I would suggest to extend already existed [modules/video/include/opencv2/video/tracking.hpp](https://github.com/opencv/opencv/blob/master/modules/video/include/opencv2/video/tracking.hpp) instead of creating dedicated module.

Pros:
- we are going to move only relatively small representative subset of algorithms, most of them should left in opencv_contrib.
- avoid possible dependency loop between

[2020-10-09 09:26] pwnorbitals commented on #18467
Hi @Barath19, Github issue are mainly used to track implementation problems and other source code bugs. For technical questions, please head for https://answers.opencv.org/questions/, where knowledgeable people will be able to help you :)

[2020-10-09 09:50] liuzhihui2046 commented on #18541
Have you solved it? I ran into the same problem?

[2020-10-09 09:52] neilyoung commented on #18541
@liuzhihui2046 Yes, reported here https://github.com/microsoft/vcpkg/issues/13766#issuecomment-706013096

[2020-10-09 10:00] TolyaTalamanov commented on #18373
Fixed by @rgarnov https://github.com/opencv/opencv/pull/18339

[2020-10-09 10:06] liuzhihui2046 commented on #18541
@neilyoung  it works!!! thank you very much! it took me a whole day！！

[2020-10-09 10:06] #18373 closed

[2020-10-09 10:53] liuzhihui2046 commented on #18541
@neilyoung
Although this was compiled and installed successfully, there was a problem when reading a ".jpg" image.the image data is empty. your image  can be read normally?

[2020-10-09 11:03] neilyoung commented on #18541
Yes I can. Did you `sudo make install` after build?

Here is my test code, and runs.

[code]

[code]

[2020-10-09 11:19] alalek commented on #18541
It is NOT necessary to run apps, especially with `sudo`.
(avoid using `make install` until you have robust process how to uninstall that)

[2020-10-09 11:21] neilyoung commented on #18541
??
I wrote this app test app and of course I don't run it as sudo.

`sudo make install` is the last step of the OpenCV build after make in order to copy the dylibs to a common place...

[2020-10-09 12:28] JimXu1989 commented on #18528
maybe we could try this:
https://www.pyimagesearch.com/2019/12/09/how-to-install-tensorflow-2-0-on-ubuntu/

install cuda 10.0 for a try

[2020-10-09 13:20] JimXu1989 commented on #18528
cuda 10.2 works well in jetson devices, which is part of jetpack, there should be something wrong when installing cuda.

[2020-10-09 13:48] damonmo opened #18553 "Python cv2.imshow does not work for GpuMat inputs"
##### System information (version)

- OpenCV => 4.4.0
- Operating System / Platform => Linux x86_64 (Ubuntu 18.04)
- Python version: 3.6

##### Detailed description

According to the [documentation](https://docs.opencv.org/4.4.0/d7/dfc/group__highgui.html#ga453d42fe4cb60e5723281a89973ee563), if a window was created with OpenGL support, ogl::Buffer , ogl::Texture2D and cuda::GpuMat are supported as

[2020-10-09 19:28] phlfm commented on #17050
Is there a follow up to this issue? Access to the accumulator is one of the most useful things in Hough's transform and google is littered with people asking how to access it.

[2020-10-09 22:10] #17964 closed

[2020-10-09 22:11] #17945 closed

[2020-10-10 02:23] Watesoyan opened #18558 "A typo in source code of Edge-aware demosaicing."
https://github.com/opencv/opencv/blob/1b443219ed181124978ed8627fb2da8db42765ab/modules/imgproc/src/demosaicing.cpp#L1587
The code
`D[2] = (S[-sstep-1] + S[-sstep+1] + S[sstep-1] + S[sstep+1]) >> 2;`
should be modifed to
`D[2] = (S[-sstep-1] + S[-sstep+1] + S[sstep-1] + S[sstep+1] + 2) >> 2;`

[2020-10-10 09:04] chengyh23 commented on #9637
`/usr/lib/jvm$ ls -l
总用量 4
lrwxrwxrwx 1 root root   24 2月  26  2016 default-java -> java-1.8.0-openjdk-amd64
lrwxrwxrwx 1 root root   20 4月  16 06:27 java-1.8.0-openjdk-amd64 -> java-8-openjdk-amd64
drwxr-xr-x 5 root root 4096 6月  27 17:45 java-8-openjdk-amd64
`

ln -s jdk1.8.0_251/ default-java