[2019-12-16 15:50] sgjava commented on #8683
Actually it defaults to master, so I think current build is 4.2.0-dev. You can change the install script to use whatever branch you want though. The Java bindings should match the OpenCV version installed. But in essence what you are describing should work. If you'd like to discuss further create issue on my project.

[2019-12-16 17:26] sturkmen72 commented on #16168
[code]
something like this seems faster accordint to test code below;
btw what about using `InputArray` , `OutputArray` ?
[code]

[2019-12-16 17:52] fbabian opened #16175 "CUDA: minmax causes shared memory leak with multiple GPU and driver version 441.22"
##### System information (version)

- OpenCV => 4.1.0
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017
- Gpu Model-> RTX 2080 - 2 and 3 Devices tested

##### Detailed description

Running minmax on multiple gpus will cause GPU shared memory allocation to increase until out of memory error occurs.
The problem occurs on driver version 441.22, but not on driver version

[2019-12-16 18:48] alalek commented on #16175
Not sure that this can be fixed by OpenCV. Did you contact with NVIDIA? (https://devtalk.nvidia.com/)

[2019-12-16 18:50] rooivalk-lang opened #16176 "cv2.error: OpenCV(4.1.2) C:\projects\opencv-python\opencv\modules"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

[2019-12-16 19:41] #13354 closed

[2019-12-16 19:48] deltatree opened #16178 "opencv-4.1.2-vc14_vc15.exe + Windows 2012 => java: Can't find dependent libraries / MFPlat.DLL is missing"
Hi,

I have to run opencv under Windows 2012 but I'm getting following errors:

With java using opencv_java412.dll -> Can't find dependent libraries
With running the binary opencv_version_win32.exe -> MFPlat.DLL is missing

How I can fix this?

I'm using the precompiled version for windows - from here: https://opencv.org/releases/ (https://sourceforge.net/projects/opencvlibrary/files/4.1.2/opencv-

[2019-12-16 20:00] alalek commented on #16178
It is server version of Windows 8. We provide binaries build on up-to-date Windows 10 machines, so some incompatibilities may occur.
Reliable way is to rebuild OpenCV from sources on your target platform (or compatible configuration).

You may try something from here (if it is applicable):
- https://social.technet.microsoft.com/Forums/en-US/f7cac36d-cf58-40e8-8509-d36c10ee2a8c/dll-files-missing-in

[2019-12-16 20:17] deltatree commented on #16178
I will rebuild OpenCV from sources - thank you for the quick answer.

[2019-12-16 20:17] #16178 closed

[2019-12-16 23:16] fbabian commented on #16175
Good suggestion, I will do that. Thanks

[2019-12-17 06:55] HackerJLY opened #16180 "how can i put source image to destination image with source picture's original color using seamlessClone function"
hello,
i want to put source image to destination image using seamlessClone function, but the color of source image changed.
i need the source image have the original color.
how can i do it?
how can i modify the seamlessClone function?
thanks!
------------------------------------------------------------------------------------
sky with plane
![sky-with-plane](https://user-images.githubusercontent.c

[2019-12-17 07:24] oras opened #16181 "OpenCV 4.1.2 OpenCL SVM Build Error"
##### System information (version)
- OpenCV => 4.1.2
- Operating System / Platform => Android 64 Bit
- Compiler => C++ Compiler:                C:/android-ndk-r17c-windows-x86_64/android-ndk-r17c/toolchains/llvm/prebuilt/windows-x86_64/bin/clang++.exe  (ver 3.8)

Hi,

 trying to build Opencv 4.1.2 include OpenCL SVM for:
Qualcomm's MSM8996 GPU (Qualcomm Adreno 530)

https://www.khronos.org/conform

[2019-12-17 07:28] flybirdinsky commented on #16154
Attach my patcheds for this problem. Add a release funciton in cap_interface.hpp to release resource
'''cpp
diff --git a/opencv/modules/videoio/src/cap.cpp b/opencv/modules/videoio/src/cap.cpp
old mode 100644
new mode 100755
index 0aab7987..76a40abf
--- a/opencv/modules/videoio/src/cap.cpp
+++ b/opencv/modules/videoio/src/cap.cpp
@@ -73,7 +73,7 @@ VideoCapture::VideoCapture(int index, int apiPrefe

[2019-12-17 07:37] flybirdinsky commented on #16154
Attach my patches for this issue here. Hope it useful. This patch add an release function in cap_interface.hpp, and it may have thread competetion potential risk when release and assign the same VideoCapture instance in different thread at the same time.
[code]

[2019-12-17 07:39] alalek commented on #16154
You can't share OpenCV one object between threads in general.
Exception is storage containers (`cv::Mat`, `cv::UMat`).

Documentation says:

https://docs.opencv.org/3.4/d1/dfb/intro.html

[2019-12-17 07:39] #16154 closed

[2019-12-17 09:45] VasylVaskivskyi opened #16182 "Change bgsegm documentation"
##### System information (version)

- OpenCV => opencv-contrib-python
- Operating System / Platform => Windows 10
- Compiler => precompiled pip version

##### Detailed description
In OpenCV path to methods in bgsegm class is different from what stated in documentation.
For example, in documentation it is shown like this:
`gmask  =  cv.bgsegm_BackgroundSubtractorCNT.apply( image[, fgmask[, learning

[2019-12-17 09:57] simsicon opened #16183 "Memory leak on K8S"
##### System information (version)

- OpenCV => 4.1.0.25
- Operating System / Platform => ubuntu 18.04 image on k8s (host: centos 7.6)
- Docker version 19.03.4, build 9013bf583a
- K8S v1.15.3
- Compiler => installed with python pip

##### Detailed description

I have a tornado web service container using `cv2.imdecode`, and it causes memory leaking when I deployed the image to k8s, but it would no

[2019-12-17 09:57] VasylVaskivskyi commented on #16182
I found wrong entry point.
I used this:
https://docs.opencv.org/4.1.2/de/dca/classcv_1_1bgsegm_1_1BackgroundSubtractorCNT.html
Instead I should have used this:
https://docs.opencv.org/4.1.2/d2/d55/group__bgsegm.html

[2019-12-17 09:57] #16182 closed

[2019-12-17 10:43] alalek commented on #16183
1. Try to disable OpenCV threading `OPENCV_FOR_THREADS_NUM=1`.
2. Avoid using of Python "multiprocessing". It uses `fork()` which breaks many parts of library (forked state is not consistent with broken synchronization primitives).

[2019-12-17 10:44] mshabunin commented on #16183
OpenCV creates thread pool and keeps it until the program is closed, it does not mean something is leaking. Number of threads can not be correctly detected in k8s or docker container, you can limit this number manually by calling `cv2.setNumThreads()` function.

BTW, my docker container prints similar information (no k8s):
[code]

[2019-12-17 10:51] mshabunin commented on #16181
Please add more information about your configuration: cmake arguments, cmake output.

[2019-12-17 11:03] ColinEberhardt commented on #16162
The coordinates are stored in the `cv.MatVector`, which is a wrapper around the underlying C++ representation of the data.

You can obtain its size as follows:

[code]
In this case it is a 1 dimensional array with 3 datapoints, i.e. a polygon with three vertices. You can inspect the underlying data as follows:

[code]
You'll notice that this is more than the 6 points you'd expect for 3 vertices. T

[2019-12-17 11:11] alalek commented on #16181
SVM is in experimental status (and on hold for the last 5+ years).

Its enabling doesn't provide performance benefits over regular `clEnqueueMapBuffer()` calls (by results from 2014) - so SVM feature is kept disabled by default.

[2019-12-17 11:43] Razor1O9 commented on #16155
I've updated to Tensorflow 1.14 with the same result. As soon as I try to read the Model in OpenCV 4.1.1 I either get the **nodesMapIt != nodesMap.end() in function sortByExecutionOrder** exception (when I only use the pb file) or **Assertion failed in** **function 'addConstNodes'** exception (when I use the pb and pbtext file).

However, I can predict the model without any issues when I use the t

[2019-12-17 12:04] #14961 closed

[2019-12-17 12:39] dkurt commented on #16155
Can you please share source code of this model? From which project it is generated.

[2019-12-17 12:59] Razor1O9 commented on #16155
Greetings and thanks for the response.
I've used the Tensorpack framework to train my model.
It can be found here: https://github.com/tensorpack/tensorpack

**### I generated the unfrozen.pb file with the following source code:**
[code]
___________________________________________

**### The frozen.pb and frozen.pbtx are generated with this source code:**

[code]

__________________________________

[2019-12-17 13:09] Razor1O9 commented on #16155
I've added the tensorflow modelfiles (checkpoint, index etc.) to the mega link:
https://mega.nz/fm/ZwMQ3aAK

[2019-12-17 13:47] oras commented on #16181
Hi thanks for fast replay,

I need it for stress work loads on my Adreno530 GPU.

I understand that no benefits like SURF algorithm  can I get ?

[2019-12-17 14:04] alalek commented on #16181
It depends on target platform and implementation of OpenCL runtime.

---

Do you need Java API of OpenCV? If no, then try to disable that: `-DBUILD_opencv_java=OFF` or `-DBUILD_JAVA=OFF`

---

Can't reproduce problem on **master** by adding `-DWITH_OPENCL_SVM=ON` into regular Android builds (NDK 19).

[2019-12-17 14:29] oras commented on #16181
I am using the Android platform, i think that I need it

[2019-12-17 14:31] oras commented on #16181
As Qualcomm says Adreno530 support SVM with OpenCL 2.0

[2019-12-17 15:07] arnthorg opened #16185 "read of fourth camera fails when using python3 but succeedes when using python2 on raspbian"
##### System information (version)

- OpenCV => 3.2.0 and 4.1.2
- Operating System / Platform => raspbian Linux raspberrypi 4.19.75-v7l+ #1270 SMP Tue Sep 24 18:51:41 BST 2019 armv7l GNU       /Linux
- Compiler => gcc (Raspbian 8.3.0-6+rpi1) 8.3.0
- Python 2.7.16 (default, Oct 10 2019, 22:02:15)
- Python 3.7.3 (default, Apr  3 2019, 05:39:12)
- cameras are IMX290

##### Detailed description

I hav

[2019-12-17 15:27] SQ-Duan opened #16186 "There seems to be a bug in modules/calib3d/src/stereobm.cpp at line 685."
##### System information (version)

- OpenCV => 4.1.2
- Operating System / Platform => ubuntu 16.04 64 bit
- Compiler => gcc 5.4.0

##### Detailed description

There may be a bug in modules/calib3d/src/stereobm.cpp at line 685.

At line 1161 `cost` is defined as
[code]
while at line 685 :
[code]
Shoud not it be `short* costptr`?

[2019-12-17 15:42] alalek commented on #16185
You are testing different OpenCV versions.

MJPEG encoding should be forced separately to avoid bandwidth issue of USB controllers:
- https://github.com/opencv/opencv/pull/9479#issuecomment-325466633

---

Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2019-12-17 16:28] arnthorg commented on #16185
[code]

This works on openCV 4.1.2

Thank you very much @alalek

[2019-12-17 16:28] #16185 closed

[2019-12-17 16:46] martinvranka opened #16187 "HoughCircles accuracy decreased in opencv 4.1.1 after upgrade from 3.1.0"
##### System information (version)

- OpenCV => 4.1.1
- Operating System / Platform => Windows 64 Bit
- Compiler =>Visual Studio 2019

##### Detailed description

The HoughCircles() from version 3.1.0 was used to detect the circles in 8bit gray value images with a resolution of 320x240 pixel. After an upgrade to version 4.1.1 the HoughCircles() detection accuraccy - the euclidean distance between

[2019-12-17 20:24] alalek commented on #16187
Why do you think that 3.1.0 doesn't contain bugs?

Why?

---

Missing required data to reproduce problem. Reproducer is not complete.

[2019-12-18 01:33] simsicon commented on #16183
Thanks for your information, I will try to test following your advises.

However, I think it remains a thread pool with a limited threads is okay, but in my situation, the number of threads could go up to thousands on K8S after several minutes stress test, which cost a lot of memory and is not normal in my opinion.

[2019-12-18 03:17] lucasavila00 commented on #15643
I'm facing the same issue.
It wont work on Safari 12 but works fine elsewhere.

[2019-12-18 04:23] saskatchewancatch commented on #13551
@kikuchitakuro Please see PR #16188 . Other projects have made this change and this should help. I haven't tested it within OpenCV. Any chance you'd be able to try it out and see if the image reader you use reads hdr files with this change as a sanity test?

[2019-12-18 07:10] oras commented on #16181
I will try with NDK 19 & update

[2019-12-18 08:31] yakambar07 commented on #10516
please give me the code because i am getting error:
module object has no attribute face

[2019-12-18 09:52] martinvranka commented on #16187
Hello Alalalek,

my images are upside down, therefore i have to flip them. And as I wrote, with 3.1.0 the circles are found. Let me upload some test images, i just got authorized to show them.

[2019-12-18 09:56] alalek commented on #16187
It would be nice. Please add them into this issue (you can edit initial description of the issue).

[2019-12-18 10:09] martinvranka commented on #16187
Hello alalek,

the test data are there. I'm not sure if you can see the text files which are neccessary to provide the parameters.

[2019-12-18 13:38] YashasSamaga commented on #16074
@peterdn1 have you solved the issue?

[2019-12-18 16:27] Meriky commented on #15645
I have this problem too, but I don't have a developer account
and I finally solved this by removing the default git of mac and using git from homebrew
[code]

[2019-12-18 19:36] CiscoTalos commented on #15857
Hello,

If you have an exact date for the release at this time, we will make note and provide an additional extension.  You noted before Dec 25, 2019, so it would help to know the exact date.

[2019-12-18 21:51] alalek opened #16192 "imgproc: resize(INTER_LANCZOS4) may operate with invalid coefficients"
With full zero / NaN rows or columns.

Reproducer:
[code]

Error message:
[code]

[2019-12-19 00:08] catree commented on #15992
Thanks for the valuable information.

I think I will open another thread for suggestions about camera calibration tutorial improvement. I put here some information I found interesting and that could help other people.

---

Possible issue with circle grid pattern in the OpenCV implementation is that it seems it does not take into account the perspective bias when locating the circle/ellipse centro

[2019-12-19 02:42] lincccc opened #16197 "Wrong image pyramid generated by ORB feature, if FirstLevel > 0, and crash if FirstLevel >= 3"
##### System information (version)

- OpenCV => 3.4.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description

ORB feature generate wrong image pyramid if set firstLevel > 0. For example firstLevel = 2, create imagePyramid as following image 72 *72. The upscaled image overlaps others.

![aaaa](https://user-images.githubusercontent.com/1185380/71

[2019-12-19 03:56] JJW152 opened #16198 "imshow() High DPI toolbar option"
- OpenCV => 4.1.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Python 3.7.5, Anaconda Dist.

An admittedly minor issue, but I figured I would report it and see if there was any feedback. I've been working on a Surface Pro 6 with a high DPI screen. When I display an image with imshow, there is no high DPI adjustment for the toolbar in the window. Regardless of the size of the image

[2019-12-19 06:55] GuoQuanhao commented on #10572
how to set?

[2019-12-19 09:15] tompollok commented on #16198
qt::AA_EnableHighDpiScaling

Enables high-DPI scaling in Qt on supported platforms (see also High DPI Displays). Supported platforms are X11, Windows and Android. Enabling makes Qt scale the main (device independent) coordinate system according to display scale factors provided by the operating system. This corresponds to setting the QT_AUTO_SCREEN​_SCALE_FACTOR environment variable to 1. This att

[2019-12-19 11:11] Razor1O9 commented on #16155
I've saved my checkpoint as a saved-model and froze + optimized that model with the tensorflow scripts but yielded the same results as in the initial post. **The Tensorflow-Version is 1.15**.

I've now tried:
1- Export the checkpoint as a graph.pb
2- Export the checkpoint in saved-model format

3-  readNetFromTensorflow with either (graph.pb or saved-model.pb) // unfrozen
4 - readNetFromTensorflow

[2019-12-19 11:37] Michael07220823 commented on #13848
I try the two kind of opencv-python and opencv-contrib-python, and two kind version can run successful.

Enviorment:
Windows 10 Pro
VSCode: 1.41.0
python: 3.6.6
opencv-python: 4.0.0.21、4.1.2.30
opencv-contrib-python: 4.0.0.21、4.1.2.30

Command:
pip install --force-reinstall opencv-contrib-python==4.1.2.30
pip install --no-cache --force-reinstall opencv-contrib-python==4.0.0.21

[2019-12-19 11:57] mshabunin commented on #16183
Could you please provide this stress test?

[2019-12-19 14:05] r0l1 commented on #15534
I am having the same problem with mobilenetv3 classification models.

[2019-12-19 14:36] #16007 closed

[2019-12-19 14:38] #16051 closed

[2019-12-19 14:39] #13551 closed

[2019-12-19 14:39] #16192 closed

[2019-12-19 14:40] #13574 closed

[2019-12-19 14:40] #15578 closed

[2019-12-19 14:40] #5296 closed

[2019-12-19 15:36] JamesOldfield opened #16203 "imdecode ignores IMREAD_REDUCED_* flags"
Passing any of the `IMREAD_REDUCED_` flags, e.g. `IMREAD_REDUCED_GRAYSCALE_2`, to the flags parameter of `imdecode()` has no effect. I notice the `imread_()` function includes this code:

    int scale_denom = 1;
    if( flags > IMREAD_LOAD_GDAL )
    {
    if( flags & IMREAD_REDUCED_GRAYSCALE_2 )
        scale_denom = 2;
    else if( flags & IMREAD_REDUCED_GRAYSCALE_4 )
        scale_denom = 4;

[2019-12-19 15:42] dkurt commented on #15534
@r0l1, As a workaround you may try to apply this patch:

[code]

Please note that this is a workaround and may break other networks.

[2019-12-19 15:42] berak opened #16204 "dnn: human keypoint onnx model seems broken"
##### System information (version)
- OpenCV => 4.1.2
- Operating System / Platform => Windows 64 Bit / ubuntu18
- Compiler => mingw64 8.3 / python

the [lightweight-human-pose model in opencv_extra](https://github.com/opencv/opencv_extra/blob/4fdb88f83fe39f969e9945f531045a5a0f51b827/testdata/dnn/download_models.py#L783-L787)  looks broken, the last (output) layer:

![Clipboard01](https://user-imag

[2019-12-19 15:46] dkurt commented on #16204
Can you please provide some details?

[2019-12-19 15:48] berak commented on #16204
still editing, heh ;)

[2019-12-19 16:20] JJW152 commented on #16198
Yeah, I discovered this last night. Works like a charm.

Thanks!

Closing this issue.

[2019-12-19 16:20] #16198 closed

[2019-12-19 16:20] JJW152 commented on #16198
Issue can be solved via PyQT a parameter change.

[2019-12-19 16:45] r0l1 commented on #15534
@dkurt thank you for the hint! However my models are ONNX models trained with mxnet. I'll have a look at the onnx importer.

The error logs are slightly different:
[code]

[2019-12-19 20:54] ansam86 opened #16206 "hi i still have import cv2 problem not solved"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

[2019-12-19 20:59] #16206 closed

[2019-12-20 06:03] garybradski opened #16207 "OE-30 "Color Calibration" Discussion"
Please see https://github.com/opencv/opencv/wiki/OE-30.-Color-Calibration
I think we need to:

- Create a function that will robustly find common MacBeth charts (allowing for partial occlusion of hands holding the corners) and their homography
   - [This one](https://www.bhphotovideo.com/c/product/1014557-REG/dgk_color_tools_dkk_set_of_2_dkk_poly_bag_2.html/?ap=y&ap=y&smp=y&smp=y&lsft=BI%3A514&gcl

[2019-12-20 09:14] masterchef8 commented on #9084
Hi,
I can confirm that it works on my PC* too. Thanks for the code ! But i have to declare VideoCapture as pointer otherwise it does not work with a reference... Weird.

*Windows 10, OpenCV 4.1.2 (installed with windows installer provided by OpenCV)

[2019-12-20 09:27] pablogeek opened #16209 "Support OpenCV Swift for catalina"
At the moment we are supporting latest version of Xcode in iOS, but would be really good to support macOS catalina as it is already compatible with iOS apps

[2019-12-20 12:34] Razor1O9 commented on #16155
**Picture of the config.pbtxt graph:**

<a href='https://postimg.cc/tZ20vxD1' target='_blank'><img src='https://i.postimg.cc/tZ20vxD1/model-Config.png' border='0' alt='model-Config'/></a>

[2019-12-20 13:33] Raahul-Singh commented on #16168
Hi @sajarindider, are you still working on this?

[2019-12-20 14:07] VijayaBhatiwal opened #16212 "i am doing project related to hindi handwriting recognisation but facing erroe in application part"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

[2019-12-20 14:09] #16212 closed

[2019-12-20 14:59] sajarindider commented on #16168
Hey @Raahul-Singh, I am still working on this, but feel free to make a PR if you want to.

[2019-12-20 15:02] Razor1O9 commented on #16155
**Update:**
I've tried the **ssd_mobilenet_v1_coco** Model from Model Zoo, which is mentioned in the OpenCV Wiki https://github.com/opencv/opencv/wiki/TensorFlow-Object-Detection-API

This throws the sortByExecutionOrder Exception as well.

**Code:**
String model = 'modelpath/frozen_inference_graph'
Net ub6net = readNetFromTensorflow(model)

[2019-12-20 15:10] aarongreig opened #16214 "Gaussian blur GPU tests not providing correct clBuildProgram flags to pocl"
- OpenCV => commit 545f8a8c933c8fb6b9c230ef8c3dab65a26d20c9 (tip at time of writing)
- Operating System / Platform => Ubuntu18, pocl version string (from `clinfo`) `OpenCL 1.2 pocl 1.1 None+Asserts, LLVM 6.0.0, SPIR, SLEEF, DISTRO, POCL_DEBUG`
- Compiler => gcc 7.4.0

##### Detailed description

relates #15855

A number of gaussian blur GPU tests fail when using the pocl OpenCL 1.2 implementation.

[2019-12-20 15:51] alalek commented on #16214
Could you try to capture messages of failed tests with [this enabled option](https://github.com/opencv/opencv/blame/3.4.9/modules/core/src/ocl.cpp#L73)?
(disable cache through environment `OPENCV_OPENCL_CACHE_ENABLE=0`)

[2019-12-20 16:11] aarongreig commented on #16214
the output for one of the tests after enabling that option and clearing/disabling the cache is:
[code]
all the tests that fail have a similar output to this, I can paste the whole thing if you think it would be useful

[2019-12-20 17:02] JanuszL opened #16215 "Broken BGR color conversion utilities in opencv/modules/imgcodecs/src/utils.cpp."
https://github.com/opencv/opencv/commit/058367f34c60d6a843579adce84895f4bc5d31dd#diff-c868f69925dd124c54190546d4843841 break BGR color conversion utilities in opencv/modules/imgcodecs/src/utils.cpp.
Before this commit when swap channels is set to 0 we have a following formula:
rgba[0]*cB + rgba[1]*cG + rgba[2]*cR

As `rgba`, in this case, is really BGRA data it works fine.

After this change:
rgba

[2019-12-21 08:13] #16065 closed

[2019-12-21 08:14] #16064 closed

[2019-12-21 08:14] #16026 closed

[2019-12-21 08:16] #15985 closed

[2019-12-21 08:17] #15921 closed

[2019-12-21 08:18] #15862 closed

[2019-12-21 08:19] dkurt commented on #15862
Closing it unless we have a reproducer (expected behavior in this case)

[2019-12-21 08:21] #15697 closed

[2019-12-21 08:30] dkurt commented on #15668
Hi, @adamgf, thank you for this great contribution! I believe that's what will help more users to dive into computer vision area with positive experience.

Unfortunately we have no channels to promote community projects and the only thing we can help with are recommendations of how to make it better.

At the first sight I think it'd be useful to add tags (topics) for the repository.

[2019-12-21 08:32] dkurt commented on #15668
If you do not mind, let me close this issue as solved.

[2019-12-21 08:32] #15668 closed

[2019-12-21 08:36] #15450 closed

[2019-12-21 08:37] #15415 closed

[2019-12-21 11:41] Tenesh opened #16217 "Detecting coordinate in drawn rectangle and give output"
##### System information (version)
- OpenCV => 2
- Operating System / Platform => Windows 10
- Compiler => Python

##### Detailed description

I am looking to process a video stream from webcam. I am using opencv to capture and display the video. My goal is to segment the video display window into 3 rectangles with specified width and height. When an object is detected in the rectangle then it sho

[2019-12-21 12:48] dkurt commented on #16217
Please use a forum for usage questions: answers.opencv.org. This is a bug tracker and place for feature requests. Thanks!

[2019-12-21 12:48] #16217 closed

[2019-12-21 19:05] capstayn opened #16219 "cv2.so requires openblas even though atlas is chosen"
##### System information (version)

- OpenCV => 3.4.9
- Operating System / Platform => archlinux 64bit
- Compiler => gcc 9.2.0

##### Detailed description

I have just installed opencv from source, with bindings to python3.8. I chose Atlas for BLAS implementation. When compiling the python bindings I saw warnings of the kind

`warning: libopenblas.so.3 not found`

Which sounded weird to me, becaus

[2019-12-21 19:27] capstayn commented on #16219
I just figured out that the problem reside in the numpy package, not in cv2.so. The package of numpy that I have installed needs OpenBLAS (which is in opposition with their policies) and throws that error.

[2019-12-21 19:27] #16219 closed

[2019-12-21 23:49] adamgf commented on #15668
Hi @dkurt I am not really sure that I want to do any more work on this you know?  I mean if people want to use it it is there for them to use.  If other people can take the mantle and continue working on this that would be cool.  I wanted to contribute to open source and I thought this would be a cool thing to contribute but I don't want to keep working on it forever by myself.

[2019-12-21 23:53] saskatchewancatch commented on #16203
For me: in Version 3.4.9, Win32, running this:
[code]

produces:
[code]

Are you using a Jpeg2k file by any chance? I don't sense OpenCV handles rescaling in that format, at least I don't see it handled in `grfmt_jpeg2000.cpp`.

[2019-12-22 23:40] saskatchewancatch commented on #16207
What about the eSFR chart and the metrics it provides? Chromatic aberration, noise level, sharpness.
IMO Macbeth and eSFR based camera metric determination would be superb additions to the computational photography module.

[2019-12-23 08:08] asmorkalov commented on #16168
https://github.com/opencv/opencv/pull/16199

[2019-12-23 12:40] Ape commented on #15757
I can confirm that this has been fixed in OpenCV 4.2.0.

[2019-12-23 13:34] barakooda opened #16224 "docs examples mistake, tutorial_charuco_detection."
https://docs.opencv.org/4.1.1/df/d4a/tutorial_charuco_detection.html

instead:
`cv::aruco::detectMarkers(inputImage, board.dictionary, markerCorners, markerIds, params);`

probably should be :
`cv::aruco::detectMarkers(inputImage, board->dictionary, markerCorners, markerIds, params);`

instead :
`cv::Ptr<cv::aruco::DetectorParameters> params;`

probably should be :
`Ptr<aruco::DetectorParameters>

[2019-12-23 21:31] themronion opened #16227 "Problems with out of focus cpp tutorial"
##### System information (version)
- OpenCV => from 3.3.0 to 4.2.0
- Operating System / Platform => Windows 10
- Compiler => MSVC

##### Detailed description
I tried to use this code located over here: [Out of focus cpp tutorial](https://github.com/opencv/opencv/tree/master/samples/cpp/tutorial_code/ImgProc/out_of_focus_deblur_filter)

And i encountered a problem: while using the same parameters,

[2019-12-24 00:45] VladKarpushin commented on #16227
Dear
 @themronion. Because you should use the original full-size image. Attached

![DSC_0148_edgetape_old](https://user-images.githubusercontent.com/40189112/71386550-3dc02400-2621-11ea-8a51-462006326348.JPG)

[2019-12-24 03:44] dkurt commented on #16227
Check https://github.com/opencv/opencv/pull/12046 for details.

[2019-12-24 03:44] #16227 closed

[2019-12-24 07:31] KNLc commented on #4857
I also encountered the same problem.
The `cv::cvtColor(dst, src, cv::COLOR_BayerRG2RGB)` incorrectly return a BGR image , rather than RGB image.
I'm sure the input image is in the correct BayerRG format because of two things:
1. My camera is set to capture images in BayerRG format
2. The BayerRG2BGR function I wrote works fine

[2019-12-24 09:09] themronion commented on #16227
Oh, i see, thx

[2019-12-24 11:38] alalek commented on #4857
How did you check that?

---

Try latest code from 3.4 branch.

[2019-12-24 11:42] alalek commented on #16203
I believe this report is about `imdecode()` call (not `imread()`).

[2019-12-24 15:21] sturkmen72 commented on #16203
let me check this ( i am the person who add IMREAD_REDUCED_* flags)

[2019-12-24 16:49] tsameema opened #16231 "[error 3] please make sure gcc >= 4.4 g++ >= 4.4 is installed"
I am trying to run a code. For this purpose, I have download that code from [github](https://github.com/kopepod/ADCSF).  Whenerver that code tries to check mexopencv. It shows an error

[error 3] please make sure gcc >= 4.4 g++ >= 4.4 is installed ...

Following is the description of system
Window 10
Visual Studio 2012
Matlab 2017a
opencv 2.4.10
mexopencv (install from your folder LIB)

[2019-12-24 17:20] dkurt commented on #16231
Please transfer issue to https://github.com/kyamagu/mexopencv

[2019-12-24 17:20] #16231 closed

[2019-12-25 10:14] mshabunin commented on #16215
Could you please propose pull request with the fix?

[2019-12-25 10:29] cherichy opened #16233 "Is there any plan to provide API for julia language?"
The python interface of Opencv is very easy to use. But for the Julia community, there has been a lack of an good and complete computer vision library like OpenCV. Currently, if someone want to use OpenCV in julia, he/she can only call it indirectly through PyCall.jl. Several existing warppers for OpenCV have also been obsolete for many years.
Julia has unique advantages in differentiable calculat

[2019-12-25 10:29] xinsuinizhuan opened #16234 "yolov3 CUDA kill time 423ms，not fast, how about it?"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

![图片](https://user-images.githubusercontent.com/40679769/71443119-24fc5f00-2744-11ea-8b36-e00c2c8a06c1.png)
 but my cuda 10.1 cudnn 7.2, and windows10 64, nvida 1060T, opencv compile with the cuda, yolo

[2019-12-25 11:02] amichayfeld commented on #15513
I also faced this issue when tried run onnx model on 32bits android phone

[2019-12-25 11:23] dkurt commented on #16234
Please follow issues template and make it reproducible: add minimal working code example.

[2019-12-25 11:25] dkurt commented on #16233
@cherichy, feel free to format this proposal as evolution request: https://github.com/opencv/opencv/wiki/Evolution-Proposals. Probably, some of the students and mentors of coming [GSoC 2020](https://github.com/opencv/opencv/wiki/GSoC_2020) would be interested in it.

[2019-12-25 11:38] alalek commented on #16234
Run OpenCV performance tests first.
No idea what you are measuring (probably model loading, first frame bootstrap time or you custom pre/post processing).

[2019-12-25 11:38] #16234 closed

[2019-12-25 12:09] NitiKaur commented on #14908
How to retrain it to generate the xml file?

[2019-12-25 13:17] VictoryDong opened #16235 "load onnx model error"
##### System information (version)

- OpenCV => 4.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description
error :
[code]
This is my model structure diagram：[png](https://user-images.githubusercontent.com/11418609/71446108-d1494000-275a-11ea-83c7-7c5847093e31.png)
I can't figure out which node would have no input information.

##### Steps to re

[2019-12-25 19:28] Hariprasad-UP commented on #13848
try this it works for me
write
pip install opencv-contrib-python --user
it will work fine for cv2.face.LBPHFaceRecognizer_create()

thank you.its working

[2019-12-26 01:44] erikaemma opened #16239 "3.4.9 build error with matlab2019b"
Ubuntu 16.04.06, opencv3.4.9 with modules, build with matlab 2019b.
[code]

[2019-12-26 02:56] VictoryDong commented on #16235
debug  information ：
  layer_type=="Mul",(dnn/src/onnx/onnx_importer.cpp,line:694)
  layerParams.type = "Power";,(dnn/src/onnx/onnx_importer.cpp,line:702)
 layer->getMemoryShapes(layerInpShapes, 0, layerOutShapes, layerInternalShapes);((dnn/src/onnx/onnx_importer.cpp,line:993)
-----------------------------------------------------------------------------------------
I infer that this should be a lo

[2019-12-26 08:07] flybirdinsky commented on #16154
Understand your exaplanation. Yes, based on the document, only same method of difference instance can be called in different thread. But it is better to keep consequence between release operatoin and isOpened state. In opencv 3.x series, program can use isOpened method to know the completeness of Mat release operation. That is quite usefull when we register signal handler to process exception such

[2019-12-27 00:51] forestguan commented on #15308
How to solve it?

[2019-12-27 01:40] koresaram777 opened #16244 "How to apply Canny Edge detector with cv::cuda and C++?"
##### System information (version)
- OpenCV = 4.2
- Operating System / Platform => Linux ubuntu 16.04

##### Detailed description
I am trying to apply Canny edge detector using cuda in opencv 4 and C++. My code is below.
But when I run the code, I have the next error:

 terminate called after throwing an instance of 'cv::Exception'
  what():  OpenCV(4.2.0-pre) /home/user/opencv/modules/core/src/ma

[2019-12-27 11:27] deadprogram commented on #15964
I just ran into the same issue on macOS. Unfortunately I am using GoCV, and Go goes not generate a core dump file on macOS, so I am not much help.

This is using the OpenCV 4.1.2 installed via Homebrew. The new 4.2.0 release does not have a Homebrew recipe yet.

I am able to run other improc filters like `Blur()` without problem, but `MedianBlur()` is immediately failing as described by @Ziqi-Song

[2019-12-27 12:55] alalek commented on #15964
Try to check MacOS [Utilities/Console](https://en.wikipedia.org/wiki/List_of_macOS_components#Console) dumps or capture stacktrace through `lldb`.

[2019-12-28 00:54] saskatchewancatch commented on #4301
This was implemented a while ago. PR #14015 . Maybe this issue can be closed.

[2019-12-28 05:11] radupasparuga commented on #16224
Anyone actively working on this?

[2019-12-28 07:12] emmawoo6 commented on #4728
I‘m using the cuda resize without npp (cv::cuda::resize). But the result is not bit-exact to cv::resize. Is it acceptable due to the difference in computing module?
Any update?

[2019-12-28 07:35] #4301 closed

[2019-12-28 13:01] snehitvaddi commented on #13848
`python -m pip install --user opencv-contrib-python`
After doing this, if you are using OpenCV == 4.* then
**Restart your system** then use `cv2.face.LBPHFaceRecognizer_create() `

90% of the time this method should solve the problem.

[2019-12-28 15:44] abhiTronix commented on #16214
@aarongreig See https://github.com/opencv/opencv/pull/13008 and https://github.com/opencv/opencv/issues/13087

[2019-12-29 03:31] lanslans opened #16252 "Error in Java documentation"
https://docs.opencv.org/master/javadoc/org/opencv/imgproc/Imgproc.html#findContours(org.opencv.core.Mat,java.util.List,org.opencv.core.Mat,int,int)

This is not the case. The Java hierarchy output is a matrix with 1 row, and N columns (for N contours), where each element contains a 4-element double array. The double array holds the indices of the next, previous, child, and parent contours.

Eg: hi

[2019-12-29 07:51] lvxingtu opened #16255 "opencv 4.1.2 java Mac OpenCV: not authorized to capture video (status 0), requesting..."
OpenCV: not authorized to capture video (status 0), requesting...
I follow tutorial https://opencv-java-tutorials.readthedocs.io/en/latest/index.html and run the demo from https://github.com/opencv-java/getting-started FXHelloCV.
[code]

when run to capture.open(cameraId);
the application crash and print error
[code]

It seems Mac authorized problem and I speed a lot of time but can't solve it.

I

[2019-12-29 09:54] databaaz commented on #12177
I am getting the same error
`OpenCV(4.1.2) /build/master_pack-android/opencv/modules/dnn/src/dnn.cpp:693: error: (-215:Assertion failed) inputs.size() == requiredOutputs in function 'getMemoryShapes'`
when I try to load an ONNX model and run `forward()` on it.

The problem is it's working well on desktop CPP but is failing when run in Android through JNI for CPP
The same exact code is giving 2 dis

[2019-12-29 10:54] databaaz commented on #12177
I figured out, there was an issue with my C++ code, there's no problem in OpenCV DNN forward() method

[2019-12-30 05:31] YashasSamaga opened #16259 "darknet importer: padding is parsed incorrectly for convolutional layers"
### System information (version)
- OpenCV => 4.2.0
- Operating System / Platform => Ubuntu 18.04
- Compiler => g++ 7.4

##### Detailed description

It appears that the `pad` value in darknet configuration files indicates the padding mode and not the padding value itself. I think `pad` being one implies same padding and `pad` being zero implies manual padding (which is specified in the `padding` pa

[2019-12-30 05:52] YashasSamaga commented on #16259
This is required for #15987 as it has 5x5 convolutional layers.

[2019-12-30 06:51] dkurt commented on #16259
Nice catch! You may use https://github.com/opencv/opencv_extra/blob/master/testdata/dnn/darknet/generate_darknet_models.py to generate a test sample.

[2019-12-30 09:56] wanggao1990 opened #16260 "opencv 4.2 dnn module build failed"
##### System information (version)

- OpenCV => 4.2.0
- Operating System / Platform => win 64
- Compiler => vs2015

##### Detailed description

My desktop environment:  cuda 10.1, gtx 1080ti, cudnn 7.6.3
CMake entry `WITH_CUDNN`, `OPENCV_DNN_CUDA `were enabled.

Only the opencv_dnn project is build failed, and the other projects build success and libraries are generated.

Output error text :

4>

[2019-12-30 10:00] VenkatKrish17 opened #16261 "Mobilenet V2 classification model in cv2 dnn"
##### System information (version)

Opencv => 4.0.0 (C++ custom build, includes dnn module)
Operating system => Ubuntu
Compiler => GCC
##### Detailed description

##### Summary
I have a transfer learning mobilenetV2 classification model, which I want to use in a C++ code using the opencv's cv2 dnn module.

**The simplest way -**
I have a custom trained mobilenetV2 classification model's frozen inf

[2019-12-30 10:05] VenkatKrish17 commented on #16261
@dkurt  I have seen your replies in most of the above issues thread I mentioned. I wish you can help me also to fix the issue.
Thanks.

[2019-12-30 10:06] dkurt commented on #16261
Have you tried the latest version?

This is not object detection SSD model that means the script tf_text_graph_ssd.py is not applicable for it. Can you share a model itself?

[2019-12-30 10:29] YashasSamaga commented on #16260
These errors are due to a missing/bugged feature in MSVC. Later versions of MSVC can build successfully.

Some users have found a [workaround](https://gist.github.com/YashasSamaga/a84cf2826ab2dc755005321fe17cd15d#gistcomment-3118881) to get it running on VS15.

[2019-12-30 10:43] VenkatKrish17 commented on #16261
Do you mean the latest version of tensorflow or opencv ?
I use tensorflow 1.14.

[2019-12-30 10:55] dkurt commented on #16261
@VenkatKrish17, The latest version of OpenCV, yes

[2019-12-30 12:43] yyf1986 commented on #13145
how to use CAP_PROP_BUFFERSIZE?

[2019-12-30 14:06] sayoojbk commented on #11866
@dkurt can I move forward working with Test_TensorFlow_layers.reshape if no one is working on this.

[2019-12-30 14:18] dkurt commented on #11866
@sayoojbk, Feel free to open a pull request for any possible test enabling. Thanks!

[2019-12-30 16:03] dkurt commented on #16140
Cannot reproduce it with PyTorch 1.2.0

[2019-12-30 16:12] bouwerp opened #16262 "OpenCV on Raspberry Pi Zero W - Floating point exception / black empty images"
I am trying to utilise OpenCV 4 on the Raspberry Pi Zero W, running Raspbian Buster (10). When doing any transformations on a captured image, the application exits with a floating-point exception.

I have cross-compiled OpenCV with various options, most notably the ENABLE_VFPV3 option, with no luck. I always get the floating-point exception. I use **crosstool-ng** for the cross-compilation on macO

[2019-12-30 16:12] dkurt commented on #15823
Hi! Try yo add `fold_constants` for 2D case:
[code]

3D deconvolution layer is not supported right now.

[2019-12-30 17:09] dkurt commented on #15817
@toborobot, thanks for bug report!

Please try to run this script first to get `opt_graph.pb`:
[code]

Then using the changes from https://github.com/opencv/opencv/pull/16263 generate a `.pbtxt` file:
[code]

Please let us know if the accuracy won't match or add a sample image so we can check.

[2019-12-30 17:57] mangalbhaskar commented on #14550
I'm got the same issue in version 4.2.0, seems related to these issues: [#9719](https://github.com/opencv/opencv/issues/9719) and [#9609](https://github.com/opencv/opencv/issues/9609)

[2019-12-30 20:15] nappaillav commented on #15927
Hello
I am new to opencv community and would like to work on this issue. So I just wanted to know if the  following code would resolve the issue. If not, do let me know how to resolve the issue

`

    static Mat checkMask(InputArray _mask, Size size)
    {
        Mat mask = _mask.getMat();
        Mat gray;

        if (mask.channels() == 3)
            cvtColor(mask, gray, COLOR_BGR2GRAY);

[2019-12-30 22:18] JanuszL commented on #16215
@mshabunin - please check https://github.com/opencv/opencv/pull/16265.

[2019-12-30 23:11] LeonineKing1199 opened #16266 "Stop using `using namespace ...` in samples!"
Can we stop using `using namespace` in all the OpenCV C++ samples?

`using namespace std;` is typically considered poor practice and what's more, it makes it incredibly cumbersome to copy-paste sample code in my application as well as track down where each function comes from specifically.

[2019-12-31 00:43] saskatchewancatch commented on #16266
Fair point. The samples are intended to be very small, standalone, instructional/demonstrative sources.
The chances of a namespace problems concerning std and everything else in OpenCV are unlikely, and it makes the small source file less intimidating for those starting out with OpenCV.

[2019-12-31 01:39] VenkatKrish17 commented on #16261
I have 4.1.2 for my python environment.
When i tried converting the graph using cv2.writeTextGraph, I was able to generate the pbtxt file.
But when I used readNetFromTensorflow, it gave me the same below error.

OpenCV(4.1.2) /io/opencv/modules/dnn/src/tensorflow/tf_importer.cpp:663: error: (-215:Assertion failed) const_layers.insert(std::make_pair(name, li)).second in function 'addConstNodes'

Do

[2019-12-31 01:58] chanyong-owl opened #16267 "Is there alternative function for dnn_registerLayer?"
Now, i am changing to python code to java code.

I have tested various opencv versions ( 4.2 4.1 3.4.9 3.4.4)

I have tried to run caffe.model ( using dnn)

In Python code, i used cv2.dnn_registerLayer function

But In opencv sdk, there is no function.

i searched it on Google, but i couldnot found.

Is there alternative function for dnn_registerLayer?

Please help me T.T

##### System information

[2019-12-31 02:01] wanggao1990 commented on #16260
@YashasSamaga   It works. Thanks a lot!

[2019-12-31 02:01] #16260 closed

[2019-12-31 04:34] gnif opened #16268 "cv::getCPUCount returns number of CPUs instead of available CPUs on Linux"
On a system using the kernel argument `isolcpu`, or when using `taskset` to limit the CPUs available to the process OpenCV continues to allocate threads for all cores on the system even if they are not available to it. This causes OpenCV to create far more threads then is optimal for the target system.

https://github.com/opencv/opencv/blob/7b12cbd7dcbb025c31e7630c9ae709493a8f3d62/modules/core/src

[2019-12-31 05:35] #15817 closed

[2019-12-31 05:36] dkurt commented on #16267
The model from this tutorial https://docs.opencv.org/master/dc/db1/tutorial_dnn_custom_layers.html?

You may try to rebuild OpenCV modifying this layer directly

[2019-12-31 05:46] dkurt commented on #16261
@VenkatKrish17, please upload mentioned network somewhere so we can reproduce the problem.

[2019-12-31 05:59] dkurt commented on #16262
`VFPV3` is not supported by ARMv6. Please add CMake summary of OpenCV.

[2019-12-31 06:04] #16266 closed

[2019-12-31 07:02] bouwerp commented on #16262
Thanks @dkurt - I get the same results when VFPV3 is not enabled (the result of running the last configuration that I shared). I will attach the CMake output once I have access to my other laptop again this afternoon.

[2019-12-31 07:33] dkurt commented on #16113
related https://github.com/opencv/opencv/issues/14634

[2019-12-31 07:47] AND2797 opened #16269 "cv2.imread does not raise error on loading invalid image"
cv2 build tested on - `3.4.2` in Python environment

Using `cv2.imread` on a file that does not exist returns a `None` type (not explicit) instead of raising an error.
I am not sure if this has been fixed on the latest build, can anyone check? Maybe this can be improved to give a more informative error message.

Steps to reproduce -

`import cv2`
`image = cv2.imread('test.jpg') #test.jpg is a file

[2019-12-31 08:09] dkurt commented on #14634
Hi!

According to https://github.com/opencv/opencv/issues/16113 (see the answer at https://stackoverflow.com/a/59541189/6548453), `http://download.tensorflow.org/models/object_detection/faster_rcnn_inception_resnet_v2_atrous_oid_2018_01_28` is supported. Going to try `faster_rcnn_inception_resnet_v2_atrous_oid_v4_2018_12_12`.

[2019-12-31 08:10] dkurt commented on #16113
See https://stackoverflow.com/a/59541189/6548453

[2019-12-31 08:10] #16113 closed

[2019-12-31 08:13] dkurt commented on #16269
Why it should throw an exception this way? This way any `imread` should be covered by try-except block.

According to the [documentation](https://docs.opencv.org/master/d4/da8/group__imgcodecs.html#ga288b8b3da0892bd651fce07b3bbd3a56):

[2019-12-31 08:13] #16269 closed

[2019-12-31 08:47] dkurt commented on #14634
Thanks for this catch!

Please try this patch https://github.com/opencv/opencv/pull/16270 considering a comment https://github.com/opencv/opencv/issues/13237#issuecomment-455592112 to modify `pipeline.config`:

~~height_stride: 8~~
~~width_stride: 8~~
height_stride: 16
width_stride: 16

Output from OpenCV for `faster_rcnn_inception_resnet_v2_atrous_oid_v4_2018_12_12`:
![res](https://user-images.gi

[2019-12-31 09:12] dkurt commented on #15766
@r0l1, can you please clarify a bit this issue? If it's a bug report pleas provide a minimal working example. Or this is a feature request? Please note that Inference Engine's Region is different from OpenCV's and enabling it will require additional postprocessing like they do in the samples:
https://github.com/opencv/open_model_zoo/blob/2019_R3/demos/object_detection_demo_yolov3_async/main.cpp#L1

[2019-12-31 12:38] xtj49 opened #16272 "duplicated OpenCVConfig.cmake"
## OpenCV version
 2.4.13.7 (git tag version)

## Platform
Visual Studio 2017, x86

## Problem description
I build opencv with VS2017 and succesully generate and installed opencv 2.4.13.7. However, when using OpenCV in my own project, say `demo` project, I use CMake to find my installed opencv.
I know that I should set `OpenCV_DIR` variable in cmake scripts, pointing to the directory that contains

[2019-12-31 14:56] tati-z commented on #15927
I was working on COLOR_BGRA2GRAY images when this issue arose.
I don't know which other colour scheme in cv2.COLOR_* has more than 3 channels, or exactly 4.
the code
[code]
from the original code, was assuming that every 3 channels image sent to this function will be of colour scheme BGR. which will not always be true in itself.
**But whether this matters or not**, I am not sure.

it might not mat

[2019-12-31 15:08] bouwerp commented on #16262
@dkurt here is the CMake output:

[code]

[2019-12-31 15:31] LeonineKing1199 commented on #16266
Closed and marked as "wontfix". Quality. Discussion.

[2019-12-31 18:32] andybrucenet opened #16274 "Compile errors on CentOS 7 / GCC 4.8.2"
##### System information (version)

- OpenCV => 4.2.0-dev
- Operating System / Platform => CentOS Linux release 7.6.1810 (Core)
- Compiler => gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-39)

##### Detailed description

Followed instructions adapted from https://linuxize.com/post/how-to-install-opencv-on-centos-7/

During build there are two files with syntax errors:

`opencv/samples/cpp/tutorial_code/

[2019-12-31 18:32] andybrucenet commented on #16274
To fix the problems, I simply updated the following files:

`dnn_superres_multioutput.cpp`:
[code]

`face_beautification.cpp`: Changed references to `cend()` to simply `end()`

Running through all tests and hopefully submit PR today.

[2020-01-01 07:21] PascalYIN commented on #16173
for those who come for the same error you can refer to [this](https://github.com/opencv/opencv/pull/14206#issuecomment-570029627)

[2020-01-01 07:21] #16173 closed

[2020-01-01 16:40] h2suzuki commented on #9953
I passed `-DAtlas_INCLUDE_DIR=/usr/include/arm-linux-gnueabihf` to cmake and OpenCV 4.2.0 looks like being built fine on the latest Debian Buster on Raspberry Pi 4B (armv7l).

Here is the output of cmake.

[code]

I hope this information can be a help.

[2020-01-01 18:06] nappaillav commented on #16268
Hello Everyone,
I understood the issue and would like to contribute. For which i would like to get your help @alalek .
As explained by @gnif, the solution to this issue as follows

`

        #elif defined linux || defined GLIBC || defined HAIKU || defined EMSCRIPTEN

	        // return (int)sysconf( _SC_NPROCESSORS_ONLN );

		cpu_set_t cpu_set;

		sched_getaffinity(0, sizeof(cpu_set), &cpu_set);

[2020-01-02 01:13] ntjess opened #16277 "array with 0 shape"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

[2020-01-02 01:13] #16277 closed

[2020-01-02 01:17] ntjess commented on #16277
Mistakenly created issue.

[2020-01-02 01:51] VenkatKrish17 commented on #16261
@dkurt  i have emailed you the .pb file to dmitry.kurtaev+github@gmail.com since its private cannot post the link here.

[2020-01-02 03:43] VenkatKrish17 commented on #16261
closing this issue, as the model itself is an issue.
I simply trained the model in keras, and used this script (https://www.dlology.com/blog/how-to-convert-trained-keras-model-to-tensorflow-and-make-prediction/)  to convert it to pb. (Without optimising for inference)
Then loaded the pb, it worked fine.

[2020-01-02 03:43] #16261 closed

[2020-01-02 06:41] lzbgt opened #16278 "master branch build can't open mp4 file"
##### System information (version)

- OpenCV == 4.2.0 release **AND** master branch (commit tag: 1996ae4a42d7c7cd338fbdd4abbd83b41b448328)
- Operating System / Platform => Linux AMD64
- Compiler => gcc 9.2

##### Detailed description
failed to open mp4 file via VideoCapture::open method
[code]

##### Steps to reproduce
- build cmd:
[code]
- test cpp
[code]

[2020-01-02 08:49] lzbgt commented on #16278
figured it out!

[2020-01-02 08:49] #16278 closed

[2020-01-02 11:37] llsouder commented on #10739
I found this https://github.com/opencv/opencv/issues/13462#issuecomment-447861731

 it stops the error.

[2020-01-02 12:01] dkurt commented on #16266
@LeonineKing1199, feel free to propose a PR.

[2020-01-02 12:06] anshu0612 commented on #16259
I would be like to take up the issue @dkurt

[2020-01-02 12:12] dkurt commented on #16262
Have you tried to disable system dependencies adding the following lines to the toolchain file?
[code]
source: https://cmake.org/cmake/help/v3.6/manual/cmake-toolchains.7.html#cross-compiling-for-linux

[2020-01-02 12:16] dkurt commented on #16259
@anshu0612, feel free to open a PR

[2020-01-02 12:46] moberweger commented on #15823
Thanks @dkurt , the problem is resolved with `fold_constants`

[2020-01-02 12:46] #15823 closed

[2020-01-02 12:59] moberweger opened #16279 "TF importer: Cropping2D gives wrong output shape in OpenCV"
##### System information (version)
- OpenCV == 4.1.2-dev
- Python == 3.6
- Operating System / Platform == Ubuntu 18.04 x86_64
- Compiler == gcc 7.4.0
- Tensorflow == 1.14.0

##### Detailed description
Using a CNN model from tensorflow that contains a `Cropping2D` layer does not give the correct output shapes in OpenCV.

##### Steps to reproduce
The following python script can be used to trigger th

[2020-01-02 13:06] anthonyyuan commented on #16278
hi ,i meet it too,how do you do it?

[2020-01-02 13:56] LiXin97 commented on #16114
I will add the lossfunction for the LM part of the solvePnPRefineLM. I simple test the difference Loss in [LossTest](https://github.com/LiXin97/LossTest). I think at least the Huber, Cauchy and Tukey should be added in the function. They all has their own advantages under different conditions.

[2020-01-02 14:20] bouwerp commented on #16262
@dkurt I recompiled opencv, and the test code with those settings, but I'm still not getting the operations to work - they produce "empty"/black images.

I have attached some screenshots to show the remote debugger's output for a _blur_ operation.

<img width="927" alt="Screenshot 2020-01-02 at 16 18 39" src="https://user-images.githubusercontent.com/28195539/71671457-c22a4980-2d7b-11ea-9c82-217da

[2020-01-02 15:02] wybert commented on #14323
The same for me

[2020-01-02 15:29] yieniggu opened #16280 "TypeError: Not a cmessage converting tensorflow model from .pb to .pbtxt"
##### System information (version)
- OpenCV => 4.2.0
- Operating System / Platform => Ubuntu 18.04 64 bits
- Compiler => cmake

##### Detailed description

I am trying to generate a .pbtxt from a tensorflow frozen_inference_graph.pb file. I'm using a custom model based on ssd_resnet_50_fpn_coco tensorflow model.
When I run the [text_graph_ssd.py](https://github.com/opencv/opencv/blob/master/sample

[2020-01-02 15:57] fbabian commented on #16175
NVIDIA was able to duplicate the problem on driver version 441.22. The problem has been fixed on their development branch which will get distributed in the near future.

[2020-01-02 15:57] #16175 closed

[2020-01-02 17:31] CiscoTalos commented on #15857
We provided the two week extension to the last communicated date for public disclosure postponement.  Please advise status and/or URL for public release.  Thanks

[2020-01-02 20:22] alalek commented on #15857
Thank you!
OpenCV 4.2.0 has been released with fix: https://github.com/opencv/opencv/releases/tag/4.2.0

[2020-01-02 20:57] catree commented on #16114
FYI, pose refinement using visual servoing (`solvePnPRefineVVS()`) can be extended to deal with spurious outliers, as described in the literature:

- [Pose Estimation for Augmented Reality: A Hands-On Survey, Eric Marchand, Hideaki Uchiyama, Fabien Spindler](https://hal.inria.fr/hal-01246370/document)
- [Statistically robust 2D visual servoing, Andrew Comport, E. Marchand, François Chaumette](http

[2020-01-03 00:12] catree commented on #15856
Probably the first thing would be to compare the OpenCV implementation with the other impementations and see if this [benchmark](https://boofcv.org/index.php?title=Performance:SURF) still holds.

For further references, a quick search gives the following SURF implementations:

- [OpenSURF](https://github.com/amarburg/opencv-ffi-ext/blob/d7522e132c513eac80ebaedfda38f3109e89b07e/ext/opensurf/surf.cp

[2020-01-03 04:01] superbelll commented on #11097
try this

[2020-01-03 05:41] RioChan opened #16281 "OpenCV 3.1 + Protobuf 3.11 will have this error while building OpenCV"
##### System information (version)

##### Steps to reproduce

Hi Champs:
I'm using the uBuntu18.10 + OpenCV 3.1 + Protobuf 3.11.
I'm having this error while building OpenCV with "make all -j4".

I studied for 2 days from the google, and found no solid answer.

/opt/OpenVX_Demo/opencv-3.1.0/build/modules/dnn/caffe.pb.h:2083:8: error: ‘void caffe::SolverParameter::SerializeWithCachedSizes(google::pr

[2020-01-03 06:22] RioChan commented on #16281
Hi Champs:

I have solved this by adding those 2:

+               -DBUILD_PROTOBUF=OFF
+               -DBUILD_opencv_dnn=OFF

1 more question:
    How to open those 3 options ON with no any build error?
    WITH_CUDA=OFF
    BUILD_PROTOBUF=OFF
    BUILD_opencv_dnn=OFF

BR Rio

[2020-01-03 08:50] dkurt commented on #16281
Have you tried newer version but not OpenCV 3.1.0?

[2020-01-03 11:15] dkurt commented on #15943
Can reproduce the problem with the `graph.pbtxt` from issue's description. However with the latest state of OpenCV everything works fine. Please try to regenerate `graph.pbtxt` file. Thanks!

let me close it for now

[2020-01-03 11:15] #15943 closed

[2020-01-03 11:23] dkurt commented on #16262
@bouwerp, can you run the tests? `opencv_test_core` and `opencv_test_imgproc` useing test data from https://github.com/opencv/opencv_extra?

[2020-01-03 13:14] dkurt commented on #16280
Can you please add a config file which is used for training? Should be named as `pipeline.config` or similar.

[2020-01-03 13:39] buaapengbo commented on #6132
This is because you put the "modules" together both opencv and openc_contrib

Make the source code tree as this:
$ ls
opencv-4.1.0     opencv_contrib-4.1.0

[2020-01-03 13:53] balachandarsv commented on #16255
I guess, this isn't a OpenCV issue.

I too had faced this. This is what I did.

`VideoCapture capture = new VideoCapture();
while(true){
capture.open();
}`

Run this code once separately, and you would be prompted with the mac authorization.

This is not a solution, but i solved it this way.

[2020-01-03 15:15] lvxingtu commented on #16255
Unfortunately this does not work for me.

[2020-01-03 16:09] #16274 closed

[2020-01-03 16:23] alalek commented on #16255
You need to authorize your application (perhaps whole "java") to access cameras.
Refer to macOS documentation about privacy configuration.

This can't be fixed in OpenCV. Closing.

[2020-01-03 16:23] #16255 closed

[2020-01-03 17:55] philong6297 opened #16282 "Build libopencv_rgbd fail in ubuntu 19.10 with opencv 4.2.0"
This is my specs:
[code]
Output:
[code]

[2020-01-03 19:50] alalek commented on #16282
duplicate of https://github.com/opencv/opencv_contrib/issues/2307

[2020-01-03 19:50] #16282 closed

[2020-01-03 23:15] yieniggu commented on #16280
The script you mention is the first I tried. As I said, it works fine on a ssd_inception _v2_coco custom model, but not on the resnet model.

Here are the tow configs I used for each training.

[2020-01-04 06:41] rgaufman commented on #8897
This still happens in Raspbian 10 (buster), installing the latest version of checkinstall indeed fixes it :)

[2020-01-04 08:52] FLming opened #16283 "[BUG] AKAZE detector.detectAndCompute will cause memory leak in async python"
##### System information (version)

- opencv-python: 4.1.2.30
- python: 3.6
- Operating System: ubuntu18.04
##### Detailed description
I use Fastapi to build my app, and I find `AKAZE` detector.detectAndCompute will cause memory leak in async python, but `ORB` detector will not. code just like:
[code]
and this function will be called by Fastapi with `def` define, in fastapi, a function will `def`,

[2020-01-04 09:43] alalek commented on #16283
Python multiprocessing may not work properly due `fork()` call issues: #5150

Please provide more details.

Try to investigate and localize source of this issue.

[2020-01-04 10:06] xinsuinizhuan opened #16284 "Any one have the CV_SubPix.cpp and CV_SubPix.h file?"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

I am working on a project that uses matchTemplate and I need sub pixel accuracy. I find this web:
https://answers.opencv.org/question/29665/getting-subpixel-with-matchtemplate/
but can't access the CV_S

[2020-01-04 10:06] FLming commented on #16283
A small example is as follows:
[code]
and I use ab to send requests.

[2020-01-04 12:07] stringtheory1234 commented on #16168
https://github.com/opencv/opencv/pull/16285/ what is the problem with this commit?

[2020-01-04 13:07] berak commented on #16168
@stringtheory1234 , remove whitespace in l. 94

https://pullrequest.opencv.org/buildbot/builders/precommit_docs/builds/23280/steps/whitespace%20opencv/logs/stdio

[2020-01-04 13:13] stringtheory1234 commented on #16168
@berak  thanks, done !

[2020-01-04 13:32] LaurentBerger commented on #16284
use webarchive  : https://web.archive.org/web/20170921052938/http://www.longrange.net/Temp/CV_SubPix.cpp

[2020-01-04 14:10] BitbeyHub commented on #15723
You are really awesome dude!

[2020-01-04 14:27] kyochujoho opened #16286 "Request: joint aka cross option for bilateralFilter"
A cross aka joint option would simply allow one to supply a second input image to bilateralFilter and have sigmaColor apply to that image when computing the gaussian weights. One noteable usage for this filter is in the well-cited paper:

Zhuo, Shaojie, and Terence Sim. "Defocus map estimation from a single image." Pattern Recognition 44.9 (2011): 1852-1858

https://answers.opencv.org/question/224

[2020-01-05 16:53] stringtheory1234 commented on #16168
https://github.com/opencv/opencv/pull/16285 made a pull request can someone please review? I am new to open source!!

[2020-01-05 20:15] Nuzhny007 opened #16287 "Compilation error: Intel openvx on Windows"
##### System information (version)
- OpenCV => 4.2
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2017

##### Detailed description

Compilation OpenCV on Windows with Intel openVINO 2019.3.379 and openvx from openVINO package. In file modules/core/src/ovx.cpp in line 28:
` static TLSData<OpenVXTLSData>& getOpenVXTLSData()`
_The TLSData is not template._

I'm added i

[2020-01-05 22:33] maroquio commented on #14839
Hello.
I don't know why Intel does not provide working examples of all supposed compatible models with Myriad. It would be fantastic if the samples worked like they say it does. I only see people saying that tried to run some sample, like "Fast R-CNN Inception V2 Coco", and the thing doesn't work. It is very disappointing. I bought some NCS2 to use with drones, but I think I could not train my own

[2020-01-05 22:49] alalek commented on #16287
Thank you for the report.
Feel free to propose PR for 3.4 branch.

OpenVX support in OpenCV is deprecated due lack of performance with current OpenVX calling approach.

[2020-01-06 00:44] Alpheron opened #16288 "error: (-215: Assertion failed) inputs.size() == requiredOutputs in function 'getMemoryShapes'"
Hello all, I was trying to run an OpenCV program to run a DNN on an Android device using the OpenCv DNN module with Tensorflow and an SSD. However, I keep receiving this error when I try to run the program. CvException - cv::Exception: OpenCV(4.1.0) /build/master_pack-android/opencv/modules/dnn/src/dnn.cpp:692: error: (-2.15:Assertion failed) inputs.size() == requiredOutputs in function 'getMemory

[2020-01-06 00:51] xinsuinizhuan commented on #16284
Could you download them, then pass to me(rename them to xx.txt, then attach file by dragging)?
![图片](https://user-images.githubusercontent.com/40679769/71788893-b384b080-3061-11ea-80fd-39b697dc2a90.png)
 I still can't acccess the https://web.archive.org/web/20170921052938/http://www.longrange.net/Temp/CV_SubPix.cpp

[2020-01-06 02:39] xinsuinizhuan commented on #16284
Thank you very much. I have download them.But don't know how to use it.

[2020-01-06 03:38] Nuzhny007 commented on #16287
Ok, thank you.

[2020-01-06 05:13] #16286 closed

[2020-01-06 05:14] kyochujoho commented on #16286
found https://docs.opencv.org/4.2.0/da/d17/group__ximgproc__filters.html#ga80b9b58fb85dd069691b709285ab985c

[2020-01-06 05:48] yc-zc commented on #13521
So, how to resolve this issue?

[2020-01-06 05:56] alalek commented on #13521
Use workaround from issue's description.

[2020-01-06 07:07] dkurt commented on #14839
@maroquio, It's supported by Model Optimizer + Inference Engine. You just need to create an Intermediate Representation (IR) model following this guide: http://docs.openvinotoolkit.org/latest/_docs_MO_DG_prepare_model_convert_model_tf_specific_Convert_Object_Detection_API_Models.html.

OpenCV can run as IR as native model. So at this moment Faster R-CNN on Myriad is supported through IR.

[2020-01-06 07:13] dkurt commented on #16288
Please try the latest master branch or at least newer release. Thanks!

[2020-01-06 07:24] Alpheron commented on #16288
However, I am developing an Android app. Would updating to the newest android build tools solve the problem @dkurt ?

[2020-01-06 07:29] dkurt commented on #16288
@Alpheron, Which version of tf_text_graph_ssd.py is used? Note that for OpenCV 4.1.0 it's better to use corresponding version of the script: https://github.com/opencv/opencv/blob/4.1.0/samples/dnn/tf_text_graph_ssd.py. Please try it.

[2020-01-06 07:32] dkurt commented on #16288
From the model.config:
[code]
that means the network should work on 256x256 input blobs but not 300x300 as in the code snippet.

[2020-01-06 07:35] Alpheron commented on #16288
So what I find odd is that I have a python version that runs properly using the same 300x300 blobs and I used the same tf_text_graph_ssd.py script.
[code]

[2020-01-06 07:38] dkurt commented on #16288
@Alpheron, probably, Python's version of OpenCV is different (check `cv.__version__`).

Let me check if the network can work with OpenCV 4.1.0.

[2020-01-06 07:42] Alpheron commented on #16288
So I checked the version just now on my computer and it outputs `'4.1.0`

[2020-01-06 07:49] dkurt commented on #16288
@Alpheron, So 4.1.0 release also works fine for me. Can you check once again Android version of OpenCV? You may also provide `getBuildInformation()` output.

Please also debug the code more careful - `net` object initialization and if `inputFrame` is empty or not.

[2020-01-06 07:54] Alpheron commented on #16288
My app has a bit more modules and libraries but I'll post what I can:
`package org.firstinspires.ftc.teamcode.modules;

import org.firstinspires.ftc.teamcode.core.Hardware;
import org.opencv.core.*;
import org.opencv.dnn.Dnn;
import org.opencv.dnn.Net;
import org.opencv.imgproc.Imgproc;
import org.openftc.easyopencv.OpenCvPipeline;

import java.util.*;
import java.lang.*;

import static org.apache

[2020-01-06 07:56] dkurt commented on #16288
String pbTxt = getPath("model.pbtxt");
    net = Dnn.readNetFromTensorflow(pbFile);

It seems to me it should be something like
[code]
?

[2020-01-06 08:21] Alpheron commented on #16288
Yes, that is what I originally thought it was but then I remembered the pbtxt file was optional and tried to run the net that way too. Unfortunately, what you had suggested earlier with:

Adding both the pbtxt and the pb file make no difference to mitigate the error. The error is exactly the same as what it was before `CvException - cv::Exception: OpenCV(4.1.0) /build/master_pack-android/opencv/mo

[2020-01-06 08:24] dkurt commented on #16288
What is what is strange. Error should be different because without `.pbtxt` file the error should be at `readNetFromTensorFlow` but not at `forward`. so I think that `model.pb` attached to the issue is different from one which is used in the app.

OpenCV 4.1.0:
[code]

[2020-01-06 08:28] #16176 closed

[2020-01-06 08:29] #16067 closed

[2020-01-06 12:05] h6197627 opened #16290 "Disabling tests while enabling freetype support breaks CMake configuration process"
CMake configuring of OpenCV 4.2.0 breaks when WITH_FREETYPE support is enabled and BUILD_TESTS is disabled with error:
[code]

##### System information (version)
- OpenCV => 4.2.0
- Operating System / Platform => Ubuntu 18.04
- Compiler => gcc 7.4.0

##### Steps to reproduce

[2020-01-06 12:08] dkurt commented on #15244
For `Exp` nodes with are part of SoftMax layer there is now a fusing logic: https://github.com/opencv/opencv/pull/16291.

Please tests these changes and add comments if you have more examples with `Exp` node usage. Thanks!

[2020-01-06 12:10] FischerGundlach opened #16292 "calib3d(docs): misleading/ wrong documentation for RT"
* I ~do volunteer~ would like to work on this issue.
* I ran some tests with simulation data to check my assumptions, see below.

##### Detailed description
Many functions within the calib3d module compute or rely on the extrinsics R and T in the camera model. The rigid transformation given by (R, T) describe the change of coordinates for a point `\mathbf{p}` in object coordinates to its represent

[2020-01-06 13:27] Palmitoxico commented on #16140
It seems that my pytorch installation was messed up (multiple versions installed). I have cleaned everything and built from source and it works now. Thanks!

[2020-01-06 13:27] #16140 closed

[2020-01-06 14:12] h6197627 opened #16293 "System OpenEXR detection broken in Linux"
After committing 2e20f06f8edddfa5961f65e260ec8157a0aa8de8 system OpenEXR library detection is broken in Linux.
First:
[code]
ignores empty suffix ("") while iterating in FOREACH loop. On Ubuntu 18.04 default libraries installed from apt-get do not have any suffixes.

Second:
In function
[code]
NO_DEFAULT_PATH is passed, so libraries are not searched in default Linux directories like **x86_64-linux

[2020-01-06 15:14] bsugerman opened #16295 "Any intention to add interoperability with DLPACK?"
Given OpenCV's amazing toolkit for image processing, its ability to run on the GPU, and the growing use of image processing for Deep Learning, I'm curious whether anyone has the intention of adding interoperability with [DLPACK](https://github.com/dmlc/dlpack) so we can pass arrays directly on the GPU?

[2020-01-06 15:25] BurguerJohn opened #16296 "cv2.VideoCapture on GIF files break after Pyinstaller"
Sorry if this is a bug generated by pyinstaller, I don't have enough knowledge to know who is responsible for this bug.

##### System information (version)

- OpenCV => Tested in 4.1.2.30 and 3.4.8.29
- Operating System / Platform => Windows 10 Windows 64 Bit
- Compiler =>Python 3.6.9
- PyInstaller => 3.5

##### Detailed description

Using cv2.VideoCapture with both **mp4** and **gif** files as in

[2020-01-06 15:33] alalek commented on #16296
You need to [debug videoio subsystem](https://docs.opencv.org/3.4/de/db1/group__videoio__registry.html).
Perhaps FFmpeg DLL is lost in your distribution.

---

Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-01-06 17:04] BurguerJohn commented on #16296
Thanks for the fast and correct answer. You are awesome.
You are right, adding the dll fixed the problem.
For anyone with the same problem. You need to use
`--add-data opencv_ffmpeg348_64.dll;.` (Name is the same of the opencv version)
to compile the script.

[2020-01-06 17:04] #16296 closed

[2020-01-06 17:09] sunkyoo opened #16297 "[BUG] The grayscale image by imread() is incorrect!"
##### System information (version)

- OpenCV => 4.1.1
- Operating System / Platform => Windows 64 Bit / C++ & Python
- Compiler => Visual Studio 2017, Python 3.7.6

##### Detailed description

I just updated OpenCV 4.2.0 and found a big problem.
If I open the lenna BMP image with IMREAD_GRAYSCALE flag, the image is little bit dark. (the mean value was 110)
I felt something weird because I knew the

[2020-01-06 17:33] catree opened #16298 "Feature request: eigenNonSymmetric with complex eigenvalues"
Current `eigenNonSymmetric()` function does not seem to support real square matrix with complex eigenvalues.
Checking that a real matrix has complex eigenvalues seems to be not trivial, [see](https://math.stackexchange.com/questions/1195350/is-there-any-way-we-can-check-if-a-real-matrix-has-complex-eigenvalues).

Example in Numpy/Scipy (from [Matlab doc](https://www.mathworks.com/help/matlab/ref/e

[2020-01-06 18:30] alalek commented on #16298
Current CV algorithms have an assumption that eigen values are real.
Documentation of `eigenNonSymmetric()` states this limitation.

Which CV algorithms are require support for matrices with complex eigenvalues?

[2020-01-06 18:35] alalek commented on #16297
Looks like a duplicate of #16215 (fix is available on 3.4 branch and will be merged into master soon)

[2020-01-06 19:19] maroquio commented on #14839
Hello, @dkurt. Thanks for your reply.
I did that, using several parameter combinations, but it didn't work.
Probably I'm doing something wrong, but the documentation of each network topology should be better. I don't know if I have to use FP16 or FP32 for NCS2, if I have to use --branch=1 etc. These kind of thing. I'm studying to try to figure out these issues. If you have any tip for using model

[2020-01-06 20:14] catree commented on #16298
I was trying to port some Matlab, see [QuEst: A Quaternion-Based Approach for Camera Motion Estimation from Minimal Feature Points](https://sites.google.com/view/kavehfathian/code).

I am not very familiar with this kind of linear algebra (SVD, eigenvalues, null space, ...) so I can't tell how common complex eigenvalues are used in computer vision or in robotics.

[2020-01-06 23:51] jzod opened #16299 "haarcascade_mcs_mouth.xml throws SystemError"
### System information (version)

- OpenCV => 4.1.0.26, 4.1.0.30, 4.1.2
- Operating System / Platform => Windows 10 / 64 Bit
- Compiler => Python 3.6

##### Detailed description

When trying to open the file haarcascade_mcs_mouth.xml I get a SystemError “Unable to display children”. I went back and installed OpenCV version 3.4.4.19 and it worked with no error. So, I continued to work my way to new

[2020-01-07 00:00] Alpheron commented on #16288
@dkurt When I run the same Python program without the `.pbtxt` file, it throws the same error which you describe above. However, when I run the code I sent above in Java, it throws the same error `CvException - cv::Exception: OpenCV(4.1.0) /build/master_pack-android/opencv/modules/dnn/src/dnn.cpp:692: error: (-2.15:Assertion failed) inputs.size() == requiredOutputs in function 'getMemoryShapes'` w

[2020-01-07 00:23] sunkyoo commented on #16297
Ok, thanks.

[2020-01-07 00:23] #16297 closed

[2020-01-07 00:48] alalek commented on #16299
Looks like this issue relates to Python bindings package distribution.
It is better to check/fill problem in proper repository:
- information about the package: https://pypi.org/project/opencv-python/
- issue's tracker: https://github.com/skvark/opencv-python/issues

[2020-01-07 01:05] alalek commented on #16298
Thank you!

Consider using "Eigen" library (headers only, prefer eigen3) under `#ifdef HAVE_EIGEN` condition in your code directly. See [Eigenvalues module](https://eigen.tuxfamily.org/dox/group__Eigenvalues__Module.html).

In `#else` branch put `CV_Error()` with message that this functionality requires OpenCV build with Eigen.

[2020-01-07 03:59] wolflion521 commented on #10128
@dkurt , Hi I wrote a custom layer in python, but get"Failed to create an instance of custom layer in function 'pycvLayer'". I just want to use the custom layer for tensorflow 'SplitV' op.
`class SplitVLayer(object):
    def __init__(self,params,blobs):
        self.num_or_size_splits = int(params["TLen"])
        self.axis = int(params["num_split"])
    def getmemoryShapes(self,inputs):
        i

[2020-01-07 05:54] crazywolfxju commented on #7578
You can try:
Sudo apt install libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev

[2020-01-07 08:00] Alpheron commented on #16288
@dkurt Has any progress been made on this issue?

[2020-01-07 12:24] mcamurri opened #16301 "Glitch in cv::ellipse(): draws horizontal lines if thickness is low"
##### System information (version)

- OpenCV => 3.2.0
- Operating System / Platform => Ubuntu 18.04
- Compiler => gcc

##### Detailed description

When drawing an ellipse with specific but not pathological values and a line thickness less than 5, horizontal lines are displayed.

##### Steps to reproduce
The following snipped is sufficient to expose the problem:
![Screenshot from 2020-01-07 12-21-1

[2020-01-07 12:39] dkurt commented on #16301
Have you tried newer version?

[2020-01-07 14:10] mcamurri commented on #16301
I've just tried the 3.4.9 locally just now and the problem disappeared.
Unfortunately, I'm forced to use the 3.2.0 version as it is the default for Ubuntu 18.04 / ROS Melodic.

[2020-01-07 14:23] dkurt commented on #16301
So if you are not able to rebuild library - there is a little chance that you can fix it in runtime. Can we close the issue due there is no feature request and the problem is solved in current state of OpenCV?

[2020-01-07 14:24] mcamurri commented on #16301
I guess so, thank you.

[2020-01-07 14:24] #16301 closed

[2020-01-07 15:30] yieniggu commented on #16280
@dkurt any update on this?

[2020-01-07 16:39] Remote-Radical commented on #16295
Seconded. Historically the interoperability between OpenCV and Numpy made for a powerful toolset. Using CUDA through combination of CuPy and cuda OpenCV could be just as powerful, if OpenCV adopted DLPACK, allowing it to pass GPU matrices to CuPy.

[2020-01-08 01:50] TheTomer commented on #14080
Hi, how would you suppress these messages in Python?

[2020-01-08 03:25] DivenLee opened #16303 "Are there plans to support .NET Core?"
RT

[2020-01-08 04:12] saskatchewancatch commented on #4539
**What I think:** `convexHull` implementation is fine, and it's fine for returned indices to not be monotonic.

**Why:**
* For a convex hull, the indices returned do not necessarily have to be in order.
  * Consider a square with points: `(0, 0)`@(index 0), `(0, 1)`@(index 1), `(1, 0)`@(index 2), `(1, 1)`@(index 3).
  * Shuffle these points in a std::vector<Point> and pass it to `convexHull`. The

[2020-01-08 07:05] ganesh-k13 commented on #16203
Hi @sturkmen72 / @alalek, I'm new to opencv, can I look into this? I think if we add the flag checks in this [line](https://github.com/opencv/opencv/blob/3fb6617d62abc104c60f521316aeb50eec18cde7/modules/imgcodecs/src/loadsave.cpp#L740), issue will be solved.

[2020-01-08 07:26] sturkmen72 commented on #16203
see my initial work https://github.com/sturkmen72/opencv/commit/fbc0fcddcd0b67d7aa046f5ecc3415f514fceb49 i did not test it well and need resize except jpeg format

[2020-01-08 07:43] #16155 closed

[2020-01-08 07:48] KevinZ1992 opened #16304 "resized img mismatch on ubuntu and mobile"
Hi,all.I tried run ML on mobile.When resize  2560x1440 img to 224x224,the result of pixels mismatch on ubuntu and mobile .The resized img with size  of 2048x1152 are all the same.

- OpenCV => 3.4.2
- Operating System / Platform => ubuntu 18.04
- Compiler => Visual Studio 2019 (version 1.41)

- OpenCV =>  3.4.2
- Operating System / Platform => Android
- Compiler => :Android Studio 3.5.3

[2020-01-08 07:58] ganesh-k13 commented on #16203
Hi, @sturkmen72 thanks for the response, do I build on this? Or you'll only commit to this issue?

[2020-01-08 08:00] Razor1O9 opened #16305 "Exception when applying forward-pass to Mask-RCNN Inception v2 Model"
### System information (version)
- OpenCV => 4.1.1
- Operating System / Platform => Windows 64 Bit
- Compiler => Qt Qreator

**Model:** mask_rcnn_inception_v2_coco; Version: 2018_01_28
**Train Config:** mask_rcnn_inception_v2_coco.config

**Code:**
[code]

____________________________________________

**Exception:**
dnn.cpp:525: (-2:Unspecified error) Can't create layer "FirstStageFeatureExtractor

[2020-01-08 08:18] Alpheron commented on #16288
@dkurt Has this issue been solved yet? I believe it is something to do with the actual internal android build pack itself because the syntax and net initialization seems correct and the Python code seems to work perfectly fine. Would you be able to explain to me what the error means and what the issue with the code is?

[2020-01-08 09:03] hannarud commented on #4539
Hi @saskatchewancatch!
You think it right. It is ok for indices to not be monotonic.
But - that's what I point out in my example - this is ok until the points which are marked by the indices really make some convex figure in the end. If you refer back to my code sample when we get the convex hull points they seem to be totally correct:

`((46 13), (42 21), (35 32), (33 34), (30 35), (29 35), (23 2

[2020-01-08 10:26] rggjan commented on #7231
@nzjrs any chance you can make a PR for this? How did you do `from _opencvutil import convertScale`?

[2020-01-08 11:30] dkurt commented on #16288
The problem us solved and the model works fine woth OpenCV 4.1.0. You need to investigate why Android version behaves differently comparing to Python - check versions, output from getBuildInformation.

[2020-01-08 11:32] #16304 closed

[2020-01-08 11:33] dkurt commented on #16304
Closing it unless we have a reproducer

[2020-01-08 11:35] dkurt commented on #16305
Looks kike we need a PR similar to this one: https://github.com/opencv/opencv/pull/15986 for Faster and Mask R-CNNs.

[2020-01-08 12:03] KevinZ1992 commented on #16304
Here are the main code and test picture, so you can&nbsp; reproduce it.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Dmitry Kurtaev"<notifications@github.com&gt;;
发送时间:&nbsp;2020年1月8日(星期三) 晚上7:33
收件人:&nbsp;"opencv/opencv"<opencv@noreply.github.com&gt;;
抄送:&nbsp;"小曼"<156162726@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [opencv/opencv] resized img mismatch on

[2020-01-08 12:25] YashasSamaga opened #16306 "dnn(permute): reduce permute to reshape (or transpose) whenever possible and work inplace"
##### System information (version)
- OpenCV => 4.2.0
- Operating System / Platform => Ubuntu 18.04
- Compiler => GCC 7.4

##### Detailed description

Vast majority of permute operations can be reduced to a reshape or a 2d-transpose. The reshape operation can be skipped entirely and the transpose operation can be efficiently performed inplace.

**Stats for single image inference:**

Model

[2020-01-08 13:00] sturkmen72 commented on #16203
feel free to create a PR i am a bit busy these days

[2020-01-08 15:37] ganesh-k13 commented on #16203
Thanks, @sturkmen72, will look into it.

[2020-01-08 17:21] #16287 closed

[2020-01-08 17:50] sivi29y opened #16307 "img.copy() doesn't work"
Different image after running this?!  I think it's a bug

plt.imshow(im)
plt.show()

img = im.copy()

plt.plot(img)
plt.show()

[2020-01-08 18:05] #16307 closed

[2020-01-08 18:21] Astone opened #16308 "Anti-aliasing error when drawing circles"
When I try to draw an anti-aliased circle in Python 3 (OpenCV 4.2.1.30) the border is incorrect. I have no idea what could have gone wrong... anyone?

[code]

This is the result (4x zoom), the issue is most noticable at the top and bottom of the circle, but the sides don't look too smooth too...

![circle](https://user-images.githubusercontent.com/127750/72004121-0a011300-324b-11ea-8e6b-7f4aa06335

[2020-01-09 02:55] Heshyo commented on #4407
The mathematical morphology library [MAMBA](https://github.com/nicolasBeucher/mamba-image) implements it, but it doesn't seem maintained anymore (it hasn't been updated for years).

[2020-01-09 03:26] jiapei100 opened #16310 "Compile DNN for OpenCV on Raspberry Pi 4?"
It's being quite a while.

**ENV**:
[code]

**ERRORS**:
[code]

[2020-01-09 05:27] dkurt commented on #16310
Please provide cmake build flags at least.

[2020-01-09 06:48] abhishek9069 opened #16311 "i,m trying to detect objects in an hsv image with the help of trackbar and mask --> res = cv.bitwise_and(frame,frame,mask=mask) TypeError: Expected Ptr<cv::UMat> for argument '%s'"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

[2020-01-09 06:55] abhishek9069 commented on #16311
here is the code
pls help me to resolve this :

def nothing(x):
    pass
cv.namedWindow("Tracking")
cv.createTrackbar("LH","Tracking",0,255,nothing)
cv.createTrackbar("LS","Tracking",0,255,nothing)
cv.createTrackbar("LV","Tracking",0,255,nothing)
cv.createTrackbar("UH","Tracking",255,255,nothing)
cv.createTrackbar("US","Tracking",255,255,nothing)
cv.createTrackbar("UV","Tracking",255,255,nothing)

[2020-01-09 07:29] alalek commented on #16311
This message means that passed parameters are not valid or not supported.
This can't be fixed in OpenCV, so you should fix your code.

Message itself has been fixed, however it may be useless (last error is showed only, not the real reason).
Latest OpenCV versions (3.4.9/4.2.0) have `OPENCV_PYTHON_DEBUG=1` environment variable which may help with investigation of such problems.

---

Usage questio

[2020-01-09 07:29] #16311 closed

[2020-01-09 07:33] abhishek9069 commented on #16311
can u tell me how can i fix my code?

[2020-01-09 08:14] jiapei100 commented on #16310
@dkurt

I only use **ccmake** instead of **cmake**.
I paste my [CMakeVars.txt](https://pastebin.com/d8kzGD4q) .

Just wonder: what's the relationship among all these packages:
opencv~caffe~libprotobuf~python3-protobuf~libprotoc
etc.

It looks it's a protobuf version conflicts?

Cheers
Pei

[2020-01-09 09:24] jiapei100 opened #16312 "error: #error This file was generated by a newer version of protoc which is"
What is the preferred version of protobuf for opencv4.2.0, particulary DNN libraries?

[code]

[2020-01-09 10:43] ashishkrshrivastava commented on #16259
@anshu0612 , have you started working on this issue ? I would like to take this issue if you haven't because I think I already got the solution.

[2020-01-09 11:08] anshu0612 commented on #16259
hi! @ashishkrshrivastava I am already working on it after going the code base and i’m near the solution. I will be sending the PR soon.
In case of need I’ll inform you. Thanks

[2020-01-09 14:57] rggjan opened #16313 "In python, cv2.addWeighted changes shape of image"
##### System information (version)
- opencv-python-headless 3.4.5.20 (from conda)
- Operating System / Platform => OSX

##### Detailed description

I would assume that running `cv2.addWeighted` preserves the shape of the array I put in. However, if the last dimension of the images is `1` (instead of missing), then that dimension is removed in the output array. See the following sample code:

#####

[2020-01-09 15:04] dkurt commented on #16313
please read https://github.com/opencv/opencv/issues/16126#issuecomment-564388040

[2020-01-09 15:05] rggjan commented on #16313
I see, thanks!

[2020-01-09 15:05] #16313 closed

[2020-01-09 15:55] bouwerp commented on #16262
@dkurt Apologies for not replying to this yet - I have been quite busy with other things on my plate. I will run the tests and provide the output as soon as possible.

[2020-01-09 19:28] LeonineKing1199 opened #16314 "CV_Assert does not properly use global namespace lookups"
If a user does something like this:
[code]
,
the code will fail to compile with failed lookup of `cv::Error`.

[code]

This is because of how the macro expands out by using `cv` without global scope resolution via `::cv`.

[2020-01-09 19:40] alalek commented on #16314
Please note that this problem is not `CV_Assert()`-specific only. Other macros should be checked too.

[2020-01-09 20:34] Rumpic opened #16315 "Hi, i get the same problem too.. help me please to slve this.. wthat's going wrong?"
Hi, i get the same problem too.. help me please to slve this.. wthat's going wrong?

[ 83%] Building CXX object modules/python3/CMakeFiles/opencv_python3.dir/__/src2/cv2.cpp.o
/Users/Myuser/OpenCV/opencv/modules/python/src2/cv2.cpp:17:10: fatal error: 'python.h' file not found
#include <python.h>
         ^~~~~~~~~~
1 error generated.
make[2]: *** [modules/python3/CMakeFiles/opencv_python3.dir/bui

[2020-01-10 06:28] smileflyfish opened #16316 "opencv android camera"
##### System information (version)

- OpenCV => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

[2020-01-10 06:29] #16316 closed

[2020-01-10 06:47] #16315 closed

[2020-01-10 06:47] dkurt commented on #16315
Please provide all the necessary information to reproduce this error (build flags and CMake output in that case). Until that let's keep it closed.

[2020-01-10 06:52] stq054188 commented on #13827
cv2.error: OpenCV(4.1.2) C:\projects\opencv-python\opencv\modules\dnn\src\layers\eltwise_layer.cpp:116: error: (-215:Assertion failed) inputs[0] == inputs[i] in function 'cv::dnn::EltwiseLayerImpl::getMemoryShapes'

This problem has been sovled! First, you need to make sure that your opencv version is consistent. Th
I solved it by changing the parameters from 300 to 640 because config is ssd_mobil

[2020-01-10 07:06] smileflyfish opened #16317 "How to open Android USB camera with QT for Android + opencv"
I'm trying to move a very simple OpenCV application to android. The code tries to access the camera from a qt for android . My qt code simply tries to access the camera using cv::VideoCapture like so:
    cv::VideoCapture cap(0); //  /dev/video0
Camera cannot be opened,Permissions are open,chmod 777 /dev/video0,The camera still doesn't open.
What did I add less? Or is my method wrong, Android can'

[2020-01-10 07:14] alalek commented on #16317
Not supported.

I believe you should take a look in direction of NDK Camera API:
- https://github.com/android/ndk-samples/tree/master/camera

There is already feature request for that. Marking as duplicate.

QT do nothing with camera.

[2020-01-10 07:20] smileflyfish commented on #16317
cv::Mat frame=cv::imread("open.jpg");
The picture can be opened and displayed normally,basic configuration should be ok.
Refer to the relevant materials, where does libnative_camera.so come from? I can't find it in opencv Android SDK. Do I need cross compilation of source code?

[2020-01-10 07:25] smileflyfish commented on #16317
Well, thank you!

[2020-01-10 07:29] #16317 closed

[2020-01-10 07:48] Alpheron commented on #16288
@dkurt I have been able to acquire the output from `getBuildInformation` and it seems to be fairly identical to the Python one that I have installed on my computer aside from the filepaths and the C++ compiler. Below is what I have received when running the `getBuildInformation` command on the app.
`General configuration for OpenCV 4.1.0 =====================================
   Version control:

[2020-01-10 07:50] Astone commented on #16308
I found out that it only occurs if the canvas is just big enough to fit the circle and only when using anti-aliased lines:
[code]
![circle_25_11_8](https://user-images.githubusercontent.com/127750/72134894-6e27f200-3385-11ea-98dc-ce230b70acaa.png)
[code]
![circle_25_11_AA](https://user-images.githubusercontent.com/127750/72134901-71bb7900-3385-11ea-90ce-ba10e5bf6be0.png)
[code]
![circle_27_11_AA](

[2020-01-10 07:58] dkurt commented on #16288
@Alpheron, So still I have concerns with you environment because
[code]
should throw
[code]

Try to delete an app from the device, rebuild the solution.

[2020-01-10 09:34] moberweger opened #16318 "Make deb package fails with dpkg-shlibdeps error"
##### System information (version)
- OpenCV => 4.2.0-dev (master)
- Operating System / Platform => Ubuntu 18.04 x86_64
- Compiler => gcc7.4.0 cmake3.10

##### Detailed description
When using the `make package` command to build a DEB package from a fresh opencv clone, the make command fails with the following error:
[code]

I already tried to follow the related issue #14115 , but without success.

[2020-01-10 10:24] steffenxonna opened #16319 "DNN: Exception "inputs.size() >= 2" on calling Forward"
### System information (version)
- OpenCV => 4.2.0 (via OpenCVSharp https://github.com/shimat/opencvsharp realesed on 08.01.2020)
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017 (C#)

### Detailed description
I have tried to use FlowNet 2.0 (https://github.com/lmb-freiburg/flownet2) to calculate the Optical Flow between two images. I'm setting two inputs and change

[2020-01-10 10:53] dkurt commented on #16319
[code]

Looks like it's expected that output of this operation returns `0.0039 * img0`. So only multiplication is performed.

Please try to replace it to `Power` layer with corresponding value of `scale`.

[2020-01-10 12:35] steffenxonna commented on #16319
Okay. This seems to bring them a bit forward. But the he are unable to create an layer of type "DataAugmentation". This type is currently not supported, right?
Same for layer type "Resample"?

[2020-01-10 13:05] JamesOldfield commented on #16203
Many thanks to both of you for providing fixes. I must admit I'm a little surprised that both of are suggesting replacing the sequence of `if` statements (quoted in my original comment) with:

    scale_denom = flags >> 3;

Although this is certainly shorter, I don't think it's *simpler*. It's not as obvious that it's correct as the original code was, and it's fragile in the face of enum values ch

[2020-01-10 14:11] ganesh-k13 commented on #16203
Sure @alalek, I'll add them. Also like @JamesOldfield suggested, do I merge the common parts of imread and imdecode?

[2020-01-10 14:17] alalek commented on #16203
Lets solve problems by one and provide small and clear patches. Added duplicated code is not huge for now.

[2020-01-10 14:26] dkurt commented on #16319
I believe there is a workaround with removing DataAugmentation and Resample layerf from prototxt and doing it using `cv::resize` out of the network (not sure for now what `DataAugmentation` does).

Anyway it must be great sample for OpenCV.

[2020-01-10 15:05] ganesh-k13 commented on #16203
Sure @alalek, infact I'll fix imdecode only and write tests for now, raise a new PR for imread. My main concern is that neither imread nor imdecode is taking care of flags like `IMREAD_REDUCED_COLOR_2`, regarding resize.

[2020-01-10 16:34] mcarpenterjr opened #16320 "Possible Bug: TypeError: descriptor 'setPreferableTarget' requires a 'cv2.dnn_Net' object but received a 'int'"
##### System information (version)

 Using the cv2 libraray in a python3.6 application, when I try to set the preferable target to CUDA using the line `cv.dnn_Net.setPreferableTarget(cv.dnn.DNN_TARGET_CUDA)` I get the following error;
[code]
I followed the 4.2 docs when determing the object to use when setting the target.

Can't really determine if it's a bug or silly mistake.Everything else runs

[2020-01-10 17:08] kunakl07 commented on #13413
Is this issue still open? I would like to work on this issue

[2020-01-10 18:10] dkurt commented on #16320
`setPreferableTarget` is not a static object of `cv::dnn::Net`. You need to create an object first.

Follow the Python samples: https://github.com/opencv/opencv/tree/master/samples/dnn

[2020-01-10 18:10] #16320 closed

[2020-01-10 19:39] sturkmen72 commented on #16203
@JamesOldfield you are right
`scale_denom = flags >> 3;` is wrong

[2020-01-10 21:26] mcarpenterjr commented on #16320
Yerp silly mistake, I just wasn't seeing it.

[2020-01-10 21:45] BadMachine commented on #16288
Similar problem here.
Tryin` to use onnx model.
Attempt to load model:
[code]
Error:

{msg="OpenCV(4.2.0-pre) F:\\OpenCV\\opencv-master\\modules\\dnn\\src\\dnn.cpp:4479: error: (-215:Assertion failed) inputs.size() in function 'cv::dnn::dnn4_v20191202::Layer::getMemoryShapes'\n"
[MODEL LINK](https://drive.google.com/open?id=1qQ5oFBk8UjzK0FAYLBaCYcGYfKMm5AXB)

[2020-01-11 00:14] liangzi2019 opened #16321 "Cross compilation failed"
### os

[code]

### cmake --version

[code]

### arm-linux-gnueabi-gcc --version

[code]

###  Compile options

[code]

###  Error message

[code]

[2020-01-11 00:14] alalek commented on #16203
You may use this image for [tests](https://github.com/opencv/opencv_extra/blob/3.4.9/testdata/cv/imgproc/stuff.jpg).

Add tests for existed `imread()` first (this feature has been landed without any tests...):
[code]

and similar cases for `imdecode()`. You may take a look on code for reading file content from [here](https://github.com/opencv/opencv/blob/3.4.9/modules/dnn/test/test_common.impl.hpp

[2020-01-11 00:23] alalek commented on #16321
Can't reproduce:
- [ARMv7](http://pullrequest.opencv.org/buildbot/builders/master_ARMv7-lin)
[code]
- [ARMv8](http://pullrequest.opencv.org/buildbot/builders/master_ARMv8-lin)

Relevant build logs are available through links.
Build images configuration through Docker and apt-get can be found here: https://github.com/opencv-infrastructure/opencv-worker-config/tree/linux/images

---

Build / usage q

[2020-01-11 01:05] alalek commented on #4705
Lets track this activity (FFI C-based bindings generation) here: #11666

[2020-01-11 01:05] #4705 closed

[2020-01-11 04:07] ganesh-k13 commented on #16203
Thanks @alalek, will do.

[2020-01-11 05:29] dkurt commented on #16288
@BadMachine, pleasae open a separate issue

[2020-01-11 07:40] Alpheron commented on #16288
@dkurt I have reconfigured my OpenCV installation on the Android device and when i only include the PB_file, it seems to throw a very similar error to what you have aforementioned with differences in the file paths. However, when I include both the Pb file and the Pbtxt it throws this error `CvException - cv::Exception: OpenCV(4.1.0) /build/master_pack-android/opencv/modules/dnn/src/dnn.cpp:692: e

[2020-01-11 08:41] BadMachine opened #16323 "(-215:Assertion failed) inputs.size() in function cv::dnn::dnn4_v20191202::Layer::getMemoryShapes"
##### System information (version)

- OpenCV => 4.2.0-pre
- Operating System / Platform => Windows 10 64 Bit
- Compiler => Visual Studio 2016

##### Detailed description

When im trying to load ONNX model im getting error:

F:\\OpenCV\\opencv-master\\modules\\dnn\\src\\dnn.cpp:4479: error: (-215:Assertion failed) inputs.size() in function 'cv::dnn::dnn4_v20191202::Layer::getMemoryShapes'\n" ...}

[2020-01-11 08:52] ganesh-k13 commented on #16203
Hi @alalek / @sturkmen72 / @JamesOldfield, there is a small problem with the enum flags, they cannot be used with `&` operators, for example:
`IMREAD_REDUCED_COLOR_2` is 17 meaning binary: `10001`
`IMREAD_REDUCED_COLOR_4` is 33 meaning binary: `100001`
This means anding them will give true which is wrong. It makes sense for greyscale because they are 16, 32 and 64.

Here is my proposed solution, p

[2020-01-11 09:38] sturkmen72 commented on #16203
@ganesh-k13 why do you think there is a problem on actual code? did you test it. i believe all `IMREAD_REDUCED_*` flags with `imread()` works fine

[2020-01-11 09:39] ganesh-k13 commented on #16203
@sturkmen72, IMREAD_REDUCED_COLOR_* is not used anywhere in the code. So this issue did not rise.

[2020-01-11 09:44] sturkmen72 commented on #16203
i am not an expert but i think there is a bitwise `and `

so no need IMREAD_REDUCED_COLOR_* in the code

[2020-01-11 09:47] ganesh-k13 commented on #16203
@sturkmen72, fair point, but if we add some flags in between, it might break something. But yeah, I think if no flags will be added, I'll go ahead with the current method and do the bitwise `and`, let me know which is best.

[2020-01-11 12:26] BadMachine commented on #16235
@VictoryDong  Did u solve it?

[2020-01-11 16:18] dkurt commented on #16288
@Alpheron, We cannot debug this app remotely.

As you experimented, Python code of OpenCV 4.1.0 works fine so you need to properly port it to Android. Check that Java and Python samples are similar, check that both .pb and .pbtxt files are the same.

[2020-01-11 17:50] YashasSamaga commented on #15987
Is anyone working on this? I have it working in 4.2.0 for a personal project. I can make a PR into 3.4 branch with the changes.

[2020-01-11 18:03] alalek commented on #15987
@YashasSamaga It will be great!

[2020-01-11 19:58] #14634 closed

[2020-01-12 04:05] nmaxwell opened #16326 "cv2.dft segmentation fault with MKL-linked numpy and opencv"
##### System information

- OpenCV => 3.3.4 + (all versions after 3.4.3, including 4.2.0)
- Operating System / Platform => Reproduced on Ubuntu 18.04 and 19.10
- Compiler => gcc-8
- Hardware => Reproduced on several intel systems, including Skylake, Coffee Lake.

##### Detailed description

We build numpy and opencv from source with MKL support. On Intel hardware, calls to cv2.dft cause a segmenta

[2020-01-12 10:12] steffenxonna commented on #16319
Thanks. That's an good idea.

`Resample` could be done outside. The largest model uses an resample nearly at the end. So i switched to the smallest version of the model. Also to reduce the complexity. Getting things work first.

`DataAugmentation` should enhance the data set. They should apply random modifications to the input data to give more variations of the same image. The parameter `augment_

[2020-01-12 13:12] Rorywh opened #16328 "Install opencv3.x using camke-gui, but got opencv 4.x instead."
##### System information (version)

- OpenCV => :3.4.0:
- Operating System / Platform => : ubuntu 18.04 :
- Compiler => : cmake 3.10.2:

##### Detailed description

<Try to install opencv3.4.0 after uninstall the previous opencv 4.1.0, but after completing installing opencv3.4.0 (downloaded from github after choosing the tag 3.4.0), I got the opencv 4.2.0 ( command  "`pkg-config --modversion openc

[2020-01-12 13:22] themechanicalcoder opened #16329 "Error in video writing tutorial"
This is a template helping you to create an issue which can be processed as quickly as possible. This is the bug reporting section for the OpenCV library.
-->

##### System information (version)

- OpenCV => 4.1.2
- Operating System / Platform => Windows 10
- Compiler => :gcc 5.1.0

##### Detailed description

I ran the [following](https://docs.opencv.org/master/d7/d9e/tutorial_video_write.html) t

[2020-01-12 13:40] #14665 closed

[2020-01-12 13:41] #16215 closed

[2020-01-12 13:53] russkel commented on #15020
I have run into this issue as well.

[code]
[code]
My guesses are it has something to do with: https://github.com/opencv/opencv/blob/master/modules/core/src/system.cpp#L1939

[2020-01-12 17:15] manusaurio commented on #15074
Tested again on several computers and configurations, version 4.2.0.

It seems it has been fixed, although I'm unsure which PR did the magic. I'm closing the issue now.

[2020-01-12 17:15] #15074 closed

[2020-01-12 19:29] nxtexe opened #16330 "Many Errors in visual studio 2019 using C++ MSVC compiler"
##### System information (version)

- OpenCV => 4.2.0
- Operating System / Platform => windows 10
- Compiler => MSVC

##### Detailed description

I am totally new to OpenCV and I've learnt C++ just to start messing with OpenCV, even though I'm new to the language and the library I've done my reading and think I have a handle on the language, the library however is a different story. Anyways, on tr

[2020-01-12 19:55] alalek commented on #16330
Dump of "Errors" view of MSVS is not useful (it is post-processed output which cuts many of useful information - consider turning off permanently, for C++ compiler at least).

Please provide:
- RAW compiler output
- full list of compiler's command line parameters

Also you may read about warnings level of MSVC [here](https://docs.microsoft.com/en-us/cpp/build/reference/compiler-option-warning-leve

[2020-01-12 20:15] nxtexe commented on #16330
Ok thanks, as for the information you requested however I'm not totally sure what you mean by RAW compiler output and there are no command line parameters.

[2020-01-13 03:10] KevinZ1992 commented on #16304
Hi,can you&nbsp; reproduce it&nbsp; or give a reply?

__________________________________________________________________

Here are the main code and test picture, so you can&nbsp; reproduce it.

------------------ 原始邮件 ------------------
发件人:&nbsp;"Dmitry Kurtaev"<notifications@github.com&gt;;
发送时间:&nbsp;2020年1月8日(星期三) 晚上7:33
收件人:&nbsp;"opencv/opencv"<opencv@noreply.github.com&gt;;
抄送:&nbsp;"小曼"<1

[2020-01-13 05:40] jnmugerwa commented on #12343
Hey -- been working on this. Want to confirm that it's still an issue?

[2020-01-13 06:34] efedoganay opened #16331 "OpenCV requires enabled 'cudev' module from 'opencv_contrib' repository"
##### System information (version)

- OpenCV => 4.2.0
- Operating System / Platform => Linux Ubuntu 18.04
- CUDA => 10.2
##### Detailed description

I am trying to build opencv 4.2.0 with cmake with the following command

 `cmake -D CMAKE_BUILD_TYPE=RELEASE \
        -D CMAKE_INSTALL_PREFIX=/usr/local \
        -D OPENCV_EXTRA_MODULES_PATH=~/opencv_contrib/modules \
        -D BUILD_TIFF=ON \

[2020-01-13 07:02] dkurt commented on #16304
@KevinZ1992, please open GitHub page and check that there is no code or links here.

[2020-01-13 07:04] dkurt commented on #16331
Have you checked that this folder exists?

[2020-01-13 07:08] KevinZ1992 commented on #16304
This is my code and test picture.
[#16304.zip](https://github.com/opencv/opencv/files/4052389/16304.zip)

[2020-01-13 07:47] Razor1O9 commented on #16305
**Greetings,**

I've tried to apply the changes from #15986 to the tf_text_graph_mask_rcnn.py by adding 'FusedBatchNorm' inside scopesToKeep. However, the described behaviour has not changed yet. Do I have to add the paramter somewhere else inside the script as well?

I already renamed the op descriptor from FusedBatchNormV3 to FusedBatchNorm, as mentioned in my first comment on this issue.

### C

[2020-01-13 07:57] efedoganay commented on #16331
Yes, both opencv_contrib and cudev folders exist.

[2020-01-13 08:01] dkurt commented on #16305
@Razor1O9, please review https://github.com/opencv/opencv/pull/15986/files more carefully. You need to add `FusedBatchNormV3` but not `FusedBatchNorm`

[2020-01-13 08:06] Razor1O9 commented on #16305
I applied graph transformation to rename all the FusedBatchNormV3 layers inside my model to FusedBatchNorm **before** using the tf_text_graph_mask_rcnn.py script. Does this not change the approach destribed in #15986? Sorry for the confusion.

[2020-01-13 08:47] efedoganay commented on #16331
Resolved the issue by manually adding the extra modules path with cmake-gui.

[2020-01-13 08:47] #16331 closed

[2020-01-13 09:14] kaanaykutkabakci opened #16332 "Run Converted .pb model by using OpenCV's DNN Module"
Hello, i have generated a .h5 model by using https://github.com/matterport/Mask_RCNN code. Then, i have converted the .h5 model to .pb by using https://github.com/bendangnuksung/mrcnn_serving_ready code.

After that, to generate .pbtxt file, i am trying to use
https://github.com/opencv/opencv/blob/master/samples/dnn/tf_text_graph_mask_rcnn.py code. I am getting following error:

  File "tf_text_gr

[2020-01-13 09:22] JamesOldfield commented on #16203
@ganesh-k13 I think you might have misunderstood how `IMREAD_` flags are allocated, and the ones related to resizing especially. It is not integer values that are assigned meaning, but instead the individual bits are assigned meaning. So there is no possibility that someone would "add some flags in between". Let me show you what bits correspond to what flags, with an example value that I will expl

[2020-01-13 09:41] ganesh-k13 commented on #16203
@JamesOldfield, thanks for the clarification, it is very clear now :)

[2020-01-13 10:20] Qengineering commented on #16310
Please follow the instructions at https://qengineering.eu/install-opencv-4.2-on-raspberry-pi-4.html
After installation, we could run cv::dnn without any glitch on a RPi 3 and 4.

[2020-01-13 10:33] dkurt commented on #16310
Let's close this issue.

Please use a forum for build / install / usage questions: https://answers.opencv.org/

[2020-01-13 10:33] #16310 closed

[2020-01-13 10:34] efedoganay opened #16333 "Could not find CUDA: Found unsuitable version "9.1" but required is exact version "10.2""
##### System information (version)

- OpenCV => : 4.2.0
- Operating System / Platform => : Linux Ubuntu 18.04
- CUDA => : 10.2

##### Detailed description

I am trying to compile (with cmake) a C++ object detection code that includes OpenCV and CUDA , however when I do that I receive an unsuitable CUDA version error. Here are the outputs of my nvidia compiler driver and nvcc version, which are dif

[2020-01-13 11:09] GPhilo commented on #15943
Hello, I can confirm that generating the file with the updated python scripts from the linked tutorial and loading them with a C++ build of OpenCV's master works. Thanks for looking into this!

[2020-01-13 11:09] alalek commented on #16333
How did you get OpenCV there?

---

Build / usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-01-13 11:21] efedoganay commented on #16333
When I build with Cmake I change CMAKE_INSTALL_PREFIX = /usr/local/ for system-wide installation.
I am not using Raspberry Pi but step 5 shows it in this link below. https://www.learnopencv.com/install-opencv-4-on-raspberry-pi/

[2020-01-13 11:22] efedoganay commented on #16333
When I build with Cmake I change CMAKE_INSTALL_PREFIX = /usr/local/ for system-wide installation.
I am not using Raspberry Pi but step 5 shows it in this link below. https://www.learnopencv.com/install-opencv-4-on-raspberry-pi/

[2020-01-13 11:38] moberweger commented on #16279
So I am closing this one, since it is more related to tensorflow. Problem is, that tensorflow does not export the `data_format` property for this simple graph, and thus `getDataLayout` does not recognize the NHWC layout.

[2020-01-13 11:38] #16279 closed

[2020-01-13 11:41] alalek commented on #16333
Next question is "when". Which version of CUDA did you have in that time?

I mean you need to rebuild anything if you change/upgrade dependencies (like CUDA upgrade 9.2 => 10.1).
It is not OpenCV specific rule, this rule is applied for any software.

[2020-01-13 11:51] alalek commented on #16333
Looks like you still have CUDA 9.1 on your system.
Consult NVIDIA how to cleanup old versions: https://devtalk.nvidia.com/

OpenCV is able to found CUDA 10.2 (perhaps due custom search scripts or command line pararmeters), but CMake 3.10 (which was released before CUDA 10.2) can't do that.
Try to upgrade CMake or help to find CUDA 10.2 through `find_package(CUDA 10.2)`.

---

Don't post screenshot

[2020-01-13 11:52] bduclaux opened #16336 "Compilation warnings in opencv4/opencv2/core/types.hpp"
##### System information (version)
- OpenCV = 4.2.0 compiled from source, and installed in /usr/local/
- Operating System / Platform = Linux - debian Buster
- Compiler = g++ 8.3.0

##### Detailed description

A compile warning error pop-ups in the core/types.hpp file
when using -Wdouble-promotion gcc compilation flag.

[code]

##### How to reproduce

Just compile the following file:
[code]
with :

[2020-01-13 11:53] moberweger opened #16337 "TF importer: StridedSlice gives different shape compared to TF"
##### System information (version)
- OpenCV == 4.2.0-dev
- python == 3.6
- Operating System / Platform == Ubuntu 18.04 x86_64
- compiler == gcc 7.4.0
- tensorflow == 1.14.0

##### Detailed description
Using a CNN model from tensorflow that contains a `Cropping2D` layer (or another layer that leads to a `StridedSlice`) does not give the correct output shapes in OpenCV:
Shape in OpenCV is: `(4, 8, 3

[2020-01-13 12:13] efedoganay commented on #16333
Yes, OpenCV can find it because I specified CUDA_TOOLKIT_ROOT_DIR as /usr/local/cuda on CMake, which is the current location of CUDA 10.2.

[2020-01-13 12:21] dkurt commented on #16337
Can you please upload a `.pb` file?

[2020-01-13 12:40] moberweger commented on #16337
You can find the graph generated from above code [here](https://drive.google.com/open?id=1VhN8rh1vldb4eaoFWx1Wf7QnEk6tPI7L) (txt and binary).

[2020-01-13 13:12] efedoganay commented on #16333
The following command was able to solve the issue. Btw I have installed CMake 3.16.
`cmake -D CUDA_TOOLKIT_ROOT_DIR=/usr/local/cuda`

[2020-01-13 13:12] #16333 closed

[2020-01-13 14:48] YashasSamaga commented on #16259
@anshu0612 any news? I have a PR to make which requires this bug to be fixed.

[2020-01-13 15:32] anshu0612 commented on #16259
**I apologize for the delay.**
@ashishkrshrivastava Please go ahead and open a PR since I am stuck with other work.
@YashasSamaga AFAIK we need to take care of max-pooling and avg-pooling layers too.

[2020-01-13 15:44] ashishkrshrivastava commented on #16259
Thankyou @anshu0612, @YashasSamaga I have already made your suggested changes. I will push PR soon.

[2020-01-13 18:13] archit120 opened #16339 "Julia Bindings for OpenCV"
## Bindings and Tests for the Julia Language

* Author: Archit Rungta / @archit120
* Link: [Raised Issue](https://github.com/opencv/opencv/issues/16233)
* Status: **Draft**
* Platforms: **All**
* Complexity: 2-3 Man-Months

## Introduction and Rationale

Julia is a popular dynamic language used for scientific and numerical computing, with performance comparable to traditional statically-typed lang

[2020-01-13 18:14] archit120 commented on #16339
I want to work on this for GSoC 2020.

[2020-01-13 18:56] nmaxwell commented on #16339
You could also consider using the xtensor family [1-5]. The basic idea would be to write an xtensor-based C++ wrapper around opencv, then get python, Julia, and R bindings, almost for free. If/when the xtensor folks support Matlab bindings, you would then get those too.

1. [xtensor vision](https://towardsdatascience.com/the-xtensor-vision-552dd978e9ad)
2. [xtensor](https://github.com/xtensor-stac

[2020-01-13 22:18] cmooreml opened #16340 "Building iOS Framework on Mac OS Catalina (10.15.2 (19C57))"
##### System information (version)

- OpenCV => 3.4.7
- Operating System / Platform => Mac OS Catalina (10.15.2 (19C57))
- Compiler => Cmake

##### Detailed description

Cannot compile iOS framework on Mac OS Catalina - Readme: https://github.com/opencv/opencv/tree/master/platforms/ios

##### Steps to reproduce

Maybe this has to do with SIP (System Integrity Protection) Read only, when I try to c

[2020-01-13 22:28] cmooreml commented on #16340
May have to do with the iOS.cmake

[code]

[2020-01-13 22:57] MoBaT opened #16341 "Python's initUndistortRectifyMap() produces different results than C++'s"
##### System information (version)
- OpenCV => 4.1.1
- Operating System / Platform => Ubuntu 16.04 64bit
- Compiler => GCC 5.4.0 20160609

##### Detailed description

When running initUndistortRectifyMap() in C++, it produces different results than in Python. My python result seems to be the correct one.

##### Steps to reproduce
Run this C++ code and compare the rm1 and rm2 with the python below

[2020-01-14 00:12] alalek commented on #16340
Ignore this step.
Could you add link on documentation with this step?

---

Ensure that CMake is properly installed (try `cmake --version`).

---

I believe we should cleanup that unused code.

[2020-01-14 00:46] cwreynolds opened #16343 "“y” argument to moveWindow() being ignored?"
##### System information (version)
- OpenCV => 4.1.2
- Operating System / Platform => macOS Catalina 10.15.2
- Compiler => Xcode / clang / c++

##### Detailed description

(I must be doing something wrong. This seems too obvious to be a _real_ bug.)

Running a version of OpenCV 4.1.2, recently installed (via homebrew) on macOS Catalina 10.15.2, I tried to show several images in individual windows.

[2020-01-14 00:58] alalek commented on #16343
Which GUI backend is used? (check `getBuildInformation()`)

There is corresponding code for these backends:
- [COCOA](https://github.com/opencv/opencv/blame/69020da607026ac9431f5c8e4e0af3a19ad18420/modules/highgui/src/window_cocoa.mm#L279-L280)
- [Carbon](https://github.com/opencv/opencv/blame/3.4.9/modules/highgui/src/window_carbon.cpp#L462)

[2020-01-14 01:27] cmooreml commented on #16340
It seems the instructions got updated on 3.4.7 branch had old instructions:

https://github.com/opencv/opencv/blob/master/doc/tutorials/introduction/ios_install/ios_install.markdown

I confirmed I had invalid cmake installation and it works now, thank you very much... easy solution.

[2020-01-14 01:27] #16340 closed

[2020-01-14 01:28] cwreynolds commented on #16343
Thanks for looking at this. Down below it says **GUI: Cocoa: YES**:

[code]

[2020-01-14 03:30] syaheedz commented on #15248
Can I have the example of the inferencing code in Python using gaze-estimation-adas-0002?

[2020-01-14 06:09] asmorkalov commented on #16168
@sturkmen72 @alalek cvtColor GRAY2BGR multiplies per-channel values on different coefficient. So, the proposed iptimization is not equivalent to original code. I porpose to use https://github.com/opencv/opencv/pull/16285 instead of https://github.com/opencv/opencv/pull/16199

[2020-01-14 07:02] asmorkalov commented on #14335
@bobatious Do you have any progress with the issue fix?

[2020-01-14 07:18] VictoryDong commented on #16235
Not yet

[2020-01-14 07:29] asmorkalov commented on #5554
@PhilLab Is the issue still relevant?

[2020-01-14 07:48] asmorkalov commented on #5205
Fixed in https://github.com/opencv/opencv/pull/15658

[2020-01-14 07:48] #5205 closed

[2020-01-14 07:54] asmorkalov commented on #4953
Ximea Cameras support is enabled in 3.4 and master branches.

[2020-01-14 07:54] #4953 closed

[2020-01-14 08:09] asmorkalov commented on #4952
Attaching repro image:
[14258396366902398.zip](https://github.com/opencv/opencv/files/4057994/14258396366902398.zip)

[2020-01-14 08:11] asmorkalov commented on #4929
Native camera is not supported on Android any more.

[2020-01-14 08:11] #4929 closed

[2020-01-14 08:16] asmorkalov commented on #16203
https://github.com/opencv/opencv/pull/16309

[2020-01-14 08:24] #15589 closed

[2020-01-14 08:36] asmorkalov commented on #13602
@alalek what should be done for the ticket: documentation update or border mode support in code?

[2020-01-14 08:40] asmorkalov commented on #9891
After offline meeting with @alalek @vpisarev @asmorkalov @vladimir-dudnik @VadimLevin it was decided to stay with existing interface. Closed.

[2020-01-14 08:40] #9891 closed

[2020-01-14 08:47] asmorkalov commented on #8057
@alalek I think we can close it, right?

[2020-01-14 08:56] PhilLab commented on #5554
@asmorkalov I just tested it with 3.4.3 , executed it 30 times in the same thread and 30 times in different threads and it did not crash. Maybe fixed.

[2020-01-14 08:56] #5554 closed

[2020-01-14 08:56] asmorkalov commented on #5931
@alalek I think we can close it, right?

[2020-01-14 09:25] berak commented on #5153
imho we can close this, as of now (4.2/3.4), all java (and python) ml classes have proper static load functions.

[2020-01-14 09:33] asmorkalov commented on #5554
Ok, I close the ticket.

[2020-01-14 09:49] asmorkalov commented on #16168
@alalek My fault, I screwed up and looked inside another piece of code (another window). Yes, cvtColor is more efficient for this.

[2020-01-14 11:15] dustsigns commented on #9891
May I ask what the reason is for this decision?

[2020-01-14 11:26] raxetul commented on #9981
At least it would be better redirecting to a solution. It is quite acceptable not mixing SDKs, libraries but solution should not be hard to find.

[2020-01-14 11:58] jiapei100 commented on #16310
Problem solved by https://github.com/opencv/opencv_contrib/issues/2408

[2020-01-14 12:15] #5153 closed

[2020-01-14 12:56] Razor1O9 commented on #16305
**Solved:**
I had to replace all mentions of FusedBatchNormV3 inside the name attribute of all nodes.
It was not enough to replace the op name.

**Example:**

name: "FeatureExtractor/MobileNetV2/expanded_conv_2/project/BatchNorm/**FusedBatchNormV3**"
op: "FusedBatchNorm" // this has the right name, due to the graph transformation mentioned below

The bold names have to be replaced, this solves the

[2020-01-14 12:56] #16305 closed

[2020-01-14 13:00] #15244 closed

[2020-01-14 13:02] dkurt commented on #16305
@Razor1O9, please open a PR with mentioned fix to `tf_text_graph_mask_rcnn.py`. Thanks in advance!

[2020-01-14 15:01] kevinhanna opened #16347 "Phishing link in documentation"
### System information (version)
- OpenCV => 3.4.1

##### Detailed description

Under additional details "An interesting interview regarding Face Detection by Adam Harvey" links to a site and redirects a few times currently ending with a page reporting "You're 1 of 100 selected by Google to win a phone" and tries to get CC info.

Found in markdown here:
https://github.com/opencv/opencv/blob/9ec3d7

[2020-01-14 15:25] alalek commented on #16347
Mentioned file has link guarded by `webarchive`: https://web.archive.org/web/20171204220159/http://www.makematics.com/research/viola-jones/

Problem file version is [here](https://github.com/opencv/opencv/blame/3.4.1/doc/py_tutorials/py_objdetect/py_face_detection/py_face_detection.markdown) - its content is not available in actual 3.x/4.x versions.

[2020-01-14 16:23] #11426 closed

[2020-01-14 16:24] #16168 closed

[2020-01-14 16:24] lucaspojo opened #16348 "GPU not working with DNN_BACKEND_OPENCV"
##### System information (version)
- OpenCV => 4.1.2
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2017
- Cuda => 10.2

Hello !

I use darknet Yolo for object detection and it works very well. Unfortunately with the CPU it's very slow! I can make Darknet.exe work on the GPU but not in python.

[code]

Output :

The execution doesn't crash but it's the CPU that does th

[2020-01-14 21:18] VisheshKhosla commented on #15989
Hi  I am Vishesh,I would like to contribute to this issue.

[2020-01-15 00:24] jiapei100 commented on #15930
So unlucky... Mine is 5.2

[2020-01-15 01:07] hoboh commented on #13000
I faced the same problem

`main.cpp:(.text+0x113): undefined reference to `cv::imread(std::string const&, int)'
main.cpp:(.text+0x179): undefined reference to `cv::imread(std::string const&, int)'
main.cpp:(.text+0x567): undefined reference to `cv::imshow(std::string const&, cv::_InputArray const&)'
main.cpp:(.text+0x856): undefined reference to `cv::imshow(std::string const&, cv::_InputArray cons

[2020-01-15 02:10] alalek commented on #15930
@jiapei100 You may validate this patch #16218 on your configuration.

[2020-01-15 03:32] BadMachine commented on #16348
@lucaspojo what is your hardware configuration?
Its important `cuz if you are using nVidia card its better to use Cuda backend/target.

[2020-01-15 03:39] BadMachine commented on #16341
@MoBaT  May i ask u why in first example you are using [cv::initUndistortRectifyMap](https://docs.opencv.org/4.1.2/d9/d0c/group__calib3d.html#ga7dfb72c9cf9780a347fbe3d1c47e5d5a)
but in second [cv2.fisheye.initUndistortRectifyMap](https://docs.opencv.org/4.1.2/db/d58/group__calib3d__fisheye.html#ga0d37b45f780b32f63ed19c21aa9fd333) ?

[2020-01-15 05:16] saskatchewancatch commented on #16343
I think there may be a clue here: [window_cocoa.mm Line 290](https://github.com/opencv/opencv/blob/master/modules/highgui/src/window_cocoa.mm#L290) in the Cocoa handling of `moveWindow`

`y = [[window screen] frame].size.height - y;` ? Maybe this explains why all the windows are anchored to the top (I think that's what I see in your screenshot).

What do you think @cwreynolds ? I don't do iOS so w

[2020-01-15 09:17] #16288 closed

[2020-01-15 12:19] jiapei100 opened #16355 "error: no match for ‘operator[]’ (operand types are ‘const google::protobuf::RepeatedField<long int>’ and ‘int’)"
BUILD_PROTOBUF OFF
PROTOBUF_UPDATE_FILES ON

**caffe** has been manually built and installed, with the default repo protobuf, say **protobuf3.0.0-9**. I believe this is still protobuf conflicts.

So, which protobuf supports **RepeatedField**?
**::google::protobuf::RepeatedField< ::google::protobuf::int64>**

[code]

[2020-01-15 12:46] lucaspojo commented on #16348
@BadMachine Sorry, my config :
Proc : i7 9700K
CG   : GeForce RTX 2060
RAM : 16Go DDR4
CUDA VERSION : v10.2

[2020-01-15 13:48] bvnp43 commented on #16149
this code stopped working after moving from 4.1.2 to 4.2.0

[code]

[2020-01-15 14:01] pfeatherstone opened #16359 "Memory version of VideoWriter"
Could there be a raw memory version of VideoWriter, call it MemoryWriter, with a callback that gets called when the object is about to write the encoded stream.
VideoWriter could simply use MemoryWriter with a callback set to a file writer.
A raw memory version of VideoWriter would be very useful for forwarding encoded streams over a network for example.

[2020-01-15 14:29] alalek commented on #16359
OpenCV is not Media I/O library.
Consider using of FFmpeg or GStreamer frameworks for your task directly.

[2020-01-15 14:29] #16359 closed

[2020-01-15 14:33] simoncrowe opened #16360 "VideoCapture.read reports success on nonexistent frames in opencv-python"
- OpenCV => 4.1 (opencv-python-headless 4.1.1.26)
- Operating System / Platform => AWS ec2 instance running Ubuntu 18.04 AMI
- Compiler => Whatever opencv-python uses to build the wheel

##### Detailed description

We encountered this bug at my place of work when extracting frames from a large number of videos. A cv2.VideoCapture instance from the opencv-python library would report success on read

[2020-01-15 14:33] alalek commented on #16355
We really don't want to support ancient protobuf versions, so low priority.

[2020-01-15 14:48] alalek commented on #16360
Setting of `CAP_PROP_POS_FRAMES` is buggy: #9053

[2020-01-15 14:48] #16360 closed

[2020-01-15 14:55] BadMachine commented on #16348
@lucaspojo then make sure that your OpenCV built with CUDA support and try to use
net.setPreferableBackend(cv2.dnn.DNN_BACKEND_CUDA)
net.setPreferableTarget(cv2.dnn.DNN_TARGET_CUDA).
[Details](https://gist.github.com/YashasSamaga/a84cf2826ab2dc755005321fe17cd15d)

[2020-01-15 15:02] pfeatherstone commented on #16359
OpenCV has a videoio module so it seems to fit well.
Also OpenCV is not really a neural network library either but has a dnn module...

[2020-01-15 15:36] soyjorge commented on #15248
Hi!! Thanks @RobbeDePrins  for the heads up...

Though I'm getting the following error:
`
cv2.error: OpenCV(4.1.2-openvino) /home/jenkins/workspace/OpenCV/OpenVINO/build/opencv/modules/dnn/src/dnn.cpp:2982: error: (-204:Requested object was not found) Requested blob "left_eye_image " not found in function 'setInput'
`
I've entered input name as you suggested, which matches instructions from:
http:

[2020-01-15 15:50] patrikhuber commented on #5931
@asmorkalov Did the situation improve, is it now possible to request e.g. OpenCV 3 or 4 in an easy way and either of them will be found by your CMake module?

This is very relevant for projects only using basic OpenCV features like `cv::Mat`, `cv::VideoInput`, maybe some simple image processing and stuff. Any version of OpenCV (e.g. 3.x or 4.x) will work for such projects.

[2020-01-15 16:25] alalek commented on #5931
CMake has `OPTIONAL_COMPONENTS` option, which can be used in this way:

[code]

but I'm not sure if OpenCV 2.4.x can handle that properly.

[2020-01-15 16:45] patrikhuber commented on #5931
I think you can forget about 2.4.x by now, but it would be nice if it could be gracefully handled across 3 and 4 :-)

[2020-01-15 18:01] cwreynolds commented on #16343
@saskatchewancatch @alalek

Thanks. Before I saw your note I was thinking the same thing. There is very little that goes on in that Cocoa-specific function besides flipping the y coordinate. I know next to nothing about the macOS native windowing system. When I web searched I [saw](https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/CocoaDrawingGuide/Transforms/Transforms.ht

[2020-01-15 18:07] jiapei100 commented on #16355
@alalek
OK... does that mean I'll have to enable BUILD_PROTOBUF ON always?

[2020-01-15 19:11] lucaspojo commented on #16348
@BadMachine I compiled opencv with cuda and it works, thank you!
On the other hand I have a very low performance gain.
-> CPU -> 4FPS -> 80% usage
-> GPU -> 11FPS - > 11% usage

[2020-01-15 19:18] bobatious commented on #14335
I do have a patch with fix to the fatal error / memory access problem.

However the algorithm still does not produce proper results. E.g. number of
segments found does not increase monotonically when threshold is lowered.
So I did not integrate my change yet.

Meanwhile, after much followup with Intel/IPP people, the IPP (Intel
library) implementation has been fixed for the same kind of memory acc

[2020-01-15 19:20] #16330 closed

[2020-01-15 20:10] MoBaT commented on #16341
Because I'm a dumbass..

[2020-01-15 20:11] #16341 closed

[2020-01-15 22:58] BadMachine commented on #16348
@lucaspojo windows + visual studio?

[2020-01-15 23:03] BadMachine commented on #16348
@lucaspojo
My conf:
CG : GeForce RTX 2060 SUPER
RAM : 16GB DDR4
CUDA VERSION : v10.1

First of all for monitoring your GPU use specialized soft (for ex. ASUS GPU Tweak)
Are you sure that u compiling your project in release mode?)
My fps in:
debug - 12:15
release - 20:25

[2020-01-15 23:10] BadMachine commented on #16341
@MoBaT  *** happening)

[2020-01-15 23:25] lucaspojo commented on #16348
Compile my project? I use python so there is no compiling, I must not understand.
I make u a video : https://www.youtube.com/watch?v=ea13TxSe3rc

I don't understand, with Darknet.exe I can get up to 100 FPS with yolov3.weight

[2020-01-15 23:32] BadMachine commented on #16348
@lucaspojo sorry, forgot u r using python.
Can u share a bit more code with dnn forwarding and calculating fps?

I do not know what is "Darknet.exe", but bet on pauses and lack of parallel threads.

[2020-01-15 23:43] lucaspojo commented on #16348
Github of darknetYolo : https://github.com/lucaspojo/darknet
Demo of darknetYolo with mu current config : https://www.youtube.com/watch?v=2qyGW-fyxV0

The video demo file is **1280x720 with ~60FPS**  and with my Python test it's **200x200 with 15FPS**

My code : https://pastebin.com/vkcZxrPS

Thank you for taking the time to answer me :)

[2020-01-15 23:56] jiapei100 commented on #16355
@alalek

Now, it seems my protoc is **TOO NEW** again???

The build **ERROR** message:

[code]

[code]

So, just let me know, which version exactly should I use? Or **have to** use the **protobuf** under **3rdparty**?

[2020-01-16 00:28] BadMachine commented on #16348
My clue is that original code using optimization with multithreading

[2020-01-16 02:06] alalek commented on #16355
Why are you cut filename and compiler command line?

There is no such line in OpenCV sources.
This code is generated by `protoc` (at least by 3.5.x) and stored in "misc" folder:
- They must be used with the same version of protobuf.
- They must not be used when "PROTOBUF_UPDATE_FILES=ON".

So, you have mess with headers due mis-configured build environment. This unlikely can be fixed by OpenCV.

M

[2020-01-16 03:02] BadMachine commented on #16348
@lucaspojo could you replace
[code]
to
[code]
?

[2020-01-16 03:04] jiapei100 commented on #16355
@alalek

In fact, so many files contain  **PROTOBUF_FINAL**

https://github.com/opencv/opencv/blob/master/modules/dnn/misc/onnx/opencv-onnx.pb.h
https://github.com/opencv/opencv/blob/master/modules/dnn/misc/caffe/opencv-caffe.pb.h

Yes, I've got to enable **PROTOBUF_UPDATE_FILES=ON**, which seems to generate new files using a new version of **protoc**.

Thank you .... Problem solved...

[2020-01-16 03:04] #16355 closed

[2020-01-16 03:38] hoboh commented on #13000
@alalek I also tried u mentioned

It shows
`Linking CXX executable lbd_mod_test
/usr/local/bin/cmake -E cmake_link_script CMakeFiles/lbd_mod_test.dir/link.txt --verbose=1
/usr/bin/c++    -rdynamic CMakeFiles/lbd_mod_test.dir/main.cpp.o  -o lbd_mod_test -Wl,-rpath,/home/sy/code/lbdmod-master/build:/usr/local/lib liblbd_mod.so /usr/local/lib/libopencv_highgui.so.4.1.0 /usr/local/lib/libopencv_videoi

[2020-01-16 03:45] YashasSamaga commented on #16348
@lucaspojo can you try running this code and report what FPS you get:

[code]

[2020-01-16 04:43] asmorkalov commented on #14335
@bobatious could you attach your implementation/fix to the ticket. It can be useful if somebody will try to help you with the issue.

[2020-01-16 06:17] FX-HAO commented on #5150
[code]
It worked for me with python3

[2020-01-16 08:51] alalek commented on #13000
I believe there is mess with `std::string` vs `std::__cxx11::string`.
Check compiler command line options too (before linking).

Try `-std=c++11` or other options from the comments above.

[2020-01-16 09:31] dkurt commented on #16304
@KevinZ1992, we cannot due to broken .zip archive. Please check it.

[2020-01-16 09:36] KevinZ1992 commented on #16304
[#16304.zip](https://github.com/opencv/opencv/files/4070333/16304.zip)
Sorry,please check again.

[2020-01-16 10:32] dkurt commented on #16304
JPEG is not bitexact format which can lead to different decoded images with different versions of libjpg and target platforms.

[2020-01-16 10:50] hoboh commented on #13000
It has been set in the CMakeLists.txt

if(${CMAKE_VERSION} VERSION_LESS "3.1")
    include(CheckCXXCompilerFlag)
    CHECK_CXX_COMPILER_FLAG("-std=c++11" COMPILER_SUPPORTS_CXX11)
    CHECK_CXX_COMPILER_FLAG("-std=c++0x" COMPILER_SUPPORTS_CXX0X)
    if (COMPILER_SUPPORTS_CXX11)
        set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11")
    elseif (COMPILER_SUPPORTS_CXX0X)
        set(CMAKE_CXX_FL

[2020-01-16 10:58] guapimaomao opened #16364 "how to define a layer in python？Caffe"
##### System information (version)

- OpenCV => 4.2
- Operating System / Platform =>Windows 64 Bit
- Compiler => Visual Studio 2015

##### Detailed description

##### Steps to reproduce

[2020-01-16 11:06] alalek commented on #13000
How did you get OpenCV binaries?

Please dump symbols:

- from OpenCV on your machine:
[code]
- from your app:
[code]

[2020-01-16 11:13] hoboh commented on #13000
The result is as follows:

000000000006b700 T _ZN2cv6imreadERKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEEi

                 U _ZN2cv6imreadERKSsi

[2020-01-16 11:17] hoboh commented on #13000
I also tried "g++" instead of "make", it turns

In file included from main.cpp:22:0:
cpp/src/precomp.hpp:54:36: fatal error: opencv2/core/utility.hpp: No such file or directory
 #include "opencv2/core/utility.hpp"

[2020-01-16 11:19] alalek commented on #13000
So, `-std=c++11` is not applied during build of `liblbd_mod.so`.

[2020-01-16 11:32] hoboh commented on #13000
I add
`CXXFLAGS := -std=c++11`

in the Makefile, it also doesn't work.

[2020-01-16 12:31] szymonkowalewski commented on #11797
Hi,

Have you managed to solve that problem?

kr,
Szymon

[2020-01-16 12:33] hoboh commented on #13000
It seems that the opencv libraries are messed up, but I didn't figure out how to resolve it.

[2020-01-16 12:40] luxianjun opened #16365 "I want to build opencv on arm64,but there is an error,anyone konws how to solve it?"
[root@localhost build]# pwd
/home/opencv-4.1.2/build
[root@localhost build]#
[root@localhost build]#
[root@localhost build]#
[root@localhost build]# cmake -D WITH_TBB=ON -D WITH_EIGEN=ON ..

-- Configuring done
-- Generating done
-- Build files have been written to: /home/opencv-4.1.2/build
[root@localhost build]#make -j 64
/tmp/ccbfOf64.s: Assembler messages:
/tmp/ccbfOf64.s:69: Error: register n

[2020-01-16 12:55] lucaspojo commented on #16348
@YashasSamaga i ~get 45 FPS with your code
@BadMachine cv2.waitKey(0) do nothing =/

[2020-01-16 12:57] vpisarev commented on #16233
@archit120, thank you! Added to the list of evolution proposals: https://github.com/opencv/opencv/wiki/OE-31.-Julia-Bindings

[2020-01-16 13:03] vpisarev commented on #16339
thank you; moved here: https://github.com/opencv/opencv/wiki/OE-31.-Julia-Bindings

[2020-01-16 14:05] dkurt commented on #16364
Please follow https://docs.opencv.org/master/dc/db1/tutorial_dnn_custom_layers.html

[2020-01-16 14:05] #16364 closed

[2020-01-16 14:30] dkurt commented on #16348
@YashasSamaga, I think it's because of NMS. @lucaspojo, try to set nms threshold to zero in the `.cfg` file.

[2020-01-16 16:44] YashasSamaga commented on #16348
@lucaspojo How are you measuring darknet fps?

Set `nms_threshold=0` in all `yolo` blocks in network configuration.

You can get some more speed by using `DNN_TARGET_CUDA_FP16`.

[2020-01-16 18:41] DarthGecko commented on #14866
This solution did not work for me. However, I did find one that does.
I converted my numpy array to a cv2.Umat object and then used it's get() method to get it back as a numpy array then saved the it back to the original variable. Somehow this cleaned(?) the data and made rectangle() work again.
`image = cv2.UMat(image).get()`

[2020-01-16 20:17] Bfzanchetta commented on #8139
I installed numpy again using sudo and -U option.
I applied $sudo pip3 install -U numpy
Then it just worked.

[2020-01-17 02:38] luxianjun commented on #16365
upgrade gcc to version 7.3.0

[2020-01-17 02:38] #16365 closed

[2020-01-17 02:43] UnaNancyOwen opened #16370 "DNN: Required argument "split" not found into dictionary"
##### System information (version)
- OpenCV => 4.2.0
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

##### Detailed description
I'm trying to inference classification model trained on [Custom Vision](https://www.customvision.ai/) of Azure Cognitive Services using OpenCV DNN module.
Custom Vision can download trained ONNX model. The following error occurs when read

[2020-01-17 02:50] alalek commented on #16370
Could you please attach .onnx model file (google drive link or attach .zip file) which can be used to reproduce problem? (you may use random weighs)

[2020-01-17 02:53] UnaNancyOwen commented on #16370
model.onnx can be downloaded from [here](https://github.com/opencv/opencv/files/4074830/model.zip). (zip file)

[2020-01-17 02:57] eguoguo321 commented on #10032
Thank U VERY MUCH,IT troubles me a lot fo time

[2020-01-17 03:51] dkurt commented on #16180
I believe that mask parameter is what you are looking for: https://docs.opencv.org/master/df/da0/group__photo__clone.html#ga2bf426e4c93a6b1f21705513dfeca49d

Let's close this issue. Usage questions should go to forum and at least there should be origin images so other users who can help you can reproduce the experiment.

[2020-01-17 03:51] #16180 closed

[2020-01-17 05:15] apolotsk commented on #11797
Hi Szymon. Unfortunately, not. Also, issue #13414 seems to be related and is more active.

[2020-01-17 08:47] V-ini-t86 commented on #15656
Hi @terfendail I would like to contribute to this issue. I will create a guideline for universal intrinsics.

[2020-01-17 09:14] f-sky opened #16371 "How to access detail_ImageFeatures.keypoint correctly in python?"
I'm trying to use class ImageFeatures in python, but I cannot access keypoint attribute in cv2.detail_ImageFeatures. What should I do?
I'm working on MacOS with python 3.7 and opencv-python 4.1.2.30
Here is my code:
[code]

[2020-01-17 10:22] ljere commented on #16292
I would suggest you use the book "Learning OpenCV" by Adrian Kaehler and Gary Bradski as a reference  to improve the documentation. In the book the meaning of R and T are explained in detail.

[2020-01-17 11:18] Palmitoxico opened #16373 "Bus fault when importing ONNX model on Android"
##### System information (version)
- OpenCV => 1a74de1f9c7a3e1c8409a8b8e20c1f992f614e4a (4.2)
- Operating System / Platform => Android 4.4.4 amv7l
- Compiler => Android NDK r18b (clang, Android API level = 16)
- Optmization => -DCMAKE_BUILD_TYPE=Release (-Oz)

##### Detailed description

I'm getting a SIGBUS when loading an ONNX model on Android (armv7l), this problem only occurs when building wit

[2020-01-17 11:37] alalek commented on #16373
Right, ARMv7 doesn't tolerate unaligned memory access (unchecked `char*` => `int64_t*`).

[2020-01-17 12:06] alalek commented on #11797
Try to override group size in OpenCV through environment variable [`OPENCV_OPENCL_DEVICE_MAX_WORK_GROUP_SIZE`](https://github.com/opencv/opencv/blame/3.4.9/modules/core/src/ocl.cpp#L1278).

[2020-01-17 12:28] tompollok commented on #16306
Whats the expected performance gain?

[2020-01-17 12:35] lucaspojo commented on #16348
I have a better performance with **DNN_TARGET_CUDA_FP16**
@YashasSamaga I can't find nms_threshold. It's in yolo.cfg ?

[2020-01-17 13:44] alalek commented on #16373
@Palmitoxico Thank you for the report and investigation!
Could you please try this patch: #16377 ?

[2020-01-17 15:56] Palmitoxico commented on #16373
@alalek The #16377 patch doesn't solve the issue, still getting SIGBUS when deferencing the src pointer. Are the ```unaligned_int64_t``` type supposed to force the compiler to access the data in a byte-per-byte basis?

[2020-01-17 16:04] YashasSamaga commented on #16306
@tompollok Not much. The CUDA backend already reduces permute to 2d-transpose and reshape (which in turn leads to raw memory copy). If other backends support the optimization, it will allow the permute layers which reduce to reshape to be fully skipped and permutes that reduce to a transpose to be performed inplace.

[2020-01-17 16:07] alalek commented on #16373
Thank you! This doesn't work because templates can't handle attributes properly.
Please validate updated patch.

[2020-01-17 16:25] Palmitoxico commented on #16373
@alalek #16377 works now, thanks!

[2020-01-17 16:35] YashasSamaga commented on #16348
@lucaspojo You need to add `nms_threshold=0` entry at the end of every `[yolo]` block in the cfg file. You can expect 45FPS to hit ~60FPS in FP32. You can find more details about this [here](https://github.com/opencv/opencv/pull/14827#issuecomment-568156546).

A quick look at the darknet code reveals that it uses a separate threads for IO and detection. The python code you presented does IO and in

[2020-01-17 17:59] BadMachine commented on #16348
@YashasSamaga
" ...is less accurate..." means  less decimal precision?

[2020-01-17 19:45] jaqif commented on #15074
Reproduce on 4.2.0 using this https://github.com/mit-han-lab/temporal-shift-module/tree/master/online_demo.

[ WARN:0] global /tmp/build_opencv/opencv/modules/videoio/src/cap_gstreamer.cpp (480) isPipelinePlaying OpenCV | GStreamer warning: GStreamer: pipeline have not been created

[2020-01-17 20:12] Lalit-garg commented on #15927
Surely,we can use this to convert 3 channels to 4 channels
**image = cv2.cvtColor(image, cv2.COLOR_BGR2RGBA)**
And similarly if we can convert into 3 channels .
So, we use RGBA2BGR

[2020-01-17 20:50] jpapadakis commented on #16326
I installed OpenCV (4.1.1) and Numpy from source with MKL and am seeing the same behavior on Ubuntu 18.04.

[2020-01-18 01:35] molyswu commented on #16331
How to adding the extra modules path with cmake-gui?

Thank!

[2020-01-18 02:45] YashasSamaga commented on #16348
@BadMachine Yes, but the errors from each layer can accumulate and give a big error at the end. It depends on the model. YOLO does quite well in FP16.

[2020-01-18 05:47] BadMachine commented on #16348
@ gotcha.
Just as I thought... I thought it is because tails in the weights at each layer are discarded. This affects the output at the last layer.
PS: Thank you so much for cuda backend realization! Cheers!

[2020-01-18 12:26] jiapei100 opened #16379 "dnn net.forward() -- munmap_chunk(): invalid pointer"
Testing [openvino_fd_myriad.py](https://docs.openvinotoolkit.org/latest/_docs_install_guides_installing_openvino_raspbian.html), but it went DOWN at **out = net.forward()**.

[code]

[code]

[2020-01-18 14:33] MinaSGorgy commented on #12343
I stopped working on it when I got no reply.

[2020-01-18 14:57] VisheshKhosla commented on #15989
I spent some time around this issue and i figured out that the API CAP_PROP_ZOOM works only if the camera that you are using has a zoom feature in it. Web cams usually don't have the zoom feature within them that is why the statement is returning false.

[2020-01-18 17:38] dkurt commented on #16379
Please add the details: OpenVINO version, system configuration and everything which may help others to indicate the problem and resolve it in case of problems on software side.

Unlti that, let me close it as incomplete.

[2020-01-18 17:38] #16379 closed

[2020-01-18 17:59] jnmugerwa commented on #12343
Gotcha. I'll see if I can make some headway :)

[2020-01-18 18:27] brian208579 opened #16380 "Could NOT find CUDNN (missing: CUDNN_LIBRARY CUDNN_INCLUDE_DIR)"
OS: win10 ( 64bits )
Cuda : 10.2
Cudnn : 7.6.5
Opencv: github latest

When I use cmake-gui I get this information :

**Could NOT find CUDNN (missing: CUDNN_LIBRARY CUDNN_INCLUDE_DIR) (Required is at least version "7.5")**
![cudnn_problem_1](https://user-images.githubusercontent.com/43407888/72668482-583fbe80-3a62-11ea-89ec-a14ea47f8723.png)

and

**cuDNN : NO**
![cudnn_problem_2](https://user-imag

[2020-01-18 19:48] Cogitri commented on #15020
I doubt that it's on that file, it's talking about `unistd.h`'s read:

[code]

Looks like it is Alpine specific stuff.

No, it's not Alpine specific. This happens due to Alpine including a few security C{XX,PP,}FLAGS by default and ` -D_FORTIFY_SOURCE=2` is what triggers this.

[2020-01-19 02:22] russkel commented on #15020
So the solution is to turn off FORTIFY_SOURCE?

[2020-01-19 02:37] vasanthhr opened #16381 "Opencv Build: Libs and Modules are not generating for imgcodec and highgui even though its enabled in build_js.py"
I enabled "-DBUILD_opencv_imgcodecs=ON" and  "-DBUILD_opencv_highgui=ON" in build_js.py and then executed the build command as mentioned below, but /build/lib folder doesn't have **libopencv_imgcodecs.a** and  **libopencv_highgui.a** files.
Under build/modules,  **opencv_imgcodecs.dir/src** and **opencv_highgui.dir/src** folders are having no files in it.

I observed one thing here: inside **openc

[2020-01-19 03:13] MGarvinNYC opened #16382 "Enabling Cmake option OPENCV_ENABLE_NONFREE generates a make error in opencv_cudaarithm"
Something within OpenCV's NONFREE library is triggering a fatal make error.  The error message does not provide many clues:

[ 51%] Linking CXX shared library ../../lib/libopencv_cudaarithm.so
[ 51%] Built target opencv_cudaarithm
Makefile:162: recipe for target 'all' failed
make: *** [all] Error 2
m@DarkMatter:/DM_Util/_INSTALL_LINUX/OpenCV_4/OpenCV_4.2.0_2020jan16/opencv/build$

Line 162 in the

[2020-01-19 04:31] manusaurio commented on #15074
The warning itself never was the issue, @jaqif, but the fact that the program freezes and ends with a crash dump.

[2020-01-19 06:24] jiapei100 commented on #16379
@dkurt

Hi, sorry dkurt.

I'm testing OpenCV 4.2.0 on an raspberrypi4 with raspbian 2019-09-26.
OpenVINO is of version 2019.R3.1 ...
And I did have OpenCV successfully built with OpenVINO's inference_egine ....

[2020-01-19 06:49] #16312 closed

[2020-01-19 06:50] #16057 closed

[2020-01-19 06:58] jiapei100 commented on #16379
And, again. @dkurt

This is what happened on my Laptop... It seems it has something to do with the **Assertion** inside **run() function** in file **.../opencv/modules/dnn/src/layers/fully_connected_layer.cpp** ...

[code]

Any further suggestions???

[2020-01-19 07:58] BadMachine commented on #16380
@brian208579 i guess it just because you didn`t install cudnn)
[cudnn download link](https://developer.nvidia.com/rdp/form/cudnn-download-survey)
Cheers!

[2020-01-19 08:13] alalek commented on #16382
Avoid using of make's parallel builds (`-j` option) for investigation of build problems. It provides mess on output. Force `-j1` to collect accurate logs.

---

opencv_contrib issues should go here: https://github.com/opencv/opencv_contrib/issues

---

Duplicate of:
- #16282
- https://github.com/opencv/opencv_contrib/issues/2307

---

Build / usage questions should go to Users OpenCV Q/A forum: ht

[2020-01-19 08:13] #16382 closed

[2020-01-19 08:18] alalek commented on #16381
Please follow the existed OpenCV.JS tutorials.
Functionality of these modules is not going to be exposed due "platform" (browser) limitations.

Not supported.

---

Build / usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org

[2020-01-19 08:18] #16381 closed

[2020-01-19 08:25] brian208579 commented on #16380
@BadMachine

Thanks for your response

But I already have it installed and put it in c: /

![cudnn](https://user-images.githubusercontent.com/43407888/72677520-35e88800-3ad8-11ea-98bf-3541e481a0d8.png)

I don't know what to do ...

[2020-01-19 08:35] olramde commented on #16380
.

[2020-01-19 08:39] BadMachine commented on #16380
@brian208579
Wrong!
You should place in at the same folder that CUDA installed.
E.g. "C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2\"

[2020-01-19 08:46] MGarvinNYC commented on #16382
I didn't realize that multicore output messages were not synchronized.  It makes sense that this did not relate directly to opencv_cudaarithm.

In any case, I had seen the other threads, but did not think this was directly related.

It seems that the problem occurs only when OPENCV_ENABLE_NONFREE along with setting OpenGL_GL_PREFERENCE to GLVND.  If the latter is set to LEGACY, there is no error.

[2020-01-19 08:54] brian208579 commented on #16380
@BadMachine

Sorry , it doesn't work ...
When I configure I get the same result

![cudnn_1](https://user-images.githubusercontent.com/43407888/72677897-f58b0900-3adb-11ea-91c6-d4db32628a10.png)

[2020-01-19 08:57] Cogitri commented on #15020
Well, I wouldn't exactly call that a solution since this disables some run-&compiletime checks for buffer overflows but I suppose it might be a workaround for now.

[2020-01-19 09:04] BadMachine commented on #16380
@brian208579 you didn't get me.
Now in CUDNN folder you have include/lib/bin.
At the same time in .../CUDA/v10.2/ u have the same folders.
Now you should paste lib/bin/include from CUDNN to .../CUDA?v10.2/

[2020-01-19 09:08] brian208579 commented on #16380
@BadMachine
Unfortunately ...  It still doesn’t work

[2020-01-19 09:15] BadMachine commented on #16380
you can write me teamviewer mail and I will try to help , otherwise I can’t help if I don’t see what is happening

[2020-01-19 09:23] brian208579 commented on #16380
@BadMachine
I already mail, please check it , thank you.

[2020-01-19 09:51] brian208579 commented on #16380
Problem has been solved !!!
thx for @BadMachine

[2020-01-19 09:51] #16380 closed

[2020-01-19 10:47] kiodos opened #16383 "Undefined symbols for architecture x86_64 while compiling opencv 3.4.9 under osx 10.13.6 with CUDA"
##### System information (version)

- OpenCV => 3.4.9
- Operating System / Platform => OSX 10.13.6 (17G10021)
- Compiler => XCode 9.2 (clang llvm 900.0.39.2)

##### Detailed description

I am trying to compile and install opencv 3.4.9 with CUDA support under osx 10.13.6 through CMake-gui (3.16) and after have dealt with some various solved errors (changed XCode, CUDA, etc) I fall on this error I h

[2020-01-19 11:15] roy-at-git commented on #11359
Happened to me at python. Instead of using ORB() constructor I used ORB_create() and it solved the problem. Not sure if this is relevant, but you can try.

[2020-01-19 12:26] Lgum commented on #15989
As I wrote in my original report, it is possible to zoom the camera, when you use the settings dialog with:

`self.vidcap.set(cv2.CAP_PROP_SETTINGS, True)`

Alternatively, you can switch to the MSMF-framework and zoom with CAP_PROP_ZOOM. The surface-book camera is perfectly able to zoom. It just doesn't work with the DSHOW-framework and CAP_PROP_ZOOM.

[2020-01-19 15:35] brian208579 opened #16384 "How do I add the opencv4.2 to the anaconda python environment ?"
- OpenCV => 4.2
- Python => 3.7 ( Anaconda )
- Operating System / Platform => Windows 64 Bit
- Compiler => Visual Studio 2019

When I finish building opencv4.2 using Visual Studio 2019
I open spyder ( Anaconda Python IDE ) and import cv2
I got this error information : ModuleNotFoundError: No module named 'cv2'
How do I add the opencv4.2 to the anaconda python environment ?
Thanks a lot ...

[2020-01-19 21:35] Viliami commented on #13286
This might be fixed by adding `cv2.waitKey(1)` after the `cv2.imshow("Image", img)`

[2020-01-19 22:58] russkel commented on #15020
Hmm I don't understand what the real solution is. The error looks like it's trying to fortify the wrong read function. And it looks like the namespacing is correct in the includes.

The comment before my original one seems to show that clang doesn't seem to have an issue with this.

[2020-01-19 23:42] Cogitri commented on #15020
Not sure either, I don't know C/C++ too well. We can disable FORTIFY_SOURCE for now but it'd be nicer if this was fixed upstream so we could keep it enabled.

[2020-01-19 23:47] russkel commented on #15020
Yeah 100%. I am lost on this issue and I'm not sure who to ask now. GCC crowd?

[2020-01-20 00:06] mthomp89 opened #16386 "python freezes upon video webcam capture"
##### System information (version)
  - python==3.6.8
  - pandas==0.23.4
  - numpy==1.15.4
  - matplotlib==3.0.2
  - Keras==2.2.4
  - opencv==3.4.2
  - seaborn==0.9.0
  - scikit-learn==0.20.2
  - mkl-service==1.1.2
  - theano==1.0.3
  - pillow==5.4.1
  - ipykernel==5.1.0
  - jupyter
  - pip:
    - piexif==1.1.2
  - spyder==4.0.1
- mac OSX Catalina

##### Detailed description

Attempting to use the

[2020-01-20 02:31] tuxayo commented on #4588
If anyone can commit to package package it for maven maintain it, they can do so. It's not necessarily OpenCV devs that have to do this. Unless the maven repos have some hard policy about who can package?

[2020-01-20 03:40] dkurt commented on #16379
The error messages are different. In second case there is a problem with GStreamer according the logs.

[2020-01-20 03:43] dkurt commented on #16386
Please try to add `sys.exit(0)` at the end (and check that it is executed at least).

[2020-01-20 03:44] dkurt commented on #16348
Let me close this issue due it seems resolved.

[2020-01-20 03:44] #16348 closed

[2020-01-20 03:55] jaqif commented on #15074
@manusaurio ok, just notice that when it occur, it can be resolving by adding CAP_V4L on cv2.videocapture function :
cap = cv2.VideoCapture(0**, cv2.CAP_V4L**)

[2020-01-20 05:49] Hafsa1992 commented on #7343
ret,thresh = cv2.threshold(gray_image,0,255,cv2.THRESH_OTSU)
cv2.imshow( 'kk' , thresh )
cv2.waitKey(0)
cv2.destroyAllWindows()

[2020-01-20 09:25] rkraneis commented on #4588
There are hard rules on the groupId you can choose:

https://central.sonatype.org/pages/producers.html#individual-projects-open-source-software-repository-hosting-ossrh

[2020-01-20 11:13] shahdghorsi opened #16387 "Dead kernel when using readNetFromTensorflow in jupyter"
**System information (version)**
OpenCV => 4.1.2.30
Operating System / Platform => Windows 10 64 Bit
TensorFlow=>  2.0.0

**Detailed description**
I have used TensorFlow object detection API on a dataset that I have created. I used the faster_rcnn_inception_v2 pre-trained model and tested it with TensorFlow successfully, using the script supplied down, I wanted to test it with openCv so, I needed

[2020-01-20 11:22] BadMachine commented on #16386
@mthomp89 also try this:
[code]
press "x" to quit )

[2020-01-20 11:26] dbacea opened #16388 "Can't create layer "bn_Conv1/FusedBatchNormV3" of type "FusedBatchNormV3""
### System information (version)
- OpenCV => 4.1.1
- Operating System / Platform => Windows 10 64 bit
- Compiler => Visual Studio 2019
- TensorFlow 2.1.0

##### Detailed description

I have trained a MobileNetV2 using tf.keras. Then I exported the model as frozen graph *.pb file, and tried to load the network using cv::dnn::readNetFromTensorflow(). When I run the app the following error occurs:
Op

[2020-01-20 11:34] alalek commented on #16388
You are using an outdated version.
Try the latest OpenCV version first - OpenCV 4.2.0 or "master" branch.

[2020-01-20 11:58] dkurt commented on #16388
issue has been resolved by https://github.com/opencv/opencv/pull/15986
P.S.: we still need to rebase @Razor1O9's PR https://github.com/opencv/opencv/pull/16345

[2020-01-20 12:06] dkurt commented on #16387
Please provide a reproducer.

[2020-01-20 12:12] shahdghorsi commented on #16387
I solved the problem it was related to my graph.pbtxt it turned out that I edited the wrong MaxPool2D/MaxPool named node by deleting the already found inputs and adding one input:
**node {
  name: "MaxPool2D/MaxPool"
  op: "MaxPool"
  input: "CropAndResize/CropAndResize"
  ...**

[2020-01-20 12:24] dkurt commented on #16387
@shahdghorsi, great, thanks! Can we close it?

[2020-01-20 12:27] shahdghorsi commented on #16387
@dkurt I edited the replay above may you check it out before closing the issue?

[2020-01-20 12:34] Cogitri commented on #15020
I suppose that's your best bet, yes

[2020-01-20 12:41] Harshithasriniv opened #16390 "error: OpenCV(4.1.0) C:\projects\opencv-python\opencv\modules\imgproc\src\resize.cpp:3718: error: (-215:Assertion failed) !ssize.empty() in function 'cv::resize'"
def get_images(directory):
    Images = []
    Labels = []  # 0 for Building , 1 for forest, 2 for glacier, 3 for mountain, 4 for Sea , 5 for Street
    label = 0

    for labels in os.listdir(directory): #Main Directory where each class label is present as folder name.
        if labels == 'glacier': #Folder contain Glacier Images get the '2' class label.
            label = 2
        elif labels

[2020-01-20 12:45] BadMachine commented on #16384
@brian208579
[Guide](https://docs.opencv.org/master/d5/de5/tutorial_py_setup_in_windows.html)

[2020-01-20 12:54] alalek commented on #16390
Usage questions should go to Users OpenCV Q/A forum: http://answers.opencv.org
This tracker is for issues and bugs that needs fix in OpenCV.

[2020-01-20 13:03] dkurt commented on #16387
@shahdghorsi, please try newer version. We added `FusedBatchNormV3` here: https://github.com/opencv/opencv/pull/15986

[2020-01-20 13:42] alalek commented on #16384
I believe, a more convenient way for Anaconda is using its package manager.
OpenCV 4.2.0 is available [here](https://anaconda.org/conda-forge/opencv).

Any Python modules are loaded through `sys.path` (which may be adjusted by `PYTHONPATH` environment variable). Refer to Python documentation for details.

---

Also you make take a look on OpenCV's `setup_vars.cmd` script (works with "Release" buil

[2020-01-20 13:58] BadMachine commented on #16384
@alalek
But if someone needs modules from contrib (e.g CUDA) it seems that this solution will not work, am I wrong?

[2020-01-20 14:35] mshabunin commented on #15020
Strange, I can build image from _czeni/opencv-video-minimal_ without problems.

[2020-01-20 14:42] alalek commented on #15020
`-D_FORTIFY_SOURCE=2` (or OpenCV's `ENABLE_BUILD_HARDENING=ON`) is required to reproduce problem.

[2020-01-20 15:16] mshabunin commented on #15020
Still works fine. Though it is OpenCV 4.2.0, Alpine 3.10 (x86_64) and clang-9, so configuration is definitely different.

My modification to Dockerfile:
[code]

cmake output:
[code]

Looks like it the problem is caused by _fortify-headers_ package: https://pkgs.alpinelinux.org/package/edge/main/x86_64/fortify-headers

[2020-01-20 15:18] Cogitri commented on #15020
As stated above it works with CLang, this only occurs with GCC.

[2020-01-20 15:43] #16387 closed

[2020-01-20 15:55] allnes opened #16394 "Support audio in OpenCV"
Plan of integrate `audioio` module:

Try support ALSA (Advanced Linux Sound Architecture):
   * Read/Write audio files (for example `wav`)
   * Support audio input/output stream (support standard devices)

[2020-01-20 16:21] shahdghorsi commented on #16387
I searched the OpenCV version that you recommended in the official OpenCV-python PyPI website but it is not found so I downloaded it[ from here](https://sourceforge.net/projects/opencvlibrary/) ran the exe but when I check what version I am using it still shows the old one,
I am running python with anaconda I searched a lot to change the version from 4.1 to 4.2  with normal commands but all of the

[2020-01-20 16:37] shahdghorsi opened #16395 "Transferring OpenCv versionfrom 4.1.0 to 4.2.0"
System information (version)
OpenCV => 4.1.2.30
Operating System / Platform => Windows 10 64 Bit

**Detailed description:**
I am using OpenCV installed with pip over python 3.7 and anaconda. I need to change the version of OpenCV to 4.2.0
I could not find a release in the official [opencv-python PyPI releases page](https://pypi.org/project/opencv-python/) so I download it from [here](https://sourc

[2020-01-20 16:45] dkurt commented on #16387
@shahdghorsi, please try regenerate `.pbtxt` using the script from master branch then open and replace all the `FusedBatchNormV3` to `FusedBatchNorm`.

[2020-01-20 16:47] dkurt commented on #16395
So please track https://github.com/skvark/opencv-python/issues/280

[2020-01-20 16:47] #16395 closed

[2020-01-20 16:59] #16328 closed

[2020-01-20 19:29] ganesh-k13 commented on #16049
Hi @alalek , can I look into this issue?

[2020-01-20 20:17] alalek commented on #16049
You can try to unlock function for empty "Mat".
Start from adding corresponding simple test (`modules/calib3d/misc/python/test/test_solvepnp.py`) - no need to check accuracy, just check that bindings work (non empty result of "expected" type).

---

But please avoid part of issue about:

Mentor with strong Python bindings experience is required for this task.

[2020-01-20 20:32] #16388 closed

[2020-01-21 06:48] ganesh-k13 commented on #16049
Ure @alalek, I'll do the following:
1. Add test in `modules/calib3d/misc/python/test/test_solvepnp.py`
2. Change this line https://github.com/opencv/opencv/blob/4c71dbf0af70e8728b8a791695b083540af72887/modules/calib3d/src/solvepnp.cpp#L1015
by adding max(_ipoint.depth(), _opoint.depth()) == CV_64F ? CV_64F : CV_32F for default `type`

[2020-01-21 06:48] #15790 closed

[2020-01-21 07:04] #16386 closed

[2020-01-21 07:09] alitokur commented on #10272
huh sorry sir, i didnt get it. how can i install mingw compiler from the zip?

[2020-01-21 07:14] asmorkalov commented on #16293
The fix has been merged. Confirmed with Ubuntu 16.04 and Ubuntu 18.04.

[2020-01-21 07:14] #16293 closed

[2020-01-21 07:23] #16233 closed

[2020-01-21 07:33] shahdghorsi commented on #16387
@dkurt I did use the script found in master, but it gives me the following error:

Traceback (most recent call last):
  File "graph_generator.py", line 299, in <module>
    createFasterRCNNGraph(args.input, args.config, args.output)
  File "graph_generator.py", line 52, in createFasterRCNNGraph
    writeTextGraph(modelPath, outputPath, ['num_detections', 'detection_scores', 'detection_boxes', 'det

[2020-01-21 07:37] dkurt commented on #16387
@shahdghorsi, put [tf_text_graph_common.py](https://github.com/opencv/opencv/blob/master/samples/dnn/tf_text_graph_common.py) nearby a script as well.

[2020-01-21 07:47] xiaoniu001 opened #16397 "opencv compile with cuda"
##### System information (version)

- OpenCV => 4.2
- Operating System / Platform => ubuntu 18
- Compiler => cmake
- Cuda = 10.2

##### Detailed description
<pre> sudo cmake -D CMAKE_BUILD_TYPE=RELEASE \
&gt; -D CMAKE_INSTALL_PREFIX=/usr/local \
&gt; -D INSTALL_PYTHON_EXAMPLES=ON \
&gt; -D INSTALL_C_EXAMPLES=OFF \
&gt; -D WITH_TBB=ON \
&gt; -D WITH_CUDA=ON \
&gt; -D BUILD_opencv_cudacodec=OFF \
&g

[2020-01-21 07:53] xiaoniu001 commented on #16397
- OpenCV = 4.2
- Operating System / Platform =ubutnu 18
- Compiler = cmake
- cuda = 10.2
<pre>100%] Built target opencv_perf_superres
<b>/home/pactera/software/opencv-4.2.0/samples/gpu/surf_keypoint_matcher.cpp:11:10:</b> <font color="#EF2929"><b>fatal error: </b></font>opencv2/xfeatures2d/cuda.hpp: does not have this file or directory
 #include <font color="#EF2929"><b>&quot;opencv2/xfeatures2d/c

[2020-01-21 07:56] shahdghorsi commented on #16387
I did and that solved the problem thank you a lot. I regenerated the graph.pbtxt and replaced all the
FusedBatchNormV3 to FusedBatchNorm.
But again when ı ran the inference I have got the following error:
---------------------------------------------------------------------------
error                                     Traceback (most recent call last)
<ipython-input-4-04b423450a0e> in <module>

[2020-01-21 08:23] dkurt commented on #16387
@shahdghorsi, Can you share `.pb` and `.config` files? Cannot find the link in the issue.

[2020-01-21 08:33] shahdghorsi commented on #16387
@dkurt For sure, here are they: [.config](https://drive.google.com/open?id=18GHtId6dkvLT2Lh0H8fM7aaNOAOBn8HI)
[.pb](https://drive.google.com/open?id=124ys-y0hMWjnIRSDiS3x0albZWq242uY)

[2020-01-21 09:48] xiaoniu001 commented on #16397
I have solved this error by setting -D BUILD_EXAMPLES=OFF

[2020-01-21 09:54] pfeatherstone opened #16398 "opencv mips1 : atomic<long long> not supported"
On MIPS1 version 1, atomic only supports 32 bit types.
So in cmake/checks/atomic_check.cpp and modules/core/include/opencv2/core/utils/allocator_stats.impl.hpp, atomic<long long> won't compile. Do we really need long long types for the statistics? If not, you will fix opencv for mips

[2020-01-21 10:37] alalek commented on #16398
Could you please attach dump of this command from mentioned architecture?
[code]

[2020-01-21 10:42] pfeatherstone commented on #16398
[dump.txt](https://github.com/opencv/opencv/files/4090630/dump.txt)

[2020-01-21 10:50] pfeatherstone commented on #16398
Also, MIPS1 VERSION 1 doesn't like using std::rint or std::round. If you omit std:: from both of these, it works fine. This has probably something to do with using gcc 4.8.5. Unfortunately, that is the highest gcc version I can find for this architecture.

[2020-01-21 11:31] shahdghorsi commented on #16387
@dkurt when editing the graph.pbtxt am I supposed to do the [changes made here](https://github.com/opencv/opencv/issues/13050) as well besides changing the FuseBatchNormv3 to FuseBatchNorm

[2020-01-21 11:40] alalek commented on #16398
Could you try this patch: https://github.com/alalek/opencv/commit/issue_16398 ?

[2020-01-21 11:41] pfeatherstone commented on #16398
It will still fail atomic_check.cpp which is done by cmake.

[2020-01-21 11:45] alalek commented on #16398
`cmake -DOPENCV_SKIP_LIBATOMIC_COMPILER_CHECK=ON ...`

[2020-01-21 11:47] pfeatherstone commented on #16398
okidoki. Otherwise i refactored atomic<long long> everywhere to atomic<long>. Yolo

[2020-01-21 14:11] dbacea opened #16399 "Can't create layer "expanded_conv_add/add" of type "AddV2""
**System information (version)**
OpenCV => 4.2.0
Operating System / Platform => Windows 10 64 bit
Compiler => Visual Studio 2019
TensorFlow 2.1.0

**Detailed description**
I have trained a MobileNetV2 using tf.keras. Then I exported the model as frozen graph *.pb file, and tried to load the network using cv::dnn::readNetFromTensorflow(). When I run the app the following error occurs:
`OpenCV(4.2.0

[2020-01-21 14:59] dkurt commented on #16399
Fixed by https://github.com/opencv/opencv/pull/16263 (10 days after 4.2.0 release). Please try master branch instead.

[2020-01-21 15:15] VisheshKhosla opened #16401 "I am unable to run the command detail_ImageFeatures().descriptors in Python"
### System Version(Information)
- OpenCV =>4.1.2 (Python 3.7.3)
- Operating System / Platform => Windows 10 64 Bit
- Hardware => Dell Inspiron 7460
- Compiler/Interpreter => Jupyter Notebooks
- GPU =>NVIDIA 940MX

**Detailed Description**

I am unable to access a public data member of  cv::detail::ImageFeatures::descriptors. When i run this command:
`import cv2
obj_Umat=cv2.detail_ImageFeatures().

[2020-01-21 15:29] alalek commented on #16401
Please clarify what are you trying to do? What is expected result?

[2020-01-21 16:29] VisheshKhosla commented on #16401
I am not aiming to do something,but why is my code not working? I was just trying out these data members present in this documentation: https://docs.opencv.org/3.4/d4/db5/structcv_1_1detail_1_1ImageFeatures.html#details
All are working fine except descriptors and keypoints.

[2020-01-21 16:51] #16399 closed

[2020-01-21 17:13] dbacea commented on #16399
any idea @alalek  @dkurt when will be the next release?

[2020-01-21 19:04] amritanjali123 commented on #11068
@juliohm I am getting mean square error 302 is it fine?

[2020-01-21 19:16] #15020 closed

[2020-01-21 20:12] MayankShahria commented on #11106
have you found the solution

[2020-01-22 02:04] ilikelucifer opened #16402 "the authority of OpenCV on trade issues of EAR"
We are concerned about the authority of OpenCV as recently arised trade issues between US and the rest of the world (especially China). We are looking forward to get your official answers for the questions below:
1. Is the OpenCV project subject to U.S. Export Administration Regulations (EAR) and classified under ECCN 0D521? Or such AI software is subject to EAR, but not classified under ECCN 0D52

[2020-01-22 05:10] shahdghorsi commented on #16387
I eventually solved it, the configs file input and output paths are configured in my collab notebook, when I generated the graph ı ran it in my local machine using the config without changing the paths

[2020-01-22 05:14] saskatchewancatch commented on #16402
Interesting question.

OpenCV source is available in the "public domain" _so to speak_. These are exempt from EAR (and closely related ITAR). That is my understanding based on an ITAR course I took from Siemens AG and perusing reputable online sources on this matter.

I'm _not_ a maintainer btw, just throwing in my view.

[2020-01-22 05:30] saskatchewancatch commented on #4539
@hannarud hannahrud, thank you for your detailed reply.

I get what you mean. But I seem to think that it's fine that convexHull returned the point with index 33 instead of the same point with index 35. The output of the algorithm is supposed to be a convex set.

Whether convexHull returns the point at index 33 or 35, it would be a convex set, and the answer is just as valid.

Any thoughts? Btw th

[2020-01-22 06:22] dkurt commented on #16402
related question: https://answers.opencv.org/question/207637/export-control-classification-number-eccn-for-opencv/

@yssemaev, can you add some details here?

[2020-01-22 07:20] dooxe opened #16403 "ios framework : unsealed content at the root of the framework"
Hello,

I have a problem when using the ios framework generated by the python script.

##### System information (version)
- OpenCV 4.2.0
- MacOS Mojave
- Compiler: clang 11.0.0
- XCode 11.0

##### Detailed description

When compiling `opencv2.framework` using the python script at `platforms/ios`, my XCode project won't build, and say: 'Unsealed content at the root of the framework'.

##### Steps t

[2020-01-22 08:03] ivder opened #16404 "OpenCV Seamless Clone CUDA Support"
`void cv::seamlessClone` works very well to blend images seamlessly. However this process takes time than usual normal blending process. General image processing can be accelerated using OpenCV with GPU support like `cv::cuda::resize`. All of the supported reference can be found here https://docs.opencv.org/master/d1/d1a/namespacecv_1_1cuda.html. As we can see, there's no support for SeamlessClone

[2020-01-22 08:40] dkurt commented on #16399
@dbacea, you may enable this model with current release as well.

For it, you need to have a `.pbtxt` file which is nothing but a text copy of `.pb` without weights:

[code]
then open `graph.pbtxt` and replace all the `AddV2` to `Add`

now it is possible to use without the mentioned patch:

[code]
out
[code]

[2020-01-22 08:41] yssemaev commented on #16402
Hi,
Based on records in CC, OpenCV (open source) Export Commodity Control Number (ECCN) is EAR99.

[2020-01-22 10:12] alalek commented on #16403
Feel free to propose Pull Request (onto 3.4 branch, we will port fixes onto master later, through regular process)

[2020-01-22 10:31] #16259 closed

[2020-01-22 11:09] sandeep-sm opened #16407 "Bug in cv2.resize() function"
##### System information (version)
- OpenCV => 4.1.1
- Operating System / Platform => Linux
- Compiler => python3

##### Detailed description
cv2.resize() function gives same output for interpolation='cv2.INTER_LINEAR' and interpolation='cv2.INTER_CUBIC'.

##### Steps to reproduce
import cv2
import numpy as np
a = np.random.rand(5,5)
a1 = cv2.resize(a,(10,10),cv2.INTER_LINEAR)      #Linear interpo

[2020-01-22 11:35] dkurt commented on #16407
Cannot reproduce.
[code]
[code]

[2020-01-22 11:35] #16407 closed

[2020-01-22 12:11] hoboh commented on #13000
Finally I reinstalled opencv on another machine, it solved.

[2020-01-22 12:14] hoboh commented on #13000
Finally I reinstalled opencv on another machine, it solved. @alalek Please close the subject, thx.

[2020-01-22 14:20] mshabunin commented on #16347
All links have been replaced with web.archive.org wrapped ones. Archives repacked.

[2020-01-22 14:20] #16347 closed

[2020-01-22 15:21] czgdp1807 commented on #16370
Hi @UnaNancyOwen @alalek
I think I am able to reproduce the error.
**Code**
[code]
I used, `g++ opencv_debug.cpp -o issue_16370 -lopencv_dnn -lopencv_core` and got the following,
[code]
Can I start working on this issue as it appears that no PR has referenced this issue.

[2020-01-22 15:33] alalek commented on #16370
@czgdp1807 Yes =)

[2020-01-22 15:41] czgdp1807 commented on #16401
Hi,
I tried the code above. It looks like for me, bindings for `cv::detail::ImageFeatures`. I checked `build-opencv/modules/python_bindings_generator/pyopencv_signatures.json` and observed that there is not key for `cv::detail::ImageFeatures`. Is that the underlying issue? What was the error when you tried to execute the above line. Thanks.

[2020-01-22 15:49] alalek commented on #16401
- `dir(image_features_object)` ?
- `image_features_object.getKeypoints()` ?

[2020-01-22 15:52] #15927 closed

[2020-01-22 15:53] #16203 closed

[2020-01-22 15:54] #7001 closed

[2020-01-22 17:21] alalek commented on #16402
@ilikelucifer In any case, you should contact with **own** lawyer about any legal questions. Answers from "Internet" may be non-accurate or outdated - don't rely on them.

[2020-01-22 17:21] #16402 closed

[2020-01-22 18:39] garybradski commented on #16402
As Open source code, we are probably not under any export restrictions but this is not an "official answer" and comes with no Warranty. You must determine this yourself.

[2020-01-22 19:48] arnaudbrejeon opened #16410 "Crash in connectedComponentsWithStats"
OpenCV 4.1.1
OS: OSX
Compiler: clang

I found a crash in `connectedComponentsWithStats` on very specific images. It is a bit difficult reproduce because it depends on the number of threads (16 on my machine).
See the code below to reproduce systematically.

From my understanding, the problem comes from the colliding labels.
I will try to provide a fix this week.

[code]

[2020-01-22 22:56] charlie0389 opened #16411 "SimpleBlobDetector filterByColor fails"
##### Overview

With the SimpleBlobDetector, the filterByColor parameter creates incorrect results when running the detector's detect function. Below is an example of a failure to detect a large black blob in a black & white image, with all other filtering options turned off.

Referenced image can be found at: [https://imgur.com/tgcI5XB](https://imgur.com/tgcI5XB)

##### System information (versio

[2020-01-23 00:02] arnaudbrejeon commented on #16410
It may not crash if the label buffer is set with zeros during allocation. The stats, will not be correct, though.

[2020-01-23 05:04] shawnbrar opened #16412 "Please make an official OpenCV bindings for R"
To whomsoever it may concern,
As an avid R user, I would humbly request if OpenCV.org could create an official bindings of OpenCV for R. R users like me have to migrate to Python to use OpenCV to its full potential.
Please it is a very humble request if this could be made possible.
Thanks
Best Regards

[2020-01-23 07:03] brian208579 commented on #16384
@alalek
Thanks for your suggestion
But i need cuda and cudnn to execute the model
For example :
net.setPreferableBackend(cv2.dnn.DNN_BACKEND_CUDA)
net.setPreferableTarget(cv2.dnn.DNN_TARGET_CUDA)
Anaconda doesn't seem to compile with cuda and cudnn
so i try to bulid with Visual Studio 2019
But i can't add the opencv4.2 to the anaconda python environment
This is my current problem ...

[2020-01-23 07:05] brian208579 commented on #16384
@BadMachine
I have the same idea as you
Using anaconda to install opencv can't work with cuda and cudnn

[2020-01-23 07:10] BadMachine commented on #16384
@brian208579 i have an idia about this problem. Check email

[2020-01-23 09:45] dbacea commented on #16399
@dkurt

Thanks for the solution, it works perfectly with OpenCV 4.2.0

The script to use for converting the graph into a .pbtxt in TensorFlow 2.1 is written below, followed by a function to read and replace all occurences of the metioned string:

[code]

[2020-01-23 14:18] ganesh-k13 commented on #14977
Hey @alalek , is there something here I can take up?

[2020-01-23 14:45] dkurt commented on #16412
Is there existing solutions for OpenCV on R?

[2020-01-23 15:42] czgdp1807 commented on #16370
I was trying to find the cause of the bug and observed that the corner case of absence of `split` attribute in `Split` layer in the code base wasn't handled and therefore the above exception is thrown. We don't need `split` attribute, if it is not present then the input tensor is split into equal sized parts. I will make a PR for this issue by tomorrow(in IST).
@UnaNancyOwen  Please let me know th

[2020-01-23 16:42] alalek commented on #16370
@czgdp1807 Thank you for looking on this!

"Expected output" is handling ONNX operation properly (including its possible parameters/inputs/modes).
Documentation about ONNX Split operation is [here](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Split).

Some of ONNX testdata cases are generated through [this script](https://github.com/opencv/opencv_extra/blame/master/testdata/dnn/onnx/

[2020-01-23 19:29] jiapei100 opened #16417 "OpenCV DNN on Raspberry Pi 4?"
Did anybody successfully run DNN on Raspberry Pi 4? I think I should enable OpenCL to run DNN on Raspberry Pi, right?

Please can anybody take a look at [https://software.intel.com/en-us/forums/intel-distribution-of-openvino-toolkit/topic/843560#comment-1951534](https://software.intel.com/en-us/forums/intel-distribution-of-openvino-toolkit/topic/843560#comment-1951534) .

Thank you
Pei

[2020-01-23 20:46] cagridz commented on #11712
If there are any different type of files like .xml and .jpg, It will be happen . Use  just same type extension in file

[2020-01-24 00:36] eltonfernando commented on #13145
cap=cv2.cv2.VideoCapture(0)
size=10
cap.set(cv2.CAP_PROP_BUFFERSIZE,size)

[2020-01-24 02:30] shawnbrar commented on #16412
There is an R library called ROpenCVLite. Its offcial website is [ROpenCVLite](https://swarm-lab.github.io/ROpenCVLite/). But it is not as robust as the actual OpenCV

[2020-01-24 04:20] pranavpandey2511 commented on #16323
@BadMachine Hi, I was also trying to do the same thing last and was facing the same issue. I exported the pytorch the pytorch model to onnx and tried to load it in opencv dnn modules and was getting error in getmemoryshape() function.

I figured out that it was a mistake from my end only, before converting the model to Onnx format, **you have to put your pytorch model in eval mode using model.eval

[2020-01-24 05:25] themechanicalcoder commented on #14659
@dkurt can I work on this issue.

[2020-01-24 08:35] BadMachine commented on #16323
@pranavpandey2511
Thanks for your suggestion, but my model already in eval mode. So, it doesnt work anyway.

[2020-01-24 08:59] ganesh-k13 commented on #16268
Hi @nappaillav, are you looking into this issue? Else I was hoping to take it up.

[2020-01-24 09:57] russkel opened #16419 "MathOpTest.MatricesAccuracyTest failure on aarch64 with Alpine Linux"
##### System information (version)

- OpenCV => 4.2.0
- Operating System / Platform => Alpine Linux Edge - aarch64
- Compiler => GCC 9.2.0

##### Detailed description

A small number of `gapi` tests fail when compiling on AARCH64:

[code]

Full build and test log here:
[job.log](https://github.com/opencv/opencv/files/4107583/job.log)

##### Steps to reproduce

Build opencv on Alpine Linux on aarch

[2020-01-24 10:10] alalek commented on #16419
Do you mean, that `WITH_LAPACK=ON` fixes this problem?

Messages are look like (from `job.log`):
[code]

All failed tests are about "DIV" operation.
Result is still accurate enough (test tolerance 0.01 => 0.02 update is acceptable here).
But it is strange anyway, why results may differ.

[2020-01-24 10:18] russkel commented on #16419
Please disregard that, I double checked and the same issues occured WITH_LAPACK. I got mixed up with architecture build logs from CI.

[2020-01-24 10:46] isra60 opened #16420 "OPENCV-DNN Using new cfg from Darknet repository causes error"
OpenCV 4.2.0

New models from Alexey Darknet repository

CFG:  https://raw.githubusercontent.com/AlexeyAB/darknet/master/cfg/csresnext50-panet-spp-original-optimal.cfg

WEIGHTS: https://drive.google.com/open?id=1_NnfVgj0EDtb_WLNoXV8Mo7WKgwdYZCc

Testing with the new OPENCV-dnn with cuda support I achieve better performance than using Darknet library (even 2x FPS on a 1060 GTX), but the problem is

[2020-01-24 12:12] alalek commented on #16419
Could you try this patch on your configuration: #16422 ?

[2020-01-24 12:56] russkel commented on #16419
I had a quick google and found something called [Extended Precision](https://en.wikipedia.org/wiki/Extended_precision#x86_extended_precision_format). It could be related to that?

[2020-01-24 12:57] russkel commented on #16419
Building now.. thanks for the quick patch. Will let you know the results.

[2020-01-24 12:57] nappaillav commented on #16268
@ganesh-k13  You can take up the issue

[2020-01-24 13:09] alalek commented on #15755
duplicate of #15175
fixed #15975 (3.4.9 / 4.2.0)

[2020-01-24 13:09] #15755 closed

[2020-01-24 13:28] kiodos opened #16425 "Can't compile opencv 3.4.9 with gstreamer, error in test_gstreamer"
##### System information (version)

- OpenCV => 3.4.9
- Operating System / Platform => OSX 10.13.6 (17G10021)
- Compiler => XCode 9.2 (clang llvm 900.0.39.2)
- CUDA => 9.1.128
- GStreamer => 1.16.2

##### Detailed description

I am trying to compile and install opencv 3.4.9 with CUDA support under osx 10.13.6 and GStreamer libraries (1.16.2) through CMake-gui (3.16) and the build fails to compile

[2020-01-24 13:38] alalek commented on #16425
Unfortunately, we don't have builds (or environment setup) with mentioned configuration so we can't help with problem investigation.

Feel free to propose fix through GitHub Pull Requests.

[2020-01-24 13:45] #16321 closed

[2020-01-24 13:51] russkel commented on #16419
Unfortunately nothing has changed. Same tests are failing. Patch applied fine as seen in the build log:
[job2.log](https://github.com/opencv/opencv/files/4108724/job2.log)

[2020-01-24 14:10] alalek commented on #16419
Thank you for the check!

My mistake, tolerance is not updated due misused `#if` condition:
[code]

[2020-01-24 14:17] jrosebr1 commented on #16417
Hey @jiapei100, I assume you're referring to OpenVINO? If so, I have a tutorial on how to configure your RPi for OpenCV-OpenVINO over on the PyImageSearch blog:

https://www.pyimagesearch.com/2019/04/08/openvino-opencv-and-movidius-ncs-on-the-raspberry-pi/

That will enable you to use OpenCV's `dnn` module within the RPi using OpenVINO.

[2020-01-24 14:34] dkurt commented on #16420
You may help us a lot to find a problem layer: just comment all the layers except the first one then try to forward and if it successful - uncomment second layer and forward again. So in this way you can find a problem layer.

[2020-01-24 14:42] ganesh-k13 commented on #16268
Thanks @nappaillav, @alalek I would like to take up this issue please.

[2020-01-24 14:51] alalek commented on #16420
Can't reproduce with OpenCV/CPU backend:

[code]

output:

[code]

---

Please provide complete minimal reproducer.

[2020-01-24 15:02] dkurt commented on #16420
@alalek, can you please also try
[code]
?

[2020-01-24 15:13] czgdp1807 commented on #16370
@UnaNancyOwen I have described some problems which I am facing while resolving this issue in https://github.com/opencv/opencv/pull/16424#issuecomment-578169612
There is `Constant` layer in the model which is having `string_data` with `black-keyboard` entry twice. Can you please tell what's the purpose of these two entries? However, the tensor is having `sizes`. So, I think the tensor inside the la

[2020-01-24 15:36] alalek commented on #16420
Still no exception.

<details>

[code]

</details>

[code]

[2020-01-24 15:59] robertodaza92 opened #16427 "VideoCapture (0) does not work in mac Catalina. The program crashed"
VideoCapture (0) of opencv 4.2.0  in Java does not work for me. Show the following error:

[code]
**how i can setup OPENCV_AVFOUNDATION_SKIP_AUTH = 1 to disable the authorization request?**

**How can I fix the error?**

[2020-01-24 16:00] a-anjos commented on #4875
Would something like this do?
[https://github.com/a-anjos/python-opencv/blob/master/cv2cheatsheet.pdf](https://github.com/a-anjos/python-opencv/blob/master/cv2cheatsheet.pdf)

[2020-01-24 16:48] gituuu opened #16428 "dis_opticalflow.cpp incorrect return value check for waitKey"
https://github.com/opencv/opencv/blob/4.2.0/samples/cpp/dis_opticalflow.cpp

In OpenCV4, the return value of waitKey is now 255 in case of no key press. The code above expects it to be -1, hence

if ((ret = (char)waitKey(20)) > 0)

should be

if ((ret = (unsigned char)waitKey(20)) != 255)

This should also be compatible with previous versions of OpenCV.

[2020-01-24 18:43] ganeshtata commented on #12342
@akmalhakimi1991 Could you post the entire stacktrace?

[2020-01-24 18:58] alalek commented on #16428
Please double check that.
If so, add dump of `getBuildInformation()` call.

[2020-01-24 19:16] gituuu commented on #16428
Sorry, I have now uninstalled that version of OpenCV.

Here:
https://github.com/opencv/opencv/blob/4.2.0/modules/highgui/src/window.cpp

In int cv::waitKey(int delay) you can see if the environment variable OPENCV_LEGACY_WAITKEY is not set, you always get this returned:

`code & 0xff`

So maybe the C++ program could check for that if it is doing things properly.

But at present it is incorrect beh

[2020-01-24 19:22] alalek commented on #16428
Full return expression is:
[code]

So `-1` timeout value should be preserved.

[2020-01-24 19:31] gituuu commented on #16428
Do we both agree that this code will result in the variable "code" to be set to 0?
[code]

So the return value will be:

`(code & 0xff)`

This will NOT be "-1" because as soon as you do bitwise operations, the compiler casts to unsigned values. Here is some test code for you to try:

[code]

[2020-01-24 19:52] alalek commented on #16428
No.
You should build/install and try some OpenCV sample.

[2020-01-24 20:16] gituuu commented on #16428
Sorry, I meant:
"Do we both agree that this code will result in the variable "use_legacy" to be set to 0?"

Please could you respond to my post with this correct text.

[2020-01-24 22:14] russkel commented on #16419
That did the trick! Thanks @alalek

[2020-01-24 22:57] russkel opened #16429 "videoio tests causing out of memory error on x86 - Alpine Linux"
##### System information (version)

- OpenCV => 4.2.0
- Operating System / Platform => x86 32b, Alpine Linux
[code]
- Compiler => GCC 9.2.0

##### Detailed description
This is appearing in the test log:

[code]
Could it be that the ffmpeg test `videoio/videoio_ffmpeg.write_big` is hitting an error and then not freeing its memory, causing the rest of the test to hit out of memory errors?

Full buil

[2020-01-25 01:08] Begginer666 opened #16430 "Detect and crop rectangles and extract text from a image with opencv"
Hello, i have the next code i use it to detect and crop each rectangle in the next images, and then i extract the text from each rectangle cropped, i can extract the text but the problem is that in some cases the rectangle detection, could someone help me with this?

import cv2
import os
import pytesseract
from PIL import Image

# obtengo la direccion donde se encuentra los recortes

lista = os.li

[2020-01-25 01:09] gituuu commented on #16428
And yes, I have built every single OpenCV sample and run about half of them.

Please fix the bug as it will help others in the future. Thanks.

[2020-01-25 05:47] UnaNancyOwen commented on #16370
@czgdp1807 Thanks for working on this issue.
Sorry, I can't answer your question. I don't know the details of this model that was defined in Custom Vision. (Unfortunately, I don't have enough knowledge about deep learning to understand model. :bowing_man:)

[2020-01-25 05:56] robotjellyzone commented on #4492
Hi @asmorkalov, can you please elaborate more about it? So that I can contribute to it

[2020-01-25 05:58] czgdp1807 commented on #16370
@UnaNancyOwen Thanks for the updates. Though I am sure that bug in processing of `Split` layer has been fixed. I will try to fix the problems with `Constant` layer as soon as possible.

[2020-01-25 06:58] WolfgangFahl opened #16431 "OpenCV java vm crashes should be avoided"
##### System information (version)
- OpenCV 3.4.8
- Operating System / Platform => MacOS HighSierra 10.13.6
- Compiler => Oracle Java 1.8.0_152

##### Detailed description

At http://wiki.bitplan.com/index.php/OpenCV#Issues you'll find two issues that crash the Java VM when a problem occurs in the OpenCV dynamically linked library.

The expected behavior would be not to crash the VM but throw a no

[2020-01-25 07:46] alalek commented on #16428
Try "polar_transforms.cpp" example which has this [code](https://github.com/opencv/opencv/blob/4.2.0/samples/cpp/polar_transforms.cpp#L103-L104):
[code]

(if you don't have camera use "vtest.avi" parameter. You should not get "Could not initialize capturing..." message)

Normal app behavior is processing video until key pressed.
If your theory is correct then application should exit unconditionall

[2020-01-25 07:47] MrGrayCode opened #16432 "Incorrect error message in cv2.rectangle"
`cv2.rectangle(img,(x,y),(x+w,y+h))` gives ```TypeError: function takes exactly 4 arguments (2 given)``` when actually the number of arguments given is 3
# Steps to reproduce
[code]
# Expected Result
```TypeError: function takes exactly 4 arguments (3 given)```

[2020-01-25 08:34] devanshbatra04 commented on #15119
I want to work on this. Some directions would be great @alalek @dkurt

[2020-01-25 08:43] #16430 closed

[2020-01-25 08:45] dkurt commented on #15119
For now we are working on enabling https://github.com/foolwood/DaSiamRPN

/cc @ieliz

[2020-01-25 09:00] devanshbatra04 commented on #6556
I am taking this up, will send a PR by the hackathon period.

[2020-01-25 09:02] dkurt commented on #14659
@themechanicalcoder, Yes, please extend `cv::dnn::DetectionModel` so it can consider `crop`

[2020-01-25 09:50] devanshbatra04 commented on #15119
Is there a PR underway for this (or a relevant issue)?

I am looking for a challenging feature preferably in dnn/imgproc to keep myself busy.

[2020-01-25 10:05] alalek commented on #6556
Bindings for stitching module is available in OpenCV 4.x. Related samples:
- https://github.com/opencv/opencv/blob/4.2.0/samples/python/stitching.py
- https://github.com/opencv/opencv/blob/4.2.0/samples/python/stitching_detailed.py

Closing as implemented.

[2020-01-25 10:05] #6556 closed

[2020-01-25 10:58] dkurt commented on #15119
I think that the most challenging now is a number of opened issues related to dnn module: https://github.com/opencv/opencv/issues?q=is%3Aopen+is%3Aissue+label%3A%22category%3A+dnn%22 .So if you can resolve any of them that would be useful.

[2020-01-25 11:09] berak commented on #16432
[code]

so, 2 overloaded functions, if it  cant resolve the 1st,  it will try the 2nd.

given, your 2nd argument is a `(x,y)` tuple, it cannot construct a `Rect` object (needing 4 values) from it.

(error is from `pyopencv_to(PyObject* obj, Rect2d& r, const ArgInfo& info)` , not directly from `cv2.rectangle`

[2020-01-25 13:32] asmorkalov commented on #4492
@robotjellyzone General idea is to find abandoned files in test data that are not used any more and remove them. I'm speaking abot github.com/opencv/opencv_extra repository. Please pay attention that some files are platform specific or configuration specific or used for some tests that are not executed by default.

[2020-01-25 14:12] robotjellyzone commented on #4492
ok @asmorkalov i will be more cautious/careful about these specification . So, can i start working on this  ?

[2020-01-25 14:26] themechanicalcoder commented on #14659
@dkurt
1) I think blobFromImage() and blobFromImages() are needed.

[2020-01-25 14:27] robotjellyzone commented on #16314
ok , can i work on this issue @alalek ? also, can you please mention the repo where this bug is ?

[2020-01-25 15:08] ganesh-k13 commented on #16268
Hi @alalek and @gnif, this function seems to be an implementation of [this](https://stackoverflow.com/a/150971/5671364).
I think the number of cores should not be something that should be process wise, but I'm not sure how it will affect the use case. @alalek I would like your opinion on whether this change is needed because it seems both Apple and Windows also is getting machine CPU count as per

[2020-01-25 16:56] YashasSamaga opened #16433 "GpuMat as input/output to cv::dnn::Net"
### System information (version)
- OpenCV => 4.2.0

##### APIs that need changes

Suitable APIs for `GpuMat` input:
1. `void setInput(InputArray blob, const String& name = "", double scalefactor = 1.0, const Scalar& mean = Scalar());`

Suitable APIs for `GpuMat` output:
1. `void forward(OutputArrayOfArrays outputBlobs, const String& outputName = String());`
2. `void forward(OutputArrayOfArrays out

[2020-01-25 18:20] alalek commented on #16314
BTW,
This strange user code can be workarounded by these relevant modifications:

[code]

[2020-01-25 18:34] robotjellyzone commented on #16314
So, no more working is required now?

[2020-01-25 18:43] LeonineKing1199 commented on #16314
Fwiw, that's not "strange" user code. I know the goto seems to `using namespace` but there's no way I'm polluting a namespace globally like that and then relying on those kinds of look-ups.

The fix is simple: the macros need to be hygienic and use `::cv`. This is standard library practice in C++.

[2020-01-25 18:48] alalek commented on #16268
OpenCV has `parallel_for_()` jobs runner, which may allocate threads.
There is no reason to allocate threads for each machine CPU/core If application is limited on CPU resource externally. We should avoid "oversubscribing" through creation of huge number of threads.

Purpose of this issue is to handle limitations applied to current process.

Need to apply fix which would respect of these CPU resou

[2020-01-25 19:44] alalek commented on #16433
@YashasSamaga Thank you for collecting overview of this problem! Good job!

---

Right, current GpuMat implementation supports 2D layout only.
Problem is that existed CUDA API code expects 2D layout only - need to avoid massive refactoring of code (there are tons of user code which we are not able to fix anyway - compatibility problem).

---

Consider using of dedicated `cuda` (`cv:dnn::cuda`) nam

[2020-01-25 20:04] alalek commented on #16431
Unfortunately, provided link doesn't contain complete minimal reproducers.

OpenCV public test system (CI) is able to run Java tests including MacOS platform.
So it would be nice if you can add simple Java test (reproducer) which crash builds and send it through GitHub Pull Request.

Example of commands to run Java tests locally:
[code]
(package is an optional "filtering" option)

[2020-01-26 03:11] EricThomson commented on #12789
This should be fixed, given that numpy arrays are pretty much baked into opencv in python from the ground up.

[2020-01-26 06:28] ganesh-k13 commented on #16268
Hi @alalek, this issue is interesting to make robust.
My system config before we proceed: 64 cores Xeon running a Linux VM with 6 cores.

I modified the function slightly like [this](https://gist.github.com/ganesh-k13/e692e53699a6ca31d50ca7b4fbb5f2e4) (see the both the cout) and ran on my machine and got 6.

Then I ran on docker with this command: `docker run -v $PWD:/var/tmp --cpus=2 -it gcc:7.5

[2020-01-26 07:21] #16419 closed

[2020-01-26 11:10] ashishkrshrivastava opened #16437 "Darknet io: Need parsing of "Connected" and "Dropout" layers and setting of MaxPool padding parameters correctly."
##### System information (version)

- OpenCV => 4.2.0
- Operating System / Platform => Ubuntu 18.04
- Compiler => g++ 7.4.0

##### Detailed description

**1** Loading model using `cv2.dnn.readNetFromDarknet(alexnet.cfg, alexnet.weights)` gives error `cv2.error: OpenCV(4.2.0-dev) /home/ashish/opencv/modules/dnn/src/darknet/darknet_io.cpp:800: error: (-212:Parsing error) Unknown layer type:  in func

[2020-01-26 11:13] dkurt commented on #16437
Please provide references to mentioned models.

[2020-01-26 13:23] odyodyodys commented on #4588
Necessity no, for sure.
Implementing this can benefit both parties, opencv community and lib users.
Seamless adaptation is the way to go in 2020.

[2020-01-26 13:51] SaddamBInSyed opened #16439 "Compiling Opencv 4.2.0 + CUDA on jetson nano board"
Hi.
I have carefully followed the below link in order to install the OpenCV with CUDA support on the jetson nano board.  but after a successful compile and I run my yolov3 object detection code **BUT the application is still running on CPU only instead of GPU.**
https://github.com/JetsonHacksNano/buildOpenCV/blob/master/buildOpenCV.sh

Since I am a beginner I was struggling to configure my code to

[2020-01-26 15:46] YashasSamaga commented on #16439
The build script you linked does not enable the CUDA backend for the DNN module.

Please try building with this [script](https://gist.github.com/YashasSamaga/6d37bc403c0934329b078b4bad98c7f2). I have added the `WITH_CUDNN` and `OPENCV_DNN_CUDA` to the cmake command.

[2020-01-26 16:24] SaddamBInSyed commented on #16439
@YashasSamaga
Thank you for your reply.
Do I need to purge the existing OpenCV lib's and install your build script?
OR
Is there any terminal cmd to execute these CMAKE flag's (WITH_CUDNN, OPENCV_DNN_CUDA) with existing installation?
Note:
In jetson nano, the OpenCV build taking around 4 hours.

please advise.

[2020-01-26 16:38] YashasSamaga commented on #16439
You have to purge the existing OpenCV installation and build using the script I provided. Your build time is 4 hours because you are building all the modules (even the ones you may not need). You might be able to reduce the build time by disabling the modules that you won't need.

[2020-01-26 16:48] SaddamBInSyed commented on #16439
Thank you much.

https://gist.github.com/YashasSamaga/e2b19a6807a13046e399f4bc3cca3a49

with the current installation when I try to execute your code I am getting the below error.

yolov3_opencv_dnn_cuda.cpp:9:10: fatal error: opencv2/core.hpp: No such file or directory
#include <opencv2/core.hpp>
^~~~~~~~~~~~~~~~~~
compilation terminated.

can you please advise.